<dialog id="SubscribeEmailDialog">
    <div class="subscribe-container">
        <img
          class="er-object-cover er-h-full er-w-full mb:er-h-80"
          src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/3333_2x_43420ed3-9c2e-4434-ba6b-0c41a95690d3.jpg?v=1734088969&width=500"
          alt="{{ settings.sale_name }}"
          fetchpriority="low"
          decoding="async"
          loading="eager"
          width="488"
          height="609"
          srcset="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19698_2x_a27eadc0-2b52-4784-8d32-d972f2dc7702.jpg?v=1736231589&width=500 768w,https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19697_2x_a28cf837-1619-416b-8453-ff443bcc02a1.jpg?v=1736231597&width=700 1920w"
          sizes="(max-width: 768px) 84vw,(min-width: 769px) 100vw"
        >
        <div class="subscribe">
            <img class="mb:er-max-w-32" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25270_2x_15db88c6-0dae-4cf6-9043-37964a71fa72.png?v=1736231934" fetchpriority="low" decoding="async" loading="lazy" width="140" height="94" alt="{{ settings.sale_name }}">
            <div class="u60DemiBold_v2 er-mt-16 er-mb-4">{{ all_products["urtopia-carbon-fusion-gt"].compare_at_price |  minus: all_products["urtopia-carbon-fusion-gt"].price | money_without_trailing_zeros }}<span class="u30DemiBold_v2">OFF</span></div>
            <div class="u17Light_v2">Urtopia carbon e-bikes now up to {{ all_products["urtopia-carbon-fusion-gt"].compare_at_price |  minus: all_products["urtopia-carbon-fusion-gt"].price | money_without_trailing_zeros }} off! Sign up to get exclusive discount!</div>
            <form class="new-contact er-mt-28 mb:er-mt-10" action="/contact#ContactFooter" target="_blank" method="post" accept-charset="UTF-8">
                <div class="email">
                    <input type="hidden" name="form_type" value="customer">
                    <input type="hidden" name="utf8" value="✓">
                    <input type="hidden" name="contact[tags]" value="newsletter">
                    <input placeholder="Enter email here" type="email" name="contact[email]" required>
                    <button class="my-button my-button-black" type="submit">Subscribe</button>
                </div>
            </form>
        </div>
        <span class="close">×</span>
    </div>
</dialog>

<dialog id="ExitSubscribeEmailDialog">
    <div class="subscribe-container">
        <img class="mobileHide" loading="lazy"  width="488" height="609" fetchpriority="low" decoding="async" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23948.jpg?v=1706585436&width=600" alt="{{ settings.sale_name }}">
        <div class="subscribe">
            <div class="u17DemiBold_v2">Stay with us, Don’t Miss Out on</div>
            <div class="u30DemiBold_v2">Exclusive Offers!</div>
            <span class="u17Light_v2" style="margin: 0 0 10%;">Don’t go just yet! Subscribe to our newsletter for exclusive e-bike offers, riding tips, and exciting updates. Stay connected with over 200,000 member in the community.</span>
            <form class="new-contact" action="/contact#ContactFooter" target="_blank" method="post" accept-charset="UTF-8">
            <div class="email">
                <input type="hidden" name="form_type" value="customer">
                <input type="hidden" name="utf8" value="✓">
                <input type="hidden" name="contact[tags]" value="newsletter">
                <input placeholder="Enter email here" type="email" name="contact[email]" required>
                <button class="my-button my-button-black" id="global_email_submit_button" type="submit">Subscribe</button>
            </div>
        </form>
        </div>
        <span class="close">×</span>
    </div>
</dialog>

<dialog id="TestRideDialog">
    <div class="testride_dialog">
        <img width="500" height="623" loading="lazy" fetchpriority="low" decoding="async" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/ccc.png?v=1706585634&width=600" alt="{{ settings.sale_name }}">
        <div>
            <div class="u30DemiBold_v2">Test ride spots near you</div>
            <div class="u24Medium_v2">Experience the bike in real</div>
            <div class="my-button my-button-black"">Book Now</div>
        </div>
        <span class="close">×</span>
    </div>
</dialog>

<div class="message-box">
  <div class="u17DemiBold_v2">Don’t Miss Out on Exclusive Updates and Offers!</div>
  <div class="u14DemiBold_v2 emphasize">UP TO <span class="u24DemiBold_v2">{{ all_products["urtopia-carbon-1-pro-ebike"].compare_at_price | minus: all_products["urtopia-carbon-1-pro-ebike"].price | money_without_trailing_zeros }}</span> OFF NOW</div>
  <div class="u11Light_v2">Limited-time offer with stock flying off the shelves. Subscribe now for the latest updates and instant notifications.</div>
  <form class="email" action="/" target="_blank" method="post" accept-charset="UTF-8">
      <input placeholder="Enter email here" type="email" name="contact[email]" required>
      <button class="my-button my-button-black" id="global_email_submit_button" type="submit">Subscribe</button>
  </form>
  <span class="close">×</span>
</div>

<div class="message-box-cookie">
    <div class="centeral-content">
        <div>
            <div class="u20DemiBold_v2">We value your privacy</div>
            <div class="u17Light_v2">We and our partners use cookies and other technologies to improve your experience, measure performance, and tailor marketing. Details in our <a class="my-link" style="color: inherit;" target="_blank" href="/pages/privacy-policy">Privacy Policy.</a></div>
        </div>
        <div>
            <div class="close">×</div>
            <div class="my-button my-button-white">Accept</div>
        </div>
    </div>
</div>
<div id="global2top">
    <svg t="1735027455730" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1443" width="32" height="32"><path d="M576 512v512H448V512H256l256-256 256 256H576zM0 0h1024v128H0V0z" fill="#fff" p-id="1444"></path></svg>
</div>
<script src="{{ 'dialog-polyfill.js' | asset_url }}" fetchpriority="low" defer></script>
<script>
    const storage = {
        set: function (key, value, expires = 3) {
            const obj = {
                data: value, //存储值
                expires: Date.now() + (expires * 24 * 60 * 60 * 1000), //过期时间
            }

            localStorage.setItem(`__${key}`, JSON.stringify(obj));
        },
        get: function (key) {
            try {
                const { data, expires } = JSON.parse(localStorage.getItem(`__${key}`))

                if (expires < Date.now()) {
                    localStorage.removeItem(`__${key}`);
                    return undefined;
                }

                return data;
            } catch {
                return undefined
            }
        }
    }

    function showDialog (dialog, callback) {
        if (!dialog.isRegistered) {
            dialogPolyfill.forceRegisterDialog(dialog)
            dialog.isRegistered = true
        }
        
        dialog.showModal()

        return new Promise(resolve => {
            dialog.addEventListener("cancel", (event) => {                
                resolve('close')
            });

            dialog.addEventListener("close", (event) => {
                resolve('close')
            })

            $(dialog).find('.close').on('click', function () {
                dialog.close()
            })

            setTimeout(callback, 300, dialog, resolve)
        })
    }

    function showSubscribeEmailDialog () {
        const email_dialog_key = 'emailDialog'
        const subscribe_email_close_expires_time = 'subscribe_email_close_expires_time'

        return new Promise(resolve => {
            if (global_config.dialog.email.is_hide) {
                return resolve()
            }

            if (storage.get(email_dialog_key)) {
                return resolve()
            }

            if (storage.get(subscribe_email_close_expires_time)) {
                return resolve()
            }

            showDialog(document.getElementById('SubscribeEmailDialog'), (dialog, r) => {
                $(dialog).find('form').on('submit', function (event) {
                    r($(dialog).find('form input[type="email"]').val())

                    dialog.close()
                    event.preventDefault();
                    return false;
                });

                let startInput = false;
                $(dialog).find('form input[type="email"]').on(
                    'input',
                    debounce((e) => {
                    if (startInput) {
                        return;
                    }

                    startInput = true;
                    fetchBuried('emailpop', 'enter', {
                        email: e.target.value,
                        tag: 'US,POPUP,enter pop',
                    });
                    }, 2000)
                );
            }).then(email => {
                storage.set(subscribe_email_close_expires_time, subscribe_email_close_expires_time, global_config.dialog.email.subscribe_email_close_expires_time)

                if (email !== 'close') {
                    const emailtag = getSearchValues().emailtag
                    // 埋点
                    fetchBuried('emailpop', 'submit', { email, tag: `US,POPUP,enter pop${emailtag ? ',' + emailtag : ''}` }).then(() => {
                        dataLayer.push({
                            'event'    :'global_email_submit',
                            'pageType' :'emailpop',
                        });
                    });

                    storage.set(email_dialog_key, email_dialog_key, global_config.dialog.email.submit_expires_time)
                }

                setTimeout(resolve, global_config.dialog.email.show_delay_time * 1000)
            })
        })
    }

    function showExitSubscribeEmailDialog () {
        const email_dialog_key = 'emailDialog'
        let show = false

        return new Promise(resolve => {
            if (global_config.dialog.email.is_hide) {
                return resolve()
            }

            if (storage.get(email_dialog_key)) {
                return resolve()
            }

            if (!global_config.is_pc && global_config.is_mobile) {
                return resolve()
            } 

            document.body.addEventListener("mouseleave", debounce((evt) => {
                    !show && showDialog(document.getElementById('ExitSubscribeEmailDialog'), (dialog, r) => {
                        show = true

                        $(dialog).find('form').on('submit', function (event) {
                            r($(dialog).find('form input[type="email"]').val())

                            dialog.close()
                            event.preventDefault();
                            return false;
                        });

                        let startInput = false;
                        $(dialog).find('form input[type="email"]').on(
                            'input',
                            debounce((e) => {
                            if (startInput) {
                                return;
                            }

                            startInput = true;
                            fetchBuried('emailpop', 'enter', {
                                email: e.target.value,
                                tag: 'US,POPUP,exit pop',
                            });
                            }, 2000)
                        );

                    }).then(email => {
                        console.log(email)
                        storage.set(email_dialog_key, email_dialog_key, global_config.dialog.email.close_expires_time)

                        if (email !== 'close') {
                            const emailtag = getSearchValues().emailtag
                            // 埋点
                            fetchBuried('emailpop', 'submit', { email, tag: `US,POPUP,exit pop${emailtag ? ',' + emailtag : ''}` }).then(() => {
                                dataLayer.push({
                                    'event'    :'global_email_submit',
                                    'pageType' :'emailpop',
                                });
                            });

                            storage.set(email_dialog_key, email_dialog_key, global_config.dialog.email.submit_expires_time)
                        }

                        setTimeout(resolve, global_config.dialog.email.show_delay_time * 1000)
                    })
                }, 500))
        })
    }

    function showTestRideDialog () {
        const test_ride_dialog_key = 'TestRideDialog'
        let show = false

        return new Promise(resolve => {
            if (global_config.dialog.test_ride.is_hide) {
                return resolve()
            }

            if (storage.get(test_ride_dialog_key)) {
                return resolve()
            }

            if (!global_config.is_pc && global_config.is_mobile) {
                return resolve()
            }

            document.body.addEventListener("mouseleave", debounce((evt) => {
                !show && showDialog(document.getElementById('TestRideDialog'), (dialog, r) => {
                    show = true

                    $(dialog).find('.my-button').on('click', () => {
                        r('book now')
                        dialog.close()
                    })

                }).then(result => {
                    storage.set(test_ride_dialog_key, test_ride_dialog_key, global_config.dialog.test_ride.close_expires_time)

                    if (result !== 'close') {
                        fetchBuried('emailpop', 'exitpop', { button: 'book a test ride' }, true)

                        storage.set(test_ride_dialog_key, test_ride_dialog_key, global_config.dialog.test_ride.submit_expires_time)

                        location.href = `/pages/test-ride?form_page=restride-dialog`
                    }

                    setTimeout(resolve, global_config.dialog.test_ride.show_delay_time * 1000)
                })
            }, 500))
        })
    }


    function showSubscribeEmailMessageBox () {
        const email_dialog_key = 'emailDialog'
        const subscribe_email_message_close_expires_time = 'subscribe_email_message_close_expires_time'

        return new Promise(resolve => {
            if (global_config.dialog.email.is_hide) {
                return resolve()
            }

            if (storage.get(email_dialog_key)) {
                return resolve()
            }

            if (storage.get(subscribe_email_message_close_expires_time)) {
                return resolve()
            }

            if (!document.referrer) {
                return resolve()
            }

            const url = new URL(document.referrer)
            if (!url.pathname.includes('/products/')) {
                return resolve()
            }

            const close = () => {
                $('.message-box').animate({}, 300, function () {
                    //第一个花括号里面是动画内容，可以为空，但不能省去中括号
                    $('.message-box').css(global_config.is_mobile ? { transform: 'translateY(100%)' } : { right: '-360px' }); //在回调函数里面改变css属性来实现transform中的动画变换
                });

                setTimeout(resolve, global_config.dialog.email.show_delay_time * 1000)
            }

            $('.message-box').animate({}, 300, function () {
                //第一个花括号里面是动画内容，可以为空，但不能省去中括号
                $('.message-box').css(global_config.is_mobile ? { transform: 'translateY(0)' } : { right: '18px' }); //在回调函数里面改变css属性来实现transform中的动画变换
            });

            $('.message-box').find('form').on('submit', function (event) {
                const email = $('.message-box').find('form input[type="email"]').val()

                const emailtag = getSearchValues().emailtag
                // 埋点
                fetchBuried('emailpop', 'submit', { email, tag: `US,POPUP,small pop${emailtag ? ',' + emailtag : ''}` }).then(() => {
                    dataLayer.push({
                        'event'    :'global_email_submit',
                        'pageType' :'emailpop',
                    });
                });

                storage.set(email_dialog_key, email_dialog_key, global_config.dialog.email.submit_expires_time)

                close()
                event.preventDefault();
                return false;
            });

            let startInput = false;
            $('.message-box').find('form input[type="email"]').on(
                'input',
                debounce((e) => {
                    if (startInput) {
                        return;
                    }

                    startInput = true;
                    fetchBuried('emailpop', 'enter', {
                        email: e.target.value,
                        tag: 'US,POPUP,smail pop',
                    });
                }, 2000)
            );

            $('.message-box .close').on('click', () => {
                storage.set(subscribe_email_message_close_expires_time, subscribe_email_message_close_expires_time, global_config.is_mobile ? global_config.dialog.email.subscribe_email_message_close_expires_time_mb : global_config.dialog.email.subscribe_email_message_close_expires_time_pc)

                close()
            })
        })
    }

    function showCookieDialog () {
        return Promise.resolve()
      
        const cookie_dialog_expires_time = 'cookie_dialog_expires_time'

        if (storage.get(cookie_dialog_expires_time)) {
            return Promise.resolve()
        }

        return new Promise(resolve => {
            const close = () => {
                $('.message-box-cookie').animate({}, 300, function () {
                    //第一个花括号里面是动画内容，可以为空，但不能省去中括号
                    $('.message-box-cookie').css({ transform: 'translateY(100%)' }); //在回调函数里面改变css属性来实现transform中的动画变换
                });

                setTimeout(resolve, 15 * 1000)
            }


            $('.message-box-cookie').animate({}, 300, function () {
                //第一个花括号里面是动画内容，可以为空，但不能省去中括号
                $('.message-box-cookie').css({ transform: 'translateY(0)' }); //在回调函数里面改变css属性来实现transform中的动画变换
            });

            $('.message-box-cookie .close').on('click', () => {
                // storage.set(cookie_dialog_expires_time)

                close()

                fetchBuried('websiteclick', 'cookies-banner', { button: 'close' })
            })

            $('.message-box-cookie .my-button').on('click', () => {
                storage.set(cookie_dialog_expires_time, 30)
                close()
                fetchBuried('websiteclick', 'cookies-banner', { button: 'accept' })
            })

            $('.message-box-cookie .my-link').on('click', debounce(e => {
                fetchBuried('websiteclick', 'cookies-banner', { button: 'privacy policy' })

                window.open('/pages/privacy-policy')

                e.preventDefault()
                return false
            }), 300)
        })
    }
    

window.addEventListener('load', () => {
  const $toTop = $('#global2top');

      const ignore = ['/pages/lightweight-ebike-urtopia-carbon-1-pro', '/pages/amazon', '/pages/email-page', '/collections/urtopia-black-friday-sale', '/pages/urtopia-ces-2025']

      if (!ignore.includes(location.pathname)) {
        setTimeout(() => {
          showCookieDialog().then(showSubscribeEmailDialog).then(showExitSubscribeEmailDialog).then(showTestRideDialog)
        }, 5000)
      }


      if (document.querySelectorAll('#announcement-bar .swiper-wrapper > .swiper-slide').length) {
        new Swiper('#announcement-bar', {
            direction: 'vertical',
            speed: 600,
            loop: true,
            autoplay: {
              disableOnInteraction: false,
              pauseOnMouseEnter: true,
              delay: 5000,
              // reverseDirection: true
            },
          });
      }


      if (document.body.scrollHeight > (screen.availHeight * 2)) {
            // 监听滚动事件，显示或隐藏按钮
            $(window).on('scroll', throttle(function () {
                if ($(this).scrollTop() > (screen.availHeight * 2)) { // 页面滚动超过200px时显示按钮
                $toTop.addClass('show').removeClass('hide');
                } else {
                $toTop.addClass('hide').removeClass('show');
                }
            }, 100));

            // 点击按钮滚动到页面顶部
            $toTop.on('click', function () {
                $('html, body').animate({ scrollTop: 0 }, 500); // 500ms 平滑滚动到顶部
            });
      };

  global_config.is_mobile && waitForElement('#launcher', target => {
        {% if product or template == 'page.carbon1pro' or template == 'page.pf-702944ea' %}
            $('#global2top').css('bottom', '116px');
            target.style.bottom = '64px';
        {% endif %}

        // 在这里执行你的逻辑
        // 访问 iframe 内部的 document
         const iframeDoc = target.contentDocument || target.contentWindow.document;


         // 在 iframe 内部插入样式
        const style = iframeDoc.createElement('style');
        style.textContent = `
            body div[shape="circle"] {
               width: 48px;
               height: 48px;
            }
        `;
        iframeDoc.head.appendChild(style);
    },
    {
        disconnectOnFound: true,
        root: document.body, // 监听整个页面
        debounceTime: 200, // 降低回调触发频率
    }
    );
});
</script>