<dialog id="SubscribeEmailDialog">
    <div class="subscribe-container">
        <img
          class="er-object-cover er-h-full er-w-full mb:er-h-80"
          src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/3333_2x_43420ed3-9c2e-4434-ba6b-0c41a95690d3.jpg?v=1734088969&width=500"
          alt="{{ settings.sale_name }}"
          fetchpriority="low" loading="lazy" width="488" height="609"
          srcset="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSC05242_2x_145444b3-f633-4add-ae46-aeea0ea8a790.jpg?v=1745221037&width=500 768w, https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSC05242_2x_971f914d-860e-4600-8210-a8a1cff3f588.jpg?v=1745221033&width=640 1920w"
          sizes="(max-width: 768px) 84vw,(min-width: 769px) 100vw"
        >
        <div class="subscribe">
            <span class="text-size30 mb:er-text-3xl" style="color: #198CBA;">Earth Day Special</span>
            <div class="u60DemiBold_v2 er-mt-16 er-mb-4 mb:er-mt-4">{{ all_products["urtopia-carbon-fusion-gt"].compare_at_price |  minus: all_products["urtopia-carbon-fusion-gt"].price | money_without_trailing_zeros }}<span class="u30DemiBold_v2">OFF</span></div>
            <div class="u17Light_v2">Subscribe now to unlock exclusive discounts, early product launches & VIP offers!</div>
            <form class="new-contact er-mt-28 mb:er-mt-10" action="/contact#ContactFooter" target="_blank" method="post" accept-charset="UTF-8">
                <div class="email">
                    <input type="hidden" name="form_type" value="customer">
                    <input type="hidden" name="utf8" value="✓">
                    <input type="hidden" name="contact[tags]" value="newsletter">
                    <input placeholder="Enter email here" type="email" name="contact[email]" required>
                    <button class="my-button my-button-black" type="submit">Subscribe</button>
                </div>
            </form>
        </div>
        <span class="close">×</span>
    </div>
</dialog>

<dialog id="TestRideDialog">
    <div class="testride_dialog">
        <img width="500" height="623" loading="lazy" fetchpriority="low" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/ccc.png?v=1706585634&width=600" alt="{{ settings.sale_name }}">
        <div>
            <div class="u30DemiBold_v2">Test ride spots near you</div>
            <div class="u24Medium_v2">Experience the bike in real</div>
            <div class="my-button my-button-black">Book Now</div>
        </div>
        <span class="close">×</span>
    </div>
</dialog>
<div id="global2top">
    <svg t="1735027455730" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1443" width="32" height="32"><path d="M576 512v512H448V512H256l256-256 256 256H576zM0 0h1024v128H0V0z" fill="#fff" p-id="1444"></path></svg>
</div>
<script type="module">
      window.shopUrl = '{{ request.origin }}';
      window.routes = {
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        cart_url: '{{ routes.cart_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}',
      };

      window.cartStrings = {
        error: `{{ 'sections.cart.cart_error' | t }}`,
        quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t: quantity: '[quantity]' }}`,
      };

      window.variantStrings = {
        addToCart: `{{ 'products.product.add_to_cart' | t }}`,
        soldOut: `{{ 'products.product.sold_out' | t }}`,
        unavailable: `{{ 'products.product.unavailable' | t }}`,
      };

      window.accessibilityStrings = {
        imageAvailable: `{{ 'products.product.media.image_available' | t: index: '[index]' }}`,
        shareSuccess: `{{ 'general.share.success_message' | t }}`,
        pauseSlideshow: `{{ 'sections.slideshow.pause_slideshow' | t }}`,
        playSlideshow: `{{ 'sections.slideshow.play_slideshow' | t }}`,
  };
  window.addEventListener('load', () => {
    // 检测浏览器是否支持 <dialog>
      if (typeof HTMLDialogElement === "undefined") {
        // 动态加载 Polyfill 的样式和脚本
        const script = document.createElement("script");
        script.src = "{{ 'dialog-polyfill.js' | asset_url }}";
        script.onload = () => {
            document.querySelectorAll("dialog").forEach(dialog => {
            dialogPolyfill.registerDialog(dialog);
          });
        };
        
        document.head.appendChild(script);
      };

      {%- if product -%}
        fetch(window.location.pathname + '?sections=judgeme_core').then(r => r.json()).then(r => {
          $('.judgemeeeeee').html($(r['judgeme_core']))
        });
      {%- endif -%}
  });
</script>
<script>
  fetch(window.location.pathname + '?sections=cart-drawer').then(r => r.json()).then(r => {
    document.body.insertAdjacentHTML('beforeend',r['cart-drawer']);
  })

  fetch(window.location.pathname + '?sections=footer').then(r => r.json()).then(r => {
    document.body.insertAdjacentHTML('beforeend',r['footer']);
  });
</script>