<dialog id="SubscribeEmailDialog">
    <div class="subscribe-container">
        <img
          class="er-object-cover er-h-full er-w-full mb:er-h-80"
          src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/3333_2x_43420ed3-9c2e-4434-ba6b-0c41a95690d3.jpg?v=1734088969&width=500"
          alt="{{ settings.sale_name }}"
          fetchpriority="low"
          loading="lazy"
          width="488"
          height="609"
          srcset="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19698_2x_a27eadc0-2b52-4784-8d32-d972f2dc7702.jpg?v=1736231589&width=500 768w,https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19697_2x_a28cf837-1619-416b-8453-ff443bcc02a1.jpg?v=1736231597&width=700 1920w"
          sizes="(max-width: 768px) 84vw,(min-width: 769px) 100vw"
        >
        <div class="subscribe">
            <img class="mb:er-max-w-32" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25270_2x_15db88c6-0dae-4cf6-9043-37964a71fa72.png?v=1736231934" fetchpriority="low" loading="lazy" width="140" height="94" alt="{{ settings.sale_name }}">
            <div class="u60DemiBold_v2 er-mt-16 er-mb-4 mb:er-mt-4">{{ all_products["urtopia-carbon-fusion-gt"].compare_at_price |  minus: all_products["urtopia-carbon-fusion-gt"].price | money_without_trailing_zeros }}<span class="u30DemiBold_v2">OFF</span></div>
            <div class="u17Light_v2">Urtopia carbon e-bikes now up to {{ all_products["urtopia-carbon-fusion-gt"].compare_at_price |  minus: all_products["urtopia-carbon-fusion-gt"].price | money_without_trailing_zeros }} off! Sign up to get exclusive discount!</div>
            <form class="new-contact er-mt-28 mb:er-mt-10" action="/contact#ContactFooter" target="_blank" method="post" accept-charset="UTF-8">
                <div class="email">
                    <input type="hidden" name="form_type" value="customer">
                    <input type="hidden" name="utf8" value="✓">
                    <input type="hidden" name="contact[tags]" value="newsletter">
                    <input placeholder="Enter email here" type="email" name="contact[email]" required>
                    <button class="my-button my-button-black" type="submit">Subscribe</button>
                </div>
            </form>
        </div>
        <span class="close">×</span>
    </div>
</dialog>

<dialog id="TestRideDialog">
    <div class="testride_dialog">
        <img width="500" height="623" loading="lazy" fetchpriority="low" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/ccc.png?v=1706585634&width=600" alt="{{ settings.sale_name }}">
        <div>
            <div class="u30DemiBold_v2">Test ride spots near you</div>
            <div class="u24Medium_v2">Experience the bike in real</div>
            <div class="my-button my-button-black">Book Now</div>
        </div>
        <span class="close">×</span>
    </div>
</dialog>
<div id="global2top">
    <svg t="1735027455730" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1443" width="32" height="32"><path d="M576 512v512H448V512H256l256-256 256 256H576zM0 0h1024v128H0V0z" fill="#fff" p-id="1444"></path></svg>
</div>
<script type="module">
  window.addEventListener('load', () => {
    // 检测浏览器是否支持 <dialog>
      if (typeof HTMLDialogElement === "undefined") {
        // 动态加载 Polyfill 的样式和脚本
        const script = document.createElement("script");
        script.src = "{{ 'dialog-polyfill.js' | asset_url }}";
        script.onload = () => {
            document.querySelectorAll("dialog").forEach(dialog => {
            dialogPolyfill.registerDialog(dialog);
          });
        };
        
        document.head.appendChild(script);
      }
  });

  $(".footer__newsletter").ready(() => {
    if (window.location.href.indexOf('form_type=customer') !== -1 && !document.getElementById('ContactFooter-error')) {
      const newDom = document.createElement('div');
      newDom.className = "newsletter-form__message newsletter-form__message--success form__message";
      newDom.append('You already subscribed,thank you.')
      document.querySelector('.footer__newsletter').appendChild(newDom);
    }
  })

  $('.hedaer-secondary-menu .centreallllll .bikesssssss > div').on('click',  function (e) {
    location.href= $(this).attr('href')
  })
  $('.hedaer-secondary-menu-mb .bikesssssss > div').on('click',  function (e) {
    location.href= $(this).attr('href')
  })
</script>