{%- assign product_describe = product.metafields.custom.product_describe.value -%}
{%- assign current_variant = product.selected_or_first_available_variant -%}
<div class="er-space-y-8 {{ class }}">
  <span class="text-size24">{{ product.title }}</span>
  <h2 class="text-size14 er-opacity-80 !er-mt-2">{{ product_describe }}</h2>
  <a href="/pages/urtopia-e-bike-review" class="er-flex er-items-center !er-mt-2">
    <div class="star" style="--star-size: 16px;"></div>
    <div class="star" style="--star-size: 16px;"></div>
    <div class="star" style="--star-size: 16px;"></div>
    <div class="star" style="--star-size: 16px;"></div>
    <div class="star" style="--star-size: 16px;"></div>
    <span class="er-text-dark/70 text-size14 er-ml-2">{{ shop.metafields.judgeme.all_reviews_count }} Reviews</span>
  </a>
  <div class="er-flex er-items-center er-space-x-3">
    <span
      class="text-size30 er-font-extrabold product-price er-text-primary"
      data-price="{{ current_variant.compare_at_price | money }}"
    >
      {{- current_variant.price | money -}}
    </span>
    {% if current_variant.compare_at_price > current_variant.price %}
      <del class="er-text-dark/70 text-size18 product-compare-at-price">
      {{- current_variant.compare_at_price | money -}}
      </del>
    {% endif %}
    {% if current_variant.compare_at_price > current_variant.price %}
      <span class="text-size14 er-font-bold er-block er-px-4 er-py-1 er-bg-primary er-text-white er-rounded-3xl">
      -{{- current_variant.compare_at_price | minus: current_variant.price | money -}}
      </span>
    {% endif %}
  </div>
</div>
