<div id="buyany"></div>
<div class="buyany">
  <div class="centeral-content">
    <div class="promo-banner">
      <h2 class="u36DemiBold_v2 er-flex er-flex-col er-items-start">
        <span class="text-size24 er-font-medium mb:er-text-2xl mb:er-font-normal">Bundle & Save – Stack Your Discounts!</span>
        <span class="text-size36 er-mt-4 mb:er-text-3xl">Get <span style="color: #E0BD76;">{{ 20000 |  money_without_trailing_zeros }}</span> OFF on <span>{{ 300000 |  money_without_trailing_zeros }}</span>, <br class="md:er-hidden"><span style="color: #E0BD76;">{{ 50000 |  money_without_trailing_zeros }}</span> OFF on {{ 500000 | money_without_trailing_zeros }}</span>
      </h2>
    </div>
    <div class="two">
      <div>
        <div class="selectttttttt">
          <select name="left"></select>
        </div>
        <div class="card">
          <img
            width="356"
            height="222"
            loading="lazy"
            src="https://newurtopia.com/cdn/shop/files/19566.png?v=1729236036&width=600"
            alt=""
          >
          <div>
            <div class="style">
              <span class="u17Medium_v2">Style - </span>
              <span class="u17Light_v2">Matte Black</span>
              <div class="dots"></div>
            </div>
            <div class="size">
              <span class="u17Medium_v2">Size - </span>
              <span class="u17Light_v2">Fit for 5’5-5’11’’ Inseam 30”</span>
              <div class="sizes"></div>
            </div>
            <div class="priceeeeeeeeeeee">
              <span class="u24DemiBold_v2">$2599</span>
              <del class="u20Light_v2">$3999</del>
            </div>
          </div>
        </div>
      </div>
      <div class="u48DemiBold_v2 plus">+</div>
      <div>
        <div class="selectttttttt">
          <select name="right"></select>
        </div>
        <div class="card">
          <img
            width="356"
            height="222"
            loading="lazy"
            src="https://newurtopia.com/cdn/shop/files/19566.png?v=1729236036&width=600"
            alt=""
          >
          <div>
            <div class="style">
              <span class="u17Medium_v2">Style - </span>
              <span class="u17Light_v2">Matte Black</span>
              <div class="dots"></div>
            </div>
            <div class="size">
              <span class="u17Medium_v2">Size - </span>
              <span class="u17Light_v2">Fit for 5’5-5’11’’ Inseam 30”</span>
              <div class="sizes"></div>
            </div>
            <div class="priceeeeeeeeeeee">
              <span class="u24DemiBold_v2">$2599</span>
              <del class="u20Light_v2">$3999</del>
            </div>
          </div>
        </div>
      </div>
      <div class="total">
        <img
          class="mobileHide"
          loading="lazy"
          width="407"
          height="310"
          src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSC01158_2x_a5d6c083-fd1c-4f43-87b1-437be9ef090f.jpg?v=1761742496&width=500"
          alt=""
        >
        <div>
          <span class="u24DemiBold_v2">Total</span>
          <span class="u48DemiBold_v2">$4598</span>
          <div class="u24DemiBold_v2 yellow">You Save $2400</div>
          <span class="u17Light_v2">($2200 OFF + EXTRA $200)</span>
          <div class="my-button my-button-black">Proceed to Checkout</div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="module">
        const bikes_custom_config = {
            8794812776696: {
                title: 'Carbon Fusion GT',
                size_map: { "One Size":"Fit for 5’3’’ - 6’3’’" }
            },
            8230663028984: {
                title: 'Carbon 1 Pro',
                size_map: {
                  S: `Fit for 5’3’’~5’9’’Inseam 30’’`,
                  M: `Fit for 5’8’’~6’3’’Inseam 31’’`,
                  L: `Fit for 5’11’’~6’5’’Inseam 33’’`,
                },
            },
            8792002461944: {
                title: 'Carbon Fold 1',
                size_map: { 'One Size': `Fit for 5’1’’~6’1’’` }
            },
            8922206961912: {
              title: 'Carbon 1 ST',
              size_map: { "One Size":"Fit for 5’1’’~6’1’’" }
            },
          9029881561336: {
              title: 'Joy Carbon',
              size_map: { "One Size":"Fit for 4’11’’~6’3’’" }
            },
          9062953025784: {
              title: 'Carbon Fusion Pro',
              size_map: { "One Size":"Fit for 5’3’’~6’3’’" }
          },
          9265776787704: {
                title: 'Carbon Classic',
                size_map: {
                  S: `Fit for 5’3’’~5’9’’`,
                  M: `Fit for 5’7’’~6’1’’`,
                  L: `Fit for 5’11’’~6’5’’`,
                },
            },
            9269920006392: {
              title: 'Carbon Classic ST',
              size_map: { "One Size":"Fit for 5’1’’~6’1’’" }
            },
            9284230250744: {
              title: 'Carbon Joy Ultra',
              size_map: { "One Size":"Fit for 4’11’’~6’3’’" }
            },
            9291853070584: {
              title: 'Carbon Fold ST',
              size_map: { "One Size":"Fit for 4’11’’~6’5’’" }
            },
        }

        const bikes_info = []

        {% for product in collections['urtopia-black-friday-sale'].products %}
            bikes_info.push({
                {%- assign options_with_values_Style = product.options_with_values | where: "name", "Style"  -%}
                {%- assign options_with_values_Color = product.options_with_values | where: "name", "Color"  -%}
                {%- assign options_with_values = options_with_values_Style |  concat: options_with_values_Color -%}
                style: {{ options_with_values.first.values | json }},
                {%- assign options_with_values = product.options_with_values | where: "name", "Size"  -%}
                size:{{ options_with_values.first.values | json }},
                variants: {{ product.variants | where: "available" | json }},
                title: bikes_custom_config['{{ product.id }}'].title,
                id: {{ product.id }},
                price: {{ product.price | money_without_trailing_zeros | json }},
                compare_at_price: {{ product.compare_at_price | money_without_trailing_zeros | json }},
                featured_image: {{ product.featured_image.src | json }},
                first_available_variant: {{ product.first_available_variant | json  }},
                ...bikes_custom_config['{{ product.id }}']
             })
        {% endfor %}


        for (const info of bikes_info) {
            $('.buyany select').append(new Option(info.title, info.id)) 
        }


        function updateTotal() {
            let total_price = 0
            let total_compare_at_price = 0
            let save = 20000

            $(`.buyany .priceeeeeeeeeeee`).each(function () {
                total_price += Number($(this).find('.u24DemiBold_v2').attr('price'))
                total_compare_at_price += Number($(this).find('.u20Light_v2').attr('compare_at_price'))
            })

            if (total_price > 500000) {
                save = 50000
            }

            $('.buyany .total .u48DemiBold_v2').text(getPriceFormat(total_price - save, true))
            $('.buyany .total .yellow').text(`You Save ${getPriceFormat(total_compare_at_price - total_price + save, true)}`)
            $('.buyany .total .u17Light_v2').text(`(${getPriceFormat(total_compare_at_price - total_price, true)} OFF + EXTRA ${getPriceFormat(save, true)})`)
        }


        function changeVariant (target, variant) {
            target.find('.card img').attr('src', variant.featured_image.src + '&width=600')
            target.find('.style .u17Light_v2').text(variant.option2)
            target.find('.size .u17Light_v2').text(bikes_custom_config[variant.featured_image.product_id].size_map[variant.option1])
            target.find('.priceeeeeeeeeeee .u24DemiBold_v2').text(getPriceFormat(variant.price, true)).attr('price', variant.price)
            target.find('.priceeeeeeeeeeee .u20Light_v2').text(getPriceFormat(variant.compare_at_price, true)).attr('compare_at_price', variant.compare_at_price)
            target.attr('data-variant-id', variant.id)
        }


        function changeProduct (target, value) {
            const info = bikes_info.find(info => info.id === Number(value))

            changeVariant(target, info.first_available_variant)

            target.find('.style .dots').html(info.style.map(s => `<div data-stye="${s}"></div>`).join('')).children().on('click', function () {
                const size = target.find('.size .sizes .active').text()
                const style = $(this).attr('data-stye')

                $(this).siblings().removeClass('active')
                $(this).addClass('active')

                changeVariant(target, info.variants.find(v => v.title === `${size} / ${style}`))
            }).first().addClass('active')

            target.find('.size .sizes').html(info.size.map(s => `<div class="u17Medium_v2">${s}</div>`).join('')).children().on('click', function () {
                const style = target.find('.style .dots .active').attr('data-stye')
                const size = $(this).text()

                $(this).siblings().removeClass('active')
                $(this).addClass('active')

                changeVariant(target, info.variants.find(v => v.title === `${size} / ${style}`))
            }).first().addClass('active')

            setTimeout(updateTotal)
            target.find('select').val(value)
        }


        // dom Load
        setTimeout(() => {
            $('.buyany select').on('change', function () {
                console.log('changegggggggggg')

                const name = $(this).attr('name')
                const value = $(this).val()
                const parent = $(this).parent().parent()

                changeProduct(parent, value)
            })

            $('.buyany .total .my-button').on('click', function() {
                $(this).addClass('loading')

                let cart = document.querySelector('cart-notification') || document.querySelector('cart-drawer');
                const variants = []

                $('.buyany div[data-variant-id]').each(function () {
                    variants.push($(this).attr('data-variant-id'))
                })

                fetch('/cart/clear.js').then(() => {
                    navigator.sendBeacon('/cart/add.js', new Blob([JSON.stringify({
                            items: variants.map(id => ({ id, quantity: 1 })),
                            sections: cart.getSectionsToRender().map(section => section.id).join(',')
                    })], {
                    type: 'application/json',
                   }))

                   setTimeout(() => {
                     location.href = `/checkout`
                   }, 300)                        
                }).finally(() => {
                    // $(this).removeClass('loading')
                })



                // fetch('/cart/add.js', {
                //     method: 'POST',
                //     body: JSON.stringify({
                //         items: variants.map(id => ({ id, quantity: 1 })),
                //         sections: cart.getSectionsToRender().map(section => section.id).join(',')
                //     }),
                //     headers: {
                //     'Content-Type': 'application/json',
                //     },
                // }).then((res) => res.json()).then(res => {
                //     cart.classList.contains('is-empty') && cart.classList.remove('is-empty');
                //     !(res.message && res.status) && cart.renderContents(res);
                // }).catch(console.error).finally(() => {
                //     $(this).removeClass('loading')
                // })
            })

            changeProduct($(`.buyany select[name="left"]`).parent().parent(), 8792002461944)
            changeProduct($(`.buyany select[name="right"]`).parent().parent(), 8792002461944)
        }, 100)
</script>
