<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">

<head>
  
  
  <!-- Cozy Country Redirect Optimization Code Start -->
  {{shop.metafields.CCR.shopat_script}}
  <!-- Cozy Country Redirect Optimization Code Start -->

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  {%- comment -%}DemoStoreRequirements{%- endcomment -%}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="google-site-verification" content="4CyyxbiT2JJKwsI1xsr_c7Qf-ihbvBm4WMiPhI0rOeA" />
  <meta name="google-site-verification" content="1L3RQDlBxPuNpF21De0Ah8NwPfQRUDie4JA9sbgKwfo" />

    <!-- Google Tag Manager -->
  <script>
window.dataLayer = window.dataLayer || [];
</script>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P9MZH68');</script>
<!-- End Google Tag Manager -->
  <!--out brain-->
  <script data-obct type="text/javascript">
    /** DO NOT MODIFY THIS CODE**/
    !function (_window, _document) {
      var OB_ADV_ID = '004724a1910ea66ba6f18eea401c197373';
      if (_window.obApi) {
        var toArray = function (object) {
          return Object.prototype.toString.call(object) === '[object Array]' ? object : [object];
        };
        _window.obApi.marketerId = toArray(_window.obApi.marketerId).concat(toArray(OB_ADV_ID));
        return;
      }
      var api = _window.obApi = function () {
        api.dispatch ? api.dispatch.apply(api, arguments) : api.queue.push(arguments);
      };
      api.version = '1.1';
      api.loaded = true;
      api.marketerId = OB_ADV_ID;
      api.queue = [];
      var tag = _document.createElement('script');
      tag.async = true;
      tag.src = '//amplify.outbrain.com/cp/obtp.js';
      tag.type = 'text/javascript';
      var script = _document.getElementsByTagName('script')[0];
      script.parentNode.insertBefore(tag, script);
    }(window, document);

    obApi('track', 'PAGE_VIEW');
  </script>


  <!-- 引入插件   -->
  <!--<script src="https://www.googleoptimize.com/optimize.js?id=OPT-TP8DWLT"></script>-->
  <script src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/1.9.1-jquery.min.js?v=1663911504"></script>
<!--   <script src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/webTrack.js?v=1675687114"></script> -->
  <!-- <script src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/1.14.2-TweenMax.js?v=1663912518"></script>
  <script src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2.0.3-ScrollMagic.min.js?v=1663912592"></script>
  <script src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2.0.3-animation.gsap.js?v=1663912682"></script>
  <script src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2.0.3-debug.addIndicators.js?v=1663912891"></script>
  <script src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/8-swiper-bundle.min.js?v=1663912984"> </script>-->
<!--   <script defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v14.0"
    nonce="dCHotZWO"></script> -->
  <script src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/1.0.8-lozad.js?v=1663913078"></script>
  <script defer src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/1.5.2-scrolldir.js?v=1663913144"></script>
  <!--  <link href="https://api.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.css" rel="stylesheet">
  <script defer src="https://api.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.js"></script>-->


  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="">
  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  <link rel="stylesheet" href="https://use.typekit.net/fzb3fxo.css" onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel=”stylesheet” href="https://use.typekit.net/fzb3fxo.css">
  </noscript>

  {%- if settings.favicon != blank -%}
  <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
  {%- endif -%}

  {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
  <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
  {%- endunless -%}

  <title>
    {{ page_title }}
    {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
    {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
    {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% render 'meta-tags' %}

  <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>

{% comment %}{{ content_for_header }}{% endcomment %}
{{ content_for_header | remove: '<link href="https://monorail-edge.shopifysvc.com" rel="dns-prefetch">' }}


  <script type='text/javascript'>
      // 普通页面清掉这两个参数
      window.sessionStorage.checkout_email = ''
      window.sessionStorage.checkout_email_local = ''
          // 当前页面id
      const current_page_id = '{{ template }}'
      console.log('current_page_id:', current_page_id);

    
      function fetchBuried (name = '', type = '', data = {}, isSendBeacon = false) {
        const body = {
            module: "website-us",
            trace_name: `${name}-us`,
            trace_type: `${type}-${document.body.clientWidth > 768 ? 'pc' : 'mb'}`,
            extras: data
        }

        return isSendBeacon ? navigator.sendBeacon('https://api.newurtopia.com/third_part/traces', JSON.stringify(body)) : fetch("https://api.newurtopia.com/third_part/traces", {
            method: "POST",
            body: JSON.stringify(body),
            headers: {
                "Content-Type": "application/json",
            },
        })
    }

    // 查询url 参数
    function getSearchValues () {
      const search = {}

      // 页面url
      const url = new URL(location.href)

      for (const [k, v] of url.searchParams.entries()) {
          search[k] = v
      }

      return search
    }


    function replaceSearchValue (k, v) {
        if (!k || !v) {
            return
        }
    
        const url = new URL(location.href)
        url.searchParams.set(k, v)
    
        history.replaceState(null, '', url);
    }

    // product price 格式化函数
    function getPriceFormat (value = 0, ignoreZero = false) {
      const instance =  new Intl.NumberFormat("en-US", {
        style: "currency",
        currency: Shopify.currency.active,
        roundingMode: 'floor',
        minimumFractionDigits: ignoreZero ? 0 : 2,
        maximumFractionDigits: ignoreZero ? 0 : 2
      })

      return instance.format(value / 100)
    }

    function throttle(method, delay, duration){
        var timer=null;
        var begin=new Date();    
        return function(){                
            var context=this, args=arguments;
            var current=new Date();        
            clearTimeout(timer);
            if(current-begin>=duration){
                method.apply(context,args);
                begin=current;
            }else{
                timer=setTimeout(function(){
                    method.apply(context,args);
                },delay);
            }
        }
    }


    function debounce(fn, wait = 300) {
        // 自由变量，debounce执行完成被释放，time也不会被释放
        let time;
        // 返回一个闭包，接受参数
        return function (...args) {
            // 保存闭包被调用时的this
            const this_ = this;
            // 清除上一次的定时器
            if (time) {
                clearTimeout(time);
            };
            // 不再是直接执行fn，在内部传递参数
            time = setTimeout(function () {
                // 通过apply修改fn的this
                fn.apply(this_, args);
            }, wait);
        }
    };


      // 视频播放
  function showVideoDialog (src = '') {
    console.log('src', src)

    if (!src) {
      return
    }

    const template = `<div class="video-box">
      <div style="position: relative">
        <iframe
          width="${document.body.clientWidth > 768 ? 840 : document.body.clientWidth * 0.84 }"
          height="${document.body.clientWidth > 768 ? 472 : 'auto'}"
          src="${src}"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <span class="close" onclick="closeMiniDialog()">x</span>
      </div>
    </div>`

    showMiniDialog(template)
  }


  
  function showMiniDialog(html = '') {
    const mini_dialog = $('body .mini-dialog')

    if (mini_dialog.length) {
        return setTimeout(showMiniDialog, 5000, html)
    }

    setTimeout(() => {
      $("body").append(`<div class="mini-dialog" style="display: flex;">${html}</div>`)
    })
  }
  
  function closeMiniDialog() {
    // console.log(a === document.querySelector('body .mini-dialog'))
    $('body .mini-dialog').remove()
  }

    // 立即执行
    (w => {
      const falg = w.sessionStorage.carbon_one_a_b_test_flag

      // carbon 车 A/B TEST ,出现50% 的概率
      if (!falg) {
          w.sessionStorage.carbon_one_a_b_test_flag = Math.round(Math.random()) === 10 ? 'A' : 'B'
      }    
    })(window);
  </script>
  <!-- End of Taboola Pixel Code -->
  {%- liquid
  assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
  assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
  assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
  %}

  {% style %}
  {{ settings.type_body_font | font_face: font_display: 'swap' }}
  {{ body_font_bold | font_face: font_display: 'swap' }}
  {{ body_font_italic | font_face: font_display: 'swap' }}
  {{ body_font_bold_italic | font_face: font_display: 'swap' }}
  {{ settings.type_header_font | font_face: font_display: 'swap' }}

  :root {
  --font-body-family: {{ settings.type_body_font.family }}, {{ settings.type_body_font.fallback_families }};
  --font-body-style: {{ settings.type_body_font.style }};
  --font-body-weight: {{ settings.type_body_font.weight }};
  --font-body-weight-bold: {{ settings.type_body_font.weight | plus: 300 | at_most: 1000 }};

  --font-heading-family: {{ settings.type_header_font.family }}, {{ settings.type_header_font.fallback_families }};
  --font-heading-style: {{ settings.type_header_font.style }};
  --font-heading-weight: {{ settings.type_header_font.weight }};

  --font-body-scale: {{ settings.body_scale | divided_by: 100.0 }};
  --font-heading-scale: {{ settings.heading_scale | times: 1.0 | divided_by: settings.body_scale }};

  --color-base-text: {{ settings.colors_text.red }}, {{ settings.colors_text.green }}, {{ settings.colors_text.blue }};
  --color-shadow: {{ settings.colors_text.red }}, {{ settings.colors_text.green }}, {{ settings.colors_text.blue }};
  --color-base-background-1: {{ settings.colors_background_1.red }}, {{ settings.colors_background_1.green }}, {{
  settings.colors_background_1.blue }};
  --color-base-background-2: {{ settings.colors_background_2.red }}, {{ settings.colors_background_2.green }}, {{
  settings.colors_background_2.blue }};
  --color-base-solid-button-labels: {{ settings.colors_solid_button_labels.red }}, {{
  settings.colors_solid_button_labels.green }}, {{ settings.colors_solid_button_labels.blue }};
  --color-base-outline-button-labels: {{ settings.colors_outline_button_labels.red }}, {{
  settings.colors_outline_button_labels.green }}, {{ settings.colors_outline_button_labels.blue }};
  --color-base-accent-1: {{ settings.colors_accent_1.red }}, {{ settings.colors_accent_1.green }}, {{
  settings.colors_accent_1.blue }};
  --color-base-accent-2: {{ settings.colors_accent_2.red }}, {{ settings.colors_accent_2.green }}, {{
  settings.colors_accent_2.blue }};
  --payment-terms-background-color: {{ settings.colors_background_1 }};

  --gradient-base-background-1: {% if settings.gradient_background_1 != blank %}{{ settings.gradient_background_1 }}{%
  else %}{{ settings.colors_background_1 }}{% endif %};
  --gradient-base-background-2: {% if settings.gradient_background_2 != blank %}{{ settings.gradient_background_2 }}{%
  else %}{{ settings.colors_background_2 }}{% endif %};
  --gradient-base-accent-1: {% if settings.gradient_accent_1 != blank %}{{ settings.gradient_accent_1 }}{% else %}{{
  settings.colors_accent_1 }}{% endif %};
  --gradient-base-accent-2: {% if settings.gradient_accent_2 != blank %}{{ settings.gradient_accent_2 }}{% else %}{{
  settings.colors_accent_2 }}{% endif %};

  --media-padding: {{ settings.media_padding }}px;
  --media-border-opacity: {{ settings.media_border_opacity | divided_by: 100.0 }};
  --media-border-width: {{ settings.media_border_thickness }}px;
  --media-radius: {{ settings.media_radius }}px;
  --media-shadow-opacity: {{ settings.media_shadow_opacity | divided_by: 100.0 }};
  --media-shadow-horizontal-offset: {{ settings.media_shadow_horizontal_offset }}px;
  --media-shadow-vertical-offset: {{ settings.media_shadow_vertical_offset }}px;
  --media-shadow-blur-radius: {{ settings.media_shadow_blur }}px;
  --media-shadow-visible: {% if settings.media_shadow_opacity > 0 %}1{% else %}0{% endif %};

  --page-width: {{ settings.page_width | divided_by: 10 }}rem;
  --page-width-margin: {% if settings.page_width == '1600' %}2{% else %}0{% endif %}rem;

  --card-image-padding: {{ settings.card_image_padding | divided_by: 10.0 }}rem;
  --card-corner-radius: {{ settings.card_corner_radius | divided_by: 10.0 }}rem;
  --card-text-alignment: {{ settings.card_text_alignment }};
  --card-border-width: {{ settings.card_border_thickness | divided_by: 10.0 }}rem;
  --card-border-opacity: {{ settings.card_border_opacity | divided_by: 100.0 }};
  --card-shadow-opacity: {{ settings.card_shadow_opacity | divided_by: 100.0 }};
  --card-shadow-horizontal-offset: {{ settings.card_shadow_horizontal_offset | divided_by: 10.0 }}rem;
  --card-shadow-vertical-offset: {{ settings.card_shadow_vertical_offset | divided_by: 10.0 }}rem;
  --card-shadow-blur-radius: {{ settings.card_shadow_blur | divided_by: 10.0 }}rem;

  --badge-corner-radius: {{ settings.badge_corner_radius | divided_by: 10.0 }}rem;

  --popup-border-width: {{ settings.popup_border_thickness }}px;
  --popup-border-opacity: {{ settings.popup_border_opacity | divided_by: 100.0 }};
  --popup-corner-radius: {{ settings.popup_corner_radius }}px;
  --popup-shadow-opacity: {{ settings.popup_shadow_opacity | divided_by: 100.0 }};
  --popup-shadow-horizontal-offset: {{ settings.popup_shadow_horizontal_offset }}px;
  --popup-shadow-vertical-offset: {{ settings.popup_shadow_vertical_offset }}px;
  --popup-shadow-blur-radius: {{ settings.popup_shadow_blur }}px;

  --drawer-border-width: {{ settings.drawer_border_thickness }}px;
  --drawer-border-opacity: {{ settings.drawer_border_opacity | divided_by: 100.0 }};
  --drawer-shadow-opacity: {{ settings.drawer_shadow_opacity | divided_by: 100.0 }};
  --drawer-shadow-horizontal-offset: {{ settings.drawer_shadow_horizontal_offset }}px;
  --drawer-shadow-vertical-offset: {{ settings.drawer_shadow_vertical_offset }}px;
  --drawer-shadow-blur-radius: {{ settings.drawer_shadow_blur }}px;

  --spacing-sections-desktop: {{ settings.spacing_sections }}px;
  --spacing-sections-mobile: {% if settings.spacing_sections < 24 %}{{ settings.spacing_sections }}{% else %}{{
    settings.spacing_sections | times: 0.7 | round | at_least: 20 }}{% endif %}px; --grid-desktop-vertical-spacing: {{
    settings.spacing_grid_vertical }}px; --grid-desktop-horizontal-spacing: {{ settings.spacing_grid_horizontal }}px;
    --grid-mobile-vertical-spacing: {{ settings.spacing_grid_vertical | divided_by: 2 }}px;
    --grid-mobile-horizontal-spacing: {{ settings.spacing_grid_horizontal | divided_by: 2 }}px;
    --text-boxes-border-opacity: {{ settings.text_boxes_border_opacity | divided_by: 100.0 }};
    --text-boxes-border-width: {{ settings.text_boxes_border_thickness }}px; --text-boxes-radius: {{
    settings.text_boxes_radius }}px; --text-boxes-shadow-opacity: {{ settings.text_boxes_shadow_opacity | divided_by:
    100.0 }}; --text-boxes-shadow-horizontal-offset: {{ settings.text_boxes_shadow_horizontal_offset }}px;
    --text-boxes-shadow-vertical-offset: {{ settings.text_boxes_shadow_vertical_offset }}px;
    --text-boxes-shadow-blur-radius: {{ settings.text_boxes_shadow_blur }}px; --buttons-radius: {{
    settings.buttons_radius }}px; --buttons-radius-outset: {% if settings.buttons_radius> 0 %}{{ settings.buttons_radius
    | plus: settings.buttons_border_thickness }}{% else %}0{% endif %}px;
    --buttons-border-width: {% if settings.buttons_border_opacity > 0 %}{{ settings.buttons_border_thickness }}{% else
    %}0{% endif %}px;
    --buttons-border-opacity: {{ settings.buttons_border_opacity | divided_by: 100.0 }};
    --buttons-shadow-opacity: {{ settings.buttons_shadow_opacity | divided_by: 100.0 }};
    --buttons-shadow-horizontal-offset: {{ settings.buttons_shadow_horizontal_offset }}px;
    --buttons-shadow-vertical-offset: {{ settings.buttons_shadow_vertical_offset }}px;
    --buttons-shadow-blur-radius: {{ settings.buttons_shadow_blur }}px;
    --buttons-border-offset: {% if settings.buttons_radius > 0 or settings.buttons_shadow_opacity > 0 %}0.3{% else %}0{%
    endif %}px;

    --inputs-radius: {{ settings.inputs_radius }}px;
    --inputs-border-width: {{ settings.inputs_border_thickness }}px;
    --inputs-border-opacity: {{ settings.inputs_border_opacity | divided_by: 100.0 }};
    --inputs-shadow-opacity: {{ settings.inputs_shadow_opacity | divided_by: 100.0 }};
    --inputs-shadow-horizontal-offset: {{ settings.inputs_shadow_horizontal_offset }}px;
    --inputs-margin-offset: {% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_opacity > 0
    %}{{ settings.inputs_shadow_vertical_offset | abs }}{% else %}0{% endif %}px;
    --inputs-shadow-vertical-offset: {{ settings.inputs_shadow_vertical_offset }}px;
    --inputs-shadow-blur-radius: {{ settings.inputs_shadow_blur }}px;
    --inputs-radius-outset: {% if settings.inputs_radius > 0 %}{{ settings.inputs_radius | plus:
    settings.inputs_border_thickness }}{% else %}0{% endif %}px;

    --variant-pills-radius: {{ settings.variant_pills_radius }}px;
    --variant-pills-border-width: {{ settings.variant_pills_border_thickness }}px;
    --variant-pills-border-opacity: {{ settings.variant_pills_border_opacity | divided_by: 100.0 }};
    --variant-pills-shadow-opacity: {{ settings.variant_pills_shadow_opacity | divided_by: 100.0 }};
    --variant-pills-shadow-horizontal-offset: {{ settings.variant_pills_shadow_horizontal_offset }}px;
    --variant-pills-shadow-vertical-offset: {{ settings.variant_pills_shadow_vertical_offset }}px;
    --variant-pills-shadow-blur-radius: {{ settings.variant_pills_shadow_blur }}px;
    }

    *,
    *::before,
    *::after {
    box-sizing: inherit;
    }

    

    html {
    box-sizing: border-box;
    font-size: calc(var(--font-body-scale) * 62.5%);
    height: 100%;
    }

    body {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 100%;
    margin: 0;
    font-size: 1.5rem;
    letter-spacing: 0.06rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
    font-family: var(--font-body-family);
    font-style: var(--font-body-style);
    font-weight: var(--font-body-weight);
    }

    @media screen and (min-width: 750px) {
    body {
    font-size: 1.6rem;
    }
    }


  
    {% endstyle %}

    {% render 'sale-color' %}

    {{ 'global-font-face.css' | asset_url | stylesheet_tag }}
    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'newStyle.scss.css' | asset_url | stylesheet_tag }}

    {%- unless settings.type_body_font.system? -%}
    <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.type_header_font.system? -%}
    <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}

    {%- if settings.predictive_search_enabled -%}
    <link rel="stylesheet" href="{{ 'component-predictive-search.css' | asset_url }}" media="print"
      onload="this.media='all'">
    {%- endif -%}

    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      if (Shopify.designMode) {
        document.documentElement.classList.add('shopify-design-mode');
      }
    </script>
  {% include 'dataLayer-allPages' %}
  {{ 'global_config.js' | asset_url | script_tag }}
  





































































































































































































































































































{% include 'pagefly-app-header' %}</head>

<body class="gradient">
  {%- assign page_url = content_for_header | split:'"pageurl":"' | last | split:'"' | first | split: request.host | last | replace:'\/','/' | replace:'%20',' ' | replace:'\u0026','&' -%}
  {% if product and product.id == 7523827613944 and product.available and page_url contains "checkout_email"%}
     {% render 'product-to-checkout' %}
  {% endif %}
      
  <!--   <p class='21123'>{{ request.origin }}</p> -->
  <a class="skip-to-content-link button visually-hidden" href="#MainContent">
    {{ "accessibility.skip_to_text" | t }}
  </a>

  {%- if settings.cart_type == 'drawer' -%}
  {%- render 'cart-drawer' -%}
  {%- endif -%}

  {% section 'announcement-bar' %}
  {% section 'header' %}
  <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
    {{ content_for_layout }}
  </main>
  {% section 'care' %}
  {% section 'footer' %}

  <ul hidden>
    <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
    <li id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</li>
  </ul>

  {% render 'judgeme_core' %}
  <script>
    window.shopUrl = '{{ request.origin }}';
    window.routes = {
      cart_add_url: '{{ routes.cart_add_url }}',
      cart_change_url: '{{ routes.cart_change_url }}',
      cart_update_url: '{{ routes.cart_update_url }}',
      cart_url: '{{ routes.cart_url }}',
      predictive_search_url: '{{ routes.predictive_search_url }}'
    };

    window.cartStrings = {
      error: `{{ 'sections.cart.cart_error' | t }}`,
      quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t: quantity: '[quantity]' }}`
    }

    window.variantStrings = {
      addToCart: `{{ 'products.product.add_to_cart' | t }}`,
      soldOut: `{{ 'products.product.sold_out' | t }}`,
      unavailable: `{{ 'products.product.unavailable' | t }}`,
    }

    window.accessibilityStrings = {
      imageAvailable: `{{ 'products.product.media.image_available' | t: index: '[index]' }}`,
      shareSuccess: `{{ 'general.share.success_message' | t }}`,
      pauseSlideshow: `{{ 'sections.slideshow.pause_slideshow' | t }}`,
      playSlideshow: `{{ 'sections.slideshow.play_slideshow' | t }}`,
    }
  </script>

  {%- if settings.predictive_search_enabled -%}
  <script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}


  <!-- Track Type Script-->
  <script type="text/javascript">

    /***clarity.microsoft***/
    (function (c, l, a, r, i, t, y) {
      c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
      t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
      y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
    })(window, document, "clarity", "script", "bnj03r1wrv");

    /*** Bing UET***/
    (function (w, d, t, r, u) { var f, n, i; w[u] = w[u] || [], f = function () { var o = { ti: "52014030" }; o.q = w[u], w[u] = new UET(o), w[u].push("pageLoad") }, n = d.createElement(t), n.src = r, n.async = 1, n.onload = n.onreadystatechange = function () { var s = this.readyState; s && s !== "loaded" && s !== "complete" || (f(), n.onload = n.onreadystatechange = null) }, i = d.getElementsByTagName(t)[0], i.parentNode.insertBefore(n, i) })(window, document, "script", "//bat.bing.com/bat.js", "uetq");
  </script>

  <!--   klarna   -->
  <script>window.KlarnaThemeGlobals = {}; {%case template.name %} {% when"product" %} {% if product.first_available_variant.price %} window.KlarnaThemeGlobals.data_purchase_amount = {{ product.first_available_variant.price }}; {% endif %} window.KlarnaThemeGlobals.productVariants = {{ product.variants | json }}; window.KlarnaThemeGlobals.documentCopy = document.cloneNode(true); {% when"cart" %} window.KlarnaThemeGlobals.data_purchase_amount = {{ cart.total_price }}; window.KlarnaThemeGlobals.documentCopy = document.cloneNode(true); {% endcase %}</script>

  <script defer src="https://na-library.klarnaservices.com/lib.js"
    data-client-id="81e64607-a76a-5dab-b627-59f81ff7d1ee"></script>

  <script>
    window.KlarnaOnsiteService = window.KlarnaOnsiteService || [];
    window.KlarnaOnsiteService.push({ eventName: 'refresh-placements' });
  </script>
  <!--   end   -->

  <script>
    const observer = lozad('.lozad', {
      rootMargin: '1000px 2000px' // syntax similar to that of CSS Margin
    }); // lazy loads elements with default selector as '.lozad'
    observer.observe('.lozad');
  </script>
{% render 'spurit_dmr_theme_snippet' %}
<!-- CRITEO START -->
{% render 'criteo-tracking' %}
<!-- CRITEO END -->
</body>
{% render 'dialog' %}
{% render 'performance' %}
</html>