<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{{ page_title }} - Urtopia</title>
    <meta name="google-site-verification" content="4CyyxbiT2JJKwsI1xsr_c7Qf-ihbvBm4WMiPhI0rOeA">
    <meta name="google-site-verification" content="1L3RQDlBxPuNpF21De0Ah8NwPfQRUDie4JA9sbgKwfo">
    <meta name="theme-color" content="">
    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    {%- render 'meta-tags' -%}
    {%- render 'web-font' -%}
    {%- if settings.favicon != blank -%}
      <!-- 桌面浏览器 favicon -->
      <link rel="icon" type="image/png" sizes="32x32" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
      <link rel="icon" type="image/png" sizes="16x16" href="{{ settings.favicon | image_url: width: 16, height: 16 }}">
      <link rel="icon" type="image/png" sizes="192x192" href="{{ settings.favicon | image_url: width: 192, height: 192 }}">
      <link rel="apple-touch-icon" sizes="180x180" href="{{ settings.favicon | image_url: width: 180, height: 180 }}">
    {%- endif -%}
    <script src="{{ 'libs.min.js' | asset_url }}" defer></script>
    <script src="{{ 'swiper.min.js' | asset_url }}" defer></script>
    {%- render 'global-config' -%}
    <template>{{ content_for_header }}</template>
    {{
      content_for_header
      | replace: 'preloads.js?locale=en-US"', 'preloads.js?locale=en-US" type="text/lazyload" data-level="5"'
      | replace: "s.src = urls[i];", 's.type ="text/lazyload";s.async = false;s.setAttribute("data-level", "3");s.src = urls[i];'
      | replace: 'data-source-attribution="shopify.loadfeatures" defer="defer"', 'data-source-attribution="shopify.loadfeatures" data-level="1" type="text/lazyload"'
    }}
  {% include 'pagefly-app-header' %}
  </head>
  <body class="gradient">
    {{ 'base.min.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'tailwind.min.css' | asset_url | stylesheet_tag: preload: true }}
    {% section 'announcement-bar' %}
    {% section 'header' %}
    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>
    {% section 'care' %}
  </body>
  {% render 'dialog' %}
  <script src="{{ 'global.js' | asset_url }}" fetchpriority="low" defer></script>
</html>
