{{ 'outlet_v4.scss.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'black-friday.scss.css' | asset_url | stylesheet_tag: preload: true }}
<h1 class="visuallyhidden">Urtopia Ebike - Sleek, Full Carbon, Lightweight, Smart</h1>

<div class="banner">
  <div class="centeral-content">
    <div class="swiperrrr">
      <div class="top">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <iframe
              title="YouTube video player"
              src="https://www.youtube.com/embed/Q4GQ7OUDK9A?start=0&amp;autoplay=0&amp;loop=1&amp;mute=0&amp;controls=1&amp;enablejsapi=1"
              height="100%"
              width="100%"
              allowfullscreen=""
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              frameborder="0"
            >
            </iframe>
          </div>
          <div class="swiper-slide">
            <iframe
              title="YouTube video player"
              class="mobileHide lozad"
              data-src="https://www.youtube.com/embed/Adj2WsYXM8g?start=0&amp;autoplay=0&amp;loop=1&amp;mute=0&amp;controls=1&amp;enablejsapi=1"
              height="100%"
              width="100%"
              allowfullscreen=""
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              frameborder="0"
            >
            </iframe>
          </div>
          <div class="swiper-slide">
            <iframe
              title="YouTube video player"
              class="mobileHide lozad"
              data-src="https://www.youtube.com/embed/8haN5tLyhIk?start=0&amp;autoplay=0&amp;loop=1&amp;mute=0&amp;controls=1&amp;enablejsapi=1"
              height="100%"
              width="100%"
              allowfullscreen=""
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              frameborder="0"
            >
            </iframe>
          </div>
          <div class="swiper-slide">
            <iframe
              title="YouTube video player"
              class="mobileHide lozad"
              data-src="https://www.youtube.com/embed/Pezebd8S--U?start=0&amp;autoplay=0&amp;loop=1&amp;mute=0&amp;controls=1&amp;enablejsapi=1"
              height="100%"
              width="100%"
              allowfullscreen=""
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              frameborder="0"
            >
            </iframe>
          </div>
        </div>
        <!-- <div class="swiper-pagination pcHide"></div> -->
      </div>
      <div class="bottom mobileHide">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              width="131"
              height="71"
              src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/sddefault.jpg?v=1731320183&width=200"
              alt=""
            >
          </div>
          <div class="swiper-slide">
            <img
              width="131"
              height="71"
              src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/sddefault_1.webp?v=1731320183&width=200"
              alt=""
            >
          </div>
          <div class="swiper-slide">
            <img
              width="131"
              height="71"
              src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25108_2x_6c97fddb-8a1e-4b40-a0e8-f01558092ede.jpg?v=1731313573&width=200"
              alt=""
            >
          </div>
          <div class="swiper-slide">
            <img
              width="131"
              height="71"
              src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/sddefault.webp?v=1731320183&width=200"
              alt=""
            >
          </div>
        </div>
      </div>
      <div class="swiper-button-prev mobileHide"></div>
      <div class="swiper-button-next mobileHide"></div>
    </div>
    <div>
      <img
        width="286"
        height="188"
        class="mb:er-max-w-[180px]"
        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25266_2x_ede5ac27-c499-469a-ab61-2872a6b6dce6.png?v=1736233407"
        alt="Urtopia Ebike - Sleek, Full Carbon, Lightweight, Smart"
      >
      <h2 class="er-text-8xl mb:er-text-5xl er-text-[#FFDF48] er-mt-12 er-mb-28 mb:er-mx-auto mb:er-mb-12">
        Up to $1200 OFF
      </h2>
      <div>
        <h3 class="u24DemiBold_v2">Why Choose Urtopia</h3>
        <ul class="u17Light_v2">
          <li>Carbon fiber, Lightweight</li>
          <li>Super power, AWD Peak 1500W</li>
          <li>Super range, 120miles dual battery</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="timeeeeeeeeeee centeral-content">
  <div>
    <h3 class="u30DemiBold_v2">CES 2025, Here We Come</h3>
    <p class="u17Light_v2">
      <span>At CES, Urtopia brings cutting-edge innovations—and exclusive discounts on all Carbon e-bikes</span>
    </p>
    {% render 'sale' %}
    <style>
          .sale {
              width: 400px;
              background-color: transparent;
              overflow: hidden;
              margin-bottom: 0;
          }

          .sale > .u14DemiBold_v2 {
              display: none;
          }

          .sale > div:not(.u14DemiBold_v2) {
              display: flex;
              justify-content: space-between;
              padding: 0;
          }

          .sale > div:not(.u14DemiBold_v2) > div {
              border-left: none !important;
              place-self: center;
              width: 65px;
              align-items: unset;
              position: relative;
          }

          .sale .u36DemiBold_v2 {
              display: block;
              background-color: #fff;
              padding: 15px 12px;
              border-radius: 7px;
              font-size: 30px;
              margin-bottom: 7.5px;
              position: relative;
          }


          .sale .u36DemiBold_v2::after {
              content: ":";
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(25px, -50%);
      font-size: 25px;
      font-weight: 300;
      color: #fff;
          }


          .sale > div:not(.u14DemiBold_v2) > div span:last-child {
              opacity: 1;
              font-size: 12px;
              color: #fff;
              font-weight: 300;
          }


          @media (max-width: 767px) {
              .sale {
                  max-width: 260px;
              }


              .sale .u36DemiBold_v2 {
                  font-size: 18px;
                  padding: 10px 8px;
              }


              .sale > div:not(.u14DemiBold_v2) > div {
                  width: 42px;

              }

              .sale > div:not(.u14DemiBold_v2) > div span:last-child {
                  font-size: 9px;
              }

              .sale .u36DemiBold_v2::after {
                  transform: translate(17px, -50%);
              }
          }
    </style>
  </div>
</div>
<div class="centeral-content ebike-products">
  <div class="product-grid">
    {% assign product = all_products['urtopia-carbon-fusion-gt'] %}
    {% assign product_variants = product.variants | where: 'available' %}
    {% assign product_uhmaya = '1500W<br>power, Carbon fiber<br>frame, 120<br>Miles' | split: ', ' %}
    {% render 'product-card-2',
      product_variants: product_variants,
      product_name: 'Fusion GT',
      product_description: 'All terrain riding',
      product_url: product.url,
      product_uhmaya: product_uhmaya
    %}
    {% assign product = all_products['urtopia-carbon-1-pro-ebike'] %}
    {% assign product_variants = product.variants | where: 'available' %}
    {% assign product_uhmaya = '37 lbs<br>lightweight, Full<br>carbon fiber, 80<br>Miles' | split: ', ' %}
    {% render 'product-card-2',
      product_variants: product_variants,
      product_name: 'Carbon 1 Pro',
      product_description: 'Urban & fitness riding',
      product_variant_options_find_sort: 'M,L,S',
      product_url: product.url,
      product_uhmaya: product_uhmaya
    %}
    {% assign product = all_products['urtopia-carbon-fold'] %}
    {% assign product_variants = product.variants | where: 'available' %}
    {% assign product_uhmaya = '29 lbs<br>lightweight, Full<br>carbon fiber, Torque<br>sensor' | split: ', ' %}
    {% render 'product-card-2',
      product_variants: product_variants,
      product_name: 'Carbon Fold 1',
      product_description: 'Super space-efficient',
      product_url: product.url,
      product_uhmaya: product_uhmaya
    %}
  </div>
</div>
{% render 'sale-buy-any' %}
<div class="klarna">
  <div class="centeral-content">
    <div>
      <h3 class="u24Medium_v2" style="color: #FFB3C7;">Ride Now, Pay Later</h3>
      <h2 class="u36DemiBold_v2">Limited-Time <span style="color: #FFB3C7;">0% APR</span> for 24 Months</h2>
      <h3 class="u20Light_v2">
        A {{ all_products['urtopia-carbon-fold'].price | money_without_trailing_zeros }} purchase costs
        {{ all_products['urtopia-carbon-fold'].price | divided_by: 24 | money }}/month for 24 months at 0% APR.
      </h3>
    </div>
  </div>
</div>

<div class="professional" id="professional">
  <div class="centeral-content">
    <h2 class="u36Medium_v2">Professional Reviews</h2>
    <div class="videos swiper-wrapper">
      <div
        class="swiper-slide"
        onclick="showVideoDialog('https://www.youtube.com/embed/W9KMWM4Is00?autoplay=1&cc_load_policy=1')"
      >
        <img
          width="351"
          height="188"
          loading="lazy"
          src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25127_2x_32bd3201-667c-41be-a264-4048e3cb8039.jpg?v=1732516610&width=400"
          alt=""
        >
        <span class="u17Light_v2"
          >It’s refreshing to ride an ebike that doesn’t feel like you’re lugging around a gigantic beast.</span
        >
        <span class="flex-1"></span>
        <div class="u17Medium_v2">
          <img
            width="28"
            height="28"
            loading="lazy"
            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19659_2x_e4e9dd85-d6ef-472c-804b-e4f17f3a9180.jpg?v=1732516604"
            alt=""
          >
          <span>Hello Road</span>
        </div>
      </div>
      <div
        class="swiper-slide"
        onclick="showVideoDialog('https://www.youtube.com/embed/mGIdG0e9mmg?autoplay=1&cc_load_policy=1')"
      >
        <img
          width="351"
          height="188"
          loading="lazy"
          src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20241211-110158.jpg?v=1733886150&width=400"
          alt=""
        >
        <span class="u17Light_v2"
          >A full carbon eBike with voice navigation, anti-theft features, and GPS-guided rides!</span
        >
        <span class="flex-1"></span>
        <div class="u17Medium_v2">
          <img
            width="28"
            height="28"
            loading="lazy"
            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/channels4_profile_c3257cb9-ddee-4f5a-af27-a587d558688a.jpg?v=1733886229"
            alt=""
          >
          <span>Electric Revolution</span>
        </div>
      </div>
      <div
        class="swiper-slide"
        onclick="showVideoDialog('https://www.youtube.com/embed/DkaGYJklmSs?autoplay=1&cc_load_policy=1')"
      >
        <img
          width="351"
          height="188"
          loading="lazy"
          src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/24719_2x_2636fa6e-f818-4978-af54-a9cb899630c7.jpg?v=1727090408&width=400"
          alt=""
        >
        <span class="u17Light_v2"
          >Urtopia clearly took comfort and assist seriously—it’s top-class and worth the price.</span
        >
        <span class="flex-1"></span>
        <div class="u17Medium_v2">
          <img
            width="28"
            height="28"
            loading="lazy"
            src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/19469_2x_795c87d6-900b-4d78-b915-259138fa064d.png?v=1727090514"
            alt=""
          >
          <span>Electroheads</span>
        </div>
      </div>
      <div
        class="swiper-slide"
        onclick="showVideoDialog('https://www.youtube.com/embed/r9TD6cPYCxc?autoplay=1&cc_load_policy=1')"
      >
        <img
          width="351"
          height="188"
          loading="lazy"
          src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/24717_2x_42c326c1-7915-471d-b00e-4f5dd6b273b8.jpg?v=1727143908&width=400"
          alt=""
        >
        <span class="u17Light_v2">Tested at 748W, the power of 1 Pro is higher than most all-terrain e-bikes.</span>
        <span class="flex-1"></span>
        <div class="u17Medium_v2">
          <img
            width="28"
            height="28"
            loading="lazy"
            src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/19472_2x_679a808b-69a2-4e58-be5f-407efb2f88c5.png?v=1727143912"
            alt=""
          >
          <span>Area 13</span>
        </div>
      </div>
      <div
        class="swiper-slide"
        onclick="showVideoDialog('https://www.youtube.com/embed/14WsEPH8TfQ?autoplay=1&cc_load_policy=1')"
      >
        <img
          width="351"
          height="188"
          loading="lazy"
          src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25085_2x_218ed915-d951-4836-9315-48dbb616abc5.jpg?v=1731058283&width=400"
          alt=""
        >
        <span class="u17Light_v2"
          >The throttle boost driven by dual motors provides an unprecedented power-maxing experience.</span
        >
        <span class="flex-1"></span>
        <div class="u17Medium_v2">
          <img
            width="28"
            height="28"
            loading="lazy"
            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/unnamed.jpg?v=1731058489"
            alt=""
          >
          <span>KhanFlicks</span>
        </div>
      </div>
      <div
        class="swiper-slide"
        onclick="showVideoDialog('https://www.youtube.com/embed/OJgz3ZLb4F0?autoplay=1&cc_load_policy=1')"
      >
        <img
          width="351"
          height="188"
          loading="lazy"
          src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25087_2x_fade44e6-4e58-4091-a22f-db3af7c7b2e2.jpg?v=1731058272&width=400"
          alt=""
        >
        <span class="u17Light_v2"
          >It's the lightest step-through ebike of its size, I can just easily get on it, no big jump over.</span
        >
        <span class="flex-1"></span>
        <div class="u17Medium_v2">
          <img
            width="28"
            height="28"
            loading="lazy"
            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/channels4_profile_1.jpg?v=1731058489"
            alt=""
          >
          <span>Area 13</span>
        </div>
      </div>

      <div
        class="swiper-slide"
        onclick="showVideoDialog('https://www.youtube.com/embed/5JI2U6EpAHA?autoplay=1&cc_load_policy=1')"
      >
        <img
          width="351"
          height="188"
          loading="lazy"
          src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/24718_2x_02d66e8b-2f58-40a3-a0d9-85c287272787.jpg?v=1727144145width=400"
          alt=""
        >
        <span class="u17Light_v2"
          >A stealthy and sleek ebike, so capable and the riding experience is what I dreamed of.</span
        >
        <span class="flex-1"></span>
        <div class="u17Medium_v2">
          <img
            width="28"
            height="28"
            loading="lazy"
            src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/19471_2x_b5dee01b-134a-4ebe-bd4a-6c50f2608906.png?v=1727144280"
            alt=""
          >
          <span>Electric Vehicles Space</span>
        </div>
      </div>
      <div
        class="swiper-slide"
        onclick="showVideoDialog('https://www.youtube.com/embed/mu5MGas_F80?autoplay=1&cc_load_policy=1')"
      >
        <img
          width="351"
          height="188"
          loading="lazy"
          src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/24720_2x_43255c27-8e86-44bf-8148-c703e6b84b08.jpg?v=1727144140&width=400"
          alt=""
        >
        <span class="u17Light_v2">This carbon frame commuter bike weighs 37 lbs and reaches speeds up to 28 MPH.</span>
        <span class="flex-1"></span>
        <div class="u17Medium_v2">
          <img
            width="28"
            height="28"
            loading="lazy"
            src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/19468_2x_32096d4f-978e-4fe4-a392-c5555938beff.png?v=1727144288"
            alt="Mike Fede"
          >
          <span>Mike Fede</span>
        </div>
      </div>
    </div>
    <div class="swiper-scrollbar"></div>
    <div class="buttons mobileHide">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</div>

<div class="centeral-content ebike-products mb:!er-mt-32">
  <h3 class="u36DemiBold_v2 mobileHide">Clearance Outlet Sale</h3>
  <p class="u17Light_v2 mobileHide">
    <span>Last chance for {{ settings.sale_name }}—final batch, no restocks!</span>
  </p>
  <div class="product-grid">
    {% assign product = all_products['urtopia-chord-ebike'] %}
    {% assign product_variants = product.variants
      | where: 'option1', 'High-Step'
      | where: 'option2', 'White'
      | where: 'available'
    %}
    {% assign product_uhmaya = 'Torque<br>Sensor, GPS<br>Tracking, 75<br>Miles' | split: ', ' %}
    {% render 'product-card-2',
      product_variants: product_variants,
      product_name: 'Outlet Chord',
      product_description: 'All terrain riding',
      product_url: product.url,
      product_uhmaya: product_uhmaya
    %}
    {% assign product = all_products['urtopia-chord-ebike'] %}
    {% assign product_variants = product.variants
      | where: 'option1', 'Step-Through'
      | where: 'option2', 'White'
      | where: 'available'
    %}
    {% assign product_uhmaya = 'Torque<br>Sensor, GPS<br>Tracking, 75<br>Miles' | split: ', ' %}
    {% render 'product-card-2',
      product_variants: product_variants,
      product_name: 'Outlet Chord X',
      product_description: 'All terrain riding',
      product_url: product.url,
      product_uhmaya: product_uhmaya
    %}
  </div>
</div>

<div class="centeral-content findbikeshop">
  <div>
    <h3 class="u30DemiBold_v2">
      Find a Bike Shop Near You <br>
      Same Deal with
      <span style="color:#FFDF48;"
        ><br class="pcHide">
        FREE ASSEMBLY</span
      >
    </h3>
    <p class="u17Light_v2">
      <span>
        With nearly 300 Urtopia dealers across the US, we’ve handpicked over 10 exceptional stores to provide
        outstanding service. If one is nearby, you can enjoy perfect service with free assembly!
      </span>
    </p>
    <a href="/pages/test-ride" target="_blank" class="my-button my-button-origin">Find a bike shop</a>
  </div>
</div>

<div class="professional test-ride">
  <div class="centeral-content">
    <div class="videos swiper-wrapper">
      {% for item in shop.metaobjects.shop_config.test_ride_list.value.value %}
        <div class="swiper-slide" data-url="{{ item.url }}">
          <img loading="lazy" width="269" height="143" src="{{ item.image }}">
          <span class="u20DemiBold_v2">{{ item.title }}</span>
          <span class="u17Light_v2" style="margin: 0;">{{ item.span }}</span>
          <a class="my-link" href="tel:{{ item.tel }}">{{ item.tel }}</a>
        </div>
      {% endfor %}
    </div>
    <div class="swiper-scrollbar"></div>
    <div class="buttons mobileHide">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</div>

<div class="centeral-content win">
  <div>
    <div>
      <h3 class="u30DemiBold_v2">Win a Urtopia E-Bike on CBS’s Show Let’s Make a Deal</h3>
      <span class="u17Light_v2">
        Lights, cameras, action! Urtopia e-bikes hit CBS’s Let’s Make a Deal as the ultimate grand prize for lucky
        contestants. Featured by over 40 networks like ABC and NBC, CBS now joins in celebrating Urtopia. Why did this
        iconic show choose Urtopia? Let’s find out!
      </span>
      <a
        target="_blank"
        class="my-button my-button-origin"
        href="/blogs/blog/win-a-urtopia-e-bike-on-cbss-hit-show-let-s-make-a-deal"
        >Read the Blog</a
      >
    </div>
    <img
      class="lozad"
      data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25141_2x_aafa8a49-b976-4f74-9721-790bf82817bd.png?v=1732698657"
      alt=""
    >
  </div>
</div>

<script type="module">
    new Swiper(".swiperrrr .top", {
      spaceBetween: 10,
      thumbs: global_config.is_mobile
          ? null
          : {
              swiper: new Swiper(".swiperrrr .bottom", {
                  spaceBetween: 12,
                  slidesPerView: 4,
                  freeMode: true,
                  watchSlidesProgress: true,
                  navigation: {
                      nextEl: ".swiperrrr .swiper-button-next",
                      prevEl: ".swiperrrr .swiper-button-prev",
                  },
              }),
          },
  });


  new Swiper('#professional .centeral-content', {
    slidesPerView: global_config.is_mobile ? 1.25 : 3.5,
    spaceBetween: 20,
    navigation: {
    nextEl: '#professional .centeral-content .swiper-button-next',
    prevEl: '#professional .centeral-content .swiper-button-prev',
  },
    scrollbar: {
      el: '#professional .centeral-content .swiper-scrollbar',
      draggable: true,
    },
  });

   new Swiper('.test-ride .centeral-content', {
          slidesPerView: global_config.is_mobile ? 1.35 : 4.5,
          spaceBetween: 20,
          navigation: {
          nextEl: '.test-ride .centeral-content .swiper-button-next',
          prevEl: '.test-ride .centeral-content .swiper-button-prev',
          },
          scrollbar: {
              el: '.test-ride .centeral-content .swiper-scrollbar',
              draggable: true,
          },
     });

     $('.test-ride .centeral-content .swiper-slide').on('click', function () {
        window.open($(this).attr('data-url'))
     })

   $('.product-card .dots > div').on('click', e => {
        const target = $(e.target)
        const product_card = target.closest('.product-card')

        // 先取消 其它兄弟元素的active, 再设置active
        target.siblings().removeClass('active')
        target.addClass('active')

        const price = Number(target.attr('data-price'))
        const compare_at_price = Number(target.attr('data-compare-at-price'))
        const discount_price = Number(target.attr('data-product-discount-price'))
        const variant_id = target.attr('data-variant')
        const variant_image = target.attr('data-img')

        product_card.find('.product_price .u24DemiBold_v2').text(getPriceFormat(price, true)).attr('data-price', getPriceFormat(compare_at_price, true))
        product_card.find('.tags > span:first-child').html(`${getPriceFormat(compare_at_price - price, true)} <span class="u14DemiBold_v2">OFF</span>`)

        if (price === compare_at_price) {
            product_card.find('.product_price .u24DemiBold_v2').attr('data-price', '')
            product_card.find('.tags > span:first-child').hide()
        }

        product_card.find('.variant-image').attr('src', variant_image)
        product_card.find('.my-button').attr('href', `${product_card.find('.my-button').attr('href').split('?').shift()}?variant=${variant_id}`)
        product_card.find('.stars a').attr('href', `${product_card.find('.my-button').attr('href').split('?').shift()}?variant=${variant_id}#judgeme_product_reviews`)
    })

    setTimeout(() => {
        $('.product-card .dots > div:first-child').click()

        $('.product-card .variant-image').on('click', e => {
            const button = $(e.target).closest('.product-card').find('.my-button')

            if (button.length) {
                button[0].click()
            }
        })
    })
</script>
