{{ 'outlet_v4.scss.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'black-friday.scss.css' | asset_url | stylesheet_tag: preload: true }}

<div class="banner">
        <div class="centeral-content">
            <div class="swiperrrr">
                <div class="top">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <iframe title="YouTube video player"
                                src="https://www.youtube.com/embed/Pezebd8S--U?start=0&amp;autoplay=0&amp;loop=0&amp;mute=0&amp;controls=1&amp;enablejsapi=1"
                                height="100%" width="100%" allowfullscreen=""
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                frameborder="0">
                            </iframe>
                        </div>
                        <div class="swiper-slide">
                            <iframe title="YouTube video player"
                                src="https://www.youtube.com/embed/Q4GQ7OUDK9A?start=0&amp;autoplay=0&amp;loop=0&amp;mute=0&amp;controls=1&amp;enablejsapi=1"
                                height="100%" width="100%" allowfullscreen=""
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                frameborder="0">
                            </iframe>
                        </div>
                        <div class="swiper-slide">
                            <iframe title="YouTube video player"
                                src="https://www.youtube.com/embed/Adj2WsYXM8g?start=0&amp;autoplay=0&amp;loop=0&amp;mute=0&amp;controls=1&amp;enablejsapi=1"
                                height="100%" width="100%" allowfullscreen=""
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                frameborder="0">
                            </iframe>
                        </div>
                        <div class="swiper-slide">
                            <iframe title="YouTube video player"
                                src="https://www.youtube.com/embed/8haN5tLyhIk?start=0&amp;autoplay=0&amp;loop=0&amp;mute=0&amp;controls=1&amp;enablejsapi=1"
                                height="100%" width="100%" allowfullscreen=""
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                frameborder="0">
                            </iframe>
                        </div>
                    </div>
                    <div class="swiper-pagination pcHide"></div>
                </div>
                <div class="bottom mobileHide">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/sddefault.webp?v=1731320183"
                                alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/sddefault.jpg?v=1731320183"
                                alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/sddefault_1.webp?v=1731320183"
                                alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25108_2x_6c97fddb-8a1e-4b40-a0e8-f01558092ede.jpg?v=1731313573"
                                alt="" />
                        </div>
                    </div>
                </div>
                <div class="swiper-button-prev mobileHide"></div>
                <div class="swiper-button-next mobileHide"></div>
            </div>
            <div>
                <img class="mobileHide"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19577_2x_92687204-484d-44df-b69c-f5bef0513ab0.png?v=1731305678"
                    alt="" />
                <img class="pcHide"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19594_2x_786a3c6c-0422-432e-a3ec-99befe430fe3.png?v=1731322276"
                    alt="" />
                <div>
                    <h2 class="u48DemiBold_v2">Up to {{ all_products["urtopia-carbon-fusion-gt"].compare_at_price | minus: all_products["urtopia-carbon-fusion-gt"].price | money_without_trailing_zeros }} OFF</h2>
                    <h3 class="u24DemiBold_v2">Why Choose Urtopia</h3>
                    <ul class="u17Light_v2">
                        <li>Carbon fiber, Lightweight</li>
                        <li>Super power, AWD Peak 1500W</li>
                        <li>Super range, 240km dual battery</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="timeeeeeeeeeee centeral-content">
        <div>
            <h3 class="u30DemiBold_v2">Carbon Black Friday Sale</h3>
            <p class="u17Light_v2">
                <span>
                    To thank Urtopians for their 4 years of support, this Black Friday, Urtopia is offering its best deals ever! Get up to $1600 OFF on all Carbon bikes.
                </span>
            </p>
            {% render 'sale' %}
            <style>
        .sale {
            width: 400px;
            background-color: transparent;
            overflow: hidden;
            margin-bottom: 0;
        }

        .sale > .u14DemiBold_v2 {
            display: none;
        }

        .sale > div:not(.u14DemiBold_v2) {
            display: flex;
            justify-content: space-between;
            padding: 0;
        }

        .sale > div:not(.u14DemiBold_v2) > div {
            border-left: none !important;
            place-self: center;
            width: 65px;
            align-items: unset;
            position: relative;
        }

        .sale .u36DemiBold_v2 {
            display: block;
            background-color: #fff;
            padding: 15px 12px;
            border-radius: 7px;
            font-size: 30px;
            margin-bottom: 7.5px;
            position: relative;
        }


        .sale .u36DemiBold_v2::after {
            content: ":";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(25px, -50%);
    font-size: 25px;
    font-weight: 300;
    color: #fff;
        }


        .sale > div:not(.u14DemiBold_v2) > div span:last-child {
            opacity: 1;
            font-size: 12px;
            color: #fff;
            font-weight: 300;
        }


        @media (max-width: 767px) {
            .sale {
                max-width: 260px;
            }


            .sale .u36DemiBold_v2 {
                font-size: 18px;
                padding: 10px 8px;
            }


            .sale > div:not(.u14DemiBold_v2) > div {
                width: 42px;

            }

            .sale > div:not(.u14DemiBold_v2) > div span:last-child {
                font-size: 9px;
            }

            .sale .u36DemiBold_v2::after {
                transform: translate(17px, -50%);
            }
        }
    </style>
        </div>
    </div>
    <div class="centeral-content ebike-products">
        <div class="product-grid">
            {% assign product = all_products["urtopia-carbon-fusion-gt"] %}
            {% assign product_variants = product.variants | where: "available" %}
            {% assign product_uhmaya = "1500W<br>power, Carbon fiber<br>frame, 120<br>Miles" | split: ", " %}
            {% render 'product-card-2',
                product_variants: product_variants,
                product_name: 'Fusion GT',
                product_description: 'All terrain riding',
                product_url: product.url,
                product_uhmaya: product_uhmaya
            %}
            {% assign product = all_products["urtopia-carbon-1-pro-ebike"] %}
            {% assign product_variants = product.variants | where: "available" %}
            {% assign product_uhmaya = "37 lbs<br>lightweight, Full<br>carbon fiber, 80<br>Miles" | split: ", " %}
            {% render 'product-card-2',
                product_variants: product_variants,
                product_name: 'Carbon 1 Pro',
                product_description: 'Urban & fitness riding',
                product_variant_options_find_sort: "M,L,S",
                product_url: product.url,
                product_uhmaya: product_uhmaya
            %}
            {% assign product = all_products["urtopia-carbon-fold"] %}
            {% assign product_variants = product.variants | where: "available" %}
            {% assign product_uhmaya = "29 lbs<br>lightweight, Full<br>carbon fiber, Torque<br>sensor" | split: ", " %}
            {% render 'product-card-2',
                product_variants: product_variants,
                product_name: 'Carbon Fold 1',
                product_description: 'Super space-efficient',
                product_url: product.url,
                product_uhmaya: product_uhmaya
            %}
        </div>
    </div>
    <div class="buyany">
        <div class="centeral-content">
            <div class="promo-banner">
                <h2 class="u36DemiBold_v2">
                    Buy <span>any 2</span> Urtopia bikes, <br class="pcHide">Get an
                    <span>EXTRA $200 OFF</span>
                </h2>
            </div>
            <div class="two">
                <div>
                    <div class="selectttttttt">
                        <select name="left"></select>
                    </div>
                    <div class="card">
                        <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19581_2x_5f64cd60-b777-4aac-83cc-feb2f9becef1.png?v=1731384242"
                            alt="">
                        <div>
                            <div class="style">
                                <span class="u17Medium_v2">Style - </span>
                                <span class="u17Light_v2">Matte Black</span>
                                <div class="dots"></div>
                            </div>
                            <div class="size">
                                <span class="u17Medium_v2">Size - </span>
                                <span class="u17Light_v2">Fit for 5’5-5’11’’ Inseam 30”</span>
                                <div class="sizes"></div>
                            </div>
                            <div class="priceeeeeeeeeeee">
                                <span class="u24DemiBold_v2">$2599</span>
                                <del class="u20Light_v2">$3999</del>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="u48DemiBold_v2 plus">+</div>
                <div>
                    <div class="selectttttttt">
                        <select name="right"></select>
                    </div>
                    <div class="card">
                        <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19581_2x_5f64cd60-b777-4aac-83cc-feb2f9becef1.png?v=1731384242"
                            alt="">
                        <div>
                            <div class="style">
                                <span class="u17Medium_v2">Style - </span>
                                <span class="u17Light_v2">Matte Black</span>
                                <div class="dots"></div>
                            </div>
                            <div class="size">
                                <span class="u17Medium_v2">Size - </span>
                                <span class="u17Light_v2">Fit for 5’5-5’11’’ Inseam 30”</span>
                                <div class="sizes"></div>
                            </div>
                            <div class="priceeeeeeeeeeee">
                                <span class="u24DemiBold_v2">$2599</span>
                                <del class="u20Light_v2">$3999</del>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="total">
                    <img class="mobileHide" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/ROB00399_2x_65cd9c08-d86c-4f12-b492-25a925a4400c.jpg?v=1731379861"
                        alt="" />
                    <div>
                        <span class="u24DemiBold_v2">Total</span>
                        <span class="u48DemiBold_v2">$4598</span>
                        <div class="u24DemiBold_v2 yellow">You Save $2400</div>
                        <span class="u17Light_v2">($2200 OFF + EXTRA $200)</span>
                        <div class="my-button my-button-origin">Proceed to Checkout</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="professional" id="professional">
  <div class="centeral-content">
    <h2 class="u36Medium_v2">Professional Reviews</h2>
    <div class="videos swiper-wrapper">
      
    <div
    class="swiper-slide"
    onclick="showVideoDialog('https://www.youtube.com/embed/T-0A-EUwUfM?autoplay=1&cc_load_policy=1')"
  >
    <img
      class="lozad"
      data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/24716_2x_b34c17d4-c45d-4e33-8c32-10ae473bffce.jpg?v=1727085768&width=400"
      alt=""
    >
    <span class="u17Light_v2">A super light and responsive e-bike achieves faster speeds than the metro.</span>
    <span class="flex-1"></span>
    <div class="u17Medium_v2">
      <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/19470_2x_6a40056e-5876-49a3-8678-c9eb7f529037.png?v=1727086233" alt=""/>
      <span>Jon Imperial</span>
    </div>
  </div>
  <div
        class="swiper-slide"
        onclick="showVideoDialog('https://www.youtube.com/embed/DkaGYJklmSs?autoplay=1&cc_load_policy=1')"
      >
        <img
          class="lozad"
          data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/24719_2x_2636fa6e-f818-4978-af54-a9cb899630c7.jpg?v=1727090408&width=400"
          alt=""
        >
        <span class="u17Light_v2">Urtopia clearly took comfort and assist seriously—it’s top-class and worth the price.</span>
        <span class="flex-1"></span>
        <div class="u17Medium_v2">
          <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/19469_2x_795c87d6-900b-4d78-b915-259138fa064d.png?v=1727090514" alt=""/>
          <span>Electroheads</span>
        </div>
      </div>
      <div
        class="swiper-slide"
        onclick="showVideoDialog('https://www.youtube.com/embed/r9TD6cPYCxc?autoplay=1&cc_load_policy=1')"
      >
        <img
          class="lozad"
          data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/24717_2x_42c326c1-7915-471d-b00e-4f5dd6b273b8.jpg?v=1727143908&width=400"
          alt=""
        >
        <span class="u17Light_v2">Tested at 748W, the power of 1 Pro is higher than most all-terrain e-bikes.</span>
        <span class="flex-1"></span>
        <div class="u17Medium_v2">
          <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/19472_2x_679a808b-69a2-4e58-be5f-407efb2f88c5.png?v=1727143912" alt=""/>
          <span>Area 13</span>
        </div>
      </div>
      <div
        class="swiper-slide"
        onclick="showVideoDialog('https://www.youtube.com/embed/5JI2U6EpAHA?autoplay=1&cc_load_policy=1')"
      >
        <img
          class="lozad"
          data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/24718_2x_02d66e8b-2f58-40a3-a0d9-85c287272787.jpg?v=1727144145width=400"
          alt=""
        >
        <span class="u17Light_v2">A stealthy and sleek ebike, so capable and the riding experience is what I dreamed of.</span>
        <span class="flex-1"></span>
        <div class="u17Medium_v2">
          <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/19471_2x_b5dee01b-134a-4ebe-bd4a-6c50f2608906.png?v=1727144280" alt=""/>
          <span>Electric Vehicles Space</span>
        </div>
      </div>
      <div
        class="swiper-slide"
        onclick="showVideoDialog('https://www.youtube.com/embed/mu5MGas_F80?autoplay=1&cc_load_policy=1')"
      >
        <img
          class="lozad"
          data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/24720_2x_43255c27-8e86-44bf-8148-c703e6b84b08.jpg?v=1727144140&width=400"
          alt=""
        >
        <span class="u17Light_v2">This carbon frame commuter bike weighs 37 lbs and reaches speeds up to 28 MPH.</span>
        <span class="flex-1"></span>
        <div class="u17Medium_v2">
          <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/19468_2x_32096d4f-978e-4fe4-a392-c5555938beff.png?v=1727144288" alt=""/>
          <span>Mike Fede</span>
        </div>
      </div>
    </div>
    <div class="swiper-scrollbar"></div>
    <div class="buttons mobileHide">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</div>

<div class="centeral-content findbikeshop">
    <div>
        <h3 class="u30DemiBold_v2">Find a Bike Shop Near You <br>- Same Black Friday Deal</h3>
        <p class="u17Light_v2">
            <span>
                With nearly 400 Urtopia dealers worldwide, including 200+ in the US, we’ve also selected over 10 outstanding stores—if you’re nearby, perfect service is waiting for you.
            </span>
        </p>
        <a href="/pages/test-ride" target="_blank" class="my-button my-button-origin">Find a bike shop</a>
    </div>
</div>

<div class="professional test-ride">
    <div class="centeral-content">
      <div class="videos swiper-wrapper"></div>
      <div class="swiper-scrollbar"></div>
      <div class="buttons mobileHide">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>


    <script>
      new Swiper(".swiperrrr .top", {
        spaceBetween: 10,
        pagination: {
            el: global_config.is_mobile ? null : ".swiperrrr .top .swiper-pagination",
        },
        thumbs: global_config.is_mobile
            ? null
            : {
                swiper: new Swiper(".swiperrrr .bottom", {
                    spaceBetween: 12,
                    slidesPerView: 4,
                    freeMode: true,
                    watchSlidesProgress: true,
                    navigation: {
                        nextEl: ".swiperrrr .swiper-button-next",
                        prevEl: ".swiperrrr .swiper-button-prev",
                    },
                }),
            },
    });


    new Swiper('#professional .centeral-content', {
      slidesPerView: global_config.is_mobile ? 1.25 : 3.5,
      spaceBetween: 20,
      navigation: {
      nextEl: '#professional .centeral-content .swiper-button-next',
      prevEl: '#professional .centeral-content .swiper-button-prev',
    },
      scrollbar: {
        el: '#professional .centeral-content .swiper-scrollbar',
        draggable: true,
      },
    });
    </script>

    
<script>
    $('.product-card .dots > div').on('click', e => {
        const target = $(e.target)
        const product_card = target.closest('.product-card')

        // 先取消 其它兄弟元素的active, 再设置active
        target.siblings().removeClass('active')
        target.addClass('active')

        const price = Number(target.attr('data-price'))
        const compare_at_price = Number(target.attr('data-compare-at-price'))
        const discount_price = Number(target.attr('data-product-discount-price'))
        const variant_id = target.attr('data-variant')
        const variant_image = target.attr('data-img')

        product_card.find('.product_price .u24DemiBold_v2').text(getPriceFormat(price, true)).attr('data-price', getPriceFormat(compare_at_price, true))
        product_card.find('.tags > span:first-child').html(`${getPriceFormat(compare_at_price - price, true)} <span class="u14DemiBold_v2">OFF</span>`)

        if (price === compare_at_price) {
            product_card.find('.product_price .u24DemiBold_v2').attr('data-price', '')
            product_card.find('.tags > span:first-child').hide()
        }

        product_card.find('.variant-image').attr('src', variant_image)
        product_card.find('.my-button').attr('href', `${product_card.find('.my-button').attr('href').split('?').shift()}?variant=${variant_id}`)
        product_card.find('.stars a').attr('href', `${product_card.find('.my-button').attr('href').split('?').shift()}?variant=${variant_id}#judgeme_product_reviews`)
    })

    setTimeout(() => {
        $('.product-card .dots > div:first-child').click()

        $('.product-card .variant-image').on('click', e => {
            const button = $(e.target).closest('.product-card').find('.my-button')

            if (button.length) {
                button[0].click()
            }
        })
    })
</script>

    <script>
        const bikes_custom_config = {
            8794812776696: {
                title: 'Fusion GT',
                ...global_config.fusion_order_page_config
            },
            8230663028984: {
                title: 'Carbon 1 Pro',
                ...global_config.carbon1pro_order_page_config
            },
            8792002461944: {
                title: 'Carbon Fold 1',
                ...global_config.carbon_fold_order_page_config
            }
        }

        const bikes_info = []

        {% for product in collections['black-friday'].products %}
            bikes_info.push({
                {% assign options_with_values_Style = product.options_with_values | where: "name", "Style"  %}
                {% assign options_with_values_Color = product.options_with_values | where: "name", "Color"  %}
                {% assign options_with_values = options_with_values_Style |  concat: options_with_values_Color %}
                style: {{ options_with_values.first.values | json }},
                {% assign options_with_values = product.options_with_values | where: "name", "Size"  %}
                size:{{ options_with_values.first.values | json }},
                variants: {{ product.variants | where: "available" | json }},
                title: bikes_custom_config['{{ product.id }}'].title,
                id: {{ product.id }},
                price: {{ product.price | money_without_trailing_zeros | json }},
                compare_at_price: {{ product.compare_at_price | money_without_trailing_zeros | json }},
                featured_image: {{ product.featured_image.src | json }},
                first_available_variant: {{ product.first_available_variant | json  }},
                ...bikes_custom_config['{{ product.id }}']
             })
        {% endfor %}


        for (const info of bikes_info) {
            $('.buyany select').append(new Option(info.title, info.id)) 
        }


        function updateTotal() {
            let total_price = 0
            let total_compare_at_price = 0
            let save = 20000

            $(`.buyany .priceeeeeeeeeeee`).each(function () {
                total_price += Number($(this).find('.u24DemiBold_v2').attr('price'))
                total_compare_at_price += Number($(this).find('.u20Light_v2').attr('compare_at_price'))
            })



            $('.buyany .total .u48DemiBold_v2').text(getPriceFormat(total_price - save, true))
            $('.buyany .total .yellow').text(`You Save ${getPriceFormat(total_compare_at_price - total_price + save, true)}`)
            $('.buyany .total .u17Light_v2').text(`(${getPriceFormat(total_compare_at_price - total_price, true)} OFF + EXTRA ${getPriceFormat(save, true)})`)
        }


        function changeVariant (target, variant) {
            target.find('.card img').attr('src', variant.featured_image.src + '&width=800')
            target.find('.style .u17Light_v2').text(variant.option2)
            target.find('.size .u17Light_v2').text(bikes_custom_config[variant.featured_image.product_id].size_map[variant.option1])
            target.find('.priceeeeeeeeeeee .u24DemiBold_v2').text(getPriceFormat(variant.price, true)).attr('price', variant.price)
            target.find('.priceeeeeeeeeeee .u20Light_v2').text(getPriceFormat(variant.compare_at_price, true)).attr('compare_at_price', variant.compare_at_price)
            target.attr('data-variant-id', variant.id)
        }


        function changeProduct (target, value) {
            const info = bikes_info.find(info => info.id === Number(value))

            changeVariant(target, info.first_available_variant)

            for (const style of info.style) {
                
            }

            target.find('.style .dots').html(info.style.map(s => `<div data-stye="${s}"></div>`).join('')).children().on('click', function () {
                const size = target.find('.size .sizes .active').text()
                const style = $(this).attr('data-stye')

                $(this).siblings().removeClass('active')
                $(this).addClass('active')

                changeVariant(target, info.variants.find(v => v.title === `${size} / ${style}`))
            }).first().addClass('active')

            target.find('.size .sizes').html(info.size.map(s => `<div class="u17Medium_v2">${s}</div>`).join('')).children().on('click', function () {
                const style = target.find('.style .dots .active').attr('data-stye')
                const size = $(this).text()

                $(this).siblings().removeClass('active')
                $(this).addClass('active')

                changeVariant(target, info.variants.find(v => v.title === `${size} / ${style}`))
            }).first().addClass('active')

            setTimeout(updateTotal)
            target.find('select').val(value)
        }


        // dom Load
        setTimeout(() => {
            $('.buyany select').on('change', function () {
                console.log('changegggggggggg')

                const name = $(this).attr('name')
                const value = $(this).val()
                const parent = $(this).parent().parent()

                changeProduct(parent, value)
            })

            $('.buyany .total .my-button').on('click', function() {
                $(this).addClass('loading')

                let cart = document.querySelector('cart-notification') || document.querySelector('cart-drawer');
                const variants = []

                $('.buyany div[data-variant-id]').each(function () {
                    variants.push($(this).attr('data-variant-id'))
                })

                fetch('/cart/clear.js').then(() => {
                    navigator.sendBeacon('/cart/add.js', new Blob([JSON.stringify({
                            items: variants.map(id => ({ id, quantity: 1 })),
                            sections: cart.getSectionsToRender().map(section => section.id).join(',')
                    })], {
                    type: 'application/json',
                }))

                    setTimeout(() => {
                        location.href = `/checkout`
                    }, 100)

                    // fetch('', {
                    //     method: 'POST',
                    //     headers: {
                    //     'Content-Type': 'application/json'
                    //     },
                    //     body: 
                    // })
                    //     .then(response => {
                    //         location.href = `/checkout`
                    //     })
                    //     .catch((error) => {
                    //         console.error('Error:', error);
                    //     }).finally(() => {
                            
                    //     })

                        
                }).finally(() => {
                    // $(this).removeClass('loading')
                })



                // fetch('/cart/add.js', {
                //     method: 'POST',
                //     body: JSON.stringify({
                //         items: variants.map(id => ({ id, quantity: 1 })),
                //         sections: cart.getSectionsToRender().map(section => section.id).join(',')
                //     }),
                //     headers: {
                //     'Content-Type': 'application/json',
                //     },
                // }).then((res) => res.json()).then(res => {
                //     cart.classList.contains('is-empty') && cart.classList.remove('is-empty');
                //     !(res.message && res.status) && cart.renderContents(res);
                // }).catch(console.error)
            })

            changeProduct($(`.buyany select[name="left"]`).parent().parent(), 8794812776696)
            changeProduct($(`.buyany select[name="right"]`).parent().parent(), 8230663028984)
        }, 100)
    </script>


<script>
    const items = [
        {
            image: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25019_2x_1f2872e0-9d52-4461-bdf5-a1d820b59ce2.jpg?v=1731481159',
            title: `Don’s Bicycle - Rialto`,
            span: `384 S Riverside Ave, Rialto, CA 92376`,
            tel: '(909) 875-7310',
            url: '/pages/test-ride?name=Don%27s%20Bicycles%20-%20Redlands'
        },
        {
            image: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25020_2x_e3126052-fdc2-4bba-8819-4e90df958ef4.jpg?v=1731485441',
            title: `Two Wheels One Planet`,
            span: `420 E 17th St, Costa Mesa, CA 92627`,
            tel: '(949) 646-7706',
            url: '/pages/test-ride?name=Two%20Wheels%20One%20Planet'
        },
        {
            image: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25021_2x_e19b861f-8266-4841-b267-9b493bfabedb.jpg?v=1731485446',
            title: `Orange Cycle`,
            span: `210 S Glassell St, Orange, CA 92866`,
            tel: '(714) 532-6838',
            url: '/pages/test-ride?name=Don%27s%20Bicycles%20-%20Redlands'
        },
        {
            image: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25022_2x_d3914ba7-6a92-4414-9b85-7d47ee6b1961.jpg?v=1731485452',
            title: `Bike Doctor - Annapolis`,
            span: `2138 Generals Hwy Unit A, Annapolis, MD 21401`,
            tel: '(410) 266-7383',
            url: '/pages/test-ride?name=Don%27s%20Bicycles%20-%20Redlands'
        },
        {
            image: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25027_2x_09cc4581-b094-4f0a-b6ea-62e3d82a9e6a.jpg?v=1731485458',
            title: `Cadence Cyclery of McKinney`,
            span: `119 S Tennessee St, McKinney, TX 75069`,
            tel: '(972) 548-7400',
            url: '/pages/test-ride?name=Cadence%20Cyclery%20of%20McKinney'
        },
        {
            image: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25023_2x_3d34103f-c46a-47ad-8cb9-d1281d2028cf.jpg?v=1731485463',
            title: `American Canyon Bike Shop`,
            span: `115 Klamath Ct, American Canyon, CA 94503`,
            tel: '(707) 334-8122',
            url: '/pages/test-ride?name=American%20Canyon%20Bike%20Shop'
        },
        {
            image: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25026_2x_86fa014a-ed68-43b1-a733-1f3751dd8687.jpg?v=1731485469',
            title: `Fitness Exchange - Conshohocken`,
            span: `1004 Ridge Pike I Conshohocken, PA 19428`,
            tel: '(610) 397-1780',
            url: '/pages/test-ride?name=FITNESS%20EXCHANGE%20CONSHOHOCKEN'
        },
        {
            image: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25028_2x_bf00b043-e721-4392-8eb8-50722e1d0490.jpg?v=1731485474',
            title: `Elecruiser Electric Bikes`,
            span: `Avenue Shops, 1954 NE 5th Ave #5th, Boca Raton, FL 33431`,
            tel: '(561) 221-6797',
            url: '/pages/test-ride?name=ELECRUISER%20ELECTRIC%20BIKES'
        },
        {
            image: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25025_2x_919602bd-fca0-4203-998a-bd5033e406f8.jpg?v=1731485480',
            title: `Julio Bicycles`,
            span: `45 S Bedford Rd, Chappaqua, NY 10514`,
            tel: '(914) 238-1312',
            url: '/pages/test-ride?name=Julio%20Bicycles'
        },
        {
            image: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25024_2x_d396db2c-0c0f-40e1-be0e-cde68acce4d4.jpg?v=1731485485',
            title: `Spokes - Naperville`,
            span: `1807 S Washington St Ste 112, Naperville, IL 60565`,
            tel: '(630) 961-8222',
            url: '/pages/test-ride?name=Spokes%20Bikes%20-%20Wheaton'
        }
    ]

    for (const item of items) {
        const html = $(`<div class="swiper-slide"><img src="${item.image}"/><span class="u20DemiBold_v2">${item.title}</span><span class="u17Light_v2" style="margin: 0;">${item.span}</span><a class="my-link" href="tel:${item.tel}">${item.tel}</a></div>`)
        $('.test-ride .swiper-wrapper').append(html)

        setTimeout(() => {
            html.on('click', function () {
                window.open(item.url)
            })
        })
    }


    setTimeout(() => {
        new Swiper('.test-ride .centeral-content', {
            slidesPerView: global_config.is_mobile ? 1.35 : 4.5,
            spaceBetween: 20,
            navigation: {
            nextEl: '.test-ride .centeral-content .swiper-button-next',
            prevEl: '.test-ride .centeral-content .swiper-button-prev',
            },
            scrollbar: {
                el: '.test-ride .centeral-content .swiper-scrollbar',
                draggable: true,
            },
       });
    }, 300)
</script>