{{ 'black-friday.scss.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'outlet_v4.scss.css' | asset_url | stylesheet_tag: preload: true }}
<h1 class="er-sr-only">{{ page_title }}</h1>

<div class="bannerrrrrr background-image">
  {% render 'image', class: "mb:!er-object-top", first_screen: true, src: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24938_2x_b591b7b4-2446-4d64-bdde-3ad5fd64b772.jpg?v=1761708006', mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24973_2x_22f19949-2ae3-44d0-ba84-a57fa07d945c.jpg?v=1736233726" %}
  <div class="centeral-content">
    <div class="swiperrrr">
      <div class="top">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <iframe
              title="YouTube video player"
              src="https://www.youtube.com/embed/ER6RvxmvaHc?start=0&amp;autoplay=0&amp;loop=1&amp;mute=0&amp;controls=1&amp;enablejsapi=1"
              height="100%"
              width="100%"
              allowfullscreen=""
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              frameborder="0"
            >
            </iframe>
          </div>
          <div class="swiper-slide">
            <iframe
              title="YouTube video player"
              class="mobileHide lozad"
              src="https://www.youtube.com/embed/f8IBwKcaMew?start=0&amp;autoplay=0&amp;loop=1&amp;mute=0&amp;controls=1&amp;enablejsapi=1"
              height="100%"
              width="100%"
              allowfullscreen=""
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              frameborder="0"
            >
            </iframe>
          </div>
          <div class="swiper-slide">
            <iframe
              title="YouTube video player"
              class="mobileHide lozad"
              src="https://www.youtube.com/embed/-JIBlqOd3U0?start=0&amp;autoplay=0&amp;loop=1&amp;mute=0&amp;controls=1&amp;enablejsapi=1"
              height="100%"
              width="100%"
              allowfullscreen=""
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              frameborder="0"
            >
            </iframe>
          </div>
          <div class="swiper-slide">
            <iframe
              title="YouTube video player"
              class="mobileHide lozad"
              data-src="https://www.youtube.com/embed/8haN5tLyhIk?start=0&amp;autoplay=0&amp;loop=1&amp;mute=0&amp;controls=1&amp;enablejsapi=1"
              height="100%"
              width="100%"
              allowfullscreen=""
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              frameborder="0"
            >
            </iframe>
          </div>
          <div class="swiper-slide">
            <iframe
              class="mobileHide lozad"
              title="YouTube video player"
              data-src="https://www.youtube.com/embed/Adj2WsYXM8g?start=0&amp;autoplay=0&amp;loop=1&amp;mute=0&amp;controls=1&amp;enablejsapi=1"
              height="100%"
              width="100%"
              allowfullscreen=""
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              frameborder="0"
            >
            </iframe>
          </div>
          <div class="swiper-slide">
            <iframe
              title="YouTube video player"
              class="mobileHide lozad"
              data-src="https://www.youtube.com/embed/V_YWOzAZdBg?start=0&amp;autoplay=0&amp;loop=1&amp;mute=0&amp;controls=1&amp;enablejsapi=1"
              height="100%"
              width="100%"
              allowfullscreen=""
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              frameborder="0"
            >
            </iframe>
          </div>
        </div>
        <!-- <div class="swiper-pagination pcHide"></div> -->
      </div>
      <div class="bottom mobileHide">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              width="100"
              height="71"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20251104-172327.jpg?v=1762248237&width=200"
              alt="{{ page_description }}"
            >
          </div>
          <div class="swiper-slide">
            <img
              width="100"
              height="60"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20251104-172333.jpg?v=1762248237&width=200"
              alt="{{ page_description }}"
            >
          </div>
          <div class="swiper-slide">
            <img
              width="100"
              height="71"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250421-165428.jpg?v=1745225692&width=200"
              alt="{{ page_description }}"
            >
          </div>
          <div class="swiper-slide">
            <img
              width="100"
              height="71"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25108_2x_6c97fddb-8a1e-4b40-a0e8-f01558092ede.jpg?v=1731313573&width=200"
              alt="{{ page_description }}"
            >
          </div>
          <div class="swiper-slide">
            <img
              width="100"
              height="71"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/sddefault_1.webp?v=1731320183&width=200"
              alt="{{ page_description }}"
            >
          </div>
          <div class="swiper-slide">
            <img
              width="100"
              height="71"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/hqdefault.jpg?v=1737616585&width=200"
              alt="{{ page_description }}"
            >
          </div>
        </div>
      </div>
    </div>
    <div>
      <img class="mb:er-max-w-80" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26286_2x_17578820-4694-4d62-a904-b1ddf4642fd1.png?v=1761720735" width="240" height="200" alt="">
      <h2 class="text-size48 mb:er-text-5xl er-text-[#FF7BAE] er-mt-20 er-mb-16 mb:er-mx-auto mb:er-my-12 mb:er-text-center" style="color: #E0BD76;">
        Up to $1200 OFF
      </h2>
      <div>
        <h3 class="u24DemiBold_v2">Why Choose Urtopia</h3>
        <ul class="u17Light_v2">
          <li>Lightest eBikes, Proven Performance</li>
          <li>Premium Carbon Fiber, Unbeatable Value</li>
          <li>Smart Anti-Theft with Real-Time Tracking</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="er-bg-[#2B2928] er-py-12 er-text-white">
      <div
          class="centeral-content er-flex er-items-center er-justify-between mb:er-grid mb:er-grid-cols-2 mb:er-gap-y-8 mb:er-px-6">
          <div class="er-flex er-items-center mb:er-flex-col mb:er-text-center">
              <img width="40" height="40"
                  src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19756_2x_e2b53825-2320-4487-8ae0-f02285795974.png?v=1761721541"
                  alt="{{ page_title }}">
              <span class="text-size18 er-ml-5 mb:er-m-0 mb:er-text-2xl mb:er-mt-2">Safety Certified</span>
          </div>
          <div class="er-flex er-items-center mb:er-flex-col mb:er-text-center">
              <img width="40" height="40"
                  src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19753_2x_ea64cdfe-966a-4011-948a-f3dff24fd5fa.png?v=1761721547"
                  alt="{{ page_title }}">
              <span class="text-size18 er-ml-5 mb:er-m-0 mb:er-text-2xl mb:er-mt-2">Free Shipping</span>
          </div>
          <div class="er-flex er-items-center mb:er-flex-col mb:er-text-center">
              <img width="40" height="40"
                  src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19629_2x_2170cc48-ccc7-464f-bb32-a1fab5aaf6c2.png?v=1761721552"
                  alt="{{ page_title }}">
              <span class="text-size18 er-ml-5 mb:er-m-0 mb:er-text-2xl mb:er-mt-2">2 Year Warranty</span>
          </div>
          <div class="er-flex er-items-center mb:er-flex-col mb:er-text-center">
              <img width="40" height="40"
                  src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19754_2x_7520ae08-c68c-46fd-94c0-dffe3ca1a904.png?v=1761721557"
                  alt="{{ page_title }}">
              <span class="text-size18 er-ml-5 mb:er-m-0 mb:er-text-2xl mb:er-mt-2">30-Day Price Guarantee</span>
          </div>
      </div>
  </div>
<div class="er-bg-[#1C1B19] er-py-48 mb:er-py-16 er-text-white">
        <div class="centeral-content er-grid er-grid-cols-3 er-gap-16 mb:er-grid-cols-1 mb:er-px-6 mb:er-gap-y-5">
            <div class="er-rounded-2xl er-bg-[url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26327_2x_b796e698-2876-4cdd-8745-04d156ec1399.jpg?v=1761722902')] er-bg-center er-bg-cover er-bg-no-repeat">
                <div
                    class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-translate-y-[-30px] mb:er-translate-y-0 mb:er-flex-row mb:er-py-6 mb:er-px-8 mb:er-justify-start mb:er-text-left mb:er-gap-x-10">
                    <img class="mb:er-max-w-24" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26289_2x_11f2feee-3767-4538-9d84-db003b7a6ca5.png?v=1761722752" width="110" height="72" alt="">
                    <span class="text-size20 er-mt-12 er-mb-2 mb:er-text-2xl mb:er-my-0">High-value carbon
                        eBike<br>starting at <span class="text-size16 er-font-bold md:er-hidden" style="color: #E0BD76;">{{ all_products['urtopia-carbon-fold'].price | money_without_trailing_zeros }}</span></span>
                    <span class="text-size36 mb:er-text-4xl mb:er-hidden" style="color: #E0BD76;">{{ all_products['urtopia-carbon-fold'].price | money_without_trailing_zeros }}</span>
                </div>
            </div>
            <div class="er-rounded-2xl er-bg-[url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26327_2x_b796e698-2876-4cdd-8745-04d156ec1399.jpg?v=1761722902')] er-bg-center er-bg-cover er-bg-no-repeat">
                <div
                    class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-translate-y-[-30px] mb:er-translate-y-0 mb:er-flex-row mb:er-py-6 mb:er-px-8 mb:er-justify-start mb:er-text-left mb:er-gap-x-10">
                    <img class="mb:er-max-w-24" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26290_2x_7701ff81-1b6c-4e1b-b384-17b557c34e25.png?v=1761722745" width="110" height="72" alt="">
                        <div class="er-grid er-grid-cols-2 er-mt-12 er-gap-x-20 mb:er-grid-cols-1 mb:er-my-0">
                            <div class="er-flex er-flex-col er-text-center er-items-center mb:er-flex-row mb:er-gap-x-2">
                                <span class="text-size20 mb:er-text-2xl">Save</span>
                                <span class="text-size36 er-my-1 mb:er-text-2xl" style="color: #E0BD76;">{{ 20000 | money_without_trailing_zeros }}</span>
                                <span class="text-size20 mb:er-text-2xl">on {{ 300000 | money_without_trailing_zeros }}</span>
                            </div>
                            <div class="er-flex er-flex-col er-text-center er-items-center mb:er-flex-row mb:er-gap-x-2">
                                <span class="text-size20 mb:er-text-2xl">Save</span>
                                <span class="text-size36 er-my-1 mb:er-text-2xl" style="color: #E0BD76;">{{ 50000 | money_without_trailing_zeros }}</span>
                                <span class="text-size20 mb:er-text-2xl">on {{ 500000 | money_without_trailing_zeros }}</span>
                            </div>
                        </div>
                </div>
            </div>
            <div class="er-rounded-2xl er-bg-[url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26327_2x_b796e698-2876-4cdd-8745-04d156ec1399.jpg?v=1761722902')] er-bg-center er-bg-cover er-bg-no-repeat">
                <div
                    class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-translate-y-[-30px] mb:er-translate-y-0 mb:er-flex-row mb:er-py-6 mb:er-px-8 mb:er-justify-start mb:er-text-left mb:er-gap-x-10">
                    <img class="mb:er-max-w-24" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26291_2x_721be2e8-732b-4863-9bc7-337208e00956.png?v=1761722739" width="110" height="72" alt="">
                    <span class="text-size20 er-mt-12 er-mb-2 mb:er-text-2xl mb:er-my-0"><span class="er-font-bold md:er-hidden" style="color: #E0BD76;">Free installation</span><br class="md:er-hidden">At selected<br class="mb:er-hidden"><span> stores</span></span>
                    <span class="text-size36 mb:er-text-4xl mb:er-hidden" style="color: #E0BD76;">Free installation</span>
                </div>
            </div>
        </div>
    </div>
<div class="er-bg-[#1C1B19] er-text-white">
        <div class="centeral-content mb:er-px-6">
            <div class="background-image er-aspect-[1280/450] mb:er-aspect-auto er-rounded-3xl er-overflow-hidden">
            {% render 'image', class: "mb:!er-object-top" width: 1440, mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26315_2x_3ec5759f-71a3-4f77-a6a6-e12a1b99563a.jpg?v=1761733394", src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/n_2x_84725590-7d15-4d4d-95e7-ee78c8d1d870.jpg?v=1761731616" %}
                 <!-- <div class="background-mask !er-w-1/2 mb:er-hidden" style="background-image: linear-gradient(90deg, #0888BA, #0D89BA00);"></div>     -->
                 <div
                    class="er-flex er-flex-col er-items-start er-justify-center er-h-full er-pl-28 er-max-w-2xl mb:er-px-8 mb:er-pt-10">
                    <h2
                        class="er-m-0 er-text-white text-size18 er-bg-gradient-to-r er-from-[rgb(180,141,61)] er-to-[rgb(222,187,116)] er-py-3 er-px-11 er-rounded-full mb:er-self-center mb:er-text-2xl">
                        <b>NEW ARRIVALS</b>
                    </h2>
                    <div class="md:er-hidden er-aspect-square er-w-9/12"></div>
                    <h3 class="er-m-0 er-text-white text-size18 er-font-medium er-mt-16 mb:er-text-2xl">Carbon Classic & Classic ST</h3>
                    <span class="text-size30 er-mt-4 mb:er-text-4xl"><u
                            class="text-size24 mb:er-text-3xl">Was $2,299</u> <u>Now $1,999</u></span>
                    <p class="text-size18 er-mb-16 er-mt-8 mb:er-text-2xl mb:er-mb-10 mb:er-mt-6">
                        <span>
                           With an ultra-light carbon frame, up to 75 miles of range, and a design that’s easy, comfy, and built tough — this is the best deal on a premium carbon e-bike.
                        </span>
                    </p>
                    <a class="er-button er-button-white mb:er-mb-20" href="/products/urtopia-carbon-classic-ebike" target="_blank">Shop now</a>
                </div>
            </div>
        </div>
    </div>

<div class="er-bg-[#1C1B19]">
  <div class="centeral-content ebike-products er-flex er-flex-col">
    <h2 class="er-m-0 text-size36 er-text-center mb:er-text-4xl mb:er-text-left er-mb-4 er-text-white" style="color: #E0BD76;">Black Friday Ebike Deals</h2>
    <p class="text-size18 er-text-center er-opacity-80 mb:er-text-left mb:er-text-2xl er-max-w-screen-md er-mb-20 er-mx-auto mb:er-mb-8 er-text-white">
        <span>Explore Urtopia’s lightweight Toray carbon e-bikes: seamless pedal assist, smart tech, and exclusive Black Friday savings on commuter, trekking, folding, fat-tire, and long-range models.</span>
    </p>
    {% render 'product-cards' %}
</div>
</div>
<div class="er-bg-[#1C1B19]">
  {% render 'sale-buy-any' %}
</div>
<div class="er-bg-[#1C1B19] er-py-48 mb:er-pt-20 mb:er-pb-0">
  <div class="centeral-content er-text-white mb:er-px-0">
  <div class="er-grid er-grid-cols-2 er-gap-8 mb:er-grid-cols-1 mb:er-gap-6">
    <div class="er-flex er-flex-col background-image er-aspect-[9/8] er-rounded-2xl er-p-16 mb:er-aspect-[315/260] mb:er-rounded-none mb:er-text-center mb:er-items-center mb:er-pt-8">
      {% render 'image', src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26036_2x_8b1f4cc2-547e-4903-8256-33c0ec872abe.jpg?v=1757643572", mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26062_2x_e257febd-536f-4158-823b-c1cca7ed71af.jpg?v=1757644208" %}
      <h3 class="text-size30 mb:er-text-4xl">Compare e-bikes</h3>
      <p class="text-size18 mb:er-text-2xl er-opacity-90 er-mt-4 mb:er-my-6">
        <span>In-depth Urtopia specs comparison.</span>
      </p>
      <span class="er-flex-1 mb:er-hidden"></span>
      <a href="/pages/compare-e-bikes" class="er-button er-button-white" target="_blank" rel="noopener noreferrer">Learn More</a>
    </div>
    <div class="er-flex er-flex-col background-image er-aspect-[9/8] er-rounded-2xl er-p-16 mb:er-aspect-[315/260] mb:er-rounded-none mb:er-text-center mb:er-items-center mb:er-pt-8">
      {% render 'image', src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSC00246_2x_a37f767d-b4a3-45c1-b752-10ba48dae86d.jpg?v=1757643568", mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26071_2x_2461a0a8-c562-4645-9ebe-d1bac2b76222.jpg?v=1757645219" %}
      <h3 class="text-size30 mb:er-text-4xl">Find Your Perfect Ride</h3>
      <p class="text-size18 mb:er-text-2xl er-opacity-90 er-mt-4 mb:er-my-6">
        <span>Take an e-bike quiz to discover which Urtopia<br class="mb:er-hidden">model is your perfect fit.</span>
      </p>
      <span class="er-flex-1 mb:er-hidden"></span>
      <button class="er-button er-button-white start-quiz-btn">E-bike quiz</button>
    </div>
  </div>
</div>
</div>
  <div class="er-bg-background">
    <div class="centeral-content er-pt-48 er-flex er-flex-col mb:er-pt-24 mb:er-pb-24 mb:er-px-6">
        <h2 class="er-m-0 text-size36 er-text-center mb:er-text-4xl mb:er-text-left">Browse All Electric Bike Models</h2>
        <p class="text-size18 er-text-center er-opacity-80 mb:er-text-left mb:er-text-2xl er-mb-20 mb:er-mt-3 mb:er-mb-8">
            <span>Urban commutes, weekend adventures, or off-road thrills – there’s a model for you.</span>
        </p>
        {% render 'home-bike-card' %}
</div>
</div>

<div class="er-py-56 mb:er-pt-8 mb:er-pb-0 er-relative er-w-full er-overflow-hidden er-bg-background-warm">
        {% render "media-logos" %}
</div>
<div class="er-bg-background-warm professional" id="professional">
  <div class="centeral-content er-flex er-flex-col er-pb-56 mb:er-pb-28 mb:er-px-6">
    <h2 class="er-m-0 text-size36 er-text-center mb:er-text-4xl mb:er-text-left">Real Reviews, Real Riders!</h2>
        <p class="text-size18 er-text-center er-opacity-80 mb:er-text-left mb:er-text-2xl mb:er-mt-3 er-mb-20 mb:er-mb-8">
            <span>See why YouTubers are raving about Urtopia eBikes!</span>
        </p>
        {%render 'professional-reviewers' %}
  </div>
</div>
    <div class="er-bg-background-warm er-pb-48 mb:er-pb-24">
        <div class="centeral-content mb:er-px-6">
            <h2 class="er-m-0 text-size36 er-text-center er-w-full mb:er-text-4xl mb:er-text-left">What Our Riders Say</h2>
            <div
                class="er-grid er-grid-cols-3 er-gap-x-10 er-mt-20 mb:er-mt-10 mb:er-flex mb:er-overflow-x-scroll mb:er-pb-16 mb:er-gap-x-8">
                <div class="er-p-12 er-bg-[#F5F0ED] er-rounded-2xl er-flex er-flex-col mb:er-p-6 mb:er-min-w-[70vw]">
                    <img width="640" height="640" class="er-rounded-2xl er-overflow-hidden"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/439_2x_225cd678-7a9e-44e4-a7a1-73147a440ed4.jpg?v=1742975925&width=500"
                        loading="lazy" alt="{{ page_title }}">
                    <div class="er-flex er-my-6 mb:er-my-4">
                        <div class="star" style="--star-size: 18px;"></div>
                        <div class="star" style="--star-size: 18px;"></div>
                        <div class="star" style="--star-size: 18px;"></div>
                        <div class="star" style="--star-size: 18px;"></div>
                        <div class="star" style="--star-size: 18px;"></div>
                    </div>
                    <p class="text-size16 mb:er-text-2xl">
                        <span>“The lightweight and portable ebike I’ve been seeking” <br>– Doctor J.</span>
                    </p>
                </div>
                <div class="er-p-12 er-bg-[#F5F0ED] er-rounded-2xl er-flex er-flex-col mb:er-p-6 mb:er-min-w-[70vw]">
                    <img width="640" height="640" class="er-rounded-2xl er-overflow-hidden"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/440_2x_9affd041-56c1-4f5a-be83-8417094b05ef.jpg?v=1742976197&width=500"
                        loading="lazy" alt="{{ page_title }}">
                    <div class="er-flex er-my-6 mb:er-my-4">
                        <div class="star" style="--star-size: 18px;"></div>
                        <div class="star" style="--star-size: 18px;"></div>
                        <div class="star" style="--star-size: 18px;"></div>
                        <div class="star" style="--star-size: 18px;"></div>
                        <div class="star" style="--star-size: 18px;"></div>
                    </div>
                    <p class="text-size16">
                        <span>“My Urtopia E-Bike Performed FLAWLESSLY !”<br> – David P.</span>
                    </p>
                </div>
                <div class="er-p-12 er-bg-[#F5F0ED] er-rounded-2xl er-flex er-flex-col mb:er-p-6 mb:er-min-w-[70vw]">
                    <img width="640" height="640" class="er-rounded-2xl er-overflow-hidden"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/441_2x_b5b41441-a90f-4df7-8853-a6fd0c1c6ddf.jpg?v=1742976189&width=500"
                        loading="lazy" alt="{{ page_title }}">
                    <div class="er-flex er-my-6 mb:er-my-4">
                        <div class="star" style="--star-size: 18px;"></div>
                        <div class="star" style="--star-size: 18px;"></div>
                        <div class="star" style="--star-size: 18px;"></div>
                        <div class="star" style="--star-size: 18px;"></div>
                        <div class="star" style="--star-size: 18px;"></div>
                    </div>
                    <p class="text-size16">
                        <span>“This is the best ebike I’ve ever ridden!” <br>– Frank L.</span>
                    </p>
                </div>
            </div>
            <div class="faq er-pt-24 mb:er-pt-16" style="margin: 0;">
        <div class="centeral-content mb:!er-px-6">
          <h3 class="u36Medium_v2">FAQs</h3>
          <div class="items">
            <div class="item">
              <div class="u24Medium_v2 text-size24">
                <img loading="lazy" width="25" height="16" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Untitled-1.svg?v=1738911832" alt="{{ page_title }}">1. What makes Urtopia eBikes different from other eBikes?
              </div>
              <p class="u17Light_v2 text-size18">
                <span>
                    Urtopia eBikes stand out with their full <a class="my-link" href="https://newurtopia.com/pages/carbon-expert">carbon fiber</a> frame, making them significantly lighter and more durable than standard aluminum models. This premium design improves riding efficiency and comfort, ideal for long commutes or fitness rides. Despite the high-end build, Urtopia offers competitive e bike price options, making it one of the best values among electric bikes for sale. It’s a top choice for riders seeking performance without overpaying.
                </span>
              </p>
            </div>
            <div class="item">
              <div class="u24Medium_v2 text-size24">
                <img loading="lazy" width="25" height="16" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Untitled-1.svg?v=1738911832" alt="{{ page_title }}">2. Do I need to assemble the eBike myself?
              </div>
              <p class="u17Light_v2 text-size18">
                <span>No worries! Your eBike arrives 90% pre-assembled, so you won’t need to be a mechanic to get started. We include clear, <a class="my-link" href="https://newurtopia.com/pages/tutorials">step-by-step guides</a> to help you complete the setup quickly and easily at home. During special promotions, such as Easter, select stores even offer free professional assembly services. Whether you're exploring the electric bikes for sale market or looking for the cheapest electric bike with premium features, Urtopia makes setup simple and stress-free.</span>
              </p>
            </div>
            <div class="item">
              <div class="u24Medium_v2 text-size24">
                <img loading="lazy" width="25" height="16" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Untitled-1.svg?v=1738911832" alt="{{ page_title }}">3. What if I don't fit the model? Can I return it?
              </div>
              <p class="u17Light_v2 text-size18">
               <span>Absolutely! If your Urtopia eBike doesn’t fit, you can return it within 14 days, as long as it's unused and in its original packaging. For full details, please check our <a class="my-link" href="https://newurtopia.com/pages/refund-policy">return policy</a>. We want you to feel confident with your purchase, whether you're browsing the electric bike for sale section or comparing options in the ebikes sale market. Not sure which size is right for you? Our LiveChat experts are always ready to assist, helping you find the perfect fit at the right e bike price.</span>
              </p>
            </div>
            <div class="item">
              <div class="u24Medium_v2 text-size24">
                <img loading="lazy" width="25" height="16" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Untitled-1.svg?v=1738911832" alt="{{ page_title }}">4. What warranty does Urtopia provide?
              </div>
              <p class="u17Light_v2 text-size18">
                <span>Urtopia offers a comprehensive <a class="my-link" href="https://newurtopia.com/pages/warranty">2-year warranty</a> on the carbon fiber frame and all critical electrical components, ensuring you can ride with confidence and peace of mind. This warranty reflects our commitment to quality and durability, setting us apart in the crowded market of electric bikes for sale. Whether you’re looking for the cheapest electric bike or a high-performance model, Urtopia combines an attractive e bike price with reliable after-sales support, so your investment is well protected for years to come.</span>
              </p>
            </div>
            <div class="item">
              <div class="u24Medium_v2 text-size24">
                <img loading="lazy" width="25" height="16" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Untitled-1.svg?v=1738911832" alt="{{ page_title }}">5. Can I test ride a Urtopia eBike before buying?
              </div>
              <p class="u17Light_v2 text-size18">
                <span>Yes! You can test ride Urtopia eBikes at over 700 partner stores across the U.S. These locations offer not only test rides but also ordering and professional service support. Whether you’re browsing through electric bikes for sale or looking for the cheapest electric bike with premium features, visiting a store lets you experience the quality and performance firsthand. This way, you can confidently choose the best eBike that fits your needs and budget before making a purchase at a competitive e bike price.[<a class="my-link" href="https://newurtopia.com/pages/test-ride">Find a Store Near You</a>]</span>
              </p>
            </div>
            <div class="item">
              <div class="u24Medium_v2 text-size24">
                <img loading="lazy" width="25" height="16" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Untitled-1.svg?v=1738911832" alt="{{ page_title }}">6. Are Urtopia eBikes suitable for beginners?
              </div>
              <p class="u17Light_v2 text-size18">
                <span>Absolutely! Urtopia eBikes are designed with beginners in mind, featuring intuitive controls and smart assist modes that make riding smooth and effortless for everyone. Whether you’re new to cycling or transitioning from a traditional bike, our eBikes provide a comfortable and confident ride. With ongoing ebikes sale events and a wide selection of our electric bicycles sale, it’s easy and affordable for beginners to find the perfect model that suits their needs and skill level.<br><br>
Plus, check out our [<a class="my-link" href="https://newurtopia.com/blogs/blog/first-time-e-bike-riding-beginners-guide">Beginner’s Guide to eBiking</a>] for tips!</span>
              </p>
            </div>
            <div class="item">
              <div class="u24Medium_v2 text-size24">
                <img loading="lazy" width="25" height="16" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Untitled-1.svg?v=1738911832" alt="{{ page_title }}">7. Can I use Urtopia eBikes in the rain?
              </div>
              <p class="u17Light_v2 text-size18">
                <span>Yes! Urtopia eBikes are built with an IPX65 water-resistant rating, so they can easily handle light rain and wet road conditions without any issues. This makes them a reliable choice for daily commuting or casual rides, even when the weather isn’t perfect. Just be sure to avoid deep puddles or fully submerging the battery to keep everything safe and functioning properly. With competitive pricing that includes some of the cheapest electric bike options and frequent deals in our electric bicycles sale, Urtopia offers durable and weather-ready eBikes for all riders.</span>
              </p>
            </div>
            <div class="item">
                <div class="u24Medium_v2 text-size24">
                  <img loading="lazy" width="25" height="16" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Untitled-1.svg?v=1738911832" alt="{{ page_title }}">8. How do I get support if I have an issue?
                </div>
                <p class="u17Light_v2 text-size18">
                <span>We’ve got you covered! Our dedicated support team is always ready to assist you with any questions or concerns about your Urtopia eBike. Whether you purchased one of the cheapest electric bike models or a higher-end option with a premium e bike price, we ensure reliable help every step of the way. You can reach us easily via email at <a class="my-link" href="mailto:support@newurtopia.com">support@newurtopia.com</a> or use the Live Chat feature available on our website. Plus, with frequent electric bicycles sale events, we’re committed to providing excellent service alongside great deals.</span>
                </p>
              </div>
              <div class="item">
                <div class="u24Medium_v2 text-size24">
                  <img loading="lazy" width="25" height="16" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Untitled-1.svg?v=1738911832" alt="{{ page_title }}">9. Do you offer financing options for Urtopia eBikes?
                </div>
                <p class="u17Light_v2 text-size18">
                   <span>Yes! We offer 0% interest financing through Affirm and Klarna, allowing you to spread the cost over up to 24 months. This makes owning a high-quality Urtopia eBike more accessible, whether you’re browsing electric bikes for sale or hunting for the cheapest electric bike with premium features. Simply select your preferred payment plan at checkout to enjoy a great e bike price without upfront financial strain. Take advantage of our ebikes sale events and ride smarter today!</span>
                </p>
              </div>
          </div>
        </div>
      </div>
        </div>
    </div>

    <div class="er-text-white er-py-48 mb:er-py-24">
        <div class="centeral-content mb:er-px-6">
            <div class="background-image er-aspect-[1280/500] mb:er-aspect-auto er-rounded-t-3xl er-overflow-hidden">
            {% render 'image', width: 1440, class: "mb:!er-object-top mb:!er-object-contain", mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20230802-150015_2x_459af18d-6e27-49b9-8683-08050dab0c21.jpg?v=1742980680", src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25697_2x_783f8fa0-bdec-4eba-a76f-d46c65d98168.jpg?v=1742980289" %}
                <div class="er-grid er-grid-cols-2 er-h-full er-gap-x-32 mb:er-grid-cols-1">
                    <div class="er-w-2/3 er-aspect-square"></div>
                    <div class="er-flex er-flex-col er-items-start er-justify-center mb:er-pl-8 mb:er-pb-12"
                        style="background-image: linear-gradient(180deg, #00000000 0%, #000000 37%, #000000 100%);">
                        <h2 class="er-m-0 er-text-white text-size36 mb:er-text-4xl">{{ settings.shop_count }} U.S. Stores<br> We’ve Got You
                            Covered</h2>
                        <p class="text-size18 er-opacity-80 er-max-w-2xl er-mt-8 er-mb-24 mb:er-text-2xl mb:er-my-10">
                            <span>Buying online? No worries! Our nationwide stores ensure a hassle-free
                                experience.</span>
                        </p>
                        <a class="er-button er-button-white" href="https://newurtopia.com/pages/find-a-dealer" target="_blank">Find a Store Near Me</a>
                    </div>
                </div>
            </div>
            <div
                class="er-bg-background-warm er-text-dark er-grid er-grid-cols-3 er-py-20 er-rounded-b-3xl mb:er-grid-cols-1 mb:er-px-6 mb:er-py-10 mb:er-gap-y-5">
                <div class="er-flex er-items-center er-self-center er-justify-center mb:er-justify-start">
                    <svg class="mb:er-max-w-16" xmlns="http://www.w3.org/2000/svg" height="48px"
                        viewBox="0 -960 960 960" width="48px" fill="#333">
                        <path
                            d="M355.08-140H200q-24.92 0-42.46-17.54T140-200v-155.08q41.08-5 70.54-34.15Q240-418.39 240-460t-29.46-70.77q-29.46-29.15-70.54-34.15V-720q0-24.92 17.54-42.46T200-780h160q5.39-38.15 33.42-62.92 28.04-24.77 66.58-24.77t66.58 24.77Q554.61-818.15 560-780h160q24.92 0 42.46 17.54T780-720v160q38.15 5.39 62.92 33.42 24.77 28.04 24.77 66.58t-24.77 66.58Q818.15-365.39 780-360v160q0 24.92-17.54 42.46T720-140H564.92q-5.38-43.08-35.15-71.54Q500-240 460-240t-69.77 28.46q-29.77 28.46-35.15 71.54ZM200-200h108.46q20.54-52.92 64.89-76.46Q417.69-300 460-300t86.65 23.54Q591-252.92 611.54-200H720v-217.69h49.23q18.38-2.31 28.42-14.85 10.04-12.54 10.04-27.46 0-14.92-10.04-27.46-10.04-12.54-28.42-14.85H720V-720H502.31v-49.23q-2.31-18.38-14.85-28.42-12.54-10.04-27.46-10.04-14.92 0-27.46 10.04-12.54 10.04-14.85 28.42V-720H200v109.54q45.54 18.85 72.77 59.88Q300-509.54 300-460q0 48.92-27.23 89.96Q245.54-329 200-309.54V-200Zm260-260Z" />
                    </svg>
                    <div class="er-flex er-flex-col er-ml-6">
                        <h3 class="er-m-0 er-text-dark text-size18 mb:er-text-2xl"><b>FREE Test Ride</b></h3>
                        <span class="text-size14 er-opacity-80 mb:er-text-xl">One ride says it all.</span>
                    </div>
                </div>
                <div class="er-flex er-items-center er-self-center er-justify-center mb:er-justify-start">
                    <svg class="mb:er-max-w-16" xmlns="http://www.w3.org/2000/svg" height="48px"
                        viewBox="0 -960 960 960" width="48px" fill="#333">
                        <path
                            d="m699.08-135.85-252-253.23q-21.16 9.16-43.01 14.12-21.86 4.96-46.38 4.96-95.83 0-162.91-67.08-67.09-67.09-67.09-162.92 0-31 7.89-59.27 7.88-28.27 22.42-53.81l143.69 142.93L387.54-656 245.39-798.92q25.53-14.54 53.45-22.81t58.85-8.27q95.84 0 162.92 67.08 67.08 67.09 67.08 162.92 0 25.31-4.77 47.15-4.77 21.85-14.31 42.24l253.24 252q10.46 10.59 10.46 25.6 0 15.01-10.38 25.39l-72.63 72.63q-10.38 10.37-25.07 9.99-14.69-.39-25.15-10.85Zm25.54-59.99 36.61-36.62-266.38-266.39q16.84-20.77 24.84-47.27 8-26.5 8-53.88 0-66.54-47.54-117.77Q432.61-769 359.84-768l86.7 86.69q10.84 10.85 10.84 25.31 0 14.46-10.84 25.31L327-511.15q-10.85 10.84-25.31 10.84-14.46 0-25.31-10.84l-86.69-86.7q.15 77 51.77 122.43Q293.08-430 357.69-430q26.26 0 52.52-7.81 26.25-7.8 48.02-24.42l266.39 266.39ZM472-486.46Z" />
                    </svg>
                    <div class="er-flex er-flex-col er-ml-6">
                        <h3 class="er-m-0 er-text-dark text-size18 mb:er-text-2xl"><b>Easy Maintenance & Repairs</b>
                        </h3>
                        <span class="text-size14 er-opacity-80 mb:er-text-xl">Real people, real support.</span>
                    </div>
                </div>
                <div class="er-flex er-items-center er-self-center er-justify-center mb:er-justify-start">
                    <svg class="mb:er-max-w-16" xmlns="http://www.w3.org/2000/svg" height="48px"
                        viewBox="0 -960 960 960" width="48px" fill="#333">
                        <path
                            d="M480-492.31q-57.75 0-98.87-41.12Q340-574.56 340-632.31q0-57.75 41.13-98.87 41.12-41.13 98.87-41.13 57.75 0 98.87 41.13Q620-690.06 620-632.31q0 57.75-41.13 98.88-41.12 41.12-98.87 41.12ZM180-187.69v-88.93q0-29.38 15.96-54.42 15.96-25.04 42.66-38.5 59.3-29.07 119.65-43.61 60.35-14.54 121.73-14.54t121.73 14.54q60.35 14.54 119.65 43.61 26.7 13.46 42.66 38.5Q780-306 780-276.62v88.93H180Zm60-60h480v-28.93q0-12.15-7.04-22.5-7.04-10.34-19.11-16.88-51.7-25.46-105.42-38.58Q534.7-367.69 480-367.69q-54.7 0-108.43 13.11-53.72 13.12-105.42 38.58-12.07 6.54-19.11 16.88-7.04 10.35-7.04 22.5v28.93Zm240-304.62q33 0 56.5-23.5t23.5-56.5q0-33-23.5-56.5t-56.5-23.5q-33 0-56.5 23.5t-23.5 56.5q0 33 23.5 56.5t56.5 23.5Zm0-80Zm0 384.62Z" />
                    </svg>
                    <div class="er-flex er-flex-col er-ml-6">
                        <h3 class="er-m-0 er-text-dark text-size18 mb:er-text-2xl"><b>Trusted Local Experts</b></h3>
                        <span class="text-size14 er-opacity-80 mb:er-text-xl">Help when needed.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="professional test-ride">
        <div class="centeral-content">
            <h2 class="er-m-0 text-size36 er-text-center er-w-full mb:er-text-4xl mb:er-text-left">Free In-Store Assembly at Participating Dealers</h2>
          <div class="videos swiper-wrapper er-mt-20 mb:er-mt-10">
            {% for item in shop.metaobjects.shop_config.test_ride_list.value.value %}
              <div class="swiper-slide" data-url="{{ item.url }}">
                <img loading="lazy" width="300" height="143" src="{{ item.image }}&width=300" alt="{{ page_description }}">
                <span class="u20DemiBold_v2">{{ item.title }}</span>
                <span class="u17Light_v2" style="margin: 0;">{{ item.span }}</span>
                <a class="my-link" href="tel:{{ item.tel }}">{{ item.tel }}</a>
              </div>
            {% endfor %}
          </div>
          <div class="swiper-scrollbar"></div>
          <div class="buttons mobileHide">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
      </div>

    <div class="er-pb-48 mb:er-pb-24">
        <div class="centeral-content mb:er-px-6 er-flex er-flex-col">
            <h2 class="er-m-0 text-size36 er-text-center mb:er-text-4xl mb:er-text-left">Ride Smarter: <br
                    class="md:er-hidden">Expert Tips & Guides</h2>
            <p class="text-size18 er-text-center er-opacity-80 mb:er-text-left mb:er-text-2xl mb:er-mt-3">
                <span>Not sure which eBike is right for you? New to electric biking? We’ve got you covered!</span>
            </p>
            <div
                class="er-grid er-grid-cols-3 er-gap-x-10 er-mt-20 mb:er-mt-10 mb:er-flex mb:er-overflow-x-scroll mb:er-pb-16 mb:er-gap-x-8">
                {%- assign article = articles['blog/the-best-e-bike-for-tall-people'] -%}
                <a href="{{ article.url }}" target="_blank"
                    class="er-bg-background-warm er-rounded-2xl er-flex er-flex-col mb:er-min-w-[70vw] er-cursor-pointer">
                    {{ article | image_url: width: 900 | image_tag: loading: 'lazy', class: "er-aspect-video er-object-cover er-rounded-t-2xl" }}
                    <div
                        class="er-flex er-flex-col er-items-center er-text-center er-p-10 er-flex-1 mb:er-px-6 mb:er-py-8">
                        <h3 class="er-text-dark er-m-0 text-size18 mb:er-text-2xl mb:er-font-medium">
                            <b class="mb:er-font-medium">{{ article.title }}</b>
                        </h3>
                        <span class="er-flex-1"></span>
                        <button class="er-button er-button-dark er-mt-12 mb:er-mt-8">Read More</button>
                    </div>
                </a>
                {%- assign article = articles['blog/750w-1000w-ebike-guide'] -%}
                <a href="{{ article.url }}" target="_blank"
                    class="er-bg-background-warm er-rounded-2xl er-flex er-flex-col mb:er-min-w-[70vw] er-cursor-pointer">
                    {{ article | image_url: width: 900 | image_tag: loading: 'lazy', class: "er-aspect-video er-object-cover er-rounded-t-2xl"  }}
                    <div
                        class="er-flex er-flex-col er-items-center er-text-center er-p-10 er-flex-1 mb:er-px-6 mb:er-py-8">
                        <h3 class="er-text-dark er-m-0 text-size18 mb:er-text-2xl mb:er-font-medium">
                            <b class="mb:er-font-medium">{{ article.title }}</b>
                        </h3>
                        <span class="er-flex-1"></span>
                        <button class="er-button er-button-dark er-mt-12 mb:er-mt-8">Read More</button>
                    </div>
                </a>
                {%- assign article = articles['blog/first-time-e-bike-riding-beginners-guide'] -%}
                <a href="{{ article.url }}" target="_blank"
                    class="er-bg-background-warm er-rounded-2xl er-flex er-flex-col mb:er-min-w-[70vw] er-cursor-pointer">
                    {{ article | image_url: width: 900 | image_tag: loading: 'lazy', class: "er-aspect-video er-object-cover er-rounded-t-2xl"  }}
                    <div
                        class="er-flex er-flex-col er-items-center er-text-center er-p-10 er-flex-1 mb:er-px-6 mb:er-py-8">
                        <h3 class="er-text-dark er-m-0 text-size18 mb:er-text-2xl mb:er-font-medium">
                            <b class="mb:er-font-medium">{{ article.title }}</b>
                        </h3>
                        <span class="er-flex-1"></span>
                        <button class="er-button er-button-dark er-mt-12 mb:er-mt-8">Read More</button>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="er-text-white er-pb-48 mb:er-pb-24">
        <div class="centeral-content mb:er-px-6">
          <div class="background-image er-rounded-3xl er-overflow-hidden er-aspect-[1280/180] mb:er-aspect-square er-from-[#FF3684] er-to-[#FF8F1D] er-bg-gradient-to-b mb:er-bg-gradient-to-r">
            <div class="er-flex er-h-full mb:er-flex-col">
              <div class="er-basis-2/12 mb:er-basis-1/4 er-flex er-flex-col er-justify-center er-space-y-6 mb:er-flex-row mb:er-space-x-6 mb:er-space-y-0 mb:er-items-center mb:er-justify-start">
              <img loading="lazy" class="er-translate-x-1/2 mb:er-max-w-28" width="95" height="0" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25346_2x_1202f109-d0b0-4cb3-9c8b-e69e05274302.png?v=1743042755" alt="{{ page_title }}">
              <img loading="lazy" class="er-translate-x-1/2 mb:er-max-w-28" width="95" height="0" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/70_2x_c967b944-a6b4-4169-83f7-e9760740291d.png?v=1743042760" alt="{{ page_title }}">
              </div>
              <div class="er-flex er-flex-col er-text-left er-items-left er-justify-center er-bg-black er-flex-1 er-pl-24 mb:er-p-8 md:er-rounded-l-3xl mb:er-rounded-tr-[50px]">
                <h3 class="er-m-0 er-text-white text-size24 er-font-medium mb:er-text-3xl">Ride Now, Pay Later</h3>
                <h2 class="er-m-0 er-text-white text-size36 er-my-3 mb:er-text-4xl mb:er-my-6">Limited-Time <span style="color: #FF7BAE">0% APR</span> for 24 Months</h2>
                <p class="text-size20 mb:er-text-2xl">
                  <span>A {{ all_products['urtopia-carbon-fold'].price | money_without_trailing_zeros }} purchase costs {{ all_products['urtopia-carbon-fold'].price | divided_by: 24 | money }}/month for 24 months at 0% APR.</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="er-text-white er-pb-48 mb:er-pb-24">
        <div class="centeral-content mb:er-px-6">
            <div
                class="er-bg-black er-rounded-3xl er-overflow-hidden er-aspect-[1280/550] mb:er-aspect-auto er-flex er-flex-col er-justify-center er-items-start er-text-left er-pl-28 mb:er-p-8 background-image">
                <video playsinline loop autoplay muted class="lozad mb:!er-object-top mb:!er-object-contain">
                    <source data-src="https://cdn.shopify.com/videos/c/o/v/2452a28838b34c6281b15f2a394db4bd.mp4" type="video/mp4"
                        media="(min-width: 768px)">
                    <source data-src="https://cdn.shopify.com/videos/c/o/v/6cfabe7cb4224193a294a39382dabdce.mp4" type="video/mp4"
                        media="(max-width: 767px)">
                </video>
                <div class="md:er-hidden er-aspect-square er-w-[113%]"></div>
                <h2 class="er-m-0 er-text-white text-size36 mb:er-text-4xl">Why Choose Urtopia?</h2>
                <p class="text-size18 er-max-w-2xl er-opacity-80 er-mt-8 mb:er-text-2xl">
                    <span>Experience the power of carbon fiber – the ultimate material for high-performance
                        cycling.</span>
                </p>
                <ul class="text-size18 er-list-none er-space-y-8 er-my-20 er-p-0 mb:er-text-2xl mb:er-space-y-6 mb:er-my-12">
                    <li class="marker:er-hidden"><b>✔ 100% Carbon Fiber</b><br class="md:er-hidden"> – Ultra-light & robust</li>
                    <li><b>✔ High-Performance</b><br class="md:er-hidden"> – Speed, agility, durability </li>
                    <li><b>✔ Unbeatable Value</b><br class="md:er-hidden"> – Premium quality, affordable price</li>
                </ul>
                <a href="https://newurtopia.com/pages/carbon-expert" class="er-button er-button-white mb:er-mb-12">Explore the Technology</a>
            </div>
        </div>
    </div>
<script type="module">  
    new Swiper(".swiperrrr .top", {
      spaceBetween: 10,
      preloadImages: false,
      thumbs: global_config.is_mobile
          ? null
          : {
              swiper: new Swiper(".swiperrrr .bottom", {
                  spaceBetween: 8,
                  slidesPerView: 6,
                  freeMode: true,
                  watchSlidesProgress: true,
                  preloadImages: false,
                  // navigation: {
                  //     nextEl: ".swiperrrr .swiper-button-next",
                  //     prevEl: ".swiperrrr .swiper-button-prev",
                  // },
              }),
          },
  });

   $('.product-card .dots > div').on('click', e => {
        const target = $(e.target)
        const product_card = target.closest('.product-card')

        // 先取消 其它兄弟元素的active, 再设置active
        target.siblings().removeClass('active')
        target.addClass('active')

        const price = Number(target.attr('data-price'))
        const compare_at_price = Number(target.attr('data-compare-at-price'))
        const discount_price = Number(target.attr('data-product-discount-price'))
        const variant_id = target.attr('data-variant')
        const variant_image = target.attr('data-img')

        product_card.find('.product_price .u24DemiBold_v2').text(getPriceFormat(price, true)).attr('data-price', getPriceFormat(compare_at_price, true))
        product_card.find('.tags > span:first-child').html(`${getPriceFormat(compare_at_price - price, true)} <span class="u14DemiBold_v2">OFF</span>`)

        if (price === compare_at_price) {
            product_card.find('.product_price .u24DemiBold_v2').attr('data-price', '')
            product_card.find('.tags > span:first-child').hide()
        }

        product_card.find('.variant-image').attr('src', variant_image)
        product_card.find('.my-button').attr('href', `${product_card.find('.my-button').attr('href').split('?').shift()}?variant=${variant_id}`)
        product_card.find('.stars a').attr('href', `${product_card.find('.my-button').attr('href').split('?').shift()}?variant=${variant_id}#judgeme_product_reviews`)
    })

    setTimeout(() => {
        $('.product-card .dots > div:first-child').click()

        $('.product-card .variant-image').on('click', e => {
            const button = $(e.target).closest('.product-card').find('.my-button')

            if (button.length) {
                button[0].click()
            }
        })
    })
</script>

<script type="module">
  $(function() {
     new Swiper('.test-ride .centeral-content', {
          slidesPerView: global_config.is_mobile ? 1.35 : 4.5,
          spaceBetween: 20,
          navigation: {
          nextEl: '.test-ride .centeral-content .swiper-button-next',
          prevEl: '.test-ride .centeral-content .swiper-button-prev',
          },
          scrollbar: {
              el: '.test-ride .centeral-content .swiper-scrollbar',
              draggable: true,
          },
     });

     $('.test-ride .centeral-content .swiper-slide').on('click', function () {
        window.open($(this).attr('data-url'))
     })

     task(() => {
            $('.faq .items .item .u24Medium_v2').click(function () {
            $(this).siblings('.u17Light_v2').slideToggle().parent().siblings().find('.u17Light_v2').slideUp();

            if ($(this).parent().hasClass('active')) {
              $(this).parent().removeClass('active');
            } else {
              $(this).parent().addClass('active');
            }

            $(this).parent().siblings().removeClass('active');
          });
    })
  })
</script>
{% render 'quiz-dialog' %} 
