{{ 'carbon-ebike.scss.css' | asset_url | stylesheet_tag: preload: true }}


{% assign product = all_products['urtopia-carbon-1-pro-ebike'] %}

 <div class="top-fixed mobileHide">
    <div class="centeral-content">
        <span class="u20DemiBold_v2">{{ product.title }}</span>
        <span class="flex-1"></span>
        <div>
            <span class="u17Light_v2"><span class="u20DemiBold_v2 emphasize"
                    style="font-weight: 600;">{{ product.price | money }}</span>
                    {% unless product.compare_at_price == product.price %}
                        <span style="text-decoration: line-through;">{{ product.compare_at_price | money }}</span>
                    {% endunless %}
            </span>
            <span class="u14Light_v2">or as low as {{ product.price | divided_by: 24 | money_without_trailing_zeros }}/Month</span>
        </div>
        <a href="{{ product.url }}" target="_blank" class="my-button my-button-origin" action_type="Buynow_0">Order Now</a>
    </div>
</div>
<div class="banner">
        <video playsinline autoplay muted class="mobileHide lozad"
            data-src="https://cdn.shopify.com/videos/c/o/v/55430e18329042bcbfeeb0447fcb5bea.mp4"></video>
        <video playsinline autoplay muted class="pcHide lozad" data-src="https://cdn.shopify.com/videos/c/o/v/9c6a161c4a5f4797b78786f3248396a8.mp4"></video>
        <h2 data-aos="fade-up" class="u48Medium_v2">Carbon 1 Pro</h2>
        <h3 data-aos="fade-up" class="u24Light_v2">Ride EVOLUTION: Beyond Limits</h3>
        <div data-aos="fade-up" href="" class="my-button" onclick="showVideoDialog('https://www.youtube.com/embed/cRI7G6DXpbc?autoplay=1&cc_load_policy=1')">Watch now</div>
    </div>
    <div class="black">
        <video playsinline loop autoplay muted class="mobileHide lozad"
            data-src="https://cdn.shopify.com/videos/c/o/v/209fa0512fcd4181b9c3184042dc1dad.mp4"></video>
        <video playsinline loop autoplay muted class="pcHide lozad" data-src="https://cdn.shopify.com/videos/c/o/v/b40bd9cff7184e209c3bcd133d422dc7.mp4"></video>
        <h2 class="u48Medium_v2" data-aos="fade-up">Lightweight Is the Way</h2>
        <!-- <svg width="100%" height="60" data-aos="fade-up">
            <defs>
                <linearGradient id="gradient1" x1="0%" y1="0%" x2="100%" y2="0%">
                    <stop offset="0%" style="stop-color:#fff;stop-opacity:1" />
                    <stop offset="100%" style="stop-color:#6C6C6C;stop-opacity:1" />
                </linearGradient>
            </defs>
            <text x="50%" y="50%" text-anchor="middle" dominant-baseline="middle" class="u48Medium_v2"
                fill="url(#gradient1)">
                Lightweight Is the Way
            </text>
        </svg> -->
        <p class="u17Light_v2" data-aos="fade-up">
            <span>
                50% lighter than comparable models, easy to hang on the wall or on a car rack for hassle-free
                transportation and carrying in-and-out, ideal for commuting in the city.
            </span>
        </p>
    </div>
    <div class="story">
        <img src="https://cdn.shopify.com/s/files/1/0682/8992/1329/files/20240826-175103.jpg?v=1724665881"
            alt="" class="mobileHide">
        <h2 class="u48Medium_v2" data-aos="fade-up">Design Story</h2>
        <p class="u17Light_v2" data-aos="fade-up">
            <span>
                Carbon 1 Pro is Mr. Heller’s masterpiece, continuing the design of Carbon 1, optimizing the structure
                and improving the ride. It’s made for zipping around town and keeping you in great shape.
            </span>
        </p>
        <a target="_blank" href="/blogs/blog/design-story-one-and-only" class="my-button mobileHide" data-aos="fade-up">Read the Blog</a>
        <span class="flex-1 mobileHide"></span>
        <p class="u20Medium_v2" data-aos="fade-up" data-aos-offset="0">
            <span>
                Carbon 1 Pro’s Concept Designer<br>Former BMW Designer
            </span>
        </p>
    </div>
    <div class="frame">
        <video playsinline autoplay loop muted data-aos="fade-up" data-aos-delay="400" class="mobileHide lozad"
            data-src="https://cdn.shopify.com/videos/c/o/v/bd893be8e19e4dad91af7677366b87c3.mp4"
            ></video>
        <video playsinline autoplay loop muted data-aos="fade-up" data-aos-delay="400" class="pcHide lozad" data-src="https://cdn.shopify.com/videos/c/o/v/a15ce743fe12448d8da1a3b5f07d98d2.mp4"></video>
        <div class="centeral-content">
            <h3 class="u36Medium_v2" data-aos="fade-up">Race-Grade Carbon Fiber Frame<br>Crafted with Precision</h3>
            <p class="u17Light_v2" data-aos="fade-up">
                <span>
                    The frame is made from five types of high-performance carbon fiber, the same kind used in aerospace.
                    It’s molded using advanced autoclave technology and hand-painted with care. This lightweight carbon
                    fiber design balances strength and flexibility, making the bike more stable and comfortable to ride,
                    while also allowing for smoother, more responsive acceleration.
                </span>
            </p>
        </div>
    </div>
    <div class="mediaaaaa" style="--swiper-theme-color: #fff;--swiper-pagination-color: #fff;">
        <div class="centeral-content">
            <div class="swiper-wrapper">
                <div class="swiper-slide" data-aos="fade-up">
                    <h2 class="u20DemiBold_v2">“Visually stunning and lightweight bikes”</h2>
                    <div class="flex-1"></div>
                    <img class="lozad"
                        data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18075_2x_d5d18fb9-7706-444c-8b80-95e445f83e79.png?v=1705480131"
                        alt="Urtopia Ebike - Carbon 1 Pro | Lightweight, Smart Cruiser, Ideal Gravel Catbon Electric Bike">
                </div>
                <div class="swiper-slide" data-aos="fade-up">
                    <h2 class="u20DemiBold_v2">“The best electric bikes of 2024”</h2>
                    <div class="flex-1"></div>
                    <img class="lozad"
                        data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_19062_2x_cb69e0cb-01f3-455a-bd4f-2ad8d83f573f.png?v=1705480136"
                        alt="Urtopia Ebike - Carbon 1 Pro | Lightweight, Smart Cruiser, Ideal Gravel Catbon Electric Bike">
                </div>
                <div class="swiper-slide" data-aos="fade-up">
                    <h2 class="u20DemiBold_v2">“Pack with copious use of technology”</h2>
                    <div class="flex-1"></div>
                    <img class="lozad"
                        data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18368_2x_13c2d2de-1d31-4640-8bb2-08a3cfc9c8c7.png?v=1705480141"
                        alt="Urtopia Ebike - Carbon 1 Pro | Lightweight, Smart Cruiser, Ideal Gravel Catbon Electric Bike">
                </div>
                <div class="swiper-slide" data-aos="fade-up">
                    <h2 class="u20DemiBold_v2">“Pack with copious use of technology”</h2>
                    <div class="flex-1"></div>
                    <img class="lozad"
                        data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_19063_2x_1ca9eef4-a58c-4038-b75c-752bbb81cdb1.png?v=1705480146"
                        alt="Urtopia Ebike - Carbon 1 Pro | Lightweight, Smart Cruiser, Ideal Gravel Catbon Electric Bike">
                </div>
                <div class="swiper-slide" data-aos="fade-up">
                    <h2 class="u20DemiBold_v2">“The epitome of raw power”</h2>
                    <div class="flex-1"></div>
                    <img class="lozad"
                        data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_19064_2x_a8b72a12-cf4f-49e6-81e6-87d380a36847.png?v=1705480151"
                        alt="Urtopia Ebike - Carbon 1 Pro | Lightweight, Smart Cruiser, Ideal Gravel Catbon Electric Bike">
                </div>
                <div class="swiper-slide" data-aos="fade-up">
                    <h2 class="u20DemiBold_v2">“Interesting innovation or tech for tech’s sake”</h2>
                    <div class="flex-1"></div>
                    <img class="lozad"
                        data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_19067_2x_fd0299aa-c2e2-4a55-975a-bf51e6a4ed2d.png?v=1705480156"
                        alt="Urtopia Ebike - Carbon 1 Pro | Lightweight, Smart Cruiser, Ideal Gravel Catbon Electric Bike">
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="everything">
        <div class="mobileHide"></div>
        <span class="mobileHide"></span>
        <p class="u48Medium_v2" data-aos="fade-up" data-aos-delay="400">
            <span>
                It doesn’t have to choose,<br>
                it has everything.
            </span>
        </p>
    </div>
    <div class="more">
        <video playsinline autoplay loop muted
            class="mobileHide lozad"
            data-src="https://cdn.shopify.com/videos/c/o/v/6737a8c2f89b47048a2f86d8c6315530.mp4"></video>
            <video playsinline autoplay loop muted
            class="pcHide lozad"
            data-src="https://cdn.shopify.com/videos/c/o/v/203d0dabd46a476c861044b8199e6e8a.mp4"></video>
        <div class="centeral-content">
            <div data-aos="fade-up">
                <div>
                    <h2 class="u48Medium_v2">More</h2>
                    <h2 class="powerrrrrrrrrr">POWER</h2>
                    <div class="flex-1 mobileHide"></div>
                    <p class="u17Light_v2">
                        <span>Shimano 10-speed gears with adaptive power provide 35% more torque than Carbon 1s.</span>
                    </p>
                </div>
                <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/23438_2x_d1e85aeb-f044-4a3b-a06a-569707efcfd7.png?v=1724219637"
                    alt="Urtopia Ebike - Carbon 1 Pro | Lightweight, Smart Cruiser, Ideal Gravel Catbon Electric Bike">
            </div>
            <div data-aos="fade-up">
                <div>
                    <h2 class="u48Medium_v2">More</h2>
                    <h2 class="rrrrrrrr">RANGE</h2>
                    <div class="flex-1 mobileHide"></div>
                    <p class="u17Light_v2">
                        <span>Optimize acceleration, save energy and extend range by 30% with torque sensor and
                            intelligent algorithm.</span>
                    </p>
                </div>
                <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23439_2x_4a816f70-d288-4bb3-846c-159316fda856.png?v=1704694869"
                    alt="Urtopia Ebike - Carbon 1 Pro | Lightweight, Smart Cruiser, Ideal Gravel Catbon Electric Bike">
            </div>
        </div>
    </div>
    <div class="conquer">
        <div class="centeral-content q">
            <h3 class="u36Medium_v2" data-aos="fade-up">More Road to Conquer</h3>
            <p class="u17Light_v2" data-aos="fade-up">
                <span>
                    Wide tires for both GRAVEL and OFF-ROAD, ensuring comfort on various surfaces. Experience the
                    freedom to ride anywhere.
                </span>
            </p>
            <div class="swiper-wrapper">
              <div class="swiper-slide"> 
                <img
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/tree_2x_841ab5f1-4f5d-4f35-851a-af40930f5b75.jpg?v=1724223712"
                    class="mobileHide" alt="">
                    <img
                    src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/tree_2x_1cd11294-62c5-4fdb-9361-5c651ea0e6b3.jpg?v=1724380468"
                    class="pcHide" alt="">
              </div>

              <div class="swiper-slide"> 
                <img
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/d22_2x_352138a4-7af4-4624-bc38-2e8ee0bd5b7c.jpg?v=1724223720"
                    class="mobileHide" alt="">
                    <img
                    src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/d22_2x_ce89f98a-40c8-4a85-81e4-6778c7065c62.jpg?v=1724380475"
                    class="pcHide" alt="">
              </div>

              <div class="swiper-slide"> 
                 <img
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/A86A8802_1_2x_b0da9864-3d89-4659-a717-614becd31d2b.jpg?v=1724223726"
                    class="mobileHide" alt="">
                    <img
                    src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/A86A8802_1_2x_e33488a3-013c-4368-8219-da322e2c465c.jpg?v=1724380480"
                    class="pcHide" alt="">
              </div>

              <div class="swiper-slide"> 
                 <img
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/dddd_2x_02fecf27-c4ce-445d-9ec4-d2c3d95bcd99.jpg?v=1724223733"
                    class="mobileHide" alt="">
                    <img
                    src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/dddd_2x_318d9b12-0f79-431d-9340-4dd13f883dc7.jpg?v=1724380463"
                    class="pcHide" alt="">
              </div>
                
                
               
               
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="centeral-content">
            <h3 class="u36Medium_v2" data-aos="fade-up">More Capable</h3>
            <p class="u17Light_v2" data-aos="fade-up">
                <span>
                    Extremely versatile, the Carbon 1 Pro can support racks, wider tires, and even front suspension,
                    offering exceptional DIY possibilities.
                </span>
            </p>
            <video playsinline autoplay loop muted data-aos="fade-up"
               class="mobileHide lozad"
                data-src="https://cdn.shopify.com/videos/c/o/v/3ce2267f7e284c4ca3604a360ec74a35.mp4"></video>
                <video playsinline autoplay loop muted data-aos="fade-up"
                class="pcHide lozad"
                data-src="https://cdn.shopify.com/videos/c/o/v/ed6b7ba799d34e278fb7139f14e51add.mp4"></video>
        </div>
        <div class="centeral-content">
            <h3 class="u36Medium_v2" data-aos="fade-up">More Comfortable</h3>
            <p class="u17Light_v2" data-aos="fade-up">
                <span>
                    Achieve an ergonomic endurance position for all-day riding. Easily adjust the seatpost and stem for
                    comfort.
                </span>
            </p>
            <video playsinline autoplay loop muted data-aos="fade-up"
                class="mobileHide lozad"
                data-src="https://cdn.shopify.com/videos/c/o/v/b5064a1e609f4971a7b329dd07f1e7e2.mp4"></video>
                <video playsinline autoplay loop muted data-aos="fade-up"
                data-src="https://cdn.shopify.com/videos/c/o/v/f6a0f70eeccf47deb523541ff501ee89.mp4"
                class="pcHide lozad"></video>
        </div>
        <div class="centeral-content otherrr">
            <div>
                <h3 class="u36Medium_v2" data-aos="fade-up">More Smooth</h3>
                <p class="u17Light_v2" data-aos="fade-up">
                    <span>
                        Torque sensor and intelligent algorithm adapt to your pedaling style for the best acceleration and balance.
                    </span>
                </p>
                <span class="flex-1"></span>
                <video playsinline autoplay loop muted
                    class="lozad"
                    data-src="https://cdn.shopify.com/videos/c/o/v/6d580375cc0643b1a7d5b8e8f778b27e.mp4" data-aos="fade-up"></video>
            </div>
            <div>
                <h3 class="u36Medium_v2" data-aos="fade-up">More Accessible</h3>
                <p class="u17Light_v2" data-aos="fade-up">
                    <span>
                        Bottom-mounted battery for convenient, hassle-free access, avoiding water issues on rainy days.
                    </span>
                </p>
                <span class="flex-1"></span>
                <video playsinline autoplay loop muted
                    class="lozad"
                    data-src="https://cdn.shopify.com/videos/c/o/v/f023fdf870db40f0bc499f56e4cb5d10.mp4" data-aos="fade-up"></video>
            </div>
        </div>
    </div>
    <div class="never">
        <div class="centeral-content">
            <h2 class="u60Medium_v2" data-aos="fade-up">
                Smart <span style="color: #EB5A2D;">EVOLUTION,</span><br>
                Unleashing Intelligent Charm
            </h2>
            <div class="boxsxzczxc">
                <div data-aos="fade-up">
                    <video class="mobileHide lozad"
                        playsinline autoplay loop muted
                        data-src="https://cdn.shopify.com/videos/c/o/v/c30706e702af4f4d8329415c853df7b9.mp4"
                        alt="Urtopia Carbon 1 Pro Ebike - Sleek, Full Carbon, Lightweight, Smart"></video>
                    <img class="pcHide lozad"
                        data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20240628-092925_2x_e765192a-8d1a-4284-bbe4-17a4ca22e3ce.jpg?v=1721790403"
                        alt=""/>
                    <h4 class="u30Medium_v2">Movement alarm</h4>
                    <p class="u17Light_v2">
                        <span> Once locked, the onboard alarm monitors movements and alerts you against unauthorized
                            ones. </span>
                    </p>
                    <div class="flex-1"></div>
                </div>
                <div data-aos="fade-up">
                    <video class="mobileHide lozad"
                        playsinline autoplay loop muted
                        data-src="https://cdn.shopify.com/videos/c/o/v/5481fbc14abb41adbb54fd64cde5df68.mp4"
                        alt="Urtopia Carbon 1 Pro Ebike - Sleek, Full Carbon, Lightweight, Smart"></video>
                    <img class="pcHide lozad"
                        data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_19273_2x_a0fe01d4-26cf-47b3-bf74-5f9dd38c2669.jpg?v=1721790465"
                        alt="">
                    <h4 class="u30Medium_v2">GPS tracking and fence</h4>
                    <p class="u17Light_v2">
                        <span>
                            Aided by a constant 4G connection, GPS tracking keeps you informed of the e-bike’s location,
                            even in the
                            worst scenario of theft.
                        </span>
                    </p>
                    <div class="flex-1"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="everythinggggg">
        <div class="centeral-content">
            <div class="boxqwewqeqs">
                <div data-aos="fade-up">
                    <h3 class="u30Medium_v2">Fingerprint unlock</h3>
                    <p class="u17Light_v2">
                        <span> No more hassle worrying about losing another key. </span>
                    </p>
                </div>
                <div data-aos="fade-up">
                    <h3 class="u30Medium_v2">Navigation without cellphone</h3>
                    <p class="u17Light_v2">
                        <span> Bright screen shows navigation clearly under daylight, no more ugly phone holder. </span>
                    </p>
                </div>
                <div data-aos="fade-up" >
                    <h3 class="u30Medium_v2">Track your route</h3>
                    <p class="u17Light_v2">
                        <span>
                            Smart App tracks your journey and health. Get on the bike and share your thrilling moments
                            with your friends
                            and family.
                        </span>
                    </p>
                </div>
                <div data-aos="fade-up">
                    <h3 class="u30Medium_v2">Bluetooth music</h3>
                    <p class="u17Light_v2">
                        <span>
                            We know the importance of music, so we build in a bluetooth speaker, you can enjoy your
                            favourite music when
                            riding without carrying an external speaker.
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="app">
        <div class="centeral-content">
            <div>
                <span class="u48Medium_v2" data-aos="fade-up">Your All in One <br>Health
                    Coach</span>
                <span class="u17Light_v2" data-aos="fade-up">Your rides and daily activities offer
                    personalized insights. Our AI companion tailors accurate recommendations exclusively for you—no more
                    generic advice.</span>
            </div>
            <img data-aos="fade-up" class="lozad mobileHide"
                data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_1171275468_2x_c4e2a5ad-6173-4b69-91be-96007790d93d.png?v=1723798829" />
            <img data-aos="fade-up" class="lozad pcHide"
                data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24503_2x_e97738c9-2a66-4ca5-a108-f75bac84bafa.jpg?v=1723799497" />
        </div>
    </div>
    <div class="bottom-fixed pcHide">
    <a href="{{ product.url }}" target="_blank" class="my-button my-button-origin" action_type="Buynow_0">Order Now</a>
        <div>
            <span>
                <span class="u17DemiBold_v2 emphasize">{{ product.price | money }}</span>
                {% unless product.compare_at_price == product.price %}
                    <span class="u11Light_v2" style="text-decoration: line-through;">{{ product.compare_at_price | money }}</span>
                {% endunless %}
            </span>
            <span class="u11Light_v2">or as low as {{ product.price | divided_by: 24 | money_without_trailing_zeros }}/Month</span>
        </div>
</div>

{{ 'gsap.js' | asset_url | script_tag }}
  <script>
    AOS.init({
        easing: 'ease-out',
        duration: 800,
        offset: 200,
        delay: 200
    });

    if (global_config.is_pc) {
      gsap.registerPlugin(ScrollTrigger)
        const sections = gsap.utils.toArray("#MainContent > div > div").filter((v, i) => i < 8 && i > 1)

        sections.forEach((section, i) => {
            console.log(section, i)

            ScrollTrigger.create({
                trigger: section,
                start: 'top 68px', // 当面板到达视口顶部时触发
                end: "bottom 60%",
                scrub: true, // 平滑滚动
                pin: true, // 固定当前面板
                pinSpacing: true, // 去除额外的空白
                snap: {
                    snapTo: 1,
                    duration: { min: 0.5, max: 1 },
                    delay: 0.5,
                    ease: "power1.inOut" // 平滑过渡
                },
            })

            // const timeline = gsap.timeline();
        })


        gsap.to('#MainContent .everything > div', {
            scrollTrigger: {
                trigger: '#MainContent .everything > div',
                start: "top center",
                end: 'bottom bottom',
                scrub: 0.8
            },
            borderWidth: 0,
            duration: 0.8, // 动画持续时间
            ease: "power1.out", // 缓动效果
        })

        gsap.to("#MainContent .story > img", {
            scrollTrigger: {
                trigger: "#MainContent .story > img", // 触发动画的元素
                start: "top 80%", // 视口中的起始位置
                end: "top 30%", // 视口中的结束位置
                scrub: true, // 平滑滚动,
                // pin: true,
                // pinReparent: true,
                // pinSpacing:true
                // markers: true
            },
            duration: 1, // 动画持续时间
            scale: 1,
            opacity: 1,
            // height: '100%',
            ease: "power1.out", // 缓动效果
        });
    }
  </script>
  
<script type="module">
    if (global_config.is_mobile) {
        new Swiper('#MainContent .mediaaaaa .centeral-content', {
            autoplay: {
                disableOnInteraction: false,
                pauseOnMouseEnter: false,
                delay: 5000,
            },
            loop: true,
            effect: 'fade',
            fadeEffect: {
                crossFade: true
            },
            pagination: { el: '#MainContent .mediaaaaa .swiper-pagination' },
            speed: 300
        });
    }

     new Swiper('#MainContent .conquer .q', {
            pagination: {
                el: '#MainContent .conquer .q .swiper-pagination',
                clickable: true,
                renderBullet: function (index, className) {
                    switch (index) {
                        case 0: return `<div class="${className}"><img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20240826-181159.png?v=1724667176"/><span class="flex-1"></span><span class="u17Medium_v2">Field Trip</span></div>`;
                        case 1: return `<div class="${className}"><img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20240826-181211.png?v=1724667175"/><span class="flex-1"><span class="u17Medium_v2">Off Road</span></div>`;
                        case 2: return `<div class="${className}"><img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20240826-181220.png?v=1724667176"/><span class="flex-1"><span class="u17Medium_v2">City Ride</span></div>`;
                        case 3: return `<div class="${className}"><img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20240826-181227.png?v=1724667175"/><span class="flex-1"><span class="u17Medium_v2">Trail Ride</span></div>`;
                    }
                }
            },
            speed: 600,
            spaceBetween: 10,
            grabCursor: true
        });

    let scrollAction = { x: 'undefined', y: 'undefined' }
  let scrollDirection = ''

function scrollFunc() {
  if (typeof scrollAction.x == 'undefined') {
    scrollAction.x = window.pageXOffset;
    scrollAction.y = window.pageYOffset;
  }
  var diffX = scrollAction.x - window.pageXOffset;
  var diffY = scrollAction.y - window.pageYOffset;
  if (diffX < 0) {
    // Scroll right
    scrollDirection = 'right';
  } else if (diffX > 0) {
    // Scroll left
    scrollDirection = 'left';
  } else if (diffY < 0) {
    // Scroll down
    scrollDirection = 'down';
  } else if (diffY > 0) {
    // Scroll up
    scrollDirection = 'up';
  } else {
    // First scroll event
  }
  scrollAction.x = window.pageXOffset;
  scrollAction.y = window.pageYOffset;
}

if (!global_config.is_mobile && global_config.is_pc) {
      window.onscroll = throttle(function (e) {
        scrollFunc()
      try {
        if (scrollDirection == 'down') {
          //页面向下滚动要做的事情
          // console.log('-====向下滚动了');
          document.querySelector('.header-wrapper').style.position = 'inherit';
          $('.top-fixed').css({ top: 0, 'z-index': 3 })

          if ($('header-menu details[open]')) {
            $('header-menu details[open] summary')[0].click()
          }
          
        } else if (scrollDirection == 'up') {
          //页面向上滚动要做的事情
          // console.log('-====向上滚动了');
          document.querySelector('.header-wrapper').style.position = 'fixed';
          document.querySelector('.header-wrapper').style.top = 0;
          document.querySelector('.header-wrapper').style.width = '100%';
          $('.top-fixed').css({ top: '60px', 'z-index': 2 })

          if (scrollAction.y < 80) {
            document.querySelector('.header-wrapper').style.position = 'inherit';
          }
        }
      } catch (error) {}
    }, 30);
}
</script>
