{{ 'pagefly-main.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'pagefly.9b29433f.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'carbon1pro.scss.css' | asset_url | stylesheet_tag: preload: true }}

{% assign product = all_products['carbon-1-pro-reservation'] %}

<style>
    .onlllllllly {
        background-image: linear-gradient(90deg, #EE6426, #F4492A);
        color: #fff;
        border-radius: 50px;
        padding: 2px 32px;
        width: fit-content;
        margin-bottom: 3px;
    }
</style>

<div class="top-fixed mobileHide">
    <div class="centeral-content">
        <span class="u20DemiBold_v2">Urtopia Carbon 1 Pro</span>
        <span class="flex-1"></span>
        <div>
            <span class="u17Light_v2"><span class="u20DemiBold_v2 emphasize"
                    style="font-weight: 600;">{{ product.price | money }}</span>
                    {% unless product.compare_at_price == product.price %}
                        <span style="text-decoration: line-through;">{{ product.compare_at_price | money }}</span>
                    {% endunless %}
            </span>
            <span class="u14Light_v2">or as low as {{ product.price | divided_by: 24 | money_without_trailing_zeros }}/Month</span>
        </div>
        <div href="/products/urtopia-chord-ebike" target="_blank" class="my-button my-button-origin" action_type="Buynow_0">Pre-order Now</div>
    </div>
</div>
<div class="bottom-fixed pcHide">
    <div href="/products/urtopia-chord-ebike" target="_blank" class="my-button my-button-origin" action_type="Buynow_0">Pre-order Now</div>
        <div>
            <span>
                <span class="u17DemiBold_v2 emphasize">{{ product.price | money }}</span>
                {% unless product.compare_at_price == product.price %}
                    <span class="u11Light_v2" style="text-decoration: line-through;">{{ product.compare_at_price | money }}</span>
                {% endunless %}
            </span>
            <span class="u11Light_v2">or as low as {{ product.price | divided_by: 24 | money_without_trailing_zeros }}/Month</span>
        </div>
</div>
<div class="banner">
    <h1 class="u48Medium_v2">The Ride <span style="color: #EB5A2D;">EVOLUTION: <br class="pcHide"></span>Beyond Limits
    </h1>
</div>
<div class="classic">
    <h2 class="u24Medium_v2 pcHide">A True Reborn from the Classic</h2>
    <div onclick="showVideoDialog('https://www.youtube.com/embed/Ed_i2rzti04?autoplay=1&cc_load_policy=1')">
        <h2 class="u48Medium_v2 mobileHide">A True Reborn from the Classic</h2>
        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23598_2x_6dabdb22-8a88-4887-9669-1be46f903a0b.png?v=1703731306" alt="">
    </div>
</div>
<div class="design">
    <div class="centeral-content">
        <div>
            <h3 class="u24DemiBold_v2">Mathis Heller</h3>
            <h4 class="u20Medium_v2">Carbon 1 Pro’s Concept Designer <br>Former BMW Designer</h4>
        </div>
        <div>
            <h2 class="u48Medium_v2">Design <span style="color: #EB5A2D;">EVOLUTION: </span><br>Redefining Excellence
            </h2>
            <p class="u17Light_v2"><span>Carbon 1 Pro is Mr. Heller’s masterpiece, continuing the design of Carbon 1,
                    optimizing the structure and improving the ride. It’s made for zipping around town and keeping you
                    in great shape.</span></p>
            <div>
                <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20231226-194538.png?v=1703591174"
                    alt="">
                <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20231226-194530.png?v=1703591174"
                    alt="">
            </div>
        </div>
    </div>
</div>
<div class="fully">
    <div class="centeral-content">
        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23241_2x_6dc880de-020e-4b51-adfb-9beff6d1e926.png?v=1703223828"
            alt="">
        <div>
            <div>
                <h2 class="u48Medium_v2">Fully Upgrade</h2>
                <p class="u17Light_v2">
                    <span>
                        Carbon 1 Pro features progressive frame geometry for even force distribution, greater stability,
                        improved aerodynamics, and superior damping performance.
                    </span>
                </p>
            </div>
            <div class="ppppppppppppppppp">
                <div>
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23421_2x_18e31bc5-76e9-4f57-86a7-ffa8b20e611f.png?v=1703227256"
                        alt="">
                    <div>
                        <h4 class="u20Medium_v2">Stability <br>improvement of</h4>
                        <span class="u60Medium_v2">15<span class="u24Medium_v2">%</span></span>
                    </div>
                </div>
                <div>
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23422_2x_814ca862-240b-49b3-97cf-15e0e2c1cd8d.png?v=1703227301"
                        alt="">
                    <div>
                        <h4 class="u20Medium_v2">Increased aerodynamic <br>efficiency by</h4>
                        <span class="u60Medium_v2">20<span class="u24Medium_v2">%</span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="craftsmanship">
    <div></div>
    <div>
        <h2 class="u48Medium_v2">Carbon Craftsmanship: <br>Frame <span
                style="color: #EB5A2D;">EVOLUTION,</span><br>Unrivaled Quality</h2>
        <p class="u17Light_v2">
            <span>
                Crafted from premium, supercar-grade carbon fiber. The frame features sharper angles that enhance the
                beauty of carbon fiber. The result is more responsive handling and increased durability.
            </span>
        </p>
    </div>
</div>
<div class="choose">
    <h2 class="u60Medium_v2">It doesn’t have to choose, <br class="mobileHide">it has everything.</h2>
</div>
<div class="lightweight">
    <div></div>
    <div>
        <h2 class="u48Medium_v2">Lightweight Is the Way</h2>
        <p class="u17Light_v2">
            <span>
                50% lighter than comparable models, easy to hang on the wall or on a car rack for hassle-free transportation and carrying in-and-out, ideal for commuting in the city.
            </span>
        </p>
    </div>
</div>
<div class="more">
    <div class="centeral-content">
        <div>
            <div>
                <h2 class="u48Medium_v2">More</h2>
                <h2 class="powerrrrrrrrrr">POWER</h2>
                <div class="flex-1 mobileHide"></div>
                <p class="u17Light_v2">
                    <span>Shimano 8-speed gears with adaptive power provide 26% more torque than Carbon 1s.</span>
                </p>
            </div>
            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23438_2x_312ed800-7911-4cce-b391-03fb8e1718be.png?v=1703241276"
                alt="">
        </div>
        <div>
            <div>
                <h2 class="u48Medium_v2">More</h2>
                <h2 class="rrrrrrrr">RANGE</h2>
                <div class="flex-1 mobileHide"></div>
                <p class="u17Light_v2">
                    <span>Optimize acceleration, save energy and extend range by 15% with torque sensor and intelligent
                        algorithm.</span>
                </p>
            </div>
            <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23439_2x_2021945b-9676-47cf-84c6-2751817c3111.png?v=1703239854"
                alt="">
        </div>
    </div>
</div>
<div class="comfortable">
    <div class="centeral-content">
        <div>
            <div>
            <h2 class="u36Medium_v2">More Comfortable</h2>
            <p class="u17Light_v2">
                <span>
                    Achieve an ergonomic endurance position for all-day rides. Easily adjust seatpost and stem for your
                    comfort.
                </span>
            </p>
        </div>
        <div class="mobileHide"></div>
        <div>
            <h2 class="u36Medium_v2">More Capable</h2>
            <p class="u17Light_v2">
                <span>
                    Highly versatile, Carbon 1 Pro supports racks, larger tires, and even front suspension, offering
                    exceptional DIY possibilities.
                </span>
            </p>
        </div>
        </div>
    </div>
</div>
<div class="smooth">
    <div class="centeral-content">
        <div>
            <div>
            <h2 class="u36Medium_v2">More Smooth</h2>
            <p class="u17Light_v2">
                <span>Torque sensor and intelligent algorithm adapt to your pedaling style for the best acceleration and balance.</span>
            </p>
        </div>
        <div>
            <h2 class="u36Medium_v2">More Accessible</h2>
            <p class="u17Light_v2">
                <span>Bottom-mounted battery for convenient, hassle-free access, avoiding water issues on rainy
                    days.</span>
            </p>
        </div>
        </div>
    </div>
</div>
<div class="conquer">
    <div class="centeral-content">
        <div>
            <div>
            <h2 class="u36Medium_v2">More Road to Conquer</h2>
            <p class="u17Light_v2">
                <span>
                    Wide tires for both GRAVEL and OFF-ROAD, ensuring comfort on various surfaces. Experience the freedom to ride anywhere.
                </span>
            </p>
        </div>
        <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23473_2x_04793898-eb69-4b45-9cac-4bcfbaa7b28f.png?v=1703472656"
            alt="">
        </div>
    </div>
</div>
<div class="gray-background-color never">
    <div class="centeral-content">
        <h2 class="u60Medium_v2">Smart <span style="color: #EB5A2D;">EVOLUTION,</span><br>Unleashing Intelligent Charm
        </h2>
        <h3 class="u48Medium_v2"><img
                src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/screenshot-20231012-172647.png?v=1697102822"
                alt=""> Never lose it</h3>
        <div class="boxs">
            <div>
                <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/3-3_2x_5377b3f0-392f-4585-b0da-551ecc12d5e7.jpg?v=1704189341"
                    alt="">
                <h4 class="u24Medium_v2">Movement alarm</h4>
                <p class="u17Light_v2">
                    <span>
                        Once locked, the onboard alarm monitors movements and alerts you against unauthorized ones.
                    </span>
                </p>
                <div class="flex-1"></div>
            </div>
            <div>
                <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18878_2x_5608f5b0-4079-4221-ae70-8d74217c87d7.jpg?v=1697088999"
                    alt="">
                <h4 class="u24Medium_v2">GPS tracking and fence</h4>
                <p class="u17Light_v2">
                    <span>
                        Aided by a constant 4G connection, GPS tracking keeps you informed of the e-bike’s location, even in the worst scenario of theft.
                    </span>
                </p>
                <div class="flex-1"></div>
            </div>
            <div class="mobileHide"></div>
            <div class="mobileHide"></div>
            <div>
                <h4 class="u24Medium_v2">Find my bike story</h4>
                <p class="u17Light_v2">
                    <span>
                        This is the story of how David’s Urtopia e-bike was stolen during his trip and then recovered,
                        leaving the Las Vegas police officer who assisted him in shock saying, ‘’In all my 20 years on
                        the job, I’ve never seen a bike recovered like that.’’
                    </span>
                </p>
            </div>
            <div>
                <div class="my-button my-button-black"
                    onclick="showVideoDialog('https://www.youtube.com/embed/W3N0OuaXj5M?autoplay=1&amp;cc_load_policy=1')">
                    Watch Video <img
                        src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/screenshot-20231012-165647.png?v=1697101021"
                        alt=""></div>
            </div>
        </div>
    </div>
</div>
<div class="everything">
    <div class="centeral-content">
        <div class="boxs">
            <div>
                <h3 class="u24Medium_v2">Fingerprint unlock</h3>
                <p class="u17Light_v2">
                    <span>
                        No more worrying about losing another key.
                    </span>
                </p>
            </div>
            <div>
                <h3 class="u24Medium_v2">Navigation without cellphone</h3>
                <p class="u17Light_v2">
                    <span>
                        No more ugly phone holders, the bright screen shows navigation clearly in
                        daylight.
                    </span>
                </p>
            </div>
            <div>
                <h3 class="u24Medium_v2">Track your route</h3>
                <p class="u17Light_v2">
                    <span>
                        The smart app tracks your trips and your health. Get on your bike and share
                        your exciting moments with friends and family.
                    </span>
                </p>
            </div>
            <div>
                <h3 class="u24Medium_v2">Bluetooth music</h3>
                <p class="u17Light_v2">
                    <span>
                        We know the importance of music, so we built a Bluetooth speaker. You can enjoy your favorite music while riding without having to carry an external speaker.
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="ring">
    <div class="image">
        <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18979_2x_7c9bf93b-75cd-4576-84f7-6fb05814c52d.png?v=1703487783"
            alt="">
        <div>
            <div class="u24Medium_v2">Smart Ring</div>
            <h2 class="u48Medium_v2">Control Your E-Bike with a Ring</h2>
            <p class="u17Light_v2">
                <span>
                    With just a swipe of the ring, you can power on the bike, play music, or even engage in a
                    conversation with ChatGPT. The ring allows customizable interactions for all smart features.
                </span>
            </p>
        </div>
    </div>
</div>
<div class="just">
    <div class="centeral-content">
        <h2 class="u48Medium_v2">Just Fingertip, <br>Magic Happens</h2>
        <p class="u17Light_v2">
            <span>
                Our ecosystem automates everything, eliminating the need for manual adjustments. This maximizes training
                efficiency and prevents injuries by monitoring your workouts.
            </span>
        </p>
    </div>
</div>
<div class="your">
    <div class="centeral-content">
        <div>
            <h2 class="u48Medium_v2">Your All in One <br>Health Coach</h2>
            <div>
                <p class="u17Light_v2">
                    <span>Your rides and daily activities offer personalized insights. Our AI companion
                        tailors accurate
                        recommendations exclusively for you—no more generic advice.</span>
                </p>
                <!--<form class="emaillllllllllllll" accept-charset="UTF-8">
                        <input class="u17Medium_v2" placeholder="Enter email here" type="email" name="email" required="">
                        <button class="my-button my-button-black" type="submit">Subscribe</button>
                        <span class="u17DemiBold_v2">Thanks for subscribing!</span>
                    </form>-->
            </div>
        </div>
        <img class="mobileHide"
            src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_1171275468_2x_e9b7cb14-5cd5-402a-acb8-a1f69706f41e.png?v=1702278548"
            alt="">
        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18987_2x_2d452730-e518-4f14-828a-2660285ef03f.png?v=1702285205"
            class="pcHide" alt="">
    </div>
</div>

<div class="size-and-specs">
    <div class="centeral-content">
        <div class="item">
            <div class="u36DemiBold_v2"><img class="down"
                    src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20413.svg?v=1688982520" alt="" />
                Size Guide</div>
            <div class="content sizes">
                <div class="lines">
                    <div class="line u17DemiBold_v2">
                        <span style="color: #fff;">aaa</span>
                        <span>Small<br>(mm)</span>
                        <span>Medium<br>(mm)</span>
                        <span>Large<br>(mm)</span>
                    </div>
                    <div class="line">
                        <span>Recomm. rider height</span>
                        <span>5’3’’~5’9’’</span>
                        <span>5’7’’~6’1’’</span>
                        <span>5’11’’~6’5’’</span>
                    </div>
                    <div class="line">
                        <span>A. Standover height</span>
                        <span>779</span>
                        <span>804</span>
                        <span>833</span>
                    </div>
                    <div class="line">
                        <span>B. Adjustable seat range</span>
                        <span>60</span>
                        <span>60</span>
                        <span>60</span>
                    </div>
                    <div class="line">
                        <span>C. Handlebar grips height</span>
                        <span>995-1025</span>
                        <span>1011-1041</span>
                        <span>1023-1053</span>
                    </div>
                    <div class="line">
                        <span>D. Seat tube length</span>
                        <span>421</span>
                        <span>463</span>
                        <span>498</span>
                    </div>
                    <div class="line">
                        <span>E. Wheelbase</span>
                        <span>1065</span>
                        <span>1093</span>
                        <span>1122</span>
                    </div>
                    <div class="line">
                        <span>F. Overall length</span>
                        <span>1766</span>
                        <span>1795</span>
                        <span>1824</span>
                    </div>
                    <div class="line">
                        <span>G. Wheel diameter</span>
                        <span>702</span>
                        <span>702</span>
                        <span>702</span>
                    </div>
                    <div class="line">
                        <span>H. Top tube length (effective)</span>
                        <span>594</span>
                        <span>618</span>
                        <span>653</span>
                    </div>
                    <div class="line">
                        <span>I. Head tube length</span>
                        <span>152</span>
                        <span>170</span>
                        <span>180</span>
                    </div>
                    <div class="line">
                        <span>J. Headset height</span>
                        <span>90-120</span>
                        <span>90-120</span>
                        <span>90-120</span>
                    </div>
                </div>
                <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20231221-151050_2x_d883c889-6e52-477d-8672-a7dda6dbbbdd.png?v=1703577530"
                    alt="">
            </div>
        </div>
        <div class="item __pf __pf_kIY6jB09">
            <div class="u36DemiBold_v2"><img
                    src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20413.svg?v=1688982520"
                    alt="">Specs</div>
            <div class="content">
                <div data-section-id="pf-10fe" data-pf-type="Section" class="sc-fmciRz bheIgq pf-492_ pf-hide">
                    <div style="--cw:1280px" class="sc-gjNHFA gwWIgj">
                        <div class="sc-ezbkAF A-dmbO pf-493_ pf-r pf-c-cm pf-r-eh"
                            style="--s-xs:15px;justify-content:unset;" data-pf-type="Row">

                            <div class="pf-c" style="--c-xs:0.5;--c-md:0.5;--c-lg:0.5;margin-right: 15px;">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-498_">
                                    <div data-pf-type="Image" class="sc-jgrJph bzUUvT pf-499_"><img
                                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/icon2-1649931441565.png?v=1649931443"
                                            srcSet="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/icon2-1649931441565.png?v=1649931443 1536w"
                                            width="2560" height="1829" /></div>
                                </div>
                            </div>
                            <div class="pf-c" style="--c-xs:0.5;--c-md:0.5;--c-lg:0.5;margin-right: 15px;">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-500_">
                                    <div data-pf-type="Image" class="sc-jgrJph bzUUvT pf-501_"><img
                                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/cpsc_logo-1662445677565.svg?v=1662445680"
                                            width="40" height="44" /></div>
                                </div>
                            </div>
                            <div class="pf-c" style="--c-xs:0.5;--c-md:0.5;--c-lg:0.5;margin-right: 15px;">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-502_">
                                    <div data-pf-type="Image" class="sc-jgrJph bzUUvT pf-503_"><img
                                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/icon1png-1649931441566.png?v=1649931446"
                                            srcSet="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/icon1png-1649931441566.png?v=1649931446 1536w"
                                            width="540" height="546" /></div>
                                </div>
                            </div>
                        </div>
                        <div class="sc-ezbkAF A-dmbO pf-504_ pf-r pf-r-eh" style="--s-xs:15px;--s-lg:5px"
                            data-pf-type="Row">
                            <div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-505_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-506_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-508_">Smart</span></h3>
                                </div>
                            </div>
                        </div>
                        <div class="sc-ezbkAF A-dmbO pf-509_ pf-r pf-r-eh" style="--s-xs:15px;--s-lg:5px"
                            data-pf-type="Row">
                            <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-510_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-511_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-513_">Smartbar
                                            features</span></h3>
                                    <p class="sc-jtXEFf jydWoQ pf-514_" data-pf-type="Paragraph"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-516_">Voice control, fingerprint start, LED dot - matrix display, haptic interaction, bluetooth music, built-in navigation, OTA upgrade</span></p>
                                </div>
                            </div>
                            <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-517_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-518_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-520_">Connectivity</span>
                                    </h3>
                                    <p class="sc-jtXEFf jydWoQ pf-521_" data-pf-type="Paragraph"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-523_">eSIM with 4G, Bluetooth, GPS</span></p>
                                </div>
                            </div>
                            <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-524_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-525_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-527_">IoT sensors</span></h3>
                                    <p class="sc-jtXEFf jydWoQ pf-528_" data-pf-type="Paragraph"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-530_">Accelerometer, gyroscope, torque sensor</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="sc-ezbkAF A-dmbO pf-531_ pf-r pf-r-eh" style="--s-xs:15px;--s-lg:5px"
                            data-pf-type="Row">
                            <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-532_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-533_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-535_">App</span></h3>
                                    <p class="sc-jtXEFf jydWoQ pf-536_" data-pf-type="Paragraph"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-538_">iOS &amp;
                                            Android</span></p>
                                </div>
                            </div>
                            <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-532_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-533_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-535_">Digital Service</span></h3>
                                    <p class="sc-jtXEFf jydWoQ pf-536_" data-pf-type="Paragraph"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-538_">1 year included*</span></p>
                                </div>
                            </div>
                            <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-540_"></div>
                            </div>
                        </div>
                        <div class="sc-ezbkAF A-dmbO pf-541_ pf-r pf-r-eh" style="--s-xs:15px;--s-lg:5px"
                            data-pf-type="Row">
                            <div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-542_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-543_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-545_">Power</span></h3>
                                </div>
                            </div>
                        </div>
                        <div class="sc-ezbkAF A-dmbO pf-546_ pf-r pf-r-eh" style="--s-xs:15px;--s-lg:5px"
                            data-pf-type="Row">
                            <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-547_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-548_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-550_">Motor</span></h3>
                                    <p class="sc-jtXEFf jydWoQ pf-551_" data-pf-type="Paragraph"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-553_">Customized rear hub, 36 V 350 W (rated), 42 N⋅m</span></p>
                                </div>
                            </div>
                            <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-554_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-555_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-557_">Speed modes</span></h3>
                                    <p class="sc-jtXEFf jydWoQ pf-558_" data-pf-type="Paragraph"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-560_">Pedal, Eco, Comfort, Sport, Turbo</span></p>
                                </div>
                            </div>
                            <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-561_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-562_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-564_">Top speed
                                            (assisted)</span></h3>
                                    <p class="sc-jtXEFf jydWoQ pf-565_" data-pf-type="Paragraph"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-567_">25mph</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="sc-ezbkAF A-dmbO pf-568_ pf-r pf-r-eh" style="--s-xs:15px;--s-lg:5px"
                            data-pf-type="Row">
                            <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-569_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-570_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-572_">Range</span></h3>
                                    <p class="sc-jtXEFf jydWoQ pf-573_" data-pf-type="Paragraph"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-575_">30~70 miles</span></p>
                                </div>
                            </div>
                            <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-576_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-577_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-579_">Removable
                                            battery</span></h3>
                                    <p class="sc-jtXEFf jydWoQ pf-580_" data-pf-type="Paragraph"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-582_">352.8Wh, Samsung Li-ion, removable battery, 2.5-hr quick charge</span></p>
                                </div>
                            </div>
                            <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-583_"></div>
                            </div>
                        </div>
                        <div class="sc-ezbkAF A-dmbO pf-584_ pf-r pf-r-eh" style="--s-xs:15px;--s-lg:5px"
                            data-pf-type="Row">
                            <div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-585_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-586_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-588_">General</span></h3>
                                </div>
                            </div>
                        </div>
                        <div class="sc-ezbkAF A-dmbO pf-589_ pf-r pf-r-eh" style="--s-xs:15px;--s-lg:5px"
                            data-pf-type="Row">
                            <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-590_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-591_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-593_">Weight</span></h3>
                                    <p class="sc-jtXEFf jydWoQ pf-594_" data-pf-type="Paragraph"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-596_">17kg excl. accessories</span></p>
                                </div>
                            </div>
                            <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-597_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-598_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-600_">Load-bearing capacity</span>
                                    </h3>
                                    <p class="sc-jtXEFf jydWoQ pf-601_" data-pf-type="Paragraph"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-603_">Max. 240 lbs. (110 kg)</span>
                                    </p>
                                </div>
                            </div>
                            <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-604_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-605_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-607_">Sizes&nbsp;</span></h3>
                                    <p class="sc-jtXEFf jydWoQ pf-608_" data-pf-type="Paragraph"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-610_">Medium, Large
                                            (see Size Guide)</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="sc-ezbkAF A-dmbO pf-611_ pf-r pf-r-eh" style="--s-xs:15px;--s-lg:5px"
                            data-pf-type="Row">
                            <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-612_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-613_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-615_">Body material</span>
                                    </h3>
                                    <p class="sc-jtXEFf jydWoQ pf-616_" data-pf-type="Paragraph"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-618_">Carbon fiber (frame, fork)</span></p>
                                </div>
                            </div>
                            <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-619_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-620_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-622_">Brakes</span></h3>
                                    <p class="sc-jtXEFf jydWoQ pf-623_" data-pf-type="Paragraph"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-625_">Front &amp; rear
                                            dual-piston hydraulic disc</span></p>
                                </div>
                            </div>
                            <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-626_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-627_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-629_">Tires</span></h3>
                                    <p class="sc-jtXEFf jydWoQ pf-630_ Body" data-pf-type="Paragraph"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-632_">700 x 40C</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="sc-ezbkAF A-dmbO pf-633_ pf-r pf-r-eh" style="--s-xs:15px;--s-lg:5px"
                            data-pf-type="Row">
                            <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-634_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-635_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-637_">Integrated
                                            lights</span></h3>
                                    <p class="sc-jtXEFf jydWoQ pf-638_" data-pf-type="Paragraph"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-640_">StVZO headlight</span></p>
                                </div>
                            </div>
                            <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-641_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-642_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-644_">Wheels</span></h3>
                                    <p class="sc-jtXEFf jydWoQ pf-645_" data-pf-type="Paragraph"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-647_">700C (ISO 622 mm BSD), inner rim 19 mm</span></p>
                                </div>
                            </div>
                            <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-648_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-649_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-651_">Transmission</span></h3>
                                    <p class="sc-jtXEFf jydWoQ pf-652_" data-pf-type="Paragraph"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-654_">Shimano 8-Speed Rear Drivetrain</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="sc-ezbkAF A-dmbO pf-655_ pf-r pf-r-eh pf-lg-hide pf-md-hide pf-sm-hide"
                            style="--s-xs:15px;--s-lg:5px" data-pf-type="Row">
                            <div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-656_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-657_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-659_">What’s in the
                                            Box</span></h3>
                                </div>
                            </div>
                        </div>
                        <div class="sc-ezbkAF A-dmbO pf-660_ pf-r pf-r-eh pf-lg-hide pf-md-hide pf-sm-hide"
                            style="--s-xs:15px;--s-lg:5px" data-pf-type="Row">
                            <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-661_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-662_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-664_">Urtopia Carbon
                                            one</span></h3>
                                    <p class="sc-jtXEFf jydWoQ pf-665_" data-pf-type="Paragraph"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-667_">Front Wheel, Frame,
                                            Seatpost, saddle, Pedals</span></p>
                                </div>
                            </div>
                            <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-668_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-669_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-671_">Removable
                                            battery</span></h3>
                                    <p class="sc-jtXEFf jydWoQ pf-672_" data-pf-type="Paragraph"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-674_">Battery, Charger,
                                            Battery key</span></p>
                                </div>
                            </div>
                            <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-675_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-676_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-678_">Frame (accessory) bag
                                        </span></h3>
                                    <p class="sc-jtXEFf jydWoQ pf-679_" data-pf-type="Paragraph"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-681_">4mm Allen wrench, 15mm
                                            combination wrench, front-wheel quick-release device</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-section-id="pf-2917" data-pf-type="Section"
                    class="sc-fmciRz bheIgq pf-682_ pf-lg-hide pf-md-hide pf-sm-hide">
                    <div style="--cw:1170px" class="sc-gjNHFA gwWIgj">

                        <div class="sc-ezbkAF A-dmbO pf-688_ pf-r pf-c-cm pf-r-eh"
                            style="--s-xs:15px;justify-content:unset;" data-pf-type="Row">
                            <div class="pf-c" style="--c-xs:1.5;--c-sm:1.5;--c-md:1.5;--c-lg:1.5">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-689_">
                                    <div data-pf-type="Image" class="sc-jgrJph bzUUvT pf-690_"><img
                                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/icon2-1649931441565.png?v=1649931443"
                                            srcSet="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/icon2-1649931441565.png?v=1649931443 1536w"
                                            width="2560" height="1829" /></div>
                                </div>
                            </div>
                            <div class="pf-c" style="--c-xs:1.5;--c-sm:1.5;--c-md:1.5;--c-lg:1.5">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-691_">
                                    <div data-pf-type="Image" class="sc-jgrJph bzUUvT pf-692_"><img
                                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/cpsc_logo-1662445677565.svg?v=1662445680"
                                            width="40" height="44" /></div>
                                </div>
                            </div>
                            <div class="pf-c" style="--c-xs:1.5;--c-sm:1.5;--c-md:1.5;--c-lg:1.5">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-693_">
                                    <div data-pf-type="Image" class="sc-jgrJph bzUUvT pf-694_"><img
                                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/icon1png-1649931441566.png?v=1649931446"
                                            srcSet="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/icon1png-1649931441566.png?v=1649931446 1536w"
                                            width="540" height="546" /></div>
                                </div>
                            </div>
                        </div>


                        <div class="sc-ezbkAF A-dmbO pf-695_ pf-r pf-r-eh" style="--s-xs:15px;--s-lg:5px"
                            data-pf-type="Row">
                            <div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-696_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-697_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-699_">Smart</span></h3>
                                </div>
                            </div>
                        </div>
                        <div class="sc-ezbkAF A-dmbO pf-700_ without-padding-bt pf-r pf-r-eh"
                            style="--s-xs:15px;--s-lg:5px" data-pf-type="Row">
                            <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-701_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-702_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-704_">Smartbar
                                            features</span></h3>
                                    <p class="sc-jtXEFf jydWoQ pf-705_" data-pf-type="Paragraph"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-707_">Voice control, fingerprint start, LED dot - matrix display, haptic interaction, bluetooth music, built-in navigation, OTA upgrade</span></p>
                                </div>
                            </div>
                            <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-708_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-709_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-711_">Connectivity</span>
                                    </h3>
                                    <p class="sc-jtXEFf jydWoQ pf-712_" data-pf-type="Paragraph"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-714_">eSIM with 4G, Bluetooth, GPS</span></p>
                                </div>
                            </div>
                            <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-715_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-716_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-718_">IoT sensors</span></h3>
                                    <p class="sc-jtXEFf jydWoQ pf-719_" data-pf-type="Paragraph"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-721_">Accelerometer, gyroscope, torque sensor</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="sc-ezbkAF A-dmbO pf-722_ without-padding-bt pf-r pf-r-eh"
                            style="--s-xs:15px;--s-lg:5px" data-pf-type="Row">
                            <div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-723_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-724_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-726_">App</span></h3>
                                    <p class="sc-jtXEFf jydWoQ pf-727_" data-pf-type="Paragraph"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-729_">iOS &amp;
                                            Android</span></p>
                                </div>
                            </div>
                            <div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-723_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-724_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-726_">Digital Service</span></h3>
                                    <p class="sc-jtXEFf jydWoQ pf-727_" data-pf-type="Paragraph"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-729_">1 year included*</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="sc-ezbkAF A-dmbO pf-730_ pf-r pf-r-eh" style="--s-xs:15px;--s-lg:5px"
                            data-pf-type="Row">
                            <div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-731_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-732_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-734_">Power</span></h3>
                                </div>
                            </div>
                        </div>
                        <div class="sc-ezbkAF A-dmbO pf-735_ without-padding-bt pf-r pf-r-eh"
                            style="--s-xs:15px;--s-lg:5px" data-pf-type="Row">
                            <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-736_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-737_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-739_">Motor</span></h3>
                                    <p class="sc-jtXEFf jydWoQ pf-740_" data-pf-type="Paragraph"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-742_">Customized rear hub, 36 V 350 W (rated), 42 N⋅m</span></p>
                                </div>
                            </div>
                            <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-743_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-744_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-746_">Speed modes</span></h3>
                                    <p class="sc-jtXEFf jydWoQ pf-747_" data-pf-type="Paragraph"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-749_">Pedal, Eco, Comfort, Sport, Turbo</span></p>
                                </div>
                            </div>
                            <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-750_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-751_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-753_">Top speed
                                            (assisted)</span></h3>
                                    <p class="sc-jtXEFf jydWoQ pf-754_" data-pf-type="Paragraph"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-756_">25mph</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="sc-ezbkAF A-dmbO pf-757_ without-padding-bt pf-r pf-r-eh"
                            style="--s-xs:15px;--s-lg:5px" data-pf-type="Row">
                            <div class="pf-c" style="--c-xs:12;--c-sm:6;--c-md:6;--c-lg:6">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-758_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-759_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-761_">Range</span></h3>
                                    <p class="sc-jtXEFf jydWoQ pf-762_" data-pf-type="Paragraph"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-764_">30~70 miles</span></p>
                                </div>
                            </div>
                            <div class="pf-c" style="--c-xs:12;--c-sm:6;--c-md:6;--c-lg:6">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-765_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-766_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-768_">Removable
                                            battery</span></h3>
                                    <p class="sc-jtXEFf jydWoQ pf-769_" data-pf-type="Paragraph"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-771_">352.8Wh, Samsung Li-ion, removable battery, 2.5-hr quick charge</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="sc-ezbkAF A-dmbO pf-772_ pf-r pf-r-eh" style="--s-xs:15px;--s-lg:5px"
                            data-pf-type="Row">
                            <div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-773_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-774_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-776_">General</span></h3>
                                </div>
                            </div>
                        </div>
                        <div class="sc-ezbkAF A-dmbO pf-777_ without-padding-bt pf-r pf-r-eh"
                            style="--s-xs:15px;--s-lg:5px" data-pf-type="Row">
                            <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-778_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-779_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-781_">Weight</span></h3>
                                    <p class="sc-jtXEFf jydWoQ pf-782_" data-pf-type="Paragraph"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-784_">17kg excl. accessories</span></p>
                                </div>
                            </div>
                            <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-785_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-786_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-788_">Load-bearing capacity</span>
                                    </h3>
                                    <p class="sc-jtXEFf jydWoQ pf-789_" data-pf-type="Paragraph"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-791_">Max. 240 lbs. (110 kg)</span>
                                    </p>
                                </div>
                            </div>
                            <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-792_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-793_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-795_">Sizes&nbsp;</span></h3>
                                    <p class="sc-jtXEFf jydWoQ pf-796_" data-pf-type="Paragraph"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-798_">Medium, Large
                                            (see Size Guide)</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="sc-ezbkAF A-dmbO pf-799_ without-padding-bt pf-r pf-r-eh"
                            style="--s-xs:15px;--s-lg:5px" data-pf-type="Row">
                            <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-800_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-801_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-803_">Body material</span>
                                    </h3>
                                    <p class="sc-jtXEFf jydWoQ pf-804_" data-pf-type="Paragraph"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-806_">Carbon fiber (frame, fork)</span></p>
                                </div>
                            </div>
                            <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-807_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-808_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-810_">Brakes</span></h3>
                                    <p class="sc-jtXEFf jydWoQ pf-811_" data-pf-type="Paragraph"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-813_">Front & rear dual-piston hydraulic disc</span></p>
                                </div>
                            </div>
                            <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-814_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-815_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-817_">Tires</span></h3>
                                    <p class="sc-jtXEFf jydWoQ pf-818_" data-pf-type="Paragraph"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-820_">700 x 40C</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="sc-ezbkAF A-dmbO pf-821_ without-padding-bt pf-r pf-r-eh"
                            style="--s-xs:15px;--s-lg:5px" data-pf-type="Row">
                            <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-822_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-823_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-825_">Integrated
                                            lights</span></h3>
                                    <p class="sc-jtXEFf jydWoQ pf-826_" data-pf-type="Paragraph"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-828_">StVZO headlight</span></p>
                                </div>
                            </div>
                            <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-829_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-830_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-832_">Wheels</span></h3>
                                    <p class="sc-jtXEFf jydWoQ pf-833_" data-pf-type="Paragraph"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-835_">700C (ISO 622 mm BSD), inner rim 19 mm</span></p>
                                </div>
                            </div>
                            <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-836_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-837_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-839_">Transmission</span></h3>
                                    <p class="sc-jtXEFf jydWoQ pf-840_" data-pf-type="Paragraph"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-842_">700C (ISO 622 mm BSD), inner rim 19 mm</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="sc-ezbkAF A-dmbO pf-843_ pf-r pf-r-eh pf-hide" style="--s-xs:15px;--s-lg:5px"
                            data-pf-type="Row">
                            <div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-844_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-845_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-847_">What’s in the
                                            Box</span></h3>
                                </div>
                            </div>
                        </div>
                        <div class="sc-ezbkAF A-dmbO pf-848_ without-padding-bt pf-r pf-r-eh pf-hide"
                            style="--s-xs:15px;--s-lg:5px" data-pf-type="Row">
                            <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-849_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-850_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-852_">Urtopia Carbon
                                            one</span></h3>
                                    <p class="sc-jtXEFf jydWoQ pf-853_" data-pf-type="Paragraph"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-855_">Front Wheel, Frame,
                                            Seatpost, saddle, Pedals</span></p>
                                </div>
                            </div>
                            <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-856_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-857_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-859_">Removable
                                            battery</span></h3>
                                    <p class="sc-jtXEFf jydWoQ pf-860_" data-pf-type="Paragraph"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-862_">Battery, Charger,
                                            Battery key</span></p>
                                </div>
                            </div>
                            <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-863_">
                                    <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-864_"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-866_">Frame (accessory) bag
                                        </span></h3>
                                    <p class="sc-jtXEFf jydWoQ pf-867_" data-pf-type="Paragraph"><span
                                            data-pf-type="Text" class="sc-jKTccl dCeBIC pf-869_">4mm Allen wrench, 15mm
                                            combination wrench, front-wheel quick-release device
                                        </span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="u11Light_v2" style="color: #999;margin-top: 4vh;">*This service will be automatically activated once the bike is activated and bound to your account. We provide free access in the first year, with the following terms to be renewed by subscription to this service. A code will be sent to your email which can be used to renew the service in our App.</div>
            </div>
        </div>
    </div>
</div>

<div class="carbon1propopup">
    <div class="popupclose">
        <div class="centeral-content">
            <span class="u24DemiBold_v2">Carbon 1 Pro Reservation</span>
            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23527.svg?v=1703563138" alt="">
        </div>
    </div>
    <div class="scrolllllssss">
        <div class="product" data-pf-type="ProductBox">
		<div class="centeral-content">
			<div class="commonComponent pcHide">
				<div class="u36DemiBold_v2 mb6">Urtopia Carbon 1 Pro</div>
                <div class="u14Medium_v2 onlllllllly">Pre-order Promotion</div>
				<div class="product-price u30DemiBold_v2 {% unless product.compare_at_price != product.price %}mb6{% endunless %}" {% unless product.compare_at_price != product.price %}style="color: #000;"{% endunless %} {% unless product.compare_at_price == product.price %} data-price="{{ product.compare_at_price | money }}"{% endunless %}>{{ product.price | money }}</div>
        <div class="sale-tag mb6">
          <!--<div class="u17Medium_v2">{{ settings.sale_name }}</div>-->
          <div class="u14Light_v2 mb6" style="margin: 0;">Free shipping.</div>
        </div>
        <div class="adwarsssss"></div>
        <!--<div class="sale-big-text mb6">
          <div class="u20DemiBold_v2">LOWEST PRICE OF THE YEAR GUARANTEED!</div>
          <div class="u11Light_v2">For any order during Oct 1 - Dec 31 2023, if there is a price drop within this period on our website, you will get a refund for the difference.</div>
        </div>-->
			</div>
			<div class="featured_image">
				<div class="swiper left-swiper mobileHide">
					<div class="swiper-wrapper">
					</div>
				</div>
				<div class="swiper right-swiper" style="--swiper-navigation-color: #fff;--swiper-theme-color: #000;--swiper-pagination-color: #000;">
                    <div class="adwarsssss mobileHide"></div>
					<div class="swiper-wrapper">
						{% comment %} {% for image in product.images %}
							<div class="swiper-slide">
								{{ image | image_url: width: 1000 | image_tag }}
							</div>
						{% endfor %} {% endcomment %}
					</div>
					<div class="swiper-button-prev mobileHide"></div><!--左箭头。如果放置在swiper外面，需要自定义样式。-->
					<div class="swiper-button-next mobileHide"></div><!--右箭头。如果放置在swiper外面，需要自定义样式。-->
					<div class="swiper-pagination pcHide"></div>
					<div class="flex-1 mobileHide"></div>
                    <div class="fenders mobileHide">
                        <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20231226-195048.jpg?v=1703591462" alt="">
                        <span class="u17DemiBold_v2">Free Fenders, Kickstand, <br>1-Year Connect Service Included</span>
                        <span class="u17Light_v2" style="text-decoration: line-through;">$167.00</span>
                        <span class="u17DemiBold_v2">FREE</span>
                    </div>
					<!--<div class="parameters mobileHide">
						<div>
							<img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18448_2x_833c8995-fa19-4297-af29-678ac4064d0c.png?v=1687176385"/>
							<span><span class="u14Light_v2">Carbon Fiber</span><span class="u17DemiBold_v2">33 lbs.</span></span>
						</div>
						<div>
							<img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18449_2x_e118ab7b-18ca-4612-afb3-20758874d9c7.png?v=1687177181"/>
							<span><span class="u14Light_v2">Fast & Easy</span><span class="u17DemiBold_v2">90% Assembled</span></span>
						</div>
						<div>
							<img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18445_2x_2e6c6230-7ed1-4c3d-99ad-54ba48fa57b4.png?v=1687177370"/>
							<span><span class="u14Light_v2">Adaptive</span><span class="u17DemiBold_v2">Torque Sensor</span></span>
						</div>
						<div>
							<img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18447_2x_c102facd-9087-4028-8f97-34a7af31b1f6.png?v=1687177414"/>
							<span><span class="u14Light_v2">Range</span><span class="u17DemiBold_v2">60 miles</span></span>
						</div>
						<div>
							<img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18450_2x_50383af6-61df-4632-9cbc-531630580f61.png?v=1687177242"/>
							<span><span class="u14Light_v2">Phone App</span><span class="u17DemiBold_v2">iOS, Android</span></span>
						</div>
						<div>
							<img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18446_2x_791e060a-ed39-42c5-9cf0-965d7e5110bb.png?v=1687177232"/>
							<span><span class="u14Light_v2">Anti-theft</span><span class="u17DemiBold_v2">GPS Tracking</span></span>
						</div>
					</div>-->
				</div>            
			</div>
			<form method="post" accept-charset="UTF-8" action="/cart/add" class="product-panel pf-product-form" data-productid={{ product.id }} id="product_form_{{ product.id }}" enctype="multipart/form-data">
				<input type="hidden" name="id" data-product-id="{{product.id}}" value="{{ product.selected_or_first_available_variant.id }}"/>
				<input type="hidden" name="form_type" value="product">
				<input type="hidden" name="utf8" value="✓">
				<div class="commonComponent mobileHide" id="sale_acc">
					<div class="u36DemiBold_v2 mb6">Urtopia Carbon 1 Pro</div>
                    <div class="u17Medium_v2 onlllllllly">Pre-order Promotion</div>
					<div class="product-price u30DemiBold_v2 {% unless product.compare_at_price != product.price %}mb6{% endunless %}" {% unless product.compare_at_price != product.price %}style="color: #000;"{% endunless %} {% unless product.compare_at_price == product.price %} data-price="{{ product.compare_at_price | money }}"{% endunless %}>{{ product.price  | money }}</div>
                    <div class="sale-tag mb12">
                        <!--<div class="u17Medium_v2">{{ settings.sale_name }}</div>-->
                        <div class="u14Light_v2" style="margin: 0;">Free shipping.</div>
                    </div>
                    <!--<div class="sale-big-text ">
                        <div class="u20DemiBold_v2">LOWEST PRICE OF THE YEAR GUARANTEED!</div>
                        <div class="u11Light_v2">For any order during Oct 1 - Dec 31 2023, if there is a price drop within this period on our website, you will get a refund for the difference.</div>
                    </div>-->
				</div>
				<!--<div class="sale_acc mb12 belt">
					<div class="u14Light_v2" style="background-image: linear-gradient(-90deg,var(--sale-color3),var(--sale-color4));">And get <span style="font-weight: 600;"> {{ settings.carbon_ebike_free_accessories_price | money_without_trailing_zeros}} </span> Accessories for <span class="u20DemiBold_v2"> Free</span></div>
					{% assign accessories_map = "7523826008312,7883128406264,7523827613944" | split: ',' %}
					<div class="accs">
						{% for acc in accessories_map %}
							{% for prod in collections["accessories"].products %}
								{% if acc contains prod.id %}
									<div class="acc">
										{{ prod.featured_image | image_url: width: 400 | image_tag }}
										{% if acc == "7883128406264" %}
											<span class="u11Medium_v2">{{ prod.title | truncatewords: 1, "" | replace: "-", "" }}</span>
										{% else %}
											<span class="u11Medium_v2">{{ prod.title }}</span>
										{% endif %}
									</div>
								{% endif %}
							{% endfor %}
						{% endfor %}
					</div>
				</div>-->
                <div class="fenders pcHide">
                    <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20231226-195048.jpg?v=1703591462" alt="">
                    <div>
                        <span class="u17DemiBold_v2" style="background-color: #263B55; color: #fff;border-radius: 7px;padding: 3px 12px;">FREE</span>
                        <span class="u17DemiBold_v2" style="text-decoration: line-through;">$167.00</span>
                        <div class="u17Light_v2">Free Fenders, Kickstand, <br>1-Year Connect Service Included</div>
                    </div>
                </div>
                {% unless true %}
                    <div class="count-down mb12 mobileHide">
                      <div class="u17Medium_v2">Promotion Ends in:</div>
                      <img src="http://i.countdownmail.com/205dop.gif">
                    </div>
                  {% endunless %}
				<div class="options">
                    {% for option in product.options_with_values %}
                        <div class="option" option={{option.name}} position="{{ option.position }}">
                            <div class="u17DemiBold_v2 mb12">{{ option.name }} - <span class="u17Light_v2"></span></div>
                            <div class="{{ option.name }} mb12">
                            {% for value in option.values %}
                                {% case option.name %}
                                {% when "Model" %}
                                    <div attribute="{{ value }}" class="{{ value }}">{% assign values = value | split: " · " %}
                                    {% for value in values %}
                                        <span>{{ value }}</span>
                                    {% endfor %}
                                    </div>
                                {% when "Color" %}
                                <div attribute="{{ value }}" class="{{ value }}"></div>
                                {% else %}
                                    <div attribute="{{ value }}" class="{{ value }}">{{ value }}</div>
                                {% endcase %}                     
                            {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
				</div>
                {% unless true %}
                    <div class="count-down mb12 pcHide">
                      <div class="u17Medium_v2">Promotion Ends in:</div>
                      <img src="http://i.countdownmail.com/205dop.gif">
                    </div>
                  {% endunless %}
				<div class="error-tip u14Medium_v2" style="color:red;">Your order quantity has reached our stock limit</div>    
				<div class="buttons">
                                <div
                                    data-product-id="{{ product.id }}"
                                    class="my-button my-button-origin addToCartBtn"
                                    onclick="addAllToCart('atc')"
                                    id="addToCart"
                                    >
                                    <i class="fa fa-spinner fa-spin"></i><span data-pf-type="Text" class="addToCartText u17DemiBold_v2">Pre-order Now</span>
                                </div>
				</div>
				<div class="u14DemiBold_v2 delivery_time mb12">Free Shipping Start from March, 2024 <br>The early you pay, the early it ships.</div>
				<div class="support mb12">
					<a href="#boxs3">
						<img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230621-005713.png?v=1687280264"/>
						<span class="u11Medium_v2">60+ Spots<br>of Service</span>
					</a>
					<a href="/pages/shipping-and-return" target="_blank">
						<img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_17959_2x_cff00041-4dce-479b-b87d-55b1cb89cd7a.png?v=1687161086"/>
						<span class="u11Medium_v2">14-Day<br>Returns</span>
					</a>
					<a href="/pages/warranty" target="_blank">
						<img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_17958_2x_1e776f09-0686-4672-a22f-b29d2df3898d.png?v=1687161098"/>
						<span class="u11Medium_v2">2-Year<br>Warranty</span>
					</a>
				</div>
				<div class="dialogs">
					<div class="u17Medium_v2">
						<span>Size & Fit</span>
						<span>&gt;</span>
					</div>
					<div class="u17Medium_v2">
						<span>Technical Specifications</span>
						<span>&gt;</span>
					</div>
					<!--<div class="u17Medium_v2">
						<span>Support & Service</span>
						<span>&gt;</span>
					</div>-->
					<div class="u17Medium_v2">
						<span>Reservation FAQs</span>
						<span>&gt;</span>
					</div>
				</div>
			</form>
		</div>
	</div>
    <div class="test-ride">
        <div class="centeral-content">
          <div>
            <div>
              <div class="u36DemiBold_v2">Test ride spots near you</div>
              <div class="u20DemiBold_v2">Experience the bike in real</div>
              <a
                class="my-button my-button-origin"
                href="/pages/test-ride"
                target="_blank">Book a Free Test Ride</a>
            </div>
          </div>
          <div>
            <div style="padding: 0;">
              <div
                id="storepoint-container"
                data-tags="us"
                data-map-id="162f21804990ff"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="boxs3" id="boxs3">
  <div class="centeral-content">
    <div></div>
    <div>
      <div class="u30DemiBold_v2">Local care all the time</div>
      <div class="u17Light_v2">
        <div><img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/shopping-mall_2x_44d99fcd-f0f4-443b-927e-b68e48af010f.png?v=1687259496">60+ service partners</div>
        <div><img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/24-hours_2x_d6a8eeb2-4564-4351-8cb9-096dbb778479.png?v=1687259501">24hrs service response, App build-in portal</div>
        <div><img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/box_2x_2b3b7c15-f5ae-4305-956f-7543b63b2dda.png?v=1687259506"><span>Spare parts available locally, ships in 3 days.</span>
        </div>
        <div><img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/customer-satisfaction_2x_c7081e3a-1864-43b6-8ed2-f77895eafa6a.png?v=1687259512">10+ technical experts, 99% satisfaction rate.</div>
      </div>
      <a class="my-button my-button-black" href="/pages/care" target="_blank">Learn more</a>
    </div>
    <!--<div>
      <div class="u30DemiBold_v2">Leasing Partners at Your Choice</div>
      <div class="u17Light_v2">We offer you the opportunity to get your dream bike at low monthly leasing rates through various leasing providers.</div>
      <div class="logos">
        <div>
          <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/JR-Logo_-RGB-schwarz-large-4x_2x_90eff7ba-f64b-45ef-8e7e-65490e740385.png?v=1687260470">
        </div>
        <div>
          <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18616_2x_d0fb1804-0a96-4524-9463-6cd30673cf6d.png?v=1687260793">
        </div>
       <div>
          <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18617_2x_6706fd9c-d8f3-434b-b77f-6e35eb007eb3.png?v=1687260762">
       </div>
        <div>
          <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/logo_meinstdienstrad_2021_2x_d5a1936d-fc18-418a-bb45-b9bb73e6c96a.png?v=1687260731">
        </div>
      </div>
      <a class="my-button my-button-black" href="/pages/ebike-leasing" target="_blank">Lease Now</a>
    </div>
    <div></div>-->
  </div>
</div>
    </div>
</div>

{% render 'product-options', config_name: 'carbon1pro_order_page_config', product: product %}

<script>
    // 默认隐藏
    $('.product .error-tip').hide();

    const leftSwiper = new Swiper(".product .left-swiper", {
      direction: 'vertical',
      spaceBetween: 8,
      slidesPerView: 8,
      freeMode: true,
      watchSlidesProgress: true,
    })

    const rightSwiper = new Swiper(".product .right-swiper", {
      autoHeight: true,
      navigation: {
        nextEl: ".product .right-swiper .swiper-button-next",
        prevEl: ".product .right-swiper .swiper-button-prev",
      },
      pagination: {el:'.swiper-pagination'},
      effect: 'fade',
      fadeEffect:{
          crossFade: true
      },
      thumbs: {
        swiper: leftSwiper,
      },
    });

    document.addEventListener('onChangeSize', e => {
          $(`.product .product-panel .options > div[option="Size"] .u17DemiBold_v2 .u17Light_v2`).text(global_config.carbon_order_page_config.size_map[e.value])
    })

    document.addEventListener('onChangeColor', e => {
          $(`.product .product-panel .options > div[option="Color"] .u17DemiBold_v2 .u17Light_v2`).text(e.value)

            let swiper_arr = []
            swiper_arr = swiper_arr.concat(global_config.carbon1pro_order_page_config.product_images[e.value], global_config.carbon1pro_order_page_config.product_images['commonSwiper'])

            $('.product .right-swiper .swiper-wrapper').html(swiper_arr.map((s, i) => {
                const index = i % 5

                return  `<div class="swiper-slide">
                            <img src="${s}">
                        </div>`
            }).join(''))
            $('.product .left-swiper .swiper-wrapper').html(swiper_arr.map(s => `<div class="swiper-slide"><img src="${s}"></div>`).join(''))
            
            // update
            setTimeout(() => {
                rightSwiper.update()
                rightSwiper.slideTo(0, 0)
                
                leftSwiper.update()
                leftSwiper.slideTo(0, 0)
            }, 0)
    })


    document.addEventListener('onChangeOptions', e => {
        // console.log(e)
        
    })


    $('.product .product-panel').on("submit", function (event) {

      // 阻止默认行为
      event.preventDefault();
      return false;
  })

  $('.product .dialogs > div').on('click', e => {
      const m = {
          0: 'one',
          1: 'two',
          2: 'three',
          3: 'four'
      }

      $('.product .dialogs > div').each((i, t) => {
          if ($(e.target).closest('.u17Medium_v2')[0] === t) {
              i = i > 1 ? 3 : i

              setTimeout(() => {
                const layer = document.querySelector(`.order-modal-${m[i]}`);
                const laybox = document.querySelector(`.order-modal-layer-${m[i]}`);
                layer.style.display = "flex";
                layer.style.zIndex = '99999'
                laybox.className += " dialog-open";
              }, 100)
          }
      })
  })

  function changeAddToCartText (parse, step = 0) {
      if (step) {
          $(".addToCartBtn i").toggleClass("showi");
          document.querySelector(".addToCartBtn span").innerHTML = "Adding...";
      } else {
          setTimeout(()=>{
              $(".addToCartBtn i").toggleClass("showi");
              document.querySelector(".addToCartBtn span").innerHTML = "Pre-order Now";
          }, 800)
      }
  }


let id = 0;
let adding = false;
let cart1 = document.querySelector("cart-notification") || document.querySelector("cart-drawer");

function addAllToCart(parse, show = false) {
    // 如果 B test 需要显示 klarna checkout
  window.show_notification_checkout_button = show
  const cartList = { items: [] }
  $('.product .error-tip').hide()

  if (adding == false) {
    !show && changeAddToCartText(parse,1);
    adding = true;

    cartList.items.push({ id: current_variant_id, quantity: 1 });

    if(cart1){
      var sections = cart1.getSectionsToRender().map((section) => section.id);
      cartList.sections = sections.join(",");
    }

    
    fetch("/cart/add.js", {
      method: "POST",
      body: JSON.stringify(cartList),
      headers: {
        "Content-Type": "application/json",
      },
    })
    .then((res) => res.json())
    .then((res1) => {
      res1.key = "";

      cart1.classList.contains('is-empty') && cart1.classList.remove('is-empty');

      if (!(res1.message && res1.status)) {
        cart1.renderContents(res1);
      } else {
        $('.product .error-tip').show()
      }

      !show && changeAddToCartText(parse, 0);
    })
    .catch((err) => {
      !show && changeAddToCartText(parse, 0);
      // cartList.items.splice(-1, 1);
      console.log('err==',err)
      $('.product .error-tip').show()
    }).finally(() => {
      adding = false
      !show && fetchBuried('websiteclick', `carbon-1p-reserve-page`, { button: 'ATC' })

      setTimeout(() => $('.product .error-tip').hide(), 10000)
    })
  }
}
</script>

<script>
    let scrollAction = { x: 'undefined', y: 'undefined' }
  let scrollDirection = ''

function scrollFunc() {
  if (typeof scrollAction.x == 'undefined') {
    scrollAction.x = window.pageXOffset;
    scrollAction.y = window.pageYOffset;
  }
  var diffX = scrollAction.x - window.pageXOffset;
  var diffY = scrollAction.y - window.pageYOffset;
  if (diffX < 0) {
    // Scroll right
    scrollDirection = 'right';
  } else if (diffX > 0) {
    // Scroll left
    scrollDirection = 'left';
  } else if (diffY < 0) {
    // Scroll down
    scrollDirection = 'down';
  } else if (diffY > 0) {
    // Scroll up
    scrollDirection = 'up';
  } else {
    // First scroll event
  }
  scrollAction.x = window.pageXOffset;
  scrollAction.y = window.pageYOffset;
}

if (!global_config.is_mobile && global_config.is_pc) {
      window.onscroll = throttle(function (e) {
        scrollFunc()
      try {
        if (scrollDirection == 'down') {
          //页面向下滚动要做的事情
          // console.log('-====向下滚动了');
          document.querySelector('.header-wrapper').style.position = 'inherit';
          $('.top-fixed').css({ top: 0, 'z-index': 3 })

          if ($('header-menu details[open]')) {
            $('header-menu details[open] summary')[0].click()
          }
          
        } else if (scrollDirection == 'up') {
          //页面向上滚动要做的事情
          // console.log('-====向上滚动了');
          document.querySelector('.header-wrapper').style.position = 'fixed';
          document.querySelector('.header-wrapper').style.top = 0;
          document.querySelector('.header-wrapper').style.width = '100%';
          $('.top-fixed').css({ top: '60px', 'z-index': 2 })

          if (scrollAction.y < 80) {
            document.querySelector('.header-wrapper').style.position = 'inherit';
          }
        }
      } catch (error) {}
    }, 30);
}
</script>

<script>
    $('.size-and-specs .u36DemiBold_v2').click(function () {
        $(this)
            .siblings('.size-and-specs .content')
            .slideToggle()
            .parent()
            .siblings()
            .find('.size-and-specs .content')
            .slideUp();
        $(this).children('img').toggleClass('down');
        $(this)
            .parent()
            .siblings()
            .find('.size-and-specs .u36DemiBold_v2')
            .children('img')
            .addClass('down');
    });

    $('.size-and-specs .lines .line').css('grid-template-columns', '2fr 0 1fr 1fr') find('span:nth-child(2)')text('')
</script>

<script>
    let _scrollTop = 0
    $('.my-button[action_type]').on('click', e => {
        _scrollTop = document.scrollingElement.scrollTop
        document.body.style.position = 'fixed'
        document.body.style.top = -_scrollTop + 'px'
        document.body.style.left = '0'
        document.body.style.right = '0'
        $('.carbon1propopup').animate({}, 300, function () {
                //第一个花括号里面是动画内容，可以为空，但不能省去中括号
                $('.carbon1propopup').css({ transform: 'translateY(0)' }); //在回调函数里面改变css属性来实现transform中的动画变换
        });

        fetchBuried('websiteclick', `carbon-1p-ebikepage`, { button: 'Reserve NOW' })
    })

    $('.carbon1propopup .popupclose img').on('click', () => {
        document.body.style.position = ''
        document.body.style.top = ''
        // 使 scrollTop 恢复原状
        document.scrollingElement.scrollTop = _scrollTop
        $('.carbon1propopup').animate({}, 300, function () {
                //第一个花括号里面是动画内容，可以为空，但不能省去中括号
                $('.carbon1propopup').css({ transform: 'translateY(100%)' }); //在回调函数里面改变css属性来实现transform中的动画变换
        });
    })
</script>
<script src="https://cdn.storepoint.co/api/v1/js/162f21804990ff.js" defer></script>
{% render 'carbon-one-pro-extra-code' %}


