{{ 'carbon-fold-product.scss.css' | asset_url | stylesheet_tag: preload: true }}
{% render 'product-panel', swiper_insert_index: 1 %}

<div class="professional">
  <div class="centeral-content">
    <h2 class="u36Medium_v2">Professional Review</h2>
    <div class="videos swiper-wrapper">
      <div class="swiper-slide" onclick="showVideoDialog('https://www.youtube.com/embed/RkBanb4LRN8?autoplay=1&cc_load_policy=1')">
        <img width="413" height="222" loading="lazy" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25380_2x_092c0e6b-c97f-4ba9-934b-ba96837cbeb2.jpg?v=1740990938&width=400" alt="{{ product.title }}">
        <span class="u17Light_v2">This compact folding ebike, ultra-light and easy to carry, wowed reporters at CES 2025, making it one of the must-see products!</span>
        <span class="flex-1"></span>
        <div class="u17Medium_v2">
          <img width="28" height="28" loading="lazy" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19464_2x_7f458f5f-8509-4483-83b7-0ebffe51eaca.jpg?v=1739522817&width=28" alt="{{ product.title }}">
          <span>News 3 Las Vegas</span>
        </div>
      </div>
      <div class="swiper-slide" onclick="showVideoDialog('https://www.youtube.com/embed/OnFfmi30rgU?autoplay=1&cc_load_policy=1')">
        <img width="413" height="222" loading="lazy" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25383_2x_23cdf092-a68f-4c84-8419-1cbc7b92330b.jpg?v=1740991678&width=400" alt="{{ product.title }}">
        <span class="u17Light_v2">It folds to carry-on suitcase size and fits anywhere — desk, car, train, done! Stupid-light portability just hacked urban travel.</span>
        <span class="flex-1"></span>
        <div class="u17Medium_v2">
          <img width="28" height="28" loading="lazy" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19672_2x_3c774c1e-521f-44e7-909d-3c1d2f939a86.jpg?v=1740991314&width=28" alt="{{ product.title }}">
          <span>Curiosity Cafe</span>
        </div>
      </div>
      <div class="swiper-slide" onclick="showVideoDialog('https://www.youtube.com/embed/k7hSELBzB7I?autoplay=1&cc_load_policy=1')">
        <img width="413" height="222" loading="lazy" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25384_2x_1a5ebd50-7c54-4414-8081-7b71f4f348f9.jpg?v=1740991426&width=400" alt="{{ product.title }}">
        <span class="u17Light_v2">With over 50% lighter and more compact than rivals yet matches power and range, priced to crush the competition, it’s a total market disruptor for urban commuters.</span>
        <span class="flex-1"></span>
        <div class="u17Medium_v2">
          <img width="28" height="28" loading="lazy" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/channels4_profile_65fa49ac-bb00-4bea-a141-9a73af8d8add.jpg?v=1740991581&width=28" alt="{{ product.title }}">
          <span>Area 13</span>
        </div>
      </div>
      <div class="swiper-slide" onclick="showVideoDialog('https://www.youtube.com/embed/QQiiyxJJ_DA?autoplay=1&cc_load_policy=1')">
        <img width="413" height="222" loading="lazy" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25382_2x_c239a5d7-6d6a-435d-b6bb-166dfffb18d2.jpg?v=1740991211&width=400" alt="{{ product.title }}">
        <span class="u17Light_v2">The Carbon Fold 1 ebike comes fully assembled, so you can ride right away. My favorite part? The folding and unfolding are super easy—effortless to operate!</span>
        <span class="flex-1"></span>
        <div class="u17Medium_v2">
          <img width="28" height="28" loading="lazy" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19663_2x_a45f4245-f72b-498c-b0e3-0b3167d349cf.jpg?v=1739522979&width=28" alt="{{ product.title }}">
          <span>Mike Fede</span>
        </div>
      </div>
      <div class="swiper-slide" onclick="showVideoDialog('https://www.youtube.com/embed/vGq9bFvwhO4?autoplay=1&cc_load_policy=1')">
        <img width="413" height="222" loading="lazy" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25381_2x_ae9a894f-b974-4ae1-811f-ba49596415de.jpg?v=1740991062&width=400" alt="{{ product.title }}">
        <span class="u17Light_v2">This is hands down the easiest folding ebike I’ve ever used! The built-in magnets that keep it securely closed are a total game-changer.</span>
        <span class="flex-1"></span>
        <div class="u17Medium_v2">
          <img width="28" height="28" loading="lazy" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250214-180356.jpg?v=1739527453&width=28" alt="{{ product.title }}">
          <span>Freshly Charged</span>
        </div>
      </div>
    </div>
    <div class="swiper-scrollbar"></div>
    <div class="buttons mobileHide">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</div>
<div class="background-image er-aspect-[1920/750] mb:er-aspect-auto">
<video class="lozad mb:!er-static" playsinline loop autoplay muted>
        <source data-src="https://cdn.shopify.com/videos/c/o/v/c814b4a0a996463f8b4a513a862b346d.mp4" type="video/mp4" media="(min-width: 768px)">
        <source data-src="https://cdn.shopify.com/videos/c/o/v/7a3e71ed3d7d4a2fb3c88bb2760fdb98.mp4" type="video/mp4" media="(max-width: 767px)">
  </video>
        <div
            class="er-max-w-screen-xl er-mx-auto er-px-12 er-grid er-grid-cols-2 er-items-center er-h-full mb:er-grid-cols-1 mb:er-h-auto er-gap-x-40 er-text-white mb:er-text-black">
            <div class="er-flex er-flex-col er-items-start mb:er-pt-12 mb:er-pb-20">
                <h2 class="text-size48 mb:er-text-4xl er-m-0">Carbon Fiber Expert</h2>
                <p class="text-size18 er-max-w-3xl er-mt-8 er-mb-20 er-opacity-80 mb:er-my-10 mb:er-text-[16px]">
                    <span>
                      Lightweight, easy to ride, and sleek—Carbon Fold 1 embodies these qualities. With premium Carbon Fiber and
                      Urtopia’s design, it continues the legacy chosen by hundreds of thousands of Urtopians.
                    </span>
                </p>
                <button
                    onclick="showVideoDialog('https://www.youtube.com/embed/Adj2WsYXM8g?autoplay=1&cc_load_policy=1')"
                    class="er-button er-button-white mb:[--er-btn-bg-color:theme(colors.dark)] mb:[--er-btn-text-color:theme(colors.white)] mb:er-text-white">Watch
                    video
                    <svg class="er-scale-150 er-translate-x-1/3 er-fill-dark mb:er-fill-white"
                        xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20">
                        <path
                            d="m380-300 280-180-280-180v360ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
<div class="background-image er-aspect-[1920/750] mb:er-aspect-auto mb:er-pt-[80vw]">
    {% render 'image', class: "mb:!er-object-contain mb:!er-object-top", src: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25034_2x_b217d68c-61f5-45ad-9bc7-4aea0b44bdf7.jpg?v=1730971183', mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSCF5650-Edit_2x_e684c023-c884-49f5-ab9e-95415458f80d.jpg?v=1731055538" %}
        <div
            class="er-max-w-screen-xl er-mx-auto er-px-12 er-grid er-grid-cols-2 er-items-center er-h-full mb:er-grid-cols-1 mb:er-h-auto er-gap-x-40 er-text-white mb:er-text-black">
            <span></span>
            <div class="er-flex er-flex-col er-items-start mb:er-pt-12 mb:er-pb-20">
                <h2 class="text-size48 mb:er-text-4xl er-m-0">Lightest E-Bike <br>Only 29 lbs</h2>
                <p class="text-size18 er-max-w-3xl er-mt-8 er-opacity-80 mb:er-mt-10 mb:er-text-[16px]">
                    <span>
                      Thanks to the lightweight nature of carbon fiber, both the e-bike frame and handlebars are made from this material. This makes it easy to carry it up and down stairs and effortlessly lift it out of your car trunk.
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="background-image er-aspect-[1920/750] mb:er-aspect-auto mb:er-pt-[80vw]">
    {% render 'image', class: "mb:!er-object-contain mb:!er-object-top", src: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25032_2x_d2fc7126-5c70-4b9d-855e-4f0d7fb32c96.jpg?v=1730971971', mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSCF5984_2x_192333ec-c2e6-42bc-9a29-500e1f8d7114.jpg?v=1731055684" %}
        <div
            class="er-max-w-screen-xl er-mx-auto er-px-12 er-grid er-grid-cols-2 er-items-center er-h-full mb:er-grid-cols-1 mb:er-h-auto er-gap-x-40 er-text-white mb:er-text-black">
            <div class="er-flex er-flex-col er-items-start mb:er-pt-12 mb:er-pb-20">
                <h2 class="text-size48 mb:er-text-4xl er-m-0 er-text-white mb:er-text-black">It fits where <br>others can’t</h2>
                <p class="text-size18 er-max-w-3xl er-mt-8 er-opacity-80 mb:er-mt-10 mb:er-text-[16px]">
                    <span>
                      The trunk of a typical SUV can fit 2-3 Carbon Fold 1 bikes, making it the perfect companion for driving to the park for a ride—absolutely space-efficient.
                    </span>
                </p>
            </div>
        </div>
    </div>
<div class="er-bg-background er-py-48 mb:er-py-24">
  <div class="er-max-w-screen-lg er-mx-auto er-flex er-flex-col er-items-center er-text-center er-px-12 mb:er-px-6">
    <h3 class="text-size36 mb:er-text-4xl mb:er-leading-tight">What makes Carbon Fold 1<br class="pcHide">the best Foldable E-Bike</h3>
    <div class="er-grid er-grid-cols-[3fr_4.5fr_4.5fr] er-my-48 er-w-full er-bg-white er-shadow er-rounded-3xl mb:er-my-24">
      <div class="er-flex er-flex-col er-divide-y-[1px] er-divide-x-0 er-divide-solid er-divide-border er-mb-12 mb:er-mb-6">
        <div class="er-flex-1"></div>
        <div class="text-size18 er-h-28 mb:er-h-24 er-flex er-items-center er-justify-center er-font-medium mb:er-text-xl">Price</div>
        <div class="text-size18 er-h-28 mb:er-h-24 er-flex er-items-center er-justify-center er-font-medium mb:er-text-xl">Frame Material</div>
        <div class="text-size18 er-h-28 mb:er-h-24 er-flex er-items-center er-justify-center er-font-medium mb:er-text-xl">Handlebar Material</div>
        <div class="text-size18 er-h-28 mb:er-h-24 er-flex er-items-center er-justify-center er-font-medium mb:er-text-xl">Weight</div>
        <div class="text-size18 er-h-28 mb:er-h-24 er-flex er-items-center er-justify-center er-font-medium mb:er-text-xl">Max. Rider Weight</div>
        <div class="text-size18 er-h-28 mb:er-h-24 er-flex er-items-center er-justify-center er-font-medium mb:er-text-xl">Range</div>
        <div class="text-size18 er-h-28 mb:er-h-24 er-flex er-items-center er-justify-center er-font-medium mb:er-text-xl">Gears</div>
        <div class="text-size18 er-h-28 mb:er-h-24 er-flex er-items-center er-justify-center er-font-medium mb:er-text-xl">IoT Sensor</div>
        <div class="text-size18 er-h-28 mb:er-h-24 er-flex er-items-center er-justify-center er-font-medium mb:er-text-xl">Brakes</div>
        <div class="text-size18 er-h-28 mb:er-h-24 er-flex er-items-center er-justify-center er-font-medium mb:er-text-xl">Integrated light</div>
      </div>
      <div class="er-my-[-30px] mb:er-my-[-15px] er-pt-12 mb:er-pt-6 er-flex er-flex-col er-divide-y-[1px] er-divide-x-0 er-divide-solid er-divide-white/15 er-shadow er-rounded-3xl er-text-white" style="background: linear-gradient(180deg, #FFD362, #D57D00, #C15700);">
        <div class="text-size20 er-flex er-flex-col er-items-center er-justify-center er-font-medium er-py-12 mb:er-text-2xl mb:er-py-6">
          {{ product | image_url: width: 200 | image_tag: loading: 'lazy', class: "er-aspect-video er-object-contain er-object-center" }}
          <span class="er-mt-6 mb:er-mt-4">Carbon Fold 1</span>
        </div>
        <div class="text-size18 er-h-28 mb:er-h-24 er-flex er-items-center er-justify-center er-font-medium mb:er-text-xl">{{ product.price | money_without_trailing_zeros }}</div>
        <div class="text-size18 er-h-28 mb:er-h-24 er-flex er-items-center er-justify-center er-font-medium mb:er-text-xl">Carbon Fiber</div>
        <div class="text-size18 er-h-28 mb:er-h-24 er-flex er-items-center er-justify-center er-font-medium mb:er-text-xl">Carbon Fiber</div>
        <div class="text-size18 er-h-28 mb:er-h-24 er-flex er-items-center er-justify-center er-font-medium mb:er-text-xl">29 lbs</div>
        <div class="text-size18 er-h-28 mb:er-h-24 er-flex er-items-center er-justify-center er-font-medium mb:er-text-xl">200 lbs</div>
        <div class="text-size18 er-h-28 mb:er-h-24 er-flex er-items-center er-justify-center er-font-medium mb:er-text-xl">40 miles</div>
        <div class="text-size18 er-h-28 mb:er-h-24 er-flex er-items-center er-justify-center er-font-medium mb:er-text-xl">Shimano Altus 8-Speed</div>
        <div class="text-size18 er-h-28 mb:er-h-24 er-flex er-items-center er-justify-center er-font-medium mb:er-text-xl">Torque Sensor</div>
        <div class="text-size18 er-h-28 mb:er-h-24 er-flex er-items-center er-justify-center er-font-medium mb:er-text-xl">TEKTRO hydraulic disc brakes</div>
        <div class="text-size18 er-h-28 mb:er-h-24 er-flex er-items-center er-justify-center er-font-medium mb:er-text-xl">✔</div>
      </div>
      <div class="er-flex er-flex-col er-divide-y-[1px] er-divide-x-0 er-divide-solid er-divide-border er-mb-12 mb:er-mb-6">
        <div class="text-size20 er-flex er-flex-col  er-items-center er-justify-center er-font-medium er-py-12 mb:er-text-xl mb:er-py-6">
          <img width="200" height="125" loading="lazy" class="er-aspect-video er-object-contain er-object-center" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19638_2x_75919041-383b-4b48-bfec-76b858a0a92b.png?v=1736244768&width=200" alt="">
          <span class="er-mt-6 mb:er-mt-4 mb:er-leading-relaxed">Other Folding ebike</span>
        </div>
        <div class="text-size18 er-h-28 mb:er-h-24 er-flex er-items-center er-justify-center er-font-medium mb:er-text-xl">{{ 399900 | money_without_trailing_zeros }}</div>
        <div class="text-size18 er-h-28 mb:er-h-24 er-flex er-items-center er-justify-center er-font-medium mb:er-text-xl">❌</div>
        <div class="text-size18 er-h-28 mb:er-h-24 er-flex er-items-center er-justify-center er-font-medium mb:er-text-xl">Aluminum Alloy</div>
        <div class="text-size18 er-h-28 mb:er-h-24 er-flex er-items-center er-justify-center er-font-medium mb:er-text-xl">37 lbs</div>
        <div class="text-size18 er-h-28 mb:er-h-24 er-flex er-items-center er-justify-center er-font-medium mb:er-text-xl">180 lbs</div>
        <div class="text-size18 er-h-28 mb:er-h-24 er-flex er-items-center er-justify-center er-font-medium mb:er-text-xl">30 miles</div>
        <div class="text-size18 er-h-28 mb:er-h-24 er-flex er-items-center er-justify-center er-font-medium mb:er-text-xl">Shimano Nexus 3-speed</div>
        <div class="text-size18 er-h-28 mb:er-h-24 er-flex er-items-center er-justify-center er-font-medium mb:er-text-xl">Torque Sensor</div>
        <div class="text-size18 er-h-28 mb:er-h-24 er-flex er-items-center er-justify-center er-font-medium mb:er-text-xl">Hydraulic disk, front and rear</div>
        <div class="text-size18 er-h-28 mb:er-h-24 er-flex er-items-center er-justify-center er-font-medium mb:er-text-xl">❌</div>
      </div>
    </div>
    {% render 'image', width: 1024, src: "https://cdn.shopify.com/s/files/1/0633/2068/6808/files/24870_2x_a586c01c-a72c-42e0-9a94-d36047856d03.png?v=1729076064", mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24876_2x_493b152e-2581-4f9f-ad47-c22c9a2fe2cd.png?v=1729474418" %}
  </div>
</div>
<div class="step_folding">
  <div class="centeral-content">
    <div>
      <span class="u48Medium_v2">2 Step Folding</span>
      <span class="u17Light_v2">It folds in 30 seconds with just two steps, making it simple and space-saving.</span>
      <div class="progress">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            loading="lazy"
            alt="{{ page_description }}"
            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20241012-184908_2x_f690fe39-ffed-4931-8d30-943ec18958d7.png?v=1729482982"
          >
        </div>
        <div class="swiper-slide">
          <img
            loading="lazy"
            alt="{{ page_description }}"
            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20241012-184906_2x_4e9cb21c-99e3-4d5d-acd7-12a93a099d84.png?v=1729482988"
          >
        </div>

        <div class="swiper-slide">
          <img
            loading="lazy"
            alt="{{ page_description }}"
            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20241012-184840_2x_f95f0716-b194-48d8-b90f-54a30f8e989d.png?v=1729483015"
          >
        </div>
      </div>
    </div>
  </div>
</div>
<div class="background-image er-aspect-[1920/750] mb:er-aspect-auto mb:er-pt-[80vw]">
    {% render 'image', class: "mb:!er-object-contain mb:!er-object-top", src: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25033_2x_f330d683-6036-4cdc-a188-f49302caa441.jpg?v=1730973173', mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSCF5731_2x_7ab07cd5-c800-485a-9676-20ecea49fba0.jpg?v=1731057042" %}
        <div
            class="er-max-w-screen-xl er-mx-auto er-px-12 er-grid er-grid-cols-2 er-items-center er-h-full mb:er-grid-cols-1 mb:er-h-auto er-gap-x-40 er-text-white mb:er-text-black">
            <span></span>
            <div class="er-flex er-flex-col er-items-start mb:er-pt-12 mb:er-pb-20">
                <h2 class="text-size48 mb:er-text-4xl er-m-0">Effortlessly smooth <br>to ride</h2>
                <p class="text-size18 er-max-w-3xl er-mt-8 er-opacity-80 mb:er-mt-10 mb:er-text-[16px]">
                    <span>
                      Easy to ride with adjustable sizing for a perfect fit—ride comfortably and keep your feet grounded. The torque sensor delivers an ultra-smooth riding experience.
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="background-image er-aspect-[1920/750] mb:er-aspect-auto mb:er-pt-[80vw]">
    {% render 'image', class: "mb:!er-object-contain mb:!er-object-top", src: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25036_2x_bc6362f6-a37e-498b-ba2a-9f87dbbe7715.jpg?v=1730973603', mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSCF5270-Edit_2x_640183d0-afd9-4210-91a0-0bab5ca956ca.jpg?v=1731057046" %}
        <div
            class="er-max-w-screen-xl er-mx-auto er-px-12 er-grid er-grid-cols-2 er-items-center er-h-full mb:er-grid-cols-1 mb:er-h-auto er-gap-x-40 er-text-white mb:er-text-black">
            <div class="er-flex er-flex-col er-items-start mb:er-pt-12 mb:er-pb-20">
                <h2 class="text-size48 mb:er-text-4xl er-m-0 er-text-white mb:er-text-black">Sleek Design, <br>Hidden Power</h2>
                <p class="text-size18 er-max-w-3xl er-mt-8 er-opacity-80 mb:er-mt-10 mb:er-text-[16px]">
                    <span>
                      The taillight and headlight are seamlessly integrated with the bike frame, along with hidden wiring and battery design, giving the Carbon Fold 1 a sleek, minimalist look.
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="er-max-w-screen-xl er-mx-auto er-px-12 er-my-56 mb:er-mb-20 mb:er-mt-0 mb:er-pr-0">
      <h2 class="text-size48 mb:er-text-4xl er-m-0">Quality in details</h2>
      <div class="er-mt-10 quality_in_details er-relative er-overflow-x-hidden er-pb-40 mb:er-pb-16" style="--swiper-navigation-size: 27px; --swiper-navigation-color:#fff;">
          <div class="swiper-wrapper">
              {% for item in product.metafields.custom.quality_in_details.value %}
                  {%- assign text = item.text | split: "---" -%}
                  <div class="swiper-slide er-flex er-flex-col">
                      {{ item.image | image_url: width: 400 | image_tag: loading: 'lazy', class: "er-rounded-2xl" }}
                      <h3 class="text-size20 er-my-6 er-font-bold er-text-3xl">{{ text.first }}</h3>
                      <p class="text-size18 er-opacity-80 mb:er-text-[16px] er-max-w-2xl">
                          <span>{{ text.last }}</span>
                      </p>
                  </div>
                  
              {%- endfor -%}  
          </div>
          <div class="swiper-scrollbar er-bg-[#386FAF] er-bg-opacity-10 !er-w-full !er-left-0"></div>
          <div class="swiper-button-prev er-bottom-12 er-right-[60px] er-left-auto er-top-auto er-bg-dark er-rounded-full er-p-8 after:er-text-3xl mb:er-hidden er-z-2"></div>
          <div class="swiper-button-next er-bottom-12 er-right-0 er-left-auto er-top-auto er-bg-dark er-rounded-full er-p-8 after:er-text-3xl mb:er-hidden er-z-2"></div>
      </div>
  </div>
<div class="background-image er-aspect-[1920/750] mb:er-aspect-auto mb:er-pt-[80vw]">
  {% render 'image', class: "mb:!er-object-contain mb:!er-object-top", src: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20241107-102133_2x_6dd5add4-ab0d-4df8-978a-3e03ebc52071.jpg?v=1731051204', mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19648_2x_c2c76097-f12b-4419-ad21-0889e1a34e0d.jpg?v=1731057196" %}
      <div
          class="er-max-w-screen-xl er-mx-auto er-px-12 er-grid er-grid-cols-2 er-items-center er-h-full mb:er-grid-cols-1 mb:er-h-auto er-gap-x-40 er-text-black">
          <div class="er-flex er-flex-col er-items-start mb:er-pt-12 mb:er-pb-20">
              <h2 class="text-size48 mb:er-text-4xl er-m-0">A bike, cargo,<br>and more!</h2>
              <p class="text-size18 er-max-w-3xl er-mt-8 er-opacity-80 mb:er-mt-10 mb:er-text-[16px]">
                  <span>
                    This versatile foldable e-bike meets all your needs, with accessories for kids, cargo, pets, and leisure. Whether commuting, running errands, or exploring, it effortlessly adapts to your lifestyle, offering convenience and endless possibilities.
                  </span>
              </p>
          </div>
      </div>
  </div>

<div class="quality TakeItEasywithFold1">
  <div class="centeral-content">
    <h3 class="u36Medium_v2 mobileHide">Take It Easy with Fold 1</h3>
    <div class="items swiper-wrapper">
      <div class="swiper-slide">
        <img loading="lazy" width="551" height="400" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSCF6175_2x_00fde150-045a-4109-97ac-e2c03013184c.jpg?v=1731052479" alt="{{ page_description }}">
      </div>
      <div class="swiper-slide">
        <img
        loading="lazy" width="551" height="400" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20241108-155759.jpg?v=1731052717"
          alt="{{ page_description }}"
        >
      </div>
      <div class="swiper-slide">
        <img
        loading="lazy" width="551" height="400" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20241108-155810.jpg?v=1731052717"
          alt="{{ page_description }}"
        >
      </div>
      <div class="swiper-slide">
        <img
        loading="lazy" width="551" height="400" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20241108-155805.jpg?v=1731052718"
          alt="{{ page_description }}"
        >
      </div>
      <div class="swiper-slide">
        <img
        loading="lazy" width="551" height="400" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20241108-155820.jpg?v=1731052718"
          alt="{{ page_description }}"
        >
      </div>
      <div class="swiper-slide">
        <img
        loading="lazy" width="551" height="400" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20241108-155815.jpg?v=1731052718"
          alt="{{ page_description }}"
        >
      </div>
    </div>
    <div class="swiper-scrollbar"></div>
    <div class="buttons mobileHide">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</div>

{% render 'size-guide-and-specs-template' %}
<div class="centeral-content er-px-6 judgemeeeeee"></div>
<script type="module">
  new Swiper('.professional .centeral-content', {
      slidesPerView: global_config.is_mobile ? 1.25 : 3.5,
      spaceBetween: 20,
      preloadImages: false,
      navigation: {
      nextEl: '.professional .centeral-content .swiper-button-next',
      prevEl: '.professional .centeral-content .swiper-button-prev',
    },
      scrollbar: {
        el: '.professional .centeral-content .swiper-scrollbar',
        draggable: true,
      },
    });

  $(function() {
      task(() => {
          new Swiper('.step_folding .swiper', {
          autoplay: {
              disableOnInteraction: false,
              pauseOnMouseEnter: false,
              delay: 2000,
          },
          preloadImages: false,
          loop: true,
          effect: 'fade',
          grabCursor: true,
          fadeEffect: {
              crossFade: true
          },
          speed: 600,
          on: {
            reachEnd: function(){
              $(`.step_folding .progress > div`).removeClass('active')
            },
              slideChange: function () {      
                  if (this.realIndex === 0) {
                      // 往右
                      if (this.activeIndex > this.previousIndex) {
                          setTimeout(() => {
                            $(`.step_folding .progress > div:nth-child(1)`).addClass('active')
                          }, 66)
                      } else {
                          setTimeout(() => {
                            $(`.step_folding .progress > div:nth-child(1)`).addClass('active')
                          }, 66)
                        
                          $(`.step_folding .progress > div:nth-child(2)`).removeClass('active')
                          $(`.step_folding .progress > div:nth-child(3)`).removeClass('active')
                      }
                  }

                  if (this.realIndex === 1) {
                      // 往右
                      if (this.activeIndex > this.previousIndex) {
                          $(`.step_folding .progress > div:nth-child(2)`).addClass('active')
                      } else {
                          $(`.step_folding .progress > div:nth-child(1)`).addClass('active')
                          $(`.step_folding .progress > div:nth-child(2)`).addClass('active')
                          $(`.step_folding .progress > div:nth-child(3)`).removeClass('active')
                      }
                  }

                  if (this.realIndex === 2) {
                      if (this.activeIndex > this.previousIndex) {
                          $(`.step_folding .progress > div:nth-child(3)`).addClass('active')
                      } else {
                          $(`.step_folding .progress > div`).addClass('active')
                      }                
                  }
              },
          },
      });
      })

      task(() => {
        new Swiper('.quality_in_details', {
            slidesPerView: global_config.is_mobile ? 1.25 : 3,
            spaceBetween: global_config.is_mobile ? 16 : 32,
            preloadImages: false,
            navigation: {
                nextEl: '.quality_in_details .swiper-button-next',
                prevEl: '.quality_in_details .swiper-button-prev',
            },
            scrollbar: {
                el: '.quality_in_details .swiper-scrollbar',
                draggable: true
            },
        });
      })

      task(() => {
        new Swiper('.TakeItEasywithFold1 .centeral-content', {
            slidesPerView: global_config.is_mobile ? 1.25 : 2.25,
            spaceBetween: global_config.is_mobile ? 16 : 32,
            preloadImages: false,
            navigation: {
              nextEl: '.TakeItEasywithFold1 .centeral-content .swiper-button-next',
              prevEl: '.TakeItEasywithFold1 .centeral-content .swiper-button-prev',
            },
            scrollbar: {
              el: '.TakeItEasywithFold1 .centeral-content .swiper-scrollbar',
              draggable: true
            },
          });
      })
  })

    window.addEventListener('load', function () {
      const img = $(`<img class="er-absolute er-top-0 er-z-[2] er-transition er-opacity-100 mb:er-max-w-20 md:er-right-0 mb:er-left-0" width="70" height="104" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250211-151856.png?v=1739258383&width=100" alt="{{ product.title }}"/>`)
      $(".product-panel-swiper .swiper-wrapper").before(img)

      window.product_panel_swiper.on('slideChange', function () {
        img.css('opacity', this.realIndex > 0 ? 0 : 1)
      })
  })
</script>