{{ 'carbon1pro.scss.css' | asset_url | stylesheet_tag: preload: true }}

{% assign product = all_products['urtopia-carbon-1-pro-ebike'] %}

<div class="top-fixed mobileHide">
    <div class="centeral-content">
        <span class="u20DemiBold_v2">{{ product.title }}</span>
        <span class="flex-1"></span>
        <div>
            <span class="u17Light_v2"><span class="u20DemiBold_v2 emphasize"
                    style="font-weight: 600;">{{ product.price | money }}</span>
                    {% unless product.compare_at_price == product.price %}
                        <span style="text-decoration: line-through;">{{ product.compare_at_price | money }}</span>
                    {% endunless %}
            </span>
            <span class="u14Light_v2">or as low as {{ product.price | divided_by: 24 | money_without_trailing_zeros }}/Month</span>
        </div>
        <a href="{{ product.url }}" target="_blank" class="my-button my-button-origin" action_type="Buynow_0">Order Now</a>
    </div>
</div>
<div class="bottom-fixed pcHide">
    <a href="{{ product.url }}" target="_blank" class="my-button my-button-origin" action_type="Buynow_0">Order Now</a>
        <div>
            <span>
                <span class="u17DemiBold_v2 emphasize">{{ product.price | money }}</span>
                {% unless product.compare_at_price == product.price %}
                    <span class="u11Light_v2" style="text-decoration: line-through;">{{ product.compare_at_price | money }}</span>
                {% endunless %}
            </span>
            <span class="u11Light_v2">or as low as {{ product.price | divided_by: 24 | money_without_trailing_zeros }}/Month</span>
        </div>
</div>
<div class="banner">
    <h1 class="u48Medium_v2">The Ride <span style="color: #EB5A2D;">EVOLUTION: <br class="pcHide"></span>Beyond Limits
    </h1>
</div>
<div class="classic">
    <h2 class="u24Medium_v2 pcHide">A True Rebirth of the Classic</h2>
    <div onclick="showVideoDialog('https://www.youtube.com/embed/cRI7G6DXpbc?autoplay=1&cc_load_policy=1')">
        <h2 class="u48Medium_v2 mobileHide">A True Rebirth of the Classic</h2>
        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23598_2x_6dabdb22-8a88-4887-9669-1be46f903a0b.png?v=1703731306" alt="Urtopia Ebike - Carbon 1 Pro | Lightweight, Smart Cruiser, Ideal Gravel Catbon Electric Bike">
    </div>
</div>
<div class="design">
    <div class="centeral-content">
        <h2 class="u24Medium_v2 pcHide">Design <span style="color: #EB5A2D;">EVOLUTION: </span><br>Redefining Excellence</h2>
        <div class="pcHide">
            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20231226-194538.png?v=1703591174"
        alt="Urtopia Ebike - Carbon 1 Pro | Lightweight, Smart Cruiser, Ideal Gravel Catbon Electric Bike">
        <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20231226-194530.png?v=1703591174"
            alt="Urtopia Ebike - Carbon 1 Pro | Lightweight, Smart Cruiser, Ideal Gravel Catbon Electric Bike">
        </div>
        <div class="bakkkkkk" onclick="showVideoDialog('https://www.youtube.com/embed/V_YWOzAZdBg?autoplay=1&cc_load_policy=1')"><span class="u20Medium_v2">Watch Video</span></div>
        <div>
            <h2 class="u48Medium_v2 mobileHide">Design <span style="color: #EB5A2D;">EVOLUTION: </span><br>Redefining Excellence</h2>
            <div>
                
                <h3 class="u24DemiBold_v2">Mathis Heller</h3>
                <h4 class="u20Medium_v2">Carbon 1 Pro’s Concept Designer <br>Former BMW Designer</h4>
                <p class="u17Light_v2"><span>Carbon 1 Pro is Mr. Heller’s masterpiece, continuing the design of Carbon 1,
                    optimizing the structure and improving the ride. It’s made for zipping around town and keeping you
                    in great shape.</span></p>
                    <span class="flex-1"></span>
                    <div class="immmm">
                        <a class="my-button" href="/blogs/blog/design-story-one-and-only" target="_blank" rel="noopener noreferrer">Read the blog</a>
                        <span class="flex-1"></span>
                    <img class="mobileHide" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20231226-194538.png?v=1703591174"
                    alt="Urtopia Ebike - Carbon 1 Pro | Lightweight, Smart Cruiser, Ideal Gravel Catbon Electric Bike">
                <img class="mobileHide" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20231226-194530.png?v=1703591174"
                    alt="Urtopia Ebike - Carbon 1 Pro | Lightweight, Smart Cruiser, Ideal Gravel Catbon Electric Bike">
                    </div>
            </div>
        </div>
    </div>
</div>
<div class="fully">
    <div class="centeral-content">
        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23241_2x_6dc880de-020e-4b51-adfb-9beff6d1e926.png?v=1703223828"
            alt="Urtopia Ebike - Carbon 1 Pro | Lightweight, Smart Cruiser, Ideal Gravel Catbon Electric Bike">
        <div>
            <div>
                <h2 class="u48Medium_v2">Fully Upgrade</h2>
                <p class="u17Light_v2">
                    <span>
                        Carbon 1 Pro features progressive frame geometry for even force distribution, greater stability,
                        improved aerodynamics, and superior damping performance.
                    </span>
                </p>
            </div>
            <div class="ppppppppppppppppp">
                <div>
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23421_2x_18e31bc5-76e9-4f57-86a7-ffa8b20e611f.png?v=1703227256"
                        alt="Urtopia Ebike - Carbon 1 Pro | Lightweight, Smart Cruiser, Ideal Gravel Catbon Electric Bike">
                    <div>
                        <h4 class="u20Medium_v2">Stability <br>improvement of</h4>
                        <span class="u60Medium_v2">15<span class="u24Medium_v2">%</span></span>
                    </div>
                </div>
                <div>
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23422_2x_814ca862-240b-49b3-97cf-15e0e2c1cd8d.png?v=1703227301"
                        alt="Urtopia Ebike - Carbon 1 Pro | Lightweight, Smart Cruiser, Ideal Gravel Catbon Electric Bike">
                    <div>
                        <h4 class="u20Medium_v2">Increased aerodynamic <br>efficiency by</h4>
                        <span class="u60Medium_v2">20<span class="u24Medium_v2">%</span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="craftsmanship">
    <div></div>
    <div>
        <h2 class="u48Medium_v2">Carbon Craftsmanship: <br>Frame <span
                style="color: #EB5A2D;">EVOLUTION,</span><br>Unrivaled Quality</h2>
        <p class="u17Light_v2">
            <span>
                Crafted from premium, supercar-grade carbon fiber. The frame features sharper angles that enhance the
                beauty of carbon fiber. The result is more responsive handling and increased durability.
            </span>
        </p>
    </div>
</div>
<div class="mediaaaaa gray-background-color" style="--swiper-theme-color: #fff;--swiper-pagination-color: #fff;">
  <div class="centeral-content">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
      <h2 class="u20DemiBold_v2">“Visually stunning and lightweight bikes”</h2>
      <div class="flex-1"></div>
      <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18075_2x_d5d18fb9-7706-444c-8b80-95e445f83e79.png?v=1705480131" alt="Urtopia Ebike - Carbon 1 Pro | Lightweight, Smart Cruiser, Ideal Gravel Catbon Electric Bike">
      </div>
    <div class="swiper-slide">
      <h2 class="u20DemiBold_v2">“The best electric bikes of 2024”</h2>
      <div class="flex-1"></div>
      <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_19062_2x_cb69e0cb-01f3-455a-bd4f-2ad8d83f573f.png?v=1705480136" alt="Urtopia Ebike - Carbon 1 Pro | Lightweight, Smart Cruiser, Ideal Gravel Catbon Electric Bike">
    </div>
    <div class="swiper-slide">
      <h2 class="u20DemiBold_v2">“Pack with copious use of technology”</h2>
      <div class="flex-1"></div>
      <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18368_2x_13c2d2de-1d31-4640-8bb2-08a3cfc9c8c7.png?v=1705480141" alt="Urtopia Ebike - Carbon 1 Pro | Lightweight, Smart Cruiser, Ideal Gravel Catbon Electric Bike">
    </div>
    <div class="swiper-slide">
      <h2 class="u20DemiBold_v2">“Pack with copious use of technology”</h2>
      <div class="flex-1"></div>
      <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_19063_2x_1ca9eef4-a58c-4038-b75c-752bbb81cdb1.png?v=1705480146" alt="Urtopia Ebike - Carbon 1 Pro | Lightweight, Smart Cruiser, Ideal Gravel Catbon Electric Bike">
    </div>
    <div class="swiper-slide">
      <h2 class="u20DemiBold_v2">“The epitome of raw power”</h2>
      <div class="flex-1"></div>
      <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_19064_2x_a8b72a12-cf4f-49e6-81e6-87d380a36847.png?v=1705480151" alt="Urtopia Ebike - Carbon 1 Pro | Lightweight, Smart Cruiser, Ideal Gravel Catbon Electric Bike">
    </div>
    <div class="swiper-slide">
      <h2 class="u20DemiBold_v2">“Interesting innovation or tech for tech’s sake”</h2>
      <div class="flex-1"></div>
      <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_19067_2x_fd0299aa-c2e2-4a55-975a-bf51e6a4ed2d.png?v=1705480156" alt="Urtopia Ebike - Carbon 1 Pro | Lightweight, Smart Cruiser, Ideal Gravel Catbon Electric Bike">
    </div>
    </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>

<div class="choose">
    <h2 class="u60Medium_v2">It doesn’t have to choose, <br class="mobileHide">it has everything.</h2>
</div>
<div class="lightweight">
    <div></div>
    <div>
        <h2 class="u48Medium_v2">Lightweight Is the Way</h2>
        <p class="u17Light_v2">
            <span>
                50% lighter than comparable models, easy to hang on the wall or on a car rack for hassle-free transportation and carrying in-and-out, ideal for commuting in the city.
            </span>
        </p>
    </div>
</div>
<div class="more">
    <div class="centeral-content">
        <div>
            <div>
                <h2 class="u48Medium_v2">More</h2>
                <h2 class="powerrrrrrrrrr">POWER</h2>
                <div class="flex-1 mobileHide"></div>
                <p class="u17Light_v2">
                    <span>Shimano 8-speed gears with adaptive power provide 26% more torque than Carbon 1s.</span>
                </p>
            </div>
            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23438_2x_312ed800-7911-4cce-b391-03fb8e1718be.png?v=1703241276"
                alt="Urtopia Ebike - Carbon 1 Pro | Lightweight, Smart Cruiser, Ideal Gravel Catbon Electric Bike">
        </div>
        <div>
            <div>
                <h2 class="u48Medium_v2">More</h2>
                <h2 class="rrrrrrrr">RANGE</h2>
                <div class="flex-1 mobileHide"></div>
                <p class="u17Light_v2">
                    <span>Optimize acceleration, save energy and extend range by 30% with torque sensor and intelligent algorithm.</span>
                </p>
            </div>
            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23439_2x_4a816f70-d288-4bb3-846c-159316fda856.png?v=1704694869"
                alt="Urtopia Ebike - Carbon 1 Pro | Lightweight, Smart Cruiser, Ideal Gravel Catbon Electric Bike">
        </div>
    </div>
</div>
<div class="comfortable">
    <div class="centeral-content">
        <div>
            <div>
            <h2 class="u36Medium_v2">More Comfortable</h2>
            <p class="u17Light_v2">
                <span>
                    Achieve an ergonomic endurance position for all-day rides. Easily adjust seatpost and stem for your
                    comfort.
                </span>
            </p>
        </div>
        <div class="mobileHide"></div>
        <div>
            <h2 class="u36Medium_v2">More Capable</h2>
            <p class="u17Light_v2">
                <span>
                    Highly versatile, Carbon 1 Pro supports racks, larger tires, and even front suspension, offering
                    exceptional DIY possibilities.
                </span>
            </p>
        </div>
        </div>
    </div>
</div>
<div class="smooth">
    <div class="centeral-content">
        <div>
            <div>
            <h2 class="u36Medium_v2">More Smooth</h2>
            <p class="u17Light_v2">
                <span>Torque sensor and intelligent algorithm adapt to your pedaling style for the best acceleration and balance.</span>
            </p>
        </div>
        <div>
            <h2 class="u36Medium_v2">More Accessible</h2>
            <p class="u17Light_v2">
                <span>Bottom-mounted battery for convenient, hassle-free access, avoiding water issues on rainy
                    days.</span>
            </p>
        </div>
        </div>
    </div>
</div>
<div class="conquer">
    <div class="centeral-content">
        <div>
            <div>
            <h2 class="u36Medium_v2">More Road to Conquer</h2>
            <p class="u17Light_v2">
                <span>
                    Wide tires for both GRAVEL and OFF-ROAD, ensuring comfort on various surfaces. Experience the freedom to ride anywhere.
                </span>
            </p>
        </div>
        <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23473_2x_04793898-eb69-4b45-9cac-4bcfbaa7b28f.png?v=1703472656"
            alt="Urtopia Ebike - Carbon 1 Pro | Lightweight, Smart Cruiser, Ideal Gravel Catbon Electric Bike">
        </div>
    </div>
</div>
<div class="gray-background-color never">
    <div class="centeral-content">
        <h2 class="u60Medium_v2">Smart <span style="color: #EB5A2D;">EVOLUTION,</span><br>Unleashing Intelligent Charm
        </h2>
        <h3 class="u48Medium_v2"><img
                src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/screenshot-20231012-172647.png?v=1697102822"
                alt="Urtopia Ebike - Carbon 1 Pro | Lightweight, Smart Cruiser, Ideal Gravel Catbon Electric Bike"> Never lose it</h3>
        <div class="boxs">
            <div>
                <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/3-3_2x_5377b3f0-392f-4585-b0da-551ecc12d5e7.jpg?v=1704189341"
                    alt="Urtopia Ebike - Carbon 1 Pro | Lightweight, Smart Cruiser, Ideal Gravel Catbon Electric Bike">
                <h4 class="u24Medium_v2">Movement alarm</h4>
                <p class="u17Light_v2">
                    <span>
                        Once locked, the onboard alarm monitors movements and alerts you against unauthorized ones.
                    </span>
                </p>
                <div class="flex-1"></div>
            </div>
            <div>
                <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18878_2x_5608f5b0-4079-4221-ae70-8d74217c87d7.jpg?v=1697088999"
                    alt="Urtopia Ebike - Carbon 1 Pro | Lightweight, Smart Cruiser, Ideal Gravel Catbon Electric Bike">
                <h4 class="u24Medium_v2">GPS tracking and fence</h4>
                <p class="u17Light_v2">
                    <span>
                        Aided by a constant 4G connection, GPS tracking keeps you informed of the e-bike’s location, even in the worst scenario of theft.
                    </span>
                </p>
                <div class="flex-1"></div>
            </div>
            <div class="mobileHide"></div>
            <div class="mobileHide"></div>
            <div>
                <h4 class="u24Medium_v2">Find my bike story</h4>
                <p class="u17Light_v2">
                    <span>
                        This is the story of how David’s Urtopia e-bike was stolen during his trip and then recovered,
                        leaving the Las Vegas police officer who assisted him in shock saying, ‘’In all my 20 years on
                        the job, I’ve never seen a bike recovered like that.’’
                    </span>
                </p>
            </div>
            <div>
                <div class="my-button my-button-black"
                    onclick="showVideoDialog('https://www.youtube.com/embed/W3N0OuaXj5M?autoplay=1&amp;cc_load_policy=1')">
                    Watch Video <img
                        src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/screenshot-20231012-165647.png?v=1697101021"
                        alt="Urtopia Ebike - Carbon 1 Pro | Lightweight, Smart Cruiser, Ideal Gravel Catbon Electric Bike"></div>
            </div>
        </div>
    </div>
</div>
<div class="everything">
    <div class="centeral-content">
        <div class="boxs">
            <div>
                <h3 class="u24Medium_v2">Fingerprint unlock</h3>
                <p class="u17Light_v2">
                    <span>
                        No more worrying about losing another key.
                    </span>
                </p>
            </div>
            <div>
                <h3 class="u24Medium_v2">Navigation without cellphone</h3>
                <p class="u17Light_v2">
                    <span>
                        No more ugly phone holders, the bright screen shows navigation clearly in
                        daylight.
                    </span>
                </p>
            </div>
            <div>
                <h3 class="u24Medium_v2">Track your route</h3>
                <p class="u17Light_v2">
                    <span>
                        The smart app tracks your trips and your health. Get on your bike and share
                        your exciting moments with friends and family.
                    </span>
                </p>
            </div>
            <div>
                <h3 class="u24Medium_v2">Bluetooth music</h3>
                <p class="u17Light_v2">
                    <span>
                        We know the importance of music, so we built a Bluetooth speaker. You can enjoy your favorite music while riding without having to carry an external speaker.
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>

{% render 'size-guide-and-specs-template', config: 'carbon1pro_order_page_config' %}


<script>
    let scrollAction = { x: 'undefined', y: 'undefined' }
  let scrollDirection = ''

function scrollFunc() {
  if (typeof scrollAction.x == 'undefined') {
    scrollAction.x = window.pageXOffset;
    scrollAction.y = window.pageYOffset;
  }
  var diffX = scrollAction.x - window.pageXOffset;
  var diffY = scrollAction.y - window.pageYOffset;
  if (diffX < 0) {
    // Scroll right
    scrollDirection = 'right';
  } else if (diffX > 0) {
    // Scroll left
    scrollDirection = 'left';
  } else if (diffY < 0) {
    // Scroll down
    scrollDirection = 'down';
  } else if (diffY > 0) {
    // Scroll up
    scrollDirection = 'up';
  } else {
    // First scroll event
  }
  scrollAction.x = window.pageXOffset;
  scrollAction.y = window.pageYOffset;
}

if (!global_config.is_mobile && global_config.is_pc) {
      window.onscroll = throttle(function (e) {
        scrollFunc()
      try {
        if (scrollDirection == 'down') {
          //页面向下滚动要做的事情
          // console.log('-====向下滚动了');
          document.querySelector('.header-wrapper').style.position = 'inherit';
          $('.top-fixed').css({ top: 0, 'z-index': 3 })

          if ($('header-menu details[open]')) {
            $('header-menu details[open] summary')[0].click()
          }
          
        } else if (scrollDirection == 'up') {
          //页面向上滚动要做的事情
          // console.log('-====向上滚动了');
          document.querySelector('.header-wrapper').style.position = 'fixed';
          document.querySelector('.header-wrapper').style.top = 0;
          document.querySelector('.header-wrapper').style.width = '100%';
          $('.top-fixed').css({ top: '60px', 'z-index': 2 })

          if (scrollAction.y < 80) {
            document.querySelector('.header-wrapper').style.position = 'inherit';
          }
        }
      } catch (error) {}
    }, 30);
}
</script>

<script>
  global_config.is_mobile && new Swiper('.mediaaaaa .centeral-content', {
        autoplay: {
            disableOnInteraction: false,
            pauseOnMouseEnter: false,
            delay: 5000,
        },
        loop: true,
        effect: 'fade',
        fadeEffect: {
            crossFade: true
        },
        pagination: { el: '.mediaaaaa .swiper-pagination' },
        speed: 300
    })
</script>


