{% assign prelo = "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/3-1.jpg?v=1722064932" %}


{{ 'carbon1pro-new.scss.css' | asset_url | stylesheet_tag: preload: true }}
<link rel="preload" as="image" href="{{ prelo }}">
<link rel="preload" as="image" href="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18878.jpg?v=1722064932">

<h1 class="visuallyhidden">Urtopia Carbon 1 Pro Ebike - Sleek, Full Carbon, Lightweight, Smart</h1>
<div class="product" data-pf-type="ProductBox">
  <div class="centeral-content">
      <div class="commonComponent pcHide">
        <div class="u20DemiBold_v2">{{ product.title }}</div>
        <div data-pf-type="JudgeMe" class="sc-eZhRLC gtfCKx pf-25_ order-djs mb16">
          <div class="pf-judme">
            {% render 'judgeme_widgets', 
              widget_type: 'judgeme_preview_badge',
              jm_style: '',
              concierge_install: false,
              product: product
            %}
          </div>
        </div>
        <div
          class="product-price u24DemiBold_v2 mb12"
          {% unless product.compare_at_price != product.price %}
            style="color: #000;"
          {% endunless %}
          {% unless product.compare_at_price == product.price %}
            data-price="{{ product.compare_at_price | money }}"
          {% endunless %}
        >
          {{ product.price | money }}
        </div>
        {% render "sale" %}
      </div>
    <div class="left-swiper mobileHide">
      <div class="swiper-wrapper">
        <img class="swiper-slide" alt="Urtopia Carbon 1 Pro" src="{{prelo}}"/>
      </div>
    </div>
    <span></span>
    <div class="featured_image mb16" style="--swiper-navigation-color: #000;--swiper-theme-color: #000;--swiper-pagination-color: #000;">
      <div class="right-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img alt="Urtopia Carbon 1 Pro" src="{{prelo}}"/></div>
        </div>
        <div class="arrow swiper-button-prev mobileHide"></div>
        <div class="arrow swiper-button-next mobileHide"></div>
      </div>
      <div class="medias">
         <i class="u17DemiBold_v2">Carbon Fiber Expert</i>
         <img src="https://newurtopia.com/cdn/shop/files/logo_0707__1.png?v=1684310857" alt="">
      </div>
      <div class="swiper-pagination pcHide"></div>
      <div class="free mobileHide">
        <span class="u14Medium_v2">Free Fenders, Kickstand, 1-Year eSIM Service Included</span>
        <span class="flex-1"></span>
        <del class="u14Light_v2">{{ 16700 | money }}</del>
        <span class="u17Medium_v2">Free</span>
      </div>
      <div class="icons mobileHide">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="45" height="45" viewBox="0 0 45 45">
  <defs>
    <clipPath>
      <rect id="Rectangle_25077" data-name="Rectangle 25077" width="45" height="45" transform="translate(427 824)" fill="#fff" stroke="#bfbfbf" stroke-width="1"/>
    </clipPath>
  </defs>
  <g id="Mask_Group_19076" data-name="Mask Group 19076" transform="translate(-427 -824)" clip-path="url(#clip-path)">
    <g id="Group_23890" data-name="Group 23890" transform="translate(0.184 -0.523)">
      <path id="Path_74558" data-name="Path 74558" d="M27.864,0A5,5,0,0,1,32.19,2.493l7.351,12.683a5,5,0,0,1,0,5.014L32.19,32.874a5,5,0,0,1-4.326,2.493H13.13A5,5,0,0,1,8.8,32.874L1.453,20.191a5,5,0,0,1,0-5.014L8.8,2.493A5,5,0,0,1,13.13,0Z" transform="translate(467.184 826.744) rotate(90)" fill="#bfbfbf"/>
      <path id="Path_74559" data-name="Path 74559" d="M21.126,0a5,5,0,0,1,4.317,2.477l5.076,8.683a5,5,0,0,1,0,5.046L25.443,24.89a5,5,0,0,1-4.317,2.477H10.867A5,5,0,0,1,6.551,24.89L1.475,16.207a5,5,0,0,1,0-5.046L6.551,2.477A5,5,0,0,1,10.867,0Z" transform="translate(463.299 831.423) rotate(90)" fill="#bfbfbf"/>
      <path id="Path_74549" data-name="Path 74549" d="M9.87.33c4.11,0,6.99-2.19,7.92-5.88l-2.88-.57a4.952,4.952,0,0,1-4.89,3.57c-3.12,0-5.28-2.46-5.28-6.03,0-3.6,2.16-6.06,5.28-6.06a4.782,4.782,0,0,1,4.95,3.6l2.88-.57c-1.08-3.9-3.66-5.88-7.98-5.88-4.95,0-8.49,3.72-8.49,8.91S4.92.33,9.87.33Z" transform="translate(440 856)" fill="#fff"/>
    </g>
  </g>
</svg>

          <div>
            <span class="u14Light_v2">37 lbs Lightweight</span>
            <span class="u14Medium_v2">Toray® Carbon Fiber</span>
          </div>
        </div>
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="45" height="45" viewBox="0 0 45 45">
  <defs>
    <clipPath>
      <rect id="Rectangle_25076" data-name="Rectangle 25076" width="45" height="45" transform="translate(427 905)" fill="#fff" stroke="#707070" stroke-width="1"/>
    </clipPath>
  </defs>
  <g id="Mask_Group_19077" data-name="Mask Group 19077" transform="translate(-427 -905)" clip-path="url(#clip-path)">
    <g id="Group_23882" data-name="Group 23882" transform="translate(-2 -8)">
      <g id="_021-wheels" data-name="021-wheels" transform="translate(432 915.498)" opacity="0.999">
        <path id="Path_74522" data-name="Path 74522" d="M38.493,18.632c-.606,0-.564-.663-.618-1.087-.107-.808-.267-1.052.576-1.277l.137-.24L38,13.831c-.065-.236-.332-.114-.5-.069-.583.156-.713-.484-.881-.888l-.236-.534c-.282-.625.492-.763.549-.961v-.149L35.793,9.259c-.122-.21-.355-.027-.488.053-.534.32-.82-.263-1.094-.618-.507-.656-.763-.763-.141-1.4V7L32.453,5.4c-.175-.175-.358.08-.473.191-.427.427-.858-.065-1.2-.332s-.93-.541-.629-1.079c.08-.137.278-.381.061-.5L28.213,2.529c-.187-.1-.305.179-.381.3-.305.549-.85.183-1.262,0-.694-.29-1.071-.3-.82-1.144a.2.2,0,0,0,0-.149l-.118-.092-2.2-.587a.2.2,0,0,0-.149,0l-.16.381c-.156.587-.785.381-1.2.316-.816-.107-1.091,0-1.091-.888L20.632.5H18.345c-.248,0-.194.3-.2.465,0,.606-.663.564-1.087.618-.8.107-1.052.271-1.277-.576L15.542.87l-2.193.587c-.236.065-.114.332-.069.5.156.583-.492.717-.888.881l-.53.229c-.469.214-.694-.2-.839-.458l-.271-.072L8.781,3.681c-.206.126-.031.347.053.488.32.534-.263.82-.618,1.094-.656.5-.763.763-1.4.141H6.524L4.919,7V7.28l.191.194c.423.427-.065.862-.332,1.2s-.541.934-1.079.629c-.137-.08-.381-.278-.5-.061L2.051,11.242c-.1.187.179.305.3.381.549.305.183.85,0,1.262s-.3,1.045-.881.888l-.4-.05-.092.118-.587,2.2a.2.2,0,0,0,0,.149l.381.16c.587.156.381.785.316,1.2-.107.816,0,1.091-.888,1.091L0,18.838v2.288c0,.248.3.194.465.2.606,0,.564.663.618,1.087.107.808.267,1.052-.576,1.277l-.137.24.587,2.2c.065.236.332.114.5.069.583-.156.713.484.881.888l.255.511c.282.625-.492.763-.549.961V28.7l1.144,1.971c.114.21.358.027.488-.053.534-.32.82.263,1.094.618.511.656.763.763.141,1.4v.294l1.617,1.605c.175.175.358-.08.473-.191.427-.427.858.065,1.2.332s.93.557.629,1.079c-.08.137-.278.381-.061.5L10.764,37.4c.191.1.305-.179.381-.3.305-.549.85-.183,1.262,0,.763.313,1.049.294.82,1.144a.2.2,0,0,0,0,.149l.118.092,2.2.587a.2.2,0,0,0,.149,0l.16-.381c.156-.587.785-.381,1.2-.316.816.107,1.091,0,1.091.888l.194.194h2.288c.248,0,.194-.3.2-.465,0-.606.663-.564,1.087-.618.808-.107,1.052-.271,1.277.576l.24.137,2.2-.587c.236-.065.114-.332.069-.5-.156-.583.484-.713.888-.881l.541-.233c.625-.282.763.492.961.549h.149L30.207,36.3c.21-.114.027-.358-.053-.488-.32-.534.263-.82.618-1.094.656-.511.763-.763,1.4-.141h.282l1.605-1.647v-.278c-.214-.214-.561-.534-.229-.934l.7-.911c.412-.6.9.034,1.144-.027a.2.2,0,0,0,.122-.092l1.144-1.994c.1-.187-.179-.305-.3-.381-.549-.305-.183-.85,0-1.258.29-.694.3-1.071,1.144-.82a.2.2,0,0,0,.149,0l.092-.118.587-2.2a.2.2,0,0,0,0-.149l-.381-.16c-.587-.156-.381-.785-.316-1.2.107-.816,0-1.091.888-1.091L39,21.122v-2.3c-.046-.24-.343-.191-.507-.191Z" fill="none" stroke="#bfbfbf" stroke-width="1"/>
      </g>
      <g id="Path_74525" data-name="Path 74525" transform="translate(432 916)" fill="none" opacity="0.999">
        <path d="M19.5,0A19.5,19.5,0,1,1,0,19.5,19.5,19.5,0,0,1,19.5,0Z" stroke="none"/>
        <path d="M 19.5 4 C 15.35980033874512 4 11.46740913391113 5.612281799316406 8.539850234985352 8.539850234985352 C 5.612281799316406 11.46740913391113 4 15.35980033874512 4 19.5 C 4 23.64019966125488 5.612281799316406 27.53258895874023 8.539850234985352 30.46014976501465 C 11.46740913391113 33.38771820068359 15.35980033874512 35 19.5 35 C 23.64019966125488 35 27.53258895874023 33.38771820068359 30.46014976501465 30.46014976501465 C 33.38771820068359 27.53258895874023 35 23.64019966125488 35 19.5 C 35 15.35980033874512 33.38771820068359 11.46740913391113 30.46014976501465 8.539850234985352 C 27.53258895874023 5.612281799316406 23.64019966125488 4 19.5 4 M 19.5 0 C 30.26955032348633 0 39 8.730449676513672 39 19.5 C 39 30.26955032348633 30.26955032348633 39 19.5 39 C 8.730449676513672 39 0 30.26955032348633 0 19.5 C 0 8.730449676513672 8.730449676513672 0 19.5 0 Z" stroke="none" fill="#bfbfbf"/>
      </g>
      <path id="Path_74527" data-name="Path 74527" d="M0,0V7.5" transform="translate(451.5 941.469)" fill="#bfbfbf" stroke="#bfbfbf" stroke-linecap="round" stroke-width="1"/>
      <path id="Path_74528" data-name="Path 74528" d="M0,0H7.5" transform="translate(438.038 935.728)" fill="#bfbfbf" stroke="#bfbfbf" stroke-linecap="round" stroke-width="1"/>
      <path id="Path_74529" data-name="Path 74529" d="M0,0V7.5" transform="translate(447.275 939.952) rotate(45)" fill="#bfbfbf" stroke="#bfbfbf" stroke-linecap="round" stroke-width="1"/>
      <path id="Path_74526" data-name="Path 74526" d="M0,0H7.5" transform="translate(455.688 939.916) rotate(45)" fill="#bfbfbf" stroke="#bfbfbf" stroke-linecap="round" stroke-width="1"/>
      <g id="Path_74530" data-name="Path 74530" transform="translate(447 931)" fill="#bfbfbf">
        <path d="M 4.5 8.5 C 2.294389963150024 8.5 0.5 6.705609798431396 0.5 4.5 C 0.5 2.294389963150024 2.294389963150024 0.5 4.5 0.5 C 6.705609798431396 0.5 8.5 2.294389963150024 8.5 4.5 C 8.5 6.705609798431396 6.705609798431396 8.5 4.5 8.5 Z" stroke="none"/>
        <path d="M 4.5 1 C 2.570089817047119 1 1 2.570089817047119 1 4.5 C 1 6.429909706115723 2.570089817047119 8 4.5 8 C 6.429909706115723 8 8 6.429909706115723 8 4.5 C 8 2.570089817047119 6.429909706115723 1 4.5 1 M 4.5 0 C 6.98528003692627 0 9 2.01471996307373 9 4.5 C 9 6.98528003692627 6.98528003692627 9 4.5 9 C 2.01471996307373 9 0 6.98528003692627 0 4.5 C 0 2.01471996307373 2.01471996307373 0 4.5 0 Z" stroke="none" fill="#bfbfbf"/>
      </g>
      <path id="Path_74531" data-name="Path 74531" d="M0,0V7.5" transform="translate(455.724 931.504) rotate(-135)" fill="#bfbfbf" stroke="#bfbfbf" stroke-linecap="round" stroke-width="1"/>
      <path id="Path_74532" data-name="Path 74532" d="M0,0H7.5" transform="translate(447.312 931.54) rotate(-135)" fill="#bfbfbf" stroke="#bfbfbf" stroke-linecap="round" stroke-width="1"/>
      <path id="Path_74533" data-name="Path 74533" d="M0,0H7.5" transform="translate(457.463 935.728)" fill="#bfbfbf" stroke="#bfbfbf" stroke-linecap="round" stroke-width="1"/>
      <path id="Path_74534" data-name="Path 74534" d="M0,0V7.5" transform="translate(451.5 921.819)" fill="#bfbfbf" stroke="#bfbfbf" stroke-linecap="round" stroke-width="1"/>
      <path id="Path_74550" data-name="Path 74550" d="M0,0V7.5" transform="translate(451.5 941.469)" fill="#bfbfbf" stroke="#bfbfbf" stroke-linecap="round" stroke-width="1"/>
      <path id="Path_74551" data-name="Path 74551" d="M0,0H7.5" transform="translate(438.037 935.728)" fill="#bfbfbf" stroke="#bfbfbf" stroke-linecap="round" stroke-width="1"/>
      <path id="Path_74552" data-name="Path 74552" d="M0,0V7.5" transform="translate(447.275 939.952) rotate(45)" fill="#bfbfbf" stroke="#bfbfbf" stroke-linecap="round" stroke-width="1"/>
      <path id="Path_74553" data-name="Path 74553" d="M0,0H7.5" transform="translate(455.688 939.916) rotate(45)" fill="#bfbfbf" stroke="#bfbfbf" stroke-linecap="round" stroke-width="1"/>
      <path id="Path_74554" data-name="Path 74554" d="M0,0V7.5" transform="translate(455.724 931.504) rotate(-135)" fill="#bfbfbf" stroke="#bfbfbf" stroke-linecap="round" stroke-width="1"/>
      <path id="Path_74555" data-name="Path 74555" d="M0,0H7.5" transform="translate(447.312 931.54) rotate(-135)" fill="#bfbfbf" stroke="#bfbfbf" stroke-linecap="round" stroke-width="1"/>
      <path id="Path_74556" data-name="Path 74556" d="M0,0H7.5" transform="translate(457.463 935.728)" fill="#bfbfbf" stroke="#bfbfbf" stroke-linecap="round" stroke-width="1"/>
      <path id="Path_74557" data-name="Path 74557" d="M0,0V7.5" transform="translate(451.5 921.819)" fill="#bfbfbf" stroke="#bfbfbf" stroke-linecap="round" stroke-width="1"/>
    </g>
  </g>
</svg>

          <div>
            <span class="u14Light_v2">Long Range</span>
            <span class="u14Medium_v2">Up to 80 miles</span>
          </div>
        </div>
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="45" height="45" viewBox="0 0 45 45">
  <defs>
    <clipPath>
      <rect id="Rectangle_25079" data-name="Rectangle 25079" width="45" height="45" transform="translate(627 823)" fill="#fff" stroke="#707070" stroke-width="1"/>
    </clipPath>
  </defs>
  <g id="Mask_Group_19079" data-name="Mask Group 19079" transform="translate(-627 -823)" clip-path="url(#clip-path)">
    <g id="Group_23888" data-name="Group 23888" transform="translate(-0.367 1.404)">
      <g id="Rectangle_25061" data-name="Rectangle 25061" transform="translate(649.248 829.394) rotate(45)" fill="#bfbfbf" stroke="#bfbfbf" stroke-width="1">
        <rect width="21.087" height="19.915" stroke="none"/>
        <rect x="0.5" y="0.5" width="20.087" height="18.915" fill="none"/>
      </g>
      <g id="Rectangle_25062" data-name="Rectangle 25062" transform="translate(637.65 826.081) rotate(45)" fill="#bfbfbf" stroke="#bfbfbf" stroke-width="1">
        <path d="M2,0H3.514a0,0,0,0,1,0,0V8.2a0,0,0,0,1,0,0H2a2,2,0,0,1-2-2V2A2,2,0,0,1,2,0Z" stroke="none"/>
        <path d="M2,.5h.514a.5.5,0,0,1,.5.5V7.2a.5.5,0,0,1-.5.5H2A1.5,1.5,0,0,1,.5,6.2V2A1.5,1.5,0,0,1,2,.5Z" fill="none"/>
      </g>
      <g id="Rectangle_25063" data-name="Rectangle 25063" transform="translate(661.674 861.701) rotate(-135)" fill="#bfbfbf" stroke="#bfbfbf" stroke-width="1">
        <path d="M2,0H3.514a0,0,0,0,1,0,0V8.2a0,0,0,0,1,0,0H2a2,2,0,0,1-2-2V2A2,2,0,0,1,2,0Z" stroke="none"/>
        <path d="M2,.5h.514a.5.5,0,0,1,.5.5V7.2a.5.5,0,0,1-.5.5H2A1.5,1.5,0,0,1,.5,6.2V2A1.5,1.5,0,0,1,2,.5Z" fill="none"/>
      </g>
      <line id="Line_2031" data-name="Line 2031" x2="3.515" transform="translate(633.716 827.945) rotate(45)" fill="none" stroke="#bfbfbf" stroke-linecap="round" stroke-width="1"/>
      <line id="Line_2032" data-name="Line 2032" x2="3.515" transform="translate(663.33 857.559) rotate(45)" fill="none" stroke="#bfbfbf" stroke-linecap="round" stroke-width="1"/>
      <g id="Rectangle_25059" data-name="Rectangle 25059" transform="translate(646.763 823.596) rotate(45)" fill="#bfbfbf" stroke="#bfbfbf" stroke-width="1">
        <rect width="9.372" height="24.601" rx="2" stroke="none"/>
        <rect x="0.5" y="0.5" width="8.372" height="23.601" rx="1.5" fill="none"/>
      </g>
      <g id="Rectangle_25060" data-name="Rectangle 25060" transform="translate(663.33 840.163) rotate(45)" fill="#bfbfbf" stroke="#bfbfbf" stroke-width="1">
        <rect width="9.372" height="24.601" rx="2" stroke="none"/>
        <rect x="0.5" y="0.5" width="8.372" height="23.601" rx="1.5" fill="none"/>
      </g>
    </g>
  </g>
</svg>

          <div>
            <span class="u14Light_v2">Motor Power</span>
            <span class="u14Medium_v2">Peak 750W</span>
          </div>
        </div>
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="45" height="45" viewBox="0 0 45 45">
  <defs>
    <clipPath>
      <rect id="Rectangle_25078" data-name="Rectangle 25078" width="45" height="45" transform="translate(625 902)" fill="#fff" stroke="#707070" stroke-width="1"/>
    </clipPath>
  </defs>
  <g id="Mask_Group_19078" data-name="Mask Group 19078" transform="translate(-625 -902)" clip-path="url(#clip-path)">
    <g id="Group_23887" data-name="Group 23887" transform="translate(2.695)">
      <g id="Group_23883" data-name="Group 23883" transform="translate(618.081 922.388) rotate(-45)">
        <path id="Path_74536" data-name="Path 74536" d="M17.4,4.351A13.052,13.052,0,1,0,30.456,17.4,13.067,13.067,0,0,0,17.4,4.351M17.4,0A17.4,17.4,0,1,1,0,17.4,17.4,17.4,0,0,1,17.4,0Z" transform="translate(0 0)" fill="#bfbfbf"/>
        <path id="Path_74540" data-name="Path 74540" d="M5.8,0A5.8,5.8,0,1,1,0,5.8,5.8,5.8,0,0,1,5.8,0Z" transform="translate(11.602 11.602)" fill="#bfbfbf"/>
        <path id="Path_74537" data-name="Path 74537" d="M0,0H3.481V31.906H0Z" transform="translate(15.663 1.45)" fill="#bfbfbf"/>
        <path id="Path_74541" data-name="Path 74541" d="M0,0H3.481V31.906H0Z" transform="translate(1.45 19.144) rotate(-90)" fill="#bfbfbf"/>
        <path id="Path_74542" data-name="Path 74542" d="M0,0H2.9V2.9H0Z" transform="translate(4.351 16.802) rotate(45)" fill="#bfbfbf"/>
        <path id="Path_74543" data-name="Path 74543" d="M0,0H2.9V2.9H0Z" transform="translate(4.351 13.902) rotate(45)" fill="#bfbfbf"/>
        <path id="Path_74546" data-name="Path 74546" d="M0,0H2.9V2.9H0Z" transform="translate(18.004 4.351) rotate(135)" fill="#bfbfbf"/>
        <path id="Path_74547" data-name="Path 74547" d="M0,0H2.9V2.9H0Z" transform="translate(20.904 4.351) rotate(135)" fill="#bfbfbf"/>
        <path id="Path_74538" data-name="Path 74538" d="M0,0H2.9V2.9H0Z" transform="translate(18.004 30.456) rotate(135)" fill="#bfbfbf"/>
        <path id="Path_74539" data-name="Path 74539" d="M0,0H2.9V2.9H0Z" transform="translate(20.904 30.456) rotate(135)" fill="#bfbfbf"/>
        <path id="Path_74544" data-name="Path 74544" d="M0,0H2.9V2.9H0Z" transform="translate(31.305 18.004) rotate(-135)" fill="#bfbfbf"/>
        <path id="Path_74545" data-name="Path 74545" d="M0,0H2.9V2.9H0Z" transform="translate(31.305 20.904) rotate(-135)" fill="#bfbfbf"/>
      </g>
      <g id="Group_23885" data-name="Group 23885" transform="translate(636.539 922.388) rotate(-45)">
        <path id="Ellipse_619" data-name="Ellipse 619" d="M4.351,2.175A2.175,2.175,0,1,0,6.526,4.351,2.178,2.178,0,0,0,4.351,2.175M4.351,0A4.351,4.351,0,1,1,0,4.351,4.351,4.351,0,0,1,4.351,0Z" fill="#bfbfbf"/>
        <path id="Path_74535" data-name="Path 74535" d="M4.351,3.14C6.754,3.14,8.7-1.738,8.7.665V25.32a4.351,4.351,0,1,1-8.7,0V.665C0-1.737,1.948,3.14,4.351,3.14Z" transform="translate(0 3.685)" fill="#bfbfbf"/>
        <path id="Path_74535_-_Outline" data-name="Path 74535 - Outline" d="M7.251,3.293a4.407,4.407,0,0,1-2.9,1.3,4.407,4.407,0,0,1-2.9-1.3V25.32a2.9,2.9,0,0,0,5.8,0V3.293M.217,0C.788,0,2.423,3.14,4.351,3.14,6.754,3.14,8.7-1.738,8.7.665V25.32a4.351,4.351,0,0,1-8.7,0V.665C0,.191.076,0,.217,0Z" transform="translate(0 3.685)" fill="#bfbfbf"/>
      </g>
    </g>
  </g>
</svg>

          
          <div>
            <span class="u14Light_v2">Torque Sensor</span>
            <span class="u14Medium_v2">0 Response Latency</span>
          </div>
        </div>
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="45" height="45" viewBox="0 0 45 45">
  <defs>
    <clipPath>
      <rect id="Rectangle_25371" data-name="Rectangle 25371" width="45" height="45" transform="translate(456 768)" fill="#fff" stroke="#707070" stroke-width="1"/>
    </clipPath>
  </defs>
  <g id="Mask_Group_19197" data-name="Mask Group 19197" transform="translate(-456 -768)" clip-path="url(#clip-path)">
    <g id="Group_24273" data-name="Group 24273" transform="translate(0.008 -0.197)">
      <path id="Subtraction_74" data-name="Subtraction 74" d="M-8609.84,14617.589H-8627a3,3,0,0,1-3-3V14584a3,3,0,0,1,3-3h17.161a3,3,0,0,1,3,3v30.588A3,3,0,0,1-8609.84,14617.589Zm-5.41-28.277h0a.486.486,0,0,0-.448.254c-.017.017-.068.077-.152.178l-.014.017c-.206.245-.687.821-1.48,1.706-.443.5-.926,1.043-1.437,1.622l-.279.317c-.627.713-1.362,1.547-2.151,2.433-.6.679-1.167,1.313-1.688,1.9-.7.783-1.361,1.524-1.859,2.1a.6.6,0,0,0-.128.7.5.5,0,0,0,.506.319h5.137l-.635,1.838-1.332,3.8-.119.339-.089.254,0,.013a12.607,12.607,0,0,0-.484,1.489c-.07.28-.052.451.063.568l.129.128h.124a.49.49,0,0,0,.448-.257c.045-.044.445-.511,1.242-1.439l.435-.508.667-.778c.5-.582,1-1.174,1.483-1.746l.1-.118c.949-1.122,1.93-2.283,2.919-3.4,1.3-1.463,2.067-2.347,2.271-2.583l.012-.014a.5.5,0,0,0,.063-.572.66.66,0,0,0-.568-.315h-5.074a7.02,7.02,0,0,0,.285-.781l.02-.058c.218-.635.546-1.595,1.027-2.9.834-2.435,1.27-3.68,1.332-3.8a.53.53,0,0,0-.062-.443l-.129-.129Z" transform="translate(9096.912 -13807.668)" fill="#bfbfbf"/>
      <path id="Rectangle_25069" data-name="Rectangle 25069" d="M1.859,0h0a0,0,0,0,1,0,0V6.587a0,0,0,0,1,0,0h0A1.859,1.859,0,0,1,0,4.728V1.859A1.859,1.859,0,0,1,1.859,0Z" transform="translate(481.785 771.473) rotate(90)" fill="#bfbfbf"/>
    </g>
  </g>
</svg>

          
          <div>
            <span class="u14Light_v2">Portable Battery</span>
            <span class="u14Medium_v2">Samsung Li-ion</span>
          </div>
        </div>
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="45" height="45" viewBox="0 0 45 45">
  <defs>
    <clipPath>
      <rect id="Rectangle_25370" data-name="Rectangle 25370" width="45" height="45" transform="translate(864 830)" fill="#fff" stroke="#707070" stroke-width="1"/>
    </clipPath>
  </defs>
  <g id="Mask_Group_19196" data-name="Mask Group 19196" transform="translate(-864 -830)" clip-path="url(#clip-path)">
    <g id="Group_24272" data-name="Group 24272" transform="translate(0 1)">
      <path id="Ellipse_630" data-name="Ellipse 630" d="M19.5,3A16.5,16.5,0,0,0,7.833,31.167,16.5,16.5,0,1,0,31.167,7.833,16.392,16.392,0,0,0,19.5,3m0-3A19.5,19.5,0,1,1,0,19.5,19.5,19.5,0,0,1,19.5,0Z" transform="translate(867 832)" fill="#bfbfbf"/>
      <text id="U" transform="translate(876 858)" fill="#bfbfbf" font-size="24" font-family="BebasNeuePro-ExpEb, Bebas Neue Pro"><tspan x="0" y="0">U</tspan></text>
      <text id="L" transform="translate(888 862)" fill="#bfbfbf" font-size="23" font-family="BebasNeuePro-ExpEb, Bebas Neue Pro"><tspan x="0" y="0">L</tspan></text>
    </g>
  </g>
</svg>

          <div>
            <span class="u14Light_v2">Safety Certified</span>
            <span class="u14Medium_v2">UL 2849</span>
          </div>
        </div>
      </div>
    </div>
    <span></span>
    <form
      method="post"
      accept-charset="UTF-8"
      action="/cart/add"
      class="product-panel pf-product-form"
      data-productid="{{ product.id }}"
      id="product_form_{{ product.id }}"
      enctype="multipart/form-data"
    >
      <input
        type="hidden"
        name="id"
        data-product-id="{{product.id}}"
        value="{{ product.selected_or_first_available_variant.id }}"
      >
      <input type="hidden" name="form_type" value="product">
      <input type="hidden" name="utf8" value="✓">
      <div class="commonComponent mobileHide" id="sale_acc">
        <div class="u24DemiBold_v2">{{ product.title }}</div>
        <div class="mb16">
          {% render 'judgeme_widgets',
            widget_type: 'judgeme_preview_badge',
            jm_style: '',
            concierge_install: false,
            product: product
          %}
        </div>

        <div class="product-price u30DemiBold_v2 mb12">
          {{ product.price |  money_without_trailing_zeros  }}
          <span class="u17Medium_v2">{{ product.compare_at_price | money }}</span>
          <span class="u14Medium_v2">-{{ product.compare_at_price |  minus: product.price |  money_without_trailing_zeros }}</span>
        </div>
        {% render "sale" %}
      </div>
      <div class="options">
        {% for option in product.options_with_values %}
          <div class="option mb24" option="{{option.name}}" position="{{ option.position }}">
            <div class="u17DemiBold_v2 mb16">{{ option.name }} - <span class="u17Light_v2"></span></div>
            <div class="{{ option.name }}">
              {% for value in option.values %}
                {% case option.name %}
                  {% when 'Model' %}
                    <div attribute="{{ value }}" class="{{ value }}">
                      {% assign values = value | split: ' · ' %}
                      {% for value in values %}
                        <span>{{ value }}</span>
                      {% endfor %}
                    </div>
                  {% when 'Color' %}
                    <div attribute="{{ value }}" class="{{ value }}"><span class="tooltip">{{ value }}</span></div>
                  {% else %}
                    <div attribute="{{ value }}" class="{{ value }}">{{ value }}</div>
                {% endcase %}
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="accessories mb12">
        <div class="u17DemiBold_v2 mb12">Accessories</div>
        <div class="prev"></div>
        <div class="next"></div>
        <div class="items mb12">
          {% for prod in collections['carbon-1-pro-acc'].products %}
            {% if prod.available %}
              {% assign variant = prod.variants | first %}
              <div class="item" variant-id="{{ variant.id }}">
                <div class="u11Medium_v2">{{ prod.title }}</div>
                <div>
                  <div>
                    <span class="u17DemiBold_v2">{{ prod.price | money }}</span>
                    <span class="u11Light_v2">
                      <i class="fa-solid fa-plus"></i>
                    </span>
                  </div>
                  {{ prod.featured_image | image_url: width: 150 | image_tag: loading: 'lazy' }}
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="free pcHide">
        <span class="u14Medium_v2">Free</span>
        <span class="u11Light_v2">Fenders, Kickstand, 1-Year eSIM Service</span>
      </div>
      <div class="error-tip u14Medium_v2 mb12" style="color:red;">Your order quantity has reached our stock limit</div>
      <div class="buttons mb24">
        <div
          data-product-id="{{ product.id }}"
          class="my-button my-button-origin addToCartBtn mb12"
          onclick="addAllToCart('atc')"
          id="addToCart"
        >
          <i class="fa fa-spinner fa-spin"></i
          ><span data-pf-type="Text" class="addToCartText u17DemiBold_v2">Add to Cart</span>
        </div>
        <div onclick="testRideTrace('klarna_check_out', this)" class="orderTestRideBtn">
          <img
            class="twoooo"
            src="https://cdn.shopifycdn.net/s/files/1/0633/2068/6808/files/20230530-121400.png?v=1685420054"
          >
          <span><span class="u14DemiBold_v2">0 APR Financing</span
            ><span class="u14Medium_v2"
              >24 months,
              <span class="stages">{{ product.price | divided_by: 24 | money_without_trailing_zeros }}</span
              >/month</span
            ></span
          >
        </div>
      </div>
      <div class="contact mb12">
        <span class="delivery_time u14Medium_v2">Free shipping within 5 business days</span><br>
        <span class="u14Light_v2">
            Need advice from our experts? Contact us at
            <a class="my-link" href="tel:+1 (844) 936-2868">+1 (844) 936-2868</a> or
            <a href="mailto:support@newurtopia.com" class="my-link">support@newurtopia.com</a>
        </span>
      </div>
      <div class="dialogs mb24">
        <div class="u17Medium_v2" onclick="showSizesAndSpecs('SizesDialog')">
          <span>Size & Fit</span>
          <span>&gt;</span>
        </div>
        <div class="u17Medium_v2" onclick="showSizesAndSpecs('SpecsDialog')">
          <span>Technical Specifications</span>
          <span>&gt;</span>
        </div>
        <!--
          <div class="u17Medium_v2">
            	<span>Support & Service</span>
            	<span>&gt;</span>
            </div>

          <div class="u17Medium_v2">
            <span>Pre-order FAQs</span>
            <span>&gt;</span>
          </div>
        -->
      </div>
      <div class="support">
        <a href="#boxs3">
          <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" height="30" width="30">
  <defs>
    <clipPath >
      <rect stroke-width="1.5" stroke="#000" fill="#fff" transform="translate(7402.879 1203.146)" height="30" width="30" data-name="Rectangle 25526" id="Rectangle_25526"/>
    </clipPath>
  </defs>
  <g clip-path="url(#clip-path)" transform="translate(-7402.879 -1203.146)" data-name="Mask Group 19265" id="Mask_Group_19265">
    <path stroke-width="1.5" stroke="#000" fill="none" transform="translate(7204.457 1122.369)" d="M205.3,95.313c.135.321.928,1.689,1.969,3.441.622,1.047,1.327,2.223,2.036,3.4s1.425,2.358,2.052,3.389c.715,1.176,1.316,2.171,1.684,2.767a.442.442,0,0,0,.757,0c.368-.6.969-1.591,1.684-2.767.627-1.031,1.337-2.213,2.052-3.389s1.415-2.358,2.036-3.4c1.042-1.751,1.834-3.119,1.969-3.441a8.809,8.809,0,1,0-16.24,0Zm8.12,1.446a4.923,4.923,0,1,1,4.923-4.923A4.923,4.923,0,0,1,213.422,96.759Z" data-name="GPS显示 (3)" id="GPS显示_3_"/>
  </g>
</svg>
          <span class="u11Medium_v2"
            >150+<br>
            Bike Shops</span
          >
        </a>
        <a href="/pages/shipping-and-return" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30" viewBox="0 0 30 30">
  <defs>
    <clipPath >
      <rect id="Rectangle_25525" data-name="Rectangle 25525" width="30" height="30" transform="translate(0)" fill="#fff" stroke="#000" stroke-width="1.5"/>
    </clipPath>
  </defs>
  <g id="Mask_Group_19264" data-name="Mask Group 19264" clip-path="url(#clip-path)">
    <g id="_图层_1-2" transform="translate(0.973 5.885)">
      <g id="Group_24427" data-name="Group 24427" transform="translate(0 0)">
        <g id="Group_24426" data-name="Group 24426" transform="translate(0 1.219)">
          <path id="Path_76265" data-name="Path 76265" d="M5.456,6.02,2,9.476l3.5,3.5" transform="translate(-2 -6.02)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
          <line id="Line_2160" data-name="Line 2160" x2="18.501" transform="translate(0.803 3.401)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
          <path id="Path_76266" data-name="Path 76266" d="M68.144,29.26A3.641,3.641,0,0,1,64.5,32.9" transform="translate(-45.554 -22.215)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
          <path id="Path_76267" data-name="Path 76267" d="M68.144,20.884A3.641,3.641,0,0,0,64.5,17.24" transform="translate(-45.554 -13.839)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="1.5"/>
          <line id="Line_2161" data-name="Line 2161" x2="6.436" transform="translate(12.332 10.698)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
        </g>
        <path id="Path_76268" data-name="Path 76268" d="M45.491,8.7V22.741c0,1.191-.658,2.158-1.473,2.158H28.473c-.812,0-1.473-.967-1.473-2.158V17.661" transform="translate(-19.422 -6.669)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
        <path id="Path_76269" data-name="Path 76269" d="M47.651,2.03H33" transform="translate(-23.603 -2.021)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
        <path id="Path_76270" data-name="Path 76270" d="M83.016,4.146A2.146,2.146,0,0,0,80.87,2" transform="translate(-56.961 -2)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="1.5"/>
      </g>
    </g>
  </g>
</svg>

          <span class="u11Medium_v2"
            >14-Day<br>Trial</span
          >
        </a>
        <a href="/pages/warranty" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30" viewBox="0 0 30 30">
  <defs>
    <clipPath>
      <rect id="Rectangle_25524" data-name="Rectangle 25524" width="30" height="30" transform="translate(0)" fill="#fff" stroke="#000" stroke-width="1.5"/>
    </clipPath>
  </defs>
  <g id="Mask_Group_19263" data-name="Mask Group 19263" clip-path="url(#clip-path)">
    <g id="_图层_1-2" transform="translate(5.107 3.152)">
      <g id="Group_24425" data-name="Group 24425" transform="translate(0 0)">
        <path id="Path_76261" data-name="Path 76261" d="M5.745,12.15A31.986,31.986,0,0,1,2,13.862C3.059,24.45,6.235,27.979,11.882,32.214" transform="translate(-2 -8.568)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
        <path id="Path_76262" data-name="Path 76262" d="M23.613,2s-1.5.971-3.483,2.118" transform="translate(-13.731 -2)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
        <path id="Path_76263" data-name="Path 76263" d="M30.06,2.14a65.948,65.948,0,0,0,9.882,5.294c-1.059,10.588-4.235,14.117-9.882,18.353" transform="translate(-20.157 -2.091)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
        <path id="Path_76264" data-name="Path 76264" d="M21.6,29.9l2.629,2.629,5.082-5.082" transform="translate(-14.682 -18.468)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
      </g>
    </g>
  </g>
</svg>
          <span class="u11Medium_v2"
            >2-Year<br>
            Warranty</span
          >
        </a>
      </div>
    </form>
  </div>
</div>

<div class="professional">
  <div class="centeral-content">
    <h2 class="u36Medium_v2">Professional Reviews</h2>
    <div class="videos swiper-wrapper">
      <div class="swiper-slide" onclick="showVideoDialog('https://www.youtube.com/embed/T-0A-EUwUfM?autoplay=1&cc_load_policy=1')">
        <img
        class="lozad" data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_24387_2x_36eb73ab-cab9-4cef-a982-55ee3a44b2fa.jpg?v=1721643890&width=400"
          alt=""
        >
        <span class="u17Light_v2">A super light and responsive e-bike achieves faster speeds than the metro.</span>
      </div>
      <div class="swiper-slide" onclick="showVideoDialog('https://www.youtube.com/embed/r9TD6cPYCxc?autoplay=1&cc_load_policy=1')">
        <img
        class="lozad" data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_24388_2x_cf9b2444-02e2-4caa-9a59-642dc5ec0b55.jpg?v=1721643896&width=400"
          alt=""
        >
        <span class="u17Light_v2">Tested at 748W, the power of 1 Pro is higher than most all-terrain e-bikes.</span>
      </div>
      <div class="swiper-slide" onclick="showVideoDialog('https://www.youtube.com/embed/5JI2U6EpAHA?autoplay=1&cc_load_policy=1')">
        <img
        class="lozad" data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_24389_2x_b9ff420c-4577-4ef8-98e5-c9085b0915ba.jpg?v=1721643884&width=400"
          alt=""
        >
        <span class="u17Light_v2"
          >A stealthy and sleek ebike, so capable and the riding experience is what I dreamed of.</span
        >
      </div>
    </div>
    <div class="swiper-scrollbar"></div>
  </div>
</div>
<div class="build">
  <div class="centeral-content">
    <h3 class="u36Medium_v2">
      Carbon Fiber Expert
    </h3>
    <p class="u17Light_v2">
      <span>
        Crafted with Torayca® Carbon Fiber, known for its use in Formula 1 and leading bicycle manufacturers, Carbon 1
        Pro sets the bar for high-performance cycling. Experience its lightweight, stiffness, and stability firsthand
        with Carbon 1 Pro.
      </span>
    </p>
  </div>
</div>
<div class="boxs">
  <div class="centeral-content">
    <img
      class="lozad" data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSCF7172_1_2x_9e69fcf5-f8d5-4003-9046-1bc3722fe7eb.jpg?v=1706600943&width=800"
      alt="Urtopia Carbon 1 Pro Ebike - Sleek, Full Carbon, Lightweight, Smart"
    >
    <div>
      <h2 class="u30Medium_v2">
        Your Lightweight, <br>
        Everyday E-bike
      </h2>
      <p class="u17Light_v2">
        <span
          >A joy to pedal even without electric assist! Ride like a regular bike while easily covering more miles. For
          urban ease, Carbon 1 Pro prioritizes a detachable battery — a rarity among lightweight e-bikes, making it the
          optimal choice for city dwellers.</span
        >
      </p>
      <h3 class="u48Medium_v2">50% <span class="u24Medium_v2">Lighter</span></h3>
    </div>
    <div>
      <h2 class="u30Medium_v2">
        Your Long-range, <br>
        Touring E-bike
      </h2>
      <p class="u17Light_v2">
        <span>
          The synergy of the customized motor and torque sensor ensures optimal efficiency, enabling an impressive
          80-mile range on a single charge. Enhanced by the Shimano 8-speed gear shift system, it tackles diverse
          terrains with ease. Start an ebike tour now!
        </span>
      </p>
      <h3 class="u48Medium_v2"><span class="u24Medium_v2">Up to </span>80<span class="u24Medium_v2"> Miles</span></h3>
    </div>
    <img
      class="lozad" data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/ccc_2x_52e3b5e8-e0af-4639-9235-e739f529e631.jpg?v=1706600937&width=800"
      alt="Urtopia Carbon 1 Pro Ebike - Sleek, Full Carbon, Lightweight, Smart"
    >
  </div>
</div>
<div class="quality">
  <div class="centeral-content">
    <h3 class="u36Medium_v2">Quality in details</h3>
    <div class="items swiper-wrapper">
      <div class="swiper-slide">
        <img
         class="lozad"
          data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20240715-150401_2x_849335f3-f868-4cd2-95f2-3938874802f9.jpg?v=1721703139"
          alt=""
        >
        <span class="u20Medium_v2">Superior Frame Craftsmanship</span>
        <span class="u14Light_v2"
          >Using EPS molding technology, the carbon fiber frame achieves a smooth, seamless interior, eliminating stress
          points and enhancing strength. The result is a lighter, stronger, more reliable, and precisely constructed
          frame, crafted to the same high standards as best race bikes in the world.</span
        >
      </div>
      <div class="swiper-slide">
        <img
        class="lozad"
        data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/c_2x_a76f0c74-93ae-4efa-b971-c568eaecd076.jpg?v=1721714682"
          alt=""
        >
        <span class="u20Medium_v2">Customizable Smart Assist</span>
        <span class="u14Light_v2"
          >With a torque sensor and app-customizable assist ratios, this eBike offers a personalized, natural ride. The
          torque sensor provides smooth, responsive power based on pedaling effort, while the app fine-tunes assist for
          optimal battery efficiency and control in various conditions.</span
        >
      </div>
      <div class="swiper-slide">
        <img
        class="lozad"
        data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20240712-182556_2x_7b88c6c3-261c-4f6a-94e0-4f279e97c471.jpg?v=1721714687"
          alt=""
        >
        <span class="u20Medium_v2">High-Performance Motor</span>
        <span class="u14Light_v2"
          >Featuring a 750-watt peak power and 45 Nm rear hub motor, the 1 Pro delivers responsive performance
          equivalent to a 65 Nm mid-drive motor. Lightweight, quiet, and quick to respond with low maintenance costs,
          it’s power and convenient for urban and light off-road riding.</span
        >
      </div>
      <div class="swiper-slide">
        <img
        class="lozad"
        data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2x_78ede538-edb5-41fb-a18c-d57595204e2d.jpg?v=1721714693"
          alt=""
        >
        <span class="u20Medium_v2">Gear-Optimized Extended Range</span>
        <span class="u14Light_v2"
          >By finely tuning the 4 levels of pedal assist and the Shimano 8-speed rear derailleur, we optimize power
          output and leverage the wide gear ratios to enhance battery efficiency and extend the range to an impressive
          80 miles on a single charge.</span
        >
      </div>
      <div class="swiper-slide">
        <img
        class="lozad"
        data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/ccc_2x_8faccdc0-333e-4aab-acdd-73639339de4e.jpg?v=1721714699"
          alt=""
        >
        <span class="u20Medium_v2">Removable Battery</span>
        <span class="u14Light_v2"
          >Concealed in the frame, 1 Pro features a quick-detachable battery for easy carrying and charging. The 352.8
          Wh Samsung Li-ion battery is UL-2271 and IP65 certified for safety and reliability. Fast 2.5-hour charging
          eliminates long waits, and at 2.3 kg, it’s an ideal backup battery for long rides.</span
        >
      </div>
      <div class="swiper-slide">
        <img
        class="lozad"
        data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20240716-095036_2x_7acbb696-f43a-4fda-b143-74be30f582b5.jpg?v=1721714705"
          alt=""
        >
        <span class="u20Medium_v2">All-in-one Smartbar</span>
        <span class="u14Light_v2"
          >Innovative smartbar featuring a smartbox, integrated headlight, left-side control buttons, and a right-side
          shifter. The stem can be raised by 30mm for a more comfortable upright riding position. Experience onboard
          navigation and real-time riding data on a big display to streamline your cycling experience.</span
        >
      </div>
      <div class="swiper-slide">
        <img
          class="lozad"
        data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2x_ee466589-87fe-493f-9a63-4d99432e2af3.jpg?v=1721714675&width=500"
          alt=""
        >
        <span class="u20Medium_v2">Versatile Tires</span>
        <span class="u14Light_v2"
          >Featuring 700x40C large-diameter tires for easier and faster riding. Wider tire surface provides enhanced
          stability and comfort, improving grip and handling. Ideal for various terrains, including gravel, muddy paths,
          and city streets, and compatible with tire widths up to 45C.</span
        >
      </div>
    </div>
    <div class="swiper-scrollbar"></div>
    <div class="buttons mobileHide">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</div>
<div class="sleek">
  <video
    muted
    playsinline
    autoplay
    loop
    class="lozad mobileHide"
    data-src="https://player.vimeo.com/progressive_redirect/playback/907415400/rendition/1080p/file.mp4?loc=external&signature=796622305d603d0b7dba0ea9d0a973bd879902453dcf2e79908d7374c11031d0"
    poster="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23942_2x_0b3e2f68-3edf-423c-840c-93acaf520220.jpg?v=1706595699"
  ></video>
  <video
    muted
    playsinline
    autoplay
    loop
    class="lozad pcHide"
    data-src="https://player.vimeo.com/progressive_redirect/playback/907415420/rendition/540p/file.mp4?loc=external&signature=dd44e007d5fc0b2e3e34a8d06c7fe594bac0234cf6170de49d37ab5128a1369d"
    poster="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20240727-150110.jpg?v=1722063688"
  ></video>
  <div>
    <h2 class="u36Medium_v2">
      Sleek Design, <br>
      Hidden Power
    </h2>
    <p class="u17Light_v2">
      <span
        >Designed by former BMW maestro Mr. Heller, Carbon 1 Pro’s unibody design hides its e-bike identity. A top
        choice for minimalists and design enthusiasts seeking the best-designed e-bike.</span
      >
      <div
        class="my-button"
        onclick="showVideoDialog('https://www.youtube.com/embed/V_YWOzAZdBg?autoplay=1&cc_load_policy=1')"
      >
        Watch Video
        <img
          class="lozad mobileHide"
          data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/screenshot-20231012-164642.png?v=1697100422"
          alt="Urtopia Carbon 1 Pro Ebike - Sleek, Full Carbon, Lightweight, Smart"
        >
        <img
          class="lozad pcHide"
          data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/screenshot-20231012-165647.png?v=1697101021"
          alt="Urtopia Carbon 1 Pro Ebike - Sleek, Full Carbon, Lightweight, Smart"
        >
      </div>
    </p>
  </div>
</div>
<div class="sleek comfort">
  <video
    muted
    playsinline
    loop
    class="lozad mobileHide"
    data-src="https://cdn.shopify.com/videos/c/o/v/e11dca7d00d64d9db4454a4b08b8a589.mp4"
    poster="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/1_-_1_PosterImage.jpg?v=1721719179"
  ></video>
  <video
    muted
    playsinline
    loop
    class="lozad pcHide"
    data-src="https://cdn.shopify.com/videos/c/o/v/fbce42f6c3e242fda0053cf6df0de478.mp4"
    poster="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_19270_2x_776373bf-33bf-40d7-8165-b8714a295e1d.jpg?v=1721722315"
  ></video>
  <div>
    <h2 class="u36Medium_v2">
      Comfort or Cargo? <br>
      Customize Your Ride!
    </h2>
    <p class="u17Light_v2">
      <span
        >Adjustable handlebars and seat post ensure a comfortable riding position for both sport and leisure. Versatile
        accessory mounting points maximize carrying capacity. Load up and ride into adventure!</span
      >
    </p>
  </div>
</div>
<div class="build city">
  <div class="centeral-content">
    <div>
      <h3 class="u36Medium_v2">
        Trekking or City ride? <br>
        It’s up to you.
      </h3>
      <p class="u17Light_v2">
        <span>
          The Carbon 1 Pro is a highly versatile gravel e-bike that can support front suspension, larger tires, and a
          rack, offering exceptional DIY possibilities. With these features, you can transform it into an all-terrain
          beast.
        </span>
      </p>
    </div>
  </div>
</div>
          <div class="build range">
  <div class="centeral-content">
    <h3 class="u36Medium_v2">
      Prioritize Power or Range?<br>
      Customize anytime.
    </h3>
    <p class="u17Light_v2">
      <span>
        Tune assist modes to prioritize powerful support for tackling tough hills or opt for energy-saving settings to extend your range on longer rides. Adapt your ride to suit any journey, ensuring you get the most out of every trip.
      </span>
    </p>
  </div>
</div>
<div class="faq">
  <div class="centeral-content">
    <h3 class="u36Medium_v2">FAQs</h3>
    <div class="items">
      <div class="item">
        <div class="u24Medium_v2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="29.243"
            height="16.742"
            viewBox="0 0 29.243 16.742"
          >
            <g id="Group_20413" data-name="Group 20413" transform="translate(27.121 2.121) rotate(90)">
                <line id="Line_831" data-name="Line 831" x2="12.5" y2="12.448"
                    transform="translate(0 0)" fill="none" stroke="#898989" stroke-linecap="round"
                    stroke-width="3" />
                <line id="Line_832" data-name="Line 832" y1="12.448" x2="12.5"
                    transform="translate(0 12.552)" fill="none" stroke="#898989" stroke-linecap="round"
                    stroke-width="3" />
            </g>
          </svg>
          1. How durable is the carbon frame of the Carbon 1 Pro?
        </div>
        <p class="u17Light_v2">
          <span>
            The Carbon 1 Pro uses high-quality Toray T700/T800 carbon fibers and EPS molding technology. This creates a
            lightweight, strong, and impact-resistant frame with a seamless interior, eliminating stress points and
            enhancing durability. The result is a precisely constructed frame, as reliable as the best race bikes.
          </span>
        </p>
      </div>
      <div class="item">
        <div class="u24Medium_v2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="29.243"
            height="16.742"
            viewBox="0 0 29.243 16.742"
          >
            <g id="Group_20413" data-name="Group 20413" transform="translate(27.121 2.121) rotate(90)">
                <line id="Line_831" data-name="Line 831" x2="12.5" y2="12.448"
                    transform="translate(0 0)" fill="none" stroke="#898989" stroke-linecap="round"
                    stroke-width="3" />
                <line id="Line_832" data-name="Line 832" y1="12.448" x2="12.5"
                    transform="translate(0 12.552)" fill="none" stroke="#898989" stroke-linecap="round"
                    stroke-width="3" />
            </g>
          </svg>
          2. Why does the Carbon 1 Pro use a hub motor instead of a mid-drive motor?
        </div>
        <p class="u17Light_v2">
          <span>
            Hub motors are lighter, smoother, and more responsive, making them ideal for city and gravel roads.
            Mid-drive motors, while better for steep climbs, tend to be heavier, noisier, and more complex. The Carbon 1
            Pro, designed for urban and gravel environments, features a hub motor for agile riding experience. For those
            looking to conquer steep climbs, our Fusion model is available.
          </span>
        </p>
      </div>
      <div class="item">
        <div class="u24Medium_v2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="29.243"
            height="16.742"
            viewBox="0 0 29.243 16.742"
          >
            <g id="Group_20413" data-name="Group 20413" transform="translate(27.121 2.121) rotate(90)">
                <line id="Line_831" data-name="Line 831" x2="12.5" y2="12.448"
                    transform="translate(0 0)" fill="none" stroke="#898989" stroke-linecap="round"
                    stroke-width="3" />
                <line id="Line_832" data-name="Line 832" y1="12.448" x2="12.5"
                    transform="translate(0 12.552)" fill="none" stroke="#898989" stroke-linecap="round"
                    stroke-width="3" />
            </g>
          </svg>
          3. What components are used in the Carbon 1 Pro?
        </div>
        <p class="u17Light_v2">
          <span>
            The Carbon 1 Pro is equipped with high-quality brand components, including Shimano gears, Tektro brakes, a
            Samsung battery, and Toray carbon fibers. The motor is produced by a German manufacturer Mahle and branded
            under our name.
          </span>
        </p>
      </div>
      <div class="item">
        <div class="u24Medium_v2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="29.243"
            height="16.742"
            viewBox="0 0 29.243 16.742"
          >
            <g id="Group_20413" data-name="Group 20413" transform="translate(27.121 2.121) rotate(90)">
                <line id="Line_831" data-name="Line 831" x2="12.5" y2="12.448"
                    transform="translate(0 0)" fill="none" stroke="#898989" stroke-linecap="round"
                    stroke-width="3" />
                <line id="Line_832" data-name="Line 832" y1="12.448" x2="12.5"
                    transform="translate(0 12.552)" fill="none" stroke="#898989" stroke-linecap="round"
                    stroke-width="3" />
            </g>
          </svg>
          4. What safety features does the Carbon 1 Pro offer?
        </div>
        <p class="u17Light_v2">
          <span>
            The Carbon 1 Pro offers comprehensive safety features, including GPS tracking and anti-theft protection. It
            has Tektro hydraulic disc brakes for reliable stopping power. Built-in navigation and speakers reduce the
            risk of distractions, while the light-sensing front light automatically activates in low-light conditions
            for enhanced visibility.
          </span>
        </p>
      </div>
      <div class="item">
        <div class="u24Medium_v2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="29.243"
            height="16.742"
            viewBox="0 0 29.243 16.742"
          >
            <g id="Group_20413" data-name="Group 20413" transform="translate(27.121 2.121) rotate(90)">
                <line id="Line_831" data-name="Line 831" x2="12.5" y2="12.448"
                    transform="translate(0 0)" fill="none" stroke="#898989" stroke-linecap="round"
                    stroke-width="3" />
                <line id="Line_832" data-name="Line 832" y1="12.448" x2="12.5"
                    transform="translate(0 12.552)" fill="none" stroke="#898989" stroke-linecap="round"
                    stroke-width="3" />
            </g>
          </svg>
          5. Is the Carbon 1 Pro suitable for different weather conditions?
        </div>
        <p class="u17Light_v2">
          <span>
            Yes, the Carbon 1 Pro is designed to perform well in various weather conditions. It is IP65 rated for dust
            and water resistance, ensuring protection against rain and splashes. Additionally, it can accommodate tires
            up to 45c in width, providing excellent stability and traction on wet or uneven surfaces. Whether you're
            riding in rain, dust, or on rough terrain, the Carbon 1 Pro is built to handle it all.
          </span>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="test-ride">
  <div class="centeral-content">
    <div>
      <div>
        <h2 class="u30Medium_v2">It’s time to give it a spin!</h2>
        <p class="u17Light_v2">
          <span>Experience the bike in real</span>
        </p>
        <a
          class="my-button my-button-white"
          href="/pages/test-ride"
          target="_blank"
          >Book a Free Test Ride</a
        >
      </div>
    </div>
    <div>
      <div style="padding: 0;">
        <div
          id="storepoint-container"
          data-tags="us"
          data-map-id="162f21804990ff"
        ></div>
      </div>
    </div>
  </div>
</div>
<div class="boxs3" id="boxs3">
  <div class="centeral-content">
    <div></div>
    <div>
      <h2 class="u30Medium_v2">Local care all the time</h2>
      <div class="u17Light_v2">
        <div>
          <img
            class="lozad"
            data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/shopping-mall_2x_44d99fcd-f0f4-443b-927e-b68e48af010f.png?v=1687259496"

          >150+ service partners
        </div>
        <div>
          <img
            class="lozad"
            data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/24-hours_2x_d6a8eeb2-4564-4351-8cb9-096dbb778479.png?v=1687259501"

          >24hrs service response, App build-in portal
        </div>
        <div>
          <img
            class="lozad"
            data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/box_2x_2b3b7c15-f5ae-4305-956f-7543b63b2dda.png?v=1687259506"

          ><span>Spare parts available locally, ships in 3 days.</span>
        </div>
        <div>
          <img
            class="lozad"
            data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/customer-satisfaction_2x_c7081e3a-1864-43b6-8ed2-f77895eafa6a.png?v=1687259512"

          >20+ technical experts, 99% satisfaction rate.
        </div>
      </div>
      <a class="my-button my-button-white" href="/pages/care" target="_blank">Learn more</a>
    </div>
    <div>
      <div class="u30Medium_v2">Urtopians worldwide</div>
      <div class="u17Light_v2">
        Over 200,000 Urtopians worldwide are passionate about green riding with Urtopia ebikes, and their total ride
        data is impressive, equivalent to planting a total of 131,300+ trees.
      </div>
      <div class="texts">
        <div>
          <span class="u14Light_v2">The Urtopians rode a total distance of</span>
          <span class="u30DemiBold_v2">432,000,000+ <span class="u20Medium_v2">km</span></span>
        </div>
        <div>
          <span class="u14Light_v2">The reduction in CO2 emissions amounted to</span>
          <span class="u30DemiBold_v2">530,000+ <span class="u20Medium_v2">kg</span></span>
        </div>
        <div>
          <span class="u14Light_v2">Urtopian’s joint effort is equivalent to planting</span>
          <span class="u30DemiBold_v2">131,500+ <span class="u20Medium_v2">trees</span></span>
        </div>
      </div>
    </div>
    <img
    class="lozad" data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/IMG_7844_2x_b321b04d-1924-4c56-a4ee-db9cb945802b.jpg?v=1721803578&width=640"
      alt=""
    >
  </div>
</div>
<div class="users">
  <div class="centeral-content">
    <h3 class="u36Medium_v2">Users Like You, Worldwide</h3>
    <div class="sipwers">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
          class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/aaa_2x_b7d8a82c-0123-4464-8e05-a61068384a8c.jpg?v=1721728097&width=400"
            alt=""
          >
          <span class="u17Light_v2">
            <i><b>Michael S. </b>“Lightweight is the magic.”</i>
          </span>
        </div>
        <div class="swiper-slide">
          <img
          class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/363831887_269493272386733_7002402243999728624_n_2x_b09751de-04ae-430d-bba8-23ea7007dcfc.jpg?v=1721731773&width=400"
            alt=""
          >
          <span class="u17Light_v2">
            <i
              ><b>Andre. </b>“April 16 was the anniversary of my birth. On that morning my wife sent me to the garage to
              get her things in the car and what to my surprise was sitting in the garage covered in wrapping paper?
              Best Birthday gift ever. I’ve already put like 360 miles on it and I am loving it.”</i
            >
          </span>
        </div>
        <div class="swiper-slide">
          <img
          class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_19247_2x_35a52f03-6a80-490b-8c5b-4cf3477aa0f3.jpg?v=1721731777&width=400"
            alt=""
          >
          <span class="u17Light_v2">
            <i><b>Brice. </b>“Did I mention how lightweight the Carbon 1 Pro is?“</i>
          </span>
        </div>
        <div class="swiper-slide">
          <img
          class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/d_2x_b874acee-2fd3-4a71-af6d-726e10bf80eb.jpg?v=1721731783&width=400"
            alt=""
          >
          <span class="u17Light_v2">
            <i><b>Elnaz. </b>“Great day in Everglades“</i>
          </span>
        </div>
        <div class="swiper-slide">
          <img
          class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/424810598_10220326036215939_1573558836814671753_n_2x_777345e7-b5a8-430b-a050-814a8a720f82.jpg?v=1721731788&width=400"
            alt=""
          >
          <span class="u17Light_v2">
            <i><b>Chris. </b>“Outstanding performance. I love this bike.”</i>
          </span>
        </div>
        <div class="swiper-slide">
          <img
          class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_19246_2x_c403a2bb-853b-4ff8-af39-9e2f399b54a8.jpg?v=1721731794&width=400"
            alt=""
          >
          <span class="u17Light_v2">
            <i
              ><b>Matthew Ho. </b>“Can’t believe they have used a Toray Carbon fiber on this bike, this is worth the
              price.“</i
            >
          </span>
        </div>
        <div class="swiper-slide">
          <img
          class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/449698987_7732111710198519_5623758882367572858_n_2x_d33ecf39-6726-4369-ad2b-6bf651e6e469.jpg?v=1721731799&width=400"
            alt=""
          >
          <span class="u17Light_v2">
            <i
              ><b>Rolf Thomas. </b>“Big praise and keep up the good work to the Urtopia team …this makes e-biking even
              more fun 👏☀️😎“</i
            >
          </span>
        </div>
        <div class="swiper-slide">
          <img
          class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_19248_2x_fa7260e5-5c80-4b85-b835-b8240e81d096.jpg?v=1721731804&width=400"
            alt=""
          >
          <span class="u17Light_v2">
            <i
              ><b>Maria. </b>“This past weekend, I completed the STP 2024, a 206-mile ride from Seattle to Portland,
              riding my Urtopia Carbon 1 Pro.“</i
            >
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="never">
  <div class="centeral-content">
    <h2 class="u60Medium_v2">
      Smart <span style="color: #EB5A2D;">EVOLUTION,</span><br>
      Unleashing Intelligent Charm
    </h2>
    <div class="boxsxzczxc">
      <div>
        <img
          class="mobileHide lozad"
          data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20240628-092925_2x_0a1659dd-0ff1-4009-8aca-d9be62dd64c7.jpg?v=1721789383"
          alt="Urtopia Carbon 1 Pro Ebike - Sleek, Full Carbon, Lightweight, Smart"
        >
        <img
          class="pcHide lozad"
          data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20240628-092925_2x_e765192a-8d1a-4284-bbe4-17a4ca22e3ce.jpg?v=1721790403"
          alt=""
        >
        <h4 class="u30Medium_v2">Movement alarm</h4>
        <p class="u17Light_v2">
          <span> Once locked, the onboard alarm monitors movements and alerts you against unauthorized ones. </span>
        </p>
        <div class="flex-1"></div>
      </div>
      <div>
        <img
          class="mobileHide lozad"
          data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18878_2x_a35bafec-b477-41aa-b2a9-21ee56829db9.jpg?v=1721789377"
          alt="Urtopia Carbon 1 Pro Ebike - Sleek, Full Carbon, Lightweight, Smart"
        >
        <img
          class="pcHide lozad"
          data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_19273_2x_a0fe01d4-26cf-47b3-bf74-5f9dd38c2669.jpg?v=1721790465"
          alt=""
        >
        <h4 class="u30Medium_v2">GPS tracking and fence</h4>
        <p class="u17Light_v2">
          <span>
            Aided by a constant 4G connection, GPS tracking keeps you informed of the e-bike’s location, even in the
            worst scenario of theft.
          </span>
        </p>
        <div class="flex-1"></div>
      </div>
    </div>
  </div>
</div>

<div class="everything">
  <div class="centeral-content">
    <div class="boxqwewqeqs">
      <div>
        <h3 class="u30Medium_v2">Fingerprint unlock</h3>
        <p class="u17Light_v2">
          <span> No more hassle worrying about losing another key. </span>
        </p>
      </div>
      <div>
        <h3 class="u30Medium_v2">Navigation without cellphone</h3>
        <p class="u17Light_v2">
          <span> Bright screen shows navigation clearly under daylight, no more ugly phone holder. </span>
        </p>
      </div>
      <div>
        <h3 class="u30Medium_v2">Track your route</h3>
        <p class="u17Light_v2">
          <span>
            Smart App tracks your journey and health. Get on the bike and share your thrilling moments with your friends
            and family.
          </span>
        </p>
      </div>
      <div>
        <h3 class="u30Medium_v2">Bluetooth music</h3>
        <p class="u17Light_v2">
          <span>
            We know the importance of music, so we build in a bluetooth speaker, you can enjoy your favourite music when
            riding without carrying an external speaker.
          </span>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="app">
<div class="centeral-content">
   <div>
     <span class="u48Medium_v2">Your All in One <br>Health Coach</span>
     <span class="u17Light_v2">Your rides and daily activities offer personalized insights. Our AI companion tailors accurate recommendations exclusively for you—no more generic advice.</span>
   </div>
  <img class="lozad mobileHide" data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_1171275468_2x_c4e2a5ad-6173-4b69-91be-96007790d93d.png?v=1723798829"/>
  <img class="lozad pcHide" data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24503_2x_e97738c9-2a66-4ca5-a108-f75bac84bafa.jpg?v=1723799497"/>
</div>
</div>

{% render 'size-guide-and-specs-template', config: 'carbon1pro_order_page_config' %}

<div class="judmeeeeeeeee">
  <div class="centeral-content">
    {% include 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: false %}
  </div>
</div>

                  <svg class="toTop" xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56">
  <g id="Group_21049" data-name="Group 21049" transform="translate(-292 -12730.465)">
    <g id="Ellipse_266" data-name="Ellipse 266" transform="translate(292 12730.465)" fill="#fff" stroke="#707070" stroke-width="1">
      <circle cx="28" cy="28" r="28" stroke="none"/>
      <circle cx="28" cy="28" r="27.5" fill="none"/>
    </g>
    <g id="Group_21048" data-name="Group 21048">
      <g id="Group_20954" data-name="Group 20954" transform="translate(9662.645 24659.76)">
        <line id="Line_972" data-name="Line 972" x2="17.711" transform="translate(-9351.5 -11919.5)" fill="none" stroke="#707070" stroke-linecap="round" stroke-width="2"/>
        <line id="Line_973" data-name="Line 973" x2="6.291" y2="6.588" transform="translate(-9342.646 -11916.146)" fill="none" stroke="#707070" stroke-linecap="round" stroke-width="2"/>
        <line id="Line_974" data-name="Line 974" x1="7.128" y2="6.588" transform="translate(-9349.773 -11916.146)" fill="none" stroke="#707070" stroke-linecap="round" stroke-width="2"/>
        <path id="Path_64707" data-name="Path 64707" d="M-9327.5-11892.427v-15.217" transform="translate(-15.145 -7.664)" fill="none" stroke="#707070" stroke-linecap="round" stroke-width="2"/>
      </g>
      <text id="Top" transform="translate(320 12773.67)" fill="#717171" font-size="14" font-family="Urbane-Medium, Urbane" font-weight="500"><tspan x="-12.74" y="0">Top</tspan></text>
    </g>
  </g>
</svg>
	
<div class="top-fixed mobileHide">
  <div class="centeral-content">
    <span class="u20DemiBold_v2">{{ product.title }}</span>
    <span class="flex-1"></span>
    <div>
      <span class="u17Light_v2"><span class="u20DemiBold_v2 emphasize" style="font-weight: 600;">{{ product.price | money }}</span> {% unless product.compare_at_price == product.price %}
        <span style="text-decoration: line-through;">{{ product.compare_at_price | money }}</span>
    {% endunless %}</span>
      <span class="u14Light_v2">or as low as {{ product.price | divided_by: 24 | money_without_trailing_zeros }}/Month</span>
    </div>
    <a href="#product_form_{{ product.id }}" class="my-button my-button-origin">Order Now</a>
  </div>
</div>

<div class="bottom-fixed pcHide">
  <a href="#product_form_{{ product.id }}" class="my-button my-button-origin">Order Now</a>
  <div>
    <span class="u14Light_v2"><span class="emphasize" style="font-weight: 600;">{{ product.price | money }}</span> {% unless product.compare_at_price == product.price %}
      <span style="text-decoration: line-through;">{{ product.compare_at_price | money }}</span>
  {% endunless %}</span>
    <span class="u14Light_v2">or as low as {{ product.price | divided_by: 24 | money_without_trailing_zeros }}/Month</span>
  </div>
</div>

{% render 'product-options', config_name: 'carbon1pro_order_page_config', product: product %}

<script>
  // 默认隐藏
  $('.product .error-tip').hide();
  // 默认隐藏
  $('.bottom-fixed').hide();
  $('.top-fixed').hide();
  $('.toTop').hide();

  const leftSwiper = new Swiper('.product .left-swiper', {
    direction: 'vertical',
    spaceBetween: 15,
    slidesPerView: 9,
    watchSlidesProgress: true,
    // height: 360,
  });

  const rightSwiper = new Swiper('.product .right-swiper', {
    navigation: {
      nextEl: '.product .featured_image .swiper-button-next',
      prevEl: '.product .featured_image .swiper-button-prev',
    },
    spaceBetween: 10,
    pagination: { el: '.swiper-pagination' },
    thumbs: {
      swiper: leftSwiper,
    },
    roundLengths : true,
    on:{
        slideChange: function() {
            const index = this.activeIndex % global_config.carbon1pro_order_page_config.product_media_images.length;
            $('.product .medias').find('.u17DemiBold_v2').text(global_config.carbon1pro_order_page_config.product_media_images[index].text)
            $('.product .medias').find('img').attr('src', global_config.carbon1pro_order_page_config.product_media_images[index].img)

            if (global_config.carbon1pro_order_page_config.product_media_images[index + 1]) {
                (new Image()).src = global_config.carbon1pro_order_page_config.product_media_images[index + 1].img
            }

            if (global_config.carbon1pro_order_page_config.product_media_images[index + 2]) {
                (new Image()).src = global_config.carbon1pro_order_page_config.product_media_images[index + 2].img
            }            
        },
    },
  });

  document.addEventListener('onChangeSize', (e) => {
    $(`.product .product-panel .options > div[option="Size"] .u17DemiBold_v2 .u17Light_v2`).text(
      global_config.carbon_order_page_config.size_map[e.value]
    );
  });

  document.addEventListener('onChangeColor', (e) => {
    $(`.product .product-panel .options > div[option="Color"] .u17DemiBold_v2 .u17Light_v2`).text(e.value);

    let swiper_arr = [];
    swiper_arr = swiper_arr.concat(
      global_config.carbon1pro_order_page_config.product_images[e.value],
      global_config.carbon1pro_order_page_config.product_images['commonSwiper']
    );

    console.log(swiper_arr);
    rightSwiper.removeAllSlides()
    leftSwiper.removeAllSlides()

    for (let i = 0; i < swiper_arr.length; i++) {
      rightSwiper.appendSlide(`<div class="swiper-slide"><img alt="Urtopia Carbon 1 Pro" src="${swiper_arr[i]}"/></div>`)
      leftSwiper.appendSlide( `<img class="swiper-slide" alt="Urtopia Carbon 1 Pro" src="${swiper_arr[i]}"/>`)
    }
  });

  document.addEventListener('onChangeOptions', (e) => {
    $('.product .delivery_time').html(
      global_config.carbon1pro_order_page_config.ebike_delivery_time[e.value.id] ||
        global_config.carbon1pro_order_page_config.ebike_default_delivery_time
    );
  });

  $('.product .product-panel').on('submit', function (event) {
    // 阻止默认行为
    event.preventDefault();
    return false;
  });

  $('.product .dialogs > div').on('click', function (e) {
    const m = {
      0: 'one',
      1: 'two',
      2: 'three',
      3: 'four',
    };

    if ($(this).attr('onclick')) {
      return;
    }

    $('.product .dialogs > div').each((i, t) => {
      if ($(e.target).closest('.u17Medium_v2')[0] === t) {
        i = i > 1 ? 3 : i;

        setTimeout(() => {
          const layer = document.querySelector(`.order-modal-${m[i]}`);
          const laybox = document.querySelector(`.order-modal-layer-${m[i]}`);
          layer.style.display = 'flex';
          layer.style.zIndex = '99999';
          laybox.className += ' dialog-open';
        }, 100);
      }
    });
  });

  function changeAddToCartText(parse, step = 0) {
    if (step) {
      $('.addToCartBtn i').toggleClass('showi');
      document.querySelector('.addToCartBtn span').innerHTML = 'Adding...';
    } else {
      setTimeout(() => {
        $('.addToCartBtn i').toggleClass('showi');
        document.querySelector('.addToCartBtn span').innerHTML = 'Add to Cart';
      }, 800);
    }
  }

  let id = 0;
  let adding = false;
  let cart1 = document.querySelector('cart-notification') || document.querySelector('cart-drawer');

  function addAllToCart(parse, show = false) {
    // 如果 B test 需要显示 klarna checkout
    window.show_notification_checkout_button = show;
    const cartList = { items: [] };
    $('.product .error-tip').hide();

    if (adding == false) {
      !show && changeAddToCartText(parse, 1);
      adding = true;

      cartList.items.push({ id: current_variant_id, quantity: 1 });

      if (cart1) {
        var sections = cart1.getSectionsToRender().map((section) => section.id);
        cartList.sections = sections.join(',');
      }

      // 新增普通配件
      $('.product .accessories .items .active').each((i, item) => {
        cartList.items.push({
          id: $(item).attr('variant-id'),
          quantity: 1,
        });
      });

      fetch('/cart/add.js', {
        method: 'POST',
        body: JSON.stringify(cartList),
        headers: {
          'Content-Type': 'application/json',
        },
      })
        .then((res) => res.json())
        .then((res1) => {
          res1.key = '';

          cart1.classList.contains('is-empty') && cart1.classList.remove('is-empty');

          if (!(res1.message && res1.status)) {
            cart1.renderContents(res1);
          } else {
            $('.product .error-tip').show();
          }

          !show && changeAddToCartText(parse, 0);
        })
        .catch((err) => {
          !show && changeAddToCartText(parse, 0);
          // cartList.items.splice(-1, 1);
          console.log('err==', err);
          $('.product .error-tip').show();
        })
        .finally(() => {
          adding = false;
          !show && fetchBuried('websiteclick', `carbon1pro-order-page`, { button: 'ATC' });

          setTimeout(() => $('.product .error-tip').hide(), 10000);
        });
    }
  }

  function testRideTrace(type = '', target) {
    // 如果已经有按钮 loading ,直接退出来
    if (!type || $('.orderTestRideBtn').hasClass('loading')) {
      return;
    }

    const t = $(target);

    t.addClass('loading');
    // 原本的html 存起来
    const text = t.find('span').html();
    const loading = '<i class="fa fa-spinner fa-spin"></i>Processing...';

    // loading
    t.find('span').html(loading);

    fetchBuried('websiteclick', `carbon1pro-order-page`, { button: type }, true);
    window.sessionStorage.clicked_klarna_checkout_button = 'clicked_klarna_checkout_button';

    if (sessionStorage.carbon_one_a_b_test_flag === 'B') {
      setTimeout(() => {
        t.removeClass('loading');
        t.find('span').html(text);
      }, 2000);

      return addAllToCart('atc', true);
    }
  }

  $('.product .product-panel .accessories > div:not(.u17DemiBold_v2):not(.items)').on('click', (e) => {
    const items = $('.product .product-panel .accessories .items');

    items.animate(
      {
        scrollLeft:
          $('.product .product-panel .accessories .items').scrollLeft() + ($(e.target).hasClass('next') ? 160 : -160),
      },
      300
    );
  });

  $('.product .product-panel .accessories .items .item').on('click', (e) => {
    const item = $(e.target).closest('.item');
    const icon = item.find('.u11Light_v2');

    if (item.hasClass('active')) {
      item.removeClass('active');
      icon.html('<i class="fa-solid fa-plus"></i>');
    } else {
      item.addClass('active');
      icon.html('<i class="fa-solid fa-check"></i>');
    }
  });

  $('.toTop').on('click', (e) => {
    $('html').animate(
      {
        scrollTop: 0,
      },
      300
    );
  });

  let currnetScroolTop = 0;
  $(document).on(
    'scroll',
    throttle(
      (e) => {
        const top1 = $('.professional').offset().top;
        const top3 = $('.product .addToCartBtn').offset().top;
        const top2 = $(e.target).scrollTop();

        const h = window.screen.height;

        if (global_config.is_mobile) {
          if (top2 > top3) {
            $('.bottom-fixed').show();
          } else {
            $('.bottom-fixed').hide();
          }
        } else {
          if (top2 > top1) {
            $('.top-fixed').show();
          } else {
            $('.top-fixed').hide();
          }

          if (currnetScroolTop > top2) {
            $('.top-fixed').hide();
          }

          currnetScroolTop = top2;
        }

        top2 > h * 2 ? $('.toTop').show() : $('.toTop').hide();
      },
      300,
      100
    )
  );
</script>
<script>
    new Swiper('.users .sipwers', {
        loop: true, // 启用循环模式
        autoplay: {
          delay: 0, // 设置为0以便无停顿地切换
          disableOnInteraction: false,
          pauseOnMouseEnter: true,
        },
        speed: 6000, // 切换速度设置为和幻灯片显示时间一样，使其匀速播放
        slidesPerView: global_config.is_mobile ? 1.25 : 4, // 自动根据内容设置滑动宽度
        spaceBetween: global_config.is_mobile ? 16 : 32, // 幻灯片之间没有间距
      });


    new Swiper('.quality .centeral-content', {
        slidesPerView: global_config.is_mobile ? 1.25 : 3,
        spaceBetween: global_config.is_mobile ? 16 : 32,
        navigation: {
          nextEl: '.quality .centeral-content .swiper-button-next',
          prevEl: '.quality .centeral-content .swiper-button-prev',
        },
        scrollbar: {
          el: '.quality .centeral-content .swiper-scrollbar',
          draggable: true
        },
      });

      if (global_config.is_mobile) {
        new Swiper('.professional .centeral-content', {
          slidesPerView: 1.25,
          spaceBetween: 20,
          scrollbar: {
            el: '.professional .centeral-content .swiper-scrollbar',
          },
        });
      }
  


  $('.faq .items .item .u24Medium_v2').click(function () {
    $(this).siblings('.u17Light_v2').slideToggle().parent().siblings().find('.u17Light_v2').slideUp();

    if ($(this).parent().hasClass('active')) {
      $(this).parent().removeClass('active');
    } else {
      $(this).parent().addClass('active');
    }

    $(this).parent().siblings().removeClass('active');
  });
</script>

<script src="https://cdn.storepoint.co/api/v1/js/162f21804990ff.js"></script>

<script>
    const allvideo = document.querySelectorAll('.comfort video');
    const video = global_config.is_mobile ? allvideo[1] : allvideo[0];
    const observerwww = new IntersectionObserver((entries, observer) => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          video.currentTime = 0; // 重置播放位置
          video.play();
        } else {
          video.pause();
          video.currentTime = 0;
        }
      });
    });

    observerwww.observe(video);
  fetchBuried('website', `carbon1pro-order-page`, { button: type }, true);
</script>


          
