{{ 'fusion-new.scss.css' | asset_url | stylesheet_tag: preload: true }}
{% render 'product-panel', swiper_insert_index: 1 %}
<div class="professional">
  <div class="centeral-content">
    <h2 class="u36Medium_v2">Professional Review</h2>
    <div class="videos swiper-wrapper">
      <div class="swiper-slide" onclick="showVideoDialog('https://www.youtube.com/embed/3BZdV16CjiY?autoplay=1&cc_load_policy=1')">
        <img width="413" height="222" loading="lazy" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/hqdefault.avif?v=1737857664&width=400" alt="{{ product.title }}">
        <span class="u17Light_v2">The Lightest Dual Motor Ebike I've Tried - Urtopia Carbon Fusion GT Review</span>
        <span class="flex-1"></span>
        <div class="u17Medium_v2">
          <img width="28" height="28" loading="lazy" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/channels4_profile_4ab393ec-a320-4cd7-a5fe-1b3fb72b5a91.jpg?v=1737857581&width=28" alt="{{ product.title }}">
          <span>TailHappyTV</span>
        </div>
      </div>
      <div class="swiper-slide" onclick="showVideoDialog('https://www.youtube.com/embed/14WsEPH8TfQ?autoplay=1&cc_load_policy=1')">
        <img width="413" height="222" loading="lazy" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25085_2x_218ed915-d951-4836-9315-48dbb616abc5.jpg?v=1731058283&width=400" alt="{{ product.title }}">
        <span class="u17Light_v2">The throttle boost driven by dual motors provides an unprecedented power-maxing experience.</span>
        <span class="flex-1"></span>
        <div class="u17Medium_v2">
          <img width="28" height="28" loading="lazy" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/unnamed.jpg?v=1731058489&width=28" alt="{{ product.title }}">
          <span>KhanFlicks</span>
        </div>
      </div>
      <div class="swiper-slide" onclick="showVideoDialog('https://www.youtube.com/embed/OJgz3ZLb4F0?autoplay=1&cc_load_policy=1')">
        <img width="413" height="222" loading="lazy" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25087_2x_fade44e6-4e58-4091-a22f-db3af7c7b2e2.jpg?v=1731058272&width=400" alt="{{ product.title }}">
        <span class="u17Light_v2">It's the lightest step-through ebike of its size, I can just easily get on it, no big jump over.</span>
        <span class="flex-1"></span>
        <div class="u17Medium_v2">
          <img width="28" height="28" loading="lazy" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/channels4_profile_1.jpg?v=1731058489&width=28" alt="{{ product.title }}">
          <span>Area 13</span>
        </div>
      </div>
      <div class="swiper-slide" onclick="showVideoDialog('https://www.youtube.com/embed/8xWeb1IBfh4?autoplay=1&cc_load_policy=1')">
        <img width="413" height="222" loading="lazy" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25086_2x_5569c8ba-310d-4fc7-8f65-7daec6ac6a9f.jpg?v=1731058278&width=400" alt="{{ product.title }}">
        <span class="u17Light_v2">With powerful 1500W AWD assist, this full carbon beast will take you anywhere you want.</span>
        <span class="flex-1"></span>
        <div class="u17Medium_v2">
          <img width="28" height="28" loading="lazy" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/channels4_profile.jpg?v=1731058489&width=28" alt="{{ product.title }}">
          <span>Urtopia Reviews</span>
        </div>
      </div>
    </div>
    <div class="swiper-scrollbar"></div>
    <div class="buttons mobileHide">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</div>
<div class="background-image er-aspect-[1920/750] mb:er-aspect-auto">
<video class="lozad mb:!er-static" playsinline loop autoplay muted>
        <source data-src="https://cdn.shopify.com/videos/c/o/v/f9834cbdff9f40edacacb6e585bd2799.mp4" type="video/mp4" media="(min-width: 768px)">
        <source data-src="https://cdn.shopify.com/videos/c/o/v/7392088604cd47b5bd24b0e7f7c46f90.mp4" type="video/mp4" media="(max-width: 767px)">
  </video>
        <div
            class="er-max-w-screen-xl er-mx-auto er-px-12 er-grid er-grid-cols-2 er-items-center er-h-full mb:er-grid-cols-1 mb:er-h-auto er-gap-x-40 er-text-white mb:er-text-black">
            <span></span>
            <div class="er-flex er-flex-col er-items-start mb:er-pt-12 mb:er-pb-20">
                <h2 class="text-size48 mb:er-text-4xl mb:er-leading-tight er-m-0">Carbon Fiber Expert</h2>
                <p class="text-size18 er-max-w-3xl er-mt-8 er-mb-20 er-opacity-80 mb:er-my-10 mb:er-text-[16px]">
                    <span>
                      Lightweight, easy to ride, and sleek—Carbon Fusion GT embodies these qualities. With premium Carbon Fiber and Urtopia’s design, it continues the legacy chosen by hundreds of thousands of Urtopians.
                    </span>
                </p>
                <button
                    onclick="showVideoDialog('https://www.youtube.com/embed/Q4GQ7OUDK9A?autoplay=1&amp;cc_load_policy=1')"
                    class="er-button er-button-white mb:[--er-btn-bg-color:theme(colors.dark)] mb:[--er-btn-text-color:theme(colors.white)] mb:er-text-white">Watch
                    video
                    <svg class="er-scale-150 er-translate-x-1/3 er-fill-dark mb:er-fill-white"
                        xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20">
                        <path
                            d="m380-300 280-180-280-180v360ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z" />
                    </svg>
                </button>
            </div>
        </div>
    </div>

<div class="world background-image">
  {% render 'image', class: "mb:!er-object-contain mb:!er-object-top", src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24119_2x_ff5e9953-70d8-45c3-aec1-0ecc3c1afe45.jpg?v=1729321075", mb_src: "https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23721_2x_3e9f2e20-9fdb-4747-a4d2-27fa03a2b242.jpg?v=1704772099" %}
  <div class="centeral-content">
    <h2 class="u36Medium_v2">
      World’s First Dual-Motor, <br>
      Dual-Battery E-Bike
    </h2>
    <p class="u17Light_v2">
      <span>
        Extended range of 120 miles with a dual-drive 1500W peak motor. Fusion GT will give you a thrilling sensor of
        speed and power.
      </span>
    </p>
    <div>
      <div class="u17Medium_v2">
        <span class="pcHide">Up to</span>
        <span
          ><span class="mobileHide">Up to</span>
          <h3 class="u48Medium_v2">1500w</h3>
        </span>
        <span>Dual-Motor</span>
      </div>
      <div class="u17Medium_v2">
        <span class="pcHide">Up to</span>
        <span
          ><span class="mobileHide">Up to</span>
          <h3 class="u48Medium_v2">120 Miles</h3>
        </span>
        <span>Dual-Battery</span>
      </div>
    </div>
  </div>
</div>

<div class="ultimate">
  <div class="swiper-wrapper">
    <div class="swiper-slide a background-image er-aspect-[1920/750] mb:er-aspect-square">
      {% render 'image', src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20241023-114450.jpg?v=1729655166", mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2_2x_d577b007-2a27-4a4d-bab5-e3aaad6386e5.jpg?v=1729508081" %}
    </div>
    <div class="swiper-slide b background-image er-aspect-[1920/750] mb:er-aspect-square">
      {% render 'image', src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2_2x_942ebeae-a8b6-42d9-bc61-9912092c87f7.jpg?v=1729501355", mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2_2x_d577b007-2a27-4a4d-bab5-e3aaad6386e5.jpg?v=1729508081" %}
    </div>
    <div class="swiper-slide c background-image er-aspect-[1920/750] mb:er-aspect-square">
      {% render 'image', src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2_2x_eadf509c-1b3a-4996-89c2-db3224193d08.jpg?v=1729501361", mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2_2x_d577b007-2a27-4a4d-bab5-e3aaad6386e5.jpg?v=1729508081" %}
    </div>
  </div>
  <div>
    <h3 class="u36Medium_v2 mobileHide">Ultimate Machine Beast</h3>
    <p class="u17Light_v2 mobileHide">
      <span>
        Urtopia Fusion offers four dynamic drive modes catering to your every whim, empowering you to conquer any road
        challenge. Whether cruising through the city or braving a polar vortex, find your perfect mode and dominate
        every adventure.
      </span>
    </p>
    <span class="flex-1"></span>
    <div class="icons">
      <div>
        <img class="a mobileHide" width="123" height="90" loading="lazy" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19557.svg?v=1729504926" alt="{{ product.title }}">
        <img class="b mobileHide" width="123" height="90" loading="lazy" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19552.svg?v=1729504926" alt="{{ product.title }}">
        <span class="u14Medium_v2">Dual Drive Mode</span>
        <div></div>
        <span class="u14Medium_v2">Dual motor 700 W, more powerful and stable</span>
      </div>
      <div>
        <img class="a mobileHide" width="90" height="90" loading="lazy" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19558.svg?v=1729505344" alt="{{ product.title }}">
        <img class="b mobileHide" width="90" height="90" loading="lazy" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19558.svg?v=1729505344" alt="{{ product.title }}">
        <span class="u14Medium_v2">Rear Drive Mode</span>
        <div></div>
        <span class="u14Medium_v2">Single motor 350W, energy efficient & more range</span>
      </div>
      <div>
        <img class="a mobileHide" width="90" height="90" loading="lazy" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19045.svg?v=1729505268" alt="{{ product.title }}">
        <img class="b mobileHide" width="90" height="90" loading="lazy" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19555.svg?v=1729505268" alt="{{ product.title }}">
        <span class="u14Medium_v2">Throttle Mode</span>
        <div></div>
        <span class="u14Medium_v2">Full output up to 1500 W, powerful and speedy</span>
      </div>
    </div>
    <div class="swiper-pagination pcHide"></div>
  </div>
</div>

<div class="beast pcHide">
  <div class="centeral-content">
    <div></div>
    <div>
      <h3 class="u36Medium_v2">Ultimate Machine Beast</h3>
      <p class="u17Light_v2">
        <span>
          Urtopia Fusion offers four dynamic drive modes catering to your every whim, empowering you to conquer any road
          challenge. Whether cruising through the city or braving a polar vortex, find your perfect mode and dominate
          every adventure.
        </span>
      </p>
      <div class="icons">
        <div>
          <img
            class="pcHide"
            width="61"
            height="50"
            loading="lazy"
            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19559_2x_9b1d4787-b93e-4656-b13f-4a6f97eef4fc.png?v=1729333868"
            alt="{{ product.title }}"
          >
          <span class="u14Medium_v2" style="text-align: center;margin-top: 15px;">Dual Drive Mode</span>
          <div class="progress">
            <div></div>
          </div>
          <span class="u14Medium_v2">Dual motor 700 W, more powerful and stable</span>
        </div>
        <div>
          <img
            class="pcHide"
            width="50"
            height="50"
            loading="lazy"
            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19044_2x_cb2cddcb-bd29-4245-a39b-a94576332aea.png?v=1729333873"
            alt="{{ product.title }}"
          >
          <span class="u14Medium_v2" style="text-align: center;margin-top: 15px;">Rear Drive Mode</span>
          <div class="progress">
            <div></div>
          </div>
          <span class="u14Medium_v2">Single motor 350W, energy efficient & more range</span>
        </div>
        <div>
          <img
            class="pcHide"
            width="50"
            height="50"
            loading="lazy"
            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19045_2x_e970e97a-4110-43b4-bdd9-361cd33da888.png?v=1729333864"
            alt="{{ product.title }}"
          >
          <span class="u14Medium_v2" style="text-align: center;margin-top: 15px;">Throttle Mode</span>
          <div class="progress">
            <div></div>
          </div>
          <span class="u14Medium_v2">Full output up to 1500 W, powerful and speedy</span>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="module">
  global_config.fusion_order_page_config = {
      compare: {
        parameters: [
          ['', 'Fusion GT E-Bike', 'Other E-Bikes'],
          ['Frame Material', 'Carbon Fiber', 'Aluminum Alloy'],
          ['Motor', '1500W', '500W rear-hub motor'],
          ['Battery Option', '900Wh Dual-battery', '672Wh battery'],
          ['Charge Time', '3.5 Hrs', '5 Hrs'],
          ['Max Range', '120 Miles', '60 Miles'],
          ['Throttle', 'Yes, 20mph', 'Yes, 20mph'],
          ['Weight', '55 lbs', '77 lbs'],
          ['Anti-theft', 'GPS', 'X'],
          ['Luggage Rack', 'MIK, max. 60 lbs', 'Regular'],
          ['Max Load', '330 lbs', '300 lbs'],
        ],
        style: {
          image_0: '//newurtopia.com/cdn/shop/files/19566.png?v=1729236036&width=250',
          image_1:
            'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/cccc_2x_366a8576-c889-4210-8bbf-05fa1c327bf8.png?v=1731912593&width=250',
          background: 'linear-gradient(180deg, #6b97be, #151d38)',
          title:
            '<h2 class="u36Medium_v2 mobileHide">What makes Carbon Fusion GT <br class="pcHide">the best e-SUV?</h2>',
          image_pc:
            'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24890_2x_5ee70e3a-6ae6-4af8-b6f8-de3a0d065224.png?v=1729308382&width=1280',
          image_mb:
            'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24891_2x_2fdadff8-8384-4c6b-b678-4e604f8ff504.png?v=1729318520',
        },
      },
    }
</script>
{% render 'product-compare', config: 'fusion_order_page_config' %}
<div class="background-image er-aspect-[1920/750] mb:er-aspect-auto">
<video class="lozad mb:!er-static" playsinline loop autoplay muted>
        <source data-src="https://player.vimeo.com/progressive_redirect/playback/936203504/rendition/1080p/file.mp4?loc=external&signature=513c8a1f46d98c9185f87ac6b4e72d8b7225271c6e4d13b2ce23566eb5bae178" type="video/mp4" media="(min-width: 768px)">
        <source data-src="https://player.vimeo.com/progressive_redirect/playback/936203468/rendition/540p/file.mp4?loc=external&signature=249c0e5455becef0fbc372d7efae3c41c8e48b0f6475c48fa9e4c65b33f14ab5" type="video/mp4" media="(max-width: 767px)">
  </video>
        <div
            class="er-max-w-screen-xl er-mx-auto er-px-12 er-grid er-grid-cols-2 er-items-center er-h-full mb:er-grid-cols-1 mb:er-h-auto er-gap-x-40 er-text-white mb:er-text-black">
            <span></span>
            <div class="er-flex er-flex-col er-items-start mb:er-pt-12 mb:er-pb-20">
                <h2 class="text-size48 mb:er-text-4xl mb:er-leading-tight">Hartmut Esslinger</h2>
                <h3 class="text-size30 mb:er-text-3xl mb:er-leading-tight er-my-12 mb:er-my-0 mb:er-mt-6 er-text-[#ffc400]">Legendary Designer <br>For Apple & Sony</h3>
                <p class="text-size18 er-max-w-3xl er-mt-8 er-mb-20 er-opacity-80 mb:er-my-10 mb:er-text-[16px]">
                    <span>Designed by the legendary Hartmut Esslinger, the Fusion embodies his philosophy of blending form and emotion.
                      With safety, versatility, and user-friendliness all converge to elevate the riding experience, the Fusion sets
                      the tone for a new era of e-bike innovation.</span>
                </p>
                <button
                    onclick="showVideoDialog('https://www.youtube.com/embed/rpxbAbXzyHo?autoplay=1&cc_load_policy=1')"
                    class="er-button er-button-white mb:[--er-btn-bg-color:theme(colors.dark)] mb:[--er-btn-text-color:theme(colors.white)] mb:er-text-white">Watch
                    video
                    <svg class="er-scale-150 er-translate-x-1/3 er-fill-dark mb:er-fill-white"
                        xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20">
                        <path
                            d="m380-300 280-180-280-180v360ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
<div class="weight background-image">
  {% render 'image', class: "mb:!er-object-contain mb:!er-object-top", src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24892_2x_65ee2f6f-5830-4559-af90-a3f8a1801d00.jpg?v=1732000352", mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/23701_2x_86b0098c-17ef-466d-98db-9023043ea5df.jpg?v=1732000621" %}
  <div class="centeral-content">
    <h3 class="u48Medium_v2">
      More Carbon.<br>
      Less Weight.
    </h3>
    <p class="u17Light_v2">
      <span>
        The carbon fiber contributes to the unique curved design and smooth finish, offering lightweight yet sturdy
        construction. Resilient to impact and corrosion, the carbon frame ensures durability and long-lasting
        performance for all your riding needs.
      </span>
    </p>
    <ul class="u24Medium_v2">
      <li>Super Lightweight e-SUV</li>
      <li>Racecar-grade carbon fiber</li>
    </ul>
    <a class="my-button mobileHide" target="_blank" href="/pages/carbon-expert">Carbon Fiber Expert</a>
    <a class="my-button my-button-black pcHide" target="_blank" href="/pages/carbon-expert">Carbon Fiber Expert</a>
  </div>
</div>
<div class="weight embrace background-image">
  {% render 'image', class: "mb:!er-object-contain mb:!er-object-top", src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20240913-165708.jpg?v=1726217857", mb_src: "https://cdn.shopify.com/s/files/1/0633/2068/6808/files/2x_e6ea40ec-499b-4ae8-b103-fa026ddba650.jpg?v=1726135305" %}
  <div class="centeral-content">
    <h3 class="u48Medium_v2">
      Embrace Extended<br>
      Adventures
    </h3>
    <p class="u17Light_v2">
      <span>
        Confidently embark on long-distance journeys with Fusion’s extensive range up to 120 Miles (Dual Battery) and
        dependable hydraulic disc brakes for superior all-weather control during extended rides.
      </span>
    </p>
    <ul class="u24Medium_v2">
      <li>120 Miles all-day range</li>
      <li>Dual battery system (≈ 900 Wh)</li>
    </ul>
  </div>
</div>
<div class="weight effortless background-image">
  {% render 'image', class: "mb:!er-object-contain mb:!er-object-top", src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24893_2x_0def9823-3eb4-4b1f-b45b-074ea5cf9cf8.jpg?v=1732000105", mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/ROB02035_2x_bf779279-dd3a-4574-9fbb-14ac1c4e4db5.jpg?v=1732000341" %}
  <div class="centeral-content">
    <h3 class="u48Medium_v2">Smooth Riding Ever</h3>
    <p class="u17Light_v2">
      <span>
        With fat tires, you can conquer all terrains. The 60mm travel air suspension fork and TEKTRO hydraulic disc
        brakes with power cut-off ensures comfort on any terrain, providing a powerful and smooth adventure for your
        ride.
      </span>
    </p>
    <ul class="u24Medium_v2">
      <li>
        TEKTRO hydraulic disc brakes <br>
        with power cut-off
      </li>
      <li>Fat Tire</li>
    </ul>
  </div>
</div>
<div class="er-max-w-screen-xl er-mx-auto er-px-12 er-my-56 mb:er-mb-20 mb:er-mt-0 mb:er-pr-0">
      <h2 class="text-size48 mb:er-text-4xl mb:er-leading-tight er-m-0">Quality in details</h2>
      <div class="er-mt-10 quality_in_details er-relative er-overflow-x-hidden er-pb-40 mb:er-pb-16" style="--swiper-navigation-size: 27px; --swiper-navigation-color:#fff;">
          <div class="swiper-wrapper">
              {% for item in product.metafields.custom.quality_in_details.value %}
                  {%- assign text = item.text | split: "---" -%}
                  <div class="swiper-slide er-flex er-flex-col">
                      {{ item.image | image_url: width: 400 | image_tag: loading: 'lazy', class: "er-rounded-2xl" }}
                      <h3 class="text-size20 er-my-6 er-font-bold er-text-3xl">{{ text.first }}</h3>
                      <p class="text-size18 er-opacity-80 mb:er-text-[16px] er-max-w-2xl">
                          <span>{{ text.last }}</span>
                      </p>
                  </div>
                  
              {%- endfor -%}  
          </div>
          <div class="swiper-scrollbar er-bg-[#386FAF] er-bg-opacity-10 !er-w-full !er-left-0"></div>
          <div class="swiper-button-prev er-bottom-12 er-right-[60px] er-left-auto er-top-auto er-bg-dark er-rounded-full er-p-8 after:er-text-3xl mb:er-hidden er-z-2"></div>
          <div class="swiper-button-next er-bottom-12 er-right-0 er-left-auto er-top-auto er-bg-dark er-rounded-full er-p-8 after:er-text-3xl mb:er-hidden er-z-2"></div>
      </div>
  </div>
<div class="boxs">
  <div class="centeral-content">
    <img width="640" height="600" loading="lazy" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2x_ebbcac04-2020-44a7-9872-375d02330893.jpg?v=1729309742&width=800" alt="{{ product.title }}">
    <div>
      <h2 class="u30Medium_v2">Enjoy Easy <br>Entry Comfort</h2>
      <p class="u17Light_v2">
        <span>The deep step-through frame ensures easy access and a comfortable riding experience. With an adjustable stemand suspension fork, Fusion offers an upright riding position and smooth handling.</span>
      </p>
      <ul class="u24Medium_v2">
        <li>Low step-through</li>
        <li>Suspension fork (60 mm travel)</li>
      </ul>
    </div>
    <div>
      <h2 class="u30Medium_v2">Charge up anytime,<br>anywhere</h2>
      <p class="u17Light_v2">
        <span>The removable battery is cleverly concealed within the downtube of the bike, blending seamlessly with theframe color design. You can’t even tell its an ebike at first sight.</span>
      </p>
      <ul class="u24Medium_v2">
        <li>Large Capacity</li>
        <li>Seamlessly Integrated</li>
      </ul>
    </div>
    <img width="640" height="600" loading="lazy" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24595_2x_5d30a646-08c6-40d4-9937-84f9b69c2df7.jpg?v=1729309747&width=800" alt="{{ product.title }}">
  </div>
</div>

<div class="background-image er-aspect-[1920/750] mb:er-aspect-auto">
  <div class="mb:er-hidden" style="position: absolute;background-image: linear-gradient(270deg, #031631, #082650AC, #0D284E65, #152A4A00);transform: none;top: 0;bottom: 19.3%;left: 30%;right: 0;"></div>
  <video class="lozad mobileHide" playsinline loop autoplay muted>
    <source data-src="https://cdn.shopify.com/videos/c/o/v/7f0e35c969d947138421c84bdbcc6537.mp4" type="video/mp4" media="(min-width: 768px)">
  </video>
  <img loading="lazy" class="pcHide mb:!er-object-contain mb:!er-object-top mb:!er-static" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24885_2x_effb7263-9252-41ba-8adf-4ff499c06088.jpg?v=1729318935" alt="">
        <div
            class="er-max-w-screen-xl er-mx-auto er-px-12 er-grid er-grid-cols-2 er-items-center er-h-full mb:er-grid-cols-1 mb:er-h-auto er-gap-x-48 er-text-white mb:er-text-black er-relative">
            <span></span>
            <div class="er-flex er-flex-col er-items-start mb:er-pt-12 mb:er-pb-20">
                <h2 class="text-size48 mb:er-text-4xl mb:er-leading-tight er-m-0">Comfort or Cargo? <br>Customize Your Ride!</h2>
                <p class="text-size18 er-max-w-3xl er-mt-8 er-mb-20 er-opacity-80 mb:er-my-10 mb:er-text-[16px]">
                    <span>Adjustable handlebars and seat post ensure a comfortable riding position for both sport and leisure. Versatile
                      accessory mounting points maximize carrying capacity. Load up and ride into adventure!</span>
                </p>
            </div>
        </div>
    </div>

  <div class="background-image er-aspect-[1920/750] mb:er-aspect-auto mb:er-pt-[80vw]">
  {% render 'image', class: "mb:!er-object-contain mb:!er-object-top", src: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24845_2x_cbabef14-ce95-494e-aff1-7c6b8fda8a60.jpg?v=1729316683', mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/mott_2x_64c345b5-d5ce-42a5-a77e-3407af9062e7.jpg?v=1729319132" %}
      <div
          class="er-max-w-screen-xl er-mx-auto er-px-12 er-grid er-grid-cols-2 er-items-center er-h-full mb:er-grid-cols-1 mb:er-h-auto er-gap-x-40 er-text-white mb:er-text-black">
          <div class="er-flex er-flex-col er-items-start mb:er-pt-12 mb:er-pb-20">
              <h2 class="text-size48 mb:er-text-4xl mb:er-leading-tight er-m-0 er-text-white mb:er-text-black">Prioritize Power <br>or Range? <br>Customize anytime.</h2>
              <p class="text-size18 er-max-w-3xl er-mt-8 er-opacity-80 mb:er-mt-10 mb:er-text-[16px]">
                  <span>
                    Tune assist modes to prioritize powerful support for tackling tough hills or opt for energy-saving settings
          to extend your range on longer rides. Adapt your ride to suit any journey, ensuring you get the most out of
          every trip.
                  </span>
              </p>
          </div>
      </div>
  </div>  
<div class="weight embrace background-image">
  {% render 'image', class: "mb:!er-object-contain mb:!er-object-top", src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24894_2x_c3c60bfa-4ceb-4ea3-8747-56ec835367fd.jpg?v=1729316689", mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20241016-191937_2x_f4094f22-4389-4d6d-b281-d2213d0c560a.jpg?v=1729319126" %}
  <div class="centeral-content">
    <h3 class="u48Medium_v2">Safety First</h3>
    <p class="u17Light_v2">
      <span
        >Safety is at the core of Fusion, with reflective strips enhancing night visibility and projection lights
        doubling as turn indicators. Plus, our battery comes with UL 2271 certification for added security.</span
      >
    </p>
    <ul class="u24Medium_v2">
      <li>UL 2271 Certification</li>
      <li>Projection Light</li>
    </ul>
  </div>
</div>

<div class="boxs3" id="boxs3">
  <div class="centeral-content">
    <div class="background-image er-aspect-square">
      <img loading="lazy" width="640" height="640" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2024-10-16_14.18.56_2x_9ef7c231-83e3-4acf-9bc4-030911f4ea33.jpg?v=1729309891&width=640" alt="">
    </div>
    <div>
      <div>
        <div class="u30DemiBold_v2">It’s time to give it a spin!</div>
        <div class="u17Light_v2">Experience the bike in real</div>
        <a class="my-button my-button-white" href="/pages/test-ride" target="_blank">Book a Free Test Ride</a>
      </div>
    </div>
    <div>
      <div class="u30DemiBold_v2">Local care all the time</div>
      <div class="u17Light_v2" style="width: 100%;">
        <div>
          <img width="40" height="40" loading="lazy" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/shopping-mall_2x_44d99fcd-f0f4-443b-927e-b68e48af010f.png?v=1687259496" alt="1 service center, 150+ service partners">1 service center, 150+ service partners
        </div>
        <div>
          <img width="40" height="40" loading="lazy" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/24-hours_2x_d6a8eeb2-4564-4351-8cb9-096dbb778479.png?v=1687259501" alt="24hrs service response, App build-in portal">24hrs service response, App build-in portal
        </div>
        <div>
          <img width="40" height="40" loading="lazy" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/box_2x_2b3b7c15-f5ae-4305-956f-7543b63b2dda.png?v=1687259506" alt="Spare parts available locally, ships in 3 days."><span>Spare parts available locally, ships in 3 days.</span>
        </div>
        <div>
          <img width="40" height="40" loading="lazy" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/customer-satisfaction_2x_c7081e3a-1864-43b6-8ed2-f77895eafa6a.png?v=1687259512" alt="10+ technical experts, 99% satisfaction rate.">10+ technical experts, 99% satisfaction rate.
        </div>
      </div>
      <a class="my-button my-button-white" href="/pages/care" target="_blank">Learn more</a>
    </div>
    <div class="background-image er-aspect-square">
      <img loading="lazy" width="640" height="640" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/6T1A8524_2x_aaecef7e-48c0-4776-8947-fa295f1c24b5.jpg?v=1680163598&width=640" alt="">
    </div>
    <div class="background-image er-aspect-square">
      <img loading="lazy" width="640" height="640" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/ROB02787-Edit_2x_ea80d6aa-e4d6-4287-96ae-6e0b10197507.jpg?v=1731999655&width=640" alt="">
    </div>
    <div>
      <div class="u30Medium_v2">Urtopians worldwide</div>
      <div class="u17Light_v2">
        Over 200,000 Urtopians worldwide are passionate about green riding with Urtopia ebikes, and their total ride
        data is impressive, equivalent to planting a total of 131,300+ trees.
      </div>
      <div class="texts">
        <div>
          <span class="u14Light_v2">The Urtopians rode a total distance of</span>
          <span class="u30DemiBold_v2">432,000,000+ <span class="u20Medium_v2">km</span></span>
        </div>
        <div>
          <span class="u14Light_v2">The reduction in CO2 emissions amounted to</span>
          <span class="u30DemiBold_v2">530,000+ <span class="u20Medium_v2">kg</span></span>
        </div>
        <div>
          <span class="u14Light_v2">Urtopian’s joint effort is equivalent to planting</span>
          <span class="u30DemiBold_v2">131,500+ <span class="u20Medium_v2">trees</span></span>
        </div>
      </div>
      <a class="my-button my-button-white" target="_blank" href="/pages/sustainability-carbon-credit">Learn more</a>
    </div>
  </div>
</div>

<div class="joy">
  <div class="centeral-content">
    <h2 class="u60Medium_v2">The joy of cycling goes beyond.</h2>
    <div>
      <div class="background-image">
        {% render 'image', width: 1560, mb_src: "https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23925_2x_14b779b2-11d6-4cbc-97dd-c30b5f1bca4e.jpg?v=1713407900", src: "https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23920_2x_dc1660ec-5c58-4eb8-b04d-2c1e5a1aa589.jpg?v=1713403846" %}
        <h3 class="u36Medium_v2">Theft Protection</h3>
        <p class="u17Light_v2">
          <span>Receive alerts for unauthorized movement, easily locate where you parked, and track its movements with GPS tracking.</span>
        </p>
        <a style="margin-top: 2.5vh;" class="er-button er-button-white er-button-outline" href="/pages/pages-smartest-ebike">Urtopia's Technology</a>
      </div>
      <div class="background-image">
        {% render 'image', width: 1560, mb_src: "https://cdn.shopify.com/s/files/1/0633/2068/6808/files/a_a_a_2x_1f6f0200-d2f1-4c83-b4f7-a606e44b7671.jpg?v=1713407894", src: "https://cdn.shopify.com/s/files/1/0633/2068/6808/files/a_a_a_2x_b518ddc4-12dd-4f23-8fc9-89ca2bf06d2f.jpg?v=1713404522" %}
        <h3 class="u36Medium_v2">Navigation</h3>
        <p class="u17Light_v2">
          <span>
            Input your destination into the Urtopia App, and the smartbar will display clear navigation instructions
            accompanied by audio cues.
          </span>
        </p>
      </div>
      <div class="background-image">
        {% render 'image', width: 640, mb_src: "https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23924_2x_b621a966-90d2-49b2-a5c8-5bfac4e0fbfd.jpg?v=1713409466", src: "https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23922_2x_2c38bd78-1949-46c2-a39c-253e880807c2.jpg?v=1713405055" %}
        <h3 class="u36Medium_v2">Fitness and Watch Support</h3>
        <p class="u17Light_v2">
          <span>
            Sync your rides with Apple Health and Strava integration to track, analyze, and share your cycling
            activities for fitness progress and community engagement.
          </span>
        </p>
      </div>
      <div class="background-image">
        {% render 'image', width: 640, mb_src: "https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23923_2x_45893d64-0d2d-4040-be95-68b631f01cce.jpg?v=1713409461", src: "https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23921_2x_a9a15cb3-9440-4abb-81f8-878e7e5c2ef5.jpg?v=1713405046" %}
        <h3 class="u36Medium_v2">Dashboard</h3>
        <p class="u17Light_v2">
          <span>
            The multi-screen data display ensures simplicity and visual clarity, while also catering to observation for
            various data indicators.
          </span>
        </p>
      </div>
      <div class="background-image">
        {% render 'image', width: 1560, mb_src: "https://cdn.shopify.com/s/files/1/0633/2068/6808/files/1_2x_b2385932-780e-4966-aca0-b2af1f9f5dde.jpg?v=1713408688", src: "https://cdn.shopify.com/s/files/1/0633/2068/6808/files/1_2x_c58deb4e-c2e1-4203-b9bd-626def1802bf.jpg?v=1713404759" %}
        <h3 class="u36Medium_v2">Music</h3>
        <p class="u17Light_v2">
          <span>
            Sync your phone with the speaker, transforming your ride into a melodic journey with your favorite tunes.
          </span>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="app">
  <div class="centeral-content">
    <div>
      <span class="u48Medium_v2">Your All in One <br>Health Coach</span>
      <span class="u17Light_v2">Your rides and daily activities offer personalized insights. Our AI companion tailors accurate recommendations exclusively for you—no more generic advice.</span>
    </div>
    <img alt="{{ product.title }}" class="mobileHide" loading="lazy" width="1280" height="610" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_1171275468_2x_c4e2a5ad-6173-4b69-91be-96007790d93d.png?v=1723798829">
    <img alt="{{ product.title }}" class="pcHide" loading="lazy" width="750" height="670" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18987_2x_2d452730-e518-4f14-828a-2660285ef03f.png?v=1702285205">
  </div>
</div>

{% render 'size-guide-and-specs-template' %}
<script type="module">
  task(() => {
    new Swiper('.professional .centeral-content', {
      slidesPerView: global_config.is_mobile ? 1.25 : 3,
      spaceBetween: 20,
      preloadImages: false,
      navigation: {
      nextEl: '.professional .centeral-content .swiper-button-next',
      prevEl: '.professional .centeral-content .swiper-button-prev',
    },
      scrollbar: {
        el: '.professional .centeral-content .swiper-scrollbar',
        draggable: true,
      },
    });
  })

  task(() => {
        new Swiper('.quality_in_details', {
            slidesPerView: global_config.is_mobile ? 1.25 : 3,
            spaceBetween: global_config.is_mobile ? 16 : 32,
            preloadImages: false,
            navigation: {
                nextEl: '.quality_in_details .swiper-button-next',
                prevEl: '.quality_in_details .swiper-button-prev',
            },
            scrollbar: {
                el: '.quality_in_details .swiper-scrollbar',
                draggable: true
            },
        });
  })

  task(() => {
    window.ultimate_swiper = new Swiper('.ultimate', {
        autoplay: {
            disableOnInteraction: false,
            pauseOnMouseEnter: false,
            delay: 2000,
        },
        loop: true,
        preloadImages:false,
        effect: 'fade',
        fadeEffect: {
            crossFade: true
        },
        // grabCursor: true,
        allowTouchMove: global_config.is_mobile,
        speed: 0,
        on: {
            slideChange: function () {
                $(`.ultimate .icons > div:nth-child(${this.realIndex + 1})`).addClass('active').siblings().removeClass('active')
            },
        },
        pagination: { el: '.ultimate .swiper-pagination' },
    });


    const clears = []
    global_config.is_pc && $(`.ultimate .icons > div`).each((index, elem) => {
        $(elem).on('click', () => {
            for (const c of clears) {
                clearTimeout(c)
            }

            window.ultimate_swiper.slideToLoop(index)
            setTimeout(() => {
                window.ultimate_swiper.autoplay.stop()
            })

            clears.push(setTimeout(() => {
                window.ultimate_swiper.autoplay.start()
            }, 3000))
        })

    })
  })
</script>
<div class="centeral-content er-px-6 judgemeeeeee"></div>
