{{ 'fusion-new.scss.css' | asset_url | stylesheet_tag: preload: true }}
{% assign prelo = 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19560.jpg?v=1729305262' %}
<link rel="preload" as="image" href="{{ prelo }}">
<link rel="preload" as="image" href="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19561.jpg?v=1729305262">
<link rel="preload" as="image" href="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19562.jpg?v=1729305262">


<h1 class="visuallyhidden">{{ product.title }}</h1>
<div class="product" data-pf-type="ProductBox">
  <div class="centeral-content">
      <div class="commonComponent pcHide">
        <div class="u20DemiBold_v2">{{ product.title }}</div>
        <div data-pf-type="JudgeMe" class="sc-eZhRLC gtfCKx pf-25_ order-djs mb16">
          <div class="pf-judme">
            {% render 'judgeme_widgets', 
              widget_type: 'judgeme_preview_badge',
              jm_style: '',
              concierge_install: false,
              product: product
            %}
          </div>
        </div>
        <div
          class="product-price u24DemiBold_v2 mb12">
          {{ product.price |  money_without_trailing_zeros  }}
          <span class="u17Medium_v2" style="font-size: 15px;">{{ product.compare_at_price | money }}</span>
          <span class="u14Medium_v2" style="font-size: 13px;">-{{ product.compare_at_price |  minus: product.price |  money_without_trailing_zeros }}</span>
        </div>
        {% render "sale-v3", img: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20241202-112534.png?v=1733109979" %}
      </div>
    <div class="left-swiper mobileHide">
      <div class="swiper-wrapper">
        <img class="swiper-slide" alt="Urtopia Carbon 1 Pro" src="{{prelo}}"/>
      </div>
    </div>
    <span></span>
    <div class="featured_image mb16" style="--swiper-navigation-color: #000;--swiper-theme-color: #000;--swiper-pagination-color: #000;">
      <div class="right-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img alt="Urtopia Carbon 1 Pro" src="{{prelo}}"/></div>
        </div>
        <div class="arrow swiper-button-prev mobileHide"></div>
        <div class="arrow swiper-button-next mobileHide"></div>
      </div>
      <div class="medias">
         <i class="u17DemiBold_v2">Carbon Fiber Expert</i>
         <img src="https://newurtopia.com/cdn/shop/files/logo_0707__1.png?v=1684310857" alt="">
      </div>
      <div class="swiper-pagination pcHide"></div>
      <div class="free mobileHide">
        <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/black_2x_c713b84b-d0ae-470d-a40a-9d4776e3decf.png?v=1729241430" alt="">
        <span class="u14Medium_v2"><span style="color:#fd4b17;">Limited offer:</span> Fenders, kickstand, 1-year eSIM service</span>
        <span class="flex-1"></span>
        <del class="u14Light_v2">{{ 16700 |  money_without_trailing_zeros }}</del>
        <span class="u17Medium_v2">Free</span>
      </div>
      <div class="icons mobileHide">
        
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="45" height="45" viewBox="0 0 45 45">
  <defs>
    <clipPath>
      <rect id="矩形_25083" data-name="矩形 25083" width="45" height="45" fill="#fff" stroke="#707070" stroke-width="1"/>
    </clipPath>
  </defs>
  <g id="蒙版组_19081" data-name="蒙版组 19081" clip-path="url(#clip-path)">
    <g id="组_23889" data-name="组 23889" transform="translate(2.445 2.953)">
      <rect id="矩形_25064" data-name="矩形 25064" width="18.861" height="36.018" rx="2" transform="translate(0 1.83)" fill="#bfbfbf"/>
      <rect id="矩形_25065" data-name="矩形 25065" width="13.472" height="4.538" rx="1" transform="translate(2.696 28.716)" fill="#fff"/>
      <path id="矩形_25066" data-name="矩形 25066" d="M1.83,0h0a0,0,0,0,1,0,0V6.484a0,0,0,0,1,0,0h0A1.83,1.83,0,0,1,0,4.654V1.83A1.83,1.83,0,0,1,1.83,0Z" transform="translate(12.673) rotate(90)" fill="#bfbfbf"/>
      <rect id="矩形_25067" data-name="矩形 25067" width="18.861" height="36.018" rx="2" transform="translate(20.571 1.83)" fill="#bfbfbf"/>
      <rect id="矩形_25068" data-name="矩形 25068" width="13.472" height="4.538" rx="1" transform="translate(23.266 28.716)" fill="#fff"/>
      <path id="矩形_25069" data-name="矩形 25069" d="M1.83,0h0a0,0,0,0,1,0,0V6.484a0,0,0,0,1,0,0h0A1.83,1.83,0,0,1,0,4.654V1.83A1.83,1.83,0,0,1,1.83,0Z" transform="translate(33.244) rotate(90)" fill="#bfbfbf"/>
      <rect id="矩形_25070" data-name="矩形 25070" width="13.472" height="4.538" rx="1" transform="translate(2.696 21.285)" fill="#fff"/>
      <rect id="矩形_25071" data-name="矩形 25071" width="13.472" height="4.538" rx="1" transform="translate(23.266 21.285)" fill="#fff"/>
      <rect id="矩形_25072" data-name="矩形 25072" width="13.472" height="4.538" rx="1" transform="translate(2.696 13.854)" fill="#fff"/>
      <rect id="矩形_25073" data-name="矩形 25073" width="13.472" height="4.538" rx="1" transform="translate(23.266 13.854)" fill="#fff"/>
      <rect id="矩形_25074" data-name="矩形 25074" width="13.472" height="4.538" rx="1" transform="translate(2.696 6.424)" fill="#fff"/>
      <rect id="矩形_25075" data-name="矩形 25075" width="13.472" height="4.538" rx="1" transform="translate(23.266 6.424)" fill="#fff"/>
    </g>
  </g>
</svg>


          <div>
            <span class="u14Light_v2">Dual Battery System</span>
            <span class="u14Medium_v2">120 Miles</span>
          </div>
        </div>
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="45" height="45" viewBox="0 0 45 45">
  <defs>
    <clipPath>
      <rect id="Rectangle_25077" data-name="Rectangle 25077" width="45" height="45" transform="translate(427 824)" fill="#fff" stroke="#bfbfbf" stroke-width="1"/>
    </clipPath>
  </defs>
  <g id="Mask_Group_19076" data-name="Mask Group 19076" transform="translate(-427 -824)" clip-path="url(#clip-path)">
    <g id="Group_23890" data-name="Group 23890" transform="translate(0.184 -0.523)">
      <path id="Path_74558" data-name="Path 74558" d="M27.864,0A5,5,0,0,1,32.19,2.493l7.351,12.683a5,5,0,0,1,0,5.014L32.19,32.874a5,5,0,0,1-4.326,2.493H13.13A5,5,0,0,1,8.8,32.874L1.453,20.191a5,5,0,0,1,0-5.014L8.8,2.493A5,5,0,0,1,13.13,0Z" transform="translate(467.184 826.744) rotate(90)" fill="#bfbfbf"/>
      <path id="Path_74559" data-name="Path 74559" d="M21.126,0a5,5,0,0,1,4.317,2.477l5.076,8.683a5,5,0,0,1,0,5.046L25.443,24.89a5,5,0,0,1-4.317,2.477H10.867A5,5,0,0,1,6.551,24.89L1.475,16.207a5,5,0,0,1,0-5.046L6.551,2.477A5,5,0,0,1,10.867,0Z" transform="translate(463.299 831.423) rotate(90)" fill="#bfbfbf"/>
      <path id="Path_74549" data-name="Path 74549" d="M9.87.33c4.11,0,6.99-2.19,7.92-5.88l-2.88-.57a4.952,4.952,0,0,1-4.89,3.57c-3.12,0-5.28-2.46-5.28-6.03,0-3.6,2.16-6.06,5.28-6.06a4.782,4.782,0,0,1,4.95,3.6l2.88-.57c-1.08-3.9-3.66-5.88-7.98-5.88-4.95,0-8.49,3.72-8.49,8.91S4.92.33,9.87.33Z" transform="translate(440 856)" fill="#fff"/>
    </g>
  </g>
</svg>

          <div>
            <span class="u14Light_v2">Full Carbon Fiber</span>
            <span class="u14Medium_v2">Lightest eSUV</span>
          </div>
        </div>
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="45" height="45" viewBox="0 0 45 45">
  <defs>
    <clipPath>
      <rect id="矩形_26010" data-name="矩形 26010" width="45" height="45" transform="translate(627 823)" fill="#fff" stroke="#707070" stroke-width="1"/>
    </clipPath>
  </defs>
  <g id="蒙版组_19423" data-name="蒙版组 19423" transform="translate(-627 -823)" clip-path="url(#clip-path)">
    <g id="组_24652" data-name="组 24652" transform="translate(629.205 838.167)">
      <g id="矩形_26005" data-name="矩形 26005" transform="translate(13.533 3.947) rotate(45)" fill="#bfbfbf" stroke="#bfbfbf" stroke-width="1">
        <rect width="14.353" height="13.556" stroke="none"/>
        <rect x="0.5" y="0.5" width="13.353" height="12.556" fill="none"/>
      </g>
      <g id="矩形_26006" data-name="矩形 26006" transform="translate(5.639 1.691) rotate(45)" fill="#bfbfbf" stroke="#bfbfbf" stroke-width="1">
        <path d="M2,0h.392a0,0,0,0,1,0,0V5.582a0,0,0,0,1,0,0H2a2,2,0,0,1-2-2V2A2,2,0,0,1,2,0Z" stroke="none"/>
        <path d="M1.544.5h0a.348.348,0,0,1,.348.348V4.734a.348.348,0,0,1-.348.348h0A1.044,1.044,0,0,1,.5,4.038V1.544A1.044,1.044,0,0,1,1.544.5Z" fill="none"/>
      </g>
      <g id="矩形_26007" data-name="矩形 26007" transform="translate(21.991 25.937) rotate(-135)" fill="#bfbfbf" stroke="#bfbfbf" stroke-width="1">
        <path d="M2,0h.392a0,0,0,0,1,0,0V5.582a0,0,0,0,1,0,0H2a2,2,0,0,1-2-2V2A2,2,0,0,1,2,0Z" stroke="none"/>
        <path d="M1.544.5h0a.348.348,0,0,1,.348.348V4.734a.348.348,0,0,1-.348.348h0A1.044,1.044,0,0,1,.5,4.038V1.544A1.044,1.044,0,0,1,1.544.5Z" fill="none"/>
      </g>
      <line id="直线_2381" data-name="直线 2381" x2="2.392" transform="translate(2.961 2.96) rotate(45)" fill="none" stroke="#bfbfbf" stroke-linecap="round" stroke-width="1"/>
      <line id="直线_2382" data-name="直线 2382" x2="2.392" transform="translate(23.118 23.118) rotate(45)" fill="none" stroke="#bfbfbf" stroke-linecap="round" stroke-width="1"/>
      <g id="矩形_26008" data-name="矩形 26008" transform="translate(11.841 0) rotate(45)" fill="#bfbfbf" stroke="#bfbfbf" stroke-width="1">
        <rect width="6.379" height="16.746" rx="2" stroke="none"/>
        <rect x="0.5" y="0.5" width="5.379" height="15.746" rx="1.5" fill="none"/>
      </g>
      <g id="矩形_26009" data-name="矩形 26009" transform="translate(23.118 11.277) rotate(45)" fill="#bfbfbf" stroke="#bfbfbf" stroke-width="1">
        <rect width="6.379" height="16.746" rx="2" stroke="none"/>
        <rect x="0.5" y="0.5" width="5.379" height="15.746" rx="1.5" fill="none"/>
      </g>
    </g>
    <g id="组_24860" data-name="组 24860" transform="translate(643.019 824.352)">
      <g id="矩形_26005-2" data-name="矩形 26005" transform="translate(13.533 3.947) rotate(45)" fill="#bfbfbf" stroke="#bfbfbf" stroke-width="1">
        <rect width="14.353" height="13.556" stroke="none"/>
        <rect x="0.5" y="0.5" width="13.353" height="12.556" fill="none"/>
      </g>
      <g id="矩形_26006-2" data-name="矩形 26006" transform="translate(5.638 1.691) rotate(45)" fill="#bfbfbf" stroke="#bfbfbf" stroke-width="1">
        <path d="M2,0h.392a0,0,0,0,1,0,0V5.582a0,0,0,0,1,0,0H2a2,2,0,0,1-2-2V2A2,2,0,0,1,2,0Z" stroke="none"/>
        <path d="M1.544.5h0a.348.348,0,0,1,.348.348V4.734a.348.348,0,0,1-.348.348h0A1.044,1.044,0,0,1,.5,4.038V1.544A1.044,1.044,0,0,1,1.544.5Z" fill="none"/>
      </g>
      <g id="矩形_26007-2" data-name="矩形 26007" transform="translate(21.991 25.937) rotate(-135)" fill="#bfbfbf" stroke="#bfbfbf" stroke-width="1">
        <path d="M2,0h.392a0,0,0,0,1,0,0V5.582a0,0,0,0,1,0,0H2a2,2,0,0,1-2-2V2A2,2,0,0,1,2,0Z" stroke="none"/>
        <path d="M1.544.5h0a.348.348,0,0,1,.348.348V4.734a.348.348,0,0,1-.348.348h0A1.044,1.044,0,0,1,.5,4.038V1.544A1.044,1.044,0,0,1,1.544.5Z" fill="none"/>
      </g>
      <line id="直线_2381-2" data-name="直线 2381" x2="2.392" transform="translate(2.96 2.96) rotate(45)" fill="none" stroke="#bfbfbf" stroke-linecap="round" stroke-width="1"/>
      <line id="直线_2382-2" data-name="直线 2382" x2="2.392" transform="translate(23.118 23.118) rotate(45)" fill="none" stroke="#bfbfbf" stroke-linecap="round" stroke-width="1"/>
      <g id="矩形_26008-2" data-name="矩形 26008" transform="translate(11.841 0) rotate(45)" fill="#bfbfbf" stroke="#bfbfbf" stroke-width="1">
        <rect width="6.379" height="16.746" rx="2" stroke="none"/>
        <rect x="0.5" y="0.5" width="5.379" height="15.746" rx="1.5" fill="none"/>
      </g>
      <g id="矩形_26009-2" data-name="矩形 26009" transform="translate(23.118 11.277) rotate(45)" fill="#bfbfbf" stroke="#bfbfbf" stroke-width="1">
        <rect width="6.379" height="16.746" rx="2" stroke="none"/>
        <rect x="0.5" y="0.5" width="5.379" height="15.746" rx="1.5" fill="none"/>
      </g>
    </g>
  </g>
</svg>




          <div>
            <span class="u14Light_v2">AWD</span>
            <span class="u14Medium_v2">Dual motor system</span>
          </div>
        </div>
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="45" height="45" viewBox="0 0 45 45">
  <defs>
    <clipPath>
      <rect id="矩形_25078" data-name="矩形 25078" width="45" height="45" transform="translate(625 902)" fill="#fff" stroke="#707070" stroke-width="1"/>
    </clipPath>
  </defs>
  <g id="蒙版组_19078" data-name="蒙版组 19078" transform="translate(-625 -902)" clip-path="url(#clip-path)">
    <g id="组_23887" data-name="组 23887" transform="translate(2.695)">
      <g id="组_23883" data-name="组 23883" transform="translate(618.081 922.388) rotate(-45)">
        <path id="Path_74536" data-name="Path 74536" d="M17.4,4.351A13.052,13.052,0,1,0,30.456,17.4,13.067,13.067,0,0,0,17.4,4.351M17.4,0A17.4,17.4,0,1,1,0,17.4,17.4,17.4,0,0,1,17.4,0Z" transform="translate(0 0)" fill="#bfbfbf"/>
        <path id="路径_74540" data-name="路径 74540" d="M5.8,0A5.8,5.8,0,1,1,0,5.8,5.8,5.8,0,0,1,5.8,0Z" transform="translate(11.602 11.602)" fill="#bfbfbf"/>
        <path id="路径_74537" data-name="路径 74537" d="M0,0H3.481V31.906H0Z" transform="translate(15.663 1.45)" fill="#bfbfbf"/>
        <path id="路径_74541" data-name="路径 74541" d="M0,0H3.481V31.906H0Z" transform="translate(1.45 19.144) rotate(-90)" fill="#bfbfbf"/>
        <path id="路径_74542" data-name="路径 74542" d="M0,0H2.9V2.9H0Z" transform="translate(4.351 16.802) rotate(45)" fill="#bfbfbf"/>
        <path id="路径_74543" data-name="路径 74543" d="M0,0H2.9V2.9H0Z" transform="translate(4.351 13.902) rotate(45)" fill="#bfbfbf"/>
        <path id="路径_74546" data-name="路径 74546" d="M0,0H2.9V2.9H0Z" transform="translate(18.004 4.351) rotate(135)" fill="#bfbfbf"/>
        <path id="路径_74547" data-name="路径 74547" d="M0,0H2.9V2.9H0Z" transform="translate(20.904 4.351) rotate(135)" fill="#bfbfbf"/>
        <path id="路径_74538" data-name="路径 74538" d="M0,0H2.9V2.9H0Z" transform="translate(18.004 30.456) rotate(135)" fill="#bfbfbf"/>
        <path id="路径_74539" data-name="路径 74539" d="M0,0H2.9V2.9H0Z" transform="translate(20.904 30.456) rotate(135)" fill="#bfbfbf"/>
        <path id="路径_74544" data-name="路径 74544" d="M0,0H2.9V2.9H0Z" transform="translate(31.305 18.004) rotate(-135)" fill="#bfbfbf"/>
        <path id="路径_74545" data-name="路径 74545" d="M0,0H2.9V2.9H0Z" transform="translate(31.305 20.904) rotate(-135)" fill="#bfbfbf"/>
      </g>
      <g id="组_23885" data-name="组 23885" transform="translate(636.539 922.388) rotate(-45)">
        <path id="Ellipse_619" data-name="Ellipse 619" d="M4.351,2.175A2.175,2.175,0,1,0,6.526,4.351,2.178,2.178,0,0,0,4.351,2.175M4.351,0A4.351,4.351,0,1,1,0,4.351,4.351,4.351,0,0,1,4.351,0Z" fill="#bfbfbf"/>
        <path id="路径_74535" data-name="路径 74535" d="M4.351,3.14C6.754,3.14,8.7-1.738,8.7.665V25.32a4.351,4.351,0,1,1-8.7,0V.665C0-1.737,1.948,3.14,4.351,3.14Z" transform="translate(0 3.685)" fill="#bfbfbf"/>
        <path id="Path_74535_-_Outline" data-name="Path 74535 - Outline" d="M7.251,3.293a4.407,4.407,0,0,1-2.9,1.3,4.407,4.407,0,0,1-2.9-1.3V25.32a2.9,2.9,0,0,0,5.8,0V3.293M.217,0C.788,0,2.423,3.14,4.351,3.14,6.754,3.14,8.7-1.738,8.7.665V25.32a4.351,4.351,0,0,1-8.7,0V.665C0,.191.076,0,.217,0Z" transform="translate(0 3.685)" fill="#bfbfbf"/>
      </g>
    </g>
  </g>
</svg>

          
          <div>
            <span class="u14Light_v2">Throttle</span>
            <span class="u14Medium_v2">1500W Power</span>
          </div>
        </div>
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="45" height="45" viewBox="0 0 45 45">
          <defs>
            <clipPath>
              <rect id="矩形_25080" data-name="矩形 25080" width="45" height="45" transform="translate(0 0)" fill="#fff" stroke="#707070" stroke-width="1"/>
            </clipPath>
          </defs>
          <g id="蒙版组_19080" data-name="蒙版组 19080" clip-path="url(#clip-path)">
            <g id="组_23886" data-name="组 23886" transform="translate(5.886 1.765)">
              <path id="GPS显示_3_" data-name="GPS显示 (3)" d="M205.566,100.016c.186.444,1.283,2.336,2.723,4.758.86,1.447,1.834,3.074,2.816,4.708s1.97,3.26,2.837,4.686c.989,1.627,1.82,3,2.329,3.826a.611.611,0,0,0,1.046,0c.509-.824,1.34-2.2,2.329-3.826.867-1.426,1.849-3.06,2.837-4.686s1.956-3.26,2.816-4.708c1.44-2.422,2.537-4.314,2.723-4.758a12.181,12.181,0,1,0-22.456,0Zm11.228,2a6.807,6.807,0,1,1,6.807-6.807A6.807,6.807,0,0,1,216.794,102.015Z" transform="translate(-200.636 -83.027)" fill="#bfbfbf"/>
              <path id="GPS显示_3_2" data-name="GPS显示 (3)" d="M211.141,115.462l-.143.018a31.383,31.383,0,0,0-5.072,1.035,12.489,12.489,0,0,0-3.616,1.634,3,3,0,0,0,0,5.375,12.469,12.469,0,0,0,3.616,1.635A31.319,31.319,0,0,0,211,126.2a50.343,50.343,0,0,0,12.263,0,31.4,31.4,0,0,0,5.072-1.035,12.481,12.481,0,0,0,3.616-1.634,3,3,0,0,0,0-5.375,12.469,12.469,0,0,0-3.616-1.635,31.305,31.305,0,0,0-5.072-1.035q-.406-.052-.813-.1c-.419.7-.829,1.381-1.227,2.04q.9.077,1.767.188a29.253,29.253,0,0,1,4.722.96A10.458,10.458,0,0,1,230.7,119.9a2.544,2.544,0,0,1,.633.6.5.5,0,0,1,0,.672,2.551,2.551,0,0,1-.633.6,10.4,10.4,0,0,1-2.988,1.326,29.214,29.214,0,0,1-4.723.961,48.185,48.185,0,0,1-11.718,0,29.255,29.255,0,0,1-4.722-.96,10.458,10.458,0,0,1-2.988-1.326,2.544,2.544,0,0,1-.633-.6.5.5,0,0,1,0-.672,2.521,2.521,0,0,1,.632-.6,10.418,10.418,0,0,1,2.988-1.326,29.213,29.213,0,0,1,4.723-.961q.544-.07,1.089-.125C211.963,116.834,211.556,116.155,211.141,115.462Z" transform="translate(-200.649 -84.583)" fill="#bfbfbf"/>
            </g>
          </g>
        </svg>
        

          
          <div>
            <span class="u14Light_v2">Anti-theft</span>
            <span class="u14Medium_v2">GPS Tracking</span>
          </div>
        </div>
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="45" height="45" viewBox="0 0 45 45">
  <defs>
    <clipPath>
      <rect id="矩形_25078" data-name="矩形 25078" width="45" height="45" transform="translate(625 902)" fill="#fff" stroke="#707070" stroke-width="1"/>
    </clipPath>
  </defs>
  <g id="蒙版组_19078" data-name="蒙版组 19078" transform="translate(-625 -902)" clip-path="url(#clip-path)">
    <g id="组_23887" data-name="组 23887" transform="translate(2.695)">
      <g id="组_23883" data-name="组 23883" transform="translate(618.081 922.388) rotate(-45)">
        <path id="Path_74536" data-name="Path 74536" d="M17.4,4.351A13.052,13.052,0,1,0,30.456,17.4,13.067,13.067,0,0,0,17.4,4.351M17.4,0A17.4,17.4,0,1,1,0,17.4,17.4,17.4,0,0,1,17.4,0Z" transform="translate(0 0)" fill="#bfbfbf"/>
        <path id="路径_74540" data-name="路径 74540" d="M5.8,0A5.8,5.8,0,1,1,0,5.8,5.8,5.8,0,0,1,5.8,0Z" transform="translate(11.602 11.602)" fill="#bfbfbf"/>
        <path id="路径_74537" data-name="路径 74537" d="M0,0H3.481V31.906H0Z" transform="translate(15.663 1.45)" fill="#bfbfbf"/>
        <path id="路径_74541" data-name="路径 74541" d="M0,0H3.481V31.906H0Z" transform="translate(1.45 19.144) rotate(-90)" fill="#bfbfbf"/>
        <path id="路径_74542" data-name="路径 74542" d="M0,0H2.9V2.9H0Z" transform="translate(4.351 16.802) rotate(45)" fill="#bfbfbf"/>
        <path id="路径_74543" data-name="路径 74543" d="M0,0H2.9V2.9H0Z" transform="translate(4.351 13.902) rotate(45)" fill="#bfbfbf"/>
        <path id="路径_74546" data-name="路径 74546" d="M0,0H2.9V2.9H0Z" transform="translate(18.004 4.351) rotate(135)" fill="#bfbfbf"/>
        <path id="路径_74547" data-name="路径 74547" d="M0,0H2.9V2.9H0Z" transform="translate(20.904 4.351) rotate(135)" fill="#bfbfbf"/>
        <path id="路径_74538" data-name="路径 74538" d="M0,0H2.9V2.9H0Z" transform="translate(18.004 30.456) rotate(135)" fill="#bfbfbf"/>
        <path id="路径_74539" data-name="路径 74539" d="M0,0H2.9V2.9H0Z" transform="translate(20.904 30.456) rotate(135)" fill="#bfbfbf"/>
        <path id="路径_74544" data-name="路径 74544" d="M0,0H2.9V2.9H0Z" transform="translate(31.305 18.004) rotate(-135)" fill="#bfbfbf"/>
        <path id="路径_74545" data-name="路径 74545" d="M0,0H2.9V2.9H0Z" transform="translate(31.305 20.904) rotate(-135)" fill="#bfbfbf"/>
      </g>
      <g id="组_23885" data-name="组 23885" transform="translate(636.539 922.388) rotate(-45)">
        <path id="Ellipse_619" data-name="Ellipse 619" d="M4.351,2.175A2.175,2.175,0,1,0,6.526,4.351,2.178,2.178,0,0,0,4.351,2.175M4.351,0A4.351,4.351,0,1,1,0,4.351,4.351,4.351,0,0,1,4.351,0Z" fill="#bfbfbf"/>
        <path id="路径_74535" data-name="路径 74535" d="M4.351,3.14C6.754,3.14,8.7-1.738,8.7.665V25.32a4.351,4.351,0,1,1-8.7,0V.665C0-1.737,1.948,3.14,4.351,3.14Z" transform="translate(0 3.685)" fill="#bfbfbf"/>
        <path id="Path_74535_-_Outline" data-name="Path 74535 - Outline" d="M7.251,3.293a4.407,4.407,0,0,1-2.9,1.3,4.407,4.407,0,0,1-2.9-1.3V25.32a2.9,2.9,0,0,0,5.8,0V3.293M.217,0C.788,0,2.423,3.14,4.351,3.14,6.754,3.14,8.7-1.738,8.7.665V25.32a4.351,4.351,0,0,1-8.7,0V.665C0,.191.076,0,.217,0Z" transform="translate(0 3.685)" fill="#bfbfbf"/>
      </g>
    </g>
  </g>
</svg>
        

          <div>
            <span class="u14Light_v2">Torque Sensor</span>
            <span class="u14Medium_v2">0 Response Latency</span>
          </div>
        </div>
      </div>
    </div>
    <span></span>
    <form
      method="post"
      accept-charset="UTF-8"
      action="/cart/add"
      class="product-panel pf-product-form"
      data-productid="{{ product.id }}"
      id="product_form_{{ product.id }}"
      enctype="multipart/form-data"
    >
      <input
        type="hidden"
        name="id"
        data-product-id="{{product.id}}"
        value="{{ product.selected_or_first_available_variant.id }}"
      >
      <input type="hidden" name="form_type" value="product">
      <input type="hidden" name="utf8" value="✓">
      <div class="commonComponent mobileHide" id="sale_acc">
        <div class="u24DemiBold_v2">{{ product.title }}</div>
        <div class="mb16">
          {% render 'judgeme_widgets',
            widget_type: 'judgeme_preview_badge',
            jm_style: '',
            concierge_install: false,
            product: product
          %}
        </div>

        <div class="product-price u30DemiBold_v2 mb16">
          {{ product.price |  money  }}
          <span class="u17Medium_v2">{{ product.compare_at_price | money }}</span>
          <span class="u14Medium_v2">-{{ product.compare_at_price |  minus: product.price |  money_without_trailing_zeros }}</span>
        </div>
        {% render "sale-v3", img: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20241202-112534.png?v=1733109979" %}
      </div>
      <div class="options">
        {% for option in product.options_with_values %}
          <div class="option mb24" option="{{option.name}}" position="{{ option.position }}">
            <div class="u17DemiBold_v2 mb16">{{ option.name }} - <span class="u17Light_v2"></span></div>
            <div class="{{ option.name }}">
              {% for value in option.values %}
                {% case option.name %}
                  {% when 'Model' %}
                    <div attribute="{{ value }}" class="{{ value }}">
                      {% assign values = value | split: ' · ' %}
                      {% for value in values %}
                        <span>{{ value }}</span>
                      {% endfor %}
                    </div>
                  {% when 'Style' %}
                    <div attribute="{{ value }}" class="{{ value }}"><span class="tooltip">{{ value }}</span></div>
                  {% else %}
                    <div attribute="{{ value }}" class="{{ value }}">{{ value }}</div>
                {% endcase %}
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="accessories mb12">
        <div class="u17DemiBold_v2 mb12">Accessories</div>
        <div class="prev"></div>
        <div class="next"></div>
        <div class="items mb12">
          {% for prod in collections['accessories_in_fusion_product_page'].products %}
            {% if prod.available %}
              {% assign variant = prod.variants | first %}
              <div class="item" variant-id="{{ variant.id }}">
                <div class="u11Medium_v2">{{ prod.title }}</div>
                <div>
                  <div>
                    <span class="u17DemiBold_v2">{{ prod.price | money }}</span>
                    <span class="u11Light_v2">
                      <i class="fa-solid fa-plus"></i>
                    </span>
                  </div>
                  {{ prod.featured_image | image_url: width: 150 | image_tag: loading: 'lazy' }}
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="free pcHide">
        <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/black_2x_c713b84b-d0ae-470d-a40a-9d4776e3decf.png?v=1729241430" alt=""/>
        <div>
          <div>
            <span class="u14Medium_v2">Free</span>
            <del class="u11Light_v2">{{ 16700 | money }}</del>
          </div>
          <span class="u11Medium_v2">Fenders, kickstand, 1-year eSIM service</span>
        </div>
      </div>
      <div class="error-tip u14Medium_v2 mb12" style="color:red;">Your order quantity has reached our stock limit</div>
      <div class="buttons mb24">
        <div
          data-product-id="{{ product.id }}"
          class="my-button my-button-origin addToCartBtn mb12"
          onclick="addAllToCart('atc')"
          id="addToCart"
        >
          <i class="fa fa-spinner fa-spin"></i
          ><span data-pf-type="Text" class="addToCartText u17DemiBold_v2">Add to Cart</span>
        </div>
        <div onclick="testRideTrace('klarna_check_out', this)" class="orderTestRideBtn mb12">
          <img
            class="twoooo"
            src="https://cdn.shopifycdn.net/s/files/1/0633/2068/6808/files/20230530-121400.png?v=1685420054"
          >
          <span><span class="u14DemiBold_v2">0 APR Financing</span
            ><span class="u14Medium_v2"
              >24 months,
              <span class="stages">{{ product.price | divided_by: 24 | money_without_trailing_zeros }}</span
              >/month</span
            ></span
          >
        </div>
      </div>
      <div class="contact mb12">
        <span class="delivery_time u14Medium_v2">Free shipping within 5 business days</span><br>
        <span class="u14Light_v2">
            Need help? Email
            <a href="mailto:support@newurtopia.com" class="my-link">support@newurtopia.com</a>
Call
<a href="tel:(844) 936-2868" class="my-link">(844) 936-2868</a>
        </span>
      </div>
      <div class="dialogs mb24">
        <div class="u17Medium_v2" onclick="showSizesAndSpecs('SizesDialog')">
          <span>Size & Fit</span>
          <span>&gt;</span>
        </div>
        <div class="u17Medium_v2" onclick="showSizesAndSpecs('SpecsDialog')">
          <span>Technical Specs</span>
          <span>&gt;</span>
        </div>
        <!--
          <div class="u17Medium_v2">
            	<span>Support & Service</span>
            	<span>&gt;</span>
            </div>

          <div class="u17Medium_v2">
            <span>Pre-order FAQs</span>
            <span>&gt;</span>
          </div>
        -->
      </div>
      <div class="support">
        <a href="#boxs3">
          <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" height="30" width="30">
  <defs>
    <clipPath >
      <rect stroke-width="1.5" stroke="#000" fill="#fff" transform="translate(7402.879 1203.146)" height="30" width="30" data-name="Rectangle 25526" id="Rectangle_25526"/>
    </clipPath>
  </defs>
  <g clip-path="url(#clip-path)" transform="translate(-7402.879 -1203.146)" data-name="Mask Group 19265" id="Mask_Group_19265">
    <path stroke-width="1.5" stroke="#000" fill="none" transform="translate(7204.457 1122.369)" d="M205.3,95.313c.135.321.928,1.689,1.969,3.441.622,1.047,1.327,2.223,2.036,3.4s1.425,2.358,2.052,3.389c.715,1.176,1.316,2.171,1.684,2.767a.442.442,0,0,0,.757,0c.368-.6.969-1.591,1.684-2.767.627-1.031,1.337-2.213,2.052-3.389s1.415-2.358,2.036-3.4c1.042-1.751,1.834-3.119,1.969-3.441a8.809,8.809,0,1,0-16.24,0Zm8.12,1.446a4.923,4.923,0,1,1,4.923-4.923A4.923,4.923,0,0,1,213.422,96.759Z" data-name="GPS显示 (3)" id="GPS显示_3_"/>
  </g>
</svg>
          <span class="u11Medium_v2"
            >150+<br>
            Bike Shops</span
          >
        </a>
        <a href="/pages/shipping-and-return" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30" viewBox="0 0 30 30">
  <defs>
    <clipPath >
      <rect id="Rectangle_25525" data-name="Rectangle 25525" width="30" height="30" transform="translate(0)" fill="#fff" stroke="#000" stroke-width="1.5"/>
    </clipPath>
  </defs>
  <g id="Mask_Group_19264" data-name="Mask Group 19264" clip-path="url(#clip-path)">
    <g id="_图层_1-2" transform="translate(0.973 5.885)">
      <g id="Group_24427" data-name="Group 24427" transform="translate(0 0)">
        <g id="Group_24426" data-name="Group 24426" transform="translate(0 1.219)">
          <path id="Path_76265" data-name="Path 76265" d="M5.456,6.02,2,9.476l3.5,3.5" transform="translate(-2 -6.02)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
          <line id="Line_2160" data-name="Line 2160" x2="18.501" transform="translate(0.803 3.401)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
          <path id="Path_76266" data-name="Path 76266" d="M68.144,29.26A3.641,3.641,0,0,1,64.5,32.9" transform="translate(-45.554 -22.215)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
          <path id="Path_76267" data-name="Path 76267" d="M68.144,20.884A3.641,3.641,0,0,0,64.5,17.24" transform="translate(-45.554 -13.839)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="1.5"/>
          <line id="Line_2161" data-name="Line 2161" x2="6.436" transform="translate(12.332 10.698)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
        </g>
        <path id="Path_76268" data-name="Path 76268" d="M45.491,8.7V22.741c0,1.191-.658,2.158-1.473,2.158H28.473c-.812,0-1.473-.967-1.473-2.158V17.661" transform="translate(-19.422 -6.669)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
        <path id="Path_76269" data-name="Path 76269" d="M47.651,2.03H33" transform="translate(-23.603 -2.021)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
        <path id="Path_76270" data-name="Path 76270" d="M83.016,4.146A2.146,2.146,0,0,0,80.87,2" transform="translate(-56.961 -2)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="1.5"/>
      </g>
    </g>
  </g>
</svg>

          <span class="u11Medium_v2"
            >14-Day<br>Trial</span
          >
        </a>
        <a href="/pages/warranty" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30" viewBox="0 0 30 30">
  <defs>
    <clipPath>
      <rect id="Rectangle_25524" data-name="Rectangle 25524" width="30" height="30" transform="translate(0)" fill="#fff" stroke="#000" stroke-width="1.5"/>
    </clipPath>
  </defs>
  <g id="Mask_Group_19263" data-name="Mask Group 19263" clip-path="url(#clip-path)">
    <g id="_图层_1-2" transform="translate(5.107 3.152)">
      <g id="Group_24425" data-name="Group 24425" transform="translate(0 0)">
        <path id="Path_76261" data-name="Path 76261" d="M5.745,12.15A31.986,31.986,0,0,1,2,13.862C3.059,24.45,6.235,27.979,11.882,32.214" transform="translate(-2 -8.568)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
        <path id="Path_76262" data-name="Path 76262" d="M23.613,2s-1.5.971-3.483,2.118" transform="translate(-13.731 -2)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
        <path id="Path_76263" data-name="Path 76263" d="M30.06,2.14a65.948,65.948,0,0,0,9.882,5.294c-1.059,10.588-4.235,14.117-9.882,18.353" transform="translate(-20.157 -2.091)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
        <path id="Path_76264" data-name="Path 76264" d="M21.6,29.9l2.629,2.629,5.082-5.082" transform="translate(-14.682 -18.468)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
      </g>
    </g>
  </g>
</svg>
          <span class="u11Medium_v2"
            >2-Year<br>
            Warranty</span
          >
        </a>
      </div>
    </form>
  </div>
</div>

<div class="professional">
  <div class="centeral-content">
    <h2 class="u36Medium_v2">Professional Review</h2>
    <div class="videos swiper-wrapper">
      
    <div
    class="swiper-slide"
    onclick="showVideoDialog('https://www.youtube.com/embed/14WsEPH8TfQ?autoplay=1&cc_load_policy=1')"
  >
    <img
      class="lozad"
      data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25085_2x_218ed915-d951-4836-9315-48dbb616abc5.jpg?v=1731058283&width=400"
      alt=""
    >
    <span class="u17Light_v2">The throttle boost driven by dual motors provides an unprecedented power-maxing experience.</span>
    <span class="flex-1"></span>
    <div class="u17Medium_v2">
      <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/unnamed.jpg?v=1731058489" alt=""/>
      <span>KhanFlicks</span>
    </div>
  </div>
  <div
        class="swiper-slide"
        onclick="showVideoDialog('https://www.youtube.com/embed/8xWeb1IBfh4?autoplay=1&cc_load_policy=1')"
      >
        <img
          class="lozad"
          data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25086_2x_5569c8ba-310d-4fc7-8f65-7daec6ac6a9f.jpg?v=1731058278&width=400"
          alt=""
        >
        <span class="u17Light_v2">With powerful 1500W AWD assist, this full carbon beast will take you anywhere you want.</span>
        <span class="flex-1"></span>
        <div class="u17Medium_v2">
          <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/channels4_profile.jpg?v=1731058489" alt=""/>
          <span>Urtopia Reviews</span>
        </div>
      </div>
      <div
        class="swiper-slide"
        onclick="showVideoDialog('https://www.youtube.com/embed/OJgz3ZLb4F0?autoplay=1&cc_load_policy=1')"
      >
        <img
          class="lozad"
          data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25087_2x_fade44e6-4e58-4091-a22f-db3af7c7b2e2.jpg?v=1731058272&width=400"
          alt=""
        >
        <span class="u17Light_v2">It's the lightest step-through ebike of its size, I can just easily get on it, no big jump over.</span>
        <span class="flex-1"></span>
        <div class="u17Medium_v2">
          <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/channels4_profile_1.jpg?v=1731058489" alt=""/>
          <span>Area 13</span>
        </div>
      </div>
    </div>
    <div class="swiper-scrollbar"></div>
    <div class="buttons mobileHide">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</div>

          <div class="expert">
  <video muted playsinline autoplay loop
          class="lozad mobileHide" data-src="https://cdn.shopify.com/videos/c/o/v/f9834cbdff9f40edacacb6e585bd2799.mp4">
  </video>
  <video muted playsinline autoplay loop
          class="lozad pcHide" data-src="https://cdn.shopify.com/videos/c/o/v/7392088604cd47b5bd24b0e7f7c46f90.mp4">
  </video>
  <div class="centeral-content">
    <h2 class="u48Medium_v2">Carbon Fiber Expert</h2>
    <p class="u17Light_v2">
      <span>
        Lightweight, easy to ride, and sleek—Carbon Fusion GT embodies these qualities. With premium Carbon Fiber and Urtopia’s design, it continues the legacy chosen by hundreds of thousands of Urtopians.
      </span>
    </p>
    <div class="my-button" onclick="showVideoDialog('https://www.youtube.com/embed/Q4GQ7OUDK9A?autoplay=1&amp;cc_load_policy=1')">
        Watch Video
        <img class="lozad mobileHide" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/screenshot-20231012-164642.png?v=1697100422" alt="" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/screenshot-20231012-164642.png?v=1697100422" data-loaded="true">
        <img class="lozad pcHide" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/screenshot-20231012-165647.png?v=1697101021" alt="">
      </div>
  </div>
</div>

<div class="world">
        <div class="centeral-content">
            <h2 class="u36Medium_v2">World’s First Dual-Motor, <br>Dual-Battery E-Bike</h2>
            <p class="u17Light_v2">
                <span>
                  Extended range of 120 miles with a dual-drive 1500W peak motor. Fusion GT will give you a thrilling sensor of speed and power.
                </span>
            </p>
            <div>
                <div class="u17Medium_v2">
                    <span class="pcHide">Up to</span>
                    <span><span class="mobileHide">Up to</span>
                        <h3 class="u48Medium_v2">1500w</h3>
                    </span>
                    <span>Dual-Motor</span>
                </div>
                <div class="u17Medium_v2">
                    <span class="pcHide">Up to</span>
                    <span><span class="mobileHide">Up to</span>
                        <h3 class="u48Medium_v2">120 Miles</h3>
                    </span>
                    <span>Dual-Battery</span>
                </div>
            </div>
        </div>
        <img class="pcHide lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23721_2x_3e9f2e20-9fdb-4747-a4d2-27fa03a2b242.jpg?v=1704772099"
            alt="">
    </div>


          <div class="ultimate">
        <div class="swiper-wrapper">
            <div class="swiper-slide a"></div>
            <div class="swiper-slide b"></div>
            <div class="swiper-slide c"></div>
        </div>
        <div>
            <h3 class="u36Medium_v2 mobileHide">Ultimate Machine Beast</h3>
            <p class="u17Light_v2 mobileHide">
                <span>
                    Urtopia Fusion offers four dynamic drive modes catering to your every whim, empowering you to
                    conquer any road challenge. Whether cruising through the city or braving a polar vortex, find your
                    perfect mode and dominate every adventure.
                </span>
            </p>
            <span class="flex-1"></span>
            <div class="icons">
                <div>
                    <img class="a mobileHide"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19557.svg?v=1729504926" alt="">
                    <img class="b mobileHide"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19552.svg?v=1729504926" alt="">
                    <span class="u14Medium_v2">Dual Drive Mode</span>
                    <div></div>
                    <span class="u14Medium_v2">Dual motor 700 W, more powerful and stable</span>
                </div>
                <div>
                    <img class="a mobileHide"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19558.svg?v=1729505344" alt="">
                    <img class="b mobileHide"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19558.svg?v=1729505344" alt="">
                    <span class="u14Medium_v2">Rear Drive Mode</span>
                    <div></div>
                    <span class="u14Medium_v2">Single motor 350W, energy efficient & more range</span>
                </div>
                <div>
                    <img class="a mobileHide"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19045.svg?v=1729505268" alt="">
                    <img class="b mobileHide"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19555.svg?v=1729505268" alt="">
                    <span class="u14Medium_v2">Throttle Mode</span>
                    <div></div>
                    <span class="u14Medium_v2">Full output up to 1500 W, powerful and speedy</span>
                </div>
            </div>
            <div class="swiper-pagination pcHide"></div>
        </div>
    </div>

    <div class="beast pcHide">
      <div class="centeral-content">
        <div></div>
        <div>
          <h3 class="u36Medium_v2">Ultimate Machine Beast</h3>
          <p class="u17Light_v2">
            <span>
              Urtopia Fusion offers four dynamic drive modes catering to your every whim, empowering you to conquer any road challenge. Whether cruising through the city or braving a polar vortex, find your perfect mode and dominate every adventure.
            </span>
          </p>
          <div class="icons">
            <div>
              <img class="mobileHide lozad" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19557_2x_bfaabb1e-1a0f-42b2-9783-9305ae6d23ff.png?v=1729333036" alt="">
              <img class="pcHide lozad" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19559_2x_9b1d4787-b93e-4656-b13f-4a6f97eef4fc.png?v=1729333868" alt="">
              <span class="u14Medium_v2" style="text-align: center;margin-top: 15px;">Dual Drive Mode</span>
              <div class="progress">
                <div></div>
              </div>
              <span class="u14Medium_v2">Dual motor 700 W, more powerful and stable</span>
            </div>
            <div>
              <img class="mobileHide lozad" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19558_2x_f6badc0f-4ed5-41b9-9e0e-f5d02863795e.png?v=1729333040" alt="">
              <img class="pcHide lozad" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19044_2x_cb2cddcb-bd29-4245-a39b-a94576332aea.png?v=1729333873" alt="">
              <span class="u14Medium_v2" style="text-align: center;margin-top: 15px;">Rear Drive Mode</span>
              <div class="progress">
                <div></div>
              </div>
              <span class="u14Medium_v2">Single motor 350W, energy efficient & more range</span>
            </div>
            <div>
              <img class="mobileHide lozad" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19045_2x_ce63eedb-6e5d-48ae-8a18-54c2a05f1c09.png?v=1729333045" alt="">
              <img class="pcHide lozad" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19045_2x_e970e97a-4110-43b4-bdd9-361cd33da888.png?v=1729333864" alt="">
              <span class="u14Medium_v2" style="text-align: center;margin-top: 15px;">Throttle Mode</span>
              <div class="progress">
                <div></div>
              </div>
              <span class="u14Medium_v2">Full output up to 1500 W, powerful and speedy</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      let current_index = 1

      function customSetInterval(callback, interval) {
          let lastTime = performance.now(); // 记录当前时间
          let stop = false; // 停止标志

          function tick(currentTime) {
            if (stop) return; // 如果停止，则退出
            if (currentTime - lastTime >= interval) {
              // 如果经过的时间大于等于设定的间隔时间
              callback(); // 执行回调
              lastTime = currentTime; // 更新上次调用的时间
            }
            requestAnimationFrame(tick); // 下一帧继续调用
          }

          requestAnimationFrame(tick); // 启动递归
          return () => { stop = true; }; // 返回一个停止函数
        }

      const fn = () => {
        console.log(current_index)

          $(`.beast .icons > div`).removeClass('active')
          $(`.beast .icons > div .progress > div`).css('width', '0')

          $(`.beast .icons > div:nth-child(${current_index}) `).addClass('active')
          

          $(`.beast .icons > div:nth-child(${current_index}) .progress > div`).animate({
            width: '100%'
        }, 2000)

          current_index = current_index >= 3 ? 1 : current_index + 1
      }

      // customSetInterval(fn, 2000)

      // start
      // fn(current_index)
    </script>

{% render 'product-compare', config: 'fusion_order_page_config' %}

<div class="sleek">
  <video muted playsinline autoplay loop
          class="lozad mobileHide" data-src="https://player.vimeo.com/progressive_redirect/playback/936203504/rendition/1080p/file.mp4?loc=external&signature=513c8a1f46d98c9185f87ac6b4e72d8b7225271c6e4d13b2ce23566eb5bae178">
  </video>
  <video muted playsinline autoplay loop
          class="lozad pcHide" data-src="https://player.vimeo.com/progressive_redirect/playback/936203468/rendition/540p/file.mp4?loc=external&signature=249c0e5455becef0fbc372d7efae3c41c8e48b0f6475c48fa9e4c65b33f14ab5">
  </video>
  <div>
    <h2 class="u48Medium_v2">Hartmut Esslinger</h2>
    <h3 class="u36Medium_v2">Legendary Designer <br>For Apple & Sony</h3>
    <p class="u17Light_v2">
      <span>
        Designed by the legendary Hartmut Esslinger, the Fusion embodies his philosophy of blending form and emotion. With safety, versatility, and user-friendliness all converge to elevate the riding experience, the Fusion sets the tone for a new era of e-bike innovation.
      </span>
      <div class="my-button" onclick="showVideoDialog('https://www.youtube.com/embed/rpxbAbXzyHo?autoplay=1&cc_load_policy=1')">
        Watch Video
        <img class="lozad mobileHide" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/screenshot-20231012-164642.png?v=1697100422" alt="">
        <img class="lozad pcHide" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/screenshot-20231012-165647.png?v=1697101021" alt="">
      </div>
    </p>
  </div>
</div>


<div class="weight">
        <div class="centeral-content">
            <h3 class="u48Medium_v2">More Carbon.<br>Less Weight.</h3>
            <p class="u17Light_v2">
                <span>
                    The carbon fiber contributes to the unique curved design and smooth finish, offering lightweight yet
                    sturdy construction. Resilient to impact and corrosion, the carbon frame ensures durability and
                    long-lasting performance for all your riding needs.
                </span>
            </p>
            <ul class="u24Medium_v2">
                <li>Super Lightweight e-SUV</li>
                <li>Racecar-grade carbon fiber</li>
            </ul>
             <a class="my-button mobileHide" target="_blank" href="/pages/carbon-expert">Carbon Fiber Expert</a>
             <a class="my-button my-button-black pcHide" target="_blank" href="/pages/carbon-expert">Carbon Fiber Expert</a>
        </div>
    </div>
    <div class="weight embrace">
        <div class="centeral-content">
            <h3 class="u48Medium_v2">Embrace Extended<br>Adventures</h3>
            <p class="u17Light_v2">
                <span>
                  Confidently embark on long-distance journeys with Fusion’s extensive range up to 120 Miles (Dual Battery) and dependable hydraulic disc brakes for superior all-weather control during extended rides.
                </span>
            </p>
            <ul class="u24Medium_v2">
                <li>120 Miles all-day range</li>
                <li>Dual battery system (≈ 900 Wh)</li>
            </ul>
        </div>
    </div>
    <div class="weight effortless">
        <div class="centeral-content">
            <h3 class="u48Medium_v2">Smooth Riding Ever</h3>
            <p class="u17Light_v2">
                <span>
                  With fat tires, you can conquer all terrains. The 60mm travel air suspension fork and TEKTRO hydraulic disc brakes with power cut-off ensures comfort on any terrain, providing a powerful and smooth adventure for your ride.
                </span>
            </p>
            <ul class="u24Medium_v2">
                <li>TEKTRO hydraulic disc brakes <br>with power cut-off</li>
                <li>Fat Tire</li>
            </ul>
        </div>
    </div>
    <div class="quality">
        <div class="centeral-content">
            <h3 class="u36Medium_v2">Quality in details</h3>
            <div class="items swiper-wrapper">
                <div class="swiper-slide">
                    <img class="lozad"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2x_8dba2361-8e54-4666-b412-e4ca789e006c.jpg?v=1729309404&width=500"
                        alt="">
                    <span class="u20Medium_v2">Innovative Carbon Step-thru</span>
                    <span class="u14Light_v2">The Fusion GT features a lightweight T1000 carbon fiber frame, engineered for optimal rigidity and strength. The deep step-through design ensures easy access and a comfortable ride for all ages and abilities.</span>
                </div>
                <div class="swiper-slide">
                    <img class="lozad"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/b_2x_5e0f1ab7-286f-4c86-bd08-277703d107f3.jpg?v=1729309408&width=500"
                        alt="">
                    <span class="u20Medium_v2">Unique Dual Battery System</span>
                    <span class="u14Light_v2">Featuring an innovative dual battery system with a 900 Wh battery for up to 120 miles. This distinctive setup delivers outstanding range and flexibility, redefining long-distance riding.</span>
                </div>
                <div class="swiper-slide">
                    <img class="lozad"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2x_c619a056-7e50-4c63-a786-6c8eb755864d.jpg?v=1729309399&width=500"
                        alt="">
                    <span class="u20Medium_v2">Customizable Dual Motor</span>
                    <span class="u14Light_v2">Dual motor provides up to 1500W peak power and features customizable assist settings, allowing you to adjust power levels for different terrains. This integration ensures a highly personalized riding experience.</span>
                </div>
                <div class="swiper-slide">
                    <img class="lozad"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/aaaaa_2x_1c081598-1eb7-4c5e-8706-b422d5424923.jpg?v=1729309390&width=500"
                        alt="">
                    <span class="u20Medium_v2">Comfort-Oriented e-SUV</span>
                    <span class="u14Light_v2">The ergonomic geometry provides an upright riding position to reduce long ride strain. With adjustable handlebar (up to 30 mm) and a 60 mm front suspension fork, riders experience enhanced comfort and smoother rides over various terrains.</span>
                </div>
                <div class="swiper-slide">
                    <img class="lozad"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2x_f1357b56-bd4c-4fb1-84ce-001972da707a.jpg?v=1726037005&width=500"
                        alt="">
                    <span class="u20Medium_v2">SmartBar with GPS & 4G</span>
                    <span class="u14Light_v2">The SmartBar features built-in 4G connectivity and a GPS module, offering advanced theft tracking and real-time navigation. This technology offers confident navigation and enhanced security, keeping the bike protected and traceable.</span>
                </div>
                <div class="swiper-slide">
                    <img class="lozad"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2x_5f9f0074-41ae-48f6-aa9f-521ed5db5007.jpg?v=1726037011&width=500"
                        alt="">
                    <span class="u20Medium_v2">Robust MIK Rear Rack</span>
                    <span class="u14Light_v2">The MIK rear rack supports up to 60 lbs, allowing easy attachment and secure transport of various cargo. This versatile system enhances practicality, making it ideal for daily commutes and extended trips.</span>
                </div>
                <div class="swiper-slide">
                    <img class="lozad"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/10_2x_54dc4582-52ac-4be6-a306-fd2716fb7800.jpg?v=1729309395&width=500"
                        alt="">
                    <span class="u20Medium_v2">4 Modes x 8 Gears Transmission</span>
                    <span class="u14Light_v2">The Fusion GT features a SHIMANO 8-speed transmission and a 4-level electric assist system, enhanced by a precise torque sensor. This integration ensures smooth acceleration across all gears.</span>
                </div>
                <div class="swiper-slide">
                    <img class="lozad"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/sssa_2x_046237b8-176a-425a-b288-d0c35632d30c.jpg?v=1726037021&width=500"
                        alt=""/>
                    <span class="u20Medium_v2">Comfort and Safety Tires</span>
                    <span class="u14Light_v2">Kenda tires (29x2.05)offers excellent comfort and low rolling resistance for a smooth ride on city and trekking surfaces. With puncture protection layer guarding against flats and reflective stripes ensuring high visibility, these wide tires offer durability, safety, and comfort.</span>
                </div>
            </div>
            <div class="swiper-scrollbar"></div>
            <div class="buttons mobileHide">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
    <div class="boxs">
        <div class="centeral-content">
            <img class="lozad"
                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2x_ebbcac04-2020-44a7-9872-375d02330893.jpg?v=1729309742&width=800"
                alt="">
            <div>
                <h2 class="u30Medium_v2">Enjoy Easy <br>Entry Comfort</h2>
                <p class="u17Light_v2">
                    <span>The deep step-through frame ensures easy access and a comfortable riding experience. With an adjustable stem and suspension fork, Fusion offers an upright riding position and smooth handling.</span>
                </p>
                <ul class="u24Medium_v2">
                    <li>Low step-through</li>
                    <li>Suspension fork (60 mm travel)</li>
                </ul>
            </div>
            <div>
                <h2 class="u30Medium_v2">Charge up anytime,<br>anywhere</h2>
                <p class="u17Light_v2">
                    <span>The removable battery is cleverly concealed within the downtube of the bike, blending seamlessly with the frame color design. You can’t even tell its an ebike at first sight.</span>
                </p>
                <ul class="u24Medium_v2">
                    <li>Large Capacity</li>
                    <li>Seamlessly Integrated</li>
                </ul>
            </div>
            <img class="lozad"
                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24595_2x_5d30a646-08c6-40d4-9937-84f9b69c2df7.jpg?v=1729309747&width=800"
                alt="">
        </div>
    </div>


    <div class="sleek comfort">
      <div class="mobileHide" style="
    position: absolute;
    background-image: linear-gradient(270deg, #031631, #082650AC, #0D284E65, #152A4A00);
    transform: none;
    top: 0;
    bottom: 19.3%;
    left: 30%;
    right: 0;
"></div>
  <video
    muted
    playsinline
    loop
    autoplay
    class="lozad mobileHide"
    data-src="https://cdn.shopify.com/videos/c/o/v/7f0e35c969d947138421c84bdbcc6537.mp4"
  ></video>
  <img class="pcHide lozad" data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24885_2x_effb7263-9252-41ba-8adf-4ff499c06088.jpg?v=1729318935" alt="">
  <div>
    <h2 class="u48Medium_v2" style="margin-bottom: 4vh;">
      Comfort or Cargo? <br>
      Customize Your Ride!
    </h2>
    <p class="u17Light_v2">
      <span
        >Adjustable handlebars and seat post ensure a comfortable riding position for both sport and leisure. Versatile accessory mounting points maximize carrying capacity. Load up and ride into adventure!</span
      >
    </p>
  </div>
</div>
<div class="build">
  <div class="centeral-content">
    <div>
      <h3 class="u48Medium_v2">
        Prioritize Power <br>or Range? <br>Customize anytime.
      </h3>
      <p class="u17Light_v2">
        <span>Tune assist modes to prioritize powerful support for tackling tough hills or opt for energy-saving settings to extend your range on longer rides. Adapt your ride to suit any journey, ensuring you get the most out of every trip.</span>
      </p>
    </div>
  </div>
</div>
<div class="weight embrace wwwww">
        <div class="centeral-content">
            <h3 class="u48Medium_v2">Safety First</h3>
            <p class="u17Light_v2">
                <span>Safety is at the core of Fusion, with reflective strips enhancing night visibility and projection lights doubling as turn indicators. Plus, our battery comes with UL 2271 certification for added security.</span>
            </p>
            <ul class="u24Medium_v2">
                <li>UL 2271 Certification</li>
                <li>Projection Light</li>
            </ul>
        </div>
    </div>

    <div class="boxs3" id="boxs3">
  <div class="centeral-content">
    <div style="display: none;">
        <div class="u30DemiBold_v2">Leasing Partners at Your Choice</div>
        <div class="u17Light_v2">We offer you the opportunity to get your dream bike at low monthly leasing rates through various leasing providers.</div>
        <div class="logos">
          <div>
            <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/JobRad_Logo_Anthrazit_RGB_4x_2x_62a03d6d-6e43-4033-938d-9af30244ef24.png?v=1705470842&width=200" />
          </div>
          <div>
            <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18616_2x_d0fb1804-0a96-4524-9463-6cd30673cf6d.png?v=1687260793&width=200" />
          </div>
         <div>
            <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18617_2x_6706fd9c-d8f3-434b-b77f-6e35eb007eb3.png?v=1687260762&width=200" />
         </div>
         <div>
            <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Wordmark__leaseabike_transparent_2x_b12d66b8-8cce-4ca1-abe4-3c88a26cdc96.png?v=1709188055&width=200" />
          </div>
          <div>
            <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/logo_meinstdienstrad_2021_2x_d5a1936d-fc18-418a-bb45-b9bb73e6c96a.png?v=1687260731&width=200" />
          </div>
          
        </div>
        <a
          class="my-button my-button-black"
          href="/pages/ebike-leasing?utm_source=order_page"
          target="_blank">Lease Now</a>
      </div>
    <div style="display: none;"></div>
    <div></div>
    <div>
      <div>
        <div class="u30DemiBold_v2">It’s time to give it a spin!</div>
        <div class="u17Light_v2">Experience the bike in real</div>
        <a
          class="my-button my-button-white"
          href="/pages/test-ride"
          target="_blank">Book a Free Test Ride</a>
      </div>
    </div>
    
    <div>
      <div class="u30DemiBold_v2">Local care all the time</div>
      <div class="u17Light_v2" style="width: 100%;">
        <div><img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/shopping-mall_2x_44d99fcd-f0f4-443b-927e-b68e48af010f.png?v=1687259496" />1 service center, 150+ service partners</div>
        <div><img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/24-hours_2x_d6a8eeb2-4564-4351-8cb9-096dbb778479.png?v=1687259501" />24hrs service response, App build-in portal</div>
        <div><img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/box_2x_2b3b7c15-f5ae-4305-956f-7543b63b2dda.png?v=1687259506" /><span>Spare parts available locally, ships in 3 days.</span>
        </div>
        <div><img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/customer-satisfaction_2x_c7081e3a-1864-43b6-8ed2-f77895eafa6a.png?v=1687259512" />10+ technical experts, 99% satisfaction rate.</div>
      </div>
      <a
        class="my-button my-button-white"
        href="/pages/care"
        target="_blank">Learn more</a>
    </div>
    <div></div>
    <div></div>
    <div>
      <div class="u30Medium_v2">Urtopians worldwide</div>
      <div class="u17Light_v2">
        Over 200,000 Urtopians worldwide are passionate about green riding with Urtopia ebikes, and their total ride
        data is impressive, equivalent to planting a total of 131,300+ trees.
      </div>
      <div class="texts">
        <div>
          <span class="u14Light_v2">The Urtopians rode a total distance of</span>
          <span class="u30DemiBold_v2">432,000,000+ <span class="u20Medium_v2">km</span></span>
        </div>
        <div>
          <span class="u14Light_v2">The reduction in CO2 emissions amounted to</span>
          <span class="u30DemiBold_v2">530,000+ <span class="u20Medium_v2">kg</span></span>
        </div>
        <div>
          <span class="u14Light_v2">Urtopian’s joint effort is equivalent to planting</span>
          <span class="u30DemiBold_v2">131,500+ <span class="u20Medium_v2">trees</span></span>
        </div>
      </div>
      <a class="my-button my-button-white" target="_blank" href="/pages/sustainability-carbon-credit">Learn more</a>
    </div>
  </div>
</div>


<div class="joy">
  <div class="centeral-content">
    <h2 class="u60Medium_v2">The joy of cycling goes beyond.</h2>
    <div>
      <div>
        <h3 class="u36Medium_v2">Theft Protection</h3>
        <p class="u17Light_v2">
          <span>
            Receive alerts for unauthorized movement, easily locate where you parked, and track its movements with GPS tracking.
          </span>
        </p>
        <a style="margin-top: 2.5vh;" class="my-button my-button-ghost" target="_blank" href="/pages/pages-smartest-ebike">Urtopia's Technology</a>
      </div>
      <div>
        <h3 class="u36Medium_v2">Navigation</h3>
        <p class="u17Light_v2">
          <span>
            Input your destination into the Urtopia App, and the smartbar will display clear navigation instructions accompanied by audio cues.
          </span>
        </p>
      </div>
      <div>
        <h3 class="u36Medium_v2">Fitness and Watch Support</h3>
        <p class="u17Light_v2">
          <span>
            Sync your rides with Apple Health and Strava integration to track, analyze, and share your cycling activities for fitness progress and community engagement.
          </span>
        </p>
      </div>
      <div>
        <h3 class="u36Medium_v2">Dashboard</h3>
        <p class="u17Light_v2">
          <span>
            The multi-screen data display ensures simplicity and visual clarity, while also catering to observation for various data indicators.
          </span>
        </p>
      </div>
      <div>
        <h3 class="u36Medium_v2">Music</h3>
        <p class="u17Light_v2">
          <span>
            Sync your phone with the speaker, transforming your ride into a melodic journey with your favorite tunes.
          </span>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="app">
  <div class="centeral-content">
     <div>
       <span class="u48Medium_v2">Your All in One <br>Health Coach</span>
       <span class="u17Light_v2">Your rides and daily activities offer personalized insights. Our AI companion tailors accurate recommendations exclusively for you—no more generic advice.</span>
     </div>
    <img class="lozad mobileHide" data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_1171275468_2x_c4e2a5ad-6173-4b69-91be-96007790d93d.png?v=1723798829"/>
    <img class="lozad pcHide" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18987_2x_2d452730-e518-4f14-828a-2660285ef03f.png?v=1702285205"/>
  </div>
  </div>

{% render 'size-guide-and-specs-template', config: 'fusion_order_page_config' %}

    <img class="toTop" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_21049.svg?v=1687267470">	
    <div class="top-fixed mobileHide">
      <div class="centeral-content">
        <span class="u20DemiBold_v2">{{ product.title }}</span>
        <span class="flex-1"></span>
        <div>
          <span class="u17Light_v2"><span class="u20DemiBold_v2 emphasize" style="font-weight: 600;">{{ product.price | money }}</span> {% unless product.compare_at_price == product.price %}
            <span style="text-decoration: line-through;">{{ product.compare_at_price | money }}</span>
        {% endunless %}</span>
          <span class="u14Light_v2">or as low as {{ product.price | divided_by: 24 | money_without_trailing_zeros }}/Month</span>
        </div>
        <a href="#product_form_{{ product.id }}" class="my-button my-button-origin">Order Now</a>
      </div>
    </div>
    
    <div class="bottom-fixed pcHide">
      <a href="#product_form_{{ product.id }}" class="my-button my-button-origin">Order Now</a>
      <div>
        <span class="u14Light_v2"><span class="emphasize" style="font-weight: 600;">{{ product.price | money }}</span> {% unless product.compare_at_price == product.price %}
          <span style="text-decoration: line-through;">{{ product.compare_at_price | money }}</span>
      {% endunless %}</span>
        <span class="u14Light_v2">or as low as {{ product.price | divided_by: 24 | money_without_trailing_zeros }}/Month</span>
      </div>
    </div>
<script>
    // 默认隐藏
  $('.product .error-tip').hide();
  // 默认隐藏
  $('.bottom-fixed').hide();
  $('.top-fixed').hide();
  $('.toTop').hide();
    
  const leftSwiper = new Swiper('.product .left-swiper', {
    direction: 'vertical',
    spaceBetween: 15,
    slidesPerView: 9,
    watchSlidesProgress: true,
    // height: 360,
  });

  const rightSwiper = new Swiper('.product .right-swiper', {
    navigation: {
      nextEl: '.product .featured_image .swiper-button-next',
      prevEl: '.product .featured_image .swiper-button-prev',
    },
    spaceBetween: 10,
    pagination: { el: '.product .swiper-pagination' },
    thumbs: {
      swiper: leftSwiper,
    },
    roundLengths : true,
    on:{
        slideChange: function() {
            const index = this.activeIndex % global_config.fusion_order_page_config.product_media_images.length;
            $('.product .medias').find('.u17DemiBold_v2').text(global_config.fusion_order_page_config.product_media_images[index].text)
            $('.product .medias').find('img').attr('src', global_config.fusion_order_page_config.product_media_images[index].img)

            if (global_config.fusion_order_page_config.product_media_images[index + 1]) {
                (new Image()).src = global_config.fusion_order_page_config.product_media_images[index + 1].img
            }

            if (global_config.fusion_order_page_config.product_media_images[index + 2]) {
                (new Image()).src = global_config.fusion_order_page_config.product_media_images[index + 2].img
            }
        },
    },
  });

  document.addEventListener('onChangeOptions', (e) => {
    $('.product .delivery_time').html(
      global_config.fusion_order_page_config.ebike_delivery_time[e.value.id] ||
        global_config.fusion_order_page_config.ebike_default_delivery_time
    );

    const btn = $('.product .buttons .addToCartBtn');
    if (e.value.available) {
      btn.find('span').text('Add to Cart');
      btn.removeClass('disabled');
      $('.product .buttons .orderTestRideBtn').show();
    } else {
      btn.find('span').text('Sold out');
      btn.addClass('disabled');
      $('.product .buttons .orderTestRideBtn').hide();
    }
  });

      document.addEventListener('onChangeSize', e => {
        $(`.product .product-panel .options > div[option="Size"] .u17DemiBold_v2 .u17Light_v2`).text(global_config.fusion_order_page_config.size_map[e.value])
      })

      document.addEventListener('onChangeStyle', (e) => {
    $(`.product .product-panel .options > div[option="Style"] .u17DemiBold_v2 .u17Light_v2`).text(e.value);

    let swiper_arr = [];
    swiper_arr = swiper_arr.concat(
      global_config.fusion_order_page_config.product_images[e.value],
      global_config.fusion_order_page_config.product_images['commonSwiper']
    );

    console.log(swiper_arr);
    rightSwiper.removeAllSlides()
    leftSwiper.removeAllSlides()

    for (let i = 0; i < swiper_arr.length; i++) {
      leftSwiper.appendSlide( `<img class="swiper-slide" alt="Urtopia Fusion" src="${swiper_arr[i]}"/>`)

      if (i === 0) {
        rightSwiper.appendSlide(`<div class="swiper-slide" style="position: relative;"><img style="position: absolute;top: 0;left: 0;max-width: 27.5%;" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20241125-174139.png?v=1732527721"/><img alt="Urtopia Fusion" src="${swiper_arr[i]}"/></div>`)
      } else {
        rightSwiper.appendSlide(`<div class="swiper-slide"><img alt="Urtopia Fusion" src="${swiper_arr[i]}"/></div>`)
      }
    }
  });

  function changeAddToCartText(parse, step = 0) {
    if (step) {
      $('.addToCartBtn i').toggleClass('showi');
      document.querySelector('.addToCartBtn span').innerHTML = 'Adding...';
    } else {
      setTimeout(() => {
        $('.addToCartBtn i').toggleClass('showi');
        document.querySelector('.addToCartBtn span').innerHTML = 'Add to Cart';
      }, 800);
    }
  }

  function testRideTrace(type = '', target) {
    // 如果已经有按钮 loading ,直接退出来
    if (!type || $('.orderTestRideBtn').hasClass('loading')) {
      return;
    }

    const t = $(target);

    t.addClass('loading');
    // 原本的html 存起来
    const text = t.find('span').html();
    const loading = '<i class="fa fa-spinner fa-spin"></i>Processing...';

    // loading
    t.find('span').html(loading);

    fetchBuried('websiteclick', `fusion-order-page`, { button: type }, true);
    window.sessionStorage.clicked_klarna_checkout_button = 'clicked_klarna_checkout_button';

    if (sessionStorage.carbon_one_a_b_test_flag === 'B') {
      setTimeout(() => {
        t.removeClass('loading');
        t.find('span').html(text);
      }, 2000);

      return addAllToCart('atc', true);
    }
  }


  let id = 0;
  let adding = false;
  let cart1 = document.querySelector('cart-notification') || document.querySelector('cart-drawer');

  function addAllToCart(parse, show = false) {
    // 如果 B test 需要显示 klarna checkout
    window.show_notification_checkout_button = show;
    const cartList = { items: [] };
    $('.product .error-tip').hide();

    if (adding == false) {
      !show && changeAddToCartText(parse, 1);
      adding = true;

      cartList.items.push({ id: current_variant_id, quantity: 1 });

      if (cart1) {
        var sections = cart1.getSectionsToRender().map((section) => section.id);
        cartList.sections = sections.join(',');
      }

      // 新增普通配件
      $('.product .accessories .items .active').each((i, item) => {
        cartList.items.push({
          id: $(item).attr('variant-id'),
          quantity: 1,
        });
      });

      fetch('/cart/add.js', {
        method: 'POST',
        body: JSON.stringify(cartList),
        headers: {
          'Content-Type': 'application/json',
        },
      })
        .then((res) => res.json())
        .then((res1) => {
          res1.key = '';

          cart1.classList.contains('is-empty') && cart1.classList.remove('is-empty');

          if (!(res1.message && res1.status)) {
            cart1.renderContents(res1);
          } else {
            $('.product .error-tip').show();
          }

          !show && changeAddToCartText(parse, 0);
        })
        .catch((err) => {
          !show && changeAddToCartText(parse, 0);
          // cartList.items.splice(-1, 1);
          console.log('err==', err);
          $('.product .error-tip').show();
        })
        .finally(() => {
          adding = false;
          !show && fetchBuried('websiteclick', `fusion-order-page`, { button: 'ATC' });

          setTimeout(() => $('.product .error-tip').hide(), 10000);
        });
    }
  }



    $('.product .product-panel .accessories > div:not(.u17DemiBold_v2):not(.items)').on('click', (e) => {
    const items = $('.product .product-panel .accessories .items');

    items.animate(
      {
        scrollLeft:
          $('.product .product-panel .accessories .items').scrollLeft() + ($(e.target).hasClass('next') ? 160 : -160),
      },
      300
    );
  });

  $('.product .product-panel .accessories .items .item').on('click', (e) => {
    const item = $(e.target).closest('.item');
    const icon = item.find('.u11Light_v2');

    if (item.hasClass('active')) {
      item.removeClass('active');
      icon.html('<i class="fa-solid fa-plus"></i>');
    } else {
      item.addClass('active');
      icon.html('<i class="fa-solid fa-check"></i>');
    }
  });

    $('.product .product-panel').on("submit", function (event) {

        // 阻止默认行为
        event.preventDefault();
        return false;
    })

    $('.product .dialogs > div').on('click', function(e) {
        const m = {
            0: 'one',
            1: 'two',
            2: 'three',
            3: 'four'
        }

        if ($(this).attr('onclick')) {
          return
        }

        $('.product .dialogs > div').each((i, t) => {
            if ($(e.target).closest('.u17Medium_v2')[0] === t) {
                console.log(i)

                const layer = document.querySelector(`.order-modal-${m[i]}`);
                const laybox = document.querySelector(`.order-modal-layer-${m[i]}`);
                layer.style.display = "flex";
                laybox.className += " dialog-open";
            }
        })
    })

    $('.toTop').on('click', e => {
        $('html').animate({
            scrollTop: 0
        }, 300)
    })


    let currnetScroolTop = 0
    $(document).on('scroll', throttle(e => {
        const top1 = $('.world').offset().top
        const top3 = $('.product .addToCartBtn').offset().top
        const top2 = $(e.target).scrollTop()

        const h = window.screen.height

        if (global_config.is_mobile) {
            if (top2 > top3) {
                $('.bottom-fixed').show()
            } else {
                $('.bottom-fixed').hide()
            }
        } else {
            if (top2 > top1) {
                $('.top-fixed').show()
            } else {
                $('.top-fixed').hide()
            }

            if (currnetScroolTop > top2) {
                $('.top-fixed').hide()
            }

            currnetScroolTop = top2
        }

        top2 > (h * 2) ? $('.toTop').show() : $('.toTop').hide()

    }, 300, 100))
</script>
{% render 'product-options', config_name: "fusion_order_page_config", %}
    <script>
      new Swiper('.quality .centeral-content', {
        slidesPerView: global_config.is_mobile ? 1.25 : 3,
        spaceBetween: global_config.is_mobile ? 16 : 32,
        navigation: {
            nextEl: '.quality .centeral-content .swiper-button-next',
            prevEl: '.quality .centeral-content .swiper-button-prev',
        },
        scrollbar: {
            el: '.quality .centeral-content .swiper-scrollbar',
            draggable: true
        },
    });

      const ultimate_swiper = new Swiper('.ultimate', {
        autoplay: {
            disableOnInteraction: false,
            pauseOnMouseEnter: false,
            delay: 2000,
        },
        loop: true,
        effect: 'fade',
        fadeEffect: {
            crossFade: true
        },
        // grabCursor: true,
        allowTouchMove: global_config.is_mobile,
        speed: 0,
        on: {
            slideChange: function () {
                $(`.ultimate .icons > div:nth-child(${this.realIndex + 1})`).addClass('active').siblings().removeClass('active')
            },
        },
        pagination: { el: '.ultimate .swiper-pagination' },
    });


    const clears = []
    global_config.is_pc && $(`.ultimate .icons > div`).each((index, elem) => {
        $(elem).on('click', () => {
            for (const c of clears) {
                clearTimeout(c)
            }

            ultimate_swiper.slideToLoop(index)
            setTimeout(() => {
                ultimate_swiper.autoplay.stop()
            })

            clears.push(setTimeout(() => {
                ultimate_swiper.autoplay.start()
            }, 3000))
        })

    })


    new Swiper('.professional .centeral-content', {
      slidesPerView: global_config.is_mobile ? 1.25 : 3,
      spaceBetween: 20,
      navigation: {
      nextEl: '.professional .centeral-content .swiper-button-next',
      prevEl: '.professional .centeral-content .swiper-button-prev',
    },
      scrollbar: {
        el: '.professional .centeral-content .swiper-scrollbar',
        draggable: true,
      },
    });
  



    </script>
    <div class="judmeeeeeeeee">
    <div class="centeral-content">{% include "judgeme_widgets", widget_type: "judgeme_review_widget", concierge_install: false %}</div>
</div>
