{%- style -%}
  .header {
    box-sizing: border-box;
  }
  
  .mega-menu__content,
  .search-modal,
  .menu-drawer {
    content-visibility: auto;
  }

  .section-header {
    margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-header {
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }

  @media screen and (min-width: 990px) {
    .header {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  @keyframes gradientMove {
      0% {
        background-position: 0% 50%;
      }
      100% {
        background-position: 100% 50%;
      }
    }

  .header__inline-menu ul li:first-child a>span {
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    color: transparent;
    background-image: linear-gradient(90deg, #FF3684, #FF8F1D, #FF3684, #FF8F1D);
    background-size: 300%;
    background-clip: text;
    -webkit-background-clip: text;
    animation: gradientMove 2s infinite linear;
  }

  .menu-drawer__menu.has-submenu.list-menu {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .takkatukku {
    display: block;
    position: absolute;
    color: #FD4B17;
    font-size: 12px;
    font-weight: 700;
    background-color: #FD4B1715;
    padding: 0px 8px;
    border-radius: 5px;
    left: 0;
    top: -20px;
  }

{%- endstyle -%}
<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icon-search" viewbox="0 0 18 19" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z" fill="currentColor"/>
  </symbol>

  <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
    <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
  </symbol>
</svg>
<{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %} class="header-wrapper color-{{ section.settings.color_scheme }} gradient{% if section.settings.show_line_separator %} header-wrapper--border-bottom{% endif %}">
  <header class="header header--{{ section.settings.logo_position }} page-width{% if section.settings.menu != blank %} header--has-menu{% endif %}">
    {%- if section.settings.menu != blank -%}
      <header-drawer data-breakpoint="tablet">
        <details id="Details-menu-drawer-container" class="menu-drawer-container">
          <summary class="header__icon header__icon--menu header__icon--summary link focus-inset" aria-label="{{ 'sections.header.menu' | t }}">
            <span>
              {% render 'icon-hamburger' %}
              {% render 'icon-close' %}
            </span>
          </summary>
          <div id="menu-drawer" class="gradient menu-drawer motion-reduce" tabindex="-1">
            <div class="menu-drawer__inner-container">
              <div class="menu-drawer__navigation-container">
                <nav class="menu-drawer__navigation">
                  <ul class="menu-drawer__menu has-submenu list-menu" role="list">
                    {%- for link in section.settings.menu.links -%}
                      <li>
                        {%- if link.links != blank -%}
                          <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                            <summary class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}">
                              {{ link.title | escape }}
                              {% render 'icon-arrow' %}
                              {% render 'icon-caret' %}
                            </summary>
                            <div id="link-{{ link.title | escape }}" class="menu-drawer__submenu has-submenu gradient motion-reduce" tabindex="-1">
                              <div class="menu-drawer__inner-submenu">
                                <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                                  {% render 'icon-arrow' %}
                                  {{ link.title | escape }}
                                </button>
                                <div class="hedaer-secondary-menu-mb">
                                    <div class="supportssssss">
                                        <div class="u11Medium_v2">
                                          <img loading="lazy" fetchpriority="low" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_17960_2x_b54a5500-60e1-44b7-ba11-ffac13f27945.png?v=1697791367" width="30" height="30" alt="Shipping">
                                          <span>Free</span>
                                          <span>Shipping</span>
                                        </div>
                                        <div class="u11Medium_v2">
                                          <img loading="lazy" fetchpriority="low" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_17959_2x_5daec689-64b5-442d-b3f2-64aa9bdf17f0.png?v=1697791373" width="30" height="30" alt="Returns">
                                          <span>14-Day</span>
                                          <span>Returns</span>
                                        </div>
                                        <div class="u11Medium_v2">
                                          <img loading="lazy" fetchpriority="low" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_17958_2x_41614a03-d5f7-4c8a-b655-e3ba79c626a6.png?v=1697791379" width="30" height="30" alt="Warranty">
                                          <span>2-Year</span>
                                          <span>Warranty</span>
                                        </div>
                                        <div class="u11Medium_v2">
                                          <img loading="lazy" fetchpriority="low" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20231027-142058.png?v=1698387684" width="30" height="30" alt="Payment">
                                          <span>Flexible</span>
                                          <span>Payment</span>
                                      </div>
                                    </div>
                                    <div class="bikesssssss">
                                      {% assign productttttt = all_products["urtopia-carbon-classic-ebike"].first_available_variant %}
                                        <div class="by-model" href="{{ productttttt.url }}">
                                              <div>
                                                <div class="u14DemiBold_v2">Carbon Classic</div>
                                                <div class="u11Light_v2">Timeless carbon style</div>
                                                <span class="u14DemiBold_v2 emphasize" {% unless productttttt.compare_at_price == productttttt.price %}data-price="{{ productttttt.compare_at_price | money_without_trailing_zeros }}"{% endunless %}>{{ productttttt.price | money_without_trailing_zeros }}</span>
                                              </div>  
                                            <img src="{{ productttttt.featured_image | image_url: width: 300 }}" loading="lazy" fetchpriority="low" width="134" height="84" alt="Urtopia Ebike - Sleek, Full Carbon, Lightweight, Smart">
                                        </div>
                                      {% assign productttttt =  all_products["urtopia-carbon-classic-step-thru-ebike"].first_available_variant %}
                                        <div class="by-model" href="{{ productttttt.url }}">
                                              <div>
                                                <div class="u14DemiBold_v2">Carbon Classic ST</div>
                                                <div class="u11Light_v2">Lightweight Step-through Ebike</div>
                                                <span class="u14DemiBold_v2 emphasize" {% unless productttttt.compare_at_price == productttttt.price %}data-price="{{ productttttt.compare_at_price | money_without_trailing_zeros }}"{% endunless %}>{{ productttttt.price | money_without_trailing_zeros }}</span>
                                              </div>  
                                            <img src="{{ productttttt.featured_image | image_url: width: 300 }}" loading="lazy" fetchpriority="low" width="134" height="84" alt="Urtopia Ebike - Sleek, Full Carbon, Lightweight, Smart">
                                        </div>
                                      {% assign productttttt = all_products["urtopia-joy-carbon-fat-tire-ebike"].first_available_variant %}
                                        <div class="by-model" href="{{ productttttt.url }}">
                                              <div>
                                                <div class="u14DemiBold_v2">Joy Carbon</div>
                                                <div class="u11Light_v2">Lightweight Fat Tire Ebike</div>
                                                <span class="u14DemiBold_v2 emphasize" {% unless productttttt.compare_at_price == productttttt.price %}data-price="{{ productttttt.compare_at_price | money_without_trailing_zeros }}"{% endunless %}>{{ productttttt.price | money_without_trailing_zeros }}</span>
                                              </div>  
                                            <img src="{{ productttttt.featured_image | image_url: width: 300 }}" loading="lazy" fetchpriority="low" width="134" height="84" alt="Urtopia Ebike - Sleek, Full Carbon, Lightweight, Smart">
                                        </div>
                                      {% assign productttttt =  all_products["urtopia-carbon-fold"].first_available_variant %}
                                        <div class="by-model" href="{{ productttttt.url }}">
                                              <div>
                                                <div class="u14DemiBold_v2">Carbon Fold 1</div>
                                                <div class="u11Light_v2">Lightweight Folding Ebike</div>
                                                <span class="u14DemiBold_v2 emphasize" {% unless productttttt.compare_at_price == productttttt.price %}data-price="{{ productttttt.compare_at_price | money_without_trailing_zeros }}"{% endunless %}>{{ productttttt.price | money_without_trailing_zeros }}</span>
                                              </div>  
                                            <img src="{{ productttttt.featured_image | image_url: width: 300 }}" loading="lazy" fetchpriority="low" width="134" height="84" alt="Urtopia Ebike - Sleek, Full Carbon, Lightweight, Smart">
                                        </div>
                                      {% assign productttttt =  all_products["urtopia-carbon-1-pro-ebike"].variants | where: "title", "M / Matte Black" %}
                                        <div class="by-model" href="{{ productttttt.first.url }}">
                                              <div>
                                                <div class="u14DemiBold_v2">Carbon 1 Pro</div>
                                                <div class="u11Light_v2">Lightweight Trekking Ebike</div>
                                                <span class="u14DemiBold_v2 emphasize" {% unless productttttt.first.compare_at_price == productttttt.first.price %}data-price="{{ productttttt.first.compare_at_price | money_without_trailing_zeros }}"{% endunless %}>{{ productttttt.first.price | money_without_trailing_zeros }}</span>
                                              </div>  
                                            <img src="{{ productttttt.first.featured_image | image_url: width: 300 }}" loading="lazy" fetchpriority="low" width="134" height="84" alt="Urtopia Ebike - Sleek, Full Carbon, Lightweight, Smart">
                                        </div>
                                      {% assign productttttt = all_products["urtopia-carbon-1-step-thru-ebike"].variants | where: "title", "One Size / Glacier Blue" %}
                                        <div class="by-model" href="{{ productttttt.first.url }}">
                                              <div>
                                                <div class="u14DemiBold_v2">Carbon 1 ST</div>
                                                <div class="u11Light_v2">Lightweight Commuter Ebike</div>
                                                <span class="u14DemiBold_v2 emphasize" {% unless productttttt.first.compare_at_price == productttttt.first.price %}data-price="{{ productttttt.first.compare_at_price | money_without_trailing_zeros }}"{% endunless %}>{{ productttttt.first.price | money_without_trailing_zeros }}</span>
                                              </div>  
                                            <img src="{{ productttttt.first.featured_image | image_url: width: 300 }}" loading="lazy" fetchpriority="low" width="134" height="84" alt="Urtopia Ebike - Sleek, Full Carbon, Lightweight, Smart">
                                        </div>
                                      {% assign productttttt =  all_products["urtopia-fusion-pro-carbon-long-range-ebike"].variants | where: "title", "One Size / Vital Orange" %}
                                        <div class="by-model" href="{{ productttttt.first.url }}">
                                              <div>
                                                <div class="u14DemiBold_v2">Carbon Fusion Pro</div>
                                                <div class="u11Light_v2">Lightweight Long Range EBike</div>
                                                <span class="u14DemiBold_v2 emphasize" {% unless productttttt.first.compare_at_price == productttttt.first.price %}data-price="{{ productttttt.first.compare_at_price | money_without_trailing_zeros }}"{% endunless %}>{{ productttttt.first.price | money_without_trailing_zeros }}</span>
                                              </div>  
                                            <img src="{{ productttttt.first.featured_image | image_url: width: 300 }}" loading="lazy" fetchpriority="low" width="134" height="84" alt="Urtopia Ebike - Sleek, Full Carbon, Lightweight, Smart">
                                        </div>
                                      {% assign productttttt =  all_products["urtopia-carbon-fusion-gt"].variants | where: "title", "One Size / Deep Sea Blue" %}
                                        <div class="by-model" href="{{ productttttt.first.url }}">
                                              <div>
                                                <div class="u14DemiBold_v2">Carbon Fusion GT</div>
                                                <div class="u11Light_v2">Lightweight Dual Motor eBike</div>
                                                <span class="u14DemiBold_v2 emphasize" {% unless productttttt.first.compare_at_price == productttttt.first.price %}data-price="{{ productttttt.first.compare_at_price | money_without_trailing_zeros }}"{% endunless %}>{{ productttttt.first.price | money_without_trailing_zeros }}</span>
                                              </div>  
                                            <img src="{{ productttttt.first.featured_image | image_url: width: 300 }}" loading="lazy" fetchpriority="low" width="134" height="84" alt="Urtopia Ebike - Sleek, Full Carbon, Lightweight, Smart">
                                        </div>
                                      
                                      
                                    </div>
                                    <div class="links">
                                      {%- for childlink in link.links -%}
                                        <a class="u14Medium_v2" href="{{ childlink.url }}">{{ childlink.title }}</a>
                                      {% endfor %}
                                    </div>
                                </div>
                              </div>
                            </div>
                          </details>
                        {%- else -%}
                          <a href="{{ link.url }}" class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
                            {{ link.title | escape }}
                          </a>
                        {%- endif -%}
                      </li>
                    {%- endfor -%}
                    <li class="er-flex er-items-end er-underline er-flex-1">
                      <a class="menu-drawer__menu-item list-menu__item link link--text focus-inset" href="https://newurtopia.com/pages/track-my-package">Track My Package</a>
                    </li>
                  </ul>
                </nav>
                <div class="menu-drawer__utility-links">
                  {%- if shop.customer_accounts_enabled -%}
                    <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="menu-drawer__account link focus-inset h5">
                      {% render 'icon-account' %}
                      {%- liquid
                        if customer
                          echo 'customer.account_fallback' | t
                        else
                          echo 'customer.log_in' | t
                        endif
                      -%}
                    </a>
                  {%- endif -%}
                  <ul class="list list-social list-unstyled" role="list">
                    {%- if settings.social_twitter_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_twitter_link }}" class="list-social__link link" rel="nofollow">
                          {%- render 'icon-twitter' -%}
                          <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_facebook_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_facebook_link }}" class="list-social__link link" rel="nofollow">
                          {%- render 'icon-facebook' -%}
                          <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_pinterest_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_pinterest_link }}" class="list-social__link link" rel="nofollow">
                          {%- render 'icon-pinterest' -%}
                          <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_instagram_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_instagram_link }}" class="list-social__link link" rel="nofollow">
                          {%- render 'icon-instagram' -%}
                          <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_tiktok_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_tiktok_link }}" class="list-social__link link" rel="nofollow">
                          {%- render 'icon-tiktok' -%}
                          <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_tumblr_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_tumblr_link }}" class="list-social__link link" rel="nofollow">
                          {%- render 'icon-tumblr' -%}
                          <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_snapchat_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_snapchat_link }}" class="list-social__link link" rel="nofollow">
                          {%- render 'icon-snapchat' -%}
                          <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_youtube_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_youtube_link }}" class="list-social__link link" rel="nofollow">
                          {%- render 'icon-youtube' -%}
                          <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_vimeo_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_vimeo_link }}" class="list-social__link link" rel="nofollow">
                          {%- render 'icon-vimeo' -%}
                          <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </details>
      </header-drawer>
    {%- endif -%}

    {%- if section.settings.logo_position == 'top-center' or section.settings.menu == blank -%}
      <details-modal class="header__search">
        <details>
          <summary class="header__icon header__icon--search header__icon--summary link focus-inset modal__toggle" aria-haspopup="dialog" aria-label="{{ 'general.search.search' | t }}">
            <span>
              <svg class="modal__toggle-open icon icon-search" width="20" height="20" aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-search">
              </svg>
              <svg class="modal__toggle-close icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-close">
              </svg>
            </span>
          </summary>
          <div class="search-modal modal__content gradient" role="dialog" aria-modal="true" aria-label="{{ 'general.search.search' | t }}">
            <div class="modal-overlay"></div>
            <div class="search-modal__content{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} search-modal__content-top{% else %} search-modal__content-bottom{% endif %}" tabindex="-1">
              {%- if settings.predictive_search_enabled -%}
                <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
              {%- endif -%}
                <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
                  <div class="field">
                    <input class="search__input field__input"
                      id="Search-In-Modal-1"
                      type="search"
                      name="q"
                      value=""
                      placeholder="{{ 'general.search.search' | t }}"
                      {%- if settings.predictive_search_enabled -%}
                        role="combobox"
                        aria-expanded="false"
                        aria-owns="predictive-search-results-list"
                        aria-controls="predictive-search-results-list"
                        aria-haspopup="listbox"
                        aria-autocomplete="list"
                        autocorrect="off"
                        autocomplete="off"
                        autocapitalize="off"
                        spellcheck="false"
                      {%- endif -%}
                    >
                    <label class="field__label" for="Search-In-Modal-1">{{ 'general.search.search' | t }}</label>
                    <input type="hidden" name="options[prefix]" value="last">
                    <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                      <svg class="icon icon-search" width="20" height="20" aria-hidden="true" focusable="false" role="presentation">
                        <use href="#icon-search">
                      </svg>
                    </button>
                  </div>

                  {%- if settings.predictive_search_enabled -%}
                    <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
                      <div class="predictive-search__loading-state">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                        </svg>
                      </div>
                    </div>

                    <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
                  {%- endif -%}
                </form>
              {%- if settings.predictive_search_enabled -%}
                </predictive-search>
              {%- endif -%}
              <button type="button" class="modal__close-button link link--text focus-inset" aria-label="{{ 'accessibility.close' | t }}">
                <svg width="17" height="17" class="icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                  <use href="#icon-close">
                </svg>
              </button>
            </div>
          </div>
        </details>
      </details-modal>
    {%- endif -%}

    <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
          {%- if section.settings.logo != blank -%}
            {%- assign logo_alt = section.settings.logo.alt | default: shop.name | escape -%}
            {%- assign logo_height = section.settings.logo_width | divided_by: section.settings.logo.aspect_ratio -%}
            <svg width="100" height="46" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192.91 26.46" id="_图层_2"><defs></defs><g id="_图层_1-2"><path d="M182.43,19.55l-8.81.05-5.02,6.83h24.33l-9.72-23.51c-.69-1.63-1.78-2.91-3.72-2.91-2.03,0-3.5,1.4-4.6,2.91l-16.76,23.51h7.66l12.26-17.26,4.39,10.38Z" class="cls-1"/><polygon points="154.77 26.43 148.41 26.43 152.25 0 158.55 0 154.77 26.43" class="cls-1"/><path d="M102.69,0c-8.58,0-13.35,3.92-14.46,11.76-.12.85-.56,4.59-.56,5.36,0,6.21,3.91,9.31,12.73,9.31,9.68,0,13.35-3.92,14.46-11.76.12-.85.56-4.59.56-5.36C115.42,3.11,111.52,0,102.69,0ZM108.46,14.68c-.48,3.65-2.21,5.08-7.14,5.08-5.63,0-7.23-.93-7.23-3.65,0-.43.46-3.81.53-4.35.47-3.65,2.26-4.86,7.18-4.86,5.63,0,7.19.71,7.19,3.42,0,.43-.44,3.66-.53,4.35Z" class="cls-1"/><polygon points="61.76 0 64.39 6.86 72.1 6.84 69.36 26.43 75.88 26.43 78.65 6.84 86.45 6.86 89.04 0 61.76 0" class="cls-1"/><path d="M27.19,14.67c-1.11,7.86-5.87,11.79-14.46,11.79S0,23.35,0,17.12c0-.78.06-1.6.18-2.45L2.24,0h6.37l-2.09,14.67c-.06.54-.09,1.01-.09,1.44,0,2.72,1.6,3.66,7.23,3.66,4.92,0,6.61-1.44,7.14-5.1L22.85,0h6.4l-2.06,14.67Z" class="cls-1"/><path d="M61.33,9.94c0-5.39-4.39-9.94-9.73-9.94h-17.12l2.73,6.87h14.07c1.65,0,2.98,1.35,2.98,3.02s-1.34,2.97-2.98,2.97h-18.5l-1.93,13.57,6.36.03,1.03-6.75h10.52l3.06,6.75h6.35l-3.22-7.23h-.02c3.87-1.27,6.4-4.94,6.4-9.28Z" class="cls-1"/><path d="M137.69,0c5.33,0,9.65,4.55,9.65,9.93s-4.32,9.76-9.65,9.76h-13.31l-1.01,6.74h-6.36l2.02-13.59h18.26c1.65,0,2.98-1.29,2.98-2.95s-1.34-3.02-2.98-3.02h-13.63L120.94,0h16.75Z" class="cls-1"/></g></svg>
          {%- else -%}
            <span class="h2">{{ shop.name }}</span>
          {%- endif -%}
        </a>

    {%- if section.settings.menu != blank -%}
      {%- if section.settings.menu_type_desktop == 'dropdown' -%}
        <nav class="header__inline-menu">
          <ul class="list-menu list-menu--inline" role="list">
            {%- for link in section.settings.menu.links -%}
              <li>
                {%- if link.links != blank -%}
                  <header-menu>
                    <details id="Details-HeaderMenu-{{ forloop.index }}">
                      <summary class="header__menu-item list-menu__item link focus-inset">
                        <span {%- if link.child_active %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                        {% render 'icon-caret' %}
                      </summary>
                      <ul id="HeaderMenu-MenuList-{{ forloop.index }}" class="header__submenu list-menu list-menu--disclosure gradient caption-large motion-reduce global-settings-popup" role="list" tabindex="-1">
                        {%- for childlink in link.links -%}
                          <li>
                            {%- if childlink.links == blank -%}
                              <a href="{{ childlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                {{ childlink.title | escape }}
                              </a>
                            {%- else -%}
                              <details id="Details-HeaderSubMenu-{{ forloop.index }}">
                                <summary class="header__menu-item link link--text list-menu__item focus-inset caption-large">
                                  <span>{{ childlink.title | escape }}</span>
                                  {% render 'icon-caret' %}
                                </summary>
                                <ul id="HeaderMenu-SubMenuList-{{ forloop.index }}" class="header__submenu list-menu motion-reduce">
                                  {%- for grandchildlink in childlink.links -%}
                                    <li>
                                      <a href="{{ grandchildlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                        {{ grandchildlink.title | escape }}
                                      </a>
                                    </li>
                                  {%- endfor -%}
                                </ul>
                              </details>
                            {%- endif -%}
                          </li>
                        {%- endfor -%}
                      </ul>
                    </details>
                  </header-menu>
                {%- else -%}
                  <a href="{{ link.url }}" class="header__menu-item header__menu-item list-menu__item link {% if link.title == "ORDER NOW" %}orderBtn{% endif %} link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>
                    <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                  </a>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        </nav>
      {%- else -%}
        <nav class="header__inline-menu">
          <ul class="list-menu list-menu--inline" role="list">
            {%- for link in section.settings.menu.links -%}
              <li>
                {%- if link.links != blank -%}
                  <header-menu>
                    <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
                      <summary class="header__menu-item list-menu__item link focus-inset">
                        <span {%- if link.child_active %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                        {% render 'icon-caret' %}
                      </summary>
                      <div id="MegaMenu-Content-{{ forloop.index }}" class="mega-menu__content gradient motion-reduce global-settings-popup {% if link.title == 'E-Bike' %}mega_ebike_content{% endif %}" tabindex="-1">
                        <div class="hedaer-secondary-menu">
                              <div class="links">
                                  <div class="u24Medium_v2">Explore Urtopia world</div>
                                  <a href="/collections/e-bike-sale" class="u14Medium_v2 er-bg-gradient-to-r er-from-[#FF3684] er-to-[#FF8F1D] text-size14 er-font-bold er-py-2 er-px-6 er-rounded-3xl er-text-white er-w-fit !er-opacity-100">Ebikes on Sale</a>
                                  {%- for childlink in link.links -%}
                                    <a class="u14Medium_v2" href="{{ childlink.url }}">{{ childlink.title }}</a>
                                  {% endfor %}
                                  <span class="flex-1"></span>
                              </div>
                              <div class="flex-1 centreallllll">
                                  <div class="supportssssss">
                                     <div class="u11Medium_v2">
                                        <img width="25" height="25" loading="lazy" fetchpriority="low" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/ChatGPT_Image_Jun_20_2025_03_17_09_PM.png?v=1750404222" alt="ul">
                                        <span>UL Safety Certified</span>
                                      </div>
                                      <div class="u11Medium_v2">
                                        <img loading="lazy" fetchpriority="low" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/ChatGPT_Image_Jun_20_2025_03_32_56_PM.png?v=1750405019" width="30" height="30" alt="Flexible Payment">
                                        <span>{{ settings.shop_count }} Bike Shops</span>
                                      </div>
                                      <div class="u11Medium_v2">
                                        <img loading="lazy" fetchpriority="low" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_17958_2x_41614a03-d5f7-4c8a-b655-e3ba79c626a6.png?v=1697791379" width="30" height="30" alt="2-Year Warranty">
                                        <span>2-Year Warranty</span>
                                      </div>
                                      <div class="u11Medium_v2">
                                        <img loading="lazy" fetchpriority="low" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_17960_2x_b54a5500-60e1-44b7-ba11-ffac13f27945.png?v=1697791367"  width="30" height="30" alt="Shipping">
                                        <span>Free Shipping</span>
                                      </div>
                                      <div class="u11Medium_v2">
                                        <img loading="lazy" fetchpriority="low" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_17959_2x_5daec689-64b5-442d-b3f2-64aa9bdf17f0.png?v=1697791373" width="30" height="30" alt="14-Day Returns">
                                        <span>14-Day Returns</span>
                                      </div>
                                  </div>
                                  <div class="flex-1"></div>
                                  <div class="bikesssssss">
                                    {% assign productttttt =  all_products["urtopia-carbon-classic-ebike"].first_available_variant %}
                                      <div class="by-model" href="{{ productttttt.url }}">
                                          <span class="takkatukku">NEW</span>
                                          <img loading="lazy" fetchpriority="low" width="175" height="113" alt="Urtopia Ebike - Sleek, Full Carbon, Lightweight, Smart" src="{{ productttttt.featured_image | image_url: width: 500 }}">
                                          <div class="flex-1"></div>  
                                          <div class="u17DemiBold_v2">Carbon Classic</div>
                                          <div class="er-text-xl er-my-2">Timeless carbon style</div>
                                          <span class="u14DemiBold_v2 emphasize" {% unless productttttt.compare_at_price == productttttt.price %}data-price="{{ productttttt.compare_at_price | money_without_trailing_zeros }}"{% endunless %}>{{ productttttt.price | money_without_trailing_zeros }}</span>
                                      </div>
                                    {% assign productttttt =  all_products["urtopia-carbon-classic-step-thru-ebike"].first_available_variant %}
                                      <div class="by-model" href="{{ productttttt.url }}">
                                          <span class="takkatukku">NEW</span>
                                          <img loading="lazy" fetchpriority="low" decoding="async" width="180" height="113" alt="Urtopia Ebike - Sleek, Full Carbon, Lightweight, Smart" src="{{ productttttt.featured_image | image_url: width: 500 }}">
                                          <div class="flex-1"></div>
                                          <div class="u17DemiBold_v2">Carbon Classic ST</div>
                                          <div class="er-text-xl er-my-2">Lightweight Step-through Ebike</div>
                                          <span class="u14DemiBold_v2 emphasize" {% unless productttttt.compare_at_price == productttttt.price %}data-price="{{ productttttt.compare_at_price | money_without_trailing_zeros }}"{% endunless %}>{{ productttttt.price | money_without_trailing_zeros }}</span>
                                      </div>
                                    {% assign productttttt =  all_products["urtopia-joy-carbon-fat-tire-ebike"].first_available_variant %}
                                      <div class="by-model" href="{{ productttttt.url }}">
                                          <img loading="lazy" fetchpriority="low" width="175" height="113" alt="Urtopia Ebike - Sleek, Full Carbon, Lightweight, Smart" src="{{ productttttt.featured_image | image_url: width: 500 }}">
                                          <div class="flex-1"></div>  
                                          <div class="u17DemiBold_v2">Joy Carbon</div>
                                          <div class="er-text-xl er-my-2">Lightweight Fat Tire Ebike</div>
                                          <span class="u14DemiBold_v2 emphasize" {% unless productttttt.compare_at_price == productttttt.price %}data-price="{{ productttttt.compare_at_price | money_without_trailing_zeros }}"{% endunless %}>{{ productttttt.price | money_without_trailing_zeros }}</span>
                                      </div>
                                    {% assign productttttt =  all_products["urtopia-carbon-fold"].first_available_variant %}
                                      <div class="by-model" href="{{ productttttt.url }}">
                                          <img loading="lazy" fetchpriority="low" decoding="async" width="180" height="113" alt="Urtopia Ebike - Sleek, Full Carbon, Lightweight, Smart" src="{{ productttttt.featured_image | image_url: width: 500 }}">
                                          <div class="flex-1"></div>
                                          <div class="u17DemiBold_v2">Carbon Fold 1</div>
                                          <div class="er-text-xl er-my-2">Lightweight Folding Ebike</div>
                                          <span class="u14DemiBold_v2 emphasize" {% unless productttttt.compare_at_price == productttttt.price %}data-price="{{ productttttt.compare_at_price | money_without_trailing_zeros }}"{% endunless %}>{{ productttttt.price | money_without_trailing_zeros }}</span>
                                      </div>
                                    {% assign productttttt =  all_products["urtopia-carbon-1-pro-ebike"].variants | where: "title", "M / Matte Black" %}
                                      <div class="by-model" href="{{ productttttt.first.url }}">
                                          <img loading="lazy" fetchpriority="low" width="180" height="113" alt="Urtopia Ebike - Sleek, Full Carbon, Lightweight, Smart" src="{{ productttttt.first.featured_image | image_url: width: 500 }}">
                                          <div class="flex-1"></div>
                                          <div class="u17DemiBold_v2">Carbon 1 Pro</div>
                                          <div class="er-text-xl er-my-2">Lightweight Trekking Ebike</div>
                                          <span class="u14DemiBold_v2 emphasize" {% unless productttttt.first.compare_at_price == productttttt.first.price %}data-price="{{ productttttt.first.compare_at_price | money_without_trailing_zeros }}"{% endunless %}>{{ productttttt.first.price | money_without_trailing_zeros }}</span>
                                      </div>
                                    {% assign productttttt =  all_products["urtopia-carbon-1-step-thru-ebike"].variants | where: "title", "One Size / Glacier Blue" %}
                                      <div class="by-model" href="{{ productttttt.first.url }}">
                                          <img loading="lazy" fetchpriority="low" width="175" height="113" alt="Urtopia Ebike - Sleek, Full Carbon, Lightweight, Smart" src="{{ productttttt.first.featured_image | image_url: width: 500 }}">
                                          <div class="flex-1"></div>  
                                          <div class="u17DemiBold_v2">Carbon 1 ST</div>
                                          <div class="er-text-xl er-my-2">Lightweight Commuter Ebike</div>
                                          <span class="u14DemiBold_v2 emphasize" {% unless productttttt.first.compare_at_price == productttttt.first.price %}data-price="{{ productttttt.first.compare_at_price | money_without_trailing_zeros }}"{% endunless %}>{{ productttttt.first.price | money_without_trailing_zeros }}</span>
                                      </div>
                                    {% assign productttttt =  all_products["urtopia-fusion-pro-carbon-long-range-ebike"].variants | where: "title", "One Size / Vital Orange" %}
                                      <div class="by-model" href="{{ productttttt.first.url }}">
                                          <img loading="lazy" fetchpriority="low" width="180" height="113" alt="Urtopia Ebike - Sleek, Full Carbon, Lightweight, Smart" src="{{ productttttt.first.featured_image | image_url: width: 500 }}">
                                          <div class="flex-1"></div>  
                                          <div class="u17DemiBold_v2">Carbon Fusion Pro</div>
                                          <div class="er-text-xl er-my-2">Lightweight Long Range EBike</div>
                                          <span class="u14DemiBold_v2 emphasize" {% unless productttttt.first.compare_at_price == productttttt.first.price %}data-price="{{ productttttt.first.compare_at_price | money_without_trailing_zeros }}"{% endunless %}>{{ productttttt.first.price | money_without_trailing_zeros }}</span>
                                      </div>
                                    {% assign productttttt =  all_products["urtopia-carbon-fusion-gt"].variants | where: "title", "One Size / Deep Sea Blue" %}
                                      <div class="by-model" href="{{ productttttt.first.url }}">
                                          <img loading="lazy" fetchpriority="low" width="180" height="113" alt="Urtopia Ebike - Sleek, Full Carbon, Lightweight, Smart" src="{{ productttttt.first.featured_image | image_url: width: 500 }}">
                                          <div class="flex-1"></div>  
                                          <div class="u17DemiBold_v2">Carbon Fusion GT</div>
                                          <div class="er-text-xl er-my-2">Lightweight Dual Motor eBike</div>
                                          <span class="u14DemiBold_v2 emphasize" {% unless productttttt.first.compare_at_price == productttttt.first.price %}data-price="{{ productttttt.first.compare_at_price | money_without_trailing_zeros }}"{% endunless %}>{{ productttttt.first.price | money_without_trailing_zeros }}</span>
                                      </div>
                                    
                                    
                                  </div>
                              </div>
                              
                          </div>
                      </div>
                    </details>
                  </header-menu>
                {%- else -%}
                  <a href="{{ link.url }}" class="header__menu-item header__menu-item list-menu__item link {% if link.title == "ORDER NOW" %}orderBtn{% endif %} link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>
                    <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                  </a>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        </nav>
      {%- endif -%}
    {%- endif -%}

    <div class="header__icons">
      <details-modal class="header__search">
        <details>
          <summary class="header__icon header__icon--search header__icon--summary link focus-inset modal__toggle" aria-haspopup="dialog" aria-label="{{ 'general.search.search' | t }}">
            <span>
              <svg class="modal__toggle-open icon icon-search" width="20" height="20" aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-search">
              </svg>
              <svg class="modal__toggle-close icon icon-close" width="17" height="17" aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-close">
              </svg>
            </span>
          </summary>
          <div class="search-modal modal__content gradient" role="dialog" aria-modal="true" aria-label="{{ 'general.search.search' | t }}">
            <div class="modal-overlay"></div>
            <div class="search-modal__content{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} search-modal__content-top{% else %} search-modal__content-bottom{% endif %}" tabindex="-1">
              {%- if settings.predictive_search_enabled -%}
                <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
              {%- endif -%}
                <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
                  <div class="field">
                    <input class="search__input field__input"
                      id="Search-In-Modal"
                      type="search"
                      name="q"
                      value=""
                      placeholder="{{ 'general.search.search' | t }}"
                      {%- if settings.predictive_search_enabled -%}
                        role="combobox"
                        aria-expanded="false"
                        aria-owns="predictive-search-results-list"
                        aria-controls="predictive-search-results-list"
                        aria-haspopup="listbox"
                        aria-autocomplete="list"
                        autocorrect="off"
                        autocomplete="off"
                        autocapitalize="off"
                        spellcheck="false"
                      {%- endif -%}
                    >
                    <label class="field__label" for="Search-In-Modal">{{ 'general.search.search' | t }}</label>
                    <input type="hidden" name="options[prefix]" value="last">
                    <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                      <svg class="icon icon-search" width="20" height="20" aria-hidden="true" focusable="false" role="presentation">
                        <use href="#icon-search">
                      </svg>
                    </button>
                  </div>

                  {%- if settings.predictive_search_enabled -%}
                    <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
                      <div class="predictive-search__loading-state">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                        </svg>
                      </div>
                    </div>

                    <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
                  {%- endif -%}
                </form>
              {%- if settings.predictive_search_enabled -%}
                </predictive-search>
              {%- endif -%}
              <button type="button" class="search-modal__close-button modal__close-button link link--text focus-inset" aria-label="{{ 'accessibility.close' | t }}">
                <svg class="icon icon-close" width="17" height="17" aria-hidden="true" focusable="false" role="presentation">
                  <use href="#icon-close">
                </svg>
              </button>
            </div>
          </div>
        </details>
      </details-modal>

      {%- if shop.customer_accounts_enabled -%}
        <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}">
          {% render 'icon-account' %}
          <span class="visually-hidden">
            {%- liquid
              if customer
                echo 'customer.account_fallback' | t
              else
                echo 'customer.log_in' | t
              endif
            -%}
          </span>
        </a>
      {%- endif -%}

      <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" {% if template == 'cart' %} style="display: none;" {% endif %} id="cart-icon-bubble">
        {% render 'icon-cart' %}
        <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
        {%- if cart != empty -%}
          <div class="cart-count-bubble">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- else -%}
        	<div class="cart-count-bubble">
              <span aria-hidden="true">0</span>
              <span class="visually-hidden">0 item</span>
          	</div>
        {%- endif -%}
      </a>
    </div>
  </header>
</{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %}>

{%- if settings.cart_type == "notification" -%}
  {%- render 'cart-notification', color_scheme: section.settings.color_scheme -%}
{%- endif -%}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      "logo": {{ section.settings.logo | image_url: width: section.settings.logo.width | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label"
    },
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label",
      "info": "t:sections.header.settings.logo_position.info"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "select",
      "id": "menu_type_desktop",
      "options": [
        {
          "value": "dropdown",
          "label": "t:sections.header.settings.menu_type_desktop.options__1.label"
        },
        {
          "value": "mega",
          "label": "t:sections.header.settings.menu_type_desktop.options__2.label"
        }
      ],
      "default": "dropdown",
      "label": "t:sections.header.settings.menu_type_desktop.label",
      "info": "t:sections.header.settings.menu_type_desktop.info"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "t:sections.header.settings.enable_sticky_header.label",
      "info": "t:sections.header.settings.enable_sticky_header.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.header.settings.margin_bottom.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ]
}
{% endschema %}
