{%- style -%}
  .header {
    box-sizing: border-box;
  }
  
  .mega-menu__content,
  .search-modal,
  .menu-drawer {
    content-visibility: auto;
  }

  .header-wrapper {
    height: 60px;
  }

  .section-header {
    margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }


  @media screen and (min-width: 750px) {
    .section-header {
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }

  @media screen and (min-width: 990px) {
    .header {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }

  @keyframes gradientMove {
      0% {
        background-position: 0% 50%;
      }
      100% {
        background-position: 100% 50%;
      }
    }

  .header__inline-menu ul li:first-child a>span {
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    color: transparent;
    background-image: linear-gradient(90deg, #FF3684, #FF8F1D, #FF3684, #FF8F1D);
    background-size: 300%;
    background-clip: text;
    -webkit-background-clip: text;
    animation: gradientMove 2s infinite linear;
  }

  .menu-drawer__menu.has-submenu.list-menu {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .mega_ebike_content {
    transition: all .4s;
  }

  summary.list-menu__item {
    padding-right: 2.25rem;
  }

  .list-menu--disclosure {
    width: auto !important;
  }

  details[open] .er-absolute.er-right-2.er-top-5.er-transition-all {
    transform: rotate(180deg);
  }
  
{%- endstyle -%}
<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icon-search" viewbox="0 0 18 19" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z" fill="currentColor"/>
  </symbol>

  <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
    <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
  </symbol>
</svg>
<{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %} class="header-wrapper color-{{ section.settings.color_scheme }} gradient{% if section.settings.show_line_separator %} header-wrapper--border-bottom{% endif %}">
  <header class="header header--{{ section.settings.logo_position }} page-width{% if section.settings.menu != blank %} header--has-menu{% endif %}">
    {%- if section.settings.menu != blank -%}
      <header-drawer data-breakpoint="tablet">
        <details id="Details-menu-drawer-container" class="menu-drawer-container">
          <summary class="header__icon header__icon--menu header__icon--summary link focus-inset" aria-label="{{ 'sections.header.menu' | t }}">
            <span>
              {% render 'icon-hamburger' %}
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-close !er-w-12 !er-h-12" width="32" height="32" viewBox="0 0 80 80" fill="currentColor">
                <path d="M40.0833 43.1667L22.6667 60.6667C22.1667 61.1667 21.625 61.4167 21.0417 61.4167C20.4583 61.4167 19.8889 61.1389 19.3333 60.5833C18.8333 60.0278 18.5972 59.5 18.625 59C18.6528 58.5 18.9167 57.9722 19.4167 57.4167L36.75 40L19.3333 22.4167C18.8889 21.9167 18.6528 21.4028 18.625 20.875C18.5972 20.3472 18.8333 19.8056 19.3333 19.25C19.8889 18.6944 20.4444 18.4028 21 18.375C21.5556 18.3472 22.1111 18.6111 22.6667 19.1667L40.0833 36.6667L57.3333 19.1667C57.8333 18.6667 58.375 18.4167 58.9583 18.4167C59.5417 18.4167 60.1111 18.6944 60.6667 19.25C61.1667 19.8056 61.4028 20.3333 61.375 20.8333C61.3472 21.3333 61.0833 21.8611 60.5833 22.4167L43.25 40L60.5833 57.4167C61.0278 57.8611 61.2778 58.3611 61.3333 58.9167C61.3889 59.4722 61.1667 60.0278 60.6667 60.5833C60.1111 61.1389 59.5556 61.4306 59 61.4583C58.4444 61.4861 57.8889 61.2222 57.3333 60.6667L40.0833 43.1667Z" fill="currentColor"/>
              </svg>
            </span>
          </summary>
          <div id="menu-drawer" class="gradient menu-drawer motion-reduce" tabindex="-1">
            <div class="menu-drawer__inner-container">
              <div class="menu-drawer__navigation-container">
                <nav class="menu-drawer__navigation">
                  <ul class="menu-drawer__menu has-submenu list-menu" role="list">
                    {%- for link in section.settings.menu.links -%}
                      <li>
                        {%- if link.links != blank -%}
                           {% if link.handle == 'support' %}
                              <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                                <summary class="menu-drawer__menu-item list-menu__item link link--text">
                                  {{ link.title | escape }}
                                  {% render 'icon-arrow2', class: 'er-absolute er-right-8' %}
                                </summary>
                                <div id="link-{{ link.title | escape }}" class="menu-drawer__submenu has-submenu gradient motion-reduce" tabindex="-1">
                                    <div class="menu-drawer__inner-submenu">
                                      <button class="menu-drawer__close-button link link--text er-mb-4" aria-expanded="true">
                                        {% render 'icon-arrow2', class: 'er-rotate-180 er-mr-2 er-h-11 er-w-11' %}
                                        {{ link.title | escape }}
                                      </button>
                                      {% for item in link.links %}
                                        <a href="{{ item.url }}" style="font-size: 16px;" class="menu-drawer__menu-item list-menu__item link link--text{% if item.current %} menu-drawer__menu-item--active{% endif %}">
                                          {{ item.title | escape }}
                                        </a>
                                      {% endfor %}
                                      <a href="mailto:support@newurtopia.com" style="font-size: 16px;" class="menu-drawer__menu-item list-menu__item link link--text er-flex er-items-end er-select-auto er-mt-4">
                                        <img class="er-block er-mr-2" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19888.svg?v=1770366251" loading="lazy" alt="support@newurtopia.com">
                                        <span>support@newurtopia.com</span>
                                      </a>
                                      <a href="mailto:support@newurtopia.com" style="font-size: 16px;" class="menu-drawer__menu-item list-menu__item link link--text er-flex er-items-center !er-justify-start er-select-auto">
                                        <img class="er-block er-mr-2" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19890.svg?v=1770366251" loading="lazy" alt="support@newurtopia.com">
                                        <div class="er-select-auto">+1 (949) 899-6668<br><span class="er-opacity-70 text-size14">(Mon-Fri 11am- 8pm PST)</span></div>
                                      </a>
                                    </div>
                                  </div>
                              </details>
                            {% else %}
                              <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                                  <summary class="menu-drawer__menu-item list-menu__item link link--text">
                                    {{ link.title | escape }}
                                    {% render 'icon-arrow2', class: 'er-absolute er-right-8' %}
                                  </summary>
                                  <div id="link-{{ link.title | escape }}" class="menu-drawer__submenu has-submenu gradient motion-reduce" tabindex="-1">
                                    <div class="menu-drawer__inner-submenu">
                                      <button class="menu-drawer__close-button link link--text" aria-expanded="true">
                                        {% render 'icon-arrow2', class: 'er-rotate-180 er-mr-2 er-h-11 er-w-11' %}
                                        {{ link.title | escape }}
                                      </button>
                                       {% render 'header-dropdown', links: link.links %}
                                    </div>
                                  </div>
                                </details>
                           {% endif %}
                        {%- else -%}
                          <a href="{{ link.url }}" class="menu-drawer__menu-item list-menu__item link link--text"{% if link.current %} aria-current="page"{% endif %}>
                            {{ link.title | escape }}
                          </a>
                        {%- endif -%}
                      </li>
                    {%- endfor -%}
                  </ul>
                </nav>
                <div class="menu-drawer__utility-links">
                  {%- if shop.customer_accounts_enabled -%}
                    <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="menu-drawer__account link focus-inset h5">
                      {% render 'icon-account' %}
                      {%- liquid
                        if customer
                          echo 'customer.account_fallback' | t
                        else
                          echo 'customer.log_in' | t
                        endif
                      -%}
                    </a>
                  {%- endif -%}
                  <ul class="list list-social list-unstyled er-items-center" role="list">
                    {%- if settings.social_twitter_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_twitter_link }}" class="list-social__link link" rel="nofollow">
                          <img height="25" width="25" loading="lazy" alt="{{ 'general.social.links.twitter' | t }}" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/logo_789f3bb6-b816-45b3-bae1-2adc726e791c.svg?v=1774432416&width=100"  >
                          <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_facebook_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_facebook_link }}" class="list-social__link link" rel="nofollow">
                          <img height="30" width="30" loading="lazy" alt="{{ 'general.social.links.facebook' | t }}" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Facebook_Logo_Primary.png?v=1774435359&width=100"  >
                          <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_pinterest_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_pinterest_link }}" class="list-social__link link" rel="nofollow">
                          {%- render 'icon-pinterest' -%}
                          <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_instagram_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_instagram_link }}" class="list-social__link link" rel="nofollow">
                          <img height="30" width="30" loading="lazy" alt="{{ 'general.social.links.instagram' | t }}" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Instagram_Glyph_Gradient_1.png?v=1774431495&width=100">
                          <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_tiktok_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_tiktok_link }}" class="list-social__link link" rel="nofollow">
                          <img height="28" width="28" loading="lazy" alt="{{ 'general.social.links.tiktok' | t }}" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/TIKTOK_SOCIAL_ICON_SOLO_BLACK.png?v=1774435769&width=100"  >
                          <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_tumblr_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_tumblr_link }}" class="list-social__link link" rel="nofollow">
                          {%- render 'icon-tumblr' -%}
                          <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_snapchat_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_snapchat_link }}" class="list-social__link link" rel="nofollow">
                          {%- render 'icon-snapchat' -%}
                          <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_youtube_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_youtube_link }}" class="list-social__link link" rel="nofollow">
                          <img height="30" width="35" loading="lazy" alt="{{ 'general.social.links.youtube' | t }}" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/yt_icon_red_digital_94ed742c-c4c8-49a9-b6db-a91b7784f95f.png?v=1774435220&width=100"  >
                          <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_vimeo_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_vimeo_link }}" class="list-social__link link" rel="nofollow">
                          {%- render 'icon-vimeo' -%}
                          <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </details>
      </header-drawer>
    {%- endif -%}

    {%- if section.settings.logo_position == 'top-center' or section.settings.menu == blank -%}
      <details-modal class="header__search">
        <details>
          <summary class="header__icon header__icon--search header__icon--summary link focus-inset modal__toggle" aria-haspopup="dialog" aria-label="{{ 'general.search.search' | t }}">
            <span>
              <svg class="modal__toggle-open icon icon-search" width="20" height="20" aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-search">
              </svg>
              <svg class="modal__toggle-close icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-close">
              </svg>
            </span>
          </summary>
          <div class="search-modal modal__content gradient" role="dialog" aria-modal="true" aria-label="{{ 'general.search.search' | t }}">
            <div class="modal-overlay"></div>
            <div class="search-modal__content{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} search-modal__content-top{% else %} search-modal__content-bottom{% endif %}" tabindex="-1">
              {%- if settings.predictive_search_enabled -%}
                <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
              {%- endif -%}
                <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
                  <div class="field">
                    <input class="search__input field__input"
                      id="Search-In-Modal-1"
                      type="search"
                      name="q"
                      value=""
                      placeholder="{{ 'general.search.search' | t }}"
                      {%- if settings.predictive_search_enabled -%}
                        role="combobox"
                        aria-expanded="false"
                        aria-owns="predictive-search-results-list"
                        aria-controls="predictive-search-results-list"
                        aria-haspopup="listbox"
                        aria-autocomplete="list"
                        autocorrect="off"
                        autocomplete="off"
                        autocapitalize="off"
                        spellcheck="false"
                      {%- endif -%}
                    >
                    <label class="field__label" for="Search-In-Modal-1">{{ 'general.search.search' | t }}</label>
                    <input type="hidden" name="options[prefix]" value="last">
                    <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                      <svg class="icon icon-search" width="20" height="20" aria-hidden="true" focusable="false" role="presentation">
                        <use href="#icon-search">
                      </svg>
                    </button>
                  </div>

                  {%- if settings.predictive_search_enabled -%}
                    <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
                      <div class="predictive-search__loading-state">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                        </svg>
                      </div>
                    </div>

                    <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
                  {%- endif -%}
                </form>
              {%- if settings.predictive_search_enabled -%}
                </predictive-search>
              {%- endif -%}
              <button type="button" class="modal__close-button link link--text focus-inset" aria-label="{{ 'accessibility.close' | t }}">
                <svg width="17" height="17" class="icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                  <use href="#icon-close">
                </svg>
              </button>
            </div>
          </div>
        </details>
      </details-modal>
    {%- endif -%}

    <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
          {%- if section.settings.logo != blank -%}
            {%- assign logo_alt = section.settings.logo.alt | default: shop.name | escape -%}
            {%- assign logo_height = section.settings.logo_width | divided_by: section.settings.logo.aspect_ratio -%}
            <svg width="100" height="46" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192.91 26.46" id="_图层_2"><defs></defs><g id="_图层_1-2"><path d="M182.43,19.55l-8.81.05-5.02,6.83h24.33l-9.72-23.51c-.69-1.63-1.78-2.91-3.72-2.91-2.03,0-3.5,1.4-4.6,2.91l-16.76,23.51h7.66l12.26-17.26,4.39,10.38Z" class="cls-1"/><polygon points="154.77 26.43 148.41 26.43 152.25 0 158.55 0 154.77 26.43" class="cls-1"/><path d="M102.69,0c-8.58,0-13.35,3.92-14.46,11.76-.12.85-.56,4.59-.56,5.36,0,6.21,3.91,9.31,12.73,9.31,9.68,0,13.35-3.92,14.46-11.76.12-.85.56-4.59.56-5.36C115.42,3.11,111.52,0,102.69,0ZM108.46,14.68c-.48,3.65-2.21,5.08-7.14,5.08-5.63,0-7.23-.93-7.23-3.65,0-.43.46-3.81.53-4.35.47-3.65,2.26-4.86,7.18-4.86,5.63,0,7.19.71,7.19,3.42,0,.43-.44,3.66-.53,4.35Z" class="cls-1"/><polygon points="61.76 0 64.39 6.86 72.1 6.84 69.36 26.43 75.88 26.43 78.65 6.84 86.45 6.86 89.04 0 61.76 0" class="cls-1"/><path d="M27.19,14.67c-1.11,7.86-5.87,11.79-14.46,11.79S0,23.35,0,17.12c0-.78.06-1.6.18-2.45L2.24,0h6.37l-2.09,14.67c-.06.54-.09,1.01-.09,1.44,0,2.72,1.6,3.66,7.23,3.66,4.92,0,6.61-1.44,7.14-5.1L22.85,0h6.4l-2.06,14.67Z" class="cls-1"/><path d="M61.33,9.94c0-5.39-4.39-9.94-9.73-9.94h-17.12l2.73,6.87h14.07c1.65,0,2.98,1.35,2.98,3.02s-1.34,2.97-2.98,2.97h-18.5l-1.93,13.57,6.36.03,1.03-6.75h10.52l3.06,6.75h6.35l-3.22-7.23h-.02c3.87-1.27,6.4-4.94,6.4-9.28Z" class="cls-1"/><path d="M137.69,0c5.33,0,9.65,4.55,9.65,9.93s-4.32,9.76-9.65,9.76h-13.31l-1.01,6.74h-6.36l2.02-13.59h18.26c1.65,0,2.98-1.29,2.98-2.95s-1.34-3.02-2.98-3.02h-13.63L120.94,0h16.75Z" class="cls-1"/></g></svg>
          {%- else -%}
            <span class="h2">{{ shop.name }}</span>
          {%- endif -%}
        </a>

    {%- if section.settings.menu != blank -%}
      {%- if section.settings.menu_type_desktop == 'dropdown' -%}
        <nav class="header__inline-menu">
          <ul class="list-menu list-menu--inline" role="list">
            {%- for link in section.settings.menu.links -%}
              <li>
                {%- if link.links != blank -%}
                  <header-menu>
                    <details id="Details-HeaderMenu-{{ forloop.index }}">
                      <summary class="header__menu-item list-menu__item link focus-inset">
                        <span {%- if link.child_active %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                        {% render 'icon-caret2' %}
                      </summary>
                      <ul id="HeaderMenu-MenuList-{{ forloop.index }}" class="header__submenu list-menu list-menu--disclosure gradient caption-large motion-reduce global-settings-popup" role="list" tabindex="-1">
                        {%- for childlink in link.links -%}
                          <li>
                            {%- if childlink.links == blank -%}
                              <a href="{{ childlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                {{ childlink.title | escape }}
                              </a>
                            {%- else -%}
                              <details id="Details-HeaderSubMenu-{{ forloop.index }}">
                                <summary class="header__menu-item link link--text list-menu__item focus-inset caption-large">
                                  <span>{{ childlink.title | escape }}</span>
                                  {% render 'icon-caret2' %}
                                </summary>
                                <ul id="HeaderMenu-SubMenuList-{{ forloop.index }}" class="header__submenu list-menu motion-reduce">
                                  {%- for grandchildlink in childlink.links -%}
                                    <li>
                                      <a href="{{ grandchildlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                        {{ grandchildlink.title | escape }}
                                      </a>
                                    </li>
                                  {%- endfor -%}
                                </ul>
                              </details>
                            {%- endif -%}
                          </li>
                        {%- endfor -%}
                      </ul>
                    </details>
                  </header-menu>
                {%- else -%}
                  <a href="{{ link.url }}" class="header__menu-item header__menu-item list-menu__item link {% if link.title == "ORDER NOW" %}orderBtn{% endif %} link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>
                    <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                  </a>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        </nav>
      {%- else -%}
        <nav class="header__inline-menu">
          <ul class="list-menu list-menu--inline" role="list">
            {%- for link in section.settings.menu.links -%}
              <li>
                {%- if link.links != blank -%}
                  {% if link.handle == 'support' %}
                    <header-menu>
                        <details>
                          <summary class="header__menu-item list-menu__item link focus-inset">
                            <span {%- if link.child_active %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                            {% render 'icon-caret2' %}
                          </summary>
                          <div class="header__submenu list-menu list-menu--disclosure gradient caption-large motion-reduce global-settings-popup !er-shadow" role="list" tabindex="-1">
                            {% for childlink in link.links %}
                              <a href="{{ childlink.url }}" {%- if forloop.first -%}style="font-weight: bold;"{%- endif -%} class="header__menu-item list-menu__item link link--text focus-inset caption-large text-size14 er-font-medium er-block{% if childlink.current %} list-menu__item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                {{ childlink.title | escape }}
                              </a>
                            {% endfor %}
                            <a href="mailto:support@newurtopia.com" class="header__menu-item list-menu__item link link--text focus-inset caption-large text-size14 er-font-medium er-flex er-items-end !er-pr-20 er-select-auto">
                              <img class="er-block er-mr-2" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19888.svg?v=1770366251" loading="lazy" alt="support@newurtopia.com">
                              <span>support@newurtopia.com</span>
                            </a>
                            <a href="mailto:support@newurtopia.com" class="header__menu-item list-menu__item link link--text focus-inset caption-large text-size14 er-font-medium er-flex er-items-center !er-justify-start !er-pr-20 er-select-auto">
                              <img class="er-block er-mr-2" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19890.svg?v=1770366251" loading="lazy" alt="support@newurtopia.com">
                              <div class="er-select-auto">+1 (949) 899-6668<br><span class="er-opacity-70 text-size12">(Mon-Fri 11am- 8pm PST)</span></div>
                            </a>
                          </div>
                        </details>
                    </header-menu>
                    {% else %}
                      <header-menu>
                        <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
                          <summary class="header__menu-item list-menu__item link focus-inset">
                            <span {%- if link.child_active %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                            {% render 'icon-caret2' %}
                          </summary>
                          <div id="MegaMenu-Content-{{ forloop.index }}" class="mega-menu__content gradient motion-reduce global-settings-popup {% if link.title == 'E-Bike' %}mega_ebike_content{% endif %}" tabindex="-1">
                            {% render 'header-dropdown', links: link.links %}
                          </div>
                        </details>
                      </header-menu>
                  {% endif %}
                {%- else -%}
                  <a href="{{ link.url }}" class="header__menu-item header__menu-item list-menu__item link {% if link.title == "ORDER NOW" %}orderBtn{% endif %} link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>
                    <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                  </a>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        </nav>
      {%- endif -%}
    {%- endif -%}

    <div class="header__icons">
      <details-modal class="header__search">
        <details>
          <summary class="header__icon header__icon--search header__icon--summary link focus-inset modal__toggle" aria-haspopup="dialog" aria-label="{{ 'general.search.search' | t }}">
            <span>
              <svg class="er-transition-all hover:er-scale-105 md:er-opacity-75" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 80 80" fill="none">
                <path d="M65.5833 68.5L44.5833 47.5C42.9167 48.8889 40.875 49.9583 38.4583 50.7083C36.0417 51.4583 33.75 51.8333 31.5833 51.8333C25.9167 51.8333 21.1111 49.8611 17.1667 45.9167C13.2222 41.9722 11.25 37.1667 11.25 31.5C11.25 25.8333 13.2222 21.0278 17.1667 17.0833C21.1111 13.1389 25.9167 11.1667 31.5833 11.1667C37.25 11.1667 42.0556 13.1389 46 17.0833C49.9444 21.0278 51.9167 25.8333 51.9167 31.5C51.9167 33.8333 51.5417 36.1389 50.7917 38.4167C50.0417 40.6945 49 42.6389 47.6667 44.25L68.75 65.3333L65.5833 68.5ZM31.5833 47.3333C36.0833 47.3333 39.8472 45.8195 42.875 42.7917C45.9028 39.7639 47.4167 36 47.4167 31.5C47.4167 27 45.9028 23.2361 42.875 20.2083C39.8472 17.1806 36.0833 15.6667 31.5833 15.6667C27.0833 15.6667 23.3194 17.1806 20.2917 20.2083C17.2639 23.2361 15.75 27 15.75 31.5C15.75 36 17.2639 39.7639 20.2917 42.7917C23.3194 45.8195 27.0833 47.3333 31.5833 47.3333Z" fill="currentColor"/>
              </svg>
              <svg class="modal__toggle-close icon icon-close" width="17" height="17" aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-close">
              </svg>
            </span>
          </summary>
          <div class="search-modal modal__content gradient" role="dialog" aria-modal="true" aria-label="{{ 'general.search.search' | t }}">
            <div class="modal-overlay"></div>
            <div class="search-modal__content{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} search-modal__content-top{% else %} search-modal__content-bottom{% endif %}" tabindex="-1">
              {%- if settings.predictive_search_enabled -%}
                <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
              {%- endif -%}
                <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
                  <div class="field">
                    <input class="search__input field__input"
                      id="Search-In-Modal"
                      type="search"
                      name="q"
                      value=""
                      placeholder="{{ 'general.search.search' | t }}"
                      {%- if settings.predictive_search_enabled -%}
                        role="combobox"
                        aria-expanded="false"
                        aria-owns="predictive-search-results-list"
                        aria-controls="predictive-search-results-list"
                        aria-haspopup="listbox"
                        aria-autocomplete="list"
                        autocorrect="off"
                        autocomplete="off"
                        autocapitalize="off"
                        spellcheck="false"
                      {%- endif -%}
                    >
                    <label class="field__label" for="Search-In-Modal">{{ 'general.search.search' | t }}</label>
                    <input type="hidden" name="options[prefix]" value="last">
                    <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                      <svg class="icon icon-search" width="20" height="20" aria-hidden="true" focusable="false" role="presentation">
                        <use href="#icon-search">
                      </svg>
                    </button>
                  </div>

                  {%- if settings.predictive_search_enabled -%}
                    <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
                      <div class="predictive-search__loading-state">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                        </svg>
                      </div>
                    </div>

                    <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
                  {%- endif -%}
                </form>
              {%- if settings.predictive_search_enabled -%}
                </predictive-search>
              {%- endif -%}
              <button type="button" class="search-modal__close-button modal__close-button link link--text focus-inset" aria-label="{{ 'accessibility.close' | t }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 80 80" fill="currentColor">
                  <path d="M40.0833 43.1667L22.6667 60.6667C22.1667 61.1667 21.625 61.4167 21.0417 61.4167C20.4583 61.4167 19.8889 61.1389 19.3333 60.5833C18.8333 60.0278 18.5972 59.5 18.625 59C18.6528 58.5 18.9167 57.9722 19.4167 57.4167L36.75 40L19.3333 22.4167C18.8889 21.9167 18.6528 21.4028 18.625 20.875C18.5972 20.3472 18.8333 19.8056 19.3333 19.25C19.8889 18.6944 20.4444 18.4028 21 18.375C21.5556 18.3472 22.1111 18.6111 22.6667 19.1667L40.0833 36.6667L57.3333 19.1667C57.8333 18.6667 58.375 18.4167 58.9583 18.4167C59.5417 18.4167 60.1111 18.6944 60.6667 19.25C61.1667 19.8056 61.4028 20.3333 61.375 20.8333C61.3472 21.3333 61.0833 21.8611 60.5833 22.4167L43.25 40L60.5833 57.4167C61.0278 57.8611 61.2778 58.3611 61.3333 58.9167C61.3889 59.4722 61.1667 60.0278 60.6667 60.5833C60.1111 61.1389 59.5556 61.4306 59 61.4583C58.4444 61.4861 57.8889 61.2222 57.3333 60.6667L40.0833 43.1667Z" fill="currentColor"/>
                </svg>
              </button>
            </div>
          </div>
        </details>
      </details-modal>

      {%- if shop.customer_accounts_enabled -%}
        <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}">
          <svg class="er-transition-all hover:er-scale-105 er-opacity-75" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 80 80" fill="none">
            <path d="M32.2917 33.2083C30.2084 31.125 29.1667 28.5556 29.1667 25.5C29.1667 22.4444 30.2084 19.875 32.2917 17.7917C34.3751 15.7083 36.9445 14.6667 40.0001 14.6667C43.0556 14.6667 45.6251 15.7083 47.7084 17.7917C49.7917 19.875 50.8334 22.4444 50.8334 25.5C50.8334 28.5556 49.7917 31.125 47.7084 33.2083C45.6251 35.2917 43.0556 36.3333 40.0001 36.3333C36.9445 36.3333 34.3751 35.2917 32.2917 33.2083ZM15.1667 65.75V58.8333C15.1667 57.2222 15.5973 55.75 16.4584 54.4167C17.3195 53.0833 18.5001 52.0556 20.0001 51.3333C23.2779 49.7222 26.5973 48.5139 29.9584 47.7083C33.3195 46.9028 36.6667 46.5 40.0001 46.5C43.3334 46.5 46.6806 46.9028 50.0417 47.7083C53.4029 48.5139 56.7223 49.7222 60.0001 51.3333C61.5001 52.0556 62.6806 53.0833 63.5417 54.4167C64.4029 55.75 64.8334 57.2222 64.8334 58.8333V65.75H15.1667ZM19.6667 61.25H60.3334V58.8333C60.3334 58.0556 60.1251 57.375 59.7084 56.7917C59.2917 56.2083 58.6945 55.7222 57.9167 55.3333C55.1945 54.0556 52.2726 53.0139 49.1509 52.2083C46.0298 51.4028 42.9795 51 40.0001 51C37.0206 51 33.9704 51.3889 30.8492 52.1667C27.7276 52.9444 24.8056 54 22.0834 55.3333C21.3056 55.6667 20.7084 56.1389 20.2917 56.75C19.8751 57.3611 19.6667 58.0556 19.6667 58.8333V61.25ZM44.5001 30C45.7223 28.7778 46.3334 27.2778 46.3334 25.5C46.3334 23.7222 45.7223 22.2222 44.5001 21C43.2779 19.7778 41.7779 19.1667 40.0001 19.1667C38.2223 19.1667 36.7223 19.7778 35.5001 21C34.2779 22.2222 33.6667 23.7222 33.6667 25.5C33.6667 27.2778 34.2779 28.7778 35.5001 30C36.7223 31.2222 38.2223 31.8333 40.0001 31.8333C41.7779 31.8333 43.2779 31.2222 44.5001 30Z" fill="currentColor"/>
          </svg>
          <span class="visually-hidden">
            {%- liquid
              if customer
                echo 'customer.account_fallback' | t
              else
                echo 'customer.log_in' | t
              endif
            -%}
          </span>
        </a>
      {%- endif -%}

      <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" {% if template == 'cart' %} style="display: none;" {% endif %} id="cart-icon-bubble">
        <svg class="er-transition-all hover:er-scale-105 md:er-opacity-75" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 80 80" fill="none">
          <path d="M22.1667 71.6667C20.1261 71.6667 18.4217 70.9822 17.0533 69.6133C15.6844 68.245 15 66.5405 15 64.5V29.3333C15 27.2933 15.6844 25.5889 17.0533 24.22C18.4217 22.8511 20.1261 22.1667 22.1667 22.1667H27.75V20C27.75 16.6667 28.9394 13.8889 31.3183 11.6667C33.6972 9.44444 36.5911 8.33333 40 8.33333C43.4089 8.33333 46.3028 9.44444 48.6817 11.6667C51.0606 13.8889 52.25 16.6667 52.25 20V22.1667H57.8333C59.8733 22.1667 61.5778 22.8511 62.9467 24.22C64.3156 25.5889 65 27.2933 65 29.3333V64.5C65 66.5405 64.3156 68.245 62.9467 69.6133C61.5778 70.9822 59.8733 71.6667 57.8333 71.6667H22.1667ZM22.1667 67.1667H57.8333C58.5 67.1667 59.1111 66.8889 59.6667 66.3333C60.2222 65.7778 60.5 65.1667 60.5 64.5V29.3333C60.5 28.6667 60.2222 28.0555 59.6667 27.5C59.1111 26.9444 58.5 26.6667 57.8333 26.6667H52.25V34.4167C52.25 35.0278 52.0278 35.5555 51.5833 36C51.1389 36.4444 50.6111 36.6667 50 36.6667C49.3889 36.6667 48.8611 36.4444 48.4167 36C47.9722 35.5555 47.75 35.0278 47.75 34.4167V26.6667H32.25V34.4167C32.25 35.0278 32.0278 35.5555 31.5833 36C31.1389 36.4444 30.6111 36.6667 30 36.6667C29.3889 36.6667 28.8611 36.4444 28.4167 36C27.9722 35.5555 27.75 35.0278 27.75 34.4167V26.6667H22.1667C21.5 26.6667 20.8889 26.9444 20.3333 27.5C19.7778 28.0555 19.5 28.6667 19.5 29.3333V64.5C19.5 65.1667 19.7778 65.7778 20.3333 66.3333C20.8889 66.8889 21.5 67.1667 22.1667 67.1667ZM32.25 22.1667H47.75V20C47.75 17.8889 47 16.1667 45.5 14.8333C44 13.5 42.1667 12.8333 40 12.8333C37.8333 12.8333 36 13.5 34.5 14.8333C33 16.1667 32.25 17.8889 32.25 20V22.1667Z" fill="currentColor"/>
        </svg>
        <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
        {%- if cart != empty -%}
          <div class="cart-count-bubble">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- else -%}
        	<div class="cart-count-bubble">
              <span aria-hidden="true">0</span>
              <span class="visually-hidden">0 item</span>
          	</div>
        {%- endif -%}
      </a>
    </div>
  </header>
</{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %}>

{%- if settings.cart_type == "notification" -%}
  {%- render 'cart-notification', color_scheme: section.settings.color_scheme -%}
{%- endif -%}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      "logo": {{ section.settings.logo | image_url: width: section.settings.logo.width | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label"
    },
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label",
      "info": "t:sections.header.settings.logo_position.info"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "select",
      "id": "menu_type_desktop",
      "options": [
        {
          "value": "dropdown",
          "label": "t:sections.header.settings.menu_type_desktop.options__1.label"
        },
        {
          "value": "mega",
          "label": "t:sections.header.settings.menu_type_desktop.options__2.label"
        }
      ],
      "default": "dropdown",
      "label": "t:sections.header.settings.menu_type_desktop.label",
      "info": "t:sections.header.settings.menu_type_desktop.info"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "t:sections.header.settings.enable_sticky_header.label",
      "info": "t:sections.header.settings.enable_sticky_header.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.header.settings.margin_bottom.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ]
}
{% endschema %}
