{{ 'outlet_v2.scss.css' | asset_url | stylesheet_tag: preload: true }}
<!--<div class="banner">
    <div class="centeral-content">
        <div class="u48DemiBold_v2">Affordable Luxury</div>
        <div>
            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18793_2x_8db49a70-586c-425b-a37d-bfe55f4731aa.png?v=1695626171" alt="">
            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_21573_2x_9f840b32-64a2-4cd1-a4c1-b4028593c226.png?v=1695626161" alt="">
        </div>
    </div>
</div>-->
<div class="banner_v2">
    <img class="pcHide" src="https://cdn.shopifycdn.net/s/files/1/0583/5810/4213/files/20231011-180457.png?v=1697018826" alt="">
    <div class="u48DemiBold_v2">The Best Lightweight E-Bikes</div>
    <div class="u30DemiBold_v2">EARLY BLACK FRIDAY DEALS</div>
    <div class="u17DemiBold_v2">LOWEST PRICE OF THE YEAR GUARANTEED!</div>
    <img class="pcHide" src="https://cdn.shopifycdn.net/s/files/1/0583/5810/4213/files/20231011-180450.png?v=1697018826" alt="">
    <img class="mobileHide" src="https://cdn.shopifycdn.net/s/files/1/0583/5810/4213/files/20231011-180420.png?v=1697018827" alt="">
</div>
<!--<div class="gray-background-color support">
    <div class="centeral-content">
        <div class="u20DemiBold_v2">
            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/placeholder_2x_fc2bfb7f-cdd3-428b-9855-2ffbde0f88a8.png?v=1695626894" alt="">
            <span>50+ Spots of Service</span>
        </div>
        <div class="u20DemiBold_v2">
            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/1200px-TUV-Sud-Logo.svg_2x_de4d4305-5cb1-404e-814c-2841ac41798e.png?v=1695696532" alt="">
            <span>TÜV Certified</span>
        </div>
        <div class="u20DemiBold_v2">
            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18844_2x_1f1932ef-fe7b-4f0c-9447-505a0309ac06.png?v=1695626877" alt="">
            <span>2-Year Warranty</span>
        </div>
    </div>
</div>-->
<div class="centeral-content u14Light_v2 tips">*For any order during Oct 1 - Dec 31 2023, if there is a price drop within this period on our website, you can request a refund for the difference by contacting our support. The refund will be automatically approved and returned to your account.</div>
<div class="centeral-content ebike-products">
    <div class="u36DemiBold_v2">Best seller at <span class="emphasize">lowest</span> price</div>
    <div class="u24Medium_v2">Limited stock ships with 5 working days</div>
    <div class="product-grid">
        {% assign product = all_products["urtopia-carbon-e-bike"] %}
        {% assign product_variants = product.variants | where: "option1", "Carbon 1s · 350W · Shimano 7-Speed" | where: "available" %}
        {% assign product_tags = settings.carbon_ebike_free_accessories_count | append: ' Freebies'   %}
        {% render 'product-card',
            product_variants: product_variants,
            product_variant_options_find_sort: "M,L,S",
            product_name: 'Carbon 1s',
            product_tags: product_tags,
            product_description: 'Powerful drive system ensures minimal effort and maximum fun',
            product_discount_price: settings.carbon1s_ebike_discount_price,
            product_url: product.url,
        %}
        {% assign product_variants = product.variants | where: "option1", "Carbon 1 · 250W · Carbon Belt" | where: "available" %}
        {% assign product_tags = settings.carbon_ebike_free_accessories_count | append: ' Freebies'  %}
        {% render 'product-card',
            product_variants: product_variants,
            product_variant_options_find_sort: "L,M",
            product_name: 'Carbon 1',
            product_description: 'Sporty, light and nimble e-bike for everyday transport, fitness and fun.',
            product_url: product.url,
        %}
        <div class="gray-background-color u30DemiBold_v2 lozad mobileHide" data-background-image="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_22829_2x_82531e4b-8b9c-40c7-822f-c58f9db7d477.jpg?v=1695625176">Full Carbon Lightweight Sporty</div>
        <div class="gray-background-color u30DemiBold_v2 lozad mobileHide" data-background-image="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_22830_2x_8c178fff-ea2f-4b60-99c8-a44937213f1f.jpg?v=1695625131">Casual Comfortable Elegant</div>
        {% assign product = all_products["urtopia-chord-ebike"] %}
        {% assign product_variants = product.variants | where: "option1", "High-Step" | where: "available" %}
        {% render 'product-card',
            product_variants: product_variants,
            product_name: 'Chord',
            product_description: 'Elegantly zip around town for meet-ups, errands, or Sunday fun.',
            product_discount_price: settings.chord_ebike_discount_price,
            product_url: product.url,
        %}
        {% assign product_variants = product.variants | where: "option1", "Step-Through" | where: "available" %}
        {% render 'product-card',
            product_variants: product_variants,
            product_name: 'Chord X',
            product_discount_price: settings.chord_ebike_discount_price,
            product_description: 'Easily kickstart your ride for workouts, city cruising, and pure enjoyment.',
            product_url: product.url,
        %}
    </div>
</div>
<div class="centeral-content components">
    <div class="u36DemiBold_v2">Upgrade Your Ride</div>
    <div class="swiper-box">
        <div class="swiper">
            <div class="swiper-wrapper">
                {% for prod in collections['other-page-accessories'].products %}
                    {% if prod.available %}
                        <div class="swiper-slide" data-url="{{ prod.url }}">
                            <img data-src="{{ prod.featured_image | image_url: width: 400 }}" alt="" class="lozad">
                            <div class="u24DemiBold_v2">{{ prod.title }}</div>
                            <div class="flex-1"></div>
                            <div class="u17Medium_v2">{{ prod.price | money }}</div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <img data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_18608_2x_10966514-e838-45c3-8f3d-029c79a44d25.png?v=1691836122" class="swiper-button-prev lozad mobileHide"/><!--左箭头。如果放置在swiper外面，需要自定义样式。-->
        <img data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_18608_2x_10966514-e838-45c3-8f3d-029c79a44d25.png?v=1691836122" class="swiper-button-next lozad mobileHide"/><!--右箭头。如果放置在swiper外面，需要自定义样式。-->
        <div class="swiper-scrollbar"></div>
    </div>
</div>

<div class="gray-background-color outlet-products">
    <div class="centeral-content">
        <div class="u48DemiBold_v2">OUTLET</div>
        <div class="u24Medium_v2">The Urtopia Outlet includes sample bikes with the same quality and appearance as new bikes. They are all fully serviced before we place them for sale.</div>
        <div class="u17Medium_v2">
            <div>
                <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18846_2x_62c7bce3-b183-4286-88f1-929c9233a2a3.png?v=1695626886" alt="">
                <span>Free Shipping</span>
            </div>
            <div>
                <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18844_2x_1f1932ef-fe7b-4f0c-9447-505a0309ac06.png?v=1695626877" alt="">
                <span>2-Year Warranty</span>
            </div>
        </div>
        <div class="product-grid">
            {% assign product = all_products["outlet-carbon-1-1s"] %}
            {% assign product_variants = product.variants | where: "option1", "Carbon 1s · 350W · Shimano 7-Speed" | where: "available" %}
            {% assign product_tags = "<span style='background-color: transparent;color: #000;border: 1px solid #000;'>Limited Stock</span>" %}
            {% render 'product-card',
                product_variants: product_variants,
                product_variant_options_find_sort: "L,M,S",
                product_name: 'Carbon 1s',
                product_tags: product_tags,
                product_description: 'Powerful drive system ensures minimal effort and maximum fun',
                product_url: product.url,
            %}
            {% assign product_variants = product.variants | where: "option1", "Carbon 1 · 250W · Carbon Belt" | where: "available" %}
            {% assign product_tags = "<span style='background-color: transparent;color: #000;border: 1px solid #000;'>Only size L available</span>" %}
            {% render 'product-card',
                product_variants: product_variants,
                product_variant_options_find_sort: "L,M",
                product_name: 'Carbon 1',
                product_tags: product_tags,
                product_description: 'Sporty, light and nimble e-bike for everyday transport, fitness and fun.',
                product_url: product.url,
            %}
        </div>
    </div>
</div>

<div class="test-ride">
    <div class="centeral-content">
        <div>
        <div>
            <div class="u36DemiBold_v2">Test ride spots near you</div>
            <div class="u20DemiBold_v2">Experience the bike in real</div>
            <a
            class="my-button my-button-origin"
            href="/pages/test-ride"
            target="_blank">Book a Free Test Ride</a>
        </div>
        </div>
        <div>
        <div style="padding: 0;">
            <div
            id="storepoint-container"
            data-tags="us"
            data-map-id="162f21804990ff"></div>
        </div>
        </div>
    </div>
</div>
<div class="boxs3" id="boxs3">
  <div class="centeral-content">
    <div data-background-image="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/IMG_0305_2x_50da775b-04f1-4130-ae17-56de65a34399.jpg?v=1687259019" class="lozad"></div>
    <div>
      <div class="u30DemiBold_v2">Local care all the time</div>
      <div class="u17Light_v2">
        <div><img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/shopping-mall_2x_44d99fcd-f0f4-443b-927e-b68e48af010f.png?v=1687259496">50+ service partners</div>
        <div><img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/24-hours_2x_d6a8eeb2-4564-4351-8cb9-096dbb778479.png?v=1687259501">24hrs service response, App build-in portal</div>
        <div><img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/box_2x_2b3b7c15-f5ae-4305-956f-7543b63b2dda.png?v=1687259506"><span>Spare parts available locally, ships in 3 days.1 service center, 50+ service partners</span>
        </div>
        <div><img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/customer-satisfaction_2x_c7081e3a-1864-43b6-8ed2-f77895eafa6a.png?v=1687259512">10+ technical experts, 99% satisfaction rate.</div>
      </div>
      <a class="my-button my-button-black" href="/pages/care" target="_blank">Learn more</a>
    </div>
    <!--<div>
      <div class="u30DemiBold_v2">Leasing Partners at Your Choice</div>
      <div class="u17Light_v2">We offer you the opportunity to get your dream bike at low monthly leasing rates through various leasing providers.</div>
      <div class="logos">
        <div>
          <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/JR-Logo_-RGB-schwarz-large-4x_2x_90eff7ba-f64b-45ef-8e7e-65490e740385.png?v=1687260470">
        </div>
        <div>
          <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18616_2x_d0fb1804-0a96-4524-9463-6cd30673cf6d.png?v=1687260793">
        </div>
       <div>
          <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18617_2x_6706fd9c-d8f3-434b-b77f-6e35eb007eb3.png?v=1687260762">
       </div>
        <div>
          <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/logo_meinstdienstrad_2021_2x_d5a1936d-fc18-418a-bb45-b9bb73e6c96a.png?v=1687260731">
        </div>
      </div>
      <a class="my-button my-button-black" href="/pages/ebike-leasing" target="_blank">Lease Now</a>
    </div>
    <div></div>-->
  </div>
</div>
<div class="centeral-content u42DemiBold_v2 customers">Let customers speak for us</div>

<script>
    $('.product-card .dots > div').on('click', e => {
        const target = $(e.target)
        const product_card = target.closest('.product-card')

        // 先取消 其它兄弟元素的active, 再设置active
        target.siblings().removeClass('active')
        target.addClass('active')

        const price = Number(target.attr('data-price'))
        const compare_at_price = Number(target.attr('data-compare-at-price'))
        const discount_price = Number(target.attr('data-product-discount-price'))
        const variant_id = target.attr('data-variant')
        const variant_image = target.attr('data-img')

        // outlet 车型
        if (discount_price === 0) {
            product_card.find('.product_price .u24DemiBold_v2').text(getPriceFormat(price, true)).attr('data-price', getPriceFormat(compare_at_price, true))
            product_card.find('.tags > span:first-child').text(`${getPriceFormat(compare_at_price - price, true)} OFF`)

            if (price === compare_at_price) {
                product_card.find('.product_price .u24DemiBold_v2').attr('data-price', '')
                product_card.find('.tags > span:first-child').hide()
            }
        } else {
            product_card.find('.product_price .u24DemiBold_v2').text(getPriceFormat(price - discount_price, true)).attr('data-price', getPriceFormat(price, true))
            product_card.find('.product_price .u17Light_v2 > span').text(getPriceFormat((price - discount_price) / 24))
            product_card.find('.tags > span:first-child').text(`${getPriceFormat(discount_price, true)} OFF`)
        }

        product_card.find('.variant-image').attr('src', variant_image)
        product_card.find('.my-button').attr('href', `${product_card.find('.my-button').attr('href').split('?').shift()}?variant=${variant_id}`)
    })

    setTimeout(() => {
        $('.product-card .dots > div:first-child').click()

        $('.product-card .variant-image').on('click', e => {
            const button = $(e.target).closest('.product-card').find('.my-button')

            if (button.length) {
                button[0].click()
            }
        })

        new Swiper('.components .swiper', {
                spaceBetween: 20,
                slidesPerView: global_config.is_mobile ? 1.25 : 4,
                navigation: {
                    nextEl: '.components .swiper-button-next',
                    prevEl: '.components .swiper-button-prev',
                },
                scrollbar: {
                        el: '.components .swiper-scrollbar',
                        draggable: true,
                },
        })

        $('.components .swiper-slide').on('click', e => {
            window.open($(e.target).closest('.swiper-slide').attr('data-url'))
        })
    })
</script>
<script src="https://cdn.storepoint.co/api/v1/js/162f21804990ff.js" defer></script>