{{ 'home.scss.css' | asset_url | stylesheet_tag: preload: true }}
<h1 class="visuallyhidden">Urtopia Ebike - Sleek, Full Carbon, Lightweight, Smart</h1>

<div class="banner">
    <video
    muted
    playsinline
    autoplay
    loop
    class="lozad mobileHide"
    data-src="https://cdn.shopify.com/videos/c/o/v/3f7896a67cee4d899e35648aef886964.mp4"
  ></video>
  <video
    muted
    playsinline
    autoplay
    loop
    class="lozad pcHide"
    data-src="https://cdn.shopify.com/videos/c/o/v/6102c554763245b0a69d3849b0a36477.mp4"
  ></video>
        <div class="backround"></div>
        <div class="centeral-content">
            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19649_2x_f872e7ff-cbc8-472f-85a1-4e3c8b88486d.png?v=1731569937&width=800" alt="">
            <span class="u20Medium_v2">Up to</span>
            <h2 class="u90DemiBold_v2">{{ all_products["urtopia-carbon-fusion-gt"].compare_at_price |  minus: all_products["urtopia-carbon-fusion-gt"].price |  plus: 20000 |  money_without_trailing_zeros }} OFF</h2>
            <a class="my-button" target="_blank" href="/collections/urtopia-black-friday-sale">Save now</a>
        </div>
    </div>
    <div class="centeral-content your">
        <h2 class="u36DemiBold_v2">Black Friday is Here</h2>
        <p class="u17Light_v2">
            <span>
                Get ready! All Urtopia carbon fiber e-bikes are now at our biggest Black Friday discount—up to {{ all_products["urtopia-carbon-fusion-gt"].compare_at_price |  minus: all_products["urtopia-carbon-fusion-gt"].price |  plus: 20000 |  money_without_trailing_zeros }} off! Ride in style this season!
            </span>
        </p>
        <a class="my-button my-button-black" target="_blank" href="/collections/urtopia-black-friday-sale">Explore our ebikes</a>
    </div>
    <div class="centeral-content cards">
        <div>
            <span class="u24DemiBold_v2">Ride outdoors and <br>explore more trails</span>
            <a class="my-button" target="_blank" href="/products/urtopia-carbon-fusion-gt">E-touring bikes</a>
        </div>
        <div>
            <span class="u24DemiBold_v2">All-Terrain Adventure</span>
            <a class="my-button" target="_blank" href="/products/urtopia-carbon-1-pro-ebike">E-gravel bikes</a>
        </div>
        <div>
            <span class="u24DemiBold_v2">Explore the <br>urban landscape</span>
            <a class="my-button" target="_blank" href="/products/urtopia-carbon-fold">E-city bikes</a>
        </div>
    </div>
    <div class="centeral-content carbon">
       <video playsinline loop autoplay muted class="mobileHide lozad" data-src="https://cdn.shopify.com/videos/c/o/v/3b12afd59783453c89f21ff6821e6187.mp4"></video>
        <h2 class="u36DemiBold_v2">Carbon fiber expert</h2>
        <p class="u17Light_v2">
            <span>
                Unleash the power of carbon fiber! As experts in the field, we deliver lightweight bikes that redefine performance and elevate your riding experience. Ride with the best!
            </span>
        </p>
        <a class="my-button" target="_blank" href="/pages/carbon-expert">Learn more</a>
    </div>
    <video playsinline loop autoplay muted class="pcHide lozad" data-src="https://cdn.shopify.com/videos/c/o/v/f1037f1f4d574b1ab3aca6efe4603fb3.mp4"></video>
    <div class="app">
        <h2 class="u36DemiBold_v2">The bicycle with a mind</h2>
        <p class="u17Light_v2">
            <span>
                Where innovation fuels greatness! Our eBikes unleash unmatched intelligence, featuring cutting-edge technology like ChatGPT. Elevate your ride—dominate the road with Urtopia!
            </span>
        </p>
        <a class="my-button my-button-black" target="_blank" href="/pages/pages-smartest-ebike">Learn more</a>
    </div>
    <div class="centeral-content reviews">
        <div>
            <span class="u24Medium_v2">Linus Tech Tips</span>
            <span class="u17Light_v2">15.5M Subscriber YouTuber</span>
            <span class="flex-1"></span>
            <span class="u36DemiBold_v2">Reviews</span>
            <span class="u17Light_v2">True review over the web</span>
            <a class="my-button my-button-ghost" target="_blank" href="/pages/urtopia-e-bike-review">Learn more</a>
        </div>
        <div>
            <!-- <span class="u24Medium_v2">Linus Tech Tips</span>
            <span class="u17Light_v2">15.5M Subscriber YouTuber</span> -->
            <span class="flex-1"></span>
            <span class="u36DemiBold_v2">Sustainability</span>
            <span class="u17Light_v2">Sustainability at the Heart of Urtopia</span>
            <a class="my-button my-button-ghost" target="_blank" href="/pages/sustainability-carbon-credit">Learn more</a>
        </div>
    </div>
    <div class="testride centeral-content">
        <div href="/pages/test-ride">
            <span class="u36DemiBold_v2">Test Ride Spots</span>
            <span class="u17Light_v2">Experience the bike in real</span>
            <a href="/pages/test-ride" target="_blank">Learn more</a>
        </div>
        <div href="/pages/care">
            <span class="u36DemiBold_v2">Peace of Mind</span>
            <span class="u17Light_v2">24/7 Support, Full After-Sales</span>
            <a href="/pages/care" target="_blank">Learn more</a>
        </div>
        <div href="/pages/aboutus">
            <span class="u36DemiBold_v2">About Us</span>
            <span class="u17Light_v2">Ride Smart, Ride Green</span>
            <a href="/pages/aboutus" target="_blank">Learn more</a>
        </div>
    </div>
    <div class="blogs">
        <div class="centeral-content">
          {% assign home_page_blogs = settings.home_page_blogs | split: ',' %}
          {% for blog in home_page_blogs %}
            {% for article in blogs.blog.articles %}
                {% if blog == article.handle %}
                  <div href="{{ article.url }}">
                      <img class="lozad" data-src="{{ article.image.src | image_url: width: 800 }}" alt="">
                      <h2 class="u20Medium_v2">{{ article.title }}</h2>
                      <div class="flex-1"></div>
                      <a target="_blank" href="{{ article.url }}">Read more</a>
                  </div>
                {% endif %}
              {% endfor %}
          {% endfor %}
          {% assign article = articles['blog/the-smartest-e-bike-youll-never-lose'] %}
          <div href="{{ article.url }}">
                      <img class="lozad" data-src="{{ article.image.src | image_url: width: 800 }}" alt="">
                      <h2 class="u20Medium_v2">{{ article.title }}</h2>
                      <div class="flex-1"></div>
                      <a target="_blank" href="{{ article.url }}">Read more</a>
          </div>

          
            <a class="gotooooooo" href="/blogs/blog" target="_blank">
                <span class="u20Medium_v2">To The Blog</span>
                <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23561_2x_128577ad-cda4-49f4-9ce6-16f8947341fb.png?v=1704528452" alt="">
            </a>
        </div>
    </div>


     <script>
      $('.blogs .centeral-content > div[href]').on('click', function () {
        window.open($(this).attr('href'))
      })

      $('.testride > div[href]').on('click', function () {
        window.open($(this).attr('href'))
      })
    </script>