{{ 'home.scss.css' | asset_url | stylesheet_tag: preload: true }}
<h1 class="er-sr-only">Urtopia Ebike - Sleek, Full Carbon, Lightweight, Smart</h1>
<div class="background-image er-aspect-[1920/750] mb:er-aspect-[375/500] er-text-white">
{% render 'image', first_screen: true, mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250630-185439_2x_78dcc17d-2146-4f95-8307-4e41736f974a.jpg?v=1751871564", src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250630-185439_2x_c5facad8-a378-4bf3-9cfb-bfb748c3337d.jpg?v=1751871384" %}
  <div class="centeral-content er-flex er-justify-end er-flex-col er-items-center er-text-center er-h-full er-pb-16 mb:er-pt-12 mb:er-justify-start">
    <div class="er-bg-gradient-to-r er-from-[#FF3684] er-to-[#FF8F1D] text-size14 er-font-bold er-py-2 er-px-6 er-rounded-3xl">{{ settings.sale_name }}</div>
    <img class="er-my-10 mb:er-max-w-sm" width="335" height="75" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25875_2x_91eb65db-3b79-4afa-865b-3b0895576482.png?v=1745910602">
    <a href="/collections/e-bike-sale" class="er-button er-button-white er-mb-24"><span><span>Shop now</span></span></a>
  </div>
</div>

<div class="er-text-white er-pt-48 mb:er-pt-24">
        <div class="centeral-content mb:er-px-6">
            <div class="background-image er-aspect-[1280/450] mb:er-aspect-[375/600] er-rounded-3xl er-overflow-hidden">
            
            {% render 'image', first_screen: true, class: "mb:!er-object-top" width: 1440, mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250630-185645_2x_f440d88a-172b-46e9-87b4-b32f75bc82f6.jpg?v=1751871559", src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250630-185645_2x_96f6c35a-4c97-4ea6-8a54-20bbfb5db835.jpg?v=1751871378" %}
            <div
                    class="er-flex er-flex-col er-items-start er-justify-center er-h-full er-pl-28 er-max-w-2xl mb:er-px-8 mb:er-pt-10 mb:er-items-center mb:er-justify-start mb:er-text-center">
                    <img width="106" height="96" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2025-03-11_10.04.23_2x_111b6995-cd40-4ab4-b842-2fdcf298d0b5.png?v=1750399446" loading="lazy" alt="ces">
                    <h3 class="er-m-0 er-text-white text-size24 er-font-medium er-mt-6 mb:er-text-2xl">Best-valued Smart Carbon Ebike</h3>
                    <p class="text-size18 er-my-16 mb:er-text-2xl mb:er-my-8">
                        <span>
                          Now Only {{ all_products['urtopia-carbon-1-pro-ebike'].price | money_without_trailing_zeros }}! With its ultra-light carbon frame, 80 miles range, smart features like GPS tracking, motion alarm, and real-time navigation, this is the best deal on a premium smart eBike.
                        </span>
                    </p>
                    <a class="er-button er-button-white mb:er-mb-12" href="https://newurtopia.com/products/urtopia-carbon-1-pro-ebike" target="_blank">Shop now</a>
                </div>
            </div>
        </div>
    </div>
<div class="centeral-content er-flex er-flex-col er-my-56 mb:er-my-28">
    <div class="home_bike_card er-relative er-pb-40 mb:er-pb-0 er-overflow-x-hidden" style="--swiper-navigation-size: 27px; --swiper-navigation-color:#fff;">
      <div class="swiper-wrapper mb:er-flex-col mb:er-space-y-6 mb:er-text-center">
        <div class="swiper-slide er-box-border er-flex er-flex-col background-image er-aspect-[380/500] mb:er-aspect-[315/260] er-max-w-[380px] er-text-white er-justify-end er-items-start er-p-12 er-rounded-3xl er-overflow-hidden mb:er-items-center mb:er-p-8 mb:er-max-w-none">
          {% render 'image', mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSC06367_2x_36aaa0b3-02e6-441c-9ec0-d547dadc5c01.jpg?v=1744697134", src: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSC06367_2x_6749f00b-7d9f-4d50-86e7-0a178fa638ba.jpg?v=1744696828', width: 400 %}
          <h3 class="text-size24 er-mb-8 mb:er-mb-6 mb:er-text-3xl">Utility eBike for<br>Urban & Cargo</h3>
          <a target="_blank" class="er-button er-button-white" href="/products/urtopia-joy-carbon-fat-tire-ebike">Fat Tire ebike</a>
        </div>
        <div class="swiper-slide er-box-border er-flex er-flex-col background-image er-aspect-[380/500] mb:er-aspect-[315/260] er-max-w-[380px] er-text-white er-justify-end er-items-start er-p-12 er-rounded-3xl er-overflow-hidden mb:er-items-center mb:er-p-8 mb:er-max-w-none">
          {% render 'image', mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25439_2x_836e2159-df50-4ed0-bbce-621da6dd020a.jpg?v=1737452660", src: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSCF6175_2x_a8f92c97-27f4-4862-a911-cf015a40cde8.jpg?v=1737452434', width: 400 %}
          <h3 class="text-size24 er-mb-8 mb:er-mb-6 mb:er-text-3xl">Super compact &<br>lightweight, fit anywhere</h3>
          <a target="_blank" class="er-button er-button-white" href="/products/urtopia-carbon-fold">Folding ebike</a>
        </div>
        <div class="swiper-slide er-box-border er-flex er-flex-col background-image er-aspect-[380/500] mb:er-aspect-[315/260] er-max-w-[380px] er-text-white er-justify-end er-items-start er-p-12 er-rounded-3xl er-overflow-hidden mb:er-items-center mb:er-p-8 mb:er-max-w-none">
          {% render 'image', mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/557_new_2x_c13415b9-d701-4ee9-9628-7abd28541e18.jpg?v=1737452655", src: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/557_new_2x_a8438202-a1f1-447e-a3cc-878bd5b37ff3.jpg?v=1737452439', width: 400 %}
          <h3 class="text-size24 er-mb-8 mb:er-mb-6 mb:er-text-3xl">Explore the<br>urban landscape</h3>
          <a target="_blank" class="er-button er-button-white" href="/products/urtopia-carbon-1-step-thru-ebike">City ebike</a>
        </div>
        <div class="swiper-slide er-box-border er-flex er-flex-col background-image er-aspect-[380/500] mb:er-aspect-[315/260] er-max-w-[380px] er-text-white er-justify-end er-items-start er-p-12 er-rounded-3xl er-overflow-hidden mb:er-items-center mb:er-p-8 mb:er-max-w-none">
          {% render 'image', mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25436_2x_5cf464df-aaee-4a86-a613-a114f6c496a2.jpg?v=1737452645", src: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25440_2x_a522840a-7bf1-4639-b076-3c0937d08f10.jpg?v=1737452533', width: 400 %}
          <h3 class="text-size24 er-mb-8 mb:er-mb-6 mb:er-text-3xl">Fitness-focused<br>urban rides</h3>
          <a target="_blank" class="er-button er-button-white" href="/products/urtopia-carbon-1-pro-ebike">Trekking ebike</a>
        </div>
        <div class="swiper-slide er-box-border er-flex er-flex-col background-image er-aspect-[380/500] mb:er-aspect-[315/260] er-max-w-[380px] er-text-white er-justify-end er-items-start er-p-12 er-rounded-3xl er-overflow-hidden mb:er-items-center mb:er-p-8 mb:er-max-w-none">
          {% render 'image', mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250512-171302.jpg?v=1747041318", src: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250512-171307.jpg?v=1747041318', width: 400 %}
          <h3 class="text-size24 er-mb-8 mb:er-mb-6 mb:er-text-3xl">Long-Distance<br>Scenic Rides</h3>
          <a target="_blank" class="er-button er-button-white" href="/products/urtopia-fusion-pro-carbon-long-range-ebike">Off Road ebike</a>
        </div>
        <div class="swiper-slide er-box-border er-flex er-flex-col background-image er-aspect-[380/500] mb:er-aspect-[315/260] er-max-w-[380px] er-text-white er-justify-end er-items-start er-p-12 er-rounded-3xl er-overflow-hidden mb:er-items-center mb:er-p-8 mb:er-max-w-none">
          {% render 'image', mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25433_2x_f4303946-f4f7-4156-b740-f0ffccfedc02.jpg?v=1737451779", src: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25441_2x_90ebacbd-c497-4121-a69d-abe7f7b4ffe2.jpg?v=1737449157', width: 400 %}
          <h3 class="text-size24 er-mb-8 mb:er-mb-6 mb:er-text-3xl">Ride outdoors and<br>explore more trails</h3>
          <a target="_blank" class="er-button er-button-white" href="/products/urtopia-carbon-fusion-gt">Touring ebike</a>
        </div>
      </div>
      <div class="swiper-scrollbar !er-w-full !er-left-0 er-z-[1]" style="z-index:1;"></div>
      <div class="swiper-button-prev er-bottom-12 er-right-[60px] er-left-auto er-top-auto er-bg-dark er-rounded-full er-w-16 er-h-16 after:er-text-3xl mb:er-hidden er-z-2" style="z-index:1;"></div>
      <div class="swiper-button-next er-bottom-12 er-right-0 er-left-auto er-top-auto er-bg-dark er-rounded-full er-w-16 er-h-16 after:er-text-3xl mb:er-hidden er-z-2" style="z-index:1;"></div>
  </div>
</div>
<div class="centeral-content carbon background-image">
  <h2 class="u36DemiBold_v2">Carbon fiber expert</h2>
  <p class="u17Light_v2">
    <span>
      Unleash the power of carbon fiber! As experts in the field, we deliver lightweight ebikes that redefine performance
      and elevate your riding experience. Ride with the best!
    </span>
  </p>
  <a class="my-button" target="_blank" href="/pages/carbon-expert"><span>Learn More</span></a>
  <video class="lozad mb:!er-static" playsinline loop autoplay muted>
    <!-- PC 端视频 -->
    <source data-src="https://cdn.shopify.com/videos/c/o/v/3b12afd59783453c89f21ff6821e6187.mp4" type="video/mp4" media="(min-width: 768px)">
    <!-- 移动端视频 -->
    <source data-src="https://cdn.shopify.com/videos/c/o/v/f1037f1f4d574b1ab3aca6efe4603fb3.mp4" type="video/mp4" media="(max-width: 767px)">
  </video>
</div>
<div class="app background-image">
  <h2 class="u36DemiBold_v2">The bicycle with a mind</h2>
  <p class="u17Light_v2">
    <span>
      Where innovation fuels greatness! Our lightweight ebikes unleash unmatched intelligence, featuring cutting-edge technology
      like ChatGPT. Elevate your ride—dominate the road with Urtopia!
    </span>
  </p>
  <a class="my-button my-button-black" target="_blank" href="/pages/pages-smartest-ebike"><span>Learn More</span></a>
  <video class="lozad mb:!er-static" playsinline autoplay muted>
    <!-- PC 端视频 -->
    <source data-src="https://cdn.shopify.com/videos/c/o/v/76775522eab34d2080353ee97be805b2.mp4" type="video/mp4" media="(min-width: 768px)">
    <!-- 移动端视频 -->
    <source data-src="https://cdn.shopify.com/videos/c/o/v/4b7a075f25f74c209d3d1e47c80b916f.mp4" type="video/mp4" media="(max-width: 767px)">
  </video>
</div>
<section class="er-bg-white">
  <div class="centeral-content reviews">
  <div class="background-image">
    {% render 'image', src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24792_2x_2408ba49-c33a-486e-affe-b205b3e3214e.jpg?v=1727320177", width: 640 %}
    <span class="u24Medium_v2">Linus Tech Tips</span>
    <span class="u17Light_v2">15.5M Subscriber YouTuber</span>
    <span class="flex-1"></span>
    <span class="u36DemiBold_v2">Reviews</span>
    <span class="u17Light_v2">True review over the web</span>
    <a class="my-button my-button-ghost" target="_blank" href="/pages/urtopia-e-bike-review"><span>Learn More</span></a>
  </div>
  <div class="background-image">
    {% render 'image', src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24793_2x_5175df36-93f9-4b19-a4c3-6a6917306c6d.jpg?v=1727320491", width: 640 %}
    <!--
      <span class="u24Medium_v2">Linus Tech Tips</span>
      <span class="u17Light_v2">15.5M Subscriber YouTuber</span>
    -->
    <span class="flex-1"></span>
    <span class="u36DemiBold_v2">Sustainability</span>
    <span class="u17Light_v2">Sustainability at the Heart of Urtopia</span>
    <a class="my-button my-button-ghost" target="_blank" href="/pages/sustainability-carbon-credit"><span>Learn More</span></a>
  </div>
</div>
</section>
<section class="er-bg-white">
  <div class="testride centeral-content">
  <a href="/pages/test-ride" class="background-image">
    {% render 'image', class: "mb:!er-object-contain mb:!er-object-top", src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24794_2x_dcbf7d8a-a1d0-4378-a541-a32768e95425.jpg?v=1729411137", mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2024-10-16_14.18.56_2x_9d8f4f50-ef6c-42ac-aa99-66f6d65e2e6b.jpg?v=1729411226", width: 500 %}
    <span class="u36DemiBold_v2">{{ settings.shop_count }} Bike Shops</span>
    <span class="u17Light_v2">Nearby support, nationwide coverage</span>
    <span class="my-link er-text-white mb:er-text-dark er-leading-none"><span>Learn More</span></span>
  </a>
  <a href="/pages/care" class="background-image">
    {% render 'image', class: "mb:!er-object-contain mb:!er-object-top", src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250211-173756.jpg?v=1739266710", mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250211-173805.jpg?v=1739266710",  width: 500 %}
    <span class="u36DemiBold_v2">Peace of Mind</span>
    <span class="u17Light_v2">24/7 Support, Full After-Sales</span>
    <span class="my-link er-text-white mb:er-text-dark er-leading-none"><span>Learn More</span></span>
  </a>
  <a href="/pages/aboutus" class="background-image">
    {% render 'image', class: "mb:!er-object-contain mb:!er-object-top", src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24796_2x_7dd25b5c-3753-470e-aa35-cea2d08eac6a.jpg?v=1727321502", mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20221005-untitled-8655_2x_58a458b5-ef95-4c4d-b41b-0c45c8604a89.jpg?v=1727330739",  width: 500 %}
    <span class="u36DemiBold_v2">About Us</span>
    <span class="u17Light_v2">Ride Smart, Ride Green</span>
    <span class="my-link er-text-white mb:er-text-dark er-leading-none"><span>Learn More</span></span>
  </a>
</div>
</section>
<div class="blogs">
  <div class="centeral-content">
    {%- assign article = articles['blog/carbon-vs-aluminum-ebike-frames'] -%}
    <a href="{{ article.url }}" class="er-text-white">
      {{ article | image_url: width: 900 | image_tag: loading: 'lazy' }}
      <h3 class="u20Medium_v2 er-text-white">{{ article.title }}</h3>
      <div class="flex-1"></div>
      <span class="text-size16 er-underline er-underline-offset-2">Learn More</span>
    </a>
    {%- assign article = articles['blog/carbon-fold-1-review-by-ebike-escape'] -%}
    <a href="{{ article.url }}" class="er-text-white">
      {{ article | image_url: width: 900 | image_tag: loading: 'lazy' }}
      <h3 class="u20Medium_v2 er-text-white">{{ article.title }}</h3>
      <div class="flex-1"></div>
      <span class="text-size16 er-underline er-underline-offset-2">Learn More</span>
    </a>
    {%- assign article = articles['blog/increase-electric-bike-range-tips'] -%}
    <a href="{{ article.url }}" class="er-text-white">
      {{ article | image_url: width: 900 | image_tag: loading: 'lazy' }}
      <h3 class="u20Medium_v2 er-text-white">{{ article.title }}</h3>
      <div class="flex-1"></div>
      <span class="text-size16 er-underline er-underline-offset-2">Learn More</span>
    </a>

    <a class="gotooooooo" href="/blogs/blog" target="_blank">
      <span class="er-text-3xl er-mr-2 er-text-white er-leading-loose">To The Blog</span>
      <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" fill="#fff"><path d="M665.08-450H180v-60h485.08L437.23-737.85 480-780l300 300-300 300-42.77-42.15L665.08-450Z"/></svg>
    </a>
  </div>
</div>
<script type="module">
  $(function() {
    if (!global_config.is_mobile) {
      new Swiper('.home_bike_card', {
          slidesPerView: 'auto',
          spaceBetween:  20,
          preloadImages: false,
          navigation: {
              nextEl: '.home_bike_card .swiper-button-next',
              prevEl: '.home_bike_card .swiper-button-prev',
          },
          scrollbar: {
              el: '.home_bike_card .swiper-scrollbar',
              draggable: true
          },
      });
    }
  })
</script>
