{{ 'home.scss.css' | asset_url | stylesheet_tag: preload: true }}
<h1 class="er-sr-only">{{ page_title }}</h1>
<div class="background-image er-aspect-[1920/750] mb:er-aspect-[375/500] er-text-white">
{% render 'image', first_screen: true, mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20251021-141921_2x_f2a874af-f7da-4381-8519-44fc201d9f67.jpg?v=1761793660", src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/black_friday_homepage_banner_2x_46e666cf-a828-4a3e-aa3f-f91813bab859.jpg?v=1762322234" %}
  <div class="centeral-content er-flex er-flex-col er-items-start er-justify-center er-h-full mb:er-items-center mb:er-justify-start mb:er-text-center mb:er-pt-12">
    <img class="mb:er-max-w-60" width="280" height="200" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26286_2x_17578820-4694-4d62-a904-b1ddf4642fd1.png?v=1761720735" alt="{{ page_title }}">
    <h2 class="text-size30 er-mt-12 er-mb-16 mb:er-text-3xl mb:er-mb-8 mb:er-mt-4">Best Deal of the Year</h2>
    <a class="er-button er-button-white" href="/collections/urtopia-black-friday-sale" target="_blank">Shop now</a>
  </div>
</div>

<div class="er-text-white er-pt-48 mb:er-pt-16">
        <div class="centeral-content mb:er-px-6">
            <div class="background-image er-aspect-[1280/450] mb:er-aspect-[345/500] md:er-rounded-2xl er-overflow-hidden">
            {% render 'image', first_screen: true, class: "mb:!er-object-top" width: 1440, mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26330_2x_71eb19ef-7406-4a39-91ef-08fb2981ceea.jpg?v=1761794008", src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26331_2x_be002077-aba8-49b4-a4f3-f7be170821d8.jpg?v=1761793769" %}
            <div
                    class="er-flex er-flex-col er-items-start er-justify-center er-h-full er-pl-28 er-max-w-2xl mb:er-px-8 mb:er-pt-10 mb:er-items-center mb:er-justify-start mb:er-text-center">
                    <img width="100" height="96" class="mb:er-max-w-28" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2025-03-11_10.04.23_2x_111b6995-cd40-4ab4-b842-2fdcf298d0b5.png?v=1750399446" loading="lazy" alt="ces">
                    <h2 class="er-m-0 er-text-white text-size24 er-font-medium er-mt-6 mb:er-text-3xl">Best-valued Smart Carbon Ebike</h2>
                    <p class="text-size18 er-my-10 mb:er-text-2xl mb:er-my-4">
                        <span>
                          With an ultra-light carbon frame, up to 65 miles of range, and a design that’s easy, comfy, and built tough — this is the best deal on a premium carbon e-bike.
                        </span>
                    </p>
                    <a class="er-button er-button-white mb:er-mb-12" href="/products/urtopia-carbon-classic-ebike" target="_blank">Shop now</a>
                </div>
            </div>
        </div>
    </div>
<div class="centeral-content er-flex er-flex-col er-my-56 mb:er-my-20 mb:er-px-6">
    {% render 'home-bike-card' %}
</div>
<div class="centeral-content er-text-white mb:er-px-6" id="quiz">
  <div class="er-grid er-grid-cols-2 er-gap-8 mb:er-grid-cols-1 mb:er-gap-6">
    <div class="er-flex er-flex-col background-image er-aspect-[9/8] er-rounded-2xl er-p-16 mb:er-aspect-[315/260] mb:er-text-center mb:er-items-center mb:er-pt-8">
      {% render 'image', src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26036_2x_8b1f4cc2-547e-4903-8256-33c0ec872abe.jpg?v=1757643572", mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26062_2x_e257febd-536f-4158-823b-c1cca7ed71af.jpg?v=1757644208" %}
      <h3 class="text-size30 mb:er-text-4xl">Compare e-bikes</h3>
      <p class="text-size18 mb:er-text-2xl er-opacity-90 er-mt-4 mb:er-my-6">
        <span>In-depth Urtopia specs comparison.</span>
      </p>
      <span class="er-flex-1 mb:er-hidden"></span>
      <a href="/pages/compare-e-bikes" class="er-button er-button-white" target="_blank" rel="noopener noreferrer">Learn More</a>
    </div>
    <div class="er-flex er-flex-col background-image er-aspect-[9/8] er-rounded-2xl er-p-16 mb:er-aspect-[315/260] mb:er-text-center mb:er-items-center mb:er-pt-8">
      {% render 'image', src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSC00246_2x_a37f767d-b4a3-45c1-b752-10ba48dae86d.jpg?v=1757643568", mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26071_2x_2461a0a8-c562-4645-9ebe-d1bac2b76222.jpg?v=1757645219" %}
      <h3 class="text-size30 mb:er-text-4xl">Find Your Perfect Ride</h3>
      <p class="text-size18 mb:er-text-2xl er-opacity-90 er-mt-4 mb:er-my-6">
        <span>Take an e-bike quiz to discover which Urtopia<br class="mb:er-hidden">model is your perfect fit.</span>
      </p>
      <span class="er-flex-1 mb:er-hidden"></span>
      <button class="er-button er-button-white start-quiz-btn">E-bike quiz</button>
    </div>
  </div>
</div>
<div class="centeral-content carbon background-image">
  <h2 class="u36DemiBold_v2">Carbon fiber expert</h2>
  <p class="u17Light_v2">
    <span>
      Unleash the power of carbon fiber! As experts in the field, we deliver lightweight ebikes that redefine performance
      and elevate your riding experience. Ride with the best!
    </span>
  </p>
  <a class="my-button" target="_blank" href="/pages/carbon-expert"><span>Learn More</span></a>
  <video class="lozad mb:!er-static" playsinline loop autoplay muted>
    <!-- PC 端视频 -->
    <source data-src="https://cdn.shopify.com/videos/c/o/v/3b12afd59783453c89f21ff6821e6187.mp4" type="video/mp4" media="(min-width: 768px)">
    <!-- 移动端视频 -->
    <source data-src="https://cdn.shopify.com/videos/c/o/v/f1037f1f4d574b1ab3aca6efe4603fb3.mp4" type="video/mp4" media="(max-width: 767px)">
  </video>
</div>
<div class="app background-image">
  <h2 class="u36DemiBold_v2">The bicycle with a mind</h2>
  <p class="u17Light_v2">
    <span>
      Where innovation fuels greatness! Our lightweight ebikes unleash unmatched intelligence, featuring cutting-edge technology
      like ChatGPT. Elevate your ride—dominate the road with Urtopia!
    </span>
  </p>
  <a class="my-button my-button-black" target="_blank" href="/pages/pages-smartest-ebike"><span>Learn More</span></a>
  <video class="lozad mb:!er-static" playsinline autoplay muted>
    <!-- PC 端视频 -->
    <source data-src="https://cdn.shopify.com/videos/c/o/v/76775522eab34d2080353ee97be805b2.mp4" type="video/mp4" media="(min-width: 768px)">
    <!-- 移动端视频 -->
    <source data-src="https://cdn.shopify.com/videos/c/o/v/4b7a075f25f74c209d3d1e47c80b916f.mp4" type="video/mp4" media="(max-width: 767px)">
  </video>
</div>
<div class="centeral-content er-my-60 mb:er-my-28 er-text-white mb:er-px-6">
  <div class="er-grid er-grid-cols-3 er-gap-8 mb:er-grid-cols-1 mb:er-gap-6">
    <a href="/pages/urtopia-e-bike-review" target="_blank" rel="noopener noreferrer" class="er-flex er-flex-col background-image er-aspect-[380/500] er-rounded-2xl er-p-12 mb:er-aspect-[345/260] mb:er-text-center mb:er-items-center mb:er-p-8 er-text-white">
      {% render 'image', src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19785_2x_6157605f-49d7-49c6-bf08-6d0bb47c53c2.jpg?v=1757646555", mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19785_2x_6157605f-49d7-49c6-bf08-6d0bb47c53c2.jpg?v=1757646555" %}
      <h3 class="text-size30 mb:er-text-4xl">Reviews</h3>
      <p class="text-size18 mb:er-text-2xl er-opacity-90 er-mt-2 mb:er-mt-4">
        <span>True review over the web</span>
      </p>
      <span class="er-flex-1"></span>
      <div class="text-size18 er-font-semibold">Linus Tech Tips</div>
      <div class="text-size14 er-opacity-90 er-mb-8 er-mt-1 mb:er-mt-0">16.5M Subscriber YouTuber</div>
      {% comment %} <a href="/pages/urtopia-e-bike-review" class="er-button er-button-white" target="_blank" rel="noopener noreferrer">Learn More</a> {% endcomment %}
    </a>
    <a href="/pages/find-a-dealer" target="_blank" rel="noopener noreferrer" class="er-flex er-flex-col background-image er-aspect-[380/500] er-rounded-2xl er-p-12 mb:er-aspect-[345/260] mb:er-text-center mb:er-items-center mb:er-pt-8 er-text-white">
      {% render 'image', src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26044_2x_25042a6c-317d-4565-84c0-4e1f0a4e5b0f.jpg?v=1757648612", mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26072_2x_bb9771e3-b6a7-44c9-9294-d6a099edfb54.jpg?v=1757648930" %}
      <h3 class="text-size30 mb:er-text-4xl">{{ settings.shop_count }} Bike Shops</h3>
      <p class="text-size18 mb:er-text-2xl er-opacity-90 er-mt-2 mb:er-mt-4">
        <span>Nearby support, nationwide coverage</span>
      </p>
      <span class="er-flex-1"></span>
      <div class="text-size18 er-font-semibold er-opacity-0">{{ settings.shop_count }} Bike Shops</div>
      <div class="text-size14 er-mb-8 er-mt-1 mb:er-mt-0 er-opacity-0">Nearby support, nationwide coverage</div>
      {% comment %} <a href="/pages/find-a-dealer" class="er-button er-button-white" target="_blank" rel="noopener noreferrer">Learn More</a> {% endcomment %}
    </a>
    <a href="/pages/care" target="_blank" rel="noopener noreferrer" class="er-flex er-flex-col background-image er-aspect-[380/500] er-rounded-2xl er-p-12 mb:er-aspect-[345/260] mb:er-text-center mb:er-items-center mb:er-pt-8 er-text-white">
      {% render 'image', src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26049_2x_33364a60-5d94-4df8-a3a1-ac3794e8c482.jpg?v=1757648595", mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26073_2x_073243a2-d879-4b54-a06f-c2e0a64acae3.jpg?v=1757648935" %}
      <h3 class="text-size30 mb:er-text-4xl">Peace of Mind</h3>
      <p class="text-size18 mb:er-text-2xl er-opacity-90 er-mt-2 mb:er-mt-4">
        <span>24/7 Support, full after-sales</span>
      </p>
      <span class="er-flex-1"></span>
      <div class="text-size18 er-font-semibold er-opacity-0">Peace of Mind</div>
      <div class="text-size14 er-mb-8 er-mt-1 mb:er-mt-0 er-opacity-0">24/7 Support, full after-sales</div>
      {% comment %} <a href="/pages/care" class="er-button er-button-white" target="_blank" rel="noopener noreferrer">Learn More</a> {% endcomment %}
    </a>
  </div>
</div>
<div class="blogs">
  <div class="centeral-content mb:er-px-6">
    {%- assign article = articles['blog/carbon-1-pro-vs-carbon-classic'] -%}
    <a href="{{ article.url }}" class="er-text-white">
      {{ article | image_url: width: 900 | image_tag: loading: 'lazy' }}
      <h3 class="u20Medium_v2 er-text-white">{{ article.title }}</h3>
      <div class="flex-1"></div>
      <span class="text-size16 er-underline er-underline-offset-2">Learn More</span>
    </a>
    {%- assign article = articles['blog/carbon-1-st-vs-carbon-classic-st'] -%}
    <a href="{{ article.url }}" class="er-text-white">
      {{ article | image_url: width: 900 | image_tag: loading: 'lazy' }}
      <h3 class="u20Medium_v2 er-text-white">{{ article.title }}</h3>
      <div class="flex-1"></div>
      <span class="text-size16 er-underline er-underline-offset-2">Learn More</span>
    </a>
    {%- assign article = articles['blog/e-bike-tire-pressure-guide'] -%}
    <a href="{{ article.url }}" class="er-text-white">
      {{ article | image_url: width: 900 | image_tag: loading: 'lazy' }}
      <h3 class="u20Medium_v2 er-text-white">{{ article.title }}</h3>
      <div class="flex-1"></div>
      <span class="text-size16 er-underline er-underline-offset-2">Learn More</span>
    </a>

    <a class="gotooooooo" href="/blogs/blog" target="_blank">
      <span class="er-text-3xl er-mr-2 er-text-white er-leading-loose">To The Blog</span>
      <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" fill="#fff"><path d="M665.08-450H180v-60h485.08L437.23-737.85 480-780l300 300-300 300-42.77-42.15L665.08-450Z"/></svg>
    </a>
  </div>
</div>
{% render 'quiz-dialog' %}
