{{ 'home.scss.css' | asset_url | stylesheet_tag: preload: true }}

<h1 class="visuallyhidden">Urtopia Ebike - Sleek, Full Carbon, Lightweight, Smart</h1>

    <style>
        .esssst {
            height: calc(100vh - 106px);
            position: relative;
            overflow-x: hidden;
            background: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23857_2x_3fb8ddcc-a884-433a-b6e7-e1db79fd4d74.jpg?v=1716513926') center center/cover no-repeat;
            margin-bottom: 2vh;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            padding-top: 8vh;
            color: #fff;
        }

      img {
        height: 9vh;
        width: auto;
      }

      .u17Light_v2 {
        margin: 2.5vh 0 4vh;
                opacity: 1;
      }

      .u30Light_v2 {
        font-weight: 300;
            font-size: 30px;
      }

        @media (max-width: 767px) {
            .esssst {
                height: calc(100vh - 102px);
                background-image: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20240316-untitled-7247_2x_3128da50-317b-472c-bb8a-7f7406c2ec72.jpg?v=1711007434');
                padding-top: 13vw;
                margin-bottom: 2.5vw;
            }

            .esssst .u24Medium_v2 {
                font-size: 17px;
                font-weight: 400;
            }

            .esssst .u48Medium_v2 {
                font-size: 30px;
            }

            .esssst .my-button {
                margin-top: 8vw;
            }
        }
    </style>

    <div class="esssst">
        <h3 class="u30Light_v2">Memorial Day Special Song</h3>
        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20240524-093431.png?v=1716514486"/>
        <h2 class="u17Light_v2">Listen up, Smash Mouth rocks out with ‘Ride On’ for Urtopia!</h2>
        <a href="/blogs/blog/easter-special-diy" target="_blank" class="my-button">Learn more</a>
    </div>

<div class="bannerrrr">
            <div class="swiper-wrapper">
                  <div class="swiper-slide first">
                    <div class="centeral-content">
                      <div style="display: none;"></div>
                      <div class="banner">
                          <h2 class="u60Medium_v2">Carbon 1 Pro</h2>
                          <h3 class="u20Medium_v2">Sporty and Lightweight</h3>
                          <a class="my-button my-button-ghost" href="/pages/lightweight-ebike-urtopia-carbon-1-pro" target="_blank">Learn More</a>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>

    <!-- <div class="banner spring">
        <h2 class="u48Medium_v2"><span style="color: rgb(198, 255, 119);">Spring</span> is The Best Time<br>to Meet by Urtopia Bike</h2>
        <h3 class="u20Medium_v2">10:30 - 17:30 April 20th<br>Bike Store Otto-Mohr Str. 4, 01237 Dresden</h3>
        <span class="u17Light_v2">Subscribe now for event updates and details.</span>
        <form class="emaillllllllllllll" accept-charset="UTF-8">
                <input class="u17Medium_v2" placeholder="Enter email here" type="email" name="email" required="">
                <button class="my-button" type="submit">Subscribe</button>
                <span class="u17DemiBold_v2">Thanks for subscribing!</span>
            </form>
    </div> -->
    
    <div class="banner chord">
        <h2 class="u60Medium_v2">Chord</h2>
        <h3 class="u20Medium_v2">Comfort and Elegance</h3>
        <a class="my-button my-button-ghost" href="/pages/lightweight-commuter-ebike-urtopia-chord" target="_blank">Learn More</a>
    </div>
    <div class="banner fusion">
        <h2 class="u60Medium_v2">Fusion</h2>
        <h3 class="u20Medium_v2">Form Follows Emotion</h3>
        <a class="my-button my-button-ghost" href="/pages/fusion" target="_blank">Learn More</a>
    </div>
    {% render 'home-page-media' %}
    <div class="mind">
        <h2 class="u36Medium_v2">The Bike with a Mind</h2>
        <h3 class="u17Light_v2">An AI-Driven Smartebike, offering you more than riding.</h3>
        <a class="my-button my-button-white" href="/pages/pages-smartest-ebike" target="_blank">Learn More</a>
    </div>
    <div class="smart">
        <div>
            <h2 class="u36Medium_v2">Reviews</h2>
            <h3 class="u17Light_v2">True review over the web</h3>
            <a class="my-button my-button-ghost" href="/pages/urtopia-e-bike-review" target="_blank">Learn More</a>
            <div class="luanqibazaode">
                <span class="u24Medium_v2">Linus Tech Tips</span>
                <span class="u17Light_v2">15.5M Subscriber Youtube</span>
            </div>
        </div>
        <div>
            <h2 class="u36Medium_v2">Smart App</h2>
            <h3 class="u17Light_v2">Connect, track, share, achieve - Urtopia app: Your perfect cycling companion!</h3>
        </div>
        <div>
            <h2 class="u36Medium_v2">Sustainability</h2>
            <h3 class="u17Light_v2">Sustainability at the Heart of Urtopia</h3>
            <a class="my-button my-button-white" href="/pages/sustainability-carbon-credit" target="_blank">Learn More</a>
        </div>
    </div>
    <div class="test-ride">
        <div class="centeral-content">
            <div href="/pages/test-ride">
                <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Screenshot_2024-01-03_at_5.18.46_PM_2x_d12d7e8b-a5a6-4e2a-af50-54934fc52cee.jpg?v=1704525928"
                    alt="" class="mobileHide">
                <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Screenshot_2024-01-03_at_5.18.46_PM_2x_39df59a9-0e10-440f-b9e4-032438fc14ef.jpg?v=1704527270"  class="pcHide" alt="">
                <h2 class="u36Medium_v2">
                    Test Ride Spots
                </h2>
                <div class="flex-1"></div>
                <h3 class="u17Light_v2">Experience the bike in real</h3>
                <a href="/pages/test-ride" target="_blank">Learn more</a>
            </div>
            <div href="/pages/care">
                <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230520-untitled-8826_2x_7e43ad38-e398-4728-9ad2-d3ae2d91333d.jpg?v=1704525890"
                    alt="" class="mobileHide">
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230520-untitled-8826_2x_f8ac700e-c86e-4d2f-b37d-177624cf29a9.jpg?v=1704527262" class="pcHide" alt="">
                <h2 class="u36Medium_v2">
                    Peace of Mind
                </h2>
                <div class="flex-1"></div>
                <h3 class="u17Light_v2">24/7 Support, Full After-Sales</h3>
                <a href="/pages/care" target="_blank">Learn more</a>
            </div>
            <div href="/pages/aboutus">
                <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20221005-untitled-8655_2x_45235a17-d68a-415e-9b0d-37bd9c86086b.jpg?v=1704525896"
                    alt="" class="mobileHide">
                <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20221005-untitled-8655_2x_27950ad5-b865-40ee-aced-4e65f9942de7.jpg?v=1704527258" class="pcHide" alt="">
                <h2 class="u36Medium_v2">
                    About Us
                </h2>
                <div class="flex-1"></div>
                <h3 class="u17Light_v2">Ride Smart, Ride Green</h3>
                <a target="_blank" href="/pages/aboutus">Learn more</a>
            </div>
        </div>
    </div>
    <div class="blogs">
        <div class="centeral-content">
          {% assign home_page_blogs = settings.home_page_blogs | split: ',' %}
          {% for blog in home_page_blogs %}
            {% for article in blogs.blog.articles %}
                {% if blog == article.handle %}
                  <div href="{{ article.url }}">
                      <img class="lozad" data-src="{{ article.image.src | image_url: width: 400 }}" alt="">
                      <h2 class="u20Medium_v2">{{ article.title }}</h2>
                      <div class="flex-1"></div>
                      <a target="_blank" href="{{ article.url }}">Read more</a>
                  </div>
                {% endif %}
              {% endfor %}
          {% endfor %}
          {% assign article = articles['blog/the-smartest-e-bike-youll-never-lose'] %}
          <div href="{{ article.url }}">
                      <img class="lozad" data-src="{{ article.image.src | image_url: width: 400 }}" alt="">
                      <h2 class="u20Medium_v2">{{ article.title }}</h2>
                      <div class="flex-1"></div>
                      <a target="_blank" href="{{ article.url }}">Read more</a>
          </div>

          
            <div class="gotooooooo">
                <span class="u20Medium_v2">To The Blog</span>
                <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23561_2x_128577ad-cda4-49f4-9ce6-16f8947341fb.png?v=1704528452" alt="">
            </div>
        </div>
    </div>

    <script>
      console.log(JSON.parse(JSON.stringify({{ blogs.blog.articles | json }})))
      
      $('.gotooooooo').click(() => {
        window.open('/blogs/blog')
      })

      $('.blogs .centeral-content > div[href]').on('click', function () {
        window.open($(this).attr('href'))
      })

      $('.test-ride .centeral-content > div[href]').on('click', function () {
        window.open($(this).attr('href'))
      })
    </script>

        <script>    
    // 是否有多个banner, 如果有 开启swiper
    const isMultipartBanner = document.querySelectorAll('.bannerrrr .swiper-slide')
    
    isMultipartBanner.length > 1 && new Swiper('.bannerrrr', {
        autoplay: {
            disableOnInteraction: false,
            pauseOnMouseEnter: false,
            delay: 10000,
        },
        loop: true,
        speed: 1000,
        pagination: {
            el: '.bannerrrr .swiper-pagination',
            clickable: true
        }
    })
    </script>


<script>
  $('.emaillllllllllllll').on('submit', function (event) {
        $(this).find('.u17DemiBold_v2').hide()
        fetchBuried('testride', 'booknow', { store_name: 'Bike Store' }).finally(() => $(this).find('.u17DemiBold_v2').show())

        event.preventDefault();
        return false;
    })
</script>