{{ 'home.scss.css' | asset_url | stylesheet_tag: preload: true }}
<h1 class="visuallyhidden">Urtopia Ebike - Sleek, Full Carbon, Lightweight, Smart</h1>

<div class="background-image er-aspect-[1920/750] mb:er-aspect-[375/500] er-text-white">
  <img
    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25269_2x_88e405d9-bda2-45f5-bcd4-ca934215c1b1.jpg?v=1736230821&width=768"
    alt="Smallest Motor, Lightest E-Bike"
    fetchpriority="high"
    decoding="async"
    loading="eager"
    width="1920"
    height="750"
    srcset="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25269_2x_88e405d9-bda2-45f5-bcd4-ca934215c1b1.jpg?v=1736230821&width=768 768w,https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19512_2x_cc768059-e3e0-468b-98f1-b023fd54fca5.jpg?v=1736229013&width=1920 1920w"
    sizes="(max-width: 768px) 50vw,100vw"
  >
  <div class="centeral-content er-flex er-justify-center er-flex-col er-items-center er-text-center er-pt-24 mb:er-pt-14">
    <img
      src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24897_2x_3b49e6c7-68f5-4302-9b93-5a529bcd9a46.png?v=17362295547"
      width="275"
      height="26"
      alt=""
    >
    <h2 class="er-text-7xl er-mb-20 er-mt-5 mb:er-text-5xl mb:er-my-10">Smallest Motor, Lightest E-Bike</h2>
    <a href="https://newurtopia.com/pages/urtopia-ces-2025" class="er-button er-button-white">Learn More</a>
  </div>
</div>

<div class="centeral-content your">
  <h2 class="u30DemiBold_v2">CES 2025, Here We Come</h2>
  <p class="u17Light_v2">
    <span
      >At CES 2025, Urtopia unveils Titanium Zero: the world’s lightest e-bike at 23.8 lbs, featuring a 3D-printed
      titanium frame and the revolutionary Quark DM1.2 motor.</span
    >
  </p>
  <a class="er-button er-button-white" target="_blank" href="/collections/urtopia-black-friday-sale"> Learn More </a>
</div>
<div class="centeral-content cards">
  <div>
    <span class="u24DemiBold_v2"
      >Ride outdoors and <br>
      explore more trails</span
    >
    <a class="my-button" target="_blank" href="/products/urtopia-carbon-fusion-gt">E-touring bikes</a>
  </div>
  <div>
    <span class="u24DemiBold_v2">All-Terrain Adventure</span>
    <a class="my-button" target="_blank" href="/products/urtopia-carbon-1-pro-ebike">E-gravel bikes</a>
  </div>
  <div>
    <span class="u24DemiBold_v2"
      >Explore the <br>
      urban landscape</span
    >
    <a class="my-button" target="_blank" href="/products/urtopia-carbon-fold">E-city bikes</a>
  </div>
</div>
<div class="centeral-content carbon">
  <video
    playsinline
    loop
    autoplay
    muted
    class="mobileHide lozad"
    data-src="https://cdn.shopify.com/videos/c/o/v/3b12afd59783453c89f21ff6821e6187.mp4"
  ></video>
  <h2 class="u36DemiBold_v2">Carbon fiber expert</h2>
  <p class="u17Light_v2">
    <span>
      Unleash the power of carbon fiber! As experts in the field, we deliver lightweight bikes that redefine performance
      and elevate your riding experience. Ride with the best!
    </span>
  </p>
  <a class="my-button" target="_blank" href="/pages/carbon-expert">Learn more</a>
</div>
<video
  playsinline
  loop
  autoplay
  muted
  class="pcHide lozad"
  data-src="https://cdn.shopify.com/videos/c/o/v/f1037f1f4d574b1ab3aca6efe4603fb3.mp4"
></video>
<div class="app">
  <h2 class="u36DemiBold_v2">The bicycle with a mind</h2>
  <p class="u17Light_v2">
    <span>
      Where innovation fuels greatness! Our eBikes unleash unmatched intelligence, featuring cutting-edge technology
      like ChatGPT. Elevate your ride—dominate the road with Urtopia!
    </span>
  </p>
  <a class="my-button my-button-black" target="_blank" href="/pages/pages-smartest-ebike">Learn more</a>
</div>
<div class="centeral-content reviews">
  <div>
    <span class="u24Medium_v2">Linus Tech Tips</span>
    <span class="u17Light_v2">15.5M Subscriber YouTuber</span>
    <span class="flex-1"></span>
    <span class="u36DemiBold_v2">Reviews</span>
    <span class="u17Light_v2">True review over the web</span>
    <a class="my-button my-button-ghost" target="_blank" href="/pages/urtopia-e-bike-review">Learn more</a>
  </div>
  <div>
    <!--
      <span class="u24Medium_v2">Linus Tech Tips</span>
      <span class="u17Light_v2">15.5M Subscriber YouTuber</span>
    -->
    <span class="flex-1"></span>
    <span class="u36DemiBold_v2">Sustainability</span>
    <span class="u17Light_v2">Sustainability at the Heart of Urtopia</span>
    <a class="my-button my-button-ghost" target="_blank" href="/pages/sustainability-carbon-credit">Learn more</a>
  </div>
</div>
<div class="testride centeral-content">
  <div href="/pages/test-ride">
    <span class="u36DemiBold_v2">Test Ride Spots</span>
    <span class="u17Light_v2">Experience the bike in real</span>
    <a href="/pages/test-ride" target="_blank">Learn more</a>
  </div>
  <div href="/pages/care">
    <span class="u36DemiBold_v2">Peace of Mind</span>
    <span class="u17Light_v2">24/7 Support, Full After-Sales</span>
    <a href="/pages/care" target="_blank">Learn more</a>
  </div>
  <div href="/pages/aboutus">
    <span class="u36DemiBold_v2">About Us</span>
    <span class="u17Light_v2">Ride Smart, Ride Green</span>
    <a href="/pages/aboutus" target="_blank">Learn more</a>
  </div>
</div>
<div class="blogs">
  <div class="centeral-content">
    {% assign home_page_blogs = settings.home_page_blogs | split: ',' %}
    {% for blog in home_page_blogs %}
      {% for article in blogs.blog.articles %}
        {% if blog == article.handle %}
          <div href="{{ article.url }}">
            {{ article | image_url: width: 500 | image_tag: loading: 'lazy' }}
            <h2 class="u20Medium_v2">{{ article.title }}</h2>
            <div class="flex-1"></div>
            <a target="_blank" href="{{ article.url }}">Read more</a>
          </div>
        {% endif %}
      {% endfor %}
    {% endfor %}
    {% assign article = articles['blog/the-smartest-e-bike-youll-never-lose'] %}
    <div href="{{ article.url }}">
      {{ article | image_url: width: 500 | image_tag: loading: 'lazy' }}
      <h2 class="u20Medium_v2">{{ article.title }}</h2>
      <div class="flex-1"></div>
      <a target="_blank" href="{{ article.url }}">Read more</a>
    </div>

    <a class="gotooooooo" href="/blogs/blog" target="_blank">
      <span class="u20Medium_v2">To The Blog</span>
      <img
        width="48"
        height="48"
        loading="lazy"
        fetchpriority="low"
        decoding="async"
        src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23561_2x_128577ad-cda4-49f4-9ce6-16f8947341fb.png?v=1704528452"
        alt=""
      >
    </a>
  </div>
</div>

<script>
  $('.blogs .centeral-content > div[href]').on('click', function () {
    window.open($(this).attr('href'));
  });

  $('.testride > div[href]').on('click', function () {
    window.open($(this).attr('href'));
  });
</script>
