{{ 'pagefly-main.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'pagefly.9b29433f.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'chord.scss.css' | asset_url | stylesheet_tag: preload: true }}
<link rel="preload" href="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20662.svg" as="image">

<style>
  .sale-big-text {
    border-radius: 12px;
    padding: 8px 12px;
    background-image: linear-gradient(90deg, #EE6426, #F4492A);
    color: #fff;
    margin: 6px 0 -6px;
  }
  .sale-big-text .u20DemiBold_v2 {
    font-size: 18px;
  }
  @media (max-width: 767px) { 
    .sale-big-text .u20DemiBold_v2 {
      font-size: 14px;
    }
  }


  .sale-taggggggg {
    background: var(--sale-order-page-sale-background);
    color: #fff;
    padding: 6px 0 6px 14px;
    border-radius: 18px;
    width: fit-content;
    max-height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sale-taggggggg img {
    max-width: 90px;
    transform: translate(25%, -5%);
  }
</style>

<div class="product" data-pf-type="ProductBox">
    <div class="centeral-content">
        <div class="commonComponent pcHide">
            <div class="u36DemiBold_v2">{{ product.title }}</div>
            <div data-pf-type="JudgeMe" class="sc-eZhRLC gtfCKx pf-25_ order-djs mb6">
                <div class="pf-judme">{% render "judgeme_widgets", widget_type: "judgeme_preview_badge", jm_style: "", concierge_install: false, product: product %}</div>
            </div>
            <div class="u14DemiBold_v2 sale-taggggggg mb12" style="max-height: 30px;">{{ settings.sale_name }}<img style="max-width: 70px;" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20231027-095408.png?v=1698371673" alt=""></div>
            <div class="product-price u30DemiBold_v2" style="margin: 0;" data-price="{{ product.price | money }}">{{ product.price | minus: settings.chord_ebike_discount_price | money }}</div>
            <div class="sale-tag mb6">
              <!--<div class="u17Medium_v2">{{ settings.chord_sale_name }}</div>-->
              <div class="u14Light_v2">Free shipping.</div>
            </div>
            <div class="sale-big-text mb6">
              <div class="u20DemiBold_v2">LOWEST PRICE OF THE YEAR GUARANTEED!</div>
              <div class="u11Light_v2">For any order during Oct 1 - Dec 31 2023, if there is a price drop within this period on our website, you will get a refund for the difference.</div>
            </div>
        </div>
        <div class="featured_image">
            <div class="swiper left-swiper mobileHide">
                <div class="swiper-wrapper">
                </div>
            </div>
            <div class="swiper right-swiper" style="--swiper-navigation-color: #fff;--swiper-theme-color: #000;--swiper-pagination-color: #000;">
                <div class="swiper-wrapper">
                    {% comment %} {% for image in product.images %}
                        <div class="swiper-slide">
                            {{ image | image_url: width: 1000 | image_tag }}
                        </div>
                    {% endfor %} {% endcomment %}
                </div>
                <div class="swiper-button-prev mobileHide"></div><!--左箭头。如果放置在swiper外面，需要自定义样式。-->
                <div class="swiper-button-next mobileHide"></div><!--右箭头。如果放置在swiper外面，需要自定义样式。-->
                <div class="swiper-pagination pcHide"></div>
                <div class="flex-1 mobileHide"></div>
                <div class="fenders mobileHide">
                  <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20230307-201732.jpg?v=1678191479" alt="">
                  <span class="u17DemiBold_v2">Free Fenders, Kickstand, <br>1-Year Connect Service Included</span>
                  <span class="u17Light_v2" style="text-decoration: line-through;">{{ 16700 | money }}</span>
                  <span class="u17DemiBold_v2">FREE</span>
                </div>
                <div class="parameters mobileHide">
                    <div>
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18448_2x_833c8995-fa19-4297-af29-678ac4064d0c.png?v=1687176385"/>
                        <span><span class="u14Light_v2">Torque</span><span class="u17DemiBold_v2">45 NM</span></span>
                    </div>
                    <div>
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18449_2x_e118ab7b-18ca-4612-afb3-20758874d9c7.png?v=1687177181"/>
                        <span><span class="u14Light_v2">Modes X Gears</span><span class="u17DemiBold_v2">4 x 8</span></span>
                    </div>
                    <div>
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18445_2x_2e6c6230-7ed1-4c3d-99ad-54ba48fa57b4.png?v=1687177370"/>
                        <span><span class="u14Light_v2">Adaptive</span><span class="u17DemiBold_v2">Torque Sensor</span></span>
                    </div>
                    <div>
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18447_2x_c102facd-9087-4028-8f97-34a7af31b1f6.png?v=1687177414"/>
                        <span><span class="u14Light_v2">Range</span><span class="u17DemiBold_v2">75 miles</span></span>
                    </div>
                    <div>
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18450_2x_50383af6-61df-4632-9cbc-531630580f61.png?v=1687177242"/>
                        <span><span class="u14Light_v2">Phone App</span><span class="u17DemiBold_v2">iOS, Android</span></span>
                    </div>
                    <div>
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18446_2x_791e060a-ed39-42c5-9cf0-965d7e5110bb.png?v=1687177232"/>
                        <span><span class="u14Light_v2">Anti-theft</span><span class="u17DemiBold_v2">GPS Tracking</span></span>
                    </div>
                </div>
            </div>            
        </div>
        <form method="post" accept-charset="UTF-8" action="/cart/add" class="product-panel pf-product-form" data-productid={{ product.id }} id="product_form_{{ product.id }}" enctype="multipart/form-data">
            <input type="hidden" name="id" data-product-id="{{product.id}}" value="{{ product.selected_or_first_available_variant.id }}"/>
            <input type="hidden" name="form_type" value="product">
            <input type="hidden" name="utf8" value="✓">
            <div class="commonComponent mobileHide" id="sale_acc">
                <div class="u36DemiBold_v2 mb6">{{ product.title }}</div>
                <div data-pf-type="JudgeMe" class="sc-eZhRLC gtfCKx pf-25_ order-djs mb6">
                    <div class="pf-judme">{% render "judgeme_widgets", widget_type: "judgeme_preview_badge", jm_style: "", concierge_install: false, product: product %}</div>
                </div>
                <div class="u17DemiBold_v2 mb12 sale-taggggggg">{{ settings.sale_name }}<img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20231027-095408.png?v=1698371673" alt=""></div>
                <div style="margin: 0" class="product-price u30DemiBold_v2" data-price="{{ product.price | money }}">{{ product.price | minus: settings.chord_ebike_discount_price | money }}</div>
                <div class="sale-tag mb6">
                  <!--<div class="u17Medium_v2">{{ settings.chord_sale_name }}</div>-->
                  <div class="u14Light_v2" style="margin: 0">Free shipping.</div>
                </div>
                <div class="sale-big-text mb12">
                  <div class="u20DemiBold_v2">LOWEST PRICE OF THE YEAR GUARANTEED!</div>
                  <div class="u11Light_v2">For any order during Oct 1 - Dec 31 2023, if there is a price drop within this period on our website, you will get a refund for the difference.</div>
                </div>
            </div>
            <div class="fenders pcHide">
                  <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20230307-201732.jpg?v=1678191479" alt="">
                  <div>
                    <span class="u17DemiBold_v2" style="background-color: #263B55; color: #fff;border-radius: 7px;padding: 3px 12px;">FREE</span>
                    <span class="u17DemiBold_v2" style="text-decoration: line-through;">{{ 16700 | money }}</span>
                    <div class="u17Light_v2">Free Fenders, Kickstand, <br>1-Year Connect Service Included</div>
                  </div>
            </div>
            {% unless settings.hide_sale_countdown %}
              <div class="count-down mb12 mobileHide">
                <div class="u17Medium_v2">Ends in：</div>
                <img src="http://i.countdownmail.com/205dop.gif">
              </div>
            {% endunless %}
            <div class="options">
                {% for option in product.options_with_values %}
                  <div class="option" option={{option.name}} position="{{ option.position }}">
                    <div class="u17DemiBold_v2 mb12">{{ option.name }} - <span class="u17Light_v2"></span></div>
                    <div class="{{ option.name }} mb12">
                      {% for value in option.values %}
                        {% case option.name %}
                        {% when "Style" %}
                          <div attribute="{{ value }}" class="{{ value }}"></div>
                        {% else %}
                            <div attribute="{{ value }}" class="{{ value }}">{{ value }}</div>
                        {% endcase %}                     
                      {% endfor %}
                    </div>
                  </div>
                {% endfor %}
            </div>
            <div class="accessories">
                <div class="u17DemiBold_v2 mb12">Accessories</div>
                <div class="navigate">
                    <div class="prev"></div>
                    <div class="next"></div>
                </div>
                <div class="items mb12 chord-accessories">
                    {% for prod in collections['chord-accessories'].products %}
                        {% if prod.available %}
                            {% assign variant = prod.variants | first %}
                            <div class="item" variant-id="{{ variant.id }}">
                              <div class="u11Medium_v2">{{ prod.title }}</div>
                              <div>
                                <div>
                                  <span class="u17DemiBold_v2">{{ prod.price | money }}</span>
                                  <span class=u11Light_v2>
                                    <i class="fa-solid fa-plus"></i>
                                  </span>
                                </div>
                                {{ prod.featured_image | image_url: width: 400 | image_tag }}
                              </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="items mb12 chord-accessories-1">
                    {% for prod in collections['chord-x-accessories'].products %}
                        {% if prod.available %}
                            {% assign variant = prod.variants | first %}
                            <div class="item" variant-id="{{ variant.id }}">
                              <div class="u11Medium_v2">{{ prod.title }}</div>
                              <div>
                                <div>
                                  <span class="u17DemiBold_v2">{{ prod.price | money }}</span>
                                  <span class=u11Light_v2>
                                    <i class="fa-solid fa-plus"></i>
                                  </span>
                                </div>
                                {{ prod.featured_image | image_url: width: 400 | image_tag }}
                              </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="buttons">
                {% unless settings.hide_sale_countdown %}
                  <div class="count-down mb12 pcHide">
                    <div class="u17Medium_v2">Ends in：</div>
                    <img src="http://i.countdownmail.com/205dop.gif">
                  </div>
                {% endunless %}
                <div
                    data-product-id="{{ product.id }}"
                    class="my-button my-button-black addToCartBtn"
                    onclick="addAllToCart('atc')"
                    id="addToCart"
                    >
                    <i class="fa fa-spinner fa-spin"></i><span data-pf-type="Text" class="addToCartText u17DemiBold_v2">Add to Cart</span>
                </div>
                <div onclick="testRideTrace('klarna_check_out', this)" class="orderTestRideBtn">
                  <img class="twoooo"src="https://cdn.shopifycdn.net/s/files/1/0633/2068/6808/files/20230530-121400.png?v=1685420054"/>
                  <span><span class="u17DemiBold_v2">0% APR</span><span>24 months, <span class="stages">{{ product.price | minus: settings.chord_ebike_discount_price | divided_by: 24 | money_without_trailing_zeros }}</span>/month</span></span>
                </div>
            </div>
            <div class="delivery_time mb12">Free shipping <span>within 5 days</span></div>
            <div class="support mb12">
                <a href="#boxs3">
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230621-005713.png?v=1687280264"/>
                    <span class="u11Medium_v2">30+ Spots<br>of Service</span>
                </a>
                <a href="/pages/shipping-and-return" target="_blank">
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_17959_2x_cff00041-4dce-479b-b87d-55b1cb89cd7a.png?v=1687161086"/>
                    <span class="u11Medium_v2">14-Day<br>Returns</span>
                </a>
                <a href="/pages/warranty" target="_blank">
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_17958_2x_1e776f09-0686-4672-a22f-b29d2df3898d.png?v=1687161098"/>
                    <span class="u11Medium_v2">2-Year<br>Warranty</span>
                </a>
            </div>
            <div class="dialogs">
                <div class="u17Medium_v2">
                    <span>Size & Fit</span>
                    <span>&gt;</span>
                </div>
                <div class="u17Medium_v2">
                    <span>Technical Specifications</span>
                    <span>&gt;</span>
                </div>
                <div class="u17Medium_v2">
                    <span>Support & Service</span>
                    <span>&gt;</span>
                </div>
                <div class="u17Medium_v2">
                    <span>FAQs</span>
                    <span>&gt;</span>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="freedom" class="freedom">
        <div class="centeral-content">
            <div>
                <div class="u36Medium_v2">Chord / Chord X</div>
                <div class="u17Medium_v2">A sleek and agile e-bike for every lifestyle. Lightweight, versatile, and
                    powerful. Effortlessly power
                    your daily commute, run errands swiftly, and explore new path freely.</div>
                <div class="values">
                    <div>
                        <span class="u17Medium_v2">GPS Anti-theft</span>
                        <span class="u17Medium_v2">Tracking</span>
                    </div>
                    <div>
                        <span class="u17Medium_v2">* Aerospace-quality</span>
                        <span class="u17Medium_v2">Forging Tech</span>
                    </div>
                    <div>
                        <span class="u17Medium_v2">Turn-by-turn</span>
                        <span class="u17Medium_v2">Navigation</span>
                    </div>
                    <div>
                        <span class="u17Medium_v2">Chic Piano</span>
                        <span class="u17Medium_v2">Aesthetics</span>
                    </div>
                    <div>
                        <span class="u17Medium_v2">Upright Riding</span>
                        <span class="u17Medium_v2">Comfort</span>
                    </div>
                    <div>
                        <span class="u17Medium_v2">Concealed</span>
                        <span class="u17Medium_v2">Top Tube Battery</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gray-background-color artwork">
        <div class="centeral-content">
            <div class="u36DemiBold_v2">An Artwork of Exquisite Forging Craftsmanship</div>
            <div class="images">
                <img class="mobileHide lozad"
                    data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/DSCF1274_2x_4841aae7-3579-4549-a356-36781274104f.jpg?v=1697537474"
                    alt="">
                <img class="pcHide lozad"
                    data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_22872_2x_91c22f0c-684a-4da7-88f0-62c20f19a0d7.png?v=1697593340"
                    alt="">
                <div class="u17Light_v2">
                    <div class="u24Medium_v2">Stronger. Lighter. Superior.</div>
                    <ul>
                        <li>No unsightly welds</li>
                        <li>Clean & smooth lines</li>
                        <li>Weight reduction of 9 lbs</li>
                    </ul>
                    <div>*Liquid forging technique creates lighter, stronger and seamless bike frames with superior
                        strength, enhancing overall performance.</div>
                </div>
            </div>
            <div class="boxsssss">
                <div class="u17Medium_v2 lozad" data-background-image="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/chord_-1_2x_6c5960e8-4344-4250-b473-e280699603a2.jpg?v=1697538362">
                    <div>Elegant curves and fins added for timeless elegance.</div>
                </div>
                <div class="u17Medium_v2 lozad" data-background-image="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_22954_2x_594603f0-966f-4fdd-87e1-6e36dbc6be4d.jpg?v=1697539333">
                    <div>Pearl white paint with a mirror like lustre and smoothness</div>
                </div>
                <div class="u17Medium_v2 lozad" data-background-image="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23076_2x_f618f8a2-3d19-478d-9d6b-6608fec2a2c7.jpg?v=1697539341">
                    <div>The bow-shaped frame exudes power and sophistication.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="gray-background-color artwork artwork2">
        <div class="centeral-content">
            <div class="u36DemiBold_v2">A completely custom, artistically crafted smart e-bike.</div>
            <div class="images">
                <div class="u17Light_v2">
                    <div class="u24Medium_v2">Unique. Stealthy. Practical.</div>
                    <ul>
                        <li>Elegantly Piano-Inspired</li>
                        <li>Concealed Battery & Motor</li>
                        <li>Upright Riding Comfort</li>
                    </ul>
                    <div>* An exceptional e-bike blending style, functionality, and performance. Never considered an e-bike?
                        With its accessible price, comfortable ride, and versatile accessories, the Chord is your ultimate
                        choice.</div>
                </div>
                <img class="mobileHide lozad"
                    data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18884_2x_bf9dfa3f-14b1-41e9-b708-909655835fb0.jpg?v=1697539699"
                    alt="">
                <img class="pcHide lozad"
                    data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18886_2x_ca44919b-8ddd-4a0d-ae99-bf474eaa1b48.png?v=1697594937"
                    alt="">

            </div>
            <div class="boxsssss">
                <div class="u17Medium_v2 lozad" data-background-image="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23079_2x_0737ada6-430d-4989-bd6e-c913ddc7d9af.jpg?v=1697539706">
                    <div>Lively and lightweight, a breeze to lift</div>
                </div>
                <div class="u17Medium_v2 lozad" data-background-image="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23080_2x_3584fa9b-ff5e-4387-a412-2636ede748e0.jpg?v=1697539712">
                    <div>Top tube battery echoes piano keys on white frame.</div>
                </div>
                <div class="u17Medium_v2 lozad" data-background-image="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23081_2x_09376c22-a30e-4764-ad34-c6dcaba71d00.jpg?v=1697539717">
                    <div>Balanced riding position: Upright for ease, forward for speed.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="gray-background-color maksim">
        <div class="centeral-content">
            <img class="lozad"
                data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18827_2x_03b206d3-1d21-4edd-98ab-828a812223f1.jpg?v=1696731248$width=640"
                alt="">
            <div>
                <div class="u36DemiBold_v2">Chord X Maksim</div>
                <div class="u17Light_v2">A passionate prodigy, and one of the world’s <br> fastest pianists. Mr. Mrvica
                    inspired
                    the design <br> the philosophy of Chord, a crossover between <br> art and tech.</div>
                <div class="my-button my-button-black"
                    onclick="showVideoDialog('https://www.youtube.com/embed/gjYMDVGv_C4?autoplay=1&cc_load_policy=1')">Watch
                    Video</div>
            </div>
        </div>
    </div>
    <div class="boxs gray-background-color">
        <div class="centeral-content">
            <div>
                <div class="u36DemiBold_v2">Go up to 75 miles per charge</div>
                <!-- <div class="u20Light_v2">Step-Through</div> -->
                <div class="u17Light_v2">Breeze through the city, conquer hills, carry loads with ease. Its comfortable
                    design, upright position, well-tuned transmission and powerful drive ensure a smooth and enjoyable
                    journey.</div>
            </div>
            <img class="lozad"
                data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/DSCF0925_2x_5fa0a20b-06ca-4d61-9d89-506529d5aa7b.jpg?v=1697596253"
                alt="">
            <img class="lozad"
                data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Screenshot_2023-10-13_at_11.23.16_AM_2x_c83f3f9d-7bda-4c9a-bc3f-6d5600458c4f.jpg?v=1697596260"
                alt="">
            <div>
                <div class="u36DemiBold_v2">Versatile Accessory Integration</div>
                <!-- <div class="u20Light_v2">Inspired from the Piano</div> -->
                <div class="u17Light_v2">Grab groceries, commute, or touring - The Chord’s compatibility with various
                    accessories offers endless possibilities. Gear it up to meet your needs.</div>
                <a href="/collections/accessories" target="_blank" class="my-button my-button-black">Shop Accessories</a>
            </div>
        </div>
    </div>
    <div class="gray-background-color bigbike">
        <div class="centeral-content">
            <div class="u36DemiBold_v2">The Bike with a Mind</div>
            <img class="pcHide lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18902_2x_6a676082-f6a8-4014-ae08-a43b35ed7114.png?v=1697600417" alt="">
            <div class="big">
                <div>
                    <div>
                        <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18101_2x_be6b0029-7c2c-45c7-b1d5-d928571b40c1.png?v=1697598871"
                            alt="">
                        <div class="u24DemiBold_v2">
                            Built-in Navigation
                            <div class="u17Light_v2">Goodbye phone, no more struggling to navigate with a tiny screen.</div>
                        </div>
                    </div>
                    <div>
                        <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18337_2x_68b33794-1ad5-4e7e-9147-1e40f74b69c3.png?v=1697600122"
                            alt="">
                        <div class="u24DemiBold_v2">
                            Fingerprint Unlock
                            <div class="u17Light_v2">Provides an efficient and intuitive option for riding without the hassle of carrying a key.</div>
                        </div>
                    </div>
                    <div>
                        <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18340_2x_836dbd74-963f-4c0a-b6fa-5a2743910b86.png?v=1697600127"
                            alt="">
                        <div class="u24DemiBold_v2">
                            Bluetooth Music
                            <div class="u17Light_v2">It’s like having a personal DJ accompanying you everywhere when you ride.</div>
                        </div>
                    </div>
                </div>
                <div class="flex-1"></div>
                <div>
                    <div>
                        <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18339_2x_523b0a4a-227a-4ac4-b9d5-4275c8cdc250.png?v=1697600134"
                            alt="">
                        <div class="u24DemiBold_v2">
                            OTA Update
                            <div class="u17Light_v2">It provide hassle-free access to the latest bike features and performance enhancements.</div>
                        </div>
                    </div>
                    <div>
                        <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18342_2x_2117a6c2-63b5-46ec-acfc-00a14f962fd8.png?v=1697600142"
                            alt="">
                        <div class="u24DemiBold_v2">
                            Voice Control
                            <div class="u17Light_v2">It offers customizable voice commands and horn beeps for fun interaction.</div>
                        </div>
                    </div>
                    <div>
                        <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18341_2x_5ff6c456-db85-48fd-8ae1-98d087f33d5b.png?v=1697600150"
                            alt="">
                        <div class="u24DemiBold_v2">
                            GPS Anti-Theft
                            <div class="u17Light_v2">GPS for security and navigation. No more phone distractions and find your bike easily.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gray-background-color mediaaaaa" style="--swiper-theme-color: #000;--swiper-pagination-color: #000;">
        <div class="centeral-content">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="u17DemiBold_v2">“The smoothest and cleanest look”</div>
                    <div class="flex-1"></div>
                    <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_20921_2x_361face6-eba5-4a46-b1b6-0f038089d90d.png?v=1682577775"
                        alt="">
                    <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18547_2x_125de9b4-019e-45e9-aa15-ae8622f4b5d0.png?v=1682587490"
                        alt="">
                </div>
                <div class="swiper-slide">
                    <div class="u17DemiBold_v2">“Battery integrated under the top tube like never before.”</div>
                    <div class="flex-1"></div>
                    <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_20921_2x_361face6-eba5-4a46-b1b6-0f038089d90d.png?v=1682577775"
                        alt="">
                    <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18548_2x_fcd811c3-0864-4391-bfdf-ab9d2ff14383.png?v=1682587585"
                        alt="">
                </div>
                <div class="swiper-slide">
                    <div class="u17DemiBold_v2">“A lifestyle piece incorporates cutting-edge technology”</div>
                    <div class="flex-1"></div>
                    <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_20921_2x_361face6-eba5-4a46-b1b6-0f038089d90d.png?v=1682577775"
                        alt="">
                    <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18549_2x_1574b613-b07b-4eb3-be66-1dd662cf5cd8.png?v=1682587573"
                        alt="">
                </div>
                <div class="swiper-slide">
                    <div class="u17DemiBold_v2">“The unusual smart e-bike is worth a look.”</div>
                    <div class="flex-1"></div>
                    <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_20921_2x_361face6-eba5-4a46-b1b6-0f038089d90d.png?v=1682577775"
                        alt="">
                    <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18550_2x_aba70dcd-adaf-4458-9cd7-743f426f353b.png?v=1682587561"
                        alt="">
                </div>
                <div class="swiper-slide">
                    <div class="u17DemiBold_v2">“This is a model destined to conquer the public.”</div>
                    <div class="flex-1"></div>
                    <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_20921_2x_361face6-eba5-4a46-b1b6-0f038089d90d.png?v=1682577775"
                        alt="">
                    <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18551_2x_f2956b2b-028f-44c0-a22a-99e34df986f3.png?v=1682587548"
                        alt="">
                </div>
                <div class="swiper-slide">
                    <div class="u17DemiBold_v2">“one of the most beautiful and futuristic ebikes of 2023”</div>
                    <div class="flex-1"></div>
                    <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_20921_2x_361face6-eba5-4a46-b1b6-0f038089d90d.png?v=1682577775"
                        alt="">
                    <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18552_2x_4194a229-bf02-45a5-ab4f-fcb997a040cd.png?v=1682587535"
                        alt="">
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="centeral-content smartest">
        <div class="u42DemiBold_v2">Smartest E-Bike Ever</div>
        <div class="boxss">
            <div>
                <img class="lozad"
                    data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_22127_2x_0054733d-7211-4a90-8015-b42dc42dc886.jpg?v=1696737459"
                    alt="">
                <div class="u24DemiBold_v2">Anti-glare LED Display</div>
                <div class="u17Light_v2">Urtopia’s smart core: Dot-matrix display, voice commands. Vital info and bike
                    control, no smartphone required for your ride!</div>
            </div>
            <div>
                <img class="lozad"
                    data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_22125_2x_4ae748d1-1ad5-47fd-b05b-cab45d65377e.jpg?v=1696743871"
                    alt="">
                <div class="u24DemiBold_v2">Portable Battery</div>
                <div class="u17Light_v2">A 352.8 Wh lithium-ion removable battery provide sample energy so a rider can
                    travel up to 75 miles (31 miles min.) after a mere 3-hr charge.</div>
            </div>
            <div>
                <img class="lozad"
                    data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_22126_2x_824cb3a5-4b55-4341-83fe-8d2b911062fb.jpg?v=1696743879"
                    alt="">
                <div class="u24DemiBold_v2">20 Lux HeadLight</div>
                <div class="u17Light_v2">20 Lux Headlight with German road regulation-compliant design: a well-balanced
                    combination of beauty and safety.</div>
            </div>
            <div>
                <img class="lozad"
                    data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_22130_2x_0d904ceb-205a-4450-a858-228909539c66.jpg?v=1696743892"
                    alt="">
                <div class="u24DemiBold_v2">Fenders & Kickstand</div>
                <div class="u17Light_v2">Navigate rough terrains and any weather conditions with our pre-installed fenders
                    and kickstand included in the package.</div>
            </div>
            <div>
                <img class="lozad"
                    data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_22128_2x_abb6496d-8f8f-48be-945a-b0bb08cdd8ce.jpg?v=1696743899"
                    alt="">
                <div class="u24DemiBold_v2">Tektro Hydraulic Disc Brake</div>
                <div class="u17Light_v2">It provide reliable and consistent stopping power in any weather condition,
                    ensuring a safe and smooth ride.</div>
            </div>
            <div>
                <img class="lozad"
                    data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_22129_2x_6c5b4cfe-d578-4394-a7d0-f5b41ac9532b.jpg?v=1696743907"
                    alt="">
                <div class="u24DemiBold_v2">8-Speed Shimano Gearing</div>
                <div class="u17Light_v2">Experience seamless gear shifts and tackle different terrain with the versatile
                    8-speed Shimano gearing system.</div>
            </div>
            <div>
                <img class="lozad"
                    data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_22131_2x_a8a7e189-e540-4ec8-a21e-f5b8b212c64c.jpg?v=1696743914"
                    alt="">
                <div class="u24DemiBold_v2">Customized Motor</div>
                <div class="u17Light_v2">The 350W intelligent motor delivers a quiet and smooth ride while also being
                    energy-efficient, allowing riders to travel further.</div>
            </div>
            <div>
                <img class="lozad"
                    data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_22132_2x_96c0d8ea-eb92-4361-a15c-5ac90b800d43.jpg?v=1696743920"
                    alt="">
                <div class="u24DemiBold_v2">Torque Sensor</div>
                <div class="u17Light_v2">Unlike jerky cadence sensing, proprietary torque sensor enables super-fast speed
                    adaption.</div>
            </div>
            <div>
                <img class="lozad"
                    data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_22133_2x_775a37f8-99de-4243-892f-86eccd1c0914.jpg?v=1696743926"
                    alt="">
                <div class="u24DemiBold_v2">Smart App</div>
                <div class="u17Light_v2">Urtopia’s app maximizes e-bike potential: Real-time locating, route tracking,
                    anti-theft alert, navigation, speaker, and more. Explore the possibilities!</div>
            </div>
        </div>
    </div>
    <div class="centeral-content services">
        <div class="u42DemiBold_v2">Peace of Mind Services</div>
        <div class="gray-background-color boxss">
          <div id="storepoint-container" data-tags="us" data-map-id="162f21804990ff"></div>
            <div>
                <div class="u30DemiBold_v2">After-sales service, Worldwide</div>
                <div class="u17Light_v2">We have over 20 authorized repair shops across major cities in USA to provide
                    reliable after-sales service for our e-bikes. Our repair partners are experts in their field and have
                    been carefully selected and trained to provide you with quality products and services.<br><br>

                    Simply visit one of our authorized repair shops for repairs or maintenance. We’re committed to ensuring
                    that you have a positive experience with our e-bikes.</div>
                <a class="my-button my-button-black" href="/pages/find-a-dealer">Find a Store</a>
            </div>
            <div>
                <div class="u30DemiBold_v2">14-Day Free Return</div>
                <div class="u17Light_v2">Free return of unused products within 14 days of delivery.</div>
                <a class="u20DemiBold_v2" href="/pages/care">Learn more</a>
                <div class="u30DemiBold_v2">2-Year Warranty</div>
                <div class="u17Light_v2">All Urtopia bikes are covered under our 2-year Limited Warranty for the owner
                    against all manufacturing defects.</div>
                <a class="u20DemiBold_v2" href="/pages/care">Learn more</a>
            </div>
            <img class="lozad"
                data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230213-untitled-5440.jpg?v=1678012461"
                alt="">
        </div>
    </div>


<img class="toTop" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_21049.svg?v=1687267470">

<div class="top-fixed mobileHide">
    <div class="centeral-content">
        <span class="u20DemiBold_v2">{{ product.title }}</span>
        <span class="flex-1"></span>
        <div>
            <span class="u17Light_v2"><span class="u20DemiBold_v2 emphasize" style="font-weight: 600;">{{ product.price | minus: settings.chord_ebike_discount_price | money }}</span><span style="text-decoration: line-through;">{{ product.price | money }}</span></span>
            <span class="u14Light_v2">or as low as {{ product.price | minus: settings.chord_ebike_discount_price | divided_by: 24 | money_without_trailing_zeros }}/Month</span>
        </div>
        <a href="#product_form_{{ product.id }}" class="my-button my-button-origin">Order Now</a>
    </div>
</div>

<div class="bottom-fixed pcHide">
    <a href="#product_form_{{ product.id }}" class="my-button my-button-origin">Order Now</a>
    <div>
        <span class="u14Light_v2"><span class="u17DemiBold_v2 emphasize" style="font-weight: 600;">{{ product.price | minus: settings.chord_ebike_discount_price | money }}</span><span style="text-decoration: line-through;">{{ product.price | money }}</span></span>
        <span class="u14Light_v2">or as low as {{ product.price | minus: settings.chord_ebike_discount_price | divided_by: 24 | money_without_trailing_zeros }}/Month</span>
    </div>
</div>


<script>
  // 默认隐藏
  $('.bottom-fixed').hide()
  $('.top-fixed').hide()
  $('.toTop').hide()
    
    const leftSwiper = new Swiper(".product .left-swiper", {
        direction: 'vertical',
        spaceBetween: 8,
        slidesPerView: 8,
        freeMode: true,
        watchSlidesProgress: true,
      })

      const rightSwiper = new Swiper(".product .right-swiper", {
        autoHeight: true,
        navigation: {
          nextEl: ".product .right-swiper .swiper-button-next",
          prevEl: ".product .right-swiper .swiper-button-prev",
        },
        pagination: {el:'.swiper-pagination'},
        effect: 'fade',
        fadeEffect:{
            crossFade: true
        },
        thumbs: {
          swiper: leftSwiper,
        },
      });

      
      document.addEventListener('onChangeFrame', e => {
        if (e.value === "High-Step") {
              $(`.product .product-panel .accessories .chord-accessories-1 .active`).click()
              $(`.product .product-panel .accessories .chord-accessories`).show()
              $(`.product .product-panel .accessories .chord-accessories-1`).hide()
              $(`.product .product-panel .options > div[option="Frame"] .u17DemiBold_v2 .u17Light_v2`).text(`Chord - ${global_config.chord_order_page_config.size_map[e.value]}`)

              /*
              $(`.product .product-panel .sale`).show()
              $(`.product .product-panel .count-down`).show()
              $(`.product .product-panel .orderTestRideBtn .stages`).text('{{ product.price | minus: settings.chord_ebike_discount_price | divided_by: 24 | money_without_trailing_zeros }}')
              $('.top-fixed .centeral-content > div').html(`
                <span class="u17Light_v2"><span class="u20DemiBold_v2 emphasize" style="font-weight: 600;">{{ product.price | minus: settings.chord_ebike_discount_price | money }}</span><span style="text-decoration: line-through;">{{ product.price | money }}</span></span>
                <span class="u14Light_v2">or as low as {{ product.price | minus: settings.chord_ebike_discount_price | divided_by: 24 | money_without_trailing_zeros }}/Month</span>
              `)

              $('.bottom-fixed > div').html(`
                <span class="u14Light_v2"><span class="u17DemiBold_v2 emphasize" style="font-weight: 600;">{{ product.price | minus: settings.chord_ebike_discount_price | money }}</span><span style="text-decoration: line-through;">{{ product.price | money }}</span></span>
                <span class="u14Light_v2">or as low as {{ product.price | minus: settings.chord_ebike_discount_price | divided_by: 24 | money_without_trailing_zeros }}/Month</span>
              `)


              $('.product .sale-tag').show()
              $('.product .product-price').attr('data-price', "{{ product.price | money }}")
              $('.product .product-price').text('{{ product.price | minus: settings.chord_ebike_discount_price | money }}')
              $('.product .product-price').css({
                margin: '12px 0 0',
                color: 'var(--sale-order-page-text-color)'
              })
              */
      } else {
            $(`.product .product-panel .accessories .chord-accessories .active`).click()
            $(`.product .product-panel .accessories .chord-accessories`).hide()
            $(`.product .product-panel .accessories .chord-accessories-1`).show()
            $(`.product .product-panel .options > div[option="Frame"] .u17DemiBold_v2 .u17Light_v2`).text(`Chord X - ${global_config.chord_order_page_config.size_map[e.value]}`)

            /*
            $(`.product .product-panel .sale`).hide()
            $(`.product .product-panel .count-down`).hide()
            $(`.product .product-panel .orderTestRideBtn .stages`).text('{{ product.price | divided_by: 24 | money_without_trailing_zeros }}')
            $('.top-fixed .centeral-content > div').html(`
              <span class="u17Light_v2"><span class="u20DemiBold_v2 emphasize" style="font-weight: 600;">{{ product.price | money }}</span></span>
              <span class="u14Light_v2">or as low as {{ product.price | divided_by: 24 | money_without_trailing_zeros }}/Month</span>
            `)
            $('.bottom-fixed > div').html(`
              <span class="u14Light_v2"><span class="u17DemiBold_v2 emphasize" style="font-weight: 600;">{{ product.price | money }}</span></span>
              <span class="u14Light_v2">or as low as {{ product.price | divided_by: 24 | money_without_trailing_zeros }}/Month</span>
            `)

            $('.product .sale-tag').hide()
            $('.product .product-price').attr('data-price', "")
            $('.product .product-price').text('{{ product.price | money }}')
            $('.product .product-price').css({
              margin: '0 0 6px',
              color: '#000'
            })

            */
      }

            $(`.product .product-panel .accessories .items`).animate({
                scrollLeft: 0
            }, 300)
      })


      document.addEventListener('onChangeStyle', e => {
        $(`.product .product-panel .options > div[option="Style"] .u17DemiBold_v2 .u17Light_v2`).text(e.value)
      })

      document.addEventListener('onChangeOptions', e => {
        const swiper_arr = global_config.chord_order_page_config.product_images[e.value.Frame][e.value.Style].concat(global_config.chord_order_page_config.product_images[e.value.Frame]['commonSwiper'])

            $('.product .right-swiper .swiper-wrapper').html(swiper_arr.map((s, i) => {
                const index = i % 6

                return  `<div class="swiper-slide">
                            <img src="${s}">
                        </div>`
              }).join(''))
            $('.product .left-swiper .swiper-wrapper').html(swiper_arr.map(s => `<div class="swiper-slide"><img src="${s}"></div>`).join(''))
            
            // update
            asyncFn(() => {
                rightSwiper.update()
                rightSwiper.slideTo(0, 0)
                
                leftSwiper.update()
                leftSwiper.slideTo(0, 0)
            })

            $('.product .delivery_time').html(global_config.chord_order_page_config.ebike_delivery_time[current_variant_id] || global_config.chord_order_page_config.ebike_default_delivery_time)

            const btn =  $('.product .buttons .addToCartBtn')
            if (current_variant.available) {
                btn.find('span').text('Add to Cart')
                btn.removeClass('disabled')
                $('.product .buttons .orderTestRideBtn').show()
            } else {
                btn.find('span').text('Sold out')
                btn.addClass('disabled')
                $('.product .buttons .orderTestRideBtn').hide()
            }
      })
 

  


    function changeAddToCartText (parse, step = 0) {
        if (step) {
            $(".addToCartBtn i").toggleClass("showi");
            document.querySelector(".addToCartBtn span").innerHTML = "Adding...";
        } else {
            setTimeout(()=>{
                $(".addToCartBtn i").toggleClass("showi");
                document.querySelector(".addToCartBtn span").innerHTML = "Add to Cart";
            }, 800)
        }
    }

    


    let id = 0;
    let adding = false;
    let cart1 = document.querySelector("cart-notification") || document.querySelector("cart-drawer");

    function testRideTrace(type = '', target) {
      // 如果已经有按钮 loading ,直接退出来
      if (!type || $('.orderTestRideBtn').hasClass('loading')) {
        return
      }
    
      const t = $(target)
    
      t.addClass('loading')
      // 原本的html 存起来
      const text = t.find('span').html()
      const loading = '<i class="fa fa-spinner fa-spin"></i>Processing...'
    
      // loading
      t.find('span').html(loading)
    
      fetchBuried('websiteclick', `chord-order-page`, { button: type }, true)
      window.sessionStorage.clicked_klarna_checkout_button = 'clicked_klarna_checkout_button'
    
      setTimeout(() => {
          t.removeClass('loading')
          t.find('span').html(text)
        }, 2000)
      
      return addAllToCart("atc", true)
    }

    function addAllToCart(parse, show = false) {
        const cartList = { items: [] }

        if (adding == false) {
          !show && changeAddToCartText(parse, 1);
          adding = true;
          
          cartList.items.push({ id: current_variant_id, quantity: 1 });

          if (cart1) {
            var sections = cart1.getSectionsToRender().map((section) => section.id);
            cartList.sections = sections.join(",");
          }

          // 新增普通配件
        $('.product .accessories .items .active').each((i, item) => {
          cartList.items.push({ 
            id: $(item).attr('variant-id'), 
            quantity: 1
          })
        })

          fetch("/cart/add.js", {
            method: "POST",
            body: JSON.stringify(cartList),
            headers: {
              "Content-Type": "application/json",
            },
          })
            .then((res) => res.json())
            .then((res1) => {
              res1.key = "";

              cart1.classList.contains('is-empty') && cart1.classList.remove('is-empty');

              if (!(res1.message && res1.status)) {
                cart1.renderContents(res1);
              }

              !show && changeAddToCartText(parse, 0);
            })
            .catch((err) => {
              !show && changeAddToCartText(parse, 0);
              
            }).finally(() => {
              adding = false
              !show && fetchBuried('websiteclick', `chord-order-page`, { button: 'ATC' })
            })
        }
  }


   

    $('.accessories .navigate > div').on('click', e => {
        const items1 = $('.product .accessories .chord-accessories')
        const items2 = $('.product .accessories .chord-accessories-1')

        items1.animate({
            scrollLeft: items1.scrollLeft() + ($(e.target).hasClass('next') ? 180 : -180)
        }, 300)

        items2.animate({
            scrollLeft: items2.scrollLeft() + ($(e.target).hasClass('next') ? 180 : -180)
        }, 300)
    })

    $('.accessories .items .item').on('click', e => {
        const item = $(e.target).closest('.item')
        const icon = item.find('.u11Light_v2')

        if (item.hasClass('active')) {
            item.removeClass('active')
            icon.html('<i class="fa-solid fa-plus"></i>')
            
        } else {
            item.addClass('active')
            icon.html('<i class="fa-solid fa-check"></i>')
        }
    })

    $('.product .product-panel').on("submit", function (event) {

        // 阻止默认行为
        event.preventDefault();
        return false;
    })

    $('.product .dialogs > div').on('click', e => {
        const m = {
            0: 'one',
            1: 'two',
            2: 'three',
            3: 'four'
        }

        $('.product .dialogs > div').each((i, t) => {
            if ($(e.target).closest('.u17Medium_v2')[0] === t) {
                console.log(i)

                const layer = document.querySelector(`.order-modal-${m[i]}`);
                const laybox = document.querySelector(`.order-modal-layer-${m[i]}`);
                layer.style.display = "flex";
                laybox.className += " dialog-open";
            }
        })
    })

    $('.toTop').on('click', e => {
        $('html').animate({
            scrollTop: 0
        }, 300)
    })

    let currnetScroolTop = 0
    $(document).on('scroll', throttle(e => {
        const top1 = $('#freedom').offset().top
        const top3 = $('.product .addToCartBtn').offset().top
        const top2 = $(e.target).scrollTop()

        const h = window.screen.height

        if (global_config.is_mobile) {
            if (top2 > top3) {
                $('.bottom-fixed').show()
            } else {
                $('.bottom-fixed').hide()
            }
        } else {
            if (top2 > top1) {
                $('.top-fixed').show()
            } else {
                $('.top-fixed').hide()
            }

            if (currnetScroolTop > top2) {
                $('.top-fixed').hide()
            }

            currnetScroolTop = top2
        }

        top2 > (h * 2) ? $('.toTop').show() : $('.toTop').hide()

    }, 300, 100))
</script>
{% render 'product-options', config_name: 'chord_order_page_config' %}

{% render 'chord-size-and-specs' %}

<div class="assembly">
		<div class="centeral-content" style="box-sizing: content-box;">
			<div class="gray-background-color">
				<div class="u36DemiBold_v2">90% assembly</div>
				<div class="u17DemiLight_v2">Delight in the convenience of our 90% pre-assembled e-bike package, making assembly a breeze!</div>
			</div>
			<div>
				<img onclick="showVideoDialog('https://www.youtube.com/embed/meJBiIp32E0?autoplay=1&amp;cc_load_policy=1')" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/openvideo-1667475097262.svg" alt="">
			</div>
		</div>
	</div>


<div class="centeral-content">{% include 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: false %}</div>
{% render 'chord-extra-code' %}

<script>
  global_config.is_mobile && new Swiper('.mediaaaaa .centeral-content', {
        autoplay: {
            disableOnInteraction: false,
            pauseOnMouseEnter: false,
            delay: 5000,
        },
        loop: true,
        effect: 'fade',
        fadeEffect: {
            crossFade: true
        },
        pagination: { el: '.mediaaaaa .swiper-pagination' },
        speed: 300
    })

    setTimeout(() => {
        $('.size-and-specs .switch .switch-radio input[type="radio"]')[0].click()
    }, 500);
</script>
<script src="https://cdn.storepoint.co/api/v1/js/162f21804990ff.js" defer></script>