{{ 'pagefly-main.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'pagefly.7e55a3be.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'chord.scss.css' | asset_url | stylesheet_tag: preload: true }}

<div style="opacity:0" class="sc-bYoBSM hUVNGC __pf __pf_oWvcundu" id="__pf"><div data-pf-type="Body" class="sc-hjGZqJ fNoOP pf-1_"><div data-pf-type="Layout" class="sc-htJRVC dNJAjO pf-2_"><div data-pf-type="ProductPreview" class="sc-cvlWTT btfkZr pf-3_"> </div>

<div class="product" data-pf-type="ProductBox">
    <div class="centeral-content">
        <div class="commonComponent pcHide">
            <div class="u36DemiBold_v2">{{ product.title }}</div>
            <div data-pf-type="JudgeMe" class="sc-eZhRLC gtfCKx pf-25_ order-djs mb6">
                <div class="pf-judme">{% render "judgeme_widgets", widget_type: "judgeme_preview_badge", jm_style: "", concierge_install: false, product: product %}</div>
            </div>
            <div class="u30DemiBold_v2 mb6">{{ product.price | money }}</div>
            <div class="sale mb6" id="sale_accmb" style="background-image: linear-gradient(-90deg,var(--sale-color3),var(--sale-color4));">
              <div class="u20DemiBold_v2" style="color: var(--sale-color4);">{{ product.price | minus: settings.chord_ebike_discount_price | money }} NOW</div>
              <div class="u17DemiBold_v2">with {{ settings.chord_sale_name }}</div>
            </div>
        </div>
        <div class="featured_image">
            <div class="swiper left-swiper mobileHide">
                <div class="swiper-wrapper">
                </div>
            </div>
            <div class="swiper right-swiper" style="--swiper-navigation-color: #fff;--swiper-theme-color: #000;--swiper-pagination-color: #000;">
                <div class="swiper-wrapper">
                    {% comment %} {% for image in product.images %}
                        <div class="swiper-slide">
                            {{ image | image_url: width: 1000 | image_tag }}
                        </div>
                    {% endfor %} {% endcomment %}
                </div>
                <div class="swiper-button-prev mobileHide"></div><!--左箭头。如果放置在swiper外面，需要自定义样式。-->
                <div class="swiper-button-next mobileHide"></div><!--右箭头。如果放置在swiper外面，需要自定义样式。-->
                <div class="swiper-pagination pcHide"></div>
                <div class="flex-1 mobileHide"></div>
                <div class="fenders mobileHide">
                  <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20230307-201732.jpg?v=1678191479" alt="">
                  <span class="u17DemiBold_v2">Free Fenders, Kickstand, <br>1-Year eSIM Service Included</span>
                  <span class="u17Light_v2" style="text-decoration: line-through;">{{ 16700 | money }}</span>
                  <span class="u17DemiBold_v2">FREE</span>
                </div>
                <div class="parameters mobileHide">
                    <div>
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18448_2x_833c8995-fa19-4297-af29-678ac4064d0c.png?v=1687176385"/>
                        <span><span class="u14Light_v2">Torque</span><span class="u17DemiBold_v2">45 NM</span></span>
                    </div>
                    <div>
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18449_2x_e118ab7b-18ca-4612-afb3-20758874d9c7.png?v=1687177181"/>
                        <span><span class="u14Light_v2">Modes X Gears</span><span class="u17DemiBold_v2">4 x 8</span></span>
                    </div>
                    <div>
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18445_2x_2e6c6230-7ed1-4c3d-99ad-54ba48fa57b4.png?v=1687177370"/>
                        <span><span class="u14Light_v2">Adaptive</span><span class="u17DemiBold_v2">Torque Sensor</span></span>
                    </div>
                    <div>
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18447_2x_c102facd-9087-4028-8f97-34a7af31b1f6.png?v=1687177414"/>
                        <span><span class="u14Light_v2">Range</span><span class="u17DemiBold_v2">75 miles</span></span>
                    </div>
                    <div>
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18450_2x_50383af6-61df-4632-9cbc-531630580f61.png?v=1687177242"/>
                        <span><span class="u14Light_v2">Phone App</span><span class="u17DemiBold_v2">iOS, Android</span></span>
                    </div>
                    <div>
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18446_2x_791e060a-ed39-42c5-9cf0-965d7e5110bb.png?v=1687177232"/>
                        <span><span class="u14Light_v2">Anti-theft</span><span class="u17DemiBold_v2">GPS Tracking</span></span>
                    </div>
                </div>
            </div>            
        </div>
        <form method="post" accept-charset="UTF-8" action="/cart/add" class="product-panel pf-product-form" data-productid={{ product.id }} id="product_form_{{ product.id }}" enctype="multipart/form-data">
            <input type="hidden" name="id" data-product-id="{{product.id}}" value="{{ product.selected_or_first_available_variant.id }}"/>
            <input type="hidden" name="form_type" value="product">
            <input type="hidden" name="utf8" value="✓">
            <div class="commonComponent mobileHide" id="sale_acc">
                <div class="u36DemiBold_v2 mb6">{{ product.title }}</div>
                <div data-pf-type="JudgeMe" class="sc-eZhRLC gtfCKx pf-25_ order-djs mb6">
                    <div class="pf-judme">{% render "judgeme_widgets", widget_type: "judgeme_preview_badge", jm_style: "", concierge_install: false, product: product %}</div>
                </div>
                <div class="u30DemiBold_v2 mb6">{{ product.price | money }}</div>
                <div class="sale mb12" style="background-image: linear-gradient(-90deg,var(--sale-color3),var(--sale-color4));">
                  <div class="u20DemiBold_v2" style="color: var(--sale-color4);">{{ product.price | minus: settings.chord_ebike_discount_price | money }} NOW</div>
                  <div class="u17DemiBold_v2">with {{ settings.chord_sale_name }}</div>
                </div>
            </div>
            <div class="fenders pcHide">
                  <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20230307-201732.jpg?v=1678191479" alt="">
                  <div>
                    <span class="u17DemiBold_v2" style="background-color: #263B55; color: #fff;border-radius: 7px;padding: 3px 12px;">FREE</span>
                    <span class="u17DemiBold_v2" style="text-decoration: line-through;">{{ 16700 | money }}</span>
                    <div class="u17Light_v2">Free Fenders, Kickstand, <br>1-Year eSIM Service Included</div>
                  </div>
            </div>
            <div class="count-down mobileHide">
              <div class="u17Medium_v2" style="color: var(--sale-color4);">Ends in：</div>
              <img src="http://i.countdownmail.com/205dop.gif">
            </div>
            <div class="options">
                {% for option in product.options %}
                    <div class="option" option={{option}}>
                        <div class="u17DemiBold_v2 mb12">{{ option }} - <span class="u17Light_v2"></span></div>
                        <div class="{{ option }} mb12"></div>
                    </div>
                {% endfor %}
            </div>
            <div class="accessories">
                <div class="u17DemiBold_v2 mb12">Accessories</div>
                <div class="navigate">
                    <div class="prev"></div>
                    <div class="next"></div>
                </div>
                <div class="items mb12 chord-accessories">
                    {% for prod in collections['chord-accessories'].products %}
                        {% if prod.available %}
                            {% assign variant = prod.variants | first %}
                            <div class="item" variant-id="{{ variant.id }}">
                              <div class="u11Medium_v2">{{ prod.title }}</div>
                              <div>
                                <div>
                                  <span class="u17DemiBold_v2">{{ prod.price | money }}</span>
                                  <span class=u11Light_v2>
                                    <i class="fa-solid fa-plus"></i>
                                  </span>
                                </div>
                                {{ prod.featured_image | image_url: width: 400 | image_tag }}
                              </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="items mb12 chord-accessories-1">
                    {% for prod in collections['chord-x-accessories'].products %}
                        {% if prod.available %}
                            {% assign variant = prod.variants | first %}
                            <div class="item" variant-id="{{ variant.id }}">
                              <div class="u11Medium_v2">{{ prod.title }}</div>
                              <div>
                                <div>
                                  <span class="u17DemiBold_v2">{{ prod.price | money }}</span>
                                  <span class=u11Light_v2>
                                    <i class="fa-solid fa-plus"></i>
                                  </span>
                                </div>
                                {{ prod.featured_image | image_url: width: 400 | image_tag }}
                              </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="buttons">
                <div
                    data-product-id="{{ product.id }}"
                    class="my-button my-button-black addToCartBtn"
                    onclick="addAllToCart('atc')"
                    id="addToCart"
                    >
                    <i class="fa fa-spinner fa-spin"></i><span data-pf-type="Text" class="addToCartText u17DemiBold_v2">Add to Cart</span>
                </div>
            </div>
            <div class="delivery_time mb12">Free shipping <span>within 5 days</span></div>
            <div class="support mb12">
                <a href="#boxs3">
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230621-005713.png?v=1687280264"/>
                    <span class="u11Medium_v2">30+ Spots<br>of Service</span>
                </a>
                <a href="/pages/shipping-and-return" target="_blank">
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_17959_2x_cff00041-4dce-479b-b87d-55b1cb89cd7a.png?v=1687161086"/>
                    <span class="u11Medium_v2">14-Day<br>Returns</span>
                </a>
                <a href="/pages/warranty" target="_blank">
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_17958_2x_1e776f09-0686-4672-a22f-b29d2df3898d.png?v=1687161098"/>
                    <span class="u11Medium_v2">2-Year<br>Warranty</span>
                </a>
            </div>
            <div class="dialogs">
                <div class="u17Medium_v2">
                    <span>Size & Fit</span>
                    <span>&gt;</span>
                </div>
                <div class="u17Medium_v2">
                    <span>Technical Specifications</span>
                    <span>&gt;</span>
                </div>
                <div class="u17Medium_v2">
                    <span>Support & Service</span>
                    <span>&gt;</span>
                </div>
                <div class="u17Medium_v2">
                    <span>FAQs</span>
                    <span>&gt;</span>
                </div>
            </div>
        </form>
    </div>
</div>
  
  
<div data-section-id="pf-d02a" data-pf-type="Section" class="sc-fmciRz bheIgq pf-38_"><div class="sc-gjNHFA gwWIgj"><div class="sc-ezbkAF A-dmbO pf-39_ pf-r pf-c-cm pf-r-eh" style="--s-xs:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-40_"><div data-pf-type="Custom.HTML" class="sc-AjmGg eCTxfx pf-41_"><style>
  .section1 {
	height: 700px;
	background: url("https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18282_84abe1bf-cfa1-4cef-98a4-f70e779d8517.png?v=1677720964") center center/cover no-repeat;
	   color: #fff;
	   display: flex;
      flex-direction: column;
	    padding-left: 16%;
       padding-top: 12%;
  }
  
  .section1 .u20Light {
	  margin-top: 20px;
     width: 500px;
  }
</style>


<style>
@media (max-width: 767px) {
  .section1 {
    margin-top: 40px;
	padding-left: 20px;
	height: 610px;
	background: url("https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18282_3facf238-e276-4793-b93a-0c0a933675c9.png?v=1677745873") center center/cover no-repeat;
  }
  
  .section1 .u36DemiBold {
	  font-size: 20px;
	  line-height: 36px;
  }
  
   .section1 .u20Light {
	  font-size: 14px;
	  line-height: 20px;
     width: auto;
	  margin-top: 10px;
  }
}
</style>

<div id="chrod_details" class="section1">
  <div class="u36DemiBold">Urtopia Chord</div>
  <div class="u20Light">Meet the new city ebike 2023 - the smartest electric town bike for urban adventurers. With a range of up to 75 miles, this ebike is ideal for commuting or leisurely rides. With the extra safety and convenience that comes with smart features, the Chord Ebike is your first step into a new era of cycling.</div>
</div>


</div></div></div></div></div></div><div data-section-id="pf-d5ea" data-pf-type="Section" class="sc-fmciRz bheIgq pf-42_"><div class="sc-gjNHFA gwWIgj"><div class="sc-ezbkAF A-dmbO pf-43_ pf-r pf-c-cm pf-r-eh" style="--s-xs:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-44_"><h3 tabindex="0" spellcheck="false" data-pf-type="Heading2" class="sc-dPiLbb cAoJbW pf-45_ u42DemiBold">Highlights</h3><div data-pf-type="Custom.HTML" class="sc-AjmGg eCTxfx pf-47_"><style>
  #section2 {
	  max-width: 1280px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
	  position: relative;
  }
  
  #section2 .card {
    box-shadow: 5px 10px 15px 0 #e9e9e9;
    border-radius: 15px;
  }
  
  #section2 .card .info {
    display: flex;
    flex-direction: column;
	  padding: 30px 8% 30px 10%;
  }
  
  #section2 .card .info .other {
	 display: flex;
	margin-top: 18px;
	justify-content: space-between;
	align-items: center;
  }
 
  
  #section2 .card .info .other > div {
	 flex: 0.85;
  }
</style>

<style>
  @media (max-width: 767px) {
	#section2 {
	  grid-template-columns: 1fr;
	}
	
	#section2 .card + .card {
	  margin-top: 25px;
   }
	
	#section2 .card .info {
	  padding: 5px 20px 10px;
	}
	
	#section2 .card .info .other {
	  margin-top: 0;
	}
	
	#section2 .card .info .u30DemiBold {
	  font-size: 20px;
	}
	
	#section2 .card .info .u20Light {
	  font-size: 12px;
     line-height: 18px;
	}
  }

</style>


<style>
.section2-design {
      margin: auto;
      --swiper-theme-color: #ff6600;/* 设置Swiper风格 */
      --swiper-navigation-color: #fff;/* 单独设置按钮颜色 */
      --swiper-navigation-size: 15px;/* 设置按钮大小 */
      overflow: hidden;
      cursor: auto;
      margin-right: -70px;
    }
    
    .section2-design img {
      width: 100%;
      height: auto;
    }

    .section2-design .swiper-slide .text {
        margin-top: 30px;
      /* left: 10px; */
        text-align: left;
        font-size: 16px;
    }
  
    .section2-design .swiper-slide .u17Light {
        margin-top: 12px;
        font-size: 14px;
        font-weight: 400;
    }

  .section2-design .buttons {
      display: flex;
	    margin-top: 20px;
    }

  .section2-design .buttons .swiper-button-prev,
  .section2-design .buttons .swiper-button-next {
        position: static;
        background-color: #666;
        border-radius: 50%;
        margin-right: 20px;
        /* padding: 20px; */
        box-sizing: content-box;
        opacity: .5;
        width: 40px;
        height: 40px;
  }

  .section2-design .swiper-button-next.swiper-button-disabled,
  .section2-design .swiper-button-prev.swiper-button-disabled {
    opacity: .25;
  }
  
  
</style>

<style>
@media (max-width: 767px) {
    .section2-design {
        margin-right: 0;
        --swiper-theme-color: #000;
        --swiper-pagination-color: #000;/* 两种都可以 */
    }

    .section2-design .buttons {
        display: none;
    }

    .section2-design .swiper-slide .u20DemiBold {
        font-size: 18px;
    }

    .section2-design .swiper-pagination {
        position: static;
        margin-top: 15%;
    }

    .section2-design .swiper-pagination-bullet {
        height: 6px;
        width: 6px;
    }

    .section2-design .swiper-pagination-bullet-active {
        width: 40px;
        height: 6px;
        border-radius: 5px;
        transition: all .3s;
    }
}
  
  @media (min-width: 768px) {
    .section2-design .swiper-pagination {
        display: none;
    }
	
	.section2-smart .swiper-slide .pcHide {
        display: none;
    }
}
</style>


<style>
    .section2-smart {
        position: relative;
        margin: -30px -70px -50px;
    }

    .section2-smart .swiper-slide {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* grid-column-gap: 80px; */
    }

    .section2-smart .swiper-slide video {
        width: 100%;
        height: auto;
	  		border-radius: 0.01px;
    }

    .section2-smart .swiper-slide .texts {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-right: 80px;
        padding-left: 68px;
        padding-top: 113px;
        padding-bottom: 200px;
        position: relative;
    }

    .section2-smart .swiper-slide .text {
        display: flex;
        align-items: flex-start;
        margin: 0;
    }
    
    .section2-smart .swiper-slide .text img {
        width: 40px;
        margin-right: 12px;
    }

    .section2-smart .swiper-slide .text .u20DemiBold {
        font-size: 18px;
    }

    .section2-smart .swiper-slide .other {
        flex-direction: column;
        margin-left: 50px;
    }

    .section2-smart .buttons {
        position: absolute;
        bottom: 70px;
        left: 68px;
    }

    .section2-smart .swiper-slide .line {
        position: absolute;
        height: 1px;
        background-color: #000;
        opacity: .35;
        left: 430px;
    }

    .section2-smart .swiper-slide .line1 {
        top: 140px;
    }
</style>

<style>
@media (max-width: 767px) {
    .section2-smart {
        margin: -30px -15px;
    }

    .section2-smart .swiper-slide {
        display: flex;
        flex-direction: column;
    }

    .section2-smart .swiper-slide .texts {
        padding: 0 22px;
        height: 40vh;
        padding-bottom: 10%;
        justify-content: space-evenly;
	  		min-height: 330px;
    }

    .section2-smart .swiper-slide .texts .text .u20DemiBold {
        font-size: 16px;
    }

    .section2-smart .swiper-slide .texts .text  .u17Light {
        font-size: 12px;
        margin: 0;
    }

    .section2-smart .swiper-slide .line {
        display: none;
    }

    .section2-smart .swiper-pagination {
        margin: 0;
		  position: absolute;
		  top: 300px;
		  height: 10px;
    }

    .section2-smart .swiper-slide .mobileHide {
        display: none;
    }

    .section2-smart .swiper-slide .other {
        margin: 0;
        padding-right: 20px;
    }
}
</style>

<div id="section2">
  <div class="card">
		<img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20230302-110834.jpg?v=1677726546"/>
		<div class="info">
		  	<div class="u30DemiBold">Futuristic Design</div>
			<div class="other">
			  <div class="u20Light">Piano-like aesthetics</div>
			  <a class="my-button my-button-white design">Learn More</a>
			</div>
		</div>
  </div>
  <div class="card">
		<img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20230302-101821.jpg?v=1677723516"/>
		<div class="info">
		  	<div class="u30DemiBold">Evolving Intelligence</div>
			<div class="other">
			  <div class="u20Light">Smart is the new sexy</div>
			  <a class="my-button my-button-white smart">Learn More</a>
			</div>
		</div>
  </div>
 
</div>


<div class="hide">
   <div class="section2-design" id="section2-design-dialog">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
              <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18381.png?v=1677762656" alt="">
              <div class="text">
                <div class="u20DemiBold">Why</div>
                <div class="u20DemiBold">Inspired by Piano</div>
                <div class="u17Light">The piano, with its elegant curves and simple color palette, perfectly embodied the vision we had for Chord. We wanted an ebike that would seamlessly blend into the city landscape, yet still stand out as a stunning work of art. And so, Chord was born.</div>
              </div>
          </div>
          <div class="swiper-slide">
              <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18380.png?v=1677762549" alt="">
              <div class="text">
                <div class="u20DemiBold">Who</div>
                <div class="u20DemiBold">Perfect Persona</div>
                <div class="u17Light">who will be the character for this idea, the croatian pianist Maksim probably the best answer. His musical soul aligned with our product, sparking new inspiration for design. Working with him was like finding a soulmate for our design concept.</div>
              </div>
          </div>
          <div class="swiper-slide">
              <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18382.png?v=1677762710" alt="">
              <div class="text">
                <div class="u20DemiBold">How</div>
                <div class="u20DemiBold">Liquid Forging</div>
                <div class="u17Light">The advanced aluminum alloy casting technique offers 4 main advantages: seamless connected shapes, a wide range of possibilities for design, high product density, and superior strength with casting-like accuracy.</div>
              </div>
          </div>
          <div class="swiper-slide">
              <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230118-untitled-4665_2x_88873577-0bc4-4ef6-93eb-f4dd84387184.jpg?v=1678366963" alt="">
              <div class="text">
                <div class="u20DemiBold">What</div>
                <div class="u20DemiBold">Urtopia Chord</div>
                <div class="u17Light">Design-wise, the Chord breaks away from traditional e-bike frame designs with its sleek, pure white curves that give the bike an air of simplicity and elegance.</div>
              </div>
          </div>
      </div>
      <div class="buttons">
        <div class="swiper-button-prev"></div><!--左箭头。如果放置在swiper外面，需要自定义样式。-->
        <div class="swiper-button-next"></div><!--右箭头。如果放置在swiper外面，需要自定义样式。-->
      </div>
	    <div class="swiper-pagination"></div>
    </div>

</div>

<div class="hide">
        <div class="section2-design section2-smart" id="section2-smart-dialog">
            <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="texts">
                    <div class="text">
                        <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18101.svg?v=1677912553" width="40" alt="">
                        <div>
                            <div class="u20DemiBold">Built-in Navigation</div>
                            <div class="u17Light">Goodbye phone, no more struggling to navigate with a tiny screen.</div>
                        </div>
                    </div>
                    <div class="text">
                        <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18337.svg?v=1677913501" width="40" alt="">
                        <div>
                            <div class="u20DemiBold">Fingerprint Unlock</div>
                            <div class="u17Light">Provides an efficient and intuitive option for riding without the hassle of carrying a key.</div>
                        </div>
                    </div>
                    <div class="text">
                        <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18104.svg?v=1677913432" width="40" alt="">
                        <div>
                            <div class="u20DemiBold">Bluetooth Music</div>
                            <div class="u17Light">It’s like having a personal DJ accompanying you everywhere when you ride.</div>
                        </div>
                    </div>
                    <div class="line" style="width: 260px;top: 160px;"></div>
                    <div class="line" style="width: 240px;top: 280px;"></div>
                    <div class="line" style="width: 160px;top: 400px;"></div>
                    <div class="line" style="width: 70px;left: 583px;top: 379px;transform: rotate(-37deg);"></div>
                </div>
                <video autoplay loop class="mobileHide">
                    <source src="https://cdn.shopify.com/videos/c/o/v/5318bf068bb24f4eb208da832868df26.mp4" type="video/mp4">
                </video>
                <img class="pcHide" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20230310-155147.gif?v=1678434761"/>
            </div>
            <div class="swiper-slide">
                <div class="texts">
                    <div class="text">
                        <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18339.svg?v=1677913808" width="40" alt="">
                        <div>
                            <div class="u20DemiBold">OTA Update</div>
                            <div class="u17Light">It provide hassle-free access to the latest bike features and performance enhancements.</div>
                        </div>
                    </div>
                    <div class="text">
                        <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18342.svg?v=1677913934" width="40" alt="">
                        <div>
                            <div class="u20DemiBold">Voice Control</div>
                            <div class="u17Light">It offers customizable voice commands and horn beeps for fun interaction.</div>
                        </div>
                    </div>
                    <div class="text">
                        <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18341.svg?v=1677913949" width="40" alt="">
                        <div>
                            <div class="u20DemiBold">GPS Anti-Theft</div>
                            <div class="u17Light">GPS for security and navigation. No more phone distractions and find your bike easily.</div>
                        </div>
                    </div>
                    <div class="line" style="width: 260px;top: 160px;"></div>
                    <div class="line" style="width: 240px;top: 280px;"></div>
                    <div class="line" style="width: 220px;top: 400px;"></div>
                </div>
                <video autoplay loop class="mobileHide">
                    <source src="https://cdn.shopify.com/videos/c/o/v/730c0c07cd884ddca88778ea6a49ef33.mp4" type="video/mp4">
                </video>
                <img class="pcHide" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20230310-155906.gif?v=1678435158"/>
            </div>
            <div class="swiper-slide">
                <div class="texts">
                    <div class="text other">
                        <div class="u20DemiBold">Track Your Route</div>
                        <div class="u17Light">Track your rides, achieve fitness goals. Calories burned, range, speed, all recorded in our app.</div>
                    </div>
                    <div class="text other">
                        <div class="u20DemiBold">Share Your Story</div>
                        <div class="u17Light">Share rides, photos, stories with Urtopia community in app.</div>
                    </div>
                </div>
                <img class="mobileHide" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_20568_2x_d38dda23-c5c8-4e39-b47c-941efa9c054b.jpg?v=1677912364" alt="">
                <img class="pcHide" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18407_2x_87816842-1a24-4ce0-9590-1bb335f1381d.jpg?v=1677929766" alt="">
            </div>
        </div>
        <div class="buttons">
            <div class="swiper-button-prev"></div><!--左箭头。如果放置在swiper外面，需要自定义样式。-->
            <div class="swiper-button-next"></div><!--右箭头。如果放置在swiper外面，需要自定义样式。-->
        </div>
        <div class="swiper-pagination"></div>
        </div>
    </div>



</div></div></div></div></div></div><div data-section-id="pf-59fa" data-pf-type="Section" class="sc-fmciRz bheIgq pf-48_"><div class="sc-gjNHFA gwWIgj"><div class="sc-ezbkAF A-dmbO pf-49_ pf-r pf-c-cm pf-r-eh" style="--s-xs:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-50_"><div data-pf-type="Custom.HTML" class="sc-AjmGg eCTxfx pf-51_"><style>

#section3 {
      /* max-width: 1280px; */
      margin: auto;
      --swiper-theme-color: #ff6600;/* 设置Swiper风格 */
      --swiper-navigation-color: #fff;/* 单独设置按钮颜色 */
      --swiper-navigation-size: 15px;/* 设置按钮大小 */
      position: relative;
      overflow-x: hidden;
  	  /* margin-bottom: 150px; */
      cursor: auto;
      color: #000;
    }

    #section3 .u42DemiBold {
        text-align: left;
        max-width: 1280px;
        margin: 0 auto 5%;
    }
    
    #section3 img {
      width: 100%;
      height: auto;
    }

    #section3 .swiper-slide .text {
      position: relative;
      text-align: left;
      font-size: 16px;
    }
  
  #section3 .swiper-slide .u24Medium {
	    font-weight: 700;
        margin: 30px 0;
  }

  #section3 .swiper-scrollbar {
    position: static;
    max-width: 1280px;
    margin: 5% auto 0;
  }

  #section3 .buttons {
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: end;
  }

  #section3 .buttons .swiper-button-prev,
  #section3 .buttons .swiper-button-next {
        margin-left: 20px;
        margin-top: 20px;
        position: static;
        background-color: #666;
        border-radius: 50%;
        padding: 20px;
        box-sizing: border-box;
        opacity: .5;
	z-index: 2;
  }

  #section3 .swiper-button-next.swiper-button-disabled,
  #section3 .swiper-button-prev.swiper-button-disabled {
    opacity: .25;
  }
  
  
</style>

<style>
@media (max-width: 767px) {
    #section3 .swiper-button-prev,
    #section3 .swiper-button-next {
        display: none;
    }

    #section3 .u42DemiBold {
        font-size: 24px;
    }

    #section3 .swiper-scrollbar {
        height: 2px;
        position: static;
        /* margin: 20px auto 0; */
        width: 100%;
    }

    #section3 .swiper-slide .u24Medium {
	    font-weight: 700;
        margin: 15px 0;
        font-size: 18px;
        line-height: 21px;
    }

    #section3 .swiper-slide .u20Light {
        font-size: 14px;
        line-height: 20px;
        padding-right: 7.5%;
    }
}
</style>


<div id="section3">
      <div class="u42DemiBold">Components</div>
      <div class="swiper-wrapper">
          <div class="swiper-slide">
              <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18353.png?v=1677736550" alt="">
              <div class="text">
                <div class="u24Medium">Portable Battery</div>
                <div class="u20Light">A 352.8 Wh lithium-ion removable battery provides ample energy so a rider can travel up to 75 miles (31 miles min.) after a mere 3-hr charge.</div>
              </div>
          </div>
          <div class="swiper-slide">
              <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20230118-untitled-4684.png?v=1677736653" alt="">
              <div class="text">
                <div class="u24Medium">Integrated Light</div>
                <div class="u20Light">20 Lux Headlight with German road regulation-compliant design: a well-balanced combination of beauty and safety.</div>
              </div>
          </div>
          <div class="swiper-slide">
              <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18303.png?v=1677736665" alt="">
              <div class="text">
                <div class="u24Medium">Adaptive Torque Sensor</div>
                <div class="u20Light">Unlike jerky cadence sensing, proprietary torque sensor enables super-fast speed adaption.</div>
              </div>
          </div>
          <div class="swiper-slide">
              <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18304.png?v=1677736802" alt="">
              <div class="text">
                <div class="u24Medium">Fenders & Kickstand</div>
                <div class="u20Light">Navigate rough terrains and any weather conditions with our pre-installed fenders and kickstand included in the package.</div>
              </div>
          </div>
          <div class="swiper-slide">
              <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18356.png?v=1677736974" alt="">
              <div class="text">
                <div class="u24Medium">Reliable Hydraulic Disc Brakes</div>
                <div class="u20Light">It provide reliable and consistent stopping power in any weather condition, ensuring a safe and smooth ride.</div>
              </div>
          </div>
          <div class="swiper-slide">
              <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18354.png?v=1677737057" alt="">
              <div class="text">
                <div class="u24Medium">8-Speed Shimano Gearing</div>
                <div class="u20Light">Experience seamless gear shifts and tackle different terrain with the versatile 8-speed Shimano gearing system.</div>
              </div>
          </div>
          <div class="swiper-slide">
              <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18355.png?v=1677737357" alt="">
              <div class="text">
                <div class="u24Medium">Responsive Motor</div>
                <div class="u20Light">The 350W intelligent motor delivers a quiet and smooth ride while also being energy-efficient, allowing riders to travel further.</div>
              </div>
          </div>
      </div>
      <div class="swiper-scrollbar"></div>
      <div class="buttons">
        <div class="swiper-button-prev"></div><!--左箭头。如果放置在swiper外面，需要自定义样式。-->
        <div class="swiper-button-next"></div><!--右箭头。如果放置在swiper外面，需要自定义样式。-->
      </div>
  </div>

</div></div></div></div></div></div><div data-section-id="pf-5b93" data-pf-type="Section" class="sc-fmciRz bheIgq pf-52_ pf-lg-hide pf-md-hide pf-sm-hide pf-hide"><div class="sc-gjNHFA gwWIgj"><div class="sc-ezbkAF A-dmbO pf-53_ pf-r pf-c-cm pf-r-eh" style="--s-xs:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-54_"><div data-pf-type="Custom.HTML" class="sc-AjmGg eCTxfx pf-55_"><style>

#section5 {
      max-width: 1280px;
      margin: auto;
      --swiper-theme-color: #ff6600;/* 设置Swiper风格 */
      --swiper-navigation-color: #fff;/* 单独设置按钮颜色 */
      --swiper-navigation-size: 20px;/* 设置按钮大小 */
      position: relative;
      overflow: hidden;
      cursor: auto;
      color: #000;
    }

    #section5 > .u42DemiBold {
        margin-bottom: 50px;
	  text-align: center;
    }

    #section5 .swiper-scrollbar {
        position: static;
        margin-top: 60px;
    }
    
    #section5 img {
      width: 100%;
      height: auto;
    }

    #section5 .swiper-button-prev,
    #section5 .swiper-button-next {
        background-color: #000;
        opacity: 0.5;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        top: 35%;
    }

    #section5 .swiper-button-prev.swiper-button-disabled,
    #section5 .swiper-button-next.swiper-button-disabled {
        opacity: 0.2;
    }

    #section5 .swiper-button-prev,
    #section5 .swiper-button-next {
      /* left: -40px; */
      top: 50%,
      /* transform: translateX(-20px); */
    }

    #section5 .swiper-slide .text {
      margin-top: 40px;
      height: 100px;
    }
  
  #section5 .swiper-slide .u24Medium {
	    font-weight: 700;
  }
  
  #section5 .swiper-slide .u20Medium {
    font-size: 18px;
  }
  
  
</style>

<style>
@media (max-width: 767px) {
    #section5 .swiper-button-prev,
    #section5 .swiper-button-next {
        display: none;
    }

    #section5 > .u42DemiBold {
        margin: 0;
        font-size: 30px;
    }

    #section5 .swiper-scrollbar {
        height: 2px;
        margin: 40px auto 0;
        /* width: calc(100vw - px); */
    }

    #section5 .swiper-slide .text {
        text-align: center;
        margin-top: 0;
	      height: 90px;
    }

    #section5 .swiper-slide .my-button {
        margin: auto;
        color: #fff;
        background-color: #000;
    }
}
</style>

<div id="section5">
      <div class="u42DemiBold">Upgrade Your Ride</div>
      <div class="swiper-wrapper">
			  {% for collection in collections %}
			   {% if collection.title == 'Chord Accessories' %}
				{% for producti in collection.products %}
				<div class="swiper-slide" data-product-id="{{producti.id}}">
					<img src="{{ producti.media[0] | image_url}}"/>
					<div class="text">
					  <div class="u24Medium">{{producti.title}}</div>
					  <div class="u20Medium">{{producti.price | money}}</div>
					</div>
					<a class="my-button my-button-white" href="">Add to Cart</a>
				</div>
					{% endfor %}
			   {% endif %}
			{% endfor %}
      </div>
      <div class="swiper-button-prev"></div><!--左箭头。如果放置在swiper外面，需要自定义样式。-->
     <div class="swiper-button-next"></div><!--右箭头。如果放置在swiper外面，需要自定义样式。-->
     <div class="swiper-scrollbar"></div>
  </div>

</div></div></div></div></div></div>


<style>
  .maksim {
      margin: 120px 0;
  }
  
  .maksim .centeral-content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }
  
  .maksim .centeral-content > div {
      width: 100%;
      background-color: #F7F8FA;
  }
  
  .maksim .left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-left: 64px;
  }
  
  .maksim .left .u17Light_v2 {
      margin: 15px 0 75px;
  }
  
  .maksim .right {
      background-image: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/123.jpg?v=1681887510');
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 695px;
  }
  
  @media (max-width: 767px) {
      .maksim {
        margin: 60px 0 20px;
      }
  
      .maksim .centeral-content {
          padding: 0;
          grid-template-columns: 1fr;
      }
  
      .maksim .right {
          max-width: 100vw;
          height: 80vw;
          flex: auto;
      }
  
      .maksim .left {
          margin: 0;
          padding: 10% 4%;
          box-sizing: border-box;
          order: 1;
      }
  
      .maksim .left .u42DemiBold_v2 {
          font-size: 24px;
      }
  
      .maksim .left .u17Light_v2 {
          margin: 5vw 0 10vw;
          font-size: 15px;
      }
  
      .maksim .left .my-button {
          margin: 0 auto;
      }
  }
  </style>

  <div class="maksim">
    <div class="centeral-content">
        <div class="left">
            <div class="u42DemiBold_v2">Chord X Maksim</div>
            <div class="u17Light_v2">A passionate prodigy, and one of the world’s <br> fastest pianists. Mr. Mrvica
                inspired the design <br> the
                philosophy of Chord, a crossover between <br> art and tech.</div>
            <a onclick="showVideoDialog('https://www.youtube.com/embed/gjYMDVGv_C4?autoplay=1&cc_load_policy=1')" class="my-button my-button-black">Watch video</a>
        </div>
        <div class="right"></div>
    </div>
</div>


  <div class="mediaaaaa gray-background-color"  style="--swiper-theme-color: #000;--swiper-pagination-color: #000;">
    <div class="centeral-content swiper-wrapper">
      <div class="swiper-slide">
        <div class="u17DemiBold_v2">“The smoothest and cleanest look”</div>
        <div class="flex-1"></div>
        <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_20921_2x_361face6-eba5-4a46-b1b6-0f038089d90d.png?v=1682577775" alt="">
        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18547_2x_125de9b4-019e-45e9-aa15-ae8622f4b5d0.png?v=1682587490" alt="">
      </div>
      <div class="swiper-slide">
        <div class="u17DemiBold_v2">“Battery integrated under the top tube like never before.”</div>
        <div class="flex-1"></div>
        <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_20921_2x_361face6-eba5-4a46-b1b6-0f038089d90d.png?v=1682577775" alt="">
        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18548_2x_fcd811c3-0864-4391-bfdf-ab9d2ff14383.png?v=1682587585" alt="">
      </div>
      <div class="swiper-slide">
        <div class="u17DemiBold_v2">“A lifestyle piece incorporates cutting-edge technology”</div>
        <div class="flex-1"></div>
        <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_20921_2x_361face6-eba5-4a46-b1b6-0f038089d90d.png?v=1682577775" alt="">
        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18549_2x_1574b613-b07b-4eb3-be66-1dd662cf5cd8.png?v=1682587573" alt="">
      </div>
      <div class="swiper-slide">
        <div class="u17DemiBold_v2">“The unusual smart e-bike is worth a look.”</div>
        <div class="flex-1"></div>
        <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_20921_2x_361face6-eba5-4a46-b1b6-0f038089d90d.png?v=1682577775" alt="">
        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18550_2x_aba70dcd-adaf-4458-9cd7-743f426f353b.png?v=1682587561" alt="">
      </div>
      <div class="swiper-slide">
        <div class="u17DemiBold_v2">“This is a model destined to conquer the public.”</div>
        <div class="flex-1"></div>
        <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_20921_2x_361face6-eba5-4a46-b1b6-0f038089d90d.png?v=1682577775" alt="">
        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18551_2x_f2956b2b-028f-44c0-a22a-99e34df986f3.png?v=1682587548" alt="">
      </div>
      <div class="swiper-slide">
        <div class="u17DemiBold_v2">“one of the most beautiful and futuristic ebikes of 2023”</div>
        <div class="flex-1"></div>
        <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_20921_2x_361face6-eba5-4a46-b1b6-0f038089d90d.png?v=1682577775" alt="">
        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18552_2x_4194a229-bf02-45a5-ab4f-fcb997a040cd.png?v=1682587535" alt="">
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>



<div data-section-id="pf-e9e5" style="background-color: #fff;" data-pf-type="Section" class="sc-fmciRz bheIgq pf-60_"><div class="sc-gjNHFA gwWIgj"><div class="sc-ezbkAF A-dmbO pf-61_ pf-r pf-c-cm pf-r-eh" style="--s-xs:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-62_"><div data-pf-type="Custom.HTML" class="sc-AjmGg eCTxfx pf-63_"><div id="section6">
    <div class="u42DemiBold">Peace of Mind Services</div>
    <div class="boxs gray-background-color">
      <div id="storepoint-container" data-tags="us" data-map-id="162f21804990ff"></div>
      <div class="texts">
        <div class="text">
          <div class="u30DemiBold">After-sales service, Worldwide</div>
          <div class="u17Light">We have over 20 authorized repair shops across major cities in USA to provide reliable after-sales service for our e-bikes. Our repair partners are experts in their field and have been carefully selected and trained to provide you with quality products and services.<br><br> Simply visit one of our authorized repair shops for repairs or maintenance. We’re committed to ensuring that you have a positive experience with our e-bikes.</div>
          <a class="my-button my-button-black" href="/pages/find-a-dealer">Find a Store</a>
        </div>
      </div>
		<div class="texts">
		  <div class="text">
			<div class="u30DemiBold">14-Day Free Return</div>
			<div class="u17Light"> Free return of unused products within 14 days of delivery.</div>
			<a class="u20DemiBold" href="/pages/care">Learn more</a>
		  </div>
		  <div class="text">
			<div class="u30DemiBold">2-Year Warranty</div>
			<div class="u17Light"> All Urtopia bikes are covered under our 2-year Limited Warranty for the owner against all manufacturing defects.</div>
			<a class="u20DemiBold" href="/pages/care">Learn more</a>
		  </div>
		</div>
	   <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230213-untitled-5440.jpg?v=1678012461">
    </div>
  </div>


<style>
#section6 {
  max-width: 1280px;
  margin: auto;
}

#section6 .u42DemiBold {
  margin: 60px auto;
  text-align: center;
}

#section6 .boxs {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#section6 .boxs .texts {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: left;

}


#section6 .boxs .texts .text {
  max-width: 400px;
}

#section6 .boxs .texts .text .u17Light {
  margin: 30px 0 10px 0;
}

#section6 .boxs .texts .u20DemiBold {
    text-decoration: underline;
}

  #section6 .boxs .my-button {
	margin-top: 20px;
  }


@media (max-width: 767px) {
  #section6 .boxs {
    display: flex;
    flex-direction: column;
  }

  #section6 .u42DemiBold {
    margin-bottom: 10%;
    text-align: left;
    font-size: 24px;
	    margin-top: 0;
  }

  #section6 .boxs .texts {
    padding: 10% 15px;
  }

  #section6 .boxs .texts .text + .text {
    margin-top: 15%;
  }

  #section6 .boxs .texts .u30DemiBold {
    font-size: 24px;
  }

  #section6 .boxs .texts .text .u17Light {
    font-size: 15px;
    margin-top: 15px;
  }

  #section6 .boxs .texts .u20DemiBold {
    font-size: 14px;
  }

  #section6 .boxs > *:nth-child(3) {
    order: 2;
  }

  #section6 .boxs > *:nth-child(4) {
    order: 1;
  }
}
</style>

<style>
  #storepoint-tag-dropdown,
  #storepoint-search,
  #storepoint-panel {
	 display:none!important;
  }
  
  #storepoint-map,
  #storepoint-container {
	width: 100% !important;
  }
  
  @media (max-width: 767px) {
	#storepoint-container {
	  min-height: calc(100vw - 30px);
   }
  }
</style>


</div></div></div></div></div></div><div data-section-id="pf-0736" data-pf-type="Section" class="sc-fmciRz bheIgq pf-64_"><div style="--cw:1280px" class="sc-gjNHFA gwWIgj"><div class="sc-ezbkAF A-dmbO pf-65_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-66_"><div data-pf-type="JudgeMe" class="sc-eZhRLC gtfCKx pf-67_"><div class="pf-judme">{% include "judgeme_widgets", widget_type: "judgeme_review_widget", concierge_install: false %}</div></div></div></div></div></div></div></div></div></div>

<img class="toTop" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_21049.svg?v=1687267470">

<div class="top-fixed mobileHide">
    <div class="centeral-content">
        <span class="u20DemiBold_v2">{{ product.title }}</span>
        <span class="flex-1"></span>
        <div>
            <span class="u17Light_v2"><span class="u20DemiBold_v2 emphasize" style="font-weight: 600;">{{ product.price | minus: settings.chord_ebike_discount_price | money }}</span></span>
            <span class="u14Light_v2">or as low as {{ 14992 | money }}/Month</span>
        </div>
        <a href="#product_form_{{ product.id }}" class="my-button my-button-origin">Order Now</a>
    </div>
</div>

<div class="bottom-fixed pcHide">
    <a href="#product_form_{{ product.id }}" class="my-button my-button-origin">Order Now</a>
    <div>
        <span class="u14Light_v2"><span class="emphasize" style="font-weight: 600;">{{ product.price | money }}</span></span>
        <span class="u14Light_v2">or as low as {{ 14992 | money }}/Month</span>
    </div>
</div>

<script>
  // 默认隐藏
  $('.bottom-fixed').hide()
  $('.top-fixed').hide()
  $('.toTop').hide()

    const search = getSearchValues()
    const variants = JSON.parse(JSON.stringify({{ product.variants | json }}))
    const size_map = {
        'High-Step': `Fit for 5’7’’~6’5’’`,
        'Step-Through': `Fit for 5’3’’~6’1’’`
    }

    let current_variant_id = null
    let current_variant = null
    const frames = {}
    const styles = {}
    
    const leftSwiper = new Swiper(".product .left-swiper", {
        direction: 'vertical',
        spaceBetween: 8,
        slidesPerView: 8,
        freeMode: true,
        watchSlidesProgress: true,
      })

      const rightSwiper = new Swiper(".product .right-swiper", {
        autoHeight: true,
        navigation: {
          nextEl: ".product .right-swiper .swiper-button-next",
          prevEl: ".product .right-swiper .swiper-button-prev",
        },
        pagination: {el:'.swiper-pagination'},
        effect: 'fade',
        fadeEffect:{
            crossFade: true
        },
        thumbs: {
          swiper: leftSwiper,
        },
      });

    function findVariantOptions (frame, style) {
        return variants.find(v => `${frame} / ${style}` === v.title)
    }

    function findVariantFromId (id) {
        return variants.find(v => String(v.id) === String(id))
    }

    function findAvailableVariant () {
        return variants.find(v => v.available)
    }

    let current_frame = ''
    let current_style = ''
    function changeVariant (frame, style) {
        if (current_frame !== frame) {
            $(`.product .product-panel .Frame .active`).removeClass('active')
            $(`.product .product-panel .Frame > div[attribute="${frame}"]`).addClass('active')

            if (frame === 'High-Step') {
              $(`.product .product-panel .accessories .chord-accessories-1 .active`).click()
              $(`.product .product-panel .accessories .chord-accessories`).show()
              $(`.product .product-panel .accessories .chord-accessories-1`).hide()

              $(`.product .product-panel .options > div[option="Frame"] .u17DemiBold_v2 .u17Light_v2`).text(`Chord - ${size_map[frame]}`)


            } else {
              $(`.product .product-panel .accessories .chord-accessories .active`).click()
              $(`.product .product-panel .accessories .chord-accessories`).hide()
              $(`.product .product-panel .accessories .chord-accessories-1`).show()

              $(`.product .product-panel .options > div[option="Frame"] .u17DemiBold_v2 .u17Light_v2`).text(`Chord X - ${size_map[frame]}`)
            }

            $(`.product .product-panel .accessories .items`).animate({
                scrollLeft: 0
            }, 300)
        }

        if (current_style !== style) {
            $(`.product .product-panel .Style .active`).removeClass('active')
            $(`.product .product-panel .Style > div[attribute="${style}"]`).addClass('active')
            $(`.product .product-panel .options > div[option="Style"] .u17DemiBold_v2 .u17Light_v2`).text(style)
        }


        if (frame !== current_frame || style !== current_style) {
            current_variant = findVariantOptions(frame, style)
            current_variant_id = current_variant.id
            current_frame = frame
            current_style = style


            history.replaceState(null, '', `${location.pathname}?variant=${current_variant_id}`);
            $('.product .product-panel input[name="id"]').val(current_variant_id)
            $('.product .delivery_time').html(global_config.chord_order_page_config.ebike_delivery_time[current_variant_id] || global_config.chord_order_page_config.ebike_default_delivery_time)

            const btn =  $('.product .buttons .addToCartBtn')
            if (current_variant.available) {
                btn.find('span').text('Add to Cart')
                btn.removeClass('disabled')
            } else {
                btn.find('span').text('Sold out')
                btn.addClass('disabled')
            }

            const swiper_arr = global_config.chord_order_page_config.product_images[frame][style].concat(global_config.chord_order_page_config.product_images[frame]['commonSwiper'])

            $('.product .right-swiper .swiper-wrapper').html(swiper_arr.map((s, i) => {
                const index = i % 6

                return  `<div class="swiper-slide">
                            <img src="${s}">
                        </div>`
              }).join(''))
            $('.product .left-swiper .swiper-wrapper').html(swiper_arr.map(s => `<div class="swiper-slide"><img src="${s}"></div>`).join(''))
            
            // update
            setTimeout(() => {
                rightSwiper.update()
                rightSwiper.slideTo(0, 0)
                
                leftSwiper.update()
                leftSwiper.slideTo(0, 0)
            }, 0)
        }

        console.log(current_variant)
    }


    function changeAddToCartText (parse, step = 0) {
        if (step) {
            $(".addToCartBtn i").toggleClass("showi");
            document.querySelector(".addToCartBtn span").innerHTML = "Adding...";
        } else {
            setTimeout(()=>{
                $(".addToCartBtn i").toggleClass("showi");
                document.querySelector(".addToCartBtn span").innerHTML = "Add to Cart";
            }, 800)
        }
    }

    function pageInit() {
      const variant_id = search.variant || global_config.chord_order_page_config.default_variant
      let find = findVariantFromId(variant_id)

      if (!find || !find.available) {
        find = findAvailableVariant()
      }

      // 如果默认 variant 也不可用，那晒显出能用的variant
      changeVariant(find.option1, find.option2) 
    }


    let id = 0;
    let adding = false;
    let cart1 = document.querySelector("cart-notification") || document.querySelector("cart-drawer");

    function addAllToCart(parse) {
        const cartList = { items: [] }

        if (adding == false) {
          changeAddToCartText(parse, 1);
          adding = true;
          
          cartList.items.push({ id: current_variant_id, quantity: 1 });

          if (cart1) {
            var sections = cart1.getSectionsToRender().map((section) => section.id);
            cartList.sections = sections.join(",");
          }

          // 新增普通配件
        $('.product .accessories .items .active').each((i, item) => {
          cartList.items.push({ 
            id: $(item).attr('variant-id'), 
            quantity: 1
          })
        })

          fetch("/cart/add.js", {
            method: "POST",
            body: JSON.stringify(cartList),
            headers: {
              "Content-Type": "application/json",
            },
          })
            .then((res) => res.json())
            .then((res1) => {
              res1.key = "";

              cart1.classList.contains('is-empty') && cart1.classList.remove('is-empty');

              if (!(res1.message && res1.status)) {
                cart1.renderContents(res1);
              }

              changeAddToCartText(parse, 0);
            })
            .catch((err) => {
              changeAddToCartText(parse, 0);
              
            }).finally(() => {
              adding = false
              fetchBuried('websiteclick', `chord-order-page`, { button: 'ATC' })
            })
        }
  }

    {% for variant in product.variants %}
        frames[{{ variant.option1 | json }}] = 1
        styles[{{ variant.option2 | json }}] = 1
    {% endfor %}

    console.log('variants', variants)

    for (const frame of Object.keys(frames)) {
        $('.product .product-panel .Frame').append(`<div attribute="${frame}" class="${frame}">${frame}</div>`)
    }

    for (const style of Object.keys(styles)) {
        $('.product .product-panel .Style').append(`<div attribute="${style}" class="${style}"></div>`)
    }


    $('.product-panel .options .option >div:not(.u17DemiBold_v2) > div').on('click',e => {
        const t = $(e.target)

        if ($(e.target).parent().hasClass('Frame')) {
            changeVariant(t.attr('attribute'), current_variant.option2)
        } else {
            changeVariant(current_variant.option1, t.attr('attribute'))
        }
    })

    $('.accessories .navigate > div').on('click', e => {
        const items1 = $('.product .accessories .chord-accessories')
        const items2 = $('.product .accessories .chord-accessories-1')

        items1.animate({
            scrollLeft: items1.scrollLeft() + ($(e.target).hasClass('next') ? 180 : -180)
        }, 300)

        items2.animate({
            scrollLeft: items2.scrollLeft() + ($(e.target).hasClass('next') ? 180 : -180)
        }, 300)
    })

    $('.accessories .items .item').on('click', e => {
        const item = $(e.target).closest('.item')
        const icon = item.find('.u11Light_v2')

        if (item.hasClass('active')) {
            item.removeClass('active')
            icon.html('<i class="fa-solid fa-plus"></i>')
            
        } else {
            item.addClass('active')
            icon.html('<i class="fa-solid fa-check"></i>')
        }
    })

    $('.product .product-panel').on("submit", function (event) {

        // 阻止默认行为
        event.preventDefault();
        return false;
    })

    $('.product .dialogs > div').on('click', e => {
        const m = {
            0: 'one',
            1: 'two',
            2: 'three',
            3: 'four'
        }

        $('.product .dialogs > div').each((i, t) => {
            if ($(e.target).closest('.u17Medium_v2')[0] === t) {
                console.log(i)

                const layer = document.querySelector(`.order-modal-${m[i]}`);
                const laybox = document.querySelector(`.order-modal-layer-${m[i]}`);
                layer.style.display = "flex";
                laybox.className += " dialog-open";
            }
        })
    })

    $('.toTop').on('click', e => {
        $('html').animate({
            scrollTop: 0
        }, 300)
    })

    let currnetScroolTop = 0
    $(document).on('scroll', throttle(e => {
        const top1 = $('div[data-section-id="pf-d02a"]').offset().top
        const top3 = $('.product .addToCartBtn').offset().top
        const top2 = $(e.target).scrollTop()

        const h = window.screen.height

        if (global_config.is_mobile) {
            if (top2 > top3) {
                $('.bottom-fixed').show()
            } else {
                $('.bottom-fixed').hide()
            }
        } else {
            if (top2 > top1) {
                $('.top-fixed').show()
            } else {
                $('.top-fixed').hide()
            }

            if (currnetScroolTop > top2) {
                $('.top-fixed').hide()
            }

            currnetScroolTop = top2
        }

        top2 > (h * 2) ? $('.toTop').show() : $('.toTop').hide()

    }, 300, 100))

    // 页面初始化
    pageInit()
</script>

<script src="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.3.3/dist/jBox.all.min.js"></script>
<link href="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.3.3/dist/jBox.all.min.css" rel="stylesheet">


<script setup>


const width = document.body.clientWidth
const isMobile = width < 768

new Swiper('#section3', {
        slidesOffsetBefore: width > 1280 ? (width - 1280) / 2 : 0,  
        spaceBetween: isMobile ? '4%' : '2%',
        slidesPerView: isMobile ? 1.5 : 4,
        freeMode: isMobile ? true : false,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
       },
       scrollbar: {
            el: '.swiper-scrollbar',
		       draggable: true,
      },
  }) 

</script>

<script>
  
console.log({{collections | json }})
new Swiper('#section5', {    
        spaceBetween: 15,
        slidesPerView: isMobile ? 1 : 4,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
       },
       scrollbar: {
            el: '.swiper-scrollbar',
      },
 })
  

</script>




<script>
  document.body.clientWidth < 768 && new Swiper ('.mediaaaaa', {    
    autoplay: {
      disableOnInteraction: false,
      pauseOnMouseEnter: false,
      delay: 5000,
    },
    loop: true,
    effect: 'fade',
    fadeEffect:{
      crossFade: true
    },
    pagination: {el:'.swiper-pagination'},
    speed: 300
    })
</script>

<script>
  (function(){
    var a=document.createElement("script");
    a.type="text/javascript";
    a.defer=!0;
    a.src="https://cdn.storepoint.co/api/v1/js/162f21804990ff.js";
    var b=document.getElementsByTagName("script")[0];
    b.parentNode.insertBefore(a,b);}());
</script>

<script>
const widthh = document.body.clientWidth
const isMobilee = widthh < 768
  
 new jBox('Modal', {
        width: isMobilee ? 'calc(100vw - 30px)' : '70%',
        height: 'auto',
        appendTo: $('#section2'),
        title: 'Design',
        closeButton: 'title',
        content: $('#section2-design-dialog'),
    }).attach('#section2 .design')
  
   new jBox('Modal', {
        width: isMobilee ? 'calc(100vw - 30px)' : 1000,
        height: 'auto',
        appendTo: $('#section2'),
        title: 'Smart',
        closeButton: 'title',
        content: $('#section2-smart-dialog'),
	 onOpenComplete: function () {
            const videos =  document.querySelectorAll('video')

            videos.forEach(video => {
                video.play()
            })
          }
    }).attach('#section2 .smart')
  
  new Swiper('#section2-design-dialog', {    
        spaceBetween: isMobilee ? 0 : '3%',
        slidesPerView: isMobilee ? 1 : 2.5,
        // slidesOffsetAfter: 70,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
       },
	    pagination: {
         el:'.swiper-pagination'
       },
  })
  
  new Swiper('#section2-smart-dialog', {    
        spaceBetween: isMobilee ? 0 : '3%',
          slidesPerView: 1,
          height: '100%',
          autoHeight: true,
        // slidesOffsetAfter: 70,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
       },
	    pagination: {
         el:'.swiper-pagination'
       },
  })
  
</script>
{% render 'chord-extra-code' %}