{{ 'pagefly-main.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'pagefly.9b29433f.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'carbon-one.scss.css' | asset_url | stylesheet_tag: preload: true }}

<style>
    :root {
          --sale-color1: #FD4B17;
          --sale-color2: #FD4B17;
          --sale-color3: #FD4B17;
          --sale-color4: #FD4B17;
    }

    .carry {
      margin-top: 100px;
    }

    .product .centeral-content .product-panel .options .Model div[attribute*="350W"],
    .product .centeral-content .product-panel .options .Model div[attribute*="250W"] {
       border-color: unset;
    }

    .product .centeral-content .product-panel .options .Model div[attribute*="350W"]:after,
    .product .centeral-content .product-panel .options .Model div[attribute*="250W"]:after {
      content: "";
      background-color: transparent;
    }

    .product .emphasize-list {
        box-shadow: #0000001a 0 0 6px;
        border-radius: 10px;
        padding: 10px 15px;
        margin: 0 0 16px;
        line-height: 1.8em;
      }
      .product .emphasize-list li {
          list-style: none;
          display: flex;
      }
      .product .emphasize-list li > span:first-child {
          color: rgb(253, 75, 23);
          margin-right: 5px;
          transform: translateY(-1px);
          display: inline-block;
      }

      .product .centeral-content [data-price]::after {
            content: attr(data-price);
            font-size: 24px;
            opacity: 0.75;
            text-decoration: line-through;
            margin-left: 5px;
        }

        .boxs3 {
          margin-bottom: 120px;
        }

        @media (max-width: 767px) {
            .product .emphasize-list {
              font-size: 14px;
              margin-top: 6px;
            }

            .carry {
              margin-top: 60px;
            }

            .boxs3 {
              margin-bottom: 60px;
            }
        }
</style>

  <div style="opacity:0" class="sc-bYoBSM hUVNGC __pf __pf_kIY6jB09" id="__pf"><div data-pf-type="Body" class="sc-hjGZqJ fNoOP pf-1_"><div data-pf-type="Layout" class="sc-htJRVC dNJAjO pf-2_"><div data-pf-type="ProductPreview" class="sc-cvlWTT btfkZr pf-3_"> </div>
	<div class="product" data-pf-type="ProductBox">
		<div class="centeral-content">
			<div class="commonComponent pcHide">
				<div class="u36DemiBold_v2">{{ product.title }}</div>
				<div data-pf-type="JudgeMe" class="sc-eZhRLC gtfCKx pf-25_ order-djs mb6">
					<div class="pf-judme">{% render "judgeme_widgets", widget_type: "judgeme_preview_badge", jm_style: "", concierge_install: false, product: product %}</div>
				</div>
				<div class="u30DemiBold_v2 mb6" data-price={{ product.compare_at_price | money }}>{{ product.price | money }}</div>
			</div>
			<div class="featured_image">
				<div class="swiper left-swiper mobileHide">
					<div class="swiper-wrapper">
					</div>
				</div>
				<div class="swiper right-swiper" style="--swiper-navigation-color: #fff;--swiper-theme-color: #000;--swiper-pagination-color: #000;">
					<div class="swiper-wrapper"></div>
					<div class="swiper-button-prev mobileHide"></div><!--左箭头。如果放置在swiper外面，需要自定义样式。-->
					<div class="swiper-button-next mobileHide"></div><!--右箭头。如果放置在swiper外面，需要自定义样式。-->
					<div class="swiper-pagination pcHide"></div>
					<div class="flex-1 mobileHide"></div>
					<div class="parameters mobileHide">
						<div>
							<img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18448_2x_833c8995-fa19-4297-af29-678ac4064d0c.png?v=1687176385"/>
							<span><span class="u14Light_v2">Carbon Fiber</span><span class="u17DemiBold_v2">33 lbs.</span></span>
						</div>
						<div>
							<img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18449_2x_e118ab7b-18ca-4612-afb3-20758874d9c7.png?v=1687177181"/>
							<span><span class="u14Light_v2">Fast & Easy</span><span class="u17DemiBold_v2">90% Assembled</span></span>
						</div>
						<div>
							<img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18445_2x_2e6c6230-7ed1-4c3d-99ad-54ba48fa57b4.png?v=1687177370"/>
							<span><span class="u14Light_v2">Adaptive</span><span class="u17DemiBold_v2">Torque Sensor</span></span>
						</div>
						<div>
							<img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18447_2x_c102facd-9087-4028-8f97-34a7af31b1f6.png?v=1687177414"/>
							<span><span class="u14Light_v2">Range</span><span class="u17DemiBold_v2">60 miles</span></span>
						</div>
						<div>
							<img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18450_2x_50383af6-61df-4632-9cbc-531630580f61.png?v=1687177242"/>
							<span><span class="u14Light_v2">Phone App</span><span class="u17DemiBold_v2">iOS, Android</span></span>
						</div>
						<div>
							<img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18446_2x_791e060a-ed39-42c5-9cf0-965d7e5110bb.png?v=1687177232"/>
							<span><span class="u14Light_v2">Anti-theft</span><span class="u17DemiBold_v2">GPS Tracking</span></span>
						</div>
					</div>
				</div>            
			</div>
			<form method="post" accept-charset="UTF-8" action="/cart/add" class="product-panel pf-product-form" data-productid={{ product.id }} id="product_form_{{ product.id }}" enctype="multipart/form-data">
				<input type="hidden" name="id" data-product-id="{{product.id}}" value="{{ product.selected_or_first_available_variant.id }}"/>
				<input type="hidden" name="form_type" value="product">
				<input type="hidden" name="utf8" value="✓">
				<div class="commonComponent mobileHide" id="sale_acc">
					<div class="u36DemiBold_v2 mb6">{{ product.title }}</div>
					<div data-pf-type="JudgeMe" class="sc-eZhRLC gtfCKx pf-25_ order-djs mb6">
						<div class="pf-judme">{% render "judgeme_widgets", widget_type: "judgeme_preview_badge", jm_style: "", concierge_install: false, product: product %}</div>
					</div>
					<div class="u30DemiBold_v2 mb6" data-price={{ product.compare_at_price | money }}>{{ product.price | money }}</div>
				</div>
          <ul class="emphasize-list u17Medium_v2">
            <li><span>●</span><span>Include sample bikes with the same quality and appearance as new bikes</span></li>
            <li><span>●</span><span>2-year warranty</span></li>
            <li><span>●</span><span>14-Day Returns</span></li>
            <li><span>●</span><span>Free shipping </span></li>
          </ul>
				<div class="options">
          {% for option in product.options_with_values %}
              <div class="option" option={{option.name}} position="{{ option.position }}">
                <div class="u17DemiBold_v2 mb12">{{ option.name }} - <span class="u17Light_v2"></span></div>
                <div class="{{ option.name }} mb12">
                  {% for value in option.values %}
                    {% case option.name %}
                    {% when "Model" %}
                        <div attribute="{{ value }}" class="{{ value }}">{% assign values = value | split: " · " %}
                          {% for value in values %}
                            <span>{{ value }}</span>
                          {% endfor %}
                        </div>
                    {% when "Style" %}
                      <div attribute="{{ value }}" class="{{ value }}"></div>
                    {% else %}
                        <div attribute="{{ value }}" class="{{ value }}">{{ value }}</div>
                    {% endcase %}                     
                  {% endfor %}
                </div>
              </div>
          {% endfor %}
				</div>
				<div class="accessories">
					<div class="u17DemiBold_v2 mb12">Accessories</div>
					<div class="navigate">
						<div class="prev"></div>
						<div class="next"></div>
					</div>
					<div class="items mb12">
						{% for prod in collections['on-page'].products %}
							{% if prod.available %}
								{% assign variant = prod.variants | first %}
								<div class="item" variant-id="{{ variant.id }}">
								  <div class="u11Medium_v2">{{ prod.title }}</div>
								  <div>
									<div>
									  <span class="u17DemiBold_v2">{{ prod.price | money }}</span>
									  <span class=u11Light_v2>
										<i class="fa-solid fa-plus"></i>
									  </span>
									</div>
									{{ prod.featured_image | image_url: width: 400 | image_tag }}
								  </div>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
				<div class="error-tip u14Medium_v2" style="color:red;">Your order quantity has reached our stock limit</div>    
				<div class="buttons">
					<div
						data-product-id="{{ product.id }}"
						class="my-button my-button-origin addToCartBtn"
						onclick="addAllToCart('atc')"
						id="addToCart"
                        style="background: #000;"
						>
						<i class="fa fa-spinner fa-spin"></i><span data-pf-type="Text" class="addToCartText u17DemiBold_v2">Add to Cart</span>
					</div>
                    <div
                        class="my-button my-button-origin mb6"
                        onclick="buynow(this)"
                        style="width: 100%;"
                        >
                        <span class="u17DemiBold_v2" style="align-items: center;">Buy Now</span>
                    </div>
					  <div onclick="testRideTrace('klarna_check_out', this)" class="orderTestRideBtn">
						<img class="twoooo"src="https://cdn.shopifycdn.net/s/files/1/0633/2068/6808/files/20230530-121400.png?v=1685420054"/>
						<span><span class="u17DemiBold_v2">0% APR</span><span>24 months, <span class="stages">{{ product.price | minus: 0 | divided_by: 24 | money_without_trailing_zeros }}</span>/month</span></span>
					</div>
				</div>
				<div class="delivery_time mb12">Free shipping <span>within 5 days</span></div>
				<div class="support mb12">
					<a href="#boxs3">
						<img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230621-005713.png?v=1687280264"/>
						<span class="u11Medium_v2">30+ Spots<br>of Service</span>
					</a>
					<a href="/pages/shipping-and-return" target="_blank">
						<img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_17959_2x_cff00041-4dce-479b-b87d-55b1cb89cd7a.png?v=1687161086"/>
						<span class="u11Medium_v2">14-Day<br>Returns</span>
					</a>
					<a href="/pages/warranty" target="_blank">
						<img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_17958_2x_1e776f09-0686-4672-a22f-b29d2df3898d.png?v=1687161098"/>
						<span class="u11Medium_v2">2-Year<br>Warranty</span>
					</a>
				</div>
				<div class="dialogs">
					<div class="u17Medium_v2">
						<span>Size & Fit</span>
						<span>&gt;</span>
					</div>
					<div class="u17Medium_v2">
						<span>Technical Specifications</span>
						<span>&gt;</span>
					</div>
					<div class="u17Medium_v2">
						<span>Support & Service</span>
						<span>&gt;</span>
					</div>
					<!--<div class="u17Medium_v2">
						<span>FAQs</span>
						<span>&gt;</span>
					</div>-->
				</div>
			</form>
		</div>
	</div>

<div data-section-id="pf-535a" data-pf-type="Section" id="Product-Title" class="sc-fmciRz bheIgq pf-8_">

<div id="freedom" class="freedom">
  <div class="centeral-content">
    <div class="u42DemiBold_v2">Feel the New Shape of Freedom</div>
    <div class="values">
      <div>
        <span class="u36DemiBold_v2">33
          <span class="u17Light_v2">lbs</span>
        </span>
        <span class="u17Light_v2">Net Weight</span>
      </div>
      <div>
        <span class="u36DemiBold_v2">60+
          <span class="u17Light_v2">miles</span>
        </span>
        <span class="u17Light_v2">per charge</span>
      </div>
      <div>
        <span class="u36DemiBold_v2">4
          <span class="u17Light_v2">levels</span>
        </span>
        <span class="u17Light_v2">pedal assist</span>
      </div>
      <div>
        <span class="u36DemiBold_v2">2.5
          <span class="u17Light_v2">hrs</span>
        </span>
        <span class="u17Light_v2">Full Charge</span>
      </div>
    </div>
    <div class="values2">
      <div>
        <span class="u17Medium_v2">Full</span>
        <span class="u17Medium_v2">Carbon Fiber</span>
      </div>
      <div>
        <span class="u17Medium_v2">Magnetic</span>
        <span class="u17Medium_v2">Torque Sensor</span>
      </div>
      <div>
        <span class="u17Medium_v2">Portable</span>
        <span class="u17Medium_v2">Samsung Battery</span>
      </div>
      <div>
        <span class="u17Medium_v2">TEKTRO Hydraulic</span>
        <span class="u17Medium_v2">Disc Brakes</span>
      </div>
      <div>
        <span class="u17Medium_v2">Brushless</span>
        <span class="u17Medium_v2">Hub Motor</span>
      </div>
      <div>
        <span class="u17Medium_v2">Integrated</span>
        <span class="u17Medium_v2">lighting system</span>
      </div>
    </div>
  </div>
</div>

<!--<div class="boxs">
  <div class="centeral-content">
    <div>
      <div class="u36DemiBold_v2">Carbon 1s</div>
      <div class="u20Light_v2">Next-level adventures with gears</div>
      <div class="u17DemiBold_v2">
        <div>
          <span class="emphasize">●</span>
          Up to 25mph</div>
        <div>
          <span class="emphasize">●</span>
          350W 45Nm motor</div>
        <div>
          <span class="emphasize">●</span>
          Assist levels x Gears: 4 x 7</div>
        <div>
          <span class="emphasize">●</span>
          Increased ride range</div>
        <div>
          <span class="emphasize">●</span>
          Wider terrain capabilities</div>
      </div>
      <div class="u17Light_v2">Carbon 1s offers the options of pushing a harder gear to get more workout or speed; or riding an easy gear with less stress on the legs. The 350W motor with gears makes your ride speedier and easier to travel up the hills. </div>
    </div>
    <div></div>
    <div></div>
    <div>
      <div class="u36DemiBold_v2">Carbon 1</div>
      <div class="u20Light_v2">Urban thrills obtained with elegance</div>
      <div class="u17DemiBold_v2">
        <div>
          <span class="emphasize">●</span>
          Gates carbon belt drive</div>
        <div>
          <span class="emphasize">●</span>
          Cleaner, quieter and smoother</div>
        <div>
          <span class="emphasize">●</span>
          Relative maintenance free</div>
          <div>
          <span class="emphasize">●</span>
          Last forever (rated 19,000miles )</div>
      </div>
      <div class="u17Light_v2">Carbon1 is great for commuters because you’ll never get a grease mark on your nice slacks. If you enjoy quiet rides in the morning while enjoying nature and the birds’ singing, you may want to opt for a belt drive.</div>
    </div>
  </div>
</div>-->

<div class="carry">
  <div class="centeral-content">
    <div>
      <div class="u30DemiBold_v2">Effortless to Carry</div>
      <div class="u20Light_v2">Full Carbon (Only 33lbs)</div>
      <div class="u14Light_v2">Literally, an e-bike single-handedly manageable. Just a fraction of the weight compared to peer e-bikes, thanks to a full carbon body of frame, handlebar, seat post, and forks.</div>
    </div>
  </div>
</div>


<div class="boxs2">
  <div class="centeral-content">
    <div></div>
    <div>
      <div class="u36DemiBold_v2">A bike you never lose</div>
      <div class="u17Light_v2"><br>Aided by a constant 4G connection, GPS tracking keeps you informed of the e-bike’s position, even in the worst scenario of theft, for as long as 30 days. <br><br>We have helped users all over the world to retreat their beloved bike.</div>
    </div>
    <div>
      <div class="u36DemiBold_v2">Navigation without Cellphone</div>
      <div class="u17Light_v2"><br>Bright screen shows navigation clearly under daylight, no more ugly phone holder. <br><br>Let you explore the unknown safe and free.</div>
    </div>
    <div></div>
    <div></div>
    <div>
      <div class="u36DemiBold_v2">Integrated with <br>Apple Watch and Strava</div>
      <div class="icons">
        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230721-134446.png?v=1689918329" alt="">
        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Path_67707_2x_806d4e68-ba1e-4ce8-9b92-3b936a3ec301.png?v=1689909699" alt="">
      </div>
      <div class="u17Light_v2">Urtopia E-Bike allow syncing Apple Watch for Heart Rate Monitoring on Smartbar in real time. Urtopia App also break data barriers, sync with Apple Health, and share to Strava in just one click!</div>
      <div class="my-button my-button-black" onclick="showVideoDialog('https://www.youtube.com/embed/GBt6O-Zw8C8?autoplay=1&cc_load_policy=1')">Watch Video</div>
    </div> 
  </div>
</div>

			
			<div class="carbon-one mobileHide">
				<div class="mediaaaaa gray-background-color"  style="--swiper-theme-color: #000;--swiper-pagination-color: #000;">
					<div class="centeral-content swiper-wrapper" style="box-sizing: content-box;">
						<div class="swiper-slide">
							<div class="u17DemiBold_v2">“It’s incredibly fun to ride”</div>
							<div class="flex-1"></div>
							<img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_20921_2x_361face6-eba5-4a46-b1b6-0f038089d90d.png?v=1682577775" alt="">
							<img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20230228-165148.png?v=1677574346" alt="">
						</div>
						<div class="swiper-slide">
							<div class="u17DemiBold_v2">“One of the smartest ebike”</div>
							<div class="flex-1"></div>
							<img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_20921_2x_361face6-eba5-4a46-b1b6-0f038089d90d.png?v=1682577775" alt="">
							<img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20230228-165209.png?v=1677574346" alt="">
						</div>
						<div class="swiper-slide">
							<div class="u17DemiBold_v2">“Lightweight carbon fiber road e-bike with affordably-price”</div>
							<div class="flex-1"></div>
							<img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_20921_2x_361face6-eba5-4a46-b1b6-0f038089d90d.png?v=1682577775" alt="">
							<img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18537_2x_b9f3aad4-46fb-4257-b3c6-6df9550b1fac.png?v=1682582769" alt="">
						</div>
						<div class="swiper-slide">
							<div class="u17DemiBold_v2">“One of the lightest ebike”</div>
							<div class="flex-1"></div>
							<img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_20921_2x_361face6-eba5-4a46-b1b6-0f038089d90d.png?v=1682577775" alt="">
							<img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18075_2x_5ed82c19-16b6-4f05-870a-623b5429a75f.png?v=1677303615" alt="">
						</div>
						<div class="swiper-slide">
							<div class="u17DemiBold_v2">“The AI-powered co-pilot adds a new level of intelligence and interactivity”</div>
							<div class="flex-1"></div>
							<img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_20921_2x_361face6-eba5-4a46-b1b6-0f038089d90d.png?v=1682577775" alt="">
							<img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230913-173450.png?v=1694597715" alt="">
						</div>
						<div class="swiper-slide">
							<div class="u17DemiBold_v2">“Does phone tech better than some phones”</div>
							<div class="flex-1"></div>
							<img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_20921_2x_361face6-eba5-4a46-b1b6-0f038089d90d.png?v=1682577775" alt="">
							<img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20230228-165159.png?v=1677574346" alt="">
						</div>
					</div>
					<div class="swiper-pagination"></div>
				</div>
			</div> 

      <div class="test-ride">
        <div class="centeral-content">
          <div>
            <div>
              <div class="u36DemiBold_v2">Test ride spots near you</div>
              <div class="u20DemiBold_v2">Experience the bike in real</div>
              <a
                class="my-button my-button-origin"
                href="/pages/test-ride"
                target="_blank">Book a Free Test Ride</a>
            </div>
          </div>
          <div>
            <div style="padding: 0;">
              <div
                id="storepoint-container"
                data-tags="us"
                data-map-id="162f21804990ff"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="boxs3" id="boxs3">
  <div class="centeral-content">
    <div></div>
    <div>
      <div class="u30DemiBold_v2">Local care all the time</div>
      <div class="u17Light_v2">
        <div><img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/shopping-mall_2x_44d99fcd-f0f4-443b-927e-b68e48af010f.png?v=1687259496">30+ service partners</div>
        <div><img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/24-hours_2x_d6a8eeb2-4564-4351-8cb9-096dbb778479.png?v=1687259501">24hrs service response, App build-in portal</div>
        <div><img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/box_2x_2b3b7c15-f5ae-4305-956f-7543b63b2dda.png?v=1687259506"><span>Spare parts available locally, ships in 3 days.1 service center, 30+ service partners</span>
        </div>
        <div><img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/customer-satisfaction_2x_c7081e3a-1864-43b6-8ed2-f77895eafa6a.png?v=1687259512">10+ technical experts, 99% satisfaction rate.</div>
      </div>
      <a class="my-button my-button-black" href="/pages/care" target="_blank">Learn more</a>
    </div>
    <!--<div>
      <div class="u30DemiBold_v2">Leasing Partners at Your Choice</div>
      <div class="u17Light_v2">We offer you the opportunity to get your dream bike at low monthly leasing rates through various leasing providers.</div>
      <div class="logos">
        <div>
          <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/JR-Logo_-RGB-schwarz-large-4x_2x_90eff7ba-f64b-45ef-8e7e-65490e740385.png?v=1687260470">
        </div>
        <div>
          <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18616_2x_d0fb1804-0a96-4524-9463-6cd30673cf6d.png?v=1687260793">
        </div>
       <div>
          <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18617_2x_6706fd9c-d8f3-434b-b77f-6e35eb007eb3.png?v=1687260762">
       </div>
        <div>
          <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/logo_meinstdienstrad_2021_2x_d5a1936d-fc18-418a-bb45-b9bb73e6c96a.png?v=1687260731">
        </div>
      </div>
      <a class="my-button my-button-black" href="/pages/ebike-leasing" target="_blank">Lease Now</a>
    </div>
    <div></div>-->
  </div>
</div>


<div data-section-id="pf-616e" data-pf-type="Section" class="sc-fmciRz bheIgq pf-422_"><div style="--cw:1280px" class="sc-gjNHFA gwWIgj"><div class="sc-ezbkAF A-dmbO pf-423_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-424_"><h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-425_"><span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-427_">Smartest E-Bike Ever</span></h3></div></div></div><div class="sc-ezbkAF A-dmbO pf-428_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4"><div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-429_"><div data-pf-type="Custom.HTML" class="sc-AjmGg eCTxfx pf-430_"><div class="component" onclick="openComponent(0)">
  <div class="img-container">
	<img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/finger_print-1.jpg?v=1675741851" srcset="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/finger_print-1.jpg?v=1675741851 768w" width="737" height="432" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) 1280px, (min-width: 640px) 768px, 320px" loading="lazy" data-pf-type="Image3" class="hover-bigger pf-hide">
	<img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/finger_print-1.jpg?v=1675741851"  loading="lazy" data-pf-type="Image3" class="pf-lg-hide pf-md-hide pf-sm-hide hover-bigger">
  </div>
  <div class="des-container">
	Anti-Glare LED
	<i class="fa fa-solid fa-chevron-right"></i>
  </div>
</div></div></div></div><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4"><div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-431_"><div data-pf-type="Custom.HTML" class="sc-AjmGg eCTxfx pf-432_">

<div class="component" onclick="openComponent(1)">
  <div class="img-container">
	<img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18327.jpg?v=1675741851" srcset="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18327.jpg?v=1675741851 1536w" width="737" height="432" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) 1280px, (min-width: 640px) 768px, 320px" loading="lazy" data-pf-type="Image3" class="hover-bigger pf-hide">
	<img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18327.jpg?v=1675741851"  loading="lazy" data-pf-type="Image3" class="pf-lg-hide pf-md-hide pf-sm-hide hover-bigger">
  </div>
  <div class="des-container">
	Gamepad Controls
	<i class="fa fa-solid fa-chevron-right"></i>
  </div>
</div></div></div></div><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4"><div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-433_"><div data-pf-type="Custom.HTML" class="sc-AjmGg eCTxfx pf-434_"><div class="component" onclick="openComponent(2)">
  <div class="img-container">
	
	<img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/5559996.jpg?v=1675741851" srcset="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/5559996.jpg?v=1675741851 1536w" width="737" height="432" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) 1280px, (min-width: 640px) 768px, 320px" loading="lazy" data-pf-type="Image3" class="hover-bigger pf-hide">
	<img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/5559996.jpg?v=1675741851"  loading="lazy" data-pf-type="Image3" class="pf-lg-hide pf-md-hide pf-sm-hide hover-bigger">
  </div>
  <div class="des-container">
	Quiet Motor
	<i class="fa fa-solid fa-chevron-right"></i>
  </div>
</div></div></div></div></div><div class="sc-ezbkAF A-dmbO pf-435_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4"><div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-436_"><div data-pf-type="Custom.HTML" class="sc-AjmGg eCTxfx pf-437_">
<div class="component" onclick="openComponent(3)">
  <div class="img-container">
	<img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/img_v2_06e9e228324d4f448d2305cd464dff8g-1668581451333.png" srcset="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/img_v2_06e9e228324d4f448d2305cd464dff8g-1668581451333.png" width="737" height="432" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) 1280px, (min-width: 640px) 768px, 320px" loading="lazy" data-pf-type="Image3" class="hover-bigger pf-hide">
	<img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/img_v2_5ec42ce4a41d4b2aa28a2615ab3cbe0g-1668579533664.png"  loading="lazy" data-pf-type="Image3" class="pf-lg-hide pf-md-hide pf-sm-hide hover-bigger">
  </div>
  <div class="des-container">
	Smart App
	<i class="fa fa-solid fa-chevron-right"></i>
  </div>
</div></div></div></div><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4"><div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-438_"><div data-pf-type="Custom.HTML" class="sc-AjmGg eCTxfx pf-439_">
<div class="component" onclick="openComponent(4)">
  <div class="img-container">
	<img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/ssss-1.jpg?v=1675741852" srcset="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/ssss-1.jpg?v=1675741852 1536w" width="737" height="432" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) 1280px, (min-width: 640px) 768px, 320px" loading="lazy" data-pf-type="Image3" class="hover-bigger pf-hide">
	<img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/ssss-1.jpg?v=1675741852"  loading="lazy" data-pf-type="Image3" class="pf-lg-hide pf-md-hide pf-sm-hide hover-bigger">
  </div>
  <div class="des-container">
	Removable Battery
	<i class="fa fa-solid fa-chevron-right"></i>
  </div>
</div></div></div></div><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4"><div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-440_"><div data-pf-type="Custom.HTML" class="sc-AjmGg eCTxfx pf-441_"><div class="component" onclick="openComponent(5)">
  <div class="img-container">
	<img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/asset-1.jpg?v=1675741851" srcset="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/asset-1.jpg?v=1675741851 1536w" width="737" height="432" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) 1280px, (min-width: 640px) 768px, 320px" loading="lazy" data-pf-type="Image3" class="hover-bigger pf-hide">
	<img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/asset-1.jpg?v=1675741851"  loading="lazy" data-pf-type="Image3" class="pf-lg-hide pf-md-hide pf-sm-hide hover-bigger">
  </div>
  <div class="des-container">
	Modular Rear Light
	<i class="fa fa-solid fa-chevron-right"></i>
  </div>
</div>
</div></div></div></div><div class="sc-ezbkAF A-dmbO pf-442_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4"><div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-443_"><div data-pf-type="Custom.HTML" class="sc-AjmGg eCTxfx pf-444_">
<div class="component" onclick="openComponent(6)">
  <div class="img-container">
	
	<img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/55555657.jpg?v=1675741851" srcset="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/55555657.jpg?v=1675741851 1536w" width="737" height="432" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) 1280px, (min-width: 640px) 768px, 320px" loading="lazy" data-pf-type="Image3" class="hover-bigger pf-hide">
	<img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/55555657.jpg?v=1675741851"  loading="lazy" data-pf-type="Image3" class="pf-lg-hide pf-md-hide pf-sm-hide hover-bigger">
  </div>
  <div class="des-container">
	20 Lux Headlight
	<i class="fa fa-solid fa-chevron-right"></i>
  </div>
</div></div></div></div><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4"><div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-445_"><div data-pf-type="Custom.HTML" class="sc-AjmGg eCTxfx pf-446_">
<div class="component" onclick="openComponent(7)">
  <div class="img-container">
	<img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_20066.jpg?v=1675741851" srcset="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_20066.jpg?v=1675741851 1536w" width="737" height="432" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) 1280px, (min-width: 640px) 768px, 320px" loading="lazy" data-pf-type="Image3" class="hover-bigger pf-hide">
	<img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_20066.jpg?v=1675741851"  loading="lazy" data-pf-type="Image3" class="pf-lg-hide pf-md-hide pf-sm-hide hover-bigger">
  </div>
  <div class="des-container">
	Gearing
	<i class="fa fa-solid fa-chevron-right"></i>
  </div>
</div></div></div></div><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4"><div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-447_"><div data-pf-type="Custom.HTML" class="sc-AjmGg eCTxfx pf-448_">
<div class="component" onclick="openComponent(8)">
  <div class="img-container">
	<img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/yyyy-1.jpg?v=1675741851" srcset="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/yyyy-1.jpg?v=1675741851 1536w" width="737" height="432" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) 1280px, (min-width: 640px) 768px, 320px" loading="lazy" data-pf-type="Image3" class="hover-bigger pf-hide">
	<img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/yyyy-1.jpg?v=1675741851"  loading="lazy" data-pf-type="Image3" class="pf-lg-hide pf-md-hide pf-sm-hide hover-bigger">
  </div>
  <div class="des-container">
	Torque Sensor
	<i class="fa fa-solid fa-chevron-right"></i>
  </div>
</div></div></div></div></div></div></div>

{% render 'carbon-one-size-and-specs' %}

<div class="carbon-one" id="assembly">
	<div class="assembly">
		<div class="centeral-content" style="box-sizing: content-box;">
			<div class="gray-background-color">
				<div class="u36DemiBold_v2">90% assembly</div>
				<div class="u17DemiLight_v2">Delight in the convenience of our 90% pre-assembled e-bike package, making assembly a breeze!</div>
			</div>
			<div>
				<img onclick="showVideoDialog('https://www.youtube.com/embed/7q-5PuNG3KM?autoplay=1&cc_load_policy=1')" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/openvideo-1667475097262.svg" alt="">
			</div>
		</div>
	</div>
</div>

<div data-section-id="pf-3b95" data-pf-type="GlobalSection" id="bbc90aa3-abdf-4f01-af53-86100506c75b" class="sc-fpYaaq boGbAB pf-184_">{% capture content %}{% include 'pf-bbc90aa3' %}{% endcapture %}
  {% if content contains "Liquid error" %}
  {% else %}
  {% render 'pf-bbc90aa3' %}
  {% endif %}</div>

  <div data-section-id="pf-09f3" data-pf-type="Section" class="sc-fmciRz bheIgq pf-418_"><div style="--cw:1170px" class="sc-gjNHFA gwWIgj"><div class="sc-ezbkAF A-dmbO pf-419_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-420_"><div data-pf-type="Custom.HTML" class="sc-AjmGg eCTxfx pf-421_"><div class="world-title">
    Users Like You, Worldwide
  </div>
  <div id="world-swiper" class="swiper">
    <div class="swiper-wrapper swiper-no-swiping">
    <div class="swiper-slide slide">
      <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/img_77662x-1672048952210.jpg"/>
      <div class="description">
        <span>Karina Schwirtlich</span>
        “it is much easier to use :) Going uphill is so much easier, I could even read a book while doing this.”
      </div>
    </div>
    <div class="swiper-slide slide">
      <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/screen-shot-20221018-at-72910-pm-1666785985034.jpg"/>
      <div class="description">
        <span>Rex Peters</span>
        “I got 4 other brands and I still learning the Urtopia but so far my favorite e-bike . Look how far technology has come so fast . Happy and safe riding.”
      </div>
    </div>
    <div class="swiper-slide slide">
      <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/072a06992x-1672048952203.jpg"/>
      <div class="description">
        <span>v.wrightfitness</span>
        “The smoothest riding e-bike I have tried! Thank you.”
      </div>
    </div>
    <div class="swiper-slide slide">
      <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/5590a91dd1b546e99f5f381a1c1aa0c4-1666785985022.jpg"/>
      <div class="description">
        <span>Chris</span>
        “Outstanding performance. I love this bike.”
      </div>
    </div>
    <div class="swiper-slide slide">
      <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/85831919d8ee4553808b75fb1ffc469e-1666785985025.jpg"/>
      <div class="description">
        <span>Rino Folisi</span>
        “Finally Endlich vereint.”
      </div>
    </div>
    </div>
  </div>
  
  </div></div></div></div></div></div>


<div data-section-id="pf-6c29" data-pf-type="Section" class="sc-fmciRz bheIgq pf-870_"><div style="--cw:1280px" class="sc-gjNHFA gwWIgj"><div class="sc-ezbkAF A-dmbO pf-871_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-872_"><div data-pf-type="JudgeMe" class="sc-eZhRLC gtfCKx pf-873_"><div class="pf-judme">{% include "judgeme_widgets", widget_type: "judgeme_review_widget", concierge_install: false %}</div></div></div></div></div></div></div>

<div data-section-id="pf-5df2" data-pf-type="Section" class="sc-fmciRz bheIgq pf-874_"><div style="--cw:1920px" class="sc-gjNHFA gwWIgj"><div class="sc-ezbkAF A-dmbO pf-875_ pf-r pf-c-cm pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:4;--c-md:4;--c-lg:4"><div data-href="https://newurtopiahelp.zendesk.com/hc/en-us" data-target="_self" data-pf-type="Column" class="sc-gUQvok iVVDxu pf-876_"><div data-pf-type="Block" class="sc-cbTzjv cciAhs pf-877_"><div data-pf-type="Image" class="sc-jgrJph bzUUvT pf-878_"><img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/undraw_designer_girl_re_h54c-1642130420787.png?v=1642130429" srcSet="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/undraw_designer_girl_re_h54c-1642130420787.png?v=1642130429 1536w" width="803" height="669"/></div></div><div data-pf-type="Block" class="sc-cbTzjv cciAhs pf-879_"><h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-880_ pf-gs-heading-5 Title"><span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-882_">FAQ</span></h3></div></div></div><div class="pf-c" style="--c-xs:4;--c-md:4;--c-lg:4"><div data-href="/pages/tutorials" data-target="_self" data-pf-type="Column" class="sc-gUQvok iVVDxu pf-883_"><div data-pf-type="Block" class="sc-cbTzjv cciAhs pf-884_"><div data-pf-type="Image" class="sc-jgrJph bzUUvT pf-885_"><img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/undraw_biking_kc4f-1642130420783.png?v=1642130425" srcSet="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/undraw_biking_kc4f-1642130420783.png?v=1642130425 1536w" width="803" height="669"/></div></div><div data-pf-type="Block" class="sc-cbTzjv cciAhs pf-886_"><h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-887_ pf-gs-heading-5 Title"><span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-889_">Tutorials</span></h3></div></div></div><div class="pf-c" style="--c-xs:4;--c-md:4;--c-lg:4"><div data-href="/pages/care" data-target="_self" data-pf-type="Column" class="sc-gUQvok iVVDxu pf-890_"><div data-pf-type="Block" class="sc-cbTzjv cciAhs pf-891_"><div data-pf-type="Image" class="sc-jgrJph bzUUvT pf-892_"><img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/undraw_team_spirit_re_yl1v-1642130420780.png?v=1642130422" srcSet="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/undraw_team_spirit_re_yl1v-1642130420780.png?v=1642130422 1536w" width="803" height="669"/></div></div><div data-pf-type="Block" class="sc-cbTzjv cciAhs pf-893_"><h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-894_ pf-gs-heading-5 Title"><span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-896_">CARE</span></h3></div></div></div></div></div></div>


</div></div></div>


<img class="toTop" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_21049.svg?v=1687267470">
	
<div class="top-fixed mobileHide">
  <div class="centeral-content">
    <span class="u20DemiBold_v2">{{ product.title }}</span>
    <span class="flex-1"></span>
    <div>
      <span class="u17Light_v2"><span class="u20DemiBold_v2 emphasize" style="font-weight: 600;">{{ product.price | minus: 0 | money }}</span> <span style="text-decoration: line-through;">{{ product.compare_at_price | money }}</span></span>
      <span class="u14Light_v2">or as low as <span class="stages">{{ product.price | minus: 0 | divided_by: 24 | money_without_trailing_zeros }}</span>/Month</span>
    </div>
    <a href="#sale_acc" class="my-button my-button-origin">Order Now</a>
  </div>
</div>

<div class="bottom-fixed pcHide">
  <a href="#sale_accmb" class="my-button my-button-origin">Order Now</a>
  <div>
    <span class="u14Light_v2"><span class="emphasize" style="font-weight: 600;">{{ product.price | minus: 0 | money }}</span> <span style="text-decoration: line-through;">{{ product.compare_at_price | money }}</span></span>
    <span class="u14Light_v2">or as low as <span class="stages">{{ product.price | minus: 0 | divided_by: 24 | money_without_trailing_zeros }}</span>/Month</span>
  </div>
</div>

<script>
  // 默认隐藏
  $('.bottom-fixed').hide()
  $('.top-fixed').hide()
  $('.toTop').hide()
  $('.product .error-tip').hide()
  
  const leftSwiper = new Swiper(".product .left-swiper", {
      direction: 'vertical',
      spaceBetween: 8,
      slidesPerView: 8,
      freeMode: true,
      watchSlidesProgress: true,
    })

    const rightSwiper = new Swiper(".product .right-swiper", {
      autoHeight: true,
      navigation: {
        nextEl: ".product .right-swiper .swiper-button-next",
        prevEl: ".product .right-swiper .swiper-button-prev",
      },
      pagination: {el:'.swiper-pagination'},
      effect: 'fade',
      fadeEffect:{
          crossFade: true
      },
      thumbs: {
        swiper: leftSwiper,
      },
    });


  document.addEventListener('onChangeModel', e => {
        $(`.product .product-panel .options > div[option="Model"] .u17DemiBold_v2 .u17Light_v2`).text(`Urtopia Carbon ${e.value.includes('350W') ? '1s' : '1'}`)
  })

  document.addEventListener('onChangeStyle', e => {
        $(`.product .product-panel .options > div[option="Style"] .u17DemiBold_v2 .u17Light_v2`).text(e.value)
  })

  document.addEventListener('onChangeSize', e => {
        $(`.product .product-panel .options > div[option="Size"] .u17DemiBold_v2 .u17Light_v2`).text(global_config.carbon_order_page_config.size_map[e.value])
  })

  document.addEventListener('onChangeOptions', e => {
          let swiper_arr = []
          swiper_arr = swiper_arr.concat(global_config.carbon_order_page_config.product_images[e.value.Model][e.value.Style], global_config.carbon_order_page_config.product_images[e.value.Model]['commonSwiper'])

          $('.product .right-swiper .swiper-wrapper').html(swiper_arr.map((s, i) => {
              const index = i % 5

              return  `<div class="swiper-slide">
                          <img src="${s}">
                          <div>
                              <span class="u20DemiBold_v2">${global_config.carbon_order_page_config.product_media_images[index].text}</span>
                              <img src="${global_config.carbon_order_page_config.product_media_images[index].img}">
                          </div>
                      </div>`
            }).join(''))
          $('.product .left-swiper .swiper-wrapper').html(swiper_arr.map(s => `<div class="swiper-slide"><img src="${s}"></div>`).join(''))
          
          // update
          setTimeout(() => {
              rightSwiper.update()
              rightSwiper.slideTo(0, 0)
              
              leftSwiper.update()
              leftSwiper.slideTo(0, 0)
          }, 0)


      $('.product .delivery_time').html(global_config.carbon_order_page_config.ebike_delivery_time[current_variant_id] || global_config.carbon_order_page_config.ebike_default_delivery_time)

      const btn =  $('.product .buttons .addToCartBtn')
      if (current_variant.available) {
          btn.find('span').text('Add to Cart')
          btn.removeClass('disabled')
          $('.product .buttons .orderTestRideBtn').show()
          $('.product .buttons div[onclick="buynow(this)"]').show()
      } else {
          btn.find('span').text('Sold out')
          btn.addClass('disabled')
          $('.product .buttons .orderTestRideBtn').hide()
          $('.product .buttons div[onclick="buynow(this)"]').hide()
      }

      $('.product .error-tip').hide()

      $('.product .commonComponent > .u30DemiBold_v2').text(getPriceFormat(e.value.price)).attr('data-price', getPriceFormat(e.value.compare_at_price))
      $('.product .buttons .orderTestRideBtn .stages').text(getPriceFormat(e.value.price / 24))
      $('.top-fixed .u17Light_v2 .u20DemiBold_v2').text(getPriceFormat(e.value.price))
      $('.top-fixed .u17Light_v2 > span:not(.u20DemiBold_v2)').text(getPriceFormat(e.value.compare_at_price))
      $('.top-fixed .u14Light_v2 .stages').text(getPriceFormat(e.value.price / 24))

      $('.bottom-fixed .u14Light_v2 .emphasize').text(getPriceFormat(e.value.price))
      $('.bottom-fixed .u14Light_v2 > span:not(.emphasize)').text(getPriceFormat(e.value.compare_at_price))
      $('.bottom-fixed .u14Light_v2 .stages').text(getPriceFormat(e.value.price / 24))
  })


  function changeAddToCartText (parse, step = 0) {
      if (step) {
          $(".addToCartBtn i").toggleClass("showi");
          document.querySelector(".addToCartBtn span").innerHTML = "Adding...";
      } else {
          setTimeout(()=>{
              $(".addToCartBtn i").toggleClass("showi");
              document.querySelector(".addToCartBtn span").innerHTML = "Add to Cart";
          }, 800)
      }
  }

  function buynow (e) {

        const t = $(e)

        if (t.hasClass('loading')) {
            return
        }

        console.log(t)

        t.addClass('loading')
        t.html('<i class="fa fa-spinner fa-spin" style="margin-right: 8px;"></i>Processing...')

        const body = { items: [{ id: current_variant_id, quantity: 1 }] }
        $('.product .accessories .items .active').each((i, item) => {
          body.items.push({ 
            id: $(item).attr('variant-id'), 
            quantity: 1
          })
        })

        fetch(window.Shopify.routes.root + 'cart/add.js', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(body)
        })
        .then(response => {
            fetchBuried('websiteclick', `outlet-order-page`, { button: 'buynow' }, true)
            window.location.href="/checkout"
        })
        .catch((error) => {
          t.removeClass('loading')
          t.html('Buy now')

          console.error('Error:', error);
        })
}

  function testRideTrace(type = '', target) {
  // 如果已经有按钮 loading ,直接退出来
  if (!type || $('.orderTestRideBtn').hasClass('loading')) {
    return
  }

  const t = $(target)

  t.addClass('loading')
  // 原本的html 存起来
  const text = t.find('span').html()
  const loading = '<i class="fa fa-spinner fa-spin"></i>Processing...'

  // loading
  t.find('span').html(loading)

  fetchBuried('websiteclick', `outlet-order-page`, { button: type, action_type: sessionStorage.carbon_one_a_b_test_flag }, true)
  window.sessionStorage.clicked_klarna_checkout_button = 'clicked_klarna_checkout_button'

  if (sessionStorage.carbon_one_a_b_test_flag === 'B') {
    setTimeout(() => {
      t.removeClass('loading')
      t.find('span').html(text)
    }, 2000)
  
    return addAllToCart("atc", true)
  }
}


let id = 0;
let adding = false;
let cart1 = document.querySelector("cart-notification") || document.querySelector("cart-drawer");

function addAllToCart(parse, show = false) {
    // 如果 B test 需要显示 klarna checkout
  window.show_notification_checkout_button = show
  const cartList = { items: [] }
  $('.product .error-tip').hide()

  if (adding == false) {
    !show && changeAddToCartText(parse,1);
    adding = true;

    cartList.items.push({ id: current_variant_id, quantity: 1 });

    if(cart1){
      var sections = cart1.getSectionsToRender().map((section) => section.id);
      cartList.sections = sections.join(",");
    }

    // 新增普通配件
    $('.product .accessories .items .active').each((i, item) => {
      cartList.items.push({ 
        id: $(item).attr('variant-id'), 
        quantity: 1
      })
    })

    
    fetch("/cart/add.js", {
      method: "POST",
      body: JSON.stringify(cartList),
      headers: {
        "Content-Type": "application/json",
      },
    })
    .then((res) => res.json())
    .then((res1) => {
      res1.key = "";

      cart1.classList.contains('is-empty') && cart1.classList.remove('is-empty');

      if (!(res1.message && res1.status)) {
        cart1.renderContents(res1);
      } else {
        $('.product .error-tip').show()
      }

      !show && changeAddToCartText(parse, 0);
    })
    .catch((err) => {
      !show && changeAddToCartText(parse, 0);
      // cartList.items.splice(-1, 1);
      console.log('err==',err)
      $('.product .error-tip').show()
    }).finally(() => {
      adding = false
      !show && fetchBuried('websiteclick', `outlet-order-page`, { button: 'ATC' })

      setTimeout(() => $('.product .error-tip').hide(), 10000)
    })
  }
}

  $('.product .product-panel .accessories .navigate > div').on('click', e => {
      const items = $('.product .product-panel .accessories .items')

      items.animate({
          scrollLeft: $('.product .product-panel .accessories .items').scrollLeft() + ($(e.target).hasClass('next') ? 180 : -180)
      }, 300)
  })

  $('.product .product-panel .accessories .items .item').on('click', e => {
      const item = $(e.target).closest('.item')
      const icon = item.find('.u11Light_v2')

      if (item.hasClass('active')) {
          item.removeClass('active')
          icon.html('<i class="fa-solid fa-plus"></i>')
          
      } else {
          item.addClass('active')
          icon.html('<i class="fa-solid fa-check"></i>')
      }
  })

  $('.product .product-panel').on("submit", function (event) {

      // 阻止默认行为
      event.preventDefault();
      return false;
  })

  $('.product .dialogs > div').on('click', e => {
      const m = {
          0: 'one',
          1: 'two',
          2: 'three',
          3: 'four'
      }

      $('.product .dialogs > div').each((i, t) => {
          if ($(e.target).closest('.u17Medium_v2')[0] === t) {
              console.log(i)

              const layer = document.querySelector(`.order-modal-${m[i]}`);
              const laybox = document.querySelector(`.order-modal-layer-${m[i]}`);
              layer.style.display = "flex";
              laybox.className += " dialog-open";
          }
      })
  })

  $('.toTop').on('click', e => {
      $('html').animate({
          scrollTop: 0
      }, 300)
  })


  let currnetScroolTop = 0
  $(document).on('scroll', throttle(e => {
      const top1 = $('#freedom').offset().top
      const top3 = $('.product .addToCartBtn').offset().top
      const top2 = $(e.target).scrollTop()

      const h = window.screen.height

      if (global_config.is_mobile) {
          if (top2 > top3) {
              $('.bottom-fixed').show()
          } else {
              $('.bottom-fixed').hide()
          }
      } else {
          if (top2 > top1) {
              $('.top-fixed').show()
          } else {
              $('.top-fixed').hide()
          }

          if (currnetScroolTop > top2) {
              $('.top-fixed').hide()
          }

          currnetScroolTop = top2
      }

      top2 > (h * 2) ? $('.toTop').show() : $('.toTop').hide()

  }, 300, 100))
</script>
{% render 'product-options', config_name: 'chord_order_page_config' %}

<script>
				document.body.clientWidth < 768 && new Swiper ('.mediaaaaa', {    
					autoplay: {
						disableOnInteraction: false,
						pauseOnMouseEnter: false,
						delay: 5000,
					},
					loop: true,
					effect: 'fade',
					fadeEffect:{
						crossFade: true
					},
					pagination: {el:'.swiper-pagination'},
					speed: 300
				  })
			</script>

      <script>
        let slideNo = 0;
        var swiperSectionWorld = new Swiper("#world-swiper", {
          autoplay: {
                delay: 0,
                disableOnInteraction: false
              },
          noSwiping:true,
          freeMode:true,
              loop: true,
              speed: 6000,
              slidesPerView: "auto", 
        });
        let nextTransForm = "";
            // 轮播图从暂停位置移动到原本应到的位置所用的时间
            let nextTime = 0;
        let slideWidth = 165;
        $("#world-swiper").hover(()=>{
            slideWidth = document.querySelector("#world-swiper .swiper-slide.slide").offsetWidth;
              nextTransForm = document.querySelector("#world-swiper .swiper-wrapper").style.transform;
              // 轮播图原本应移动到的位置
              let nextTransPosition =
                -1 *
                parseInt(
                  document.querySelector("#world-swiper .swiper-wrapper")
                    .style.transform.split("translate3d(")[1]
                    .split("px")[0]
                );
      
              // 鼠标悬浮时时轮播图位置
              let nowTransPosition =
                -1 *
                parseInt(
                  window
                    .getComputedStyle(
                      document.querySelector("#world-swiper .swiper-wrapper"),
                      false
                    )
                    ["transform"].split("1, ")[2]
                    .split(",")[0]
                );
              let nowTransForm = window.getComputedStyle(
                  document.querySelector("#world-swiper .swiper-wrapper"),
                false
              )["transform"];
              nextTime = 6000 * ((nextTransPosition - nowTransPosition) / slideWidth);
              document.querySelector("#world-swiper .swiper-wrapper").style.transform = nowTransForm;
              document.querySelector("#world-swiper .swiper-wrapper").style.transitionDuration = "0ms";
          swiperSectionWorld.autoplay.stop();
        },()=>{
              document.querySelector("#world-swiper .swiper-wrapper").style.transform = nextTransForm;
              document.querySelector("#world-swiper .swiper-wrapper").style.transitionDuration = nextTime+"ms";
        swiperSectionWorld.autoplay.start();
        })
      </script>

      <script>
        var closeCheck2 = function (e,force) {
        let t = document.querySelector(".componentBox");
        if (force || t && !e.target.closest(".componentBox") ) {
          var mo = function (e) {
          passive: false;
          };
          document.body.style.overflow = ""; 
          document.removeEventListener("touchmove", mo, false);
          document.removeEventListener("mousedown", closeCheck2);
          $('.overlay').remove()
        }
        };
        var openComponent = function(index){
        var componentImg = "https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/sectioncustomizedim1-1666927938072_397x.jpg?v=1666927940"
        var componentTit = "Anti-glare LED Display"
        var componentDes = "The dot matrix screen is the Brian of the whole bike works like a removeable computer. You can check your route, speed, and weather information in real time with a quick glance on it at any light. And the ally tuned will react to your every order, change speed or control the light. So you do not need to focus on the screen while riding, throw away your phone with nothing to lose."
        var componentHtml = ""
        var imgStyle = ""
        switch(index){
          case 0:componentImg = "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/finger_print.jpg?v=1675741851"
             componentTit="Anti-Glare LED";
             componentDes="The brain of all the smartness, with a face of big dot-matrix display and ears ready for your oral commands. Now, a simple glance captures all essential stats, and mere words control the bike. Who needs a smart phone for a Urtopia ride, anyways?";break;
          case 1:componentImg = "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_20064.jpg?v=1675741851"
             componentTit="Gamepad Controls";
             componentDes="Inspired by a gamepad, the handlebar control is reduced to only two buttons with intuitive key functions. Riding a bike? Yes! Playing a game? Almost!";break;
               imgStyle="padding:10px";break;
          case 2:componentImg = "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/852.jpg?v=1675741851"
             componentTit="";
             componentDes="";
            componentHtml="<div class='title1'>Quiet Motor</div><div class='description'>Light and compact yet powerful enough, the rear-hub motor is quiet and responsive, offering enough slope-climbing capacity for most urban roads.</div><div class='bike-box'><div class='bike-item'><div class='bike-title'>Carbon 1</div><p>36 V 250 W (rated)</p><p>35 N⋅m</p></div><div class='bike-item'> <div class='bike-title'>Carbon 1s</div><p>36 V 350 W (rated)</p><p>45 N⋅m</p></div></div>";break;
          case 3:componentImg = "https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/group-190132x-1668421098616.jpg"
             componentTit="Smart App";
             componentDes="Believing that software brings out true potentials of the hardware, Urtopia pays equal attention to the app that fully connects and controls the e-bike. Real-time locating, route tracking, anti-theft alert, navigation, speaker, community share etc., are all waiting for you to explore.";break;
          case 4:componentImg = "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/ssss.jpg?v=1675741851"
             componentTit="Removable Battery";
             componentDes="A 360Wh lithium-ion removable battery provides ample energy so a rider can travel up to 100km (40km min.) after a mere 2.5-hr charge.";break;
          case 5:componentImg = "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20230117-untitled-4204.jpg?v=1675741851"
             componentTit="Modular Rear Light";
             componentDes="Main red light is ambient-sensing to keep you focused on the joy of riding, while turn-indicators are one touch away to warn vehicles approaching from behind. Oh, don’t forget the blinker when braking!";break;
          case 6:componentImg = "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/8952.jpg?v=1675741851"
             componentTit="20 Lux Headlight";
             componentDes="Streamlined shape and integrated design, the German road regulation-compliant light is dazzling to look at but never blinding to anyone coming towards you. A well-balanced combination of beauty and safety.";break;
          case 7:componentImg = "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_20063.jpg?v=1675741852"
             componentTit="";
               componentHtml="<div class='title1'>Carbon 1 <span class='smtips'>- Carbon Belt</span></div><div class='description'>An innovative but highly reliable means of power transmission, the Gates carbon belt drive is clean and literally maintenance free. Got dirty? Just rinse with water!</div><div class='title1' style='margin-top:60px;'>Carbon 1s<span class='smtips'> - Shimano 7-Speed</span></div><div class='description'>Gears? Check!While our default carbon belt drive offers maximum peace of mind in cleanness and maintenance, now there is also the option of 7-speed Shimano gears to take on steep hills and flat roads alike, but with higher speed and better efficiency.</div>";
             componentDes="";
             imgStyle="padding:10px";break;
          case 8:componentImg = "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/yyyy.jpg?v=1675741851"
             componentTit="Torque Sensor";
             componentDes="Unlike jerky cadence sensing, proprietary torque sensor enables super-fast speedadaption.";break;
        }
        $("body").append('<div class="overlay"><div class="componentBox" id="componentBox"><div class="close" onclick="closeCheck2(this,true)"><i class="fa fa-solid fa-xmark"></i></div><div class="left-container" style="'+imgStyle+'"><img src="'+componentImg+'"/></div><div class="right-container">'+componentHtml+'<div class="title1">'+componentTit+'</div><div class="description">'+componentDes+'</div><div/></div></div>')
        document.addEventListener("mousedown", closeCheck2);
        var mo = function (e) {
          passive: false;
        };
        document.body.style.overflow = "hidden";
        document.addEventListener("touchmove", mo, false);
        }
      </script>

      <script>
  (function() {
    var a = document.createElement("script");
    a.type = "text/javascript";
    a.src = "https://cdn.storepoint.co/api/v1/js/162f21804990ff.js";
    var b = document.getElementsByTagName("script")[0];
    b.parentNode.insertBefore(a, b);
  }());

//
</script>

{% render 'carbon-one-extra-code' %}
