{{ 'feel.scss.css' | asset_url | stylesheet_tag: preload: true }}
<style>
h1, h2, h3, h4 {
    margin: 0;
    color: inherit;
}
:root {
    --local-color: #D08E14;
    ;
}

.c {
    color: var(--local-color);
}

.mycard {
    transition: all 0.3s;
}

.mycard:hover {
    opacity: 1;
}

.mycard img[class="er-rounded-3xl"] {
    transition: all 0.3s;
}

.mycard:hover img[class="er-rounded-3xl"] {
    filter: blur(3px) brightness(75%);
}

.mycard:hover img[width="80"] {
    opacity: 1;
    transform: translate(-50%, -50%);
}

.mycard img[width="80"] {
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: all .3s;
}

.fold {
    bottom: 5%;
    width: 37.5%;
    transform: translateX(15%);
    position: absolute;
}

.tab-pane {
    display: none;
}

.tab-nav {
    display: flex;
    gap: 20px;
}

.tab-nav a {
    flex: 1;
    display: block;
    background: #fff;
    color: #000;
    border-radius: 10px;
    height: 60px;
    font-size: 20px;
    text-align: center;
    line-height: 60px;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.3s;
}

.tab-nav a.active {
    background-color: #000;
    color: #fff;
}

.successsss .my-link {
    opacity: 0 !important;
    pointer-events: none;
}


@media (max-width: 768px) {

    .mycard:hover img[class="er-rounded-3xl"],
    .mycard img[class="er-rounded-3xl"] {
        filter: blur(0px) brightness(75%);
    }

    .mycard img[width="80"] {
        opacity: 1;
        transform: translate(-50%, -50%);
        max-width: 70px;
        display: none;
    }

    .tab-nav {
        gap: 8px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .tab-pane {
        overflow-x: scroll;
        padding-bottom: 30px;
    }

    .tab-pane > div {
        min-width: 75vw;
    }

    .tab-nav a {
        font-size: 14px;
        flex: auto;
        height: 42px;
        line-height: 42px;
    }
}

.animation {
        animation: slide 80s linear infinite;
        width: max-content;
    }

@media (min-width: 768px) {
    .animation:hover {
        animation-play-state: paused;
    }
}

    @keyframes slide {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-50%);
        }
    }
</style>
<h1 class="er-sr-only">{{ page_title }}</h1>

    <section class="background-image er-aspect-[1920/750] mb:er-aspect-[375/500]">
        <picture>
            <source media="(min-width: 768px)"
                srcset="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/champ_choice-_2x_1d5b1442-da30-4c54-b2a3-308da32c0bc5.jpg?v=1752636053">
            <source media="(max-width: 768px)"
                srcset="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/cc_2x_ac1067d3-572d-4d47-857d-a4ce4f8e81f8.jpg?v=1752636385">
            <img src="" alt="" loading="lazy">
        </picture>
    </section>
    <div class="er-pt-32 er-relative er-w-full er-overflow-hidden er-bg-background mb:er-pt-16">
        <div class="er-flex er-gap-x-24 animation mb:er-gap-x-12">
                        <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <img width="100"
                    class="mb:er-w-28"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/417_2x_7d7a93a7-cc2a-4e06-b88d-6b45caf9661d.png?v=1757923033"
                    alt="" loading="lazy">
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">Forbes</span>
                <span class="text-size12 er-font-bold er-opacity-50 mb:er-text-[11px]"><b>Urtopia ebike</b> Best of Forbes<br>Vetted 2025</span>
            </div>
            <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <img width="100"
                    class="mb:er-w-28"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19740_2x_8867a638-3e84-4934-9644-5af857f1ebfa.png?v=1757923038"
                    alt="" loading="lazy">
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">Popular Science</span>
                <span class="text-size12 er-font-bold er-opacity-50 mb:er-text-[11px]"><b>Fold 1</b> Popular Science Best<br>of CES 2025</span>
            </div>
            <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <img width="100"
                    class="mb:er-w-28"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19739_2x_91379750-2d9b-4a01-9a92-0b9f1db5703d.png?v=1757923043"
                    alt="" loading="lazy">
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">BillBoard</span>
                <span class="text-size12 er-font-bold er-opacity-50  mb:er-text-[11px]"><b>Carbon 1 Pro</b> Billboard Best of<br>CES 2024</span>
            </div>
            <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <img width="180"
                    class="mb:er-w-52"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19738_2x_49fd06d9-2974-4a68-9aa1-010b1a1d9740.png?v=1757923047"
                    alt="" loading="lazy">
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">FUTURE</span>
                <span class="text-size12 er-font-bold er-opacity-50  mb:er-text-[11px]"><b>Urtopia ebike</b> Active Lifestyle<br>Innovation Awards 2025</span>
            </div>
            <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <img width="100"
                    class="mb:er-w-28"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/418_2x_e1991aa9-acd1-4983-8f7d-b39edeb8185d.png?v=1757923054"
                    alt="" loading="lazy">
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">ABCNews</span>
                <span class="text-size12 er-font-bold er-opacity-50  mb:er-text-[11px]"><b>Urtopia ebike</b> ABCNews Best<br>Summer Gear</span>
            </div>
            <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <img width="100"
                     class="mb:er-w-28"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19737_2x_24407d76-4489-4c55-ba7f-1e0ae8c7b9e9.png?v=1757923059"
                    alt="" loading="lazy">
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">Engadget</span>
                <span class="text-size12 er-font-bold er-opacity-50  mb:er-text-[11px]"><b>Urtopia ebike</b> Engadget Best<br>of CES 2025</span>
            </div>
             <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <img width="100"
                    class="mb:er-w-28"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250915-155312.png?v=1757922814"
                    alt="" loading="lazy">
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">FOX</span>
                <span class="text-size12 er-font-bold er-opacity-50  mb:er-text-[11px]"><b>Urtopia ebike</b> FOX5 Best<br>Summer Gear</span>
            </div>
            <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <img width="100"
                    class="mb:er-w-28"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19741_2x_de99ccf3-52f3-4f9f-9e4c-773d74fd07a4.png?v=1757923064"
                    alt="" loading="lazy">
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">USA Today</span>
                <span class="text-size12 er-font-bold er-opacity-50  mb:er-text-[11px]"><b>Carbon 1 Pro</b> USA Today CES<br>Reviewed Awards 2024</span>
            </div>
            <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <img width="73"
                    class="mb:er-w-20"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Honoree_2x_b6f9ecd6-d5b7-400d-b5ff-83f01459d0cc.png?v=1757923069"
                    alt="" loading="lazy">
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">CES</span>
                <span class="text-size12 er-font-bold er-opacity-50  mb:er-text-[11px]"><b>Fusion</b> CES Innovation awards<br>2024 HONOREE</span>
            </div>
            <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <div class="er-h-12 mb:er-h-8"></div>
                <img width="150"
                    class="mb:er-w-40"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19742_2x_4308bb2f-a911-4cdd-a7d2-f9248d728e27.png?v=1757923074"
                    alt="" loading="lazy">
                <div class="er-h-8 mb:er-h-5"></div>
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">CTA</span>
                <span class="text-size12 er-font-bold er-opacity-50  mb:er-text-[11px]"><b>Fold 1</b> CTA Only<br>Ebike Recommendation</span>
            </div>
             <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <img width="150"
                    class="mb:er-w-44"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19743_2x_1ea7a985-f89f-4a75-9ea0-15d7c2321833.png?v=1757923081"
                    alt="" loading="lazy">
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">German Design Award</span>
                <span class="text-size12 er-font-bold er-opacity-50  mb:er-text-[11px]"><b>Urtopia ebike</b> Engadget Best<br>of CES 2025</span>
            </div>
            <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <img width="188"
                    class="mb:er-w-52"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/416_2x_a8a8f9c6-cedb-4a01-b8c3-694d4d2eb170.png?v=1757923085"
                    alt="" loading="lazy">
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">Good Design Award</span>
                <span class="text-size12 er-font-bold er-opacity-50  mb:er-text-[11px]"><b>Carbon 1 Pro</b> Good Design<br>Award 2023</span>
            </div>
                        <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <img width="100"
                    class="mb:er-w-28"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/417_2x_7d7a93a7-cc2a-4e06-b88d-6b45caf9661d.png?v=1757923033"
                    alt="" loading="lazy">
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">Forbes</span>
                <span class="text-size12 er-font-bold er-opacity-50 mb:er-text-[11px]"><b>Urtopia ebike</b> Best of Forbes<br>Vetted 2025</span>
            </div>
            <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <img width="100"
                    class="mb:er-w-28"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19740_2x_8867a638-3e84-4934-9644-5af857f1ebfa.png?v=1757923038"
                    alt="" loading="lazy">
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">Popular Science</span>
                <span class="text-size12 er-font-bold er-opacity-50 mb:er-text-[11px]"><b>Fold 1</b> Popular Science Best<br>of CES 2025</span>
            </div>
            <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <img width="100"
                    class="mb:er-w-28"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19739_2x_91379750-2d9b-4a01-9a92-0b9f1db5703d.png?v=1757923043"
                    alt="" loading="lazy">
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">BillBoard</span>
                <span class="text-size12 er-font-bold er-opacity-50  mb:er-text-[11px]"><b>Carbon 1 Pro</b> Billboard Best of<br>CES 2024</span>
            </div>
            <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <img width="180"
                    class="mb:er-w-52"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19738_2x_49fd06d9-2974-4a68-9aa1-010b1a1d9740.png?v=1757923047"
                    alt="" loading="lazy">
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">FUTURE</span>
                <span class="text-size12 er-font-bold er-opacity-50  mb:er-text-[11px]"><b>Urtopia ebike</b> Active Lifestyle<br>Innovation Awards 2025</span>
            </div>
            <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <img width="100"
                    class="mb:er-w-28"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/418_2x_e1991aa9-acd1-4983-8f7d-b39edeb8185d.png?v=1757923054"
                    alt="" loading="lazy">
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">ABCNews</span>
                <span class="text-size12 er-font-bold er-opacity-50  mb:er-text-[11px]"><b>Urtopia ebike</b> ABCNews Best<br>Summer Gear</span>
            </div>
            <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <img width="100"
                     class="mb:er-w-28"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19737_2x_24407d76-4489-4c55-ba7f-1e0ae8c7b9e9.png?v=1757923059"
                    alt="" loading="lazy">
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">Engadget</span>
                <span class="text-size12 er-font-bold er-opacity-50  mb:er-text-[11px]"><b>Urtopia ebike</b> Engadget Best<br>of CES 2025</span>
            </div>
             <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <img width="100"
                    class="mb:er-w-28"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250915-155312.png?v=1757922814"
                    alt="" loading="lazy">
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">FOX</span>
                <span class="text-size12 er-font-bold er-opacity-50  mb:er-text-[11px]"><b>Urtopia ebike</b> FOX5 Best<br>Summer Gear</span>
            </div>
            <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <img width="100"
                    class="mb:er-w-28"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19741_2x_de99ccf3-52f3-4f9f-9e4c-773d74fd07a4.png?v=1757923064"
                    alt="" loading="lazy">
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">USA Today</span>
                <span class="text-size12 er-font-bold er-opacity-50  mb:er-text-[11px]"><b>Carbon 1 Pro</b> USA Today CES<br>Reviewed Awards 2024</span>
            </div>
            <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <img width="73"
                    class="mb:er-w-20"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Honoree_2x_b6f9ecd6-d5b7-400d-b5ff-83f01459d0cc.png?v=1757923069"
                    alt="" loading="lazy">
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">CES</span>
                <span class="text-size12 er-font-bold er-opacity-50  mb:er-text-[11px]"><b>Fusion</b> CES Innovation awards<br>2024 HONOREE</span>
            </div>
            <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <div class="er-h-12 mb:er-h-8"></div>
                <img width="150"
                    class="mb:er-w-40"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19742_2x_4308bb2f-a911-4cdd-a7d2-f9248d728e27.png?v=1757923074"
                    alt="" loading="lazy">
                <div class="er-h-8 mb:er-h-5"></div>
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">CTA</span>
                <span class="text-size12 er-font-bold er-opacity-50  mb:er-text-[11px]"><b>Fold 1</b> CTA Only<br>Ebike Recommendation</span>
            </div>
             <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <img width="150"
                    class="mb:er-w-44"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19743_2x_1ea7a985-f89f-4a75-9ea0-15d7c2321833.png?v=1757923081"
                    alt="" loading="lazy">
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">German Design Award</span>
                <span class="text-size12 er-font-bold er-opacity-50  mb:er-text-[11px]"><b>Urtopia ebike</b> Engadget Best<br>of CES 2025</span>
            </div>
            <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <img width="188"
                    class="mb:er-w-52"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/416_2x_a8a8f9c6-cedb-4a01-b8c3-694d4d2eb170.png?v=1757923085"
                    alt="" loading="lazy">
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">Good Design Award</span>
                <span class="text-size12 er-font-bold er-opacity-50  mb:er-text-[11px]"><b>Carbon 1 Pro</b> Good Design<br>Award 2023</span>
            </div>
        </div>
    </div>
    <section class="er-bg-background er-py-48 mb:er-py-24">
        <div class="centeral-content mb:er-px-6 er-flex er-flex-col">
            <h2 class="text-size48 c er-text-center mb:er-text-4xl">Why Champions Choose Urtopia</h2>
            <p class="text-size18 er-text-center er-mt-10 er-mb-28 mb:er-text-2xl mb:er-mt-4 mb:er-mb-12">Engineered by
                Carbon Experts. Endorsed by Champions.
            </p>
            <div
                class="cards er-grid lg:er-grid-cols-4 md:er-grid-cols-3 er-grid-cols-1 er-gap-x-4 er-gap-y-24 mb:er-gap-y-12">
                <div class="er-text-center">
                    <a href="https://www.youtube.com/watch?v=Tpe5rnECYf0" onclick="showVideoDialog('https://www.youtube.com/embed/Tpe5rnECYf0?autoplay=1&amp;cc_load_policy=1');return false;" target="_blank"
                        class="background-image er-aspect-[315/375] mb:er-aspect-[345/200] er-flex er-flex-col er-items-center er-justify-end er-pb-10 er-text-center er-cursor-pointer mycard mb:er-pb-6">
                        <picture>
                            <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/maia_2x_c11ecfa1-2078-4b49-9826-5d3225d38ca7.jpg?v=1757671914">
                            <source media="(max-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26012_2x_341a7ce2-2a5a-4b49-9edd-f9d3163491b1.jpg?v=1757672542">
                            <img src="" class="er-rounded-3xl" alt="" loading="lazy">
                        </picture>
                        <img width="80" height="56" loading="lazy"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/yt_icon_rgb.png?v=1743577722&width=80"
                            alt="">
                        <span class="text-size18 er-text-white er-font-bold er-flex er-items-center">Mike Miller<svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#fff"><path d="M336-216v-528l408 264-408 264Z"/></svg></span>
                    </a>
                    <h3 class="text-size18 er-font-bold c er-mt-6 er-mb-4 mb:er-mt-4">2X NBA Champion</h3>
                    <i class="text-size16 er-opacity-80 mb:er-text-2xl">
                       “Urtopia’s carbon e-bike is light, strong, and built for any ride — that’s why I choose it.”
                    </i>
                </div>
                <div class="er-text-center">
                    <a target="_blank"
                        class="background-image er-aspect-[315/375] mb:er-aspect-[345/200] er-flex er-flex-col er-items-center er-justify-end er-pb-10 er-text-center er-cursor-pointer mycard mb:er-pb-6">
                        <picture>
                            <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/da_2x_7f84e741-34d5-482b-91f4-b1e8db12ede8.jpg?v=1757672099">
                            <source media="(max-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26013_2x_812dc12c-9c9c-468a-b05e-2eed0cda9e67.jpg?v=1757672547">
                            <img src="" class="er-rounded-3xl" alt="" loading="lazy">
                        </picture>
                        <img width="80" height="56" loading="lazy"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/yt_icon_rgb.png?v=1743577722&width=80"
                            alt="">
                        <span class="text-size18 er-text-white er-font-bold er-flex er-items-center">Sydney Colson<svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#fff"><path d="M336-216v-528l408 264-408 264Z"/></svg></span>
                    </a>
                    <h3 class="text-size18 er-font-bold c er-mt-6 er-mb-4 mb:er-mt-4">2X WNBA Champion</h3>
                    <i class="text-size16 er-opacity-80 mb:er-text-2xl">
                       “Light, smooth, and built for real life. That’s my kind of ride.”
                    </i>
                </div>
                <div class="er-text-center">
                    <a href="https://www.youtube.com/watch?v=EuAmlY0CW80" onclick="showVideoDialog('https://www.youtube.com/embed/EuAmlY0CW80?autoplay=1&amp;cc_load_policy=1');return false;" target="_blank"
                        class="background-image er-aspect-[315/375] mb:er-aspect-[345/200] er-flex er-flex-col er-items-center er-justify-end er-pb-10 er-text-center er-cursor-pointer mycard mb:er-pb-6">
                        <picture>
                            <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/sta_2x_578dd1d7-eee5-41ef-a770-f5f2579d5922.jpg?v=1757672104">
                            <source media="(max-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26014_2x_17559c2e-7aa7-4be9-b054-d0b13900db27.jpg?v=1757672553">
                            <img src="" class="er-rounded-3xl" alt="" loading="lazy">
                        </picture>
                        <img width="80" height="56" loading="lazy"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/yt_icon_rgb.png?v=1743577722&width=80"
                            alt="">
                        <span class="text-size18 er-text-white er-font-bold er-flex er-items-center">Theresa Plaisance<svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#fff"><path d="M336-216v-528l408 264-408 264Z"/></svg></span>
                    </a>
                    <h3 class="text-size18 er-font-bold c er-mt-6 er-mb-4 mb:er-mt-4">WNBA Champion</h3>
                    <i class="text-size16 er-opacity-80 mb:er-text-2xl">
                      “After training, my go-to is the Carbon 1 Pro — it’s just that effortless to ride.”
                    </i>
                </div>
                <div class="er-text-center">
                    <a href="https://www.youtube.com/watch?v=pLJlv-sP_JQ" onclick="showVideoDialog('https://www.youtube.com/embed/pLJlv-sP_JQ?autoplay=1&amp;cc_load_policy=1');return false;" target="_blank"
                        class="background-image er-aspect-[315/375] mb:er-aspect-[345/200] er-flex er-flex-col er-items-center er-justify-end er-pb-10 er-text-center er-cursor-pointer mycard mb:er-pb-6">
                        <picture>
                            <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/fff_2x_c4ca7611-ddcc-4fc8-8c49-12e508493d19.jpg?v=1752637234">
                            <source media="(max-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25474_2x_a3f64bf6-027d-4157-9ea3-02e9782450ac.jpg?v=1752741389">
                            <img src="" class="er-rounded-3xl" alt="" loading="lazy">
                        </picture>
                        <img width="80" height="56" loading="lazy"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/yt_icon_rgb.png?v=1743577722&width=80"
                            alt="">
                        <span class="text-size18 er-text-white er-font-bold er-flex er-items-center">Max Lemke <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#fff"><path d="M336-216v-528l408 264-408 264Z"/></svg></span>
                    </a>
                    <h3 class="text-size18 er-font-bold c er-mt-6 er-mb-4 mb:er-mt-4">Canoeing Olympic Champion</h3>
                    <i class="text-size16 er-opacity-80 mb:er-text-2xl">
                        “It’s the lightest and smartest carbon e-bike I’ve ever seen.”
                    </i>
                </div>
                <div class="er-text-center">
                    <a href="https://www.youtube.com/watch?v=pLJlv-sP_JQ" onclick="showVideoDialog('https://www.youtube.com/embed/GoZU9kP3cNk?autoplay=1&amp;cc_load_policy=1');return false;" target="_blank"
                        class="background-image er-aspect-[315/375] mb:er-aspect-[345/200] er-flex er-flex-col er-items-center er-justify-end er-pb-10 er-text-center er-cursor-pointer mycard mb:er-pb-6">
                        <picture>
                            <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20211021-untitled-29_2x_823a654c-35a3-46b5-b330-fc7446f4d15a.jpg?v=1752666298">
                            <source media="(max-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25475_2x_cd51421c-189e-4814-81b3-dfc8f39d172d.jpg?v=1752741385">
                            <img src="" class="er-rounded-3xl" alt="" loading="lazy">
                        </picture>
                        <img width="80" height="56" loading="lazy"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/yt_icon_rgb.png?v=1743577722&width=80"
                            alt="">
                        <span class="text-size18 er-text-white er-font-bold er-flex er-items-center">Franz Loeschke <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#fff"><path d="M336-216v-528l408 264-408 264Z"/></svg></span>
                    </a>
                    <h3 class="text-size18 er-font-bold c er-mt-6 er-mb-4 mb:er-mt-4">5X German Champion</h3>
                    <i class="text-size16 er-opacity-80 mb:er-text-2xl">
                       “From Urtopia, I realized: a carbon e-bike can be just as cool as a triathlon bike.”
                    </i>
                </div>
                <div class="er-text-center">
                    <a href="https://www.youtube.com/watch?v=pLJlv-sP_JQ" onclick="showVideoDialog('https://www.youtube.com/embed/b7QmGZvxLIc?autoplay=1&amp;cc_load_policy=1');return false;" target="_blank"
                        class="background-image er-aspect-[315/375] mb:er-aspect-[345/200] er-flex er-flex-col er-items-center er-justify-end er-pb-10 er-text-center er-cursor-pointer mycard mb:er-pb-6">
                        <picture>
                            <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/dd_2x_9921250b-590d-46d6-b816-35ad24726e5e.jpg?v=1752666292">
                            <source media="(max-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25477_2x_fbe4be7a-ae41-4d97-b4dc-bc3d96b28c03.jpg?v=1752741380">
                            <img src="" class="er-rounded-3xl" alt="" loading="lazy">
                        </picture>
                        <img width="80" height="56" loading="lazy"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/yt_icon_rgb.png?v=1743577722&width=80"
                            alt="">
                        <span class="text-size18 er-text-white er-font-bold er-flex er-items-center">Philip Heintz <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#fff"><path d="M336-216v-528l408 264-408 264Z"/></svg></span>
                    </a>
                    <h3 class="text-size18 er-font-bold c er-mt-6 er-mb-4 mb:er-mt-4">European Champion</h3>
                    <i class="text-size16 er-opacity-80 mb:er-text-2xl">
                        “After training, my go-to is the Carbon 1 Pro — it’s just that effortless to ride.”
                    </i>
                </div>
                <div class="er-text-center mb:er-hidden">
                    <a href="https://www.youtube.com/watch?v=pLJlv-sP_JQ" onclick="showVideoDialog('https://www.youtube.com/embed/OK8cz5u8rZg?autoplay=1&amp;cc_load_policy=1');return false;" target="_blank"
                        class="background-image er-aspect-[315/375] mb:er-aspect-[345/200] er-flex er-flex-col er-items-center er-justify-end er-pb-10 er-text-center er-cursor-pointer mycard mb:er-pb-6">
                        <picture>
                            <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25463_2x_7efc37dd-0fbd-44a0-8c30-16588d4c7846.jpg?v=1752666286">
                            <source media="(max-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25976_2x_1f043179-4932-49f6-bfbd-621148b8ba00.jpg?v=1752741379">
                            <img src="" class="er-rounded-3xl" alt="" loading="lazy">
                        </picture>
                        <img width="80" height="56" loading="lazy"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/yt_icon_rgb.png?v=1743577722&width=80"
                            alt="">
                        <span class="text-size18 er-text-white er-font-bold er-flex er-items-center">Tracy McGrady <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#fff"><path d="M336-216v-528l408 264-408 264Z"/></svg></span>
                    </a>
                    <h3 class="text-size18 er-font-bold c er-mt-6 er-mb-4 mb:er-mt-4">NBA Hall of Fame</h3>
                    <i class="text-size16 er-opacity-80 mb:er-text-2xl">
                        “It represents the future. It’s the GOAT of e-bikes.”
                    </i>
                </div>
                <div class="er-text-center mb:er-hidden">
                    <a href="https://www.youtube.com/watch?v=pLJlv-sP_JQ" onclick="showVideoDialog('https://www.youtube.com/embed/gjYMDVGv_C4?autoplay=1&amp;cc_load_policy=1');return false;" target="_blank"
                        class="background-image er-aspect-[315/375] mb:er-aspect-[345/200] er-flex er-flex-col er-items-center er-justify-end er-pb-10 er-text-center er-cursor-pointer mycard mb:er-pb-6">
                        <picture>
                            <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25464_2x_45d9494a-79c1-4d40-a852-29c2829fc7ad.jpg?v=1752666281">
                            <source media="(max-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25977_2x_076e5d7f-d17f-47e7-97b5-79202932b140.jpg?v=1752741375">
                            <img src="" class="er-rounded-3xl" alt="" loading="lazy">
                        </picture>
                        <img width="80" height="56" loading="lazy"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/yt_icon_rgb.png?v=1743577722&width=80"
                            alt="">
                        <span class="text-size18 er-text-white er-font-bold er-flex er-items-center">Maksim Mrvica <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#fff"><path d="M336-216v-528l408 264-408 264Z"/></svg></span>
                    </a>
                    <h3 class="text-size18 er-font-bold c er-mt-6 er-mb-4 mb:er-mt-4">The World’s Fastest Pianists</h3>
                    <i class="text-size16 er-opacity-80 mb:er-text-2xl">
                       “Only carbon fiber can sculpt curves this elegant. It’s pure performance, pure beauty.”
                    </i>
                </div>
                <div class="er-text-center mb:er-hidden">
                    <a href="https://www.youtube.com/watch?v=pLJlv-sP_JQ" onclick="showVideoDialog('https://www.youtube.com/embed/h3XWj1TXpSw?autoplay=1&amp;cc_load_policy=1');return false;" target="_blank"
                        class="background-image er-aspect-[315/375] mb:er-aspect-[345/200] er-flex er-flex-col er-items-center er-justify-end er-pb-10 er-text-center er-cursor-pointer mycard mb:er-pb-6">
                        <picture>
                            <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20211018-untitled--2_2x_fcc23f66-2cbf-4b35-873b-a161693c3d06.jpg?v=1752666276">
                            <source media="(max-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20211018-untitled--2_2x_de4a3429-d096-4c81-9e48-093a5d3a6819.jpg?v=1752741365">
                            <img src="" class="er-rounded-3xl" alt="" loading="lazy">
                        </picture>
                        <img width="80" height="56" loading="lazy"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/yt_icon_rgb.png?v=1743577722&width=80"
                            alt="">
                        <span class="text-size18 er-text-white er-font-bold er-flex er-items-center">Norris Frederick <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#fff"><path d="M336-216v-528l408 264-408 264Z"/></svg></span>
                    </a>
                    <h3 class="text-size18 er-font-bold c er-mt-6 er-mb-4 mb:er-mt-4">3x Indoor U.S Medal.</h3>
                    <i class="text-size16 er-opacity-80 mb:er-text-2xl">
                        Urtopia builds carbon e-bikes like true pros.
                    </i>
                </div>
                <div class="er-text-center mb:er-hidden">
                    <a href="https://www.youtube.com/watch?v=pLJlv-sP_JQ" onclick="showVideoDialog('https://www.youtube.com/embed/3elIhWOeVD4?autoplay=1&amp;cc_load_policy=1');return false;" target="_blank"
                        class="background-image er-aspect-[315/375] mb:er-aspect-[345/200] er-flex er-flex-col er-items-center er-justify-end er-pb-10 er-text-center er-cursor-pointer mycard mb:er-pb-6">
                        <picture>
                            <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25466_2x_60a59798-9a79-4449-b6cd-8cf4ced6aa9b.jpg?v=1752666270">
                            <source media="(max-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25979_2x_303059df-9112-4ea6-98f8-76e9cc3ead54.jpg?v=1752741359">
                            <img src="" class="er-rounded-3xl" alt="" loading="lazy">
                        </picture>
                        <img width="80" height="56" loading="lazy"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/yt_icon_rgb.png?v=1743577722&width=80"
                            alt="">
                        <span class="text-size18 er-text-white er-font-bold er-flex er-items-center">Alessandro Barbero <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#fff"><path d="M336-216v-528l408 264-408 264Z"/></svg></span>
                    </a>
                    <h3 class="text-size18 er-font-bold c er-mt-6 er-mb-4 mb:er-mt-4">3x Italian BMX Champion</h3>
                    <i class="text-size16 er-opacity-80 mb:er-text-2xl">
                        It rides as smooth as flight. I even pulled off a few BMX moves — shout out to carbon fiber!
                    </i>
                </div>
                <div class="er-text-center mb:er-hidden">
                    <a href="https://www.youtube.com/watch?v=pLJlv-sP_JQ" onclick="showVideoDialog('https://www.youtube.com/embed/n6KJzVYgqbs?autoplay=1&amp;cc_load_policy=1');return false;" target="_blank"
                        class="background-image er-aspect-[315/375] mb:er-aspect-[345/200] er-flex er-flex-col er-items-center er-justify-end er-pb-10 er-text-center er-cursor-pointer mycard mb:er-pb-6">
                        <picture>
                            <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25470_2x_7004015b-c658-43df-b48a-f6fb4d735186.jpg?v=1752666263">
                            <source media="(max-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25978_2x_864f3cc9-50bb-4cd1-a329-415fd892392b.jpg?v=1752741353">
                            <img src="" class="er-rounded-3xl" alt="" loading="lazy">
                        </picture>
                        <img width="80" height="56" loading="lazy"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/yt_icon_rgb.png?v=1743577722&width=80"
                            alt="">
                        <span class="text-size18 er-text-white er-font-bold er-flex er-items-center">Linus Tech Tips <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#fff"><path d="M336-216v-528l408 264-408 264Z"/></svg></span>
                    </a>
                    <h3 class="text-size18 er-font-bold c er-mt-6 er-mb-4 mb:er-mt-4">15.5M Subscriber Youtube</h3>
                    <i class="text-size16 er-opacity-80 mb:er-text-2xl">
                        “A bike with ChatGPT integration? Hands-free riding has never made more sense.”
                    </i>
                </div>
                <div class="er-text-center mb:er-hidden">
                    <a href="https://www.instagram.com/reel/CmQnBRtoKmZ/" target="_blank"
                        class="background-image er-aspect-[315/375] mb:er-aspect-[345/200] er-flex er-flex-col er-items-center er-justify-end er-pb-10 er-text-center er-cursor-pointer mycard mb:er-pb-6">
                        <picture>
                            <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25469_2x_56acaf20-a8f0-4891-b96d-1112f1585291.jpg?v=1752666258">
                            <source media="(max-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25982_2x_be0ebede-29b0-42bb-b44d-780b2acf0e35.jpg?v=1752741348">
                            <img src="" class="er-rounded-3xl" alt="" loading="lazy">
                        </picture>
                        <img width="80" height="56" loading="lazy"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/yt_icon_rgb.png?v=1743577722&width=80"
                            alt="">
                        <span class="text-size18 er-text-white er-font-bold er-flex er-items-center">Ben Baller <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#fff"><path d="M336-216v-528l408 264-408 264Z"/></svg></span>
                    </a>
                    <h3 class="text-size18 er-font-bold c er-mt-6 er-mb-4 mb:er-mt-4">Best Jewelers in the World</h3>
                    <i class="text-size16 er-opacity-80 mb:er-text-2xl">
                        “I make fine jewelry. Urtopia crafts bikes the same way.”
                    </i>
                </div>
            </div>
        </div>
        <button class="md:!er-hidden er-button er-button-dark er-mx-auto !er-block er-my-12 seemore er-w-1/2">See More</button>
    </section>
    <section class="er-bg-background er-pt-20 mb:er-py-0">
        <div class="centeral-content mb:er-px-6 er-relative er-flex er-flex-col er-h-full">
            <h2 class="text-size48 c er-text-center mb:er-text-4xl er-mb-48 mb:er-mb-12">Top Media & Awards Pick Urtopia
                as the Best
            </h2>
            <div class="background-image er-aspect-[1280/400] er-rounded-3xl mb:er-aspect-auto mb:er-py-10 er-px-6">
                <img loading="lazy"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250716-150832.jpg?v=1752649731"
                    alt="">
                <div class="er-grid er-grid-cols-2 er-h-full mb:er-grid-cols-1">
                    <div>
                    </div>
                    <div class="er-flex er-flex-col er-items-center er-justify-center er-h-full">
                        <img class="md:er-hidden"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19686_2x_ffaf010f-5771-47ae-bd36-12fe4f5c9323.png?v=1752648103"
                            alt="">
                        <div class="text-size20 mb:er-text-2xl">Carbon Fold 1</div>
                        <h3 class="c text-size24 er-mt-2 mb:er-text-3xl">Best Folding Electric Bike</h3>
                        <img class="er-my-12 mb:er-my-0 mb:er-order-1" width="535" loading="lazy" height="144"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250716-145637.jpg?v=1752649011"
                            alt="">
                        <a class="er-button er-button-dark er-button-outline mb:er-my-6"
                            href="https://newurtopia.com/products/urtopia-carbon-fold?variant=45838852129016"
                            target="_blank">Learn More</a>
                    </div>
                </div>
            </div>
            <img class="fold mb:er-hidden"
                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19686_2x_ffaf010f-5771-47ae-bd36-12fe4f5c9323.png?v=1752648103"
                alt="">
        </div>
    </section>
    <section class="er-bg-background er-pb-48 er-pt-8 mb:er-pb-24">
        <div class="centeral-content mb:er-px-6 er-flex er-flex-col">
            <div class="er-grid er-grid-cols-2 er-gap-8 mb:er-grid-cols-1">
                <div
                    class="er-grid er-grid-cols-2 er-bg-white er-rounded-3xl er-py-16 er-items-center er-text-center mb:er-py-6">
                    <img loading="lazy" class="er-max-w-[115%]"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/4-1_2x_0df08c54-4650-4231-bb86-29aee44aa3a5.jpg?v=1752650466"
                        alt="">
                    <div class="er-flex er-flex-col er-items-center er-justify-center er-px-12 mb:er-px-0">
                        <img loading="lazy" width="180" height="100" class="mb:er-max-w-[115px]"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/395_2x_0bc1dd39-38d2-46ea-a190-a1c95ccb5a0a.jpg?v=1752650495"
                            alt="">
                        <div class="text-size20 mb:er-text-2xl er-mt-8 mb:er-mt-4">Carbon 1 Pro</div>
                        <h3 class="text-size24 er-mt-2 mb:er-text-2xl er-mb-12 mb:er-mb-4">Best Carbon Ebike</h3>
                        <a class="er-button er-button-dark er-button-outline mb:er-my-0"
                            href="https://newurtopia.com/products/urtopia-carbon-1-pro-ebike" target="_blank">Learn
                            More</a>
                    </div>
                </div>
                <div
                    class="er-grid er-grid-cols-2 er-bg-white er-rounded-3xl er-py-16 er-items-center er-text-center mb:er-py-6">
                    <img loading="lazy" class="er-max-w-[115%]"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/3-1_2x_825cb46e-de36-4f9b-8943-e3b81cc20bf7.jpg?v=1752652187"
                        alt="">
                    <div class="er-flex er-flex-col er-items-center er-justify-center er-px-12 mb:er-px-0">
                        <img loading="lazy" width="105" height="114" class="mb:er-max-w-[60px]"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/394_2x_c00416dc-6b9b-4a72-8896-5c2c27549afd.jpg?v=1752652661"
                            alt="">
                        <div class="text-size20 mb:er-text-2xl er-mt-8 mb:er-mt-4">Carbon 1 ST</div>
                        <h3 class="text-size24 er-mt-2 mb:er-text-2xl er-mb-12 mb:er-mb-4">Billboard: Best E-Bike</h3>
                        <a class="er-button er-button-dark er-button-outline mb:er-my-0"
                            href="https://newurtopia.com/products/urtopia-carbon-1-step-thru-ebike?variant=46110068506872" target="_blank">Learn
                            More</a>
                    </div>
                </div>
                <div
                    class="er-grid er-grid-cols-2 er-bg-white er-rounded-3xl er-py-16 er-items-center er-text-center mb:er-py-6">
                    <img loading="lazy" class="er-max-w-[115%]"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/1-1_2x_f2ece47c-a6bb-4436-8189-fb8fe931a0e2.jpg?v=1752652182"
                        alt="">
                    <div class="er-flex er-flex-col er-items-center er-justify-center er-px-12 mb:er-px-0">
                        <img loading="lazy" width="105" height="95" class="mb:er-max-w-[65px]"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/397_2x_b0b9c9cb-fa72-41ce-8ad1-faa066e01777.jpg?v=1752652473"
                            alt="">
                        <div class="text-size20 mb:er-text-2xl er-mt-8 mb:er-mt-4">Carbon Joy</div>
                        <h3 class="text-size24 er-mt-2 mb:er-text-2xl er-mb-12 mb:er-mb-4">Best of CES</h3>
                        <a class="er-button er-button-dark er-button-outline mb:er-my-0"
                            href="https://newurtopia.com/products/urtopia-joy-carbon-fat-tire-ebike?variant=46345550037240" target="_blank">Learn
                            More</a>
                    </div>
                </div>
                <div
                    class="er-grid er-grid-cols-2 er-bg-white er-rounded-3xl er-py-16 er-items-center er-text-center mb:er-py-6">
                    <img loading="lazy" class="er-max-w-[115%]"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19688_2x_f7c74a73-f731-4de0-8621-b68259c6877f.jpg?v=1752652177"
                        alt="">
                    <div class="er-flex er-flex-col er-items-center er-justify-center er-px-12 mb:er-px-0">
                        <img loading="lazy" width="80" height="110" class="mb:er-max-w-[42px]"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Honoree_2x_d2b5ac65-3df4-4d2e-98f9-04fca16f1ac1.jpg?v=1752652463"
                            alt="">
                        <div class="text-size20 mb:er-text-2xl er-mt-8 mb:er-mt-4">Fusion Pro</div>
                        <h3 class="text-size24 er-mt-2 mb:er-text-2xl er-mb-12 mb:er-mb-4">Best of CES 2024</h3>
                        <a class="er-button er-button-dark er-button-outline mb:er-my-0"
                            href="https://newurtopia.com/products/urtopia-fusion-pro-carbon-long-range-ebike?variant=46423178543352" target="_blank">Learn
                            More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
      <div class="er-text-white er-bg-background er-pb-48 mb:er-pb-24">
        <div class="centeral-content mb:er-px-6">
            <div
                class="er-bg-black er-rounded-3xl er-overflow-hidden er-aspect-[1280/550] mb:er-aspect-auto er-flex er-flex-col er-justify-center er-items-start er-text-left er-pl-28 mb:er-p-8 background-image">
                <video playsinline loop autoplay muted class="lozad mb:!er-object-top mb:!er-object-contain">
                    <source data-src="https://cdn.shopify.com/videos/c/o/v/2452a28838b34c6281b15f2a394db4bd.mp4" type="video/mp4"
                        media="(min-width: 768px)">
                    <source data-src="https://cdn.shopify.com/videos/c/o/v/6cfabe7cb4224193a294a39382dabdce.mp4" type="video/mp4"
                        media="(max-width: 767px)">
                </video>
                <div class="md:er-hidden er-aspect-square er-w-[113%]"></div>
                <h2 class="er-m-0 er-text-white text-size36 mb:er-text-4xl">Why Choose Urtopia?</h2>
                <p class="text-size18 er-max-w-2xl er-opacity-80 er-mt-8 mb:er-text-2xl">
                    <span>Experience the power of carbon fiber – the ultimate material for high-performance
                        cycling.</span>
                </p>
                <ul class="text-size18 er-list-none er-space-y-8 er-my-20 er-p-0 mb:er-text-2xl mb:er-space-y-6 mb:er-my-12">
                    <li class="marker:er-hidden"><b>✔ 100% Carbon Fiber</b><br class="md:er-hidden"> – Ultra-light & robust</li>
                    <li><b>✔ High-Performance</b><br class="md:er-hidden"> – Speed, agility, durability </li>
                    <li><b>✔ Unbeatable Value</b><br class="md:er-hidden"> – Premium quality, affordable price</li>
                </ul>
                <a href="https://newurtopia.com/pages/carbon-expert" class="er-button er-button-white mb:er-mb-12">Explore the Technology</a>
            </div>
        </div>
    </div>
        <div class="successsss er-bg-background" style="--swiper-theme-color: #000;--swiper-pagination-color: #000;">
        <div class="centeral-content">
            <h2 class="text-size48 er-text-center mb:er-text-4xl">A Resounding Success</h2>
            <p class="text-size18 er-text-center er-mt-8 er-mb-24 mb:er-text-2xl mb:er-mt-4 mb:er-mb-12">Media Reviews from Top Agencies</p>
        </div>
        <div style="background: #fff;">
            <div class="centeral-content">
                <div class="swiperrrrrqq">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18872_2x_109bbad3-32ee-4436-8e2f-b3fac6e2fe2e.png?v=1709018442"
                                alt="">
                            <span class="u17Light_v2">Leading newspaper</span>
                            <div class="flex-1"></div>
                            <img class="star"
                                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_19774_2x_37c97972-fcb1-492c-9d54-e4ecbb39c532.png?v=1709016432"
                                alt="">
                            <span class="u17DemiBold_v2">“Its range and torque are stellar for such a lightweight bike, and
                                the torque sensor aims to make your ride smoother and more efficient.”</span>
                            <a class="my-link" target="_blank" href="https://reviewed.usatoday.com/features/ces-2024-editors-choice-award-winners">Read the post</a>
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18912_2x_432bd681-09cc-415c-b22f-8f05221c67f7.png?v=1709018449"
                                alt="">
                            <span class="u17Light_v2">World leader in cycling</span>
                            <div class="flex-1"></div>
                            <img class="star"
                                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_19774_2x_37c97972-fcb1-492c-9d54-e4ecbb39c532.png?v=1709016432"
                                alt="">
                            <span class="u17DemiBold_v2">“The Urtopia carbon e-bike allows you to have a more efficient and
                                sustainable way of travelling.”</span>
                            <a class="my-link" target="_blank" href="https://www.cyclingnews.com/features/new-urtopia-carbon-e-bike-boasts-a-13kg-weight-and-a-host-of-innovative-high-tech-features/">Read the post</a>
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18873_2x_62b1a40b-72b0-4ebd-811e-b0f16a085f69.png?v=1709018456"
                                alt="">
                            <span class="u17Light_v2">Leading popular tech site</span>
                            <div class="flex-1"></div>
                            <img class="star"
                                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_19774_2x_37c97972-fcb1-492c-9d54-e4ecbb39c532.png?v=1709016432"
                                alt="">
                            <span class="u17DemiBold_v2">“Urtopia e-bike is basically a computer on wheels”</span>
                            <a class="my-link" target="_blank" href="https://www.engadget.com/urtopia-ebike-is-the-most-tech-heavy-weve-seen-140046298.html">Read the post</a>
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18874_2x_b0b31666-5414-40bf-85e2-eb25817ded05.png?v=1709018464"
                                alt="">
                            <span class="u17Light_v2">World’s leading technology and web development news site</span>
                            <div class="flex-1"></div>
                            <img class="star"
                                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_19774_2x_37c97972-fcb1-492c-9d54-e4ecbb39c532.png?v=1709016432"
                                alt="">
                            <span class="u17DemiBold_v2">“Even if it didn’t pack any fancy smart features, I’d argue the
                                Urtopia would be worth its price on the weight and ride quality alone.”</span>
                            <a class="my-link" target="_blank" href="https://thenextweb.com/news/hands-on-urtopias-13-kg-carbon-fiber-ebike-promises-big-smarts">Read the post</a>
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18875_2x_ad69df9a-12cc-4a13-ab79-d7d2f40ec82e.png?v=1709018476"
                                alt="">
                            <span class="u17Light_v2">World’s leading news site focused on information technology</span>
                            <div class="flex-1"></div>
                            <img class="star"
                                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_19774_2x_37c97972-fcb1-492c-9d54-e4ecbb39c532.png?v=1709016432"
                                alt="">
                            <span class="u17DemiBold_v2">“It’s incredibly fun to ride.”</span>
                            <a class="my-link" target="_blank" href="https://techcrunch.com/2021/12/01/urtopia-e-bike-is-basically-a-computer-on-wheels">Read the post</a>
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18900_2x_d7d13de2-546c-4334-8fa4-699ae1623e4b.png?v=1709018483"
                                alt="">
                            <span class="u17Light_v2">The most comprehensive consumer electronics review site.</span>
                            <div class="flex-1"></div>
                            <img class="star"
                                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_19774_2x_37c97972-fcb1-492c-9d54-e4ecbb39c532.png?v=1709016432"
                                alt="">
                            <span class="u17DemiBold_v2">“You won’t find a bike much lighter with more tech baked in than
                                the Urtopia. ”</span>
                            <a class="my-link" target="_blank" href="https://www.cnet.com/roadshow/news/black-friday-deals-on-electric-scooters-and-e-bikes/">Read the post</a>
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18902_2x_61eb545d-85b9-453c-98b1-b33bfc743d0a.png?v=1709018490"
                                alt="">
                            <span class="u17Light_v2">Known worldwide for its lists and top rankings</span>
                            <div class="flex-1"></div>
                            <img class="star"
                                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_19774_2x_37c97972-fcb1-492c-9d54-e4ecbb39c532.png?v=1709016432"
                                alt="">
                            <span class="u17DemiBold_v2">“It’s a game changer in terms of safety.”</span>
                            <a class="my-link" target="_blank" href="https://www.forbes.com/sites/billroberson/2022/05/23/innovative-new-urban-utropia-all-carbon-ebike-looks-amazing-weighs-just-30-pounds">Read the post</a>
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18903_2x_635cb641-3120-45e0-9159-379fc0022cd9.png?v=1709018497"
                                alt="">
                            <span class="u17Light_v2">the most authoritative independent review for ebike</span>
                            <div class="flex-1"></div>
                            <img class="star"
                                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_19774_2x_37c97972-fcb1-492c-9d54-e4ecbb39c532.png?v=1709016432"
                                alt="">
                            <span class="u17DemiBold_v2">“It’s neat to see an electric bike that’s trying new things and
                                really thinking about safety and sustainability.“</span>
                            <a class="my-link" target="_blank" href="https://electricbikereview.com/urtopia/2022-carbon-e-bike/">Read the post</a>
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18901_2x_226d0d88-60f2-4c91-92d9-8fc9ade2540f.png?v=1709018504"
                                alt="">
                            <span class="u17Light_v2">One of the largest online technical publications</span>
                            <div class="flex-1"></div>
                            <img class="star"
                                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_19774_2x_37c97972-fcb1-492c-9d54-e4ecbb39c532.png?v=1709016432"
                                alt="">
                            <span class="u17DemiBold_v2">"The Urtopia feels like something five years ahead of its
                                time."</span>
                            <a class="my-link" target="_blank" href="https://www.makeuseof.com/urtopia-carbon-fiber-ebike-review/">Read the post</a>
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18904_2x_36f71900-d4bd-4c3f-b775-f2a8eb0ad263.png?v=1709018509"
                                alt="">
                            <span class="u17Light_v2">Digital trends pioneering media</span>
                            <div class="flex-1"></div>
                            <img class="star"
                                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_19774_2x_37c97972-fcb1-492c-9d54-e4ecbb39c532.png?v=1709016432"
                                alt="">
                            <span class="u17DemiBold_v2">“This e-bike does phone tech better than some phones”</span>
                            <a class="my-link" target="_blank" href="https://www.digitaltrends.com/mobile/urtopia-ebike-with-smartphone-features/">Read the post</a>
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18906_2x_36fd37b4-8295-4d46-b842-9d1cc9c37ce4.png?v=1709018515"
                                alt="">
                            <span class="u17Light_v2">International benchmark for technology media</span>
                            <div class="flex-1"></div>
                            <img class="star"
                                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_19774_2x_37c97972-fcb1-492c-9d54-e4ecbb39c532.png?v=1709016432"
                                alt="">
                            <span class="u17DemiBold_v2">“The Urtopia Carbon E-Bike is a work of art that you can
                                ride”</span>
                            <a class="my-link" target="_blank" href="https://www.zdnet.com/article/urtopia-carbon-electric-bike-review/">Read the post</a>
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18907_2x_036d7f55-03ff-489b-a62c-7c4ede75d4e6.png?v=1709018521"
                                alt="">
                            <span class="u17Light_v2">Leading online science and technology website</span>
                            <div class="flex-1"></div>
                            <img class="star"
                                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_19774_2x_37c97972-fcb1-492c-9d54-e4ecbb39c532.png?v=1709016432"
                                alt="">
                            <span class="u17DemiBold_v2">“All in all, I found the Urtopia to be a fun, cool and capable
                                alternative to more traditional commuter ebikes.”</span>
                            <a class="my-link" target="_blank" href="https://newatlas.com/bicycles/review-urtopia-ebike/">Read the post</a>
                        </div>
                    </div>
                </div>
                <img class="swiper-button-prev mobileHide"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23241_2x_41d4abbd-f02a-4749-b622-487351941af5.png?v=1709019638"
                    alt="">
                <img class="swiper-button-next mobileHide"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23241_2x_41d4abbd-f02a-4749-b622-487351941af5.png?v=1709019638"
                    alt="">
                <div class="swiper-pagination pcHide"></div>
            </div>
        </div>
    </div>
    <section class="er-bg-background er-pt-48 er-pb-24 mb:er-pt-24 mb:er-pb-8">
        <div class="centeral-content mb:er-px-8 er-flex er-flex-col">
            <h2 class="text-size48 er-text-center mb:er-text-4xl">What Professional Reviewers Say</h2>
            <p class="text-size18 er-text-center er-mt-10 er-mb-28 mb:er-text-2xl mb:er-mt-4 mb:er-mb-12">True reviews
                over the web</p>
            <div class="tabs">
                <div class="tab-nav">
                    <a href="#content1" class="active">Carbon Fold 1</a>
                    <a href="#content2">Carbon 1 Pro</a>
                    <a href="#content3">Carbon 1 ST</a>
                    <a href="#content4">Carbon Joy</a>
                    <a href="#content5">Fusion Pro</a>
                    <a href="#content6">Fusion GT</a>
                </div>
                <div class="tab-content">
                    <div id="content1"
                        class="tab-pane er-grid xl:er-grid-cols-4 lg:er-grid-cols-3 md:er-grid-cols-2 er-grid-cols-1 er-mt-16 mb:er-mt-10 er-gap-y-16 er-gap-x-6">
                        {%- for item in all_products["urtopia-carbon-fold"].metafields.custom.review_list.value -%}
                            <div class="er-flex er-flex-col er-items-start er-cursor-pointer"
                                    onclick="showVideoDialog('https://www.youtube.com/embed/{{ item.youtube_id }}?autoplay=1&amp;cc_load_policy=1');return false;">
                                    {{ item.review_cover | image_url: width: 500 | image_tag: class: 'er-rounded-2xl', loading: 'lazy' }}
                                    <p class="text-size16 er-mt-6 er-mb-8 mb:er-text-2xl mb:er-mb-6">
                                        <span>
                                            {{ item.review_desc }}
                                        </span>
                                    </p>
                                    <span class="er-flex-1"></span>
                                    <div class="er-flex er-items-center">
                                        {{ item.review_auther_cover | image_url: width: 30, height: 30 | image_tag: class: 'er-mr-4 er-rounded-full', loading: 'lazy' }}
                                        <span class="text-size16 er-font-medium mb:er-text-2xl">{{ item.review_auther_name }}</span>
                                    </div>
                                </div>
                        {%- endfor -%}
                    </div>
                    <div id="content2"
                        class="tab-pane er-grid xl:er-grid-cols-4 lg:er-grid-cols-3 md:er-grid-cols-2 er-grid-cols-1 er-mt-16 mb:er-mt-10 er-gap-y-16 er-gap-x-6">
                        {%- for item in all_products["urtopia-carbon-1-pro-ebike"].metafields.custom.review_list.value -%}
                            <div class="er-flex er-flex-col er-items-start er-cursor-pointer"
                                    onclick="showVideoDialog('https://www.youtube.com/embed/{{ item.youtube_id }}?autoplay=1&amp;cc_load_policy=1');return false;">
                                    {{ item.review_cover | image_url: width: 500 | image_tag: class: 'er-rounded-2xl', loading: 'lazy' }}
                                    <p class="text-size16 er-mt-6 er-mb-8 mb:er-text-2xl mb:er-mb-6">
                                        <span>
                                            {{ item.review_desc }}
                                        </span>
                                    </p>
                                    <span class="er-flex-1"></span>
                                    <div class="er-flex er-items-center">
                                        {{ item.review_auther_cover | image_url: width: 30, height: 30 | image_tag: class: 'er-mr-4 er-rounded-full', loading: 'lazy' }}
                                        <span class="text-size16 er-font-medium mb:er-text-2xl">{{ item.review_auther_name }}</span>
                                    </div>
                                </div>
                        {%- endfor -%}
                    </div>
                    <div id="content3"
                        class="tab-pane er-grid xl:er-grid-cols-4 lg:er-grid-cols-3 md:er-grid-cols-2 er-grid-cols-1 er-mt-16 mb:er-mt-10 er-gap-y-16 er-gap-x-6">
                        {%- for item in all_products["urtopia-carbon-1-step-thru-ebike"].metafields.custom.review_list.value -%}
                            <div class="er-flex er-flex-col er-items-start er-cursor-pointer"
                                    onclick="showVideoDialog('https://www.youtube.com/embed/{{ item.youtube_id }}?autoplay=1&amp;cc_load_policy=1');return false;">
                                    {{ item.review_cover | image_url: width: 500 | image_tag: class: 'er-rounded-2xl', loading: 'lazy' }}
                                    <p class="text-size16 er-mt-6 er-mb-8 mb:er-text-2xl mb:er-mb-6">
                                        <span>
                                            {{ item.review_desc }}
                                        </span>
                                    </p>
                                    <span class="er-flex-1"></span>
                                    <div class="er-flex er-items-center">
                                        {{ item.review_auther_cover | image_url: width: 30, height: 30 | image_tag: class: 'er-mr-4 er-rounded-full', loading: 'lazy' }}
                                        <span class="text-size16 er-font-medium mb:er-text-2xl">{{ item.review_auther_name }}</span>
                                    </div>
                                </div>
                        {%- endfor -%}
                    </div>
                    <div id="content4"
                        class="tab-pane er-grid xl:er-grid-cols-4 lg:er-grid-cols-3 md:er-grid-cols-2 er-grid-cols-1 er-mt-16 mb:er-mt-10 er-gap-y-16 er-gap-x-6">
                        {%- for item in all_products["urtopia-joy-carbon-fat-tire-ebike"].metafields.custom.review_list.value -%}
                            <div class="er-flex er-flex-col er-items-start er-cursor-pointer"
                                    onclick="showVideoDialog('https://www.youtube.com/embed/{{ item.youtube_id }}?autoplay=1&amp;cc_load_policy=1');return false;">
                                    {{ item.review_cover | image_url: width: 500 | image_tag: class: 'er-rounded-2xl', loading: 'lazy' }}
                                    <p class="text-size16 er-mt-6 er-mb-8 mb:er-text-2xl mb:er-mb-6">
                                        <span>
                                            {{ item.review_desc }}
                                        </span>
                                    </p>
                                    <span class="er-flex-1"></span>
                                    <div class="er-flex er-items-center">
                                        {{ item.review_auther_cover | image_url: width: 30, height: 30 | image_tag: class: 'er-mr-4 er-rounded-full', loading: 'lazy' }}
                                        <span class="text-size16 er-font-medium mb:er-text-2xl">{{ item.review_auther_name }}</span>
                                    </div>
                                </div>
                        {%- endfor -%}
                    </div>
                    <div id="content5"
                        class="tab-pane er-grid xl:er-grid-cols-4 lg:er-grid-cols-3 md:er-grid-cols-2 er-grid-cols-1 er-mt-16 mb:er-mt-10 er-gap-y-16 er-gap-x-6">
                        {%- for item in all_products["urtopia-fusion-pro-carbon-long-range-ebike"].metafields.custom.review_list.value -%}
                            <div class="er-flex er-flex-col er-items-start er-cursor-pointer"
                                    onclick="showVideoDialog('https://www.youtube.com/embed/{{ item.youtube_id }}?autoplay=1&amp;cc_load_policy=1');return false;">
                                    {{ item.review_cover | image_url: width: 500 | image_tag: class: 'er-rounded-2xl', loading: 'lazy' }}
                                    <p class="text-size16 er-mt-6 er-mb-8 mb:er-text-2xl mb:er-mb-6">
                                        <span>
                                            {{ item.review_desc }}
                                        </span>
                                    </p>
                                    <span class="er-flex-1"></span>
                                    <div class="er-flex er-items-center">
                                        {{ item.review_auther_cover | image_url: width: 30, height: 30 | image_tag: class: 'er-mr-4 er-rounded-full', loading: 'lazy' }}
                                        <span class="text-size16 er-font-medium mb:er-text-2xl">{{ item.review_auther_name }}</span>
                                    </div>
                                </div>
                        {%- endfor -%}
                    </div>
                    <div id="content6"
                        class="tab-pane er-grid xl:er-grid-cols-4 lg:er-grid-cols-3 md:er-grid-cols-2 er-grid-cols-1 er-mt-16 mb:er-mt-10 er-gap-y-16 er-gap-x-6">
                        {%- for item in all_products["urtopia-carbon-fusion-gt"].metafields.custom.review_list.value -%}
                            <div class="er-flex er-flex-col er-items-start er-cursor-pointer"
                                    onclick="showVideoDialog('https://www.youtube.com/embed/{{ item.youtube_id }}?autoplay=1&amp;cc_load_policy=1');return false;">
                                    {{ item.review_cover | image_url: width: 500 | image_tag: class: 'er-rounded-2xl', loading: 'lazy' }}
                                    <p class="text-size16 er-mt-6 er-mb-8 mb:er-text-2xl mb:er-mb-6">
                                        <span>
                                            {{ item.review_desc }}
                                        </span>
                                    </p>
                                    <span class="er-flex-1"></span>
                                    <div class="er-flex er-items-center">
                                        {{ item.review_auther_cover | image_url: width: 30, height: 30 | image_tag: class: 'er-mr-4 er-rounded-full', loading: 'lazy' }}
                                        <span class="text-size16 er-font-medium mb:er-text-2xl">{{ item.review_auther_name }}</span>
                                    </div>
                                </div>
                        {%- endfor -%}
                    </div>
                </div>
            </div>

        </div>
    </section>
    {% render 'store-experts-recommended' %}
    <section class="er-bg-background er-pt-48 er-pb-60 mb:er-pb-24 mb:er-pt-12">
        <div class="centeral-content mb:er-px-4 er-flex er-flex-col">
            <h2 class="text-size48 er-text-center mb:er-text-4xl">Love From Urtopians</h2>
            <p class="text-size18 er-text-center er-mt-10 er-mb-32 mb:er-text-2xl mb:er-mt-4 mb:er-mb-12">Urtopians
                worldwide showed deep love—we’ll answer with excellence.</p>
            <img class="er-max-w-screen-lg er-mx-auto er-block mb:er-max-w-full" loading="lazy" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/23919_2x_6ee17600-1d7d-490f-8a73-192699679b8e.png?v=1752656593" alt="">
        </div>
    </section>
<div class="centeral-content">
     <h2 class="text-size48 er-text-center mb:er-text-4xl er-w-full er-py-24 mb:er-py-16">What our real customers say</h2>
    {% render "judgeme_all_reviews", widget_type: "judgeme_all_review_widget", concierge_install: false %}
</div>
<script type="module">
    $('.seemore').on('click', function () {
        // 显示所有 mb:er-hidden 元素
        $(`.cards > div[class="er-text-center mb:er-hidden"]`).show();
        // 隐藏当前按钮
        $(this).addClass('mb:!er-hidden');
    });

    // jQuery Tab 切换
    $('.tab-nav a').on('click', function (e) {
        e.preventDefault();
        $('.tab-nav a').removeClass('active');
        $(this).addClass('active');
        $('.tab-pane').hide();
        $($(this).attr('href')).css('display', global_config.is_mobile ? 'flex' : 'grid');
    });
    // 默认显示第一个
    $('.tab-pane').hide();
    $('#content1').css('display', global_config.is_mobile ? 'flex' : 'grid');

    new Swiper('.successsss .swiperrrrrqq', global_config.is_mobile ? {
        slidesPerView: 1,
        effect: 'fade',
        fadeEffect: {
            crossFade: true
        },
        pagination: { el: '.successsss .swiper-pagination' },
        speed: 300
  } : {
        slidesPerView: 4,
        spaceBetween: '5%',
        navigation: {
            nextEl: '.successsss:not(.successsssc) .swiper-button-next',
            prevEl: '.successsss:not(.successsssc) .swiper-button-prev',
        },
    })
</script>