{% liquid
  assign product = all_products['urtopia-chord-ebike']
  assign current_variant = product.selected_or_first_available_variant
  assign product_color = shop.metaobjects['shop_config']['product-option-color'].value.value
%}

<script>
  console.log(JSON.parse(JSON.stringify({{ product | json }})))
  console.log(JSON.parse(JSON.stringify({{ current_variant | json }})))
  console.log(JSON.parse(JSON.stringify({{ product_color | json }})))
</script>

<style>
  fieldset[position='2'] label > span {
    position: absolute;
    bottom: 150%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    padding: 4px 18px;
    border-radius: 16px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    font-size: 14px;
    font-weight: 500;
    z-index: 10;
  }

  fieldset[position='2'] label > span::before {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
    z-index: 9;
  }

  fieldset[position='2'] label:hover > span {
    opacity: 1;
    visibility: visible;
  }
</style>

<section class="er-max-w-screen-xl er-mx-auto er-flex er-justify-between er-px-12 er-m-48">
  <div class="er-w-24 er-shrink-0">
    <div class="er-aspect-video">
      {% for variant_image in current_variant.metafields.custom.variant_image.value %}
        {{ variant_image | image_url: width: 64 | image_tag }}
      {% endfor %}
    </div>
  </div>
  <div class="er-flex-1 er-px-[5%]">
    <div class="er-aspect-video">
      {% for variant_image in current_variant.metafields.custom.variant_image.value %}
        {{ variant_image | image_url: width: 640 | image_tag }}
      {% endfor %}
    </div>
  </div>
  <div class="er-min-w-[400px] er-max-w-2xl er-shrink-0 er-space-y-8 er-flex er-flex-col">
    <h1>{{ product.title }}</h1>
    <span class="er-text-5xl product-price" data-price="{{ product.compare_at_price | money }}">
      {{- product.price | money -}}
    </span>
    {% for option in product.options_with_values %}
      <fieldset
        class="option er-border-none er-p-0 er-space-y-4"
        option="{{ option.name }}"
        position="{{ option.position }}"
      >
        <legend>
          {{ option.name }} - <span>{{ option.selected_value }}</span>
        </legend>
        <div class="er-flex er-gap-4 group">
          {% for option_value in option.values %}
            <label
              {% if option.position == 1 %}
                class="er-button er-button-dark er-px-12 er-text-2xl er-py-4{% unless option_value.selected %} er-button-outline{% endunless %}"
              {% else %}
                style="--product-option-color: {{ product_color[option_value] }};"
                class="er-w-14 er-h-14 er-rounded-full er-border-2 er-border-solid er-border-transparent er-cursor-pointer er-transition er-bg-[var(--product-option-color)] er-p-[2px] er-bg-clip-content [&[class~='active']]:er-border-[var(--product-option-color)]{% if option_value.selected %} active{% endif %}"
              {% endif %}
            >
              <input
                type="radio"
                id="{{ option_value }}"
                name="{{ option.name }}"
                value="{{ option_value }}"
                class="er-hidden{% if option_value.available %} available{% endif %}"
                {% if option_value.selected %}
                  checked
                {% endif %}
                data-variant-id="{{ option_value.variant.id }}"
                data-option-value-id="{{ option_value.id }}"
              >
              <span
                {%- if option.position == 1 %}
                  class="tooltip"
                {% endif -%}
              >
                {{ option_value }}
              </span>
            </label>
          {% endfor %}
        </div>
      </fieldset>
    {% endfor %}

    <div class="er-flex er-flex-col er-space-y-5">
      <button class="er-button er-w-full">Add To Cart</button>
      <button class="er-button er-button-dark er-w-full">Process Checkout</button>
    </div>
  </div>
</section>

<script>
  // 获取所有的 radio 输入
  const radios = document.querySelectorAll('input[type="radio"]');
  let current_variant = {
    {% for option in product.options_with_values %}
      '{{ option.name }}': '{{ option.selected_value }}',
    {% endfor %}
    id: '{{ current_variant.id }}',
    title: '{{ current_variant.title }}',
    price: '{{ current_variant.price }}',
    compare_at_price: '{{ current_variant.compare_at_price }}',
    inventory_quantity: '{{ current_variant.inventory_quantity }}',
    available: {{ current_variant.available }}
  }

  const product_variants = [
    {% for variant in product.variants %}
      {
        id: '{{ variant.id }}',
        title: '{{ variant.title }}',
        price: '{{ variant.price }}',
        compare_at_price: '{{ variant.compare_at_price }}',
        inventory_quantity: '{{ variant.inventory_quantity }}',
        available: {{ variant.available }}
     },
    {% endfor %}
  ]

  const product_options = {
    {% for option in product.options_with_values %}
      '{{ option.name }}': {{ option.position }},
    {% endfor %}
  }


  function onVariantChange (name, value) {
    let title = current_variant.title.split(' / ')
    title[product_options[name] - 1] = value
    title = title.join(' / ')

    const find = product_variants.find(v => v.title === title)

    console.log(find)

    if (!find || !find.available) {
      $('button').attr('disabled', true)
    } else {
      $('button').attr('disabled', false)
    }

    current_variant = Object.assign({}, find)
  }

  // 监听每个 radio 的 change 事件
  radios.forEach(radio => {
    radio.addEventListener('change', (event) => {
      const target = $(event.target)
      const name = target.attr('name')
      const value = target.val()

      // 获取选中的值
      console.log(name, ': ', value)

      target.parent().removeClass('er-button-outline').siblings().addClass('er-button-outline')
      target.parent().addClass('active').siblings().removeClass('active')
      target.closest('.option').find('legend span').text(value)
      onVariantChange(name, value)
    });
  });
</script>
