{% liquid
  assign product = all_products['urtopia-chord-ebike']
  assign current_variant = product.selected_or_first_available_variant
  assign product_color = shop.metaobjects.shop_config['product-option-color'].value.value
%}

<script>
  console.log(JSON.parse(JSON.stringify({{ product | json }})))
  console.log(JSON.parse(JSON.stringify({{ current_variant | json }})))
  console.log(JSON.parse(JSON.stringify({{ product.metafields.custom.product_accessories.value | json }})))
</script>

<style>
  .star {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  background: none;
}

.star::before,
.star::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: gold;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  transform: rotate(72deg);
  transform-origin: center;
}

.star::after {
  transform: rotate(-72deg);
}

</style>

<section class="er-font-base er-max-w-screen-xl er-mx-auto er-flex er-justify-between er-px-12 er-m-48">
  <div class="er-w-24 er-shrink-0">
    <div class="er-aspect-video">
      {% for variant_image in current_variant.metafields.custom.variant_image.value %}
        {{ variant_image | image_url: width: 64 | image_tag }}
      {% endfor %}
    </div>
  </div>
  <div class="er-flex-1 er-px-[5%]">
    <div class="er-aspect-video">
      {% for variant_image in current_variant.metafields.custom.variant_image.value %}
        {{ variant_image | image_url: width: 640 | image_tag }}
      {% endfor %}
    </div>
  </div>
  <div class="er-min-w-[400px] er-max-w-2xl er-shrink-0 er-space-y-8 er-flex er-flex-col">
    <span class="er-text-4xl er-font-bold">{{ product.title }}</span>
    <div>
      <div class="star" style="--star-size: 10px;"></div>
    </div>
    <div class="er-flex er-items-center er-space-x-3">
      <span class="er-text-5xl er-font-extrabold product-price" data-price="{{ product.compare_at_price | money }}">
        {{- product.price | money -}}
      </span>
      <span class="er-text-dark/70 er-text-3xl product-compare-at-price">{{ product.compare_at_price | money }}</span>
      <span class="er-text-2xl er-font-bold er-block er-px-4 er-py-1 er-bg-primary er-text-white er-rounded-3xl">
        {{- product.compare_at_price | minus: product.price | money -}}
      </span>
    </div>
    {% render 'sale' %}
    {% for option in product.options_with_values %}
      <fieldset
        class="option er-border-none er-p-0 er-space-y-4"
        option="{{ option.name }}"
        position="{{ option.position }}"
      >
        <legend class="er-text-3xl er-font-bold">
          {{ option.name }} - <span class="er-font-normal er-text-dark/70">{{ option.selected_value }}</span>
        </legend>
        <div class="er-flex er-gap-4">
          {% for option_value in option.values %}
            <label
              {% if option.position == 1 %}
                class="er-button er-button-dark er-px-6 er-text-2xl er-py-2 er-rounded-xl{% unless option_value.selected %} er-button-outline{% endunless %}"
              {% else %}
                style="--product-option-color: {{ product_color[option_value] }};"
                class="er-group er-w-14 er-h-14 er-rounded-full er-border-2 er-border-solid er-border-transparent er-cursor-pointer er-transition er-bg-[var(--product-option-color)] er-p-[2px] er-bg-clip-content [&[class~='active']]:er-border-[var(--product-option-color)] er-relative{% if option_value.selected %} active{% endif %}"
              {% endif %}
            >
              <input
                type="radio"
                id="{{ option_value }}"
                name="{{ option.name }}"
                value="{{ option_value }}"
                class="er-hidden{% if option_value.available %} available{% endif %}"
                {% if option_value.selected %}
                  checked
                {% endif %}
                data-variant-id="{{ option_value.variant.id }}"
                data-option-value-id="{{ option_value.id }}"
              >
              <span
                {%- if option.position == 2 %}
                  class="group-hover:er-visible group-hover:er-opacity-100 after:er-border-x-transparent after:er-border-t-dark after:er-border-b-transparent after:er-border-8 after:er-border-solid after:er-content-[''] after:er-bottom-[-16px] after:er-absolute after:er-left-1/2 after:er-translate-x-[-50%] er-absolute er-bottom-[150%] er-left-1/2 er-translate-x-[-50%] er-bg-dark er-text-white er-px-6 er-py-2 er-rounded-full er-whitespace-nowrap er-opacity-0 er-invisible er-transition-opacity er-duration-300 er-text-2xl er-font-medium er-z-10"
                {% endif -%}
              >
                {{ option_value }}
              </span>
            </label>
          {% endfor %}
        </div>
      </fieldset>
    {% endfor %}
    <div class="er-space-y-6">
      <div class="er-text-3xl er-font-bold">Accessories</div>
      <div class="er-flex er-items-center">
        <div
          class="er-w-6 er-h-6 er-cursor-pointer er-border-solid er-border-l-2 er-border-t-2 er-border-l-gray er-border-t-gray er-border-b-transparent er-border-r-transparent er-rotate-[-45deg]"
        ></div>
        <div class="er-flex er-flex-1 er-overflow-x-hidden er-space-x-3">
          {% for prod in product.metafields.custom.product_accessories.value %}
            {% if prod.available %}
              {% assign variant = prod.variants | first %}
              <div class="er-flex er-flex-[0_0_47.5%] er-flex-col er-rounded-3xl er-border-solid er-border-border er-border er-cursor-pointer er-relative er-aspect-video er-p-4" variant-id="{{ variant.id }}">
                <div class="er-text-xl er-text-dark/80 er-font-medium">{{ prod.title }}</div>
                <span class="er-text-3xl er-font-bold">{{ prod.price | money }}</span>
                <span class="flex-1"></span>
                <span class="fa-solid fa-plus"></span>
                {{ prod.featured_image | image_url: width: 75 | image_tag: loading: 'lazy', class: "er-absolute er-right-0 er-bottom-0" }}
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <div
          class="er-w-6 er-h-6 er-cursor-pointer er-border-solid er-border-l-2 er-border-t-2 er-border-l-gray er-border-t-gray er-border-b-transparent er-border-r-transparent er-rotate-[135deg]"
        ></div>
      </div>
    </div>
    <div class="er-flex er-flex-col er-space-y-5">
      <button class="er-button er-w-full">Add To Cart</button>
      <button class="er-button er-button-dark er-w-full">Process Checkout</button>
    </div>
  </div>
</section>

<script>
  // 获取所有的 radio 输入
  const radios = document.querySelectorAll('input[type="radio"]');
  let current_variant = {
    {% for option in product.options_with_values %}
      '{{ option.name }}': '{{ option.selected_value }}',
    {% endfor %}
    id: '{{ current_variant.id }}',
    title: '{{ current_variant.title }}',
    price: '{{ current_variant.price }}',
    compare_at_price: '{{ current_variant.compare_at_price }}',
    inventory_quantity: '{{ current_variant.inventory_quantity }}',
    available: {{ current_variant.available }}
  }

  const product_variants = [
    {% for variant in product.variants %}
      {
        id: '{{ variant.id }}',
        title: '{{ variant.title }}',
        price: '{{ variant.price }}',
        compare_at_price: '{{ variant.compare_at_price }}',
        inventory_quantity: '{{ variant.inventory_quantity }}',
        available: {{ variant.available }}
     },
    {% endfor %}
  ]

  const product_options = {
    {% for option in product.options_with_values %}
      '{{ option.name }}': {{ option.position }},
    {% endfor %}
  }


  function onVariantChange (name, value) {
    let title = current_variant.title.split(' / ')
    title[product_options[name] - 1] = value
    title = title.join(' / ')

    const find = product_variants.find(v => v.title === title)

    console.log(find)

    if (!find || !find.available) {
      $('button').attr('disabled', true)
    } else {
      $('button').attr('disabled', false)
    }

    current_variant = Object.assign({}, find)
  }

  // 监听每个 radio 的 change 事件
  radios.forEach(radio => {
    radio.addEventListener('change', (event) => {
      const target = $(event.target)
      const name = target.attr('name')
      const value = target.val()

      // 获取选中的值
      console.log(name, ': ', value)

      target.parent().removeClass('er-button-outline').siblings().addClass('er-button-outline')
      target.parent().addClass('active').siblings().removeClass('active')
      target.closest('.option').find('legend span').text(value)
      onVariantChange(name, value)
    });
  });
</script>
