{{ 'outlet_v4.scss.css' | asset_url | stylesheet_tag: preload: true }}
<h1 class="visuallyhidden">Urtopia Ebike - Sleek, Full Carbon, Lightweight, Smart</h1>
<div class="background-image er-aspect-[1920/425] mb:er-aspect-[375/500]">
        {% render 'image', first_screen: true, src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19727_2x_21d75822-8ff3-4db7-b7f8-274b092c0dad.jpg?v=1742987538", mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250319-105612_2x_7f80db84-93ce-42a4-8451-06914180e89a.jpg?v=1742972151" %}
        <div class="er-grid er-grid-cols-2 er-h-full er-gap-x-80 mb:er-grid-cols-1 mb:er-pt-14">
            <div class="mb:er-hidden"></div>
            <div class="er-flex er-flex-col er-justify-center er-items-start mb:er-justify-start mb:er-items-center">
                <img width="150" height="0"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Easter_Sale_2x_2a51ecd2-7772-4453-aebd-fba2647e363f.png?v=1742974324"
                    alt="{{ page_title }}">
                <img width="333" height="0" class="mb:er-max-w-sm"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25383_daf5f794-ea47-444b-b390-bf41d8b2527e.svg?v=1742971792"
                    alt="{{ page_title }}">
                {% render 'sale' %}
            </div>
        </div>
    <style>
          .sale {
              width: 400px;
              background-color: transparent;
              overflow: hidden;
              margin-bottom: 0;
              margin-top: 60px;
          }

          .sale > .u14DemiBold_v2 {
              display: none;
          }

          .sale > div:not(.u14DemiBold_v2) {
              display: flex;
              justify-content: space-between;
              padding: 0;
          }

          .sale > div:not(.u14DemiBold_v2) > div {
              border-left: none !important;
              place-self: center;
              width: 65px;
              align-items: unset;
              position: relative;
          }

          .sale .u36DemiBold_v2 {
              display: block;
              background-color: #fff;
              padding: 15px 12px;
              border-radius: 7px;
              font-size: 30px;
              margin-bottom: 7.5px;
              position: relative;
              color: #FF3684;
          }


          .sale .u36DemiBold_v2::after {
              content: ":";
              position: absolute;
              top: 50%;
              right: 0;
              transform: translate(25px, -50%);
              font-size: 25px;
              font-weight: 300;
              color: #fff;
          }


          .sale > div:not(.u14DemiBold_v2) > div span:last-child {
              opacity: 1;
              font-size: 12px;
              color: #fff;
              font-weight: 300;
          }


          @media (max-width: 767px) {
              .sale {
                  max-width: 260px;
                  margin-top: 30px;
              }


              .sale .u36DemiBold_v2 {
                  font-size: 18px;
                  padding: 10px 8px;
              }


              .sale > div:not(.u14DemiBold_v2) > div {
                  width: 42px;

              }

              .sale > div:not(.u14DemiBold_v2) > div span:last-child {
                  font-size: 9px;
              }

              .sale .u36DemiBold_v2::after {
                  transform: translate(17px, -50%);
              }
          }
    </style>
    </div>
    <div class="er-bg-[#F5F0ED] er-py-12">
        <div
            class="centeral-content er-flex er-items-center er-justify-between mb:er-grid mb:er-grid-cols-2 mb:er-gap-y-8 mb:er-px-6">
            <div class="er-flex er-items-center mb:er-flex-col mb:er-text-center">
                <img width="40" height="40"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19756_2x_2ce49dc5-2f7e-4dc2-9beb-63bc42f499fd.png?v=1742988063"
                    alt="{{ page_title }}">
                <span class="text-size18 er-ml-5 mb:er-m-0 mb:er-text-2xl mb:er-mt-2">Safety Certified</span>
            </div>
            <div class="er-flex er-items-center mb:er-flex-col mb:er-text-center">
                <img width="40" height="40"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19753_2x_a66eec4c-8fe6-4d44-aee2-7dc31a7d2430.png?v=1742988401"
                    alt="{{ page_title }}">
                <span class="text-size18 er-ml-5 mb:er-m-0 mb:er-text-2xl mb:er-mt-2">Free Shipping</span>
            </div>
            <div class="er-flex er-items-center mb:er-flex-col mb:er-text-center">
                <img width="40" height="40"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19629_2x_9f2bb59c-1e10-473b-be14-433233347443.png?v=1742988395"
                    alt="{{ page_title }}">
                <span class="text-size18 er-ml-5 mb:er-m-0 mb:er-text-2xl mb:er-mt-2">2 Year Warranty</span>
            </div>
            <div class="er-flex er-items-center mb:er-flex-col mb:er-text-center">
                <img width="40" height="40"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19754_2x_6a85224f-78c1-423e-a4bd-debb0fd38c63.png?v=1742988389"
                    alt="{{ page_title }}">
                <span class="text-size18 er-ml-5 mb:er-m-0 mb:er-text-2xl mb:er-mt-2">30-Day Price Guarantee</span>
            </div>
        </div>
    </div>

<div class="er-bg-background">
  <div class="centeral-content ebike-products">
  <div class="product-grid">
    {% assign product = all_products['urtopia-carbon-1-pro-ebike'] %}
    {% assign product_variants = product.variants | where: 'available' %}
    {% assign product_uhmaya = '37 lbs<br>lightweight, Full<br>carbon fiber, 80<br>Miles' | split: ', ' %}
    {% render 'product-card-2',
      product_variants: product_variants,
      product_name: 'Carbon 1 Pro',
      product_description: 'Urban & fitness riding',
      product_variant_options_find_sort: 'M,L,S',
      product_url: product.url,
      product_uhmaya: product_uhmaya
    %}
    {% assign product = all_products['urtopia-carbon-fold'] %}
    {% assign product_variants = product.variants | where: 'available' %}
    {% assign product_uhmaya = '29 lbs<br>lightweight, Full<br>carbon fiber, Torque<br>sensor' | split: ', ' %}
    {% render 'product-card-2',
      product_variants: product_variants,
      product_name: 'Carbon Fold 1',
      product_description: 'Super space-efficient',
      product_url: product.url,
      product_uhmaya: product_uhmaya
    %}
    <div class="background-image er-rounded-2xl er-text-white er-aspect-[11/16]">
      <img loading="lazy" width="640" height="0" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25470_2x_a8d7e086-597a-461e-8db2-0c1f2451b638.jpg?v=1743039677&width=640" alt="{{ page_description }}">
      <div class="er-flex er-flex-col er-items-center er-justify-end er-text-center er-h-full er-pb-16 er-box-border">
        <h2 class="er-m-0 er-text-white text-size36"><span class="text-size20 er-font-medium">Carbon E-Bikes on Sale </span><br>from {{ all_products['urtopia-carbon-fold'].price | money_without_trailing_zeros }}</h2>
        <div class="er-grid er-grid-cols-2 er-mt-10 er-gap-x-12 mb:er-mt-4">
              <div class="er-flex er-flex-col er-text-center er-items-center er-rounded-3xl er-py-5 er-px-10" style="background-image: linear-gradient(180deg, #FF3885, #FF8F1D);">
                  <span class="text-size20 mb:er-text-2xl">Save</span>
                  <span class="text-size36 er-my-1 mb:er-text-4xl">{{ 20000 | money_without_trailing_zeros }}</span>
                  <span class="text-size20 mb:er-text-2xl">on {{ 300000 | money_without_trailing_zeros }}</span>
              </div>
              <div class="er-flex er-flex-col er-text-center er-items-center er-rounded-3xl er-py-5 er-px-10" style="background-image: linear-gradient(180deg, #FF3885, #FF8F1D);">
                  <span class="text-size20 mb:er-text-2xl">Save</span>
                  <span class="text-size36 er-my-1 mb:er-text-4xl">{{ 50000 | money_without_trailing_zeros }}</span>
                  <span class="text-size20 mb:er-text-2xl">on {{ 500000 | money_without_trailing_zeros }}</span>
              </div>
          </div>
      </div>
    </div>
    {% assign product = all_products['urtopia-carbon-fusion-gt'] %}
    {% assign product_variants = product.variants | where: 'available' %}
    {% assign product_uhmaya = '1500W<br>power, Carbon fiber<br>frame, 120<br>Miles' | split: ', ' %}
    {% render 'product-card-2',
      product_variants: product_variants,
      product_name: 'Carbon Fusion GT',
      product_description: 'All terrain riding',
      product_url: product.url,
      product_uhmaya: product_uhmaya
    %}
    {% assign product = all_products['urtopia-carbon-1-step-thru-ebike'] %}
    {% assign product_variants = product.variants | where: 'available' %}
    {% assign product_uhmaya = '36 lbs<br>lightweight, Full<br>carbon fiber, 80<br>Miles' | split: ', ' %}
    {% render 'product-card-2',
      product_variants: product_variants,
      product_name: 'Carbon 1 Step-Thru',
      product_description: 'Urban & fitness riding',
      product_url: product.url,
      product_uhmaya: product_uhmaya
    %} 
    </div>
</div>
</div>

<div class="er-text-white er-bg-background">
  <div class="centeral-content mb:er-px-6">
    <div class="background-image er-rounded-3xl er-overflow-hidden er-aspect-[1280/180] mb:er-aspect-square er-from-[#FF3684] er-to-[#FF8F1D] er-bg-gradient-to-b mb:er-bg-gradient-to-r">
      <div class="er-flex er-h-full mb:er-flex-col">
        <div class="er-basis-2/12 mb:er-basis-1/4 er-flex er-flex-col er-justify-center er-space-y-6 mb:er-flex-row mb:er-space-x-6 mb:er-space-y-0 mb:er-items-center mb:er-justify-start">
        <img loading="lazy" class="er-translate-x-1/2 mb:er-max-w-28" width="95" height="0" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25346_2x_1202f109-d0b0-4cb3-9c8b-e69e05274302.png?v=1743042755" alt="{{ page_title }}">
        <img loading="lazy" class="er-translate-x-1/2 mb:er-max-w-28" width="95" height="0" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/70_2x_c967b944-a6b4-4169-83f7-e9760740291d.png?v=1743042760" alt="{{ page_title }}">
        </div>
        <div class="er-flex er-flex-col er-text-left er-items-left er-justify-center er-bg-black er-flex-1 er-pl-24 mb:er-p-8 md:er-rounded-l-3xl mb:er-rounded-tr-[50px]">
          <h3 class="er-m-0 er-text-white text-size24 er-font-medium mb:er-text-3xl">Ride Now, Pay Later</h3>
          <h2 class="er-m-0 er-text-white text-size36 er-my-3 mb:er-text-4xl mb:er-my-6">Limited-Time <span style="color: #FF7BAE">0% APR</span> for 24 Months</h2>
          <p class="text-size20 mb:er-text-2xl">
            <span>A {{ all_products['urtopia-carbon-fold'].price | money_without_trailing_zeros }} purchase costs {{ all_products['urtopia-carbon-fold'].price | divided_by: 24 | money }}/month for 24 months at 0% APR.</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="er-bg-background er-text-white er-py-48 mb:er-py-24">
  <div class="centeral-content mb:er-px-6">
      <div class="er-grid er-grid-cols-2 er-gap-8 mb:er-grid-cols-1 mb:er-gap-y-24">
          <div
              class="background-image er-aspect-[630/530] mb:er-aspect-[340/400] er-rounded-3xl er-overflow-hidden er-flex er-flex-col er-justify-end er-items-start er-text-left er-p-12 mb:er-p-8">
              <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25820_2x_3a1b8bd1-5c8a-4198-8072-2e8b8623bc3f.jpg?v=1742988884"
                  alt="{{ page_title }}" height="0" width="640" loading="lazy">
              <h3 class="er-m-0 er-text-white text-size24 mb:er-text-3xl">As Seen In Forbes, EBR & Trusted by Experts</h3>
              <p class="text-size18 er-opacity-80 er-max-w-3xl er-my-8 mb:er-text-2xl mb:er-my-6">
                  <span>Don’t just take our word for it – hear from experts, media, and real riders who’ve made
                      the switch to Urtopia.</span>
              </p>
              <div class="er-flex er-items-center er-w-full er-space-x-6 mb:er-space-x-3">
                  <a class="er-button er-button-white" href="https://newurtopia.com/pages/urtopia-e-bike-review" target="_blank"
                      rel="noopener noreferrer">Urtopia Reviews</a>
                  <span class="er-flex-1"></span>
                  <img width="100" height="0"
                  class="mb:er-max-w-24"
                      src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Untitled-2.svg?v=1742989842"
                      loading="lazy" alt="Forbes">
                  <img width="75"
                  height="0"
                  class="mb:er-max-w-20"
                      src="https://electricbikereview.com/wp-content/assets/dynamik-gen/theme/images/ebr-logo-white-lg.png"
                      alt="ebr" loading="lazy">
              </div>
          </div>
          <div
              class="background-image er-aspect-[630/530] mb:er-aspect-[340/400] er-rounded-3xl er-overflow-hidden er-flex er-flex-col er-justify-end er-items-start er-text-left er-p-12 mb:er-p-8">
              <img height="0" width="640" loading="lazy" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25819_2x_5829f961-ea26-42b3-9cc9-89f3748edb64.jpg?v=1742989933"
                  alt="{{ page_title }}">
              <h3 class="er-m-0 er-text-white text-size24 mb:er-text-3xl">Backed by 500+ Local Bike Shops</h3>
              <p class="text-size18 er-opacity-80 er-max-w-3xl er-my-8 mb:er-text-2xl mb:er-my-6">
                  <span>Visit one of our 500+ authorized dealers across the U.S. for a test ride, expert advice,
                      or professional servicing.</span>
              </p>
              <div class="er-flex er-items-center er-w-full er-space-x-6">
                  <a class="er-button er-button-white" href="https://newurtopia.com/pages/find-a-dealer" target="_blank"
                      rel="noopener noreferrer">Urtopia Dealers</a>
                  <span class="er-flex-1"></span>
              </div>
          </div>
      </div>
      <div class="er-bg-[#F5F0ED] er-p-12 er-text-dark er-rounded-3xl er-mt-12 er-max-w-screen-lg er-mx-auto mb:er-p-4 mb:er-mt-8">
          <div
              class="centeral-content er-flex er-items-center er-justify-between mb:er-grid mb:er-grid-cols-3 mb:er-gap-y-8 mb:er-px-0">
              <div class="er-flex er-items-center mb:er-flex-col mb:er-text-center">
                  <img width="40" height="40"
                      src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19753_2x_a66eec4c-8fe6-4d44-aee2-7dc31a7d2430.png?v=1742988401"
                      loading="lazy" alt="{{ page_title }}">
                  <span class="text-size18 er-ml-5 mb:er-m-0 mb:er-text-2xl mb:er-mt-2">Free <br class="md:er-hidden">Shipping</span>
              </div>
              <div class="er-flex er-items-center mb:er-flex-col mb:er-text-center">
                  <img width="40" height="40"
                      src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19629_2x_9f2bb59c-1e10-473b-be14-433233347443.png?v=1742988395"
                      loading="lazy" alt="{{ page_title }}">
                  <span class="text-size18 er-ml-5 mb:er-m-0 mb:er-text-2xl mb:er-mt-2">2 Year <br class="md:er-hidden">Warranty</span>
              </div>
              <div class="er-flex er-items-center mb:er-flex-col mb:er-text-center">
                  <img width="40" height="40"
                      src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19754_2x_6a85224f-78c1-423e-a4bd-debb0fd38c63.png?v=1742988389"
                      loading="lazy" alt="{{ page_title }}">
                  <span class="text-size18 er-ml-5 mb:er-m-0 mb:er-text-2xl mb:er-mt-2">500+ <br class="md:er-hidden">Bike Shops</span>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="er-py-48 mb:er-py-24">
        <div class="centeral-content mb:er-px-6 er-flex er-flex-col">
            <h2 class="er-m-0 text-size36 er-text-center mb:er-text-4xl mb:er-text-left">Ride Smarter: <br
                    class="md:er-hidden">Expert Tips & Guides</h2>
            <p class="text-size18 er-text-center er-opacity-80 mb:er-text-left mb:er-text-2xl mb:er-mt-3">
                <span>Not sure which eBike is right for you? New to electric biking? We’ve got you covered!</span>
            </p>
            <div
                class="er-grid er-grid-cols-3 er-gap-x-10 er-mt-20 mb:er-mt-10 mb:er-flex mb:er-overflow-x-scroll mb:er-pb-16 mb:er-gap-x-8">
                <a href="https://newurtopia.com/blogs/blog/urtopia-carbon-series-pro-vs-st-ebikes" target="_blank"
                    class="er-bg-background er-rounded-2xl er-flex er-flex-col mb:er-min-w-[70vw] er-cursor-pointer">
                    <img width="640" height="640"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19733_2x_18fadeb8-7bd1-457a-b029-3713611cfbf3.jpg?v=1742983970"
                        loading="lazy" alt="{{ page_title }}">
                    <div
                        class="er-flex er-flex-col er-items-center er-text-center er-p-10 er-flex-1 mb:er-px-6 mb:er-py-8">
                        <h3 class="er-text-dark er-m-0 text-size18 mb:er-text-2xl mb:er-font-medium">
                            <b class="mb:er-font-medium">Urtopia Carbon 1 Pro vs. Carbon 1 ST: Which Lightweight E-Bike
                                Reigns Supreme?</b>
                        </h3>
                        <span class="er-flex-1"></span>
                        <button class="er-button er-button-dark er-mt-12 mb:er-mt-8">Read More</button>
                    </div>
                </a>
                <a href="https://newurtopia.com/blogs/blog/urban-commute-vs-adventure-urtopia-ebike" target="_blank"
                    class="er-bg-background er-rounded-2xl er-flex er-flex-col mb:er-min-w-[70vw] er-cursor-pointer">
                    <img width="640" height="640"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19734_2x_165f22f5-3d3e-478a-847e-ed87e5d428e0.jpg?v=1742984556"
                        loading="lazy" alt="{{ page_title }}">
                    <div
                        class="er-flex er-flex-col er-items-center er-text-center er-p-10 er-flex-1 mb:er-p-6 mb:er-py-8">
                        <h3 class="er-text-dark er-m-0 text-size18 mb:er-text-2xl mb:er-font-medium">
                            <b class="mb:er-font-medium">Urtopia Carbon 1 Pro vs. Fusion GT: Which Carbon Ride Powers
                                Your Journey?</b>
                        </h3>
                        <span class="er-flex-1"></span>
                        <button class="er-button er-button-dark er-mt-12 mb:er-mt-8">Read More</button>
                    </div>
                </a>
                <a href="https://newurtopia.com/blogs/blog/first-time-e-bike-riding-beginners-guide" target="_blank"
                    class="er-bg-background er-rounded-2xl er-flex er-flex-col mb:er-min-w-[70vw] er-cursor-pointer">
                    <img width="640" height="640"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSCF5731_2x_16d2f720-b77e-483c-b8d3-0872cfae5cb9.jpg?v=1742984551"
                        loading="lazy" alt="{{ page_title }}">
                    <div
                        class="er-flex er-flex-col er-items-center er-text-center er-p-10 er-flex-1 mb:er-p-6 mb:er-py-8">
                        <h3 class="er-text-dark er-m-0 text-size18 mb:er-text-2xl">
                            <b class="mb:er-font-medium">How Do You Ride an Electric Bike for the First Time?</b>
                        </h3>
                        <span class="er-flex-1"></span>
                        <button class="er-button er-button-dark er-mt-12 mb:er-mt-8">Read More</button>
                    </div>
                </a>
            </div>
        </div>
    </div>

<div class="centeral-content er-max-w-screen-md er-pt-24 er-pb-60 mb:er-pt-8 mb:er-pb-32 er-space-y-20 mb:er-px-6 mb:er-space-y-14">
  <div class="">
    <h2 class="er-m-0 text-size36 mb:er-text-4xl">Urtopia Carbon Fiber eBike: Lightweight and Smart</h2>
    <p class="text-size18 er-opacity-80 er-my-8 mb:er-text-2xl mb:er-my-4">
      <span>In the vast realm of urban commuting and outdoor adventures, a range of electric bicycles stand out with outstanding performance, innovative design and smart features. This curated collection of carbon fiber ebikes showcases a variety of fascinating models, each with its own unique appeal and distinct benefits.</span>
    </p>
  </div>
  <div class="er-space-y-12 mb:er-space-y-8">
    <h2 class="er-m-0 text-size36 mb:er-text-4xl">Urtopia’s Featured Electric Bikes</h2>
    <div>
      <h3 class="er-m-0 text-size24 mb:er-text-3xl">City Commuter eBike – Your Ideal Choice for Convenient Fitness</h3>
      <p class="text-size18 er-opacity-80 er-my-8 mb:er-text-2xl mb:er-my-4">
        <span>
          Made entirely of carbon fiber and weighing only 37 pounds, the Urtopia Commuter E-Bike is lightweight and easy to carry, making it perfect for subway connections or high-rise residential areas. With a range of up to 80 miles, you can use it for daily commutes through city streets or weekend fitness rides without having to worry about running out of power.
        </span>
      </p>
    </div>
    <div>
      <h3 class="er-m-0 text-size24 mb:er-text-3xl">Foldable eBike – For Efficient Space Utilization and Convenience</h3>
      <p class="text-size18 er-opacity-80 er-my-8 mb:er-text-2xl mb:er-my-4">
        <span>The foldable e-bike stands out with its highly efficient space utilization design, allowing it to be quickly folded for easy storage and transportation. Whether placed in a car trunk or stored in a small indoor space, it's a perfect choice for city commuting and short trips. Weighing just 29 lbs, it’s the world’s lightest e-bike – thanks to its full carbon fiber frame and handlebar. Lightweight for easy carrying, yet incredibly durable for long-lasting performance.</span>
      </p>
    </div>
    <div>
      <h3 class="er-m-0 text-size24 mb:er-text-3xl">All-Terrain eBike – A Powerful Option for Tackling Complex Terrains</h3>
      <p class="text-size18 er-opacity-80 er-my-8 mb:er-text-2xl mb:er-my-4">
        <span>
          Urtopia’s all-terrain e-bike boasts a powerful 1500W dual motor and a dual battery system with a range of up to 120 miles, effortlessly handling various challenging terrains and enabling riders to explore longer distance.
        </span>
      </p>
    </div>
    <div>
      <h3 class="er-m-0 text-size24 mb:er-text-3xl">Step Through eBike – A Comfortable and Accessible Choice</h3>
      <p class="text-size18 er-opacity-80 er-my-8 mb:er-text-2xl mb:er-my-4">
        <span>
          The low-step e-bike features a design that makes mounting and dismounting effortless, especially suitable for riders of different ages and physical conditions. It shares similar intelligent features and reliable power systems with the city commuter and fitness model, offering a comfortable and convenient riding experience.
        </span>
      </p>
    </div>
    <div>
      <h3 class="er-m-0 text-size24 mb:er-text-3xl">Why Choose Urtopia’s Electric Bikes?</h3>
      <p class="text-size18 er-opacity-80 er-my-8 mb:er-text-2xl mb:er-my-4">
        <b>- The perfect combination of lightness and high performance:</b> Urtopia electric bikes are made of carbon fiber materials, which makes the race cars extremely lightweight while ensuring durability. Compared with traditional materials, Urtopia carbon fiber electric bikes are lighter and more durable. Lightweight reduces motor load, and high-capacity batteries can extend the range. <br><br><b> - Smart features enhance the riding experience:</b> Urtopia’s smart carbon fiber electric bikes are equipped with advanced smart features to bring convenience, safety and enjoyment to riders. The Urtopia smart e-bikes feature built-in GPS, Bluetooth, 4G, and WiFi. Track your ride, find the bike, and navigate easily with GPS. Sync ride data in-real-time via 4G, update your bike wirelessly (OTA update) with WiFi, and control it remotely or play music through Bluetooth. Customize your ride by adjusting motor power in the app – ride smarter, your way.<br><br><b> - Attractive prices for premium ebikes:</b> Urtopia is committed to delivering high-quality carbon fiber eBikes directly to consumers, making premium cycling more accessible. By offering the biggest possible discounts during seasonal sales, we ensure more riders can experience the agility and smoothness of carbon fiber. Our goal is to redefine carbon fiber eBikes—not luxury ebikes, but as an affordable choice for everyone who’re willing to pay for good things.<br><br><b>- Flexible payment methods:</b> Urtopia partners with Affirm and Klarna to offer flexible Buy Now, Pay Later (BNPL) options, making it easier than ever to own a premium carbon fiber eBike. What sets us apart is our exclusive 0% APR financing, allowing riders to spread their payments over up to 24 months with no added interest. Enjoy the freedom of riding now while paying at your own pace—affordable, convenient, and stress-free. <br><br> Urtopia offers a range of high-quality, high-performance e-bikes. Whether you seek the convenience of urban commuting or the thrill of outdoor adventure, you’ll find a model that meets your needs. Choosing Urtopia e-bikes means choosing an efficient, smart, and eco-friendly way of traveling.
      </p>
    </div>
  </div>
</div>

<script type="module">
        $('.product-card .dots > div').on('click', e => {
            const target = $(e.target)
            const product_card = target.closest('.product-card')
    
            // 先取消 其它兄弟元素的active, 再设置active
            target.siblings().removeClass('active')
            target.addClass('active')
    
            const price = Number(target.attr('data-price'))
            const compare_at_price = Number(target.attr('data-compare-at-price'))
            const discount_price = Number(target.attr('data-product-discount-price'))
            const variant_id = target.attr('data-variant')
            const variant_image = target.attr('data-img')
    
            product_card.find('.product_price .u24DemiBold_v2').text(getPriceFormat(price, true)).attr('data-price', getPriceFormat(compare_at_price, true))
            product_card.find('.tags > span:first-child').html(`${getPriceFormat(compare_at_price - price, true)} <span class="u14DemiBold_v2">OFF</span>`)

            if (price === compare_at_price) {
                product_card.find('.product_price .u24DemiBold_v2').attr('data-price', '')
                product_card.find('.tags > span:first-child').hide()
            }
    
            product_card.find('.variant-image').attr('src', variant_image)
            product_card.find('.my-button').attr('href', `${product_card.find('.my-button').attr('href').split('?').shift()}?variant=${variant_id}`)
            product_card.find('.stars a').attr('href', `${product_card.find('.my-button').attr('href').split('?').shift()}?variant=${variant_id}#judgeme_product_reviews`)
        })
    
        setTimeout(() => {
            $('.product-card .dots > div:first-child').click()
    
            $('.product-card .variant-image').on('click', e => {
                const button = $(e.target).closest('.product-card').find('.my-button')
    
                if (button.length) {
                    button[0].click()
                }
            })
        })
</script>
