{{ 'outlet_v4.scss.css' | asset_url | stylesheet_tag: preload: true }}
<h1 class="er-sr-only">{{ page_title }}</h1>
<section class="background-image er-aspect-[1920/300] mb:er-aspect-[375/200]">
{% render 'image', mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20260130-105753_2x_fc00057d-1f49-41a5-be03-b958e2e075e5.jpg?v=1769762761", src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26798_2x_29f6c2f0-8a44-45ea-ba87-d2588e792514.jpg?v=1769762656" %}
  <div class="centeral-content er-flex er-flex-col er-items-start er-justify-center er-h-full er-text-white">
    <img class="mb:er-max-w-48" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20260202-185724.png?v=1770029901" width="200" height="150" alt="{{ page_title }}">
    <h2 class="text-size24 er-mt-10 mb:er-mt-6 mb:er-text-2xl">Up to $670 OFF</h2>
  </div>
</section>
<div class="er-bg-[#F5F0ED] er-py-12 mb:er-py-8">
  <div
    class="centeral-content er-flex er-items-center er-justify-between mb:er-grid mb:er-grid-cols-2 mb:er-gap-y-6 mb:er-px-6"
  >
    <div class="er-flex er-items-center mb:er-flex-col mb:er-text-center">
      <img
        width="40"
        height="40"
        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19756_2x_2ce49dc5-2f7e-4dc2-9beb-63bc42f499fd.png?v=1742988063"
        alt="{{ page_title }}"
      >
      <span class="text-size18 er-ml-5 mb:er-m-0 mb:er-text-2xl mb:er-mt-2">Safety Certified</span>
    </div>
    <div class="er-flex er-items-center mb:er-flex-col mb:er-text-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="40"
        height="40"
        viewBox="0 0 40 40"
      >
        <defs>
            <clipPath id="clip-path">
            <rect id="矩形_27253" data-name="矩形 27253" width="40" height="40" transform="translate(713 699)" fill="#fff" stroke="#707070" stroke-width="1"/>
            </clipPath>
            <clipPath id="clip-path-2">
            <path id="路径_76761" data-name="路径 76761" d="M187.282,322.016a5.09,5.09,0,1,1,5.09-5.09A5.1,5.1,0,0,1,187.282,322.016Zm0-7.722a2.607,2.607,0,1,0,2.607,2.607A2.607,2.607,0,0,0,187.282,314.294Zm-12.44,7.722a5.09,5.09,0,1,1,5.09-5.09A5.1,5.1,0,0,1,174.842,322.016Zm0-7.722a2.607,2.607,0,1,0,2.607,2.607A2.607,2.607,0,0,0,174.842,314.294ZM179.535,302H167.642a1.242,1.242,0,1,1,0-2.483h11.894a1.242,1.242,0,1,1,0,2.483Zm-3.6,5.984h-8.293a1.242,1.242,0,1,1,0-2.483h8.268a1.242,1.242,0,1,1,0,2.483Z" transform="translate(-166.4 -299.52)" fill="#fd4b17"/>
            </clipPath>
        </defs>
        <g id="蒙版组_19753" data-name="蒙版组 19753" transform="translate(-713 -699)" clip-path="url(#clip-path)">
            <g id="组_25806" data-name="组 25806" transform="translate(714.961 704.747)">
            <path id="路径_76758" data-name="路径 76758" d="M163.374,351.753h-5.314a1.242,1.242,0,0,1,0-2.483h4.072V341.6l-4.1-4.395h-4.022a1.242,1.242,0,1,1,0-2.483h4.569a1.3,1.3,0,0,1,.919.4l4.817,5.14a1.161,1.161,0,0,1,.323.844v9.411a1.229,1.229,0,0,1-1.242,1.242Zm-13.16,0h-4.693a1.242,1.242,0,0,1,0-2.483h4.693a1.242,1.242,0,1,1,0,2.483Zm-12.738,0h-4.395a1.229,1.229,0,0,1-1.242-1.242V345.6a1.242,1.242,0,0,1,2.483,0v3.675h3.153a1.242,1.242,0,0,1,0,2.483Z" transform="translate(-128.563 -327.345)" fill="#353535"/>
            <path id="路径_76759" data-name="路径 76759" d="M72.861,165.224a1.229,1.229,0,0,1-1.242-1.242v-16.86H48.6a1.242,1.242,0,1,1,0-2.483H72.861a1.229,1.229,0,0,1,1.242,1.242v18.1A1.229,1.229,0,0,1,72.861,165.224Z" transform="translate(-47.36 -144.64)" fill="#353535"/>
            <path id="路径_76760" data-name="路径 76760" d="M195.925,353.77a5.09,5.09,0,1,1,5.09-5.09A5.1,5.1,0,0,1,195.925,353.77Zm0-7.722a2.607,2.607,0,1,0,2.607,2.607A2.607,2.607,0,0,0,195.925,346.048Zm-12.44,7.722a5.09,5.09,0,1,1,5.09-5.09A5.1,5.1,0,0,1,183.485,353.77Zm0-7.722a2.607,2.607,0,1,0,2.607,2.607A2.607,2.607,0,0,0,183.485,346.048Z" transform="translate(-170.424 -325.265)" fill="#353535"/>
            <g id="蒙版组_19752" data-name="蒙版组 19752" transform="translate(4.619 6.009)" clip-path="url(#clip-path-2)">
                <rect id="矩形_27252" data-name="矩形 27252" width="17.885" height="11.178" transform="translate(-2.383 -1.258)" fill="#fd4b17"/>
            </g>
            </g>
        </g>
      </svg>
      <span class="text-size18 er-ml-5 mb:er-m-0 mb:er-text-2xl mb:er-mt-2">Free Shipping</span>
    </div>
    <div class="er-flex er-items-center mb:er-flex-col mb:er-text-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="40"
        height="40"
        viewBox="0 0 40 40"
      >
        <defs>
            <clipPath id="clip-path2">
            <rect id="矩形_27128" data-name="矩形 27128" width="40" height="40" transform="translate(10117 5011)" fill="#fff" stroke="#707070" stroke-width="1"/>
            </clipPath>
        </defs>
        <g id="蒙版组_19629" data-name="蒙版组 19629" transform="translate(-10117 -5011)" clip-path="url(#clip-path2)">
            <g id="组_25613" data-name="组 25613" transform="translate(10119.857 5013.857)">
            <path id="路径_76619" data-name="路径 76619" d="M157.168,96a11.2,11.2,0,0,0-11.2,11.2l.022.7a11.133,11.133,0,0,0,.316,2.044l.118.417-11.25,11.253-.319.353a5.377,5.377,0,0,0,.319,7.231l.364.328a5.36,5.36,0,0,0,7.22-.328L154,117.945l.42.12a11.2,11.2,0,0,0,13.191-14.91l-.776-2-3.66,3.658a2.56,2.56,0,1,1-3.621-3.618l3.66-3.66-2-.779A11.177,11.177,0,0,0,157.168,96Zm0,2.8.627.022.151.017-.367.37a5.36,5.36,0,0,0,0,7.584l.358.328a5.36,5.36,0,0,0,7.223-.328l.367-.372.02.154a8.4,8.4,0,0,1-11.412,8.466l-.851-.33-12.51,12.5a2.56,2.56,0,0,1-3.8-3.425l.224-.246,12.462-12.457-.33-.849A8.4,8.4,0,0,1,157.168,98.8Z" transform="translate(-133.609 -96)" fill="#353535"/>
            <path id="直线_2593" data-name="直线 2593" d="M-1.071,5.67a1.424,1.424,0,0,1-1.01-.418,1.429,1.429,0,0,1,0-2.02L3.231-2.082a1.429,1.429,0,0,1,2.02,0,1.429,1.429,0,0,1,0,2.02L-.061,5.252A1.424,1.424,0,0,1-1.071,5.67Z" transform="translate(6.596 25.132)" fill="#fd4b17"/>
            </g>
        </g>
      </svg>
      <span class="text-size18 er-ml-5 mb:er-m-0 mb:er-text-2xl mb:er-mt-2">2 Year Warranty</span>
    </div>
    <div class="er-flex er-items-center mb:er-flex-col mb:er-text-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="40"
        height="40"
        viewBox="0 0 40 40"
      >
        <defs>
            <clipPath id="clip-path3">
            <rect id="矩形_27255" data-name="矩形 27255" width="40" height="40" transform="translate(1390 696)" fill="#fff" stroke="#707070" stroke-width="1"/>
            </clipPath>
        </defs>
        <g id="蒙版组_19754" data-name="蒙版组 19754" transform="translate(-1390 -696)" clip-path="url(#clip-path3)">
            <g id="组_25809" data-name="组 25809" transform="translate(1394.681 699.866)">
            <g id="组_25807" data-name="组 25807" transform="translate(10.422 7.579)">
                <path id="路径_76762" data-name="路径 76762" d="M-.853-19.836c0-4.455-7.129-2.178-7.129-5.424,0-1.188,1.087-1.951,2.67-1.951A3.446,3.446,0,0,1-2.367-25.9c.284.292.437.388.711.3l.167-.057a.4.4,0,0,0,.256-.659,4.448,4.448,0,0,0-3.476-2.015l.081-1.645c.024-.375-.155-.564-.515-.564h-.172c-.36,0-.539.189-.515.564l.079,1.624c-2,.142-3.437,1.378-3.437,3.086,0,4.378,7.12,2.254,7.12,5.41,0,1.291-1.165,2.1-2.919,2.1a4,4,0,0,1-3.376-1.577c-.281-.336-.429-.423-.717-.3l-.126.052c-.367.156-.462.358-.28.667a4.839,4.839,0,0,0,3.74,2.249l-.084,1.609a.463.463,0,0,0,.515.564h.172c.36,0,.537-.189.515-.564L-4.7-16.5l-.006-.128c2.282-.094,3.848-1.357,3.848-3.211Z" transform="translate(10.108 31.067)" fill="#fd4b17"/>
                <path id="路径_76762_-_轮廓" data-name="路径 76762 - 轮廓" d="M-5.609-14.425h-.172a1.034,1.034,0,0,1-.789-.308,1.053,1.053,0,0,1-.258-.82l.058-1.126a6.036,6.036,0,0,1-1.962-.741,4.722,4.722,0,0,1-1.683-1.7.953.953,0,0,1-.119-.8,1.1,1.1,0,0,1,.653-.623l.006,0,.126-.052a1.088,1.088,0,0,1,.418-.09,1.205,1.205,0,0,1,.91.545l.014.017.013.018a3.456,3.456,0,0,0,2.941,1.351c1.153,0,2.386-.411,2.386-1.566a1.067,1.067,0,0,0-.673-1.012,8.624,8.624,0,0,0-2.036-.616,9.469,9.469,0,0,1-2.877-.969,3.1,3.1,0,0,1-1.535-2.812,3.71,3.71,0,0,1,3.413-3.557l-.055-1.124a1.055,1.055,0,0,1,.259-.819,1.034,1.034,0,0,1,.788-.307h.172a1.034,1.034,0,0,1,.788.307,1.054,1.054,0,0,1,.259.819L-4.62-29.25a5.685,5.685,0,0,1,1.782.644,4.294,4.294,0,0,1,1.6,1.564.971.971,0,0,1,.1.859.976.976,0,0,1-.654.57l-.178.06A1.112,1.112,0,0,1-2.3-25.5a1.275,1.275,0,0,1-.918-.494l-.022-.022-.019-.025a2.917,2.917,0,0,0-2.523-1.1c-1.577,0-2.137.764-2.137,1.418a1.078,1.078,0,0,0,.679,1.044,8.394,8.394,0,0,0,2.044.6,9.236,9.236,0,0,1,2.876.947,3.054,3.054,0,0,1,1.276,1.448A3.089,3.089,0,0,1-.782-20.1,3.19,3.19,0,0,1-2.05-17.627,4.9,4.9,0,0,1-4.613-16.6l.05,1.053a1.058,1.058,0,0,1-.262.82A1.034,1.034,0,0,1-5.609-14.425Zm-.155-1.066h.138V-15.5l-.066-1.379Zm-3.679-4.074a4.371,4.371,0,0,0,3.293,1.9l.472.055.487-.02a4.09,4.09,0,0,0,2.463-.824,2.334,2.334,0,0,0,.875-1.814v-.04a2.03,2.03,0,0,0-1.021-1.922,8.5,8.5,0,0,0-2.543-.814,9.055,9.055,0,0,1-2.323-.705,2.138,2.138,0,0,1-1.241-1.983,2.24,2.24,0,0,1,.962-1.853,3.8,3.8,0,0,1,2.24-.631,4.71,4.71,0,0,1,1.936.375,3.7,3.7,0,0,1,1.413,1.121,1.525,1.525,0,0,0,.154.142l.066-.022a3.984,3.984,0,0,0-3.021-1.669l-.486-.052-.461.033a3.63,3.63,0,0,0-2.153.823,2.262,2.262,0,0,0-.789,1.732,2.02,2.02,0,0,0,1.026,1.9,8.736,8.736,0,0,0,2.552.838,9.284,9.284,0,0,1,2.307.718A2.114,2.114,0,0,1-2-20.317,2.362,2.362,0,0,1-3.027-18.35a4.166,4.166,0,0,1-2.426.664,4.553,4.553,0,0,1-3.8-1.783c-.054-.063-.091-.1-.116-.128Zm3.679-10.9v.005l.068,1.4.069-1.4Z" transform="translate(10.575 31.535)" fill="#fd4b17"/>
            </g>
            <g id="logo" transform="translate(0 0)">
                <path id="路径_76764" data-name="路径 76764" d="M37.571,3.936c-2.363.617-4.885,1.39-6.653,2.011h0a.523.523,0,0,0-.351.5V14.52c0,7.018,4.989,11.045,10.972,14.468a2.952,2.952,0,0,0,2.932,0c5.974-3.423,10.952-7.451,10.952-14.461V6.442a.522.522,0,0,0-.351-.495h0c-1.766-.621-4.289-1.394-6.652-2.01A28.536,28.536,0,0,0,42.994,2.89a28.549,28.549,0,0,0-5.423,1.046Zm-.73-2.8A30.187,30.187,0,0,1,42.994,0a30.2,30.2,0,0,1,6.154,1.139c2.433.635,5.032,1.43,6.88,2.08a3.414,3.414,0,0,1,2.285,3.222v8.086c0,8.738-6.365,13.507-12.406,16.968a5.842,5.842,0,0,1-5.8,0c-6.049-3.46-12.428-8.229-12.428-16.977V6.442A3.414,3.414,0,0,1,29.96,3.219c1.85-.65,4.449-1.446,6.881-2.08Z" transform="translate(-27.676)" fill="#353535"/>
            </g>
            </g>
        </g>
      </svg>
      <span class="text-size18 er-ml-5 mb:er-m-0 mb:er-text-2xl mb:er-mt-2">30-Day Price Guarantee</span>
    </div>
  </div>
</div>

<section class="er-bg-background er-py-40 mb:er-py-16" id="filters">
  <div class="er-mx-auto er-max-w-screen-2xl er-flex er-gap-x-4 er-px-6 sorting er-items-center er-justify-end er-mb-8 mb:er-hidden">
    <label for="sort-by" class="er-mr-2 text-size14 er-font-bold" style="color: #000;">Sort by:</label>
    <select id="sort-by" class="sort-by-select">
      <option value="default">Default</option>
      <option value="price-ascending">Price, low to high</option>
      <option value="price-descending">Price, high to low</option>
    </select>
  </div>
  <div class="er-mx-auto er-max-w-screen-2xl er-flex er-gap-x-12 er-px-6">
    <!-- Filters (桌面端侧边栏 / 移动端抽屉) -->
    <div class="filters filters-container er-flex-1">
      <button class="filters-drawer-close">
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6 6L18 18M6 18L18 6" stroke="#242729" stroke-width="2" stroke-linecap="round"/>
        </svg>
      </button>
      {% render 'collection-filters' %}
    </div>

    <div class="ebike-products er-max-w-screen-xl">
      <!-- 移动端过滤器栏 -->
      <div class="filters-mobile-bar">
        <div class="er-flex er-justify-between er-items-center er-w-full">
          <button class="filters-mobile-trigger">
            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4 6H20M4 12H20M4 18H12" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
            </svg>
            <span>Filters</span>
            <span class="filter-count" style="display: none;">0</span>
          </button>

          <div class="filters-mobile-sort">
            <label for="sort-by-mobile" class="er-mr-2 text-size14 er-font-bold" style="color: #000;">Sort by:</label>
            <select id="sort-by-mobile" class="sort-by-select" style="min-width: 140px; padding-left: 10px;">
              <option value="default">Default</option>
              <option value="price-ascending">Price, low to high</option>
              <option value="price-descending">Price, high to low</option>
            </select>
          </div>
        </div>

        <div class="filters-mobile-header">
          <span class="filters-mobile-results">
            <span class="highlight js-mobile-results-shown">0</span> OF
            <span class="js-mobile-results-total">0</span> RESULTS
          </span>
          <a href="#" class="filters-mobile-clear js-mobile-clear-filters"
            >Clear filters (<span class="js-mobile-active-count">0</span>)</a
          >
        </div>
      </div>

      {% render 'product-cards' %}
    </div>
  </div>
</section>
<div class="filters-overlay"></div>

<div class="er-bg-background">
  <div class="centeral-content er-pt-24 er-flex er-flex-col mb:er-pt-12 mb:er-pb-24 mb:er-px-6">
    <h2 class="er-m-0 text-size36 er-text-center mb:er-text-4xl mb:er-text-left">Browse All Electric Bike Models</h2>
    <p class="text-size18 er-text-center er-opacity-80 mb:er-text-left mb:er-text-2xl er-mb-20 mb:er-mt-3 mb:er-mb-8">
      <span>Urban commutes, weekend adventures, or off-road thrills – there’s a model for you.</span>
    </p>
    {% render 'home-bike-card' %}
  </div>
</div>

<div class="er-bg-background er-text-white er-py-48 mb:er-pt-0 mb:er-pb-24">
  <div class="centeral-content mb:er-px-6">
    <div class="er-grid er-grid-cols-2 er-gap-8 mb:er-grid-cols-1 mb:er-gap-y-24">
      <div
        class="background-image er-aspect-[630/530] mb:er-aspect-[340/400] er-rounded-3xl er-overflow-hidden er-flex er-flex-col er-justify-end er-items-start er-text-left er-p-12 mb:er-p-8"
      >
        <img
          src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25820_2x_3a1b8bd1-5c8a-4198-8072-2e8b8623bc3f.jpg?v=1742988884&width=800"
          alt="{{ page_title }}"
          height="0"
          width="640"
          loading="lazy"
        >
        <h3 class="er-m-0 er-text-white text-size24 mb:er-text-3xl">As Seen In Forbes, EBR & Trusted by Experts</h3>
        <p class="text-size18 er-opacity-80 er-max-w-3xl er-my-8 mb:er-text-2xl mb:er-my-6">
          <span
            >Don’t just take our word for it – hear from experts, media, and real riders who’ve made the switch to
            Urtopia.</span
          >
        </p>
        <div class="er-flex er-items-center er-w-full er-space-x-6 mb:er-space-x-3">
          <a
            class="er-button er-button-white"
            href="https://newurtopia.com/pages/urtopia-e-bike-review"
            target="_blank"
            rel="noopener noreferrer"
            >Urtopia Reviews</a
          >
          <span class="er-flex-1"></span>
          <img
            width="100"
            height="0"
            class="mb:er-max-w-24"
            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Untitled-2.svg?v=1742989842"
            loading="lazy"
            alt="Forbes"
          >
          <img
            width="75"
            height="0"
            class="mb:er-max-w-20"
            src="https://electricbikereview.com/wp-content/assets/dynamik-gen/theme/images/ebr-logo-white-lg.png"
            alt="ebr"
            loading="lazy"
          >
        </div>
      </div>
      <div
        class="background-image er-aspect-[630/530] mb:er-aspect-[340/400] er-rounded-3xl er-overflow-hidden er-flex er-flex-col er-justify-end er-items-start er-text-left er-p-12 mb:er-p-8"
      >
        <img
          height="0"
          width="640"
          loading="lazy"
          src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25819_2x_5829f961-ea26-42b3-9cc9-89f3748edb64.jpg?v=1742989933&width=800"
          alt="{{ page_title }}"
        >
        <h3 class="er-m-0 er-text-white text-size24 mb:er-text-3xl">
          Backed by {{ settings.shop_count }} Local Bike Shops
        </h3>
        <p class="text-size18 er-opacity-80 er-max-w-3xl er-my-8 mb:er-text-2xl mb:er-my-6">
          <span
            >Visit one of our {{ settings.shop_count }} authorized dealers across the U.S. for a test ride, expert
            advice, or professional servicing.</span
          >
        </p>
        <div class="er-flex er-items-center er-w-full er-space-x-6">
          <a
            class="er-button er-button-white"
            href="https://newurtopia.com/pages/find-a-dealer"
            target="_blank"
            rel="noopener noreferrer"
            >Urtopia Dealers</a
          >
          <span class="er-flex-1"></span>
        </div>
      </div>
    </div>
    <div class="er-bg-[#F5F0ED] er-p-12 er-text-dark er-rounded-3xl er-mt-12 er-max-w-screen-lg er-mx-auto mb:er-p-4 mb:er-mt-8">
      <div
        class="centeral-content er-flex er-items-center er-justify-between mb:er-grid mb:er-grid-cols-3 mb:er-gap-y-8 mb:er-px-0"
      >
        <div class="er-flex er-items-center mb:er-flex-col mb:er-text-center">
          <img
            width="40"
            height="40"
            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19753_2x_a66eec4c-8fe6-4d44-aee2-7dc31a7d2430.png?v=1742988401"
            loading="lazy"
            alt="{{ page_title }}"
          >
          <span class="text-size18 er-ml-5 mb:er-m-0 mb:er-text-2xl mb:er-mt-2"
            >Free <br class="md:er-hidden">
            Shipping</span
          >
        </div>
        <div class="er-flex er-items-center mb:er-flex-col mb:er-text-center">
          <img
            width="40"
            height="40"
            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19629_2x_9f2bb59c-1e10-473b-be14-433233347443.png?v=1742988395"
            loading="lazy"
            alt="{{ page_title }}"
          >
          <span class="text-size18 er-ml-5 mb:er-m-0 mb:er-text-2xl mb:er-mt-2"
            >2 Year <br class="md:er-hidden">
            Warranty</span
          >
        </div>
        <div class="er-flex er-items-center mb:er-flex-col mb:er-text-center">
          <img
            width="40"
            height="40"
            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19754_2x_6a85224f-78c1-423e-a4bd-debb0fd38c63.png?v=1742988389"
            loading="lazy"
            alt="{{ page_title }}"
          >
          <span class="text-size18 er-ml-5 mb:er-m-0 mb:er-text-2xl mb:er-mt-2">
            {{- settings.shop_count }}
            <br class="md:er-hidden">
            Bike Shops</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
<div class="er-py-48 mb:er-py-24">
  <div class="centeral-content mb:er-px-6 er-flex er-flex-col">
    <h2 class="er-m-0 text-size36 er-text-center mb:er-text-4xl mb:er-text-left">
      Ride Smarter:
      <br
        class="md:er-hidden"
      >
      Expert Tips & Guides
    </h2>
    <p class="text-size18 er-text-center er-opacity-80 mb:er-text-left mb:er-text-2xl mb:er-mt-3">
      <span>Not sure which eBike is right for you? New to electric biking? We’ve got you covered!</span>
    </p>
    <div
      class="er-grid er-grid-cols-3 er-gap-x-10 er-mt-20 mb:er-mt-10 mb:er-flex mb:er-overflow-x-scroll mb:er-pb-16 mb:er-gap-x-8"
    >
      <a
        href="https://newurtopia.com/blogs/blog/urtopia-carbon-series-pro-vs-st-ebikes"
        target="_blank"
        class="er-bg-background er-rounded-2xl er-flex er-flex-col mb:er-min-w-[70vw] er-cursor-pointer"
      >
        <img
          width="640"
          height="640"
          src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19733_2x_18fadeb8-7bd1-457a-b029-3713611cfbf3.jpg?v=1742983970&width=500"
          loading="lazy"
          alt="{{ page_title }}"
        >
        <div
          class="er-flex er-flex-col er-items-center er-text-center er-p-10 er-flex-1 mb:er-px-6 mb:er-py-8"
        >
          <h3 class="er-text-dark er-m-0 text-size18 mb:er-text-2xl mb:er-font-medium">
            <b class="mb:er-font-medium"
              >Urtopia Carbon 1 Pro vs. Carbon 1 ST: Which Lightweight E-Bike Reigns Supreme?</b
            >
          </h3>
          <span class="er-flex-1"></span>
          <button class="er-button er-button-dark er-mt-12 mb:er-mt-8">Read More</button>
        </div>
      </a>
      <a
        href="https://newurtopia.com/blogs/blog/urban-commute-vs-adventure-urtopia-ebike"
        target="_blank"
        class="er-bg-background er-rounded-2xl er-flex er-flex-col mb:er-min-w-[70vw] er-cursor-pointer"
      >
        <img
          width="640"
          height="640"
          src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19734_2x_165f22f5-3d3e-478a-847e-ed87e5d428e0.jpg?v=1742984556&width=500"
          loading="lazy"
          alt="{{ page_title }}"
        >
        <div
          class="er-flex er-flex-col er-items-center er-text-center er-p-10 er-flex-1 mb:er-p-6 mb:er-py-8"
        >
          <h3 class="er-text-dark er-m-0 text-size18 mb:er-text-2xl mb:er-font-medium">
            <b class="mb:er-font-medium">Urtopia Carbon 1 Pro vs. Fusion GT: Which Carbon Ride Powers Your Journey?</b>
          </h3>
          <span class="er-flex-1"></span>
          <button class="er-button er-button-dark er-mt-12 mb:er-mt-8">Read More</button>
        </div>
      </a>
      <a
        href="https://newurtopia.com/blogs/blog/first-time-e-bike-riding-beginners-guide"
        target="_blank"
        class="er-bg-background er-rounded-2xl er-flex er-flex-col mb:er-min-w-[70vw] er-cursor-pointer"
      >
        <img
          width="640"
          height="640"
          src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSCF5731_2x_16d2f720-b77e-483c-b8d3-0872cfae5cb9.jpg?v=1742984551&width=500"
          loading="lazy"
          alt="{{ page_title }}"
        >
        <div
          class="er-flex er-flex-col er-items-center er-text-center er-p-10 er-flex-1 mb:er-p-6 mb:er-py-8"
        >
          <h3 class="er-text-dark er-m-0 text-size18 mb:er-text-2xl">
            <b class="mb:er-font-medium">How Do You Ride an Electric Bike for the First Time?</b>
          </h3>
          <span class="er-flex-1"></span>
          <button class="er-button er-button-dark er-mt-12 mb:er-mt-8">Read More</button>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="centeral-content er-max-w-screen-md er-pt-24 er-pb-60 mb:er-pt-8 mb:er-pb-32 er-space-y-20 mb:er-px-6 mb:er-space-y-14">
  <div class="">
    <h2 class="er-m-0 text-size36 mb:er-text-4xl">Urtopia Carbon Fiber eBike: Lightweight and Smart</h2>
    <p class="text-size18 er-opacity-80 er-my-8 mb:er-text-2xl mb:er-my-4">
      <span
        >In the vast realm of urban commuting and outdoor adventures, a range of electric bicycles stand out with
        outstanding performance, innovative design and smart features. This curated collection of
        <a class="my-link" href="https://newurtopia.com/blogs/blog/best-lightweight-ebike">carbon fiber ebikes</a>
        showcases a variety of fascinating models, each with its own unique appeal and distinct benefits.</span
      >
    </p>
  </div>
  <div class="er-space-y-12 mb:er-space-y-8">
    <h2 class="er-m-0 text-size36 mb:er-text-4xl">Urtopia’s Featured Electric Bikes</h2>
    <div>
      <h3 class="er-text-primary er-m-0 text-size24 mb:er-text-3xl">
        City Commuter eBike – Your Ideal Choice for Convenient Fitness
      </h3>
      <p class="text-size18 er-opacity-80 er-my-8 mb:er-text-2xl mb:er-my-4">
        <span>
          Made entirely of carbon fiber and weighing only 37 pounds, the Urtopia
          <a class="my-link" href="https://newurtopia.com/collections/lightweight-carbon-commuter-ebikes"
            >Commuter E-Bike</a
          >
          is lightweight and easy to carry, making it perfect for subway connections or high-rise residential areas.
          With a range of up to 80 miles, you can use it for daily commutes through city streets or weekend fitness
          rides without having to worry about running out of power.
        </span>
      </p>
    </div>
    <div>
      <h3 class="er-text-primary er-m-0 text-size24 mb:er-text-3xl">
        Foldable eBike – For Efficient Space Utilization and Convenience
      </h3>
      <p class="text-size18 er-opacity-80 er-my-8 mb:er-text-2xl mb:er-my-4">
        <span
          >The <a class="my-link" href="https://newurtopia.com/products/urtopia-carbon-fold">foldable e-bike</a> stands
          out with its highly efficient space utilization design, allowing it to be quickly folded for easy storage and
          transportation. Whether placed in a car trunk or stored in a small indoor space, it's a perfect choice for
          city commuting and short trips. Weighing just 29 lbs, it’s the world’s lightest e-bike – thanks to its full
          carbon fiber frame and handlebar. Lightweight for easy carrying, yet incredibly durable for long-lasting
          performance.</span
        >
      </p>
    </div>
    <div>
      <h3 class="er-text-primary er-m-0 text-size24 mb:er-text-3xl">
        All-Terrain eBike – A Powerful Option for Tackling Complex Terrains
      </h3>
      <p class="text-size18 er-opacity-80 er-my-8 mb:er-text-2xl mb:er-my-4">
        <span>
          Urtopia’s
          <a class="my-link" href="https://newurtopia.com/products/urtopia-carbon-fusion-gt">all-terrain e-bike</a>
          boasts a powerful 1500W dual motor and a dual battery system with a range of up to 120 miles, effortlessly
          handling various challenging terrains and enabling riders to explore longer distance.
        </span>
      </p>
    </div>
    <div>
      <h3 class="er-text-primary er-m-0 text-size24 mb:er-text-3xl">
        Step Through eBike – A Comfortable and Accessible Choice
      </h3>
      <p class="text-size18 er-opacity-80 er-my-8 mb:er-text-2xl mb:er-my-4">
        <span>
          The
          <a class="my-link" href="https://newurtopia.com/collections/carbon-step-thru-ebikes">low-step e-bike</a>
          features a design that makes mounting and dismounting effortless, especially suitable for riders of different
          ages and physical conditions. It shares similar intelligent features and reliable power systems with the city
          commuter and fitness model, offering a comfortable and convenient riding experience.
        </span>
      </p>
    </div>
    <div>
      <h3 class="er-text-primary er-m-0 text-size24 mb:er-text-3xl">
        Fat Tire Step-Through eBike – The World’s First Carbon Cruiser eBike
      </h3>
      <p class="text-size18 er-opacity-80 er-my-8 mb:er-text-2xl mb:er-my-4">
        <span
          >This lightweight
          <a class="my-link" href="https://newurtopia.com/products/urtopia-joy-carbon-fat-tire-ebike"
            >fat tire electric bicycle</a
          >
          features a Toray <a class="my-link" href="https://newurtopia.com/pages/carbon-expert">carbon fiber frame</a>,
          weighing just 50 pounds (approx. 23 kg), and is equipped with all-terrain wide tires, providing excellent
          stability, grip, and a smooth riding experience on various surfaces. With a strong 330-pound (approx. 150 kg)
          effective load capacity and sturdy integrated racks (rear rack can carry 60 pounds, front rack can carry 33
          pounds), it is perfect for loading groceries, gear, or even carrying passengers. The low step-through frame
          design ensures easy mounting and dismounting, making it particularly suitable for women and elderly riders,
          while also fitting riders from 4 feet 11 inches to 6 feet 3 inches (approx. 1.50 m to 1.91 m) tall.</span
        >
      </p>
    </div>
    <div>
      <h3 class="er-text-primary er-m-0 text-size24 mb:er-text-3xl">Why Choose Urtopia’s Electric Bikes?</h3>
      <p class="text-size18 er-opacity-80 er-my-8 mb:er-text-2xl mb:er-my-4">
        <b>- The perfect combination of lightness and high performance:</b> Urtopia electric bikes are made of carbon
        fiber materials, which makes the race cars extremely lightweight while ensuring durability. Compared with
        traditional materials, Urtopia carbon fiber electric bikes are lighter and more durable. Lightweight reduces
        motor load, and high-capacity batteries can extend the range. <br>
        <br>
        <b> - Smart features enhance the riding experience:</b> Urtopia’s smart
        <a href="https://newurtopia.com/pages/carbon-expert" class="my-link">carbon fiber electric bikes</a> are
        equipped with advanced
        <a href="https://newurtopia.com/pages/pages-smartest-ebike" class="my-link">smart features</a> to bring
        convenience, safety and enjoyment to riders. The Urtopia smart e-bikes feature built-in GPS, Bluetooth, 4G, and
        WiFi. Track your ride, find the bike, and navigate easily with GPS. Sync ride data in-real-time via 4G, update
        your bike wirelessly (OTA update) with WiFi, and control it remotely or play music through Bluetooth. Customize
        your ride by adjusting motor power in the app – ride smarter, your way.<br>
        <br>
        <b> - Attractive prices for premium ebikes:</b> Urtopia is committed to delivering high-quality carbon fiber
        eBikes directly to consumers, making premium cycling more accessible. By offering the biggest possible discounts
        during <a class="my-link" href="https://newurtopia.com/collections/e-bike-sale">seasonal sales</a>, we ensure
        more riders can experience the agility and smoothness of carbon fiber. Our goal is to redefine carbon fiber
        eBikes—not luxury ebikes, but as an affordable choice for everyone who’re willing to pay for good things.<br>
        <br>
        <b>- Flexible payment methods:</b> Urtopia partners with
        <a class="my-link" href="https://newurtopia.com/pages/electric-bike-0-apr-financing">Affirm</a> and
        <a class="my-link" href="https://newurtopia.com/pages/klarnafaq">Klarna</a> to offer flexible Buy Now, Pay Later
        (BNPL) options, making it easier than ever to own a premium carbon fiber eBike. What sets us apart is our
        <a class="my-link" href="https://newurtopia.com/pages/electric-bike-0-apr-financing"
          >exclusive 0% APR financing</a
        >, allowing riders to spread their payments over up to 24 months with no added interest. Enjoy the freedom of
        riding now while paying at your own pace—affordable, convenient, and stress-free. <br>
        <br>
        Urtopia offers a range of high-quality, high-performance e-bikes. Whether you seek the convenience of urban
        commuting or the thrill of outdoor adventure, you’ll find a model that meets your needs. Choosing Urtopia
        e-bikes means choosing an efficient, smart, and eco-friendly way of traveling.
      </p>
    </div>
  </div>
</div>

<script type="module">
  if (!global_config.is_mobile) {
    new Swiper('.home_bike_card', {
      slidesPerView: 'auto',
      spaceBetween: 20,
      preloadImages: false,
      navigation: {
        nextEl: '.home_bike_card .swiper-button-next',
        prevEl: '.home_bike_card .swiper-button-prev',
      },
      scrollbar: {
        el: '.home_bike_card .swiper-scrollbar',
        draggable: true,
      },
    });
  }

  $('.product-card .dots > div').on('click', (e) => {
    const target = $(e.target);
    const product_card = target.closest('.product-card');

    // 先取消 其它兄弟元素的active, 再设置active
    target.siblings().removeClass('active');
    target.addClass('active');

    const price = Number(target.attr('data-price'));
    const compare_at_price = Number(target.attr('data-compare-at-price'));
    const discount_price = Number(target.attr('data-product-discount-price'));
    const variant_id = target.attr('data-variant');
    const variant_image = target.attr('data-img');

    product_card
      .find('.product_price .u24DemiBold_v2')
      .text(getPriceFormat(price, true))
      .attr('data-price', getPriceFormat(compare_at_price, true));
    product_card
      .find('.tags > span:first-child')
      .html(`${getPriceFormat(compare_at_price - price, true)} <span class="u14DemiBold_v2">OFF</span>`);

    if (price === compare_at_price) {
      product_card.find('.product_price .u24DemiBold_v2').attr('data-price', '');
      product_card.find('.tags > span:first-child').hide();
    }

    product_card.find('.variant-image').attr('src', variant_image);
    product_card
      .find('.my-button')
      .attr('href', `${product_card.find('.my-button').attr('href').split('?').shift()}?variant=${variant_id}`);
    product_card
      .find('.stars a')
      .attr(
        'href',
        `${product_card
          .find('.my-button')
          .attr('href')
          .split('?')
          .shift()}?variant=${variant_id}#judgeme_product_reviews`
      );
  });

  setTimeout(() => {
    $('.product-card .dots > div:first-child').click();

    $('.product-card .variant-image').on('click', (e) => {
      const button = $(e.target).closest('.product-card').find('.my-button');

      if (button.length) {
        button[0].click();
      }
    });
  });
</script>