{{ 'outlet_v4.scss.css' | asset_url | stylesheet_tag: preload: true }}
<h1 class="er-sr-only">{{ page_title }}</h1>
<div class="background-image er-aspect-[1920/750] er-pt-12 mb:er-aspect-[375/500] mb:er-pt-12">
        {% render 'image', first_screen: true,  mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26032_2x_5e0c57e8-28ed-4f51-80af-b0cf341fd9f4.jpg?v=1757315370", src: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26031_2x_2547d032-e970-4163-854b-ecdd73f79a93.jpg?v=1757315168' %}
        <div class="centeral-content er-flex er-flex-col er-items-center md:er-h-full">
                <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Cycle_September_Sale_2x_8d31e764-fd29-413c-a459-94dac27435ea.png?v=1757315303" width="280">
                <img class="mb:er-max-w-sm er-mt-10 mb:er-my-6" width="350" height="75" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25875_2x_91eb65db-3b79-4afa-865b-3b0895576482.png?v=1745910602">
                {% render 'sale' %}
                <style>
                    .sale {
                        width: 400px;
                        background-color: transparent;
                        overflow: hidden;
                        margin-bottom: 0;
                        margin: 30px 0 50px;
                    }
          
                    .sale > .u14DemiBold_v2 {
                        display: none;
                    }
          
                    .sale > div:not(.u14DemiBold_v2) {
                        display: flex;
                        justify-content: space-between;
                        padding: 0;
                    }
          
                    .sale > div:not(.u14DemiBold_v2) > div {
                        border-left: none !important;
                        place-self: center;
                        width: 65px;
                        align-items: unset;
                        position: relative;
                    }
          
                    .sale .u36DemiBold_v2 {
                        display: block;
                        background-color: #fff;
                        padding: 15px 12px;
                        border-radius: 7px;
                        font-size: 30px;
                        margin-bottom: 7.5px;
                        position: relative;
                        color: #151E57;
                    }
          
          
                    .sale .u36DemiBold_v2::after {
                        content: ":";
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translate(25px, -50%);
                        font-size: 25px;
                        font-weight: 300;
                        color: #fff;
                    }
          
          
                    .sale > div:not(.u14DemiBold_v2) > div span:last-child {
                        opacity: 1;
                        font-size: 12px;
                        color: #fff;
                        font-weight: 300;
                    }
          
          
                    @media (max-width: 767px) {
                        .sale {
                            max-width: 260px;
                            margin-top: 15px;
                        }
          
          
                        .sale .u36DemiBold_v2 {
                            font-size: 18px;
                            padding: 10px 8px;
                        }
          
          
                        .sale > div:not(.u14DemiBold_v2) > div {
                            width: 42px;
          
                        }
          
                        .sale > div:not(.u14DemiBold_v2) > div span:last-child {
                            font-size: 9px;
                        }
          
                        .sale .u36DemiBold_v2::after {
                            transform: translate(17px, -50%);
                        }
                    }
              </style>
        </div>
    </div>

    <div class="er-bg-[#F5F0ED] er-py-12">
      <div
          class="centeral-content er-flex er-items-center er-justify-between mb:er-grid mb:er-grid-cols-2 mb:er-gap-y-8 mb:er-px-6">
          <div class="er-flex er-items-center mb:er-flex-col mb:er-text-center">
              <img width="40" height="40"
                  src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19756_2x_2ce49dc5-2f7e-4dc2-9beb-63bc42f499fd.png?v=1742988063"
                  alt="{{ page_title }}">
              <span class="text-size18 er-ml-5 mb:er-m-0 mb:er-text-2xl mb:er-mt-2">Safety Certified</span>
          </div>
          <div class="er-flex er-items-center mb:er-flex-col mb:er-text-center">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40" height="40" viewBox="0 0 40 40">
              <defs>
                  <clipPath id="clip-path">
                  <rect id="矩形_27253" data-name="矩形 27253" width="40" height="40" transform="translate(713 699)" fill="#fff" stroke="#707070" stroke-width="1"/>
                  </clipPath>
                  <clipPath id="clip-path-2">
                  <path id="路径_76761" data-name="路径 76761" d="M187.282,322.016a5.09,5.09,0,1,1,5.09-5.09A5.1,5.1,0,0,1,187.282,322.016Zm0-7.722a2.607,2.607,0,1,0,2.607,2.607A2.607,2.607,0,0,0,187.282,314.294Zm-12.44,7.722a5.09,5.09,0,1,1,5.09-5.09A5.1,5.1,0,0,1,174.842,322.016Zm0-7.722a2.607,2.607,0,1,0,2.607,2.607A2.607,2.607,0,0,0,174.842,314.294ZM179.535,302H167.642a1.242,1.242,0,1,1,0-2.483h11.894a1.242,1.242,0,1,1,0,2.483Zm-3.6,5.984h-8.293a1.242,1.242,0,1,1,0-2.483h8.268a1.242,1.242,0,1,1,0,2.483Z" transform="translate(-166.4 -299.52)" fill="#fd4b17"/>
                  </clipPath>
              </defs>
              <g id="蒙版组_19753" data-name="蒙版组 19753" transform="translate(-713 -699)" clip-path="url(#clip-path)">
                  <g id="组_25806" data-name="组 25806" transform="translate(714.961 704.747)">
                  <path id="路径_76758" data-name="路径 76758" d="M163.374,351.753h-5.314a1.242,1.242,0,0,1,0-2.483h4.072V341.6l-4.1-4.395h-4.022a1.242,1.242,0,1,1,0-2.483h4.569a1.3,1.3,0,0,1,.919.4l4.817,5.14a1.161,1.161,0,0,1,.323.844v9.411a1.229,1.229,0,0,1-1.242,1.242Zm-13.16,0h-4.693a1.242,1.242,0,0,1,0-2.483h4.693a1.242,1.242,0,1,1,0,2.483Zm-12.738,0h-4.395a1.229,1.229,0,0,1-1.242-1.242V345.6a1.242,1.242,0,0,1,2.483,0v3.675h3.153a1.242,1.242,0,0,1,0,2.483Z" transform="translate(-128.563 -327.345)" fill="#353535"/>
                  <path id="路径_76759" data-name="路径 76759" d="M72.861,165.224a1.229,1.229,0,0,1-1.242-1.242v-16.86H48.6a1.242,1.242,0,1,1,0-2.483H72.861a1.229,1.229,0,0,1,1.242,1.242v18.1A1.229,1.229,0,0,1,72.861,165.224Z" transform="translate(-47.36 -144.64)" fill="#353535"/>
                  <path id="路径_76760" data-name="路径 76760" d="M195.925,353.77a5.09,5.09,0,1,1,5.09-5.09A5.1,5.1,0,0,1,195.925,353.77Zm0-7.722a2.607,2.607,0,1,0,2.607,2.607A2.607,2.607,0,0,0,195.925,346.048Zm-12.44,7.722a5.09,5.09,0,1,1,5.09-5.09A5.1,5.1,0,0,1,183.485,353.77Zm0-7.722a2.607,2.607,0,1,0,2.607,2.607A2.607,2.607,0,0,0,183.485,346.048Z" transform="translate(-170.424 -325.265)" fill="#353535"/>
                  <g id="蒙版组_19752" data-name="蒙版组 19752" transform="translate(4.619 6.009)" clip-path="url(#clip-path-2)">
                      <rect id="矩形_27252" data-name="矩形 27252" width="17.885" height="11.178" transform="translate(-2.383 -1.258)" fill="#fd4b17"/>
                  </g>
                  </g>
              </g>
              </svg>
              <span class="text-size18 er-ml-5 mb:er-m-0 mb:er-text-2xl mb:er-mt-2">Free Shipping</span>
          </div>
          <div class="er-flex er-items-center mb:er-flex-col mb:er-text-center">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40" height="40" viewBox="0 0 40 40">
              <defs>
                  <clipPath id="clip-path2">
                  <rect id="矩形_27128" data-name="矩形 27128" width="40" height="40" transform="translate(10117 5011)" fill="#fff" stroke="#707070" stroke-width="1"/>
                  </clipPath>
              </defs>
              <g id="蒙版组_19629" data-name="蒙版组 19629" transform="translate(-10117 -5011)" clip-path="url(#clip-path2)">
                  <g id="组_25613" data-name="组 25613" transform="translate(10119.857 5013.857)">
                  <path id="路径_76619" data-name="路径 76619" d="M157.168,96a11.2,11.2,0,0,0-11.2,11.2l.022.7a11.133,11.133,0,0,0,.316,2.044l.118.417-11.25,11.253-.319.353a5.377,5.377,0,0,0,.319,7.231l.364.328a5.36,5.36,0,0,0,7.22-.328L154,117.945l.42.12a11.2,11.2,0,0,0,13.191-14.91l-.776-2-3.66,3.658a2.56,2.56,0,1,1-3.621-3.618l3.66-3.66-2-.779A11.177,11.177,0,0,0,157.168,96Zm0,2.8.627.022.151.017-.367.37a5.36,5.36,0,0,0,0,7.584l.358.328a5.36,5.36,0,0,0,7.223-.328l.367-.372.02.154a8.4,8.4,0,0,1-11.412,8.466l-.851-.33-12.51,12.5a2.56,2.56,0,0,1-3.8-3.425l.224-.246,12.462-12.457-.33-.849A8.4,8.4,0,0,1,157.168,98.8Z" transform="translate(-133.609 -96)" fill="#353535"/>
                  <path id="直线_2593" data-name="直线 2593" d="M-1.071,5.67a1.424,1.424,0,0,1-1.01-.418,1.429,1.429,0,0,1,0-2.02L3.231-2.082a1.429,1.429,0,0,1,2.02,0,1.429,1.429,0,0,1,0,2.02L-.061,5.252A1.424,1.424,0,0,1-1.071,5.67Z" transform="translate(6.596 25.132)" fill="#fd4b17"/>
                  </g>
              </g>
              </svg>
              <span class="text-size18 er-ml-5 mb:er-m-0 mb:er-text-2xl mb:er-mt-2">2 Year Warranty</span>
          </div>
          <div class="er-flex er-items-center mb:er-flex-col mb:er-text-center">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40" height="40" viewBox="0 0 40 40">
              <defs>
                  <clipPath id="clip-path3">
                  <rect id="矩形_27255" data-name="矩形 27255" width="40" height="40" transform="translate(1390 696)" fill="#fff" stroke="#707070" stroke-width="1"/>
                  </clipPath>
              </defs>
              <g id="蒙版组_19754" data-name="蒙版组 19754" transform="translate(-1390 -696)" clip-path="url(#clip-path3)">
                  <g id="组_25809" data-name="组 25809" transform="translate(1394.681 699.866)">
                  <g id="组_25807" data-name="组 25807" transform="translate(10.422 7.579)">
                      <path id="路径_76762" data-name="路径 76762" d="M-.853-19.836c0-4.455-7.129-2.178-7.129-5.424,0-1.188,1.087-1.951,2.67-1.951A3.446,3.446,0,0,1-2.367-25.9c.284.292.437.388.711.3l.167-.057a.4.4,0,0,0,.256-.659,4.448,4.448,0,0,0-3.476-2.015l.081-1.645c.024-.375-.155-.564-.515-.564h-.172c-.36,0-.539.189-.515.564l.079,1.624c-2,.142-3.437,1.378-3.437,3.086,0,4.378,7.12,2.254,7.12,5.41,0,1.291-1.165,2.1-2.919,2.1a4,4,0,0,1-3.376-1.577c-.281-.336-.429-.423-.717-.3l-.126.052c-.367.156-.462.358-.28.667a4.839,4.839,0,0,0,3.74,2.249l-.084,1.609a.463.463,0,0,0,.515.564h.172c.36,0,.537-.189.515-.564L-4.7-16.5l-.006-.128c2.282-.094,3.848-1.357,3.848-3.211Z" transform="translate(10.108 31.067)" fill="#fd4b17"/>
                      <path id="路径_76762_-_轮廓" data-name="路径 76762 - 轮廓" d="M-5.609-14.425h-.172a1.034,1.034,0,0,1-.789-.308,1.053,1.053,0,0,1-.258-.82l.058-1.126a6.036,6.036,0,0,1-1.962-.741,4.722,4.722,0,0,1-1.683-1.7.953.953,0,0,1-.119-.8,1.1,1.1,0,0,1,.653-.623l.006,0,.126-.052a1.088,1.088,0,0,1,.418-.09,1.205,1.205,0,0,1,.91.545l.014.017.013.018a3.456,3.456,0,0,0,2.941,1.351c1.153,0,2.386-.411,2.386-1.566a1.067,1.067,0,0,0-.673-1.012,8.624,8.624,0,0,0-2.036-.616,9.469,9.469,0,0,1-2.877-.969,3.1,3.1,0,0,1-1.535-2.812,3.71,3.71,0,0,1,3.413-3.557l-.055-1.124a1.055,1.055,0,0,1,.259-.819,1.034,1.034,0,0,1,.788-.307h.172a1.034,1.034,0,0,1,.788.307,1.054,1.054,0,0,1,.259.819L-4.62-29.25a5.685,5.685,0,0,1,1.782.644,4.294,4.294,0,0,1,1.6,1.564.971.971,0,0,1,.1.859.976.976,0,0,1-.654.57l-.178.06A1.112,1.112,0,0,1-2.3-25.5a1.275,1.275,0,0,1-.918-.494l-.022-.022-.019-.025a2.917,2.917,0,0,0-2.523-1.1c-1.577,0-2.137.764-2.137,1.418a1.078,1.078,0,0,0,.679,1.044,8.394,8.394,0,0,0,2.044.6,9.236,9.236,0,0,1,2.876.947,3.054,3.054,0,0,1,1.276,1.448A3.089,3.089,0,0,1-.782-20.1,3.19,3.19,0,0,1-2.05-17.627,4.9,4.9,0,0,1-4.613-16.6l.05,1.053a1.058,1.058,0,0,1-.262.82A1.034,1.034,0,0,1-5.609-14.425Zm-.155-1.066h.138V-15.5l-.066-1.379Zm-3.679-4.074a4.371,4.371,0,0,0,3.293,1.9l.472.055.487-.02a4.09,4.09,0,0,0,2.463-.824,2.334,2.334,0,0,0,.875-1.814v-.04a2.03,2.03,0,0,0-1.021-1.922,8.5,8.5,0,0,0-2.543-.814,9.055,9.055,0,0,1-2.323-.705,2.138,2.138,0,0,1-1.241-1.983,2.24,2.24,0,0,1,.962-1.853,3.8,3.8,0,0,1,2.24-.631,4.71,4.71,0,0,1,1.936.375,3.7,3.7,0,0,1,1.413,1.121,1.525,1.525,0,0,0,.154.142l.066-.022a3.984,3.984,0,0,0-3.021-1.669l-.486-.052-.461.033a3.63,3.63,0,0,0-2.153.823,2.262,2.262,0,0,0-.789,1.732,2.02,2.02,0,0,0,1.026,1.9,8.736,8.736,0,0,0,2.552.838,9.284,9.284,0,0,1,2.307.718A2.114,2.114,0,0,1-2-20.317,2.362,2.362,0,0,1-3.027-18.35a4.166,4.166,0,0,1-2.426.664,4.553,4.553,0,0,1-3.8-1.783c-.054-.063-.091-.1-.116-.128Zm3.679-10.9v.005l.068,1.4.069-1.4Z" transform="translate(10.575 31.535)" fill="#fd4b17"/>
                  </g>
                  <g id="logo" transform="translate(0 0)">
                      <path id="路径_76764" data-name="路径 76764" d="M37.571,3.936c-2.363.617-4.885,1.39-6.653,2.011h0a.523.523,0,0,0-.351.5V14.52c0,7.018,4.989,11.045,10.972,14.468a2.952,2.952,0,0,0,2.932,0c5.974-3.423,10.952-7.451,10.952-14.461V6.442a.522.522,0,0,0-.351-.495h0c-1.766-.621-4.289-1.394-6.652-2.01A28.536,28.536,0,0,0,42.994,2.89a28.549,28.549,0,0,0-5.423,1.046Zm-.73-2.8A30.187,30.187,0,0,1,42.994,0a30.2,30.2,0,0,1,6.154,1.139c2.433.635,5.032,1.43,6.88,2.08a3.414,3.414,0,0,1,2.285,3.222v8.086c0,8.738-6.365,13.507-12.406,16.968a5.842,5.842,0,0,1-5.8,0c-6.049-3.46-12.428-8.229-12.428-16.977V6.442A3.414,3.414,0,0,1,29.96,3.219c1.85-.65,4.449-1.446,6.881-2.08Z" transform="translate(-27.676)" fill="#353535"/>
                  </g>
                  </g>
              </g>
              </svg>
              <span class="text-size18 er-ml-5 mb:er-m-0 mb:er-text-2xl mb:er-mt-2">30-Day Price Guarantee</span>
          </div>
      </div>
  </div>
    <div class="er-bg-background-warm er-py-48 mb:er-pt-32 mb:er-pb-20">
        <div class="centeral-content er-grid er-grid-cols-3 er-gap-16 mb:er-grid-cols-1 mb:er-px-6">
            <div class="er-bg-gradient-to-b er-from-white er-to-[#F9F7F6] er-rounded-2xl">
                <div
                    class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-translate-y-[-40px]">
                    <svg class="mb:er-max-w-20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="72.004" height="83.16" viewBox="0 0 72.004 83.16">
                      <defs>
                        <linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
                          <stop offset="0" stop-color="#ff3684"/>
                          <stop offset="1" stop-color="#ff8f1d"/>
                        </linearGradient>
                      </defs>
                      <g id="组_25732" data-name="组 25732" transform="translate(-483.998 -931)">
                        <path id="路径_76722" data-name="路径 76722" d="M36.123,0C56.007,0,72.25,29.741,72.25,52.7S56.007,83.16,36.123,83.16.246,75.668.246,52.7,16.24,0,36.123,0Z" transform="translate(483.752 931)" fill="url(#linear-gradient)"/>
                        <path id="bike" d="M9.825,24.513A9.257,9.257,0,1,0,19.07,33.77a9.265,9.265,0,0,0-9.244-9.257Zm0,15.652a6.407,6.407,0,1,1,6.4-6.407A6.408,6.408,0,0,1,9.825,40.165ZM41.807,17.4a12.463,12.463,0,0,0-4.262.792V3.176a1.414,1.414,0,0,0-1.417-1.419h-12.8a1.419,1.419,0,1,0,0,2.837H34.7V9.3L17.475,20.919l-7.095-7.79H14.8a1.419,1.419,0,1,0,0-2.837H7.169a1.407,1.407,0,0,0-1.3.851,1.437,1.437,0,0,0,.248,1.537L16.2,23.757a1.414,1.414,0,0,0,1.05.461,1.392,1.392,0,0,0,.791-.248L34.688,12.74v6.844A12.761,12.761,0,1,0,41.807,17.4Zm0,22.768a9.927,9.927,0,0,1-6.021-17.839L40.568,30.9a1.41,1.41,0,0,0,1.239.733,1.489,1.489,0,0,0,.7-.177,1.419,1.419,0,0,0,.543-1.939l-4.793-8.582a9.838,9.838,0,0,1,3.553-.686,9.96,9.96,0,0,1,0,19.919Z" transform="translate(494.413 954.553)" fill="#fff"/>
                      </g>
                    </svg>
                    <span class="text-size20 er-mt-12 er-mb-2 mb:er-text-2xl mb:er-mt-4">High-value carbon
                        eBike<br>starting at</span>
                    <span class="text-size36 mb:er-text-4xl">{{ all_products['urtopia-carbon-fold'].price | money_without_trailing_zeros }}</span>
                </div>
            </div>
            <div class="er-bg-gradient-to-b er-from-white er-to-[#F9F7F6] er-rounded-2xl">
                <div
                    class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-translate-y-[-40px]">
                    <svg class="mb:er-max-w-20" viewBox="0 0 72.004 83.16" height="83.16" width="72.004" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                      <defs>
                        <linearGradient gradientUnits="objectBoundingBox" y2="1" x2="0.5" x1="0.5" id="linear-gradient">
                          <stop stop-color="#ff3684" offset="0"></stop>
                          <stop stop-color="#ff8f1d" offset="1"></stop>
                        </linearGradient>
                      </defs>
                      <g transform="translate(-923.998 -931)" data-name="组 25733" id="组_25733">
                        <path fill="url(#linear-gradient)" transform="translate(923.752 931)" d="M36.123,0C56.007,0,72.25,29.741,72.25,52.7S56.007,83.16,36.123,83.16.246,75.668.246,52.7,16.24,0,36.123,0Z" data-name="路径 76724" id="路径_76724"></path>
                        <path fill="#fff" transform="translate(938.557 831.319)" d="M5.361,131.574a1.787,1.787,0,0,0-1.787,1.787v4.3a7.505,7.505,0,0,1,0,13.563v4.3a1.787,1.787,0,0,0,1.787,1.787H37.525a1.787,1.787,0,0,0,1.787-1.787v-4.3a7.505,7.505,0,0,1,0-13.563v-4.3a1.787,1.787,0,0,0-1.787-1.787H15.367v20.549a1.787,1.787,0,1,1-3.574,0V131.574ZM0,133.361A5.361,5.361,0,0,1,5.361,128H37.525a5.361,5.361,0,0,1,5.361,5.361V138.9a1.787,1.787,0,0,1-1.34,1.733,3.933,3.933,0,0,0,0,7.612,1.787,1.787,0,0,1,1.34,1.733v5.539a5.361,5.361,0,0,1-5.361,5.361H5.361A5.361,5.361,0,0,1,0,155.518v-5.539a1.787,1.787,0,0,1,1.34-1.733,3.933,3.933,0,0,0,0-7.612A1.787,1.787,0,0,1,0,138.9Zm18.941,7.505a1.787,1.787,0,0,1,1.787-1.787H26.8a1.787,1.787,0,0,1,0,3.574H20.728a1.787,1.787,0,0,1-1.787-1.787Zm0,9.113a1.787,1.787,0,0,1,1.787-1.787h9.649a1.787,1.787,0,1,1,0,3.574H20.728a1.787,1.787,0,0,1-1.787-1.787Z" id="coupon"></path>
                      </g>
                    </svg>
                        <div class="er-grid er-grid-cols-2 er-mt-12 er-gap-x-20 mb:er-mt-4">
                            <div class="er-flex er-flex-col er-text-center er-items-center">
                                <span class="text-size20 mb:er-text-2xl">Save</span>
                                <span class="text-size36 er-my-1 mb:er-text-4xl">{{ 20000 | money_without_trailing_zeros }}</span>
                                <span class="text-size20 mb:er-text-2xl">on {{ 300000 | money_without_trailing_zeros }}</span>
                            </div>
                            <div class="er-flex er-flex-col er-text-center er-items-center">
                                <span class="text-size20 mb:er-text-2xl">Save</span>
                                <span class="text-size36 er-my-1 mb:er-text-4xl">{{ 50000 | money_without_trailing_zeros }}</span>
                                <span class="text-size20 mb:er-text-2xl">on {{ 500000 | money_without_trailing_zeros }}</span>
                            </div>
                        </div>
                </div>
            </div>
            <div class="er-bg-gradient-to-b er-from-white er-to-[#F9F7F6] er-rounded-2xl">
                <div
                    class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-translate-y-[-40px]">
                    <svg class="mb:er-max-w-20" viewBox="0 0 72.004 83.16" height="83.16" width="72.004" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                      <defs>
                        <linearGradient gradientUnits="objectBoundingBox" y2="1" x2="0.5" x1="0.5" id="linear-gradient">
                          <stop stop-color="#ff3684" offset="0"></stop>
                          <stop stop-color="#ff8f1d" offset="1"></stop>
                        </linearGradient>
                        <clipPath id="clip-path999">
                          <rect stroke-width="1" stroke="#707070" fill="#fff" transform="translate(10117.063 5011)" height="46" width="46" data-name="矩形 27128" id="矩形_27128"></rect>
                        </clipPath>
                      </defs>
                      <g transform="translate(-1363.998 -931)" data-name="组 25734" id="组_25734">
                        <path fill="url(#linear-gradient)" transform="translate(1363.752 931)" d="M36.123,0C56.007,0,72.25,29.741,72.25,52.7S56.007,83.16,36.123,83.16.246,75.668.246,52.7,16.24,0,36.123,0Z" data-name="路径 76725" id="路径_76725"></path>
                        <g clip-path="url(#clip-path999)" transform="translate(-8740.063 -4058)" data-name="蒙版组 19629" id="蒙版组_19629">
                          <g transform="translate(10120.29 5014.29)" data-name="组 25613" id="组_25613">
                            <path fill="#fff" transform="translate(-133.609 -96)" d="M160.738,96a12.9,12.9,0,0,0-12.9,12.9l.026.8a12.823,12.823,0,0,0,.364,2.354l.135.481L135.409,125.5l-.368.406a6.192,6.192,0,0,0,.368,8.327l.419.377a6.173,6.173,0,0,0,8.314-.377l12.952-12.958.484.139a12.9,12.9,0,0,0,15.19-17.17l-.893-2.306-4.215,4.212a2.948,2.948,0,1,1-4.17-4.167l4.215-4.215-2.306-.9a12.871,12.871,0,0,0-4.66-.868Zm0,3.225.722.026.174.019-.422.426a6.173,6.173,0,0,0,0,8.733l.413.377a6.173,6.173,0,0,0,8.317-.377l.422-.429.023.177a9.675,9.675,0,0,1-13.142,9.749l-.98-.381-14.406,14.4A2.948,2.948,0,0,1,137.486,128l.258-.284L152.1,113.373l-.381-.977a9.675,9.675,0,0,1,9.023-13.171Z" data-name="路径 76619" id="路径_76619"></path>
                            <line stroke-width="3" stroke-linecap="round" stroke="#fff" fill="none" transform="translate(6.361 27.707)" x2="6.118" y1="6.118" data-name="直线 2593" id="直线_2593"></line>
                          </g>
                        </g>
                      </g>
                    </svg>
                    <span class="text-size20 er-mt-12 er-mb-2 mb:er-text-2xl mb:er-mt-4">At selected<br class="mb:er-hidden"><span> stores</span></span>
                    <span class="text-size36 mb:er-text-4xl">Free installation</span>
                </div>
            </div>
        </div>
    </div>
    <div class="er-bg-background-warm er-text-white">
        <div class="centeral-content mb:er-px-6">
            <div class="background-image er-aspect-[1280/450] mb:er-aspect-auto er-rounded-3xl er-overflow-hidden">
            {% render 'image', class: "mb:!er-object-top" width: 1440, mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26030_2x_e765fa7b-1445-4de4-a9d9-a023b67f9ec2.jpg?v=1757315627", src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26028_2x_5c94c5bb-2366-4096-af9d-ae0ee273a409.jpg?v=1757315174" %}
                 <!-- <div class="background-mask !er-w-1/2 mb:er-hidden" style="background-image: linear-gradient(90deg, #0888BA, #0D89BA00);"></div>     -->
                 <div
                    class="er-flex er-flex-col er-items-start er-justify-center er-h-full er-pl-28 er-max-w-2xl mb:er-px-8 mb:er-pt-10">
                    <h2
                        class="er-m-0 er-text-white text-size18 er-bg-gradient-to-r er-from-[#FF3684] er-to-[#FF8F1D] er-py-3 er-px-11 er-rounded-full mb:er-self-center mb:er-text-2xl">
                        <b>BEST PRICE EVER</b>
                    </h2>
                    <div class="md:er-hidden er-aspect-square er-w-9/12"></div>
                    <h3 class="er-m-0 er-text-white text-size18 er-font-medium er-mt-16 mb:er-text-2xl">Joy Carbon Utility eBike</h3>
                    <span class="text-size30 er-mt-4 mb:er-text-4xl"><u
                            class="text-size24 mb:er-text-3xl">Was {{ all_products['urtopia-joy-carbon-fat-tire-ebike'].compare_at_price | money_without_trailing_zeros }}</u> <u>Now {{ all_products['urtopia-joy-carbon-fat-tire-ebike'].price | money_without_trailing_zeros }}</u></span>
                    <p class="text-size18 er-mb-16 er-mt-8 mb:er-text-2xl mb:er-mb-10 mb:er-mt-6">
                        <span>
                           Now only $1,799! With an ultra-light carbon frame, up to 70 miles of range, and a design that’s easy, comfy, and built tough — this is the best deal on a premium carbon e-bike.
                        </span>
                    </p>
                    <a class="er-button er-button-white mb:er-mb-20" href="/products/urtopia-joy-carbon-fat-tire-ebike?variant=46345550037240" target="_blank">Shop now</a>
                </div>
            </div>
        </div>
    </div>

    <div class="er-bg-background-warm">
        <div class="centeral-content ebike-products er-flex er-flex-col">
          <h2 class="er-m-0 text-size36 er-text-center mb:er-text-4xl mb:er-text-left er-mb-4">Electric Bikes For Sale</h2>
    <p class="text-size18 er-text-center er-opacity-80 mb:er-text-left mb:er-text-2xl er-max-w-screen-md er-mb-20 er-mx-auto mb:er-mb-8">
        <span>Shop Urtopia lightweight carbon fiber ebikes sale. Enjoy advanced design with GPS anti-theft voice navigation, seamless pedal assist, and smart features. Explore city commuter trekking, folding fat tire, and long-range models with exclusive holiday deals. </span>
    </p>
          {% render: "product-cards" %}
      </div>
      </div>

                          <div class="er-bg-background-warm">
  {% render 'sale-buy-any' %}
</div>
      
      <div class="er-text-white er-bg-background-warm er-pt-48 mb:er-pt-24">
        <div class="centeral-content mb:er-px-6">
          <div class="background-image er-rounded-3xl er-overflow-hidden er-aspect-[1280/180] mb:er-aspect-square er-from-[#FF3684] er-to-[#FF8F1D] er-bg-gradient-to-b mb:er-bg-gradient-to-r">
            <div class="er-flex er-h-full mb:er-flex-col">
              <div class="er-basis-2/12 mb:er-basis-1/4 er-flex er-flex-col er-justify-center er-space-y-6 mb:er-flex-row mb:er-space-x-6 mb:er-space-y-0 mb:er-items-center mb:er-justify-start">
              <img loading="lazy" class="er-translate-x-1/2 mb:er-max-w-28" width="95" height="0" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25346_2x_1202f109-d0b0-4cb3-9c8b-e69e05274302.png?v=1743042755" alt="{{ page_title }}">
              <img loading="lazy" class="er-translate-x-1/2 mb:er-max-w-28" width="95" height="0" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/70_2x_c967b944-a6b4-4169-83f7-e9760740291d.png?v=1743042760" alt="{{ page_title }}">
              </div>
              <div class="er-flex er-flex-col er-text-left er-items-left er-justify-center er-bg-black er-flex-1 er-pl-24 mb:er-p-8 md:er-rounded-l-3xl mb:er-rounded-tr-[50px]">
                <h3 class="er-m-0 er-text-white text-size24 er-font-medium mb:er-text-3xl">Ride Now, Pay Later</h3>
                <h2 class="er-m-0 er-text-white text-size36 er-my-3 mb:er-text-4xl mb:er-my-6">Limited-Time <span style="color: #FF7BAE">0% APR</span> for 24 Months</h2>
                <p class="text-size20 mb:er-text-2xl">
                  <span>A {{ all_products['urtopia-carbon-fold'].price | money_without_trailing_zeros }} purchase costs {{ all_products['urtopia-carbon-fold'].price | divided_by: 24 | money }}/month for 24 months at 0% APR.</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

<div class="er-bg-background-warm">
    <div class="centeral-content er-flex er-flex-col er-pt-48 mb:er-pt-28 mb:er-px-6">
        <h2 class="er-m-0 text-size36 er-text-center mb:er-text-4xl mb:er-text-left">Browse All Electric Bike Models</h2>
        <p class="text-size18 er-text-center er-opacity-80 mb:er-text-left mb:er-text-2xl mb:er-mt-3">
            <span>Urban commutes, weekend adventures, or off-road thrills – there’s a model for you.</span>
        </p>
    <div class="home_bike_card er-relative er-pb-40 mb:er-pb-0 er-overflow-x-hidden er-mt-20 mb:er-mt-10" style="--swiper-navigation-size: 27px; --swiper-navigation-color:#fff;">
      <div class="swiper-wrapper mb:er-flex-col mb:er-space-y-6 mb:er-text-center">
        <div class="swiper-slide er-box-border er-flex er-flex-col background-image er-aspect-[380/500] mb:er-aspect-[315/260] er-max-w-[380px] er-text-white er-justify-end er-items-start er-p-12 er-rounded-3xl er-overflow-hidden mb:er-items-center mb:er-p-8 mb:er-max-w-none">
          {% render 'image', mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSC06367_2x_36aaa0b3-02e6-441c-9ec0-d547dadc5c01.jpg?v=1744697134", src: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSC06367_2x_6749f00b-7d9f-4d50-86e7-0a178fa638ba.jpg?v=1744696828', width: 400 %}
          <h3 class="text-size24 er-mb-8 mb:er-mb-6 mb:er-text-3xl">Utility eBike for<br>Urban & Cargo</h3>
          <a target="_blank" class="er-button er-button-white" href="/products/urtopia-joy-carbon-fat-tire-ebike">Fat Tire ebike</a>
        </div>
        <div class="swiper-slide er-box-border er-flex er-flex-col background-image er-aspect-[380/500] mb:er-aspect-[315/260] er-max-w-[380px] er-text-white er-justify-end er-items-start er-p-12 er-rounded-3xl er-overflow-hidden mb:er-items-center mb:er-p-8 mb:er-max-w-none">
          {% render 'image', mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25436_2x_5cf464df-aaee-4a86-a613-a114f6c496a2.jpg?v=1737452645", src: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25440_2x_a522840a-7bf1-4639-b076-3c0937d08f10.jpg?v=1737452533', width: 400 %}
          <h3 class="text-size24 er-mb-8 mb:er-mb-6 mb:er-text-3xl">Fitness-focused<br>urban rides</h3>
          <a target="_blank" class="er-button er-button-white" href="/products/urtopia-carbon-1-pro-ebike">Trekking ebike</a>
        </div>
        <div class="swiper-slide er-box-border er-flex er-flex-col background-image er-aspect-[380/500] mb:er-aspect-[315/260] er-max-w-[380px] er-text-white er-justify-end er-items-start er-p-12 er-rounded-3xl er-overflow-hidden mb:er-items-center mb:er-p-8 mb:er-max-w-none">
          {% render 'image', mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/557_new_2x_c13415b9-d701-4ee9-9628-7abd28541e18.jpg?v=1737452655", src: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/557_new_2x_a8438202-a1f1-447e-a3cc-878bd5b37ff3.jpg?v=1737452439', width: 400 %}
          <h3 class="text-size24 er-mb-8 mb:er-mb-6 mb:er-text-3xl">Explore the<br>urban landscape</h3>
          <a target="_blank" class="er-button er-button-white" href="/products/urtopia-carbon-1-step-thru-ebike">City ebike</a>
        </div>
        <div class="swiper-slide er-box-border er-flex er-flex-col background-image er-aspect-[380/500] mb:er-aspect-[315/260] er-max-w-[380px] er-text-white er-justify-end er-items-start er-p-12 er-rounded-3xl er-overflow-hidden mb:er-items-center mb:er-p-8 mb:er-max-w-none">
          {% render 'image', mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25439_2x_836e2159-df50-4ed0-bbce-621da6dd020a.jpg?v=1737452660", src: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSCF6175_2x_a8f92c97-27f4-4862-a911-cf015a40cde8.jpg?v=1737452434', width: 400 %}
          <h3 class="text-size24 er-mb-8 mb:er-mb-6 mb:er-text-3xl">Super compact &<br>lightweight, fit anywhere</h3>
          <a target="_blank" class="er-button er-button-white" href="/products/urtopia-carbon-fold">Folding ebike</a>
        </div>
        
        <div class="swiper-slide er-box-border er-flex er-flex-col background-image er-aspect-[380/500] mb:er-aspect-[315/260] er-max-w-[380px] er-text-white er-justify-end er-items-start er-p-12 er-rounded-3xl er-overflow-hidden mb:er-items-center mb:er-p-8 mb:er-max-w-none">
          {% render 'image', mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250512-171302.jpg?v=1747041318", src: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250512-171307.jpg?v=1747041318', width: 400 %}
          <h3 class="text-size24 er-mb-8 mb:er-mb-6 mb:er-text-3xl">Long-Distance<br>Scenic Rides</h3>
          <a target="_blank" class="er-button er-button-white" href="/products/urtopia-fusion-pro-carbon-long-range-ebike">Off Road ebike</a>
        </div>
        <div class="swiper-slide er-box-border er-flex er-flex-col background-image er-aspect-[380/500] mb:er-aspect-[315/260] er-max-w-[380px] er-text-white er-justify-end er-items-start er-p-12 er-rounded-3xl er-overflow-hidden mb:er-items-center mb:er-p-8 mb:er-max-w-none">
          {% render 'image', mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25433_2x_f4303946-f4f7-4156-b740-f0ffccfedc02.jpg?v=1737451779", src: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25441_2x_90ebacbd-c497-4121-a69d-abe7f7b4ffe2.jpg?v=1737449157', width: 400 %}
          <h3 class="text-size24 er-mb-8 mb:er-mb-6 mb:er-text-3xl">Ride outdoors and<br>explore more trails</h3>
          <a target="_blank" class="er-button er-button-white" href="/products/urtopia-carbon-fusion-gt">Touring ebike</a>
        </div>
      </div>
      <div class="swiper-scrollbar !er-w-full !er-left-0 er-z-[1]" style="z-index:1;"></div>
      <div class="swiper-button-prev er-bottom-12 er-right-[60px] er-left-auto er-top-auto er-bg-dark er-rounded-full er-w-16 er-h-16 after:er-text-3xl mb:er-hidden er-z-2" style="z-index:1;"></div>
      <div class="swiper-button-next er-bottom-12 er-right-0 er-left-auto er-top-auto er-bg-dark er-rounded-full er-w-16 er-h-16 after:er-text-3xl mb:er-hidden er-z-2" style="z-index:1;"></div>
  </div>
</div>
</div>

<div class="er-bg-background-warm professional" id="professional">
  <div class="centeral-content er-flex er-flex-col er-py-56 mb:er-py-28 mb:er-px-6">
    <h2 class="er-m-0 text-size36 er-text-center mb:er-text-4xl mb:er-text-left">Real Reviews, Real Riders!</h2>
        <p class="text-size18 er-text-center er-opacity-80 mb:er-text-left mb:er-text-2xl mb:er-mt-3">
            <span>See why YouTubers are raving about Urtopia eBikes!</span>
        </p>
    <div class="videos swiper-wrapper er-mt-20 mb:er-mt-10">
      <div
        class="swiper-slide"
        onclick="showVideoDialog('https://www.youtube.com/embed/m3K4EqJ34Es?autoplay=1&cc_load_policy=1')"
      >
        <img
          width="413"
          height="222"
          loading="lazy"
          src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250427-142311.jpg?v=1745735015&width=500"
          alt="{{ product.title }}"
        >
        <span class="u17Light_v2"
          >I really love it's sleek and seamless design, that clean internal routing makes it look so tidy. Super compact and easy to ride, no matter your height.</span
        >
        <span class="flex-1"></span>
        <div class="u17Medium_v2">
          <img
            width="28"
            height="28"
            loading="lazy"
            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/channels4_profile_239614f6-28a4-4f4e-9cf6-0c0a8e8de1d3.jpg?v=1745735148"
            alt="{{ product.title }}"
          >
          <span>RunBikeMike</span>
        </div>
      </div>
      <div
        class="swiper-slide"
        onclick="showVideoDialog('https://www.youtube.com/embed/yGeM_NAyqcA?autoplay=1&cc_load_policy=1')"
      >
        <img
          width="413"
          height="222"
          loading="lazy"
          src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/image_11.png?v=1743644494width=400"
          alt="{{ product.title }}"
        >
        <span class="u17Light_v2"
          >Its ultra-compact fold makes it the smallest e-bike I’ve seen that fits effortlessly in my Ford Fusion’s trunk, while its featherlight build ensures easy folding and handling!</span
        >
        <span class="flex-1"></span>
        <div class="u17Medium_v2">
          <img
            width="28"
            height="28"
            loading="lazy"
            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/unnamed_55c4b3ed-70cd-4cc7-bf85-a1e9f9a70a57.jpg?v=1743644546&width=28"
            alt="{{ product.title }}"
          >
          <span>Ebike Escape</span>
        </div>
      </div>
      <div
        class="swiper-slide"
        onclick="showVideoDialog('https://www.youtube.com/embed/mGIdG0e9mmg?autoplay=1&cc_load_policy=1')"
      >
        <img
          width="351"
          height="188"
          loading="lazy"
          src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25375_2x_e89de578-ad91-4bb2-be37-0bc560590701.jpg?v=1740992328&width=400"
          alt="{{ page_description }}"
        >
        <span class="u17Light_v2"
          >A full carbon eBike with voice navigation, anti-theft features, and GPS-guided rides!</span
        >
        <span class="flex-1"></span>
        <div class="u17Medium_v2">
          <img
            width="28"
            height="28"
            loading="lazy"
            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/channels4_profile_c3257cb9-ddee-4f5a-af27-a587d558688a.jpg?v=1733886229"
            alt="{{ page_description }}"
          >
          <span>Electric Revolution</span>
        </div>
      </div>
      <div
      class="swiper-slide"
      onclick="showVideoDialog('https://www.youtube.com/embed/KtJyhPTU3ao?autoplay=1&cc_load_policy=1')"
    >
      <img
        width="413"
        height="222"
        loading="lazy"
        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250401-221421.jpg?v=1743516888&width=400"
        alt="{{ product.title }}"
      >
      <span class="u17Light_v2"
        >It's ultralight and feels incredibly wellmade and durable, and I really enjoy the step through design and super comfortable seat!</span
      >
      <span class="flex-1"></span>
      <div class="u17Medium_v2">
        <img
          width="28"
          height="28"
          loading="lazy"
          class="er-rounded-full"
          src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250401-221427.jpg?v=1743516887&width=30"
          alt="{{ product.title }}"
        >
        <span>Erin Lawrence</span>
      </div>
    </div>
    <div
        class="swiper-slide"
        onclick="showVideoDialog('https://www.youtube.com/embed/DkaGYJklmSs?autoplay=1&cc_load_policy=1')"
      >
        <img
          width="351"
          height="188"
          loading="lazy"
          src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25374_2x_e532da59-77c4-43d7-acaa-dba98daeae14.jpg?v=1740992408&width=400"
          alt="{{ page_description }}"
        >
        <span class="u17Light_v2"
          >Urtopia clearly took comfort and assist seriously—it’s top-class and worth the price.</span
        >
        <span class="flex-1"></span>
        <div class="u17Medium_v2">
          <img
            width="28"
            height="28"
            loading="lazy"
            src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/19469_2x_795c87d6-900b-4d78-b915-259138fa064d.png?v=1727090514"
            alt="{{ page_description }}"
          >
          <span>Electroheads</span>
        </div>
      </div>
      <div
        class="swiper-slide"
        onclick="showVideoDialog('https://www.youtube.com/embed/jfmu0CgKa2E?autoplay=1&cc_load_policy=1')"
      >
        <img
          width="413"
          height="222"
          loading="lazy"
          src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250403-093905.jpg?v=1743644380&width=400"
          alt="{{ product.title }}"
        >
        <span class="u17Light_v2"
          >The coolest folding eBike I’ve seen, with cleanest cable management and an unrivaled folding design—effortless to fold and unfold.</span
        >
        <span class="flex-1"></span>
        <div class="u17Medium_v2">
          <img
            width="28"
            height="28"
            loading="lazy"
            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19674_2x_d9d960b3-d737-4654-b202-4f61e61ad431.jpg?v=1741936942&width=28"
            alt="{{ product.title }}"
          >
          <span>Miss GoElectric Ride Reviews</span>
        </div>
      </div>
      <div
        class="swiper-slide"
        onclick="showVideoDialog('https://www.youtube.com/embed/3BZdV16CjiY?autoplay=1&cc_load_policy=1')"
      >
        <img
          width="413"
          height="222"
          loading="lazy"
          src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25367_2x_b0fb6af0-2115-4f82-872d-dfefd7bebc99.jpg?v=1740993708&width=400"
          alt="{{ product.title }}"
        >
        <span class="u17Light_v2"
          >The Lightest Dual Motor Ebike I've Tried - Urtopia Carbon Fusion GT Review</span
        >
        <span class="flex-1"></span>
        <div class="u17Medium_v2">
          <img
            width="28"
            height="28"
            loading="lazy"
            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/channels4_profile_4ab393ec-a320-4cd7-a5fe-1b3fb72b5a91.jpg?v=1737857581"
            alt="{{ product.title }}"
          >
          <span>TailHappyTV</span>
        </div>
      </div>
      <div
        class="swiper-slide"
        onclick="showVideoDialog('https://www.youtube.com/embed/r9TD6cPYCxc?autoplay=1&cc_load_policy=1')"
      >
        <img
          width="351"
          height="188"
          loading="lazy"
          src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/24717_2x_42c326c1-7915-471d-b00e-4f5dd6b273b8.jpg?v=1727143908&width=400"
          alt="{{ page_description }}"
        >
        <span class="u17Light_v2">Tested at 748W, the power of 1 Pro is higher than most all-terrain e-bikes.</span>
        <span class="flex-1"></span>
        <div class="u17Medium_v2">
          <img
            width="28"
            height="28"
            loading="lazy"
            src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/19472_2x_679a808b-69a2-4e58-be5f-407efb2f88c5.png?v=1727143912"
            alt="{{ page_description }}"
          >
          <span>Area 13</span>
        </div>
      </div>
      <div
        class="swiper-slide"
        onclick="showVideoDialog('https://www.youtube.com/embed/QQiiyxJJ_DA?autoplay=1&cc_load_policy=1')"
      >
        <img
          width="351"
          height="188"
          loading="lazy"
          src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25382_2x_c239a5d7-6d6a-435d-b6bb-166dfffb18d2.jpg?v=1740991211&width=400"
          alt="{{ page_description }}"
        >
        <span class="u17Light_v2"
          >The Carbon Fold 1 ebike comes fully assembled, so you can ride right away. My favorite part? The folding and unfolding are super easy—effortless to operate!</span
        >
        <span class="flex-1"></span>
        <div class="u17Medium_v2">
          <img
            width="28"
            height="28"
            loading="lazy"
            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19663_2x_a45f4245-f72b-498c-b0e3-0b3167d349cf.jpg?v=1739522979&width=28"
            alt="{{ page_description }}"
          >
          <span>Mike Fede</span>
        </div>
      </div>
      
      <div
        class="swiper-slide"
        onclick="showVideoDialog('https://www.youtube.com/embed/14WsEPH8TfQ?autoplay=1&cc_load_policy=1')"
      >
        <img
          width="351"
          height="188"
          loading="lazy"
          src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25085_2x_218ed915-d951-4836-9315-48dbb616abc5.jpg?v=1731058283&width=400"
          alt="{{ page_description }}"
        >
        <span class="u17Light_v2"
          >The throttle boost driven by dual motors provides an unprecedented power-maxing experience.</span
        >
        <span class="flex-1"></span>
        <div class="u17Medium_v2">
          <img
            width="28"
            height="28"
            loading="lazy"
            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/unnamed.jpg?v=1731058489"
            alt="{{ page_description }}"
          >
          <span>KhanFlicks</span>
        </div>
      </div>
      <div
      class="swiper-slide"
      onclick="showVideoDialog('https://www.youtube.com/embed/vGq9bFvwhO4?autoplay=1&cc_load_policy=1')"
    >
      <img
        width="351"
        height="188"
        loading="lazy"
        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25381_2x_ae9a894f-b974-4ae1-811f-ba49596415de.jpg?v=1740991062&width=400"
        alt="{{ page_description }}"
      >
      <span class="u17Light_v2"
        >This is hands down the easiest folding ebike I’ve ever used! The built-in magnets that keep it securely closed are a total game-changer.</span
      >
      <span class="flex-1"></span>
      <div class="u17Medium_v2">
        <img
          width="28"
          height="28"
          loading="lazy"
          src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250214-180356.jpg?v=1739527453&width=28"
          alt="{{ page_description }}"
        >
        <span>Freshly Charged</span>
      </div>
    </div>
    </div>
    <div class="swiper-scrollbar"></div>
    <div class="buttons mobileHide">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</div>
    <div class="er-bg-background-warm er-pb-48 mb:er-pb-24">
        <div class="centeral-content mb:er-px-6">
            <h2 class="er-m-0 text-size36 er-text-center er-w-full mb:er-text-4xl mb:er-text-left">What Our Riders Say</h2>
            <div
                class="er-grid er-grid-cols-3 er-gap-x-10 er-mt-20 mb:er-mt-10 mb:er-flex mb:er-overflow-x-scroll mb:er-pb-16 mb:er-gap-x-8">
                <div class="er-p-12 er-bg-[#F5F0ED] er-rounded-2xl er-flex er-flex-col mb:er-p-6 mb:er-min-w-[70vw]">
                    <img width="640" height="640" class="er-rounded-2xl er-overflow-hidden"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/439_2x_225cd678-7a9e-44e4-a7a1-73147a440ed4.jpg?v=1742975925&width=500"
                        loading="lazy" alt="{{ page_title }}">
                    <div class="er-flex er-my-6 mb:er-my-4">
                        <div class="star" style="--star-size: 18px;"></div>
                        <div class="star" style="--star-size: 18px;"></div>
                        <div class="star" style="--star-size: 18px;"></div>
                        <div class="star" style="--star-size: 18px;"></div>
                        <div class="star" style="--star-size: 18px;"></div>
                    </div>
                    <p class="text-size16 mb:er-text-2xl">
                        <span>“The lightweight and portable ebike I’ve been seeking” <br>– Doctor J.</span>
                    </p>
                </div>
                <div class="er-p-12 er-bg-[#F5F0ED] er-rounded-2xl er-flex er-flex-col mb:er-p-6 mb:er-min-w-[70vw]">
                    <img width="640" height="640" class="er-rounded-2xl er-overflow-hidden"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/440_2x_9affd041-56c1-4f5a-be83-8417094b05ef.jpg?v=1742976197&width=500"
                        loading="lazy" alt="{{ page_title }}">
                    <div class="er-flex er-my-6 mb:er-my-4">
                        <div class="star" style="--star-size: 18px;"></div>
                        <div class="star" style="--star-size: 18px;"></div>
                        <div class="star" style="--star-size: 18px;"></div>
                        <div class="star" style="--star-size: 18px;"></div>
                        <div class="star" style="--star-size: 18px;"></div>
                    </div>
                    <p class="text-size16">
                        <span>“My Urtopia E-Bike Performed FLAWLESSLY !”<br> – David P.</span>
                    </p>
                </div>
                <div class="er-p-12 er-bg-[#F5F0ED] er-rounded-2xl er-flex er-flex-col mb:er-p-6 mb:er-min-w-[70vw]">
                    <img width="640" height="640" class="er-rounded-2xl er-overflow-hidden"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/441_2x_b5b41441-a90f-4df7-8853-a6fd0c1c6ddf.jpg?v=1742976189&width=500"
                        loading="lazy" alt="{{ page_title }}">
                    <div class="er-flex er-my-6 mb:er-my-4">
                        <div class="star" style="--star-size: 18px;"></div>
                        <div class="star" style="--star-size: 18px;"></div>
                        <div class="star" style="--star-size: 18px;"></div>
                        <div class="star" style="--star-size: 18px;"></div>
                        <div class="star" style="--star-size: 18px;"></div>
                    </div>
                    <p class="text-size16">
                        <span>“This is the best ebike I’ve ever ridden!” <br>– Frank L.</span>
                    </p>
                </div>
            </div>
        <div class="swappppr er-relative er-overflow-hidden er-bg-[#F5F0ED] er-mt-8 er-rounded-2xl er-py-16 mb:er-pt-0"
            style="--swiper-pagination-bullet-inactive-opacity: 0.5;--swiper-theme-color: #fff;--swiper-pagination-color: #fff;--swiper-pagination-bullet-inactive-color: #999;--swiper-pagination-bullet-width: 6px;--swiper-pagination-bullet-size:6px;">
            <div class="swiper-wrapper er-grid er-grid-cols-3 lg:er-grid-cols-4 mb:er-flex">
                <div class="er-box-border swiper-slide er-p-12 er-flex er-flex-col er-items-center">
                    <p class="text-size18 er-text-center er-mb-4 mb:er-order-1 mb:er-my-8">
                       <b>“Smoother and more efficient.”</b>
                    </p>
                    <span class="flex-1"></span>
                    <img width="150" height="80" loading="lazy"
                        class="er-h-24 er-w-auto"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19661_2x_fb0a866b-998b-4098-bdb5-1ebce962227a.png?v=1743058119"
                        alt="{{ page_description }}">
                </div>
                <div class="er-box-border swiper-slide er-p-12 er-flex er-flex-col er-items-center">
                    <p class="text-size18 er-text-center er-mb-4 mb:er-order-1 mb:er-my-8">
                       <b>“Much lighter with more tech baked.”</b>
                    </p>
                    <span class="flex-1"></span>
                    <img width="150" height="80" loading="lazy"
                        class="er-h-24 er-w-auto"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19664_2x_96f50075-c538-49a6-bb3e-7d7d48a87acb.png?v=1743058582"
                        alt="{{ page_description }}">
                </div>
                <div class="er-box-border swiper-slide er-p-12 er-flex er-flex-col er-items-center">
                    <p class="text-size18 er-text-center er-mb-4 mb:er-order-1 mb:er-my-8">
                       <b>“A game changer in terms of safety.”</b>
                    </p>
                    <span class="flex-1"></span>
                    <img width="150" height="80" loading="lazy"
                        class="er-h-24 er-w-auto"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19662_2x_6c54a8c7-4156-4a11-92c2-3d16e77325b5.png?v=1743058587"
                        alt="{{ page_description }}">
                </div>
                <div class="er-box-border swiper-slide er-p-12 er-flex er-flex-col er-items-center">
                    <p class="text-size18 er-text-center er-mb-4 mb:er-order-1 mb:er-my-8">
                       <b>“Best of CES 2025”</b>
                    </p>
                    <span class="flex-1"></span>
                    <img width="150" height="80" loading="lazy"
                        class="er-h-24 er-w-auto"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19663_2x_0f8bb477-5a74-4e0e-aad1-5c838c6b7ea0.png?v=1743058592"
                        alt="{{ page_description }}">
                </div>
                <div class="er-box-border swiper-slide er-p-12 er-flex er-flex-col er-items-center">
                    <p class="text-size18 er-text-center er-mb-4 mb:er-order-1 mb:er-my-8">
                       <b>“Light, powerful, and nimble.”</b>
                    </p>
                    <span class="flex-1"></span>
                    <img width="150" height="80" loading="lazy"
                        class="er-h-24 er-w-auto"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19665_2x_8875f1b8-0f1a-473b-9f67-a50cbf3a3042.png?v=1743058637"
                        alt="{{ page_description }}">
                </div>
                <div class="er-box-border swiper-slide er-p-12 er-flex er-flex-col er-items-center">
                    <p class="text-size18 er-text-center er-mb-4 mb:er-order-1 mb:er-my-8">
                       <b>“Incredibly fun to ride.”</b>
                    </p>
                    <span class="flex-1"></span>
                    <img width="150" height="80" loading="lazy"
                        class="er-h-24 er-w-auto"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19666_2x_638ab8ce-9bb0-4970-8cca-d745a44ce0f8.png?v=1743058597"
                        alt="{{ page_description }}">
                </div>
                <div class="er-box-border swiper-slide er-p-12 er-flex er-flex-col er-items-center">
                    <p class="text-size18 er-text-center er-mb-4 mb:er-order-1 mb:er-my-8">
                       <b>“One of the best well-rounded road e-bikes available”</b>
                    </p>
                    <span class="flex-1"></span>
                    <img width="150" height="80" loading="lazy"
                        class="er-h-24 er-w-auto"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19667_2x_9fa99064-4f84-40d7-b4b1-0feefd8da19e.png?v=1743058604"
                        alt="{{ page_description }}">
                </div>
                <div class="er-box-border swiper-slide er-p-12 er-flex er-flex-col er-items-center">
                    <p class="text-size18 er-text-center er-mb-4 mb:er-order-1 mb:er-my-8">
                       <b>“Safety and sustainability.”</b>
                    </p>
                    <span class="flex-1"></span>
                    <img width="150" height="80" loading="lazy"
                        class="er-h-24 er-w-auto"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19653_2x_4582ea5b-89f5-4786-8c97-464eb36abd9b.png?v=1743058576"
                        alt="{{ page_description }}">
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        </div>
    </div>

    <div class="er-text-white er-py-48 mb:er-py-24">
        <div class="centeral-content mb:er-px-6">
            <div class="background-image er-aspect-[1280/500] mb:er-aspect-auto er-rounded-t-3xl er-overflow-hidden">
            {% render 'image', width: 1440, class: "mb:!er-object-top mb:!er-object-contain", mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20230802-150015_2x_459af18d-6e27-49b9-8683-08050dab0c21.jpg?v=1742980680", src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25697_2x_783f8fa0-bdec-4eba-a76f-d46c65d98168.jpg?v=1742980289" %}
                <div class="er-grid er-grid-cols-2 er-h-full er-gap-x-32 mb:er-grid-cols-1">
                    <div class="er-w-2/3 er-aspect-square"></div>
                    <div class="er-flex er-flex-col er-items-start er-justify-center mb:er-pl-8 mb:er-pb-12"
                        style="background-image: linear-gradient(180deg, #00000000 0%, #000000 37%, #000000 100%);">
                        <h2 class="er-m-0 er-text-white text-size36 mb:er-text-4xl">{{ settings.shop_count }} U.S. Stores<br> We’ve Got You
                            Covered</h2>
                        <p class="text-size18 er-opacity-80 er-max-w-2xl er-mt-8 er-mb-24 mb:er-text-2xl mb:er-my-10">
                            <span>Buying online? No worries! Our nationwide stores ensure a hassle-free
                                experience.</span>
                        </p>
                        <a class="er-button er-button-white" href="https://newurtopia.com/pages/find-a-dealer" target="_blank">Find a Store Near Me</a>
                    </div>
                </div>
            </div>
            <div
                class="er-bg-background-warm er-text-dark er-grid er-grid-cols-3 er-py-20 er-rounded-b-3xl mb:er-grid-cols-1 mb:er-px-6 mb:er-py-10 mb:er-gap-y-5">
                <div class="er-flex er-items-center er-self-center er-justify-center mb:er-justify-start">
                    <svg class="mb:er-max-w-16" xmlns="http://www.w3.org/2000/svg" height="48px"
                        viewBox="0 -960 960 960" width="48px" fill="#333">
                        <path
                            d="M355.08-140H200q-24.92 0-42.46-17.54T140-200v-155.08q41.08-5 70.54-34.15Q240-418.39 240-460t-29.46-70.77q-29.46-29.15-70.54-34.15V-720q0-24.92 17.54-42.46T200-780h160q5.39-38.15 33.42-62.92 28.04-24.77 66.58-24.77t66.58 24.77Q554.61-818.15 560-780h160q24.92 0 42.46 17.54T780-720v160q38.15 5.39 62.92 33.42 24.77 28.04 24.77 66.58t-24.77 66.58Q818.15-365.39 780-360v160q0 24.92-17.54 42.46T720-140H564.92q-5.38-43.08-35.15-71.54Q500-240 460-240t-69.77 28.46q-29.77 28.46-35.15 71.54ZM200-200h108.46q20.54-52.92 64.89-76.46Q417.69-300 460-300t86.65 23.54Q591-252.92 611.54-200H720v-217.69h49.23q18.38-2.31 28.42-14.85 10.04-12.54 10.04-27.46 0-14.92-10.04-27.46-10.04-12.54-28.42-14.85H720V-720H502.31v-49.23q-2.31-18.38-14.85-28.42-12.54-10.04-27.46-10.04-14.92 0-27.46 10.04-12.54 10.04-14.85 28.42V-720H200v109.54q45.54 18.85 72.77 59.88Q300-509.54 300-460q0 48.92-27.23 89.96Q245.54-329 200-309.54V-200Zm260-260Z" />
                    </svg>
                    <div class="er-flex er-flex-col er-ml-6">
                        <h3 class="er-m-0 er-text-dark text-size18 mb:er-text-2xl"><b>FREE Test Ride</b></h3>
                        <span class="text-size14 er-opacity-80 mb:er-text-xl">One ride says it all.</span>
                    </div>
                </div>
                <div class="er-flex er-items-center er-self-center er-justify-center mb:er-justify-start">
                    <svg class="mb:er-max-w-16" xmlns="http://www.w3.org/2000/svg" height="48px"
                        viewBox="0 -960 960 960" width="48px" fill="#333">
                        <path
                            d="m699.08-135.85-252-253.23q-21.16 9.16-43.01 14.12-21.86 4.96-46.38 4.96-95.83 0-162.91-67.08-67.09-67.09-67.09-162.92 0-31 7.89-59.27 7.88-28.27 22.42-53.81l143.69 142.93L387.54-656 245.39-798.92q25.53-14.54 53.45-22.81t58.85-8.27q95.84 0 162.92 67.08 67.08 67.09 67.08 162.92 0 25.31-4.77 47.15-4.77 21.85-14.31 42.24l253.24 252q10.46 10.59 10.46 25.6 0 15.01-10.38 25.39l-72.63 72.63q-10.38 10.37-25.07 9.99-14.69-.39-25.15-10.85Zm25.54-59.99 36.61-36.62-266.38-266.39q16.84-20.77 24.84-47.27 8-26.5 8-53.88 0-66.54-47.54-117.77Q432.61-769 359.84-768l86.7 86.69q10.84 10.85 10.84 25.31 0 14.46-10.84 25.31L327-511.15q-10.85 10.84-25.31 10.84-14.46 0-25.31-10.84l-86.69-86.7q.15 77 51.77 122.43Q293.08-430 357.69-430q26.26 0 52.52-7.81 26.25-7.8 48.02-24.42l266.39 266.39ZM472-486.46Z" />
                    </svg>
                    <div class="er-flex er-flex-col er-ml-6">
                        <h3 class="er-m-0 er-text-dark text-size18 mb:er-text-2xl"><b>Easy Maintenance & Repairs</b>
                        </h3>
                        <span class="text-size14 er-opacity-80 mb:er-text-xl">Real people, real support.</span>
                    </div>
                </div>
                <div class="er-flex er-items-center er-self-center er-justify-center mb:er-justify-start">
                    <svg class="mb:er-max-w-16" xmlns="http://www.w3.org/2000/svg" height="48px"
                        viewBox="0 -960 960 960" width="48px" fill="#333">
                        <path
                            d="M480-492.31q-57.75 0-98.87-41.12Q340-574.56 340-632.31q0-57.75 41.13-98.87 41.12-41.13 98.87-41.13 57.75 0 98.87 41.13Q620-690.06 620-632.31q0 57.75-41.13 98.88-41.12 41.12-98.87 41.12ZM180-187.69v-88.93q0-29.38 15.96-54.42 15.96-25.04 42.66-38.5 59.3-29.07 119.65-43.61 60.35-14.54 121.73-14.54t121.73 14.54q60.35 14.54 119.65 43.61 26.7 13.46 42.66 38.5Q780-306 780-276.62v88.93H180Zm60-60h480v-28.93q0-12.15-7.04-22.5-7.04-10.34-19.11-16.88-51.7-25.46-105.42-38.58Q534.7-367.69 480-367.69q-54.7 0-108.43 13.11-53.72 13.12-105.42 38.58-12.07 6.54-19.11 16.88-7.04 10.35-7.04 22.5v28.93Zm240-304.62q33 0 56.5-23.5t23.5-56.5q0-33-23.5-56.5t-56.5-23.5q-33 0-56.5 23.5t-23.5 56.5q0 33 23.5 56.5t56.5 23.5Zm0-80Zm0 384.62Z" />
                    </svg>
                    <div class="er-flex er-flex-col er-ml-6">
                        <h3 class="er-m-0 er-text-dark text-size18 mb:er-text-2xl"><b>Trusted Local Experts</b></h3>
                        <span class="text-size14 er-opacity-80 mb:er-text-xl">Help when needed.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="professional test-ride">
        <div class="centeral-content">
            <h2 class="er-m-0 text-size36 er-text-center er-w-full mb:er-text-4xl mb:er-text-left">Free In-Store Assembly at Participating Dealers</h2>
          <div class="videos swiper-wrapper er-mt-20 mb:er-mt-10">
            {% for item in shop.metaobjects.shop_config.test_ride_list.value.value %}
              <div class="swiper-slide" data-url="{{ item.url }}">
                <img loading="lazy" width="300" height="143" src="{{ item.image }}&width=300" alt="{{ page_description }}">
                <span class="u20DemiBold_v2">{{ item.title }}</span>
                <span class="u17Light_v2" style="margin: 0;">{{ item.span }}</span>
                <a class="my-link" href="tel:{{ item.tel }}">{{ item.tel }}</a>
              </div>
            {% endfor %}
          </div>
          <div class="swiper-scrollbar"></div>
          <div class="buttons mobileHide">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
      </div>

    <div class="er-pb-48 mb:er-pb-24">
        <div class="centeral-content mb:er-px-6 er-flex er-flex-col">
            <h2 class="er-m-0 text-size36 er-text-center mb:er-text-4xl mb:er-text-left">Ride Smarter: <br
                    class="md:er-hidden">Expert Tips & Guides</h2>
            <p class="text-size18 er-text-center er-opacity-80 mb:er-text-left mb:er-text-2xl mb:er-mt-3">
                <span>Not sure which eBike is right for you? New to electric biking? We’ve got you covered!</span>
            </p>
            <div
                class="er-grid er-grid-cols-3 er-gap-x-10 er-mt-20 mb:er-mt-10 mb:er-flex mb:er-overflow-x-scroll mb:er-pb-16 mb:er-gap-x-8">
                <a href="https://newurtopia.com/blogs/blog/urtopia-carbon-series-pro-vs-st-ebikes" target="_blank"
                    class="er-bg-background-warm er-rounded-2xl er-flex er-flex-col mb:er-min-w-[70vw] er-cursor-pointer">
                    <img width="640" height="640"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19733_2x_18fadeb8-7bd1-457a-b029-3713611cfbf3.jpg?v=1742983970&width=500"
                        loading="lazy" alt="{{ page_title }}">
                    <div
                        class="er-flex er-flex-col er-items-center er-text-center er-p-10 er-flex-1 mb:er-px-6 mb:er-py-8">
                        <h3 class="er-text-dark er-m-0 text-size18 mb:er-text-2xl mb:er-font-medium">
                            <b class="mb:er-font-medium">Urtopia Carbon 1 Pro vs. Carbon 1 ST: Which Lightweight E-Bike
                                Reigns Supreme?</b>
                        </h3>
                        <span class="er-flex-1"></span>
                        <button class="er-button er-button-dark er-mt-12 mb:er-mt-8">Read More</button>
                    </div>
                </a>
                <a href="https://newurtopia.com/blogs/blog/urban-commute-vs-adventure-urtopia-ebike" target="_blank"
                    class="er-bg-background-warm er-rounded-2xl er-flex er-flex-col mb:er-min-w-[70vw] er-cursor-pointer">
                    <img width="640" height="640"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19734_2x_165f22f5-3d3e-478a-847e-ed87e5d428e0.jpg?v=1742984556&width=500"
                        loading="lazy" alt="{{ page_title }}">
                    <div
                        class="er-flex er-flex-col er-items-center er-text-center er-p-10 er-flex-1 mb:er-p-6 mb:er-py-8">
                        <h3 class="er-text-dark er-m-0 text-size18 mb:er-text-2xl mb:er-font-medium">
                            <b class="mb:er-font-medium">Urtopia Carbon 1 Pro vs. Fusion GT: Which Carbon Ride Powers
                                Your Journey?</b>
                        </h3>
                        <span class="er-flex-1"></span>
                        <button class="er-button er-button-dark er-mt-12 mb:er-mt-8">Read More</button>
                    </div>
                </a>
                <a href="https://newurtopia.com/blogs/blog/first-time-e-bike-riding-beginners-guide" target="_blank"
                    class="er-bg-background-warm er-rounded-2xl er-flex er-flex-col mb:er-min-w-[70vw] er-cursor-pointer">
                    <img width="640" height="640"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSCF5731_2x_16d2f720-b77e-483c-b8d3-0872cfae5cb9.jpg?v=1742984551&width=500"
                        loading="lazy" alt="{{ page_title }}">
                    <div
                        class="er-flex er-flex-col er-items-center er-text-center er-p-10 er-flex-1 mb:er-p-6 mb:er-py-8">
                        <h3 class="er-text-dark er-m-0 text-size18 mb:er-text-2xl">
                            <b class="mb:er-font-medium">How Do You Ride an Electric Bike for the First Time?</b>
                        </h3>
                        <span class="er-flex-1"></span>
                        <button class="er-button er-button-dark er-mt-12 mb:er-mt-8">Read More</button>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="er-text-white er-pb-48 mb:er-pb-24">
        <div class="centeral-content mb:er-px-6">
            <div
                class="er-bg-black er-rounded-3xl er-overflow-hidden er-aspect-[1280/550] mb:er-aspect-auto er-flex er-flex-col er-justify-center er-items-start er-text-left er-pl-28 mb:er-p-8 background-image">
                <video playsinline loop autoplay muted class="lozad mb:!er-object-top mb:!er-object-contain">
                    <source data-src="https://cdn.shopify.com/videos/c/o/v/2452a28838b34c6281b15f2a394db4bd.mp4" type="video/mp4"
                        media="(min-width: 768px)">
                    <source data-src="https://cdn.shopify.com/videos/c/o/v/6cfabe7cb4224193a294a39382dabdce.mp4" type="video/mp4"
                        media="(max-width: 767px)">
                </video>
                <div class="md:er-hidden er-aspect-square er-w-[113%]"></div>
                <h2 class="er-m-0 er-text-white text-size36 mb:er-text-4xl">Why Choose Urtopia?</h2>
                <p class="text-size18 er-max-w-2xl er-opacity-80 er-mt-8 mb:er-text-2xl">
                    <span>Experience the power of carbon fiber – the ultimate material for high-performance
                        cycling.</span>
                </p>
                <ul class="text-size18 er-list-none er-space-y-8 er-my-20 er-p-0 mb:er-text-2xl mb:er-space-y-6 mb:er-my-12">
                    <li class="marker:er-hidden"><b>✔ 100% Carbon Fiber</b><br class="md:er-hidden"> – Ultra-light & robust</li>
                    <li><b>✔ High-Performance</b><br class="md:er-hidden"> – Speed, agility, durability </li>
                    <li><b>✔ Unbeatable Value</b><br class="md:er-hidden"> – Premium quality, affordable price</li>
                </ul>
                <a href="https://newurtopia.com/pages/carbon-expert" class="er-button er-button-white mb:er-mb-12">Explore the Technology</a>
            </div>
        </div>
    </div>
    <div class="faq">
        <div class="centeral-content">
          <h3 class="u36Medium_v2">FAQs</h3>
          <div class="items">
            <div class="item">
              <div class="u24Medium_v2 text-size24">
                <img loading="lazy" width="25" height="16" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Untitled-1.svg?v=1738911832" alt="{{ page_title }}">1. What makes Urtopia eBikes different from other eBikes?
              </div>
              <p class="u17Light_v2 text-size18">
                <span>
                    Urtopia eBikes stand out with their full <a class="my-link" href="https://newurtopia.com/pages/carbon-expert">carbon fiber</a> frame, making them significantly lighter and more durable than standard aluminum models. This premium design improves riding efficiency and comfort, ideal for long commutes or fitness rides. Despite the high-end build, Urtopia offers competitive e bike price options, making it one of the best values among electric bikes for sale. It’s a top choice for riders seeking performance without overpaying.
                </span>
              </p>
            </div>
            <div class="item">
              <div class="u24Medium_v2 text-size24">
                <img loading="lazy" width="25" height="16" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Untitled-1.svg?v=1738911832" alt="{{ page_title }}">2. Do I need to assemble the eBike myself?
              </div>
              <p class="u17Light_v2 text-size18">
                <span>No worries! Your eBike arrives 90% pre-assembled, so you won’t need to be a mechanic to get started. We include clear, <a class="my-link" href="https://newurtopia.com/pages/tutorials">step-by-step guides</a> to help you complete the setup quickly and easily at home. During special promotions, such as Easter, select stores even offer free professional assembly services. Whether you're exploring the electric bikes for sale market or looking for the cheapest electric bike with premium features, Urtopia makes setup simple and stress-free.</span>
              </p>
            </div>
            <div class="item">
              <div class="u24Medium_v2 text-size24">
                <img loading="lazy" width="25" height="16" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Untitled-1.svg?v=1738911832" alt="{{ page_title }}">3. What if I don't fit the model? Can I return it?
              </div>
              <p class="u17Light_v2 text-size18">
               <span>Absolutely! If your Urtopia eBike doesn’t fit, you can return it within 14 days, as long as it's unused and in its original packaging. For full details, please check our <a class="my-link" href="https://newurtopia.com/pages/refund-policy">return policy</a>. We want you to feel confident with your purchase, whether you're browsing the electric bike for sale section or comparing options in the ebikes sale market. Not sure which size is right for you? Our LiveChat experts are always ready to assist, helping you find the perfect fit at the right e bike price.</span>
              </p>
            </div>
            <div class="item">
              <div class="u24Medium_v2 text-size24">
                <img loading="lazy" width="25" height="16" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Untitled-1.svg?v=1738911832" alt="{{ page_title }}">4. What warranty does Urtopia provide?
              </div>
              <p class="u17Light_v2 text-size18">
                <span>Urtopia offers a comprehensive <a class="my-link" href="https://newurtopia.com/pages/warranty">2-year warranty</a> on the carbon fiber frame and all critical electrical components, ensuring you can ride with confidence and peace of mind. This warranty reflects our commitment to quality and durability, setting us apart in the crowded market of electric bikes for sale. Whether you’re looking for the cheapest electric bike or a high-performance model, Urtopia combines an attractive e bike price with reliable after-sales support, so your investment is well protected for years to come.</span>
              </p>
            </div>
            <div class="item">
              <div class="u24Medium_v2 text-size24">
                <img loading="lazy" width="25" height="16" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Untitled-1.svg?v=1738911832" alt="{{ page_title }}">5. Can I test ride a Urtopia eBike before buying?
              </div>
              <p class="u17Light_v2 text-size18">
                <span>Yes! You can test ride Urtopia eBikes at over 700 partner stores across the U.S. These locations offer not only test rides but also ordering and professional service support. Whether you’re browsing through electric bikes for sale or looking for the cheapest electric bike with premium features, visiting a store lets you experience the quality and performance firsthand. This way, you can confidently choose the best eBike that fits your needs and budget before making a purchase at a competitive e bike price.[<a class="my-link" href="https://newurtopia.com/pages/test-ride">Find a Store Near You</a>]</span>
              </p>
            </div>
            <div class="item">
              <div class="u24Medium_v2 text-size24">
                <img loading="lazy" width="25" height="16" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Untitled-1.svg?v=1738911832" alt="{{ page_title }}">6. Are Urtopia eBikes suitable for beginners?
              </div>
              <p class="u17Light_v2 text-size18">
                <span>Absolutely! Urtopia eBikes are designed with beginners in mind, featuring intuitive controls and smart assist modes that make riding smooth and effortless for everyone. Whether you’re new to cycling or transitioning from a traditional bike, our eBikes provide a comfortable and confident ride. With ongoing ebikes sale events and a wide selection of our electric bicycles sale, it’s easy and affordable for beginners to find the perfect model that suits their needs and skill level.<br><br>
Plus, check out our [<a class="my-link" href="https://newurtopia.com/blogs/blog/first-time-e-bike-riding-beginners-guide">Beginner’s Guide to eBiking</a>] for tips!</span>
              </p>
            </div>
            <div class="item">
              <div class="u24Medium_v2 text-size24">
                <img loading="lazy" width="25" height="16" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Untitled-1.svg?v=1738911832" alt="{{ page_title }}">7. Can I use Urtopia eBikes in the rain?
              </div>
              <p class="u17Light_v2 text-size18">
                <span>Yes! Urtopia eBikes are built with an IPX65 water-resistant rating, so they can easily handle light rain and wet road conditions without any issues. This makes them a reliable choice for daily commuting or casual rides, even when the weather isn’t perfect. Just be sure to avoid deep puddles or fully submerging the battery to keep everything safe and functioning properly. With competitive pricing that includes some of the cheapest electric bike options and frequent deals in our electric bicycles sale, Urtopia offers durable and weather-ready eBikes for all riders.</span>
              </p>
            </div>
            <div class="item">
                <div class="u24Medium_v2 text-size24">
                  <img loading="lazy" width="25" height="16" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Untitled-1.svg?v=1738911832" alt="{{ page_title }}">8. How do I get support if I have an issue?
                </div>
                <p class="u17Light_v2 text-size18">
                <span>We’ve got you covered! Our dedicated support team is always ready to assist you with any questions or concerns about your Urtopia eBike. Whether you purchased one of the cheapest electric bike models or a higher-end option with a premium e bike price, we ensure reliable help every step of the way. You can reach us easily via email at <a class="my-link" href="mailto:support@newurtopia.com">support@newurtopia.com</a> or use the Live Chat feature available on our website. Plus, with frequent electric bicycles sale events, we’re committed to providing excellent service alongside great deals.</span>
                </p>
              </div>
              <div class="item">
                <div class="u24Medium_v2 text-size24">
                  <img loading="lazy" width="25" height="16" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Untitled-1.svg?v=1738911832" alt="{{ page_title }}">9. Do you offer financing options for Urtopia eBikes?
                </div>
                <p class="u17Light_v2 text-size18">
                   <span>Yes! We offer 0% interest financing through Affirm and Klarna, allowing you to spread the cost over up to 24 months. This makes owning a high-quality Urtopia eBike more accessible, whether you’re browsing electric bikes for sale or hunting for the cheapest electric bike with premium features. Simply select your preferred payment plan at checkout to enjoy a great e bike price without upfront financial strain. Take advantage of our ebikes sale events and ride smarter today!</span>
                </p>
              </div>
          </div>
        </div>
      </div>

    <script type="module">
        $('.product-card .dots > div').on('click', e => {
            const target = $(e.target)
            const product_card = target.closest('.product-card')
    
            // 先取消 其它兄弟元素的active, 再设置active
            target.siblings().removeClass('active')
            target.addClass('active')
    
            const price = Number(target.attr('data-price'))
            const compare_at_price = Number(target.attr('data-compare-at-price'))
            const discount_price = Number(target.attr('data-product-discount-price'))
            const variant_id = target.attr('data-variant')
            const variant_image = target.attr('data-img')
    
            product_card.find('.product_price .u24DemiBold_v2').text(getPriceFormat(price, true)).attr('data-price', getPriceFormat(compare_at_price, true))
            product_card.find('.tags > span:first-child').html(`${getPriceFormat(compare_at_price - price, true)} <span class="u14DemiBold_v2">OFF</span>`)

            if (price === compare_at_price) {
                product_card.find('.product_price .u24DemiBold_v2').attr('data-price', '')
                product_card.find('.tags > span:first-child').hide()
            }
    
            product_card.find('.variant-image').attr('src', variant_image)
            product_card.find('.my-button').attr('href', `${product_card.find('.my-button').attr('href').split('?').shift()}?variant=${variant_id}`)
            product_card.find('.stars a').attr('href', `${product_card.find('.my-button').attr('href').split('?').shift()}?variant=${variant_id}#judgeme_product_reviews`)
        })
    
        setTimeout(() => {
            $('.product-card .dots > div:first-child').click()
    
            $('.product-card .variant-image').on('click', e => {
                const button = $(e.target).closest('.product-card').find('.my-button')
    
                if (button.length) {
                    button[0].click()
                }
            })
        })
</script>
<script type="module">
  $(function() {
    if (!global_config.is_mobile) {
      new Swiper('.home_bike_card', {
          slidesPerView: 'auto',
          spaceBetween:  20,
          preloadImages: false,
          navigation: {
              nextEl: '.home_bike_card .swiper-button-next',
              prevEl: '.home_bike_card .swiper-button-prev',
          },
          scrollbar: {
              el: '.home_bike_card .swiper-scrollbar',
              draggable: true
          },
      });
    }

    new Swiper('#professional .centeral-content', {
    slidesPerView: global_config.is_mobile ? 1.25 : 3.5,
    spaceBetween: 20,
    navigation: {
    nextEl: '#professional .centeral-content .swiper-button-next',
    prevEl: '#professional .centeral-content .swiper-button-prev',
  },
    scrollbar: {
      el: '#professional .centeral-content .swiper-scrollbar',
      draggable: true,
    },
  });

  global_config.is_mobile && new Swiper('.swappppr', {
        preloadImages: false,
        autoplay: {
            disableOnInteraction: false,
            pauseOnMouseEnter: false,
            delay: 5000,
        },
        loop: true,
        effect: 'fade',
        fadeEffect: {
            crossFade: true
        },
        pagination: { el: '.swappppr .swiper-pagination' },
        speed: 300
    });
  })

  new Swiper('.test-ride .centeral-content', {
          slidesPerView: global_config.is_mobile ? 1.35 : 4.5,
          spaceBetween: 20,
          navigation: {
          nextEl: '.test-ride .centeral-content .swiper-button-next',
          prevEl: '.test-ride .centeral-content .swiper-button-prev',
          },
          scrollbar: {
              el: '.test-ride .centeral-content .swiper-scrollbar',
              draggable: true,
          },
     });

     $('.test-ride .centeral-content .swiper-slide').on('click', function () {
        window.open($(this).attr('data-url'))
     })

     task(() => {
    $('.faq .items .item .u24Medium_v2').click(function () {
    $(this).siblings('.u17Light_v2').slideToggle().parent().siblings().find('.u17Light_v2').slideUp();

    if ($(this).parent().hasClass('active')) {
      $(this).parent().removeClass('active');
    } else {
      $(this).parent().addClass('active');
    }

    $(this).parent().siblings().removeClass('active');
  });
  })
</script>