{{ 'carbon-fold-product.scss.css' | asset_url | stylesheet_tag: preload: true }}
<style>
  fieldset[option=Color] label[data-style="Glacier Blue"] {
    --product-option-color: #A5BFCF;
  }

   fieldset[option=Color] label[data-style="Charcoal Grey"] {
    --product-option-color: #6A6A6A;
  }

  fieldset[option=Color] label[data-style="Rose Red"] {
    --product-option-color: #FA003F;
  }

  h1, h2, h3, h4 {
    color: inherit;
    margin: 0;
    display: block;
  }
</style>
{% render 'product-panel', swiper_insert_index: 1, product_send_accessories_price: 25700 %}
<section class="er-bg-background er-py-32 mb:er-py-24">
        <div class="centeral-content">
            <h2 class="text-size36 mb:er-text-4xl er-text-center er-w-full">Professional Reviews</h2>
            <div class="er-grid er-grid-cols-4 er-mt-16 mb:er-grid-cols-1 mb:er-mt-10 er-gap-4 mb:er-gap-y-16">
              <a class="er-flex er-flex-col er-items-start" href="https://newurtopia.com/pages/urtopia-e-bike-review"
                    target="_blank">
                    <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250718-141633.jpg?v=1752819406&width=500"
                        alt="{{ product.title }}" class="er-rounded-3xl">
                    <p class="text-size16 er-mt-6 er-mb-8 mb:er-text-2xl mb:er-mb-6">
                        <span>
                            Crafted by Carbon Fiber Masters. Chosen by Champions. Discover why the world’s best athletes trust Urtopia.
                        </span>
                    </p>
                    <span class="er-flex-1"></span>
                    <div class="er-flex er-items-center">
                        <img width="28" height="28" class="er-mr-4 er-rounded-full"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19464_2x_c1e0527f-3170-4d9f-9004-0fc101a9d28d.jpg?v=1752819602"
                            alt="{{ product.title }}">
                        <span class="text-size16 er-font-medium mb:er-text-2xl">Urtopia Ebike</span>
                    </div>
                </a>
              <a class="er-flex er-flex-col er-items-start" href="https://www.youtube.com/watch?v=m3K4EqJ34Es"
                    target="_blank" onclick="showVideoDialog('https://www.youtube.com/embed/m3K4EqJ34Es?autoplay=1&cc_load_policy=1');return false;">
                    <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250427-142311.jpg?v=1745735015&width=500"
                        alt="{{ product.title }}">
                    <p class="text-size16 er-mt-6 er-mb-8 mb:er-text-2xl mb:er-mb-6">
                        <span>
                            I really love it's sleek and seamless design, that clean internal routing makes it look so tidy. Super compact and easy to ride, no matter your height.
                        </span>
                    </p>
                    <span class="er-flex-1"></span>
                    <div class="er-flex er-items-center">
                        <img width="28" height="28" class="er-mr-4 er-rounded-full"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/channels4_profile_239614f6-28a4-4f4e-9cf6-0c0a8e8de1d3.jpg?v=1745735148"
                            alt="{{ product.title }}">
                        <span class="text-size16 er-font-medium mb:er-text-2xl">RunBikeMike</span>
                    </div>
                </a>
                <a class="er-flex er-flex-col er-items-start" href="https://www.youtube.com/watch?v=DblWTkJkKuE"
                    target="_blank" onclick="showVideoDialog('https://www.youtube.com/embed/DblWTkJkKuE?autoplay=1&cc_load_policy=1');return false;">
                    <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250421-114325.jpg?v=1745207191&width=500"
                        alt="{{ product.title }}">
                    <p class="text-size16 er-mt-6 er-mb-8 mb:er-text-2xl mb:er-mb-6">
                        <span>
                            I find riding a smaller frame really comfortable and surprisingly easy to maneuver even I had the bike loaded.
                        </span>
                    </p>
                    <span class="er-flex-1"></span>
                    <div class="er-flex er-items-center">
                        <img width="28" height="28" class="er-mr-4 er-rounded-full"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/channels4_profile_0b783b13-3ede-4636-9e64-2b7b35fdf850.jpg?v=1745207190"
                            alt="{{ product.title }}">
                        <span class="text-size16 er-font-medium mb:er-text-2xl">Erin Lawrence</span>
                    </div>
                </a>
                <a class="er-flex er-flex-col er-items-start" href="https://www.youtube.com/watch?v=Ia7IY_8fVHI"
                    target="_blank" onclick="showVideoDialog('https://www.youtube.com/embed/Ia7IY_8fVHI?autoplay=1&cc_load_policy=1');return false;">
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/25366_2x_595d4c8e-538a-40f4-bbd0-3f3f80192d5a.jpg?v=1744352814&width=500"
                        alt="{{ product.title }}">
                    <p class="text-size16 er-mt-6 er-mb-8 mb:er-text-2xl mb:er-mb-6">
                        <span>
                            Put Joy Carbon eBike on steep hills, beaches, and city streets—and it handled it all with ease. It’s compact, sturdy, and hauls cargo like a champ!
                        </span>
                    </p>
                    <span class="er-flex-1"></span>
                    <div class="er-flex er-items-center">
                        <img width="28" height="28" class="er-mr-4 er-rounded-full"
                            src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/19464_2x_cb28c852-7bce-4b53-829d-97683cd91bb0.jpg?v=1744353066"
                            alt="{{ product.title }}">
                        <span class="text-size16 er-font-medium mb:er-text-2xl">TailHappyTV</span>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <section class="er-bg-background er-pt-16 er-pb-56 mb:er-pt-12 mb:er-pb-36">
    <h2 class="text-size36 er-text-center er-w-full er-mb-32 mb:er-text-4xl mb:er-mb-24">Why Carbon Fiber Is Worth It?</h2>
    <section
        class="er-mx-auto er-max-w-[768px] er-grid er-grid-cols-3 er-rounded-2xl er-shadow-sm er-text-white mb:er-grid-cols-[1fr_1.5fr_1.5fr] mb:er-rounded-none">
        <div class="er-pl-6 er-flex er-flex-col er-justify-end er-rounded-l-2xl er-pb-6 mb:er-pl-4 mb:er-pb-4 mb:er-rounded-none"
            style="background-color: #005AA8;">
            <div class="er-flex er-items-end er-py-6 er-px-4 mb:er-pr-4 mb:er-pl-0 mb:er-py-3">
                <b class="text-size20 mb:er-text-2xl er-font-bold">Advantages</b>
            </div>
            <div
                class="er-flex er-flex-col er-justify-center er-items-start er-text-left er-border-0 er-border-t er-border-solid er-border-t-white/25 er-h-28 mb:er-h-20 er-px-4 mb:er-px-2 mb:er-pl-0">
                <b class="text-size18 mb:er-text-base er-font-medium">45% lighter</b>
                <span class="text-size14 mb:er-text-sm">(same geometry)</span>
            </div>
            <div
                class="er-flex er-flex-col er-justify-center er-items-start er-text-left er-border-0 er-border-t er-border-solid er-border-t-white/25 er-h-28 mb:er-h-20 er-px-4 mb:er-px-2 mb:er-pl-0">
                <b class="text-size18 mb:er-text-base er-font-medium">35× higher</b>
                <span class="text-size14 mb:er-text-sm">tensile strength</span>
            </div>
            <div
                class="er-flex er-flex-col er-justify-center er-items-start er-text-left er-border-0 er-border-t er-border-solid er-border-t-white/25 er-h-28 mb:er-h-20 er-px-4 mb:er-px-2 mb:er-pl-0">
                <b class="text-size18 mb:er-text-base er-font-medium">3× stiffer</b>
                <span class="text-size14 mb:er-text-sm"></span>
            </div>
            <div
                class="er-flex er-flex-col er-justify-center er-items-start er-text-left er-border-0 er-border-t er-border-solid er-border-t-white/25 er-h-28 mb:er-h-20 er-px-4 mb:er-px-2 mb:er-pl-0">
                <b class="text-size18 mb:er-text-base er-font-medium">Greater</b>
                <span class="text-size14 mb:er-text-sm">design freedom</span>
            </div>
            <div
                class="er-flex er-flex-col er-justify-center er-items-start er-text-left er-border-0 er-border-t er-border-solid er-border-t-white/25 er-h-28 mb:er-h-20 er-px-4 mb:er-px-2 mb:er-pl-0">
                <b class="text-size18 mb:er-text-base er-font-medium">Lighter</b>
                <span class="text-size14 mb:er-text-sm">more joyful ride</span>
            </div>
            <div
                class="er-flex er-flex-col er-justify-center er-items-start er-text-left er-border-0 er-border-t er-border-solid er-border-t-white/25 er-h-28 mb:er-h-20 er-px-4 mb:er-px-2 mb:er-pl-0">
                <b class="text-size18 mb:er-text-base er-font-medium">More comfortable</b>
                <span class="text-size14 mb:er-text-sm"> on long rides</span>
            </div>
            <div
                class="er-flex er-flex-col er-justify-center er-items-start er-text-left er-border-0 er-border-t er-border-solid er-border-t-white/25 er-h-28 mb:er-h-20 er-px-4 mb:er-px-2 mb:er-pl-0">
                <b class="text-size18 mb:er-text-base er-font-medium">Longer lifespan</b>
                <span class="text-size14 mb:er-text-sm">& better value</span>
            </div>
        </div>
        <div class="er-flex er-flex-col er-justify-end er-bg-cover er-bg-no-repeat er-bg-top er-mt-[-25px] er-mb-[-25px] mb:er-mt-[-15px] mb:er-mb-[-15px] er-rounded-2xl er-overflow-hidden er-shadow-sm er-pb-16 mb:er-pb-10"
            style="background-color: rgb(18, 108, 185);">
            <div class="er-flex er-items-end er-py-6 mb:er-py-3 er-px-7 mb:er-px-3 er-aspect-[6/5] er-bg-cover er-bg-top er-bg-no-repeat"
                style="background-image: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250523-174337.jpg?v=1747993467');">
                <b class="text-size20 mb:er-text-2xl er-font-bold">Carbon Fiber</b>
            </div>
            <div
                class="er-h-28 mb:er-h-20 er-flex er-items-center text-size16 mb:er-text-sm er-font-medium er-border-0 er-border-t er-border-solid er-border-t-white/25 er-px-7 mb:er-px-3">
                ～1.5g/cm³</div>
            <div
                class="er-h-28 mb:er-h-20 er-flex er-items-center text-size16 mb:er-text-sm er-font-medium er-border-0 er-border-t er-border-solid er-border-t-white/25 er-px-7 mb:er-px-3">
                ～7000MPa</div>
            <div
                class="er-h-28 mb:er-h-20 er-flex er-items-center text-size16 mb:er-text-sm er-font-medium er-border-0 er-border-t er-border-solid er-border-t-white/25 er-px-7 mb:er-px-3">
                ～200GPa</div>
            <div
                class="er-h-28 mb:er-h-20 er-flex er-items-center text-size16 mb:er-text-sm er-font-medium er-border-0 er-border-t er-border-solid er-border-t-white/25 er-px-7 mb:er-px-3">
                Smooth, aerodynamic,<br>flexible forms</div>
            <div
                class="er-h-28 mb:er-h-20 er-flex er-items-center text-size16 mb:er-text-sm er-font-medium er-border-0 er-border-t er-border-solid er-border-t-white/25 er-px-7 mb:er-px-3">
                Agile, easy to<br>maintain speed</div>
            <div
                class="er-h-28 mb:er-h-20 er-flex er-items-center text-size16 mb:er-text-sm er-font-medium er-border-0 er-border-t er-border-solid er-border-t-white/25 er-px-7 mb:er-px-3">
                Absorb and<br>dissipate vibration</div>
            <div
                class="er-h-28 mb:er-h-20 er-flex er-items-center text-size16 mb:er-text-sm er-font-medium er-border-0 er-border-t er-border-solid er-border-t-white/25 er-px-7 mb:er-px-3">
                Resistant to fatigue</div>
        </div>
        <div
            class="er-flex er-flex-col er-justify-end er-bg-dark er-rounded-r-2xl er-pb-6 mb:er-pb-4 mb:er-rounded-none">
            <div class="er-flex er-items-end er-py-6 mb:er-py-3 er-px-4 mb:er-px-0 er-flex-1 er-bg-cover er-bg-top er-bg-no-repeat er-rounded-tr-2xl er-relative"
                style="background-image: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250523-145513.jpg?v=1747983325');">
                <b class="text-size20 mb:er-text-xl er-font-bold er-pl-24 mb:er-pl-14 mb:er-whitespace-nowrap">Aluminum Alloy</b>
                <i
                    class="text-size72 er-absolute er-left-0 er-top-1/3 er-tracking-wide er-translate-x-[-50%] mb:er-text-5xl" style="filter: drop-shadow(0 0 10px #0000005A);">V.<span
                        style="color: #128FFF;">S.</span></i>
            </div>
            <div
                class="er-h-28 mb:er-h-20 er-flex er-items-center text-size16 mb:er-text-sm er-font-medium er-border-0 er-border-t er-border-solid er-border-t-white/15 er-ml-[-50px] mb:er-ml-[-33px]">
                <span
                    class="text-size12 mb:er-text-sm er-block er-bg-white er-text-dark er-w-40 er-min-w-40 mb:mb:er-min-w-24  mb:er-w-24 er-text-center er-py-4 mb:er-py-2 er-rounded-full er-mr-8 mb:er-mr-4 mb:er-px-1">Weight</span><span>～2.7g/cm³</span>
            </div>
            <div
                class="er-h-28 mb:er-h-20 er-flex er-items-center text-size16 mb:er-text-sm er-font-medium er-border-0 er-border-t er-border-solid er-border-t-white/15 er-ml-[-50px] mb:er-ml-[-33px]">
                <span
                    class="text-size12 mb:er-text-sm er-block er-bg-white er-text-dark er-w-40 er-min-w-40 mb:mb:er-min-w-24  mb:er-w-24 er-text-center er-py-4 mb:er-py-2 er-rounded-full er-mr-8 mb:er-mr-4 mb:er-px-1">Strength</span><span>～200MPa</span>
            </div>
            <div
                class="er-h-28 mb:er-h-20 er-flex er-items-center text-size16 mb:er-text-sm er-font-medium er-border-0 er-border-t er-border-solid er-border-t-white/15 er-ml-[-50px] mb:er-ml-[-33px]">
                <span
                    class="text-size12 mb:er-text-sm er-block er-bg-white er-text-dark er-w-40 er-min-w-40 mb:mb:er-min-w-24  mb:er-w-24 er-text-center er-py-4 mb:er-py-2 er-rounded-full er-mr-8 mb:er-mr-4 mb:er-px-1">Stiffness</span><span>～70GPa</span>
            </div>
            <div
                class="er-h-28 mb:er-h-20 er-flex er-items-center text-size16 mb:er-text-sm er-font-medium er-border-0 er-border-t er-border-solid er-border-t-white/15 er-ml-[-50px] mb:er-ml-[-33px]">
                <span
                    class="text-size12 mb:er-text-sm er-block er-bg-white er-text-dark er-w-40 er-min-w-40 mb:mb:er-min-w-24  mb:er-w-24 er-text-center er-py-4 mb:er-py-2 er-rounded-full er-mr-8 mb:er-mr-4 mb:er-px-1">Design</span><span>Welded
                    joints, limited shapes, visible welds</span>
            </div>
            <div
                class="er-h-28 mb:er-h-20 er-flex er-items-center text-size16 mb:er-text-sm er-font-medium er-border-0 er-border-t er-border-solid er-border-t-white/15 er-ml-[-50px] mb:er-ml-[-33px]">
                <span
                    class="text-size12 mb:er-text-sm er-block er-bg-white er-text-dark er-w-40 er-min-w-40 mb:mb:er-min-w-24  mb:er-w-24 er-text-center er-py-4 mb:er-py-2 er-rounded-full er-mr-8 mb:er-mr-4 mb:er-px-1">Ride
                    quality</span><span>Heavier, harder to maneuver</span>
            </div>
            <div
                class="er-h-28 mb:er-h-20 er-flex er-items-center text-size16 mb:er-text-sm er-font-medium er-border-0 er-border-t er-border-solid er-border-t-white/15 er-ml-[-50px] mb:er-ml-[-33px]">
                <span
                    class="text-size12 mb:er-text-sm er-block er-bg-white er-text-dark er-w-40 er-min-w-40 mb:mb:er-min-w-24  mb:er-w-24 er-text-center er-py-4 mb:er-py-2 er-rounded-full er-mr-8 mb:er-mr-4 mb:er-px-1">Comfortability</span><span>Transfers
                    vibration rigidly</span>
            </div>
            <div
                class="er-h-28 mb:er-h-20 er-flex er-items-center text-size16 mb:er-text-sm er-font-medium er-border-0 er-border-t er-border-solid er-border-t-white/15 er-ml-[-50px] mb:er-ml-[-33px]">
                <span
                    class="text-size12 mb:er-text-sm er-block er-bg-white er-text-dark er-w-40 er-min-w-40 mb:mb:er-min-w-24  mb:er-w-24 er-text-center er-py-4 mb:er-py-2 er-rounded-full er-mr-8 mb:er-mr-4 mb:er-px-1">Durability</span><span>Prone
                    to fatigue &<br>welding degradation</span>
            </div>
        </div>
    </section>
</section>
    <section
        class="er-bg-black er-text-white er-aspect-[1920/750] mb:er-aspect-auto background-image mb:er-bg-white mb:er-text-black">
        <video playsinline loop autoplay muted class="mb:!er-object-contain mb:!er-object-top lozad">
            <source data-src="https://cdn.shopify.com/videos/c/o/v/d3448fcf6a1e4bf59c7fd388722b4149.mp4" type="video/mp4"
                media="(min-width: 768px)">
            <source data-src="https://cdn.shopify.com/videos/c/o/v/0be3609dcf0d40638083e5a18a97c251.mp4" type="video/mp4"
                media="(max-width: 767px)">
        </video>
        <div
            class="centeral-content er-h-full er-flex er-flex-col er-justify-center er-items-start er-text-left mb:er-pt-8 mb:er-pb-20">
            <div class="md:er-hidden er-aspect-square er-w-full"></div>
            <h2 class="text-size48 mb:er-text-4xl">Light as Air,<br class="mb:er-hidden"> Bold by Design</h2>
            <p class="text-size18 er-max-w-3xl er-mt-10 er-mb-28 mb:er-text-2xl mb:er-mb-16">
                <span>
                    The Joy Carbon eBike is 30% lighter than aluminum while ensuring exceptional strength and
                    durability. Its flowing, ribbon-inspired chainstays evoke motion, while the seat-tube-free frame is
                    designed to turn heads and stand out.
                </span>
            </p>
            <a
                href="https://www.youtube.com/watch?v=-JIBlqOd3U0" target="_blank"
                class="er-button er-button-white er-mt-12 mb:er-m-0 mb:[--er-btn-bg-color:theme(colors.dark)] mb:[--er-btn-text-color:theme(colors.white)] mb:er-text-white">Watch
                video
                <svg class="er-scale-150 er-translate-x-1/3 er-fill-dark mb:er-fill-white"
                    xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20">
                    <path
                        d="m380-300 280-180-280-180v360ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z" />
                </svg></a>
        </div>
    </section>
    <section
        class="er-bg-black er-text-white er-aspect-[1920/750] mb:er-aspect-auto background-image mb:er-bg-white mb:er-text-black">
        <video playsinline loop autoplay muted class="mb:!er-object-contain mb:!er-object-top lozad">
            <source data-src="https://cdn.shopify.com/videos/c/o/v/221f661717504f2782252ef0a61194a8.mp4" type="video/mp4"
                media="(min-width: 768px)">
            <source data-src="https://cdn.shopify.com/videos/c/o/v/f9c0676223c443869f166301283de835.mp4" type="video/mp4"
                media="(max-width: 767px)">
        </video>
        <div style="background-image: linear-gradient(270deg, #2C5177, #2E537A00);width: 60%;left: auto;" class="background-mask mb:er-hidden"></div>
        <div class="centeral-content er-h-full mb:er-pt-8 mb:er-pb-20 er-flex er-gap-x-28 mb:er-flex-col">
            <div class="er-aspect-square er-w-1/2 mb:er-w-full"></div>
            <div class="er-flex er-flex-col er-justify-center er-items-start er-text-left">
                <h2 class="text-size48 mb:er-text-4xl mb:er-leading-snug">Lightweight Carbon<br> Cruiser
                    Ebike</h2>
                <p class="text-size18 er-max-w-3xl er-mt-10 er-mb-28 mb:er-text-2xl mb:er-mb-16">
                    <span>
                          Crafted from Toray carbon fiber—renowned in Formula 1 and elite cycling—the Joy Carbon utility family ebike blends strength with a sleek step-through design. Supporting up to 330 lbs, it remains lightweight and agile, embodying Urtopia’s commitment to innovation.
                    </span>
                </p>
                <a
                  href="/pages/carbon-expert" target="_blank"
                    class="er-button er-button-white er-mt-12 mb:er-m-0 mb:[--er-btn-bg-color:theme(colors.dark)] mb:[--er-btn-text-color:theme(colors.white)] mb:er-text-white">Carbon
                    fiber expert</a>
            </div>
        </div>
    </section>
    <section
        class="er-bg-black er-text-white er-aspect-[1920/750] mb:er-aspect-auto background-image mb:er-bg-white mb:er-text-black">
        {% render 'image', class: "mb:!er-object-contain mb:!er-object-top", mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSC05788_2x_5c3deabf-a09b-41d5-8b4d-8a939e4ad93b.jpg?v=1745748641", src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25371_2x_c8d916a5-da06-47d2-9e35-1c9dc3acc277.jpg?v=1745747634" %}
        <div class="centeral-content er-h-full mb:er-pt-8 mb:er-pb-20 er-flex er-gap-x-28 mb:er-flex-col">
            <div class="er-aspect-square er-w-1/2 mb:er-w-full md:er-hidden"></div>
            <div class="er-flex er-flex-col er-justify-center er-items-start er-text-left">
                <h2 class="text-size48 mb:er-text-4xl mb:er-leading-snug">Built to Carry,<br>Ready for Anything</h2>
                <p class="text-size18 er-max-w-3xl er-mt-10 mb:er-text-2xl">
                    <span>
                        Blending cargo-ready strength with a responsive ride, this carbon ebike offers stability with
                        its low-center-of-gravity design.With a rear rack capacity of 100 lbs and a front rack supporting
                        up to 33 lbs, it’s perfect for hauling gear, groceries, or passengers—turning every ride into a
                        breeze.
                    </span>
                </p>
            </div>
        </div>
    </section>
    <section class="er-py-56 mb:er-py-24">
        <div class="centeral-content mb:er-px-6">
            <h2 class="text-size48 mb:er-text-4xl mb:er-leading-snug er-mb-3 mb:er-hidden">Built to Perform</h2>
            <p class="text-size18 er-block mb:er-hidden">
                <span>Lightweight Fat Tire eBike for Daily Rides</span>
            </p>
            <div class="er-grid er-grid-cols-3 er-gap-8 er-mt-20 mb:er-gap-3 mb:er-mt-0">
                <div
                    class="er-col-span-3 background-image er-aspect-[1280/500] mb:er-aspect-[345/200] er-text-white er-pl-24 mb:er-pl-6 er-flex er-flex-col er-justify-center er-text-left er-rounded-3xl er-overflow-hidden">
                    {% render 'image', width: 1640, mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25399_2x_eaf956bf-27e8-4995-98cb-d3de732219eb.jpg?v=1744361345", src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSC08785_copy_2_2x_4f0a9153-dc3d-405b-8871-f7ea65bedf80.jpg?v=1744356561" %}
                    <div style="background-image: linear-gradient(90deg, #061622, #05172400);"
                        class="background-mask !er-w-1/3"></div>
                    <h3 class="text-size48 mb:er-text-4xl">30% Lighter</h3>
                    <p class="text-size18 mb:er-text-2xl mb:er-mt-2">
                        <span>Only 50 lbs</span>
                    </p>
                </div>
                <div
                    class="er-col-span-2 er-rounded-3xl er-overflow-hidden er-flex er-flex-col er-gap-y-8 mb:er-gap-3 mb:er-mr-12">
                    <div
                        class="background-image er-h-3/5 er-rounded-3xl er-overflow-hidden er-flex er-flex-col er-justify-center er-pl-16 mb:er-justify-start mb:er-pl-6 mb:er-pt-4">
                        {% render 'image', width: 1100, mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250407-154905_2x_ab738697-7bb0-4180-8a97-aca4cfd90156.jpg?v=1744362095", src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250407-154905_2x_a7966d27-4154-43e3-9df7-9dfd237ad2fc.jpg?v=1744357370" %}
                        <h3
                            class="text-size36 mb:er-text-4xl er-text-transparent er-bg-clip-text er-bg-gradient-to-r er-from-pink-500 er-to-blue-600 er-w-fit">
                            330 lbs</h3>
                        <p class="text-size18 er-opacity-80 er-mt-2 mb:er-text-xl mb:er-mt-1">
                            <span>Payload Capacity</span>
                        </p>
                    </div>
                    <div
                        class="background-image er-h-2/5 er-rounded-3xl er-overflow-hidden er-flex er-flex-col er-justify-center er-pl-16 mb:er-pl-6 mb:er-justify-start mb:er-pt-8">
                        {% render 'image', width: 1100, mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2x_e5edd670-6287-4ae1-ba01-1cd19b8fe398.jpg?v=1744367381", src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2x_5a75c9a9-ee65-4921-b511-b93ca2f2c360.jpg?v=1744358295" %}
                        <h3
                            class="text-size36 mb:er-text-3xl er-text-transparent er-bg-clip-text er-bg-gradient-to-r er-from-pink-500 er-to-blue-600 er-w-fit">
                            Step Through</h3>
                        <p class="text-size18 er-opacity-80 mb:er-text-xl er-mt-2 mb:er-mt-1">
                            <span>Lightweight Carbon Frame</span>
                        </p>
                    </div>
                </div>
                <div
                    class="background-image er-rounded-3xl er-overflow-hidden er-aspect-[480/725] mb:er-aspect-[138/350] er-flex er-flex-col er-justify-end er-pl-12 er-pb-32 mb:er-pl-4 mb:er-pb-12 mb:er-ml-[-30px]">
                    <img width="420" height="660" loading="lazy" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/12_2x_d94a9645-f574-460d-a8ee-022b5b4e46ee.jpg?v=1744357376&width=640"
                        alt="{{ product.title }}">
                    <h3
                        class="text-size36 mb:er-text-3xl er-text-transparent er-bg-clip-text er-bg-gradient-to-r er-from-pink-500 er-to-blue-600 er-w-fit">
                        0 Response <br>Latency</h3>
                    <p class="text-size18 er-opacity-80 er-mt-2 mb:er-text-xl mb:er-mt-1">
                        <span>Torque Sensor</span>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="er-aspect-[1920/750] mb:er-aspect-auto background-image mb:er-bg-white">
        <video playsinline loop autoplay muted class="mb:!er-object-contain mb:!er-object-top lozad">
            <source data-src="https://cdn.shopify.com/videos/c/o/v/f0b0ad798ea641e69749d5a88a84b4f0.mp4" type="video/mp4"
                media="(min-width: 768px)">
            <source data-src="https://cdn.shopify.com/videos/c/o/v/98fec8493ff248b19f747c2e50515916.mp4" type="video/mp4"
                media="(max-width: 767px)">
        </video>
        <div
            class="centeral-content er-h-full er-flex er-flex-col er-justify-center er-items-start er-text-left mb:er-pt-8 mb:er-pb-20">
            <div class="md:er-hidden er-aspect-square er-w-full"></div>
            <h2 class="text-size48 mb:er-text-4xl mb:er-leading-snug">Effortless Comfort, <br>Perfect Fit</h2>
            <p class="text-size18 er-max-w-3xl er-mt-10 mb:er-text-2xl">
                <span>
                    Designed for all-day comfort, the step-through frame and 20-inch wheels allow effortless mounting
                    for riders of all heights. Enjoy smooth, nimble handling with 50mm suspension and shock-absorbing
                    saddle, and adjustable 0-60° handlebars for customized positioning.
                </span>
            </p>
        </div>
    </section>
<div class="er-max-w-screen-xl er-mx-auto er-px-12 er-my-56 mb:er-mb-20 mb:er-mt-0 mb:er-pr-0">
        <h2 class="text-size48 mb:er-text-4xl er-m-0 mb:er-hidden">Details That Define JOY</h2>
        <div class="er-mt-20 quality_in_details er-relative er-overflow-x-hidden er-pb-40 mb:er-pb-16 mb:er-mt-0" style="--swiper-navigation-size: 27px; --swiper-navigation-color:#fff;">
            <div class="swiper-wrapper">
                {% for item in product.metafields.custom.quality_in_details.value %}
                    {% assign text = item.text | split: "---" %}
                    <div class="swiper-slide er-flex er-flex-col">
                        {{ item.image | image_url: width: 400 |  image_tag: loading: 'lazy' }}
                        <h3 class="text-size20 er-my-6 er-font-bold er-text-3xl">{{ text.first }}</h3>
                        <p class="text-size18 er-opacity-80 mb:er-text-[16px] er-max-w-2xl">
                            <span>{{ text.last }}</span>
                        </p>
                    </div>
                    
                {% endfor %}  
            </div>
            <div class="swiper-scrollbar er-bg-[#386FAF] er-bg-opacity-10 !er-w-full !er-left-0"></div>
            <div class="swiper-button-prev er-bottom-12 er-right-[60px] er-left-auto er-top-auto er-bg-dark er-rounded-full er-p-8 after:er-text-3xl mb:er-hidden er-z-2"></div>
            <div class="swiper-button-next er-bottom-12 er-right-0 er-left-auto er-top-auto er-bg-dark er-rounded-full er-p-8 after:er-text-3xl mb:er-hidden er-z-2"></div>
        </div>
    </div>
    <section
        class="er-aspect-[1920/750] mb:er-aspect-auto background-image">
        {% render 'image', class: "mb:!er-object-contain mb:!er-object-top", mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25397_2x_12000bae-7275-437b-b172-5d2d66acf4d6.jpg?v=1744369181", src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25378.jpg?v=1744948480" %}
        <div class="centeral-content er-h-full mb:er-pt-8 mb:er-pb-20 er-flex er-gap-x-28 mb:er-flex-col">
            <div class="er-aspect-square er-w-1/2 mb:er-w-full"></div>
            <div class="er-flex er-flex-col er-justify-center er-items-start er-text-left">
                <h2 class="text-size48 mb:er-text-4xl mb:er-leading-snug">Instant Power, <br>Limitless Range</h2>
                <p class="text-size18 er-max-w-3xl er-mt-10 mb:er-text-2xl">
                    <span>
                        Joy Carbon eBike delivers instant power via thumb throttle and smart torque sensor that boosts
                        range 10-30%. With 70-mile pedal-assist range (20% more than competitors) and 8-speed Shimano
                        drivetrain, it rides farther with less effort.
                    </span>
                </p>
            </div>
        </div>
    </section>
    <section class="er-aspect-[1920/750] mb:er-aspect-auto background-image mb:er-bg-white">
        {% render 'image', class: "mb:!er-object-contain mb:!er-object-top", mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25398_2x_64c78526-f81e-4613-a7a6-0e2193129bef.jpg?v=1744368875", src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25377.jpg?v=1744948481" %}
        <div
            class="centeral-content er-h-full er-flex er-flex-col er-justify-center er-items-start er-text-left mb:er-pt-8 mb:er-pb-0">
            <div class="md:er-hidden er-aspect-square er-w-full"></div>
            <h2 class="text-size48 mb:er-text-4xl mb:er-leading-snug">Stable, Smooth, <br>Ready for Any Road</h2>
            <p class="text-size18 er-max-w-3xl er-mt-10 mb:er-text-2xl">
                <span>Joy’s bolt-on axle and 20” x 3.0” fat tires deliver a rock-solid yet smooth ride, absorbing shocks
                    and gripping tough terrain—from potholes to wet roads. Combined with a suspension fork, it easily
                    handles gravel, trails, and city streets, giving you the freedom to explore comfortably.</span>
            </p>
        </div>
    </section>
   <section class="er-bg-background er-pb-52 mb:er-pt-24 mb:er-pb-32">
        <div class="quality TakeItEasywithFold1">
        <div class="centeral-content mb:er-px-6">
            <h2 class="text-size48 mb:er-text-4xl mb:er-leading-snug er-mb-3 mb:er-mb-0">JOY-Time, Any Ride</h2>
            <div class="items swiper-wrapper er-mt-20 mb:er-mt-8">
            <div class="swiper-slide er-rounded-3xl er-overflow-hidden">
                <img loading="lazy" width="551" height="400" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSC05417_2x_59c59662-25fc-4e5c-9b25-2c63c7fbd5ba.jpg?v=1744617311&width=700" alt="{{ page_description }}">
            </div>
            <div class="swiper-slide er-rounded-3xl er-overflow-hidden">
                <img
                loading="lazy" width="551" height="400" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSC07044_2x_86d5ccd7-7aa0-42b3-b34f-0b71b181be3e.jpg?v=1744617315&width=700"
                alt="{{ page_description }}"
                >
            </div>
            <div class="swiper-slide er-rounded-3xl er-overflow-hidden">
                <img
                loading="lazy" width="551" height="400" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSC00188_2x_da994ed9-8f47-4164-bca7-359d30b17269.jpg?v=1744617320&width=700"
                alt="{{ page_description }}"
                >
            </div>
            <div class="swiper-slide er-rounded-3xl er-overflow-hidden">
                <img
                loading="lazy" width="551" height="400" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSC05881_2x_212944b0-e88b-4747-bb05-09ed41d2d325.jpg?v=1744617353&width=700"
                alt="{{ page_description }}"
                >
            </div>
            <div class="swiper-slide er-rounded-3xl er-overflow-hidden">
                <img
                loading="lazy" width="551" height="400" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSC05461_2x_1f039745-5c3e-4d2c-994e-d350a0e4ee65.jpg?v=1744617357&width=700"
                alt="{{ page_description }}"
                >
            </div>
            <div class="swiper-slide er-rounded-3xl er-overflow-hidden">
                <img
                loading="lazy" width="551" height="400" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSC05242_2x_d5dec8f8-4548-4cce-967b-67d68d3ed8d3.jpg?v=1744617362&width=700"
                alt="{{ page_description }}"
                >
            </div>
            <div class="swiper-slide er-rounded-3xl er-overflow-hidden">
                <img
                loading="lazy" width="551" height="400" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSC06995_2x_d459b299-e5b1-4338-9c59-c53be8822923.jpg?v=1744617367&width=700"
                alt="{{ page_description }}"
                >
            </div>
            </div>
            <div class="swiper-scrollbar"></div>
            <div class="buttons mobileHide">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            </div>
        </div>
        </div>
    </section>
{% render 'size-guide-and-specs-template' %}
<div class="centeral-content er-px-6 judgemeeeeee">{% include "judgeme_widgets", widget_type: "judgeme_review_widget", concierge_install: false %}</div>
<script type="module">
   task(() => {
      new Swiper('.quality_in_details', {
          slidesPerView: global_config.is_mobile ? 1.25 : 3,
          spaceBetween: global_config.is_mobile ? 16 : 32,
          preloadImages: false,
          navigation: {
              nextEl: '.quality_in_details .swiper-button-next',
              prevEl: '.quality_in_details .swiper-button-prev',
          },
          scrollbar: {
              el: '.quality_in_details .swiper-scrollbar',
              draggable: true
          },
      });
    })

    task(() => {
        new Swiper('.TakeItEasywithFold1 .centeral-content', {
            slidesPerView: global_config.is_mobile ? 1.25 : 2.25,
            spaceBetween: global_config.is_mobile ? 16 : 32,
            preloadImages: false,
            navigation: {
              nextEl: '.TakeItEasywithFold1 .centeral-content .swiper-button-next',
              prevEl: '.TakeItEasywithFold1 .centeral-content .swiper-button-prev',
            },
            scrollbar: {
              el: '.TakeItEasywithFold1 .centeral-content .swiper-scrollbar',
              draggable: true
            },
          });
      })

   window.addEventListener('load', function () {
            const img = $(`<img class="er-absolute er-top-0 er-z-[2] er-transition er-opacity-100 mb:er-max-w-20 md:er-right-0 mb:er-left-0" width="70" height="104" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250211-151856.png?v=1739258383&width=100" alt="{{ product.title }}"/>`)
            $(".product-panel-swiper .swiper-wrapper").before(img)

            window.product_panel_swiper.on('slideChange', function () {
                img.css('opacity', this.realIndex > 0 ? 0 : 1)
            })
        })
</script>