{{ 'carbon1pro-new.scss.css' | asset_url | stylesheet_tag: preload: true }}

<style>
  fieldset[option=Style] label[data-style="Charcoal Grey"] {
    --product-option-color: #6a6a6a;
  }
</style>

{% render 'product-panel', swiper_insert_index: 2 %}
<div class="professional" style="padding-bottom: 10vh;">
  <div class="centeral-content">
    <h2 class="u36Medium_v2">Professional Review of <br class="pcHide"><span class="er-text-primary">Urtopia Carbon Ebikes</span></h2>
    <div class="videos swiper-wrapper">
      <a href="https://newurtopia.com/pages/urtopia-e-bike-review" class="swiper-slide er-flex er-flex-col" target="_blank" style="height:auto;">
        <img width="413" height="222" loading="lazy" class="er-rounded-3xl" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250718-141633.jpg?v=1752819406&width=400" alt="{{ product.title }}">
        <span class="u17Light_v2 er-mt-5">Crafted by Carbon Fiber Masters. Chosen by Champions. Discover why the world’s best athletes trust Urtopia.</span>
        <span class="flex-1"></span>
        <div class="u17Medium_v2 er-flex er-items-center">
          <img width="28" height="28" class="er-mr-2" loading="lazy" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19464_2x_c1e0527f-3170-4d9f-9004-0fc101a9d28d.jpg?v=1752819602&width=28" alt="{{ product.title }}">
          <span>Urtopia Ebike</span>
        </div>
      </a>
    <div class="swiper-slide" onclick="showVideoDialog('https://www.youtube.com/embed/cnJM4LsOPmA?autoplay=1&cc_load_policy=1')">
        <img loading="lazy" width="351" height="188" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250804-093421.jpg?v=1754271382&width=400" alt="{{ page_title }}">
        <span class="u17Light_v2">A really fun bike for anyone who wants cutting-edge tech and features you rarely see elsewhere.</span>
        <span class="flex-1"></span>
        <div class="u17Medium_v2">
          <img loading="lazy" height="28" width="28" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250804-093841.jpg?v=1754271547&width=30" alt="Hello Road">
          <span>ElectricBikeReview</span>
        </div>
      </div>
      <div class="swiper-slide" onclick="showVideoDialog('https://www.youtube.com/embed/awlL8xOSuJE?autoplay=1&cc_load_policy=1')">
        <img loading="lazy" width="351" height="188" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250603-182257.jpg?v=1748946335&width=400" alt="{{ page_title }}">
        <span class="u17Light_v2">At just 36 lbs with aerospace-grade carbon fiber, every push, turn, and climb feels effortless.</span>
        <span class="flex-1"></span>
        <div class="u17Medium_v2">
          <img loading="lazy" height="28" width="28" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/channels4_profile_1_6dd1d43f-e5ba-4933-ab58-001fe47a9a1d.jpg?v=1748946741&width=30" alt="Hello Road">
          <span>Curiosity Cafe</span>
        </div>
      </div>
        <div class="swiper-slide" onclick="showVideoDialog('https://www.youtube.com/embed/KtJyhPTU3ao?autoplay=1&cc_load_policy=1')">
        <img loading="lazy" width="351" height="188" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250401-221421.jpg?v=1743516888&width=400" alt="{{ page_title }}">
        <span class="u17Light_v2">It's ultralight and feels incredibly wellmade and durable, and I really enjoy the step through design and super comfortable seat!</span>
        <span class="flex-1"></span>
        <div class="u17Medium_v2">
          <img loading="lazy" height="28" width="28" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250401-221427.jpg?v=1743516887&width=30" alt="Hello Road">
          <span>Erin Lawrence</span>
        </div>
      </div>
      <div class="swiper-slide" onclick="showVideoDialog('https://www.youtube.com/embed/uKDpzW_gvjA?autoplay=1&cc_load_policy=1')">
        <img loading="lazy" width="351" height="188" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250617-181518.jpg?v=1750155360&width=500" alt="{{ page_title }}">
        <span class="u17Light_v2">Can’t believe how light, quiet, and good-looking it is—it’s clear the Carbon 1 ST is built to top-tier standards.</span>
        <span class="flex-1"></span>
        <div class="u17Medium_v2">
          <img loading="lazy" height="28" width="28" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/channels4_profile_3.jpg?v=1750155464&width=30" alt="Hello Road">
          <span>Scott Hardesty</span>
        </div>
      </div>
      <div class="swiper-slide" onclick="showVideoDialog('https://www.youtube.com/embed/2Y2gGvPmh0Y?autoplay=1&cc_load_policy=1')">
        <img loading="lazy" width="351" height="188" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/25366_2x_595d4c8e-538a-40f4-bbd0-3f3f80192d5a.jpg?v=1744352814&width=500" alt="{{ page_title }}">
        <span class="u17Light_v2">Put Joy Carbon eBike on steep hills, beaches, and city streets—and it handled it all with ease. It’s compact, sturdy, and hauls cargo like a champ!</span>
        <span class="flex-1"></span>
        <div class="u17Medium_v2">
          <img loading="lazy" height="28" width="28" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/19464_2x_cb28c852-7bce-4b53-829d-97683cd91bb0.jpg?v=1744353066&width=30" alt="Hello Road">
          <span>TailHappyTV</span>
        </div>
      </div>
      <div class="swiper-slide" onclick="showVideoDialog('https://www.youtube.com/embed/W9KMWM4Is00?autoplay=1&cc_load_policy=1')">
        <img loading="lazy" width="351" height="188" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25376_2x_2af878fd-7757-426e-8703-2765c73cd49f.jpg?v=1740991954&width=400" alt="{{ page_title }}">
        <span class="u17Light_v2">It’s refreshing to ride an ebike that doesn’t feel like you’re lugging around a gigantic beast.</span>
        <span class="flex-1"></span>
        <div class="u17Medium_v2">
          <img loading="lazy" height="28" width="28" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19659_2x_e4e9dd85-d6ef-472c-804b-e4f17f3a9180.jpg?v=1732516604&width=30" alt="Hello Road">
          <span>Hello Road</span>
        </div>
      </div>
      <div class="swiper-slide" onclick="showVideoDialog('https://www.youtube.com/embed/DblWTkJkKuE?autoplay=1&cc_load_policy=1')">
        <img loading="lazy" width="351" height="188" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250421-114325.jpg?v=1745207191&width=500" alt="{{ page_title }}">
        <span class="u17Light_v2">I find riding a smaller frame really comfortable and surprisingly easy to maneuver even I had the bike loaded.</span>
        <span class="flex-1"></span>
        <div class="u17Medium_v2">
          <img loading="lazy" height="28" width="28" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/channels4_profile_0b783b13-3ede-4636-9e64-2b7b35fdf850.jpg?v=1745207190&width=30" alt="Hello Road">
          <span>Erin Lawrence</span>
        </div>
      </div>
      <div class="swiper-slide" onclick="showVideoDialog('https://www.youtube.com/embed/mGIdG0e9mmg?autoplay=1&cc_load_policy=1')">
        <img loading="lazy" width="351" height="188" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25375_2x_e89de578-ad91-4bb2-be37-0bc560590701.jpg?v=1740992328&width=400" alt="{{ page_title }}">
        <span class="u17Light_v2">A full carbon eBike with voice navigation, anti-theft features, and GPS-guided rides!</span>
        <span class="flex-1"></span>
        <div class="u17Medium_v2">
          <img loading="lazy" height="28" width="28" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/channels4_profile_c3257cb9-ddee-4f5a-af27-a587d558688a.jpg?v=1733886229&width=30" alt="Electric Revolution">
          <span>Electric Revolution</span>
        </div>
      </div>
       <div class="swiper-slide" onclick="showVideoDialog('https://www.youtube.com/embed/DkaGYJklmSs?autoplay=1&cc_load_policy=1')">
        <img loading="lazy" width="351" height="188" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25374_2x_e532da59-77c4-43d7-acaa-dba98daeae14.jpg?v=1740992408&width=400" alt="{{ page_title }}">
        <span class="u17Light_v2">Urtopia clearly took comfort and assist seriously—it’s top-class and worth the price.</span>
        <span class="flex-1"></span>
        <div class="u17Medium_v2">
          <img loading="lazy" height="28" width="28" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/19469_2x_795c87d6-900b-4d78-b915-259138fa064d.png?v=1727090514&width=30" alt="Electroheads">
          <span>Electroheads</span>
        </div>
      </div>
      <div class="swiper-slide" onclick="showVideoDialog('https://www.youtube.com/embed/T-0A-EUwUfM?autoplay=1&cc_load_policy=1')">
        <img loading="lazy" width="351" height="188" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25377_2x_92451f4b-1169-4eda-bd88-70153e1e2009.jpg?v=1740992513&width=400" alt="{{ page_title }}">
        <span class="u17Light_v2">A super light and responsive e-bike achieves faster speeds than the metro.</span>
        <span class="flex-1"></span>
        <div class="u17Medium_v2">
          <img loading="lazy" height="28" width="28" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/19470_2x_6a40056e-5876-49a3-8678-c9eb7f529037.png?v=1727086233&width=30" alt="Jon Imperial">
          <span>Jon Imperial</span>
        </div>
      </div>
      <div class="swiper-slide" onclick="showVideoDialog('https://www.youtube.com/embed/r9TD6cPYCxc?autoplay=1&cc_load_policy=1')">
        <img loading="lazy" width="351" height="188" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25371_2x_f9abfb21-40dd-4d3f-810a-9a7447c473d5.jpg?v=1740992728&width=400" alt="{{ page_title }}">
        <span class="u17Light_v2">Tested at 748W, the power of 1 Pro is higher than most all-terrain e-bikes.</span>
        <span class="flex-1"></span>
        <div class="u17Medium_v2">
          <img loading="lazy" height="28" width="28" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/19472_2x_679a808b-69a2-4e58-be5f-407efb2f88c5.png?v=1727143912&width=30" alt="Area 13">
          <span>Area 13</span>
        </div>
      </div>
      <div class="swiper-slide" onclick="showVideoDialog('https://www.youtube.com/embed/5JI2U6EpAHA?autoplay=1&cc_load_policy=1')">
        <img loading="lazy" width="351" height="188" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25379_2x_88a3768e-b713-4186-86ad-b7234c1f9456.jpg?v=1740992912&width=400" alt="{{ page_title }}">
        <span class="u17Light_v2">A stealthy and sleek ebike, so capable and the riding experience is what I dreamed of.</span>
        <span class="flex-1"></span>
        <div class="u17Medium_v2">
          <img loading="lazy" height="28" width="28" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/19471_2x_b5dee01b-134a-4ebe-bd4a-6c50f2608906.png?v=1727144280&width=30" alt="Electric Vehicles Space">
          <span>Electric Vehicles Space</span>
        </div>
      </div>
      <div class="swiper-slide" onclick="showVideoDialog('https://www.youtube.com/embed/mu5MGas_F80?autoplay=1&cc_load_policy=1')">
        <img loading="lazy" width="351" height="188" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25378_2x_1a71789f-dccb-4761-9198-4b0af2a91c16.jpg?v=1740992917&width=400" alt="{{ page_title }}">
        <span class="u17Light_v2">This carbon frame commuter bike weighs 37 lbs and reaches speeds up to 28 MPH.</span>
        <span class="flex-1"></span>
        <div class="u17Medium_v2">
          <img loading="lazy" height="28" width="28" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/19468_2x_32096d4f-978e-4fe4-a392-c5555938beff.png?v=1727144288&width=30" alt="Mike Fede">
          <span>Mike Fede</span>
        </div>
      </div>
    </div>
    <div class="swiper-scrollbar"></div>
    <div class="buttons mobileHide">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</div>
<section class="er-bg-background er-pt-4 er-pb-56 mb:er-pt-16 mb:er-pb-36">
    <h2 class="text-size36 er-text-center er-w-full er-mb-32 mb:er-text-4xl mb:er-mb-24">Why Carbon Fiber Is Worth It?</h2>
    <section
        class="er-mx-auto er-max-w-[768px] er-grid er-grid-cols-3 er-rounded-2xl er-shadow-sm er-text-white mb:er-grid-cols-[1fr_1.5fr_1.5fr] mb:er-rounded-none">
        <div class="er-pl-6 er-flex er-flex-col er-justify-end er-rounded-l-2xl er-pb-6 mb:er-pl-4 mb:er-pb-4 mb:er-rounded-none"
            style="background-color: #005AA8;">
            <div class="er-flex er-items-end er-py-6 er-px-4 mb:er-pr-4 mb:er-pl-0 mb:er-py-3">
                <b class="text-size20 mb:er-text-2xl er-font-bold">Advantages</b>
            </div>
            <div
                class="er-flex er-flex-col er-justify-center er-items-start er-text-left er-border-0 er-border-t er-border-solid er-border-t-white/25 er-h-28 mb:er-h-20 er-px-4 mb:er-px-2 mb:er-pl-0">
                <b class="text-size18 mb:er-text-base er-font-medium">45% lighter</b>
                <span class="text-size14 mb:er-text-sm">(same geometry)</span>
            </div>
            <div
                class="er-flex er-flex-col er-justify-center er-items-start er-text-left er-border-0 er-border-t er-border-solid er-border-t-white/25 er-h-28 mb:er-h-20 er-px-4 mb:er-px-2 mb:er-pl-0">
                <b class="text-size18 mb:er-text-base er-font-medium">35× higher</b>
                <span class="text-size14 mb:er-text-sm">tensile strength</span>
            </div>
            <div
                class="er-flex er-flex-col er-justify-center er-items-start er-text-left er-border-0 er-border-t er-border-solid er-border-t-white/25 er-h-28 mb:er-h-20 er-px-4 mb:er-px-2 mb:er-pl-0">
                <b class="text-size18 mb:er-text-base er-font-medium">3× stiffer</b>
                <span class="text-size14 mb:er-text-sm"></span>
            </div>
            <div
                class="er-flex er-flex-col er-justify-center er-items-start er-text-left er-border-0 er-border-t er-border-solid er-border-t-white/25 er-h-28 mb:er-h-20 er-px-4 mb:er-px-2 mb:er-pl-0">
                <b class="text-size18 mb:er-text-base er-font-medium">Greater</b>
                <span class="text-size14 mb:er-text-sm">design freedom</span>
            </div>
            <div
                class="er-flex er-flex-col er-justify-center er-items-start er-text-left er-border-0 er-border-t er-border-solid er-border-t-white/25 er-h-28 mb:er-h-20 er-px-4 mb:er-px-2 mb:er-pl-0">
                <b class="text-size18 mb:er-text-base er-font-medium">Lighter</b>
                <span class="text-size14 mb:er-text-sm">more joyful ride</span>
            </div>
            <div
                class="er-flex er-flex-col er-justify-center er-items-start er-text-left er-border-0 er-border-t er-border-solid er-border-t-white/25 er-h-28 mb:er-h-20 er-px-4 mb:er-px-2 mb:er-pl-0">
                <b class="text-size18 mb:er-text-base er-font-medium">More comfortable</b>
                <span class="text-size14 mb:er-text-sm"> on long rides</span>
            </div>
            <div
                class="er-flex er-flex-col er-justify-center er-items-start er-text-left er-border-0 er-border-t er-border-solid er-border-t-white/25 er-h-28 mb:er-h-20 er-px-4 mb:er-px-2 mb:er-pl-0">
                <b class="text-size18 mb:er-text-base er-font-medium">Longer lifespan</b>
                <span class="text-size14 mb:er-text-sm">& better value</span>
            </div>
        </div>
        <div class="er-flex er-flex-col er-justify-end er-bg-cover er-bg-no-repeat er-bg-top er-mt-[-25px] er-mb-[-25px] mb:er-mt-[-15px] mb:er-mb-[-15px] er-rounded-2xl er-overflow-hidden er-shadow-sm er-pb-16 mb:er-pb-10"
            style="background-color: rgb(18, 108, 185);">
            <div class="er-flex er-items-end er-py-6 mb:er-py-3 er-px-7 mb:er-px-3 er-aspect-[6/5] er-bg-cover er-bg-top er-bg-no-repeat"
                style="background-image: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250523-174951.jpg?v=1747993809');">
                <b class="text-size20 mb:er-text-2xl er-font-bold">Carbon Fiber</b>
            </div>
            <div
                class="er-h-28 mb:er-h-20 er-flex er-items-center text-size16 mb:er-text-sm er-font-medium er-border-0 er-border-t er-border-solid er-border-t-white/25 er-px-7 mb:er-px-3">
                ～1.5g/cm³</div>
            <div
                class="er-h-28 mb:er-h-20 er-flex er-items-center text-size16 mb:er-text-sm er-font-medium er-border-0 er-border-t er-border-solid er-border-t-white/25 er-px-7 mb:er-px-3">
                ～7000MPa</div>
            <div
                class="er-h-28 mb:er-h-20 er-flex er-items-center text-size16 mb:er-text-sm er-font-medium er-border-0 er-border-t er-border-solid er-border-t-white/25 er-px-7 mb:er-px-3">
                ～200GPa</div>
            <div
                class="er-h-28 mb:er-h-20 er-flex er-items-center text-size16 mb:er-text-sm er-font-medium er-border-0 er-border-t er-border-solid er-border-t-white/25 er-px-7 mb:er-px-3">
                Smooth, aerodynamic,<br>flexible forms</div>
            <div
                class="er-h-28 mb:er-h-20 er-flex er-items-center text-size16 mb:er-text-sm er-font-medium er-border-0 er-border-t er-border-solid er-border-t-white/25 er-px-7 mb:er-px-3">
                Agile, easy to<br>maintain speed</div>
            <div
                class="er-h-28 mb:er-h-20 er-flex er-items-center text-size16 mb:er-text-sm er-font-medium er-border-0 er-border-t er-border-solid er-border-t-white/25 er-px-7 mb:er-px-3">
                Absorb and<br>dissipate vibration</div>
            <div
                class="er-h-28 mb:er-h-20 er-flex er-items-center text-size16 mb:er-text-sm er-font-medium er-border-0 er-border-t er-border-solid er-border-t-white/25 er-px-7 mb:er-px-3">
                Resistant to fatigue</div>
        </div>
        <div
            class="er-flex er-flex-col er-justify-end er-bg-dark er-rounded-r-2xl er-pb-6 mb:er-pb-4 mb:er-rounded-none">
            <div class="er-flex er-items-end er-py-6 mb:er-py-3 er-px-4 mb:er-px-0 er-flex-1 er-bg-cover er-bg-top er-bg-no-repeat er-rounded-tr-2xl er-relative"
                style="background-image: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250523-145513.jpg?v=1747983325');">
                <b class="text-size20 mb:er-text-xl er-font-bold er-pl-24 mb:er-pl-14 mb:er-whitespace-nowrap">Aluminum Alloy</b>
                <i
                    class="text-size72 er-absolute er-left-0 er-top-1/3 er-tracking-wide er-translate-x-[-50%] mb:er-text-5xl" style="filter: drop-shadow(0 0 10px #0000005A);">V.<span
                        style="color: #128FFF;">S.</span></i>
            </div>
            <div
                class="er-h-28 mb:er-h-20 er-flex er-items-center text-size16 mb:er-text-sm er-font-medium er-border-0 er-border-t er-border-solid er-border-t-white/15 er-ml-[-50px] mb:er-ml-[-33px]">
                <span
                    class="text-size12 mb:er-text-sm er-block er-bg-white er-text-dark er-w-40 er-min-w-40 mb:mb:er-min-w-24  mb:er-w-24 er-text-center er-py-4 mb:er-py-2 er-rounded-full er-mr-8 mb:er-mr-4 mb:er-px-1">Weight</span><span>～2.7g/cm³</span>
            </div>
            <div
                class="er-h-28 mb:er-h-20 er-flex er-items-center text-size16 mb:er-text-sm er-font-medium er-border-0 er-border-t er-border-solid er-border-t-white/15 er-ml-[-50px] mb:er-ml-[-33px]">
                <span
                    class="text-size12 mb:er-text-sm er-block er-bg-white er-text-dark er-w-40 er-min-w-40 mb:mb:er-min-w-24  mb:er-w-24 er-text-center er-py-4 mb:er-py-2 er-rounded-full er-mr-8 mb:er-mr-4 mb:er-px-1">Strength</span><span>～200MPa</span>
            </div>
            <div
                class="er-h-28 mb:er-h-20 er-flex er-items-center text-size16 mb:er-text-sm er-font-medium er-border-0 er-border-t er-border-solid er-border-t-white/15 er-ml-[-50px] mb:er-ml-[-33px]">
                <span
                    class="text-size12 mb:er-text-sm er-block er-bg-white er-text-dark er-w-40 er-min-w-40 mb:mb:er-min-w-24  mb:er-w-24 er-text-center er-py-4 mb:er-py-2 er-rounded-full er-mr-8 mb:er-mr-4 mb:er-px-1">Stiffness</span><span>～70GPa</span>
            </div>
            <div
                class="er-h-28 mb:er-h-20 er-flex er-items-center text-size16 mb:er-text-sm er-font-medium er-border-0 er-border-t er-border-solid er-border-t-white/15 er-ml-[-50px] mb:er-ml-[-33px]">
                <span
                    class="text-size12 mb:er-text-sm er-block er-bg-white er-text-dark er-w-40 er-min-w-40 mb:mb:er-min-w-24  mb:er-w-24 er-text-center er-py-4 mb:er-py-2 er-rounded-full er-mr-8 mb:er-mr-4 mb:er-px-1">Design</span><span>Welded
                    joints, limited shapes, visible welds</span>
            </div>
            <div
                class="er-h-28 mb:er-h-20 er-flex er-items-center text-size16 mb:er-text-sm er-font-medium er-border-0 er-border-t er-border-solid er-border-t-white/15 er-ml-[-50px] mb:er-ml-[-33px]">
                <span
                    class="text-size12 mb:er-text-sm er-block er-bg-white er-text-dark er-w-40 er-min-w-40 mb:mb:er-min-w-24  mb:er-w-24 er-text-center er-py-4 mb:er-py-2 er-rounded-full er-mr-8 mb:er-mr-4 mb:er-px-1">Ride
                    quality</span><span>Heavier, harder to maneuver</span>
            </div>
            <div
                class="er-h-28 mb:er-h-20 er-flex er-items-center text-size16 mb:er-text-sm er-font-medium er-border-0 er-border-t er-border-solid er-border-t-white/15 er-ml-[-50px] mb:er-ml-[-33px]">
                <span
                    class="text-size12 mb:er-text-sm er-block er-bg-white er-text-dark er-w-40 er-min-w-40 mb:mb:er-min-w-24  mb:er-w-24 er-text-center er-py-4 mb:er-py-2 er-rounded-full er-mr-8 mb:er-mr-4 mb:er-px-1">Comfortability</span><span>Transfers
                    vibration rigidly</span>
            </div>
            <div
                class="er-h-28 mb:er-h-20 er-flex er-items-center text-size16 mb:er-text-sm er-font-medium er-border-0 er-border-t er-border-solid er-border-t-white/15 er-ml-[-50px] mb:er-ml-[-33px]">
                <span
                    class="text-size12 mb:er-text-sm er-block er-bg-white er-text-dark er-w-40 er-min-w-40 mb:mb:er-min-w-24  mb:er-w-24 er-text-center er-py-4 mb:er-py-2 er-rounded-full er-mr-8 mb:er-mr-4 mb:er-px-1">Durability</span><span>Prone
                    to fatigue &<br>welding degradation</span>
            </div>
        </div>
    </section>
</section>
<div class="background-image er-aspect-[1920/750] mb:er-aspect-auto mb:er-pt-[80vw]">
        {% render 'image', class: "mb:!er-object-contain mb:!er-object-top", src: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/5_2x_f182aebd-8195-4774-8dcd-b83a6e72d635.jpg?v=1737337434', mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/5_2x_fbc19aa4-11b1-4253-9817-aa20a4c81298.jpg?v=1737339158" %}
        <div
            class="er-max-w-screen-xl er-mx-auto er-px-12 er-grid er-grid-cols-2 er-items-center er-h-full mb:er-grid-cols-1 mb:er-h-auto er-gap-x-40">
            <div class="er-flex er-flex-col er-items-start mb:er-pt-12 mb:er-pb-20">
                <h2 class="text-size48 mb:er-text-4xl er-m-0">Carbon Beauty, <br class="mb:er-hidden">Sleek & Duty</h2>
                <p class="text-size18 er-max-w-3xl er-mt-8 er-mb-20 er-opacity-80 mb:er-my-10 mb:er-text-[16px]">
                    <span>
                        Built with Toray carbon fiber, renowned for its use in Formula 1 and by leading bicycle
                        manufacturers, the Carbon 1 Step-thru ebike features an innovative low-step frame that not only
                        elevates the bike’s sleek design but also ensures a smooth, reliable, and long-lasting ride.
                    </span>
                </p>
                <button
                    onclick="showVideoDialog('https://www.youtube.com/embed/8haN5tLyhIk?autoplay=1&cc_load_policy=1')"
                    class="er-button er-button-white mb:[--er-btn-bg-color:theme(colors.dark)] mb:[--er-btn-text-color:theme(colors.white)] mb:er-text-white">Watch
                    video
                    <svg class="er-scale-150 er-translate-x-1/3 er-fill-dark mb:er-fill-white"
                        xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20">
                        <path
                            d="m380-300 280-180-280-180v360ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="background-image er-aspect-[1920/750] mb:er-aspect-auto mb:er-pt-[80vw]">
    {% render 'image', class: "mb:!er-object-contain mb:!er-object-top", src: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250122-140123.jpg?v=1737525707', mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/fix-145_2x_ecc9d64b-8cec-4905-a231-1c0895928184.jpg?v=1737342263" %}
        <div
            class="er-max-w-screen-xl er-mx-auto er-px-12 er-grid er-grid-cols-2 er-items-center er-h-full mb:er-grid-cols-1 mb:er-h-auto er-gap-x-40">
            <span></span>
            <div class="er-flex er-flex-col er-items-start mb:er-pt-12 mb:er-pb-20">
                <h2 class="text-size48 mb:er-text-4xl er-m-0">50% Lighter, <br class="mb:er-hidden">100% More Fun</h2>
                <p class="text-size18 er-max-w-3xl er-mt-8 er-opacity-80 mb:er-mt-10 mb:er-text-[16px]">
                    <span>
                        Carbon fiber e-bikes are 50% lighter than aluminum ebikes, only 36 lbs. making it easier to
                        handle and ride. Its reduced weight allows for quicker acceleration, easier uphill climbs, and
                        smoother turns. Whether commuting through the city or exploring trails, the lightweight design
                        ensures less fatigue and greater control. Enjoy!
                    </span>
                </p>
                <a class="er-button er-button-dark er-mt-16" href="/pages/carbon-expert">See How It's Made</a>
            </div>
        </div>
    </div>
    <div class="background-image er-aspect-[1920/750] mb:er-aspect-auto mb:er-pt-[80vw]">
    {% render 'image', class: "mb:!er-object-contain mb:!er-object-top", src: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25315_2x_fff37dad-b3b6-4033-91e0-ac7dea6dabc1.jpg?v=1737342338', mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250120-143651.jpg?v=1737355028" %}
        <div
            class="er-max-w-screen-xl er-mx-auto er-px-12 er-grid er-grid-cols-2 er-items-center er-h-full mb:er-grid-cols-1 mb:er-h-auto er-gap-x-40 er-text-white mb:er-text-black">
            <div class="er-flex er-flex-col er-items-start mb:er-pt-12 mb:er-pb-20">
                <h2 class="text-size48 mb:er-text-4xl er-m-0 er-text-white mb:er-text-black">Low-Step, <br class="mb:er-hidden">High Comfort</h2>
                <p class="text-size18 er-max-w-3xl er-mt-8 er-opacity-80 mb:er-mt-10 mb:er-text-[16px]">
                    <span>
                        Our step-thru ebike features a low-step frame, making getting on and off a breeze and offering
                        unmatched ease for riders of all ages. The swept-back handlebar enhances the relaxed, upright
                        riding position, reducing strain on the back and wrists. No stress, just smooth cruising!
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="er-max-w-screen-lg er-mx-auto er-px-12 er-my-56 mb:er-mb-20 mb:er-mt-0">
        {% render 'image', mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25314_2x_0ccef4e7-bbab-4b14-a3a0-74c9a54ecb53.jpg?v=1737354452", src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25310_2x_5042fdac-1ee0-4719-9dd3-7a2a0e9f4400.jpg?v=1737342528" %}
    </div>
    <div class="background-image er-aspect-[1920/750] mb:er-aspect-auto mb:er-pt-[80vw]">
        {% render 'image', class: "mb:!er-object-contain mb:!er-object-top", src: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSC05866_copy_2_2x_2dc4b904-4ab9-4fa9-9fe8-48629318ae28.jpg?v=1737343659', mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSC05866_copy_2_2x_f8e3ec3b-ab18-43ab-874c-6172127b894c.jpg?v=1737354592" %}
        <div
            class="er-max-w-screen-xl er-mx-auto er-px-12 er-grid er-grid-cols-2 er-items-center er-h-full mb:er-grid-cols-1 mb:er-h-auto er-gap-x-60 er-text-white mb:er-text-black">
            <span></span>
            <div class="er-flex er-flex-col er-items-start mb:er-pt-12 mb:er-pb-20">
                <h2 class="text-size48 mb:er-text-4xl er-m-0 er-text-white mb:er-text-black">Elegance in Motion</h2>
                <p class="text-size18 er-max-w-3xl er-mt-8 er-opacity-80 mb:er-mt-10 mb:er-text-[16px]">
                    <span>
                        The design of the Carbon 1 ST is inspired by miniature garden architecture. Its clean, flowing
                        lines evoke a sense of tranquility and grace, exuding a calm yet approachable aura. Like a
                        gentle breeze, it embodies effortless elegance, allowing riders to immerse themselves in a
                        serene and comfortable state of mind while fully enjoying the pure joy of cycling.
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="background-image er-aspect-[1920/750] mb:er-aspect-auto mb:er-pt-[80vw]">
    {% render 'image', class: "mb:!er-object-contain mb:!er-object-top", src: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250122-140131_62099461-b3a1-4a66-99b9-c54e13713475.jpg?v=1737526047', mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/557_new_2x_83b38206-7b86-49d1-a986-959a8e49abc2.jpg?v=1737354716" %}
        <div
            class="er-max-w-screen-xl er-mx-auto er-px-12 er-grid er-grid-cols-2 er-items-center er-h-full mb:er-grid-cols-1 mb:er-h-auto er-gap-x-40 er-text-white mb:er-text-black">
            <div class="er-flex er-flex-col er-items-start mb:er-pt-12 mb:er-pb-20">
                <h2 class="text-size48 mb:er-text-4xl er-m-0 er-text-white mb:er-text-black">Smart Power, <br class="mb:er-hidden">Longer Rides</h2>
                <p class="text-size18 er-max-w-3xl er-mt-8 er-opacity-80 mb:er-mt-10 mb:er-text-[16px]">
                    <span>
                        The customized motor and torque sensor work together to maximize the e-bike’s power efficiency,
                        providing an impressive 80-mile range on a single charge. Paired with the Shimano 8-speed
                        drivetrain, it adapts seamlessly to various terrains and speeds, while conserving battery for
                        extended rides.
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="background-image er-aspect-[1920/750] mb:er-aspect-auto mb:er-pt-[80vw]">
    {% render 'image', class: "mb:!er-object-contain mb:!er-object-top", src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25301_2x_63ffbde5-3bbc-495d-8bc5-9abfa5673b89.jpg?v=1737344611", mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25312_2x_0997090c-de9d-411d-b4d8-9bbfd31c7354.jpg?v=1737354790" %}
        <div
            class="er-max-w-screen-xl er-mx-auto er-px-12 er-grid er-grid-cols-2 er-items-center er-h-full mb:er-grid-cols-1 mb:er-h-auto er-gap-x-40">
            <span></span>
            <div class="er-flex er-flex-col er-items-start mb:er-pt-12 mb:er-pb-20">
                <h2 class="text-size48 mb:er-text-4xl er-m-0">Tailor Power,<br class="mb:er-hidden">Perfect Ride</h2>
                <p class="text-size18 er-max-w-3xl er-mt-8 er-opacity-80 mb:er-mt-10 mb:er-text-[16px]">
                    <span>
                        Motor power can be customized across different assist levels via the Urtopia app. Adjust the
                        output to suit your riding style, terrain, or energy needs, whether conserving power on easy
                        rides or getting a boost on more challenging routes. Make every ride your own!
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="er-max-w-screen-xl er-mx-auto er-px-12 er-my-56 mb:er-mb-20 mb:er-mt-0 mb:er-pr-0">
        <h2 class="text-size48 mb:er-text-4xl er-m-0">Quality in details</h2>
        <div class="er-mt-10 quality_in_details er-relative er-overflow-x-hidden er-pb-40 mb:er-pb-16" style="--swiper-navigation-size: 27px; --swiper-navigation-color:#fff;">
            <div class="swiper-wrapper">
                {% for item in product.metafields.custom.quality_in_details.value %}
                    {% assign text = item.text | split: "---" %}
                    <div class="swiper-slide er-flex er-flex-col">
                        {{ item.image | image_url: width: 400 |  image_tag: loading: 'lazy' }}
                        <h3 class="text-size20 er-my-6 er-font-bold er-text-3xl">{{ text.first }}</h3>
                        <p class="text-size18 er-opacity-80 mb:er-text-[16px] er-max-w-2xl">
                            <span>{{ text.last }}</span>
                        </p>
                    </div>
                    
                {% endfor %}  
            </div>
            <div class="swiper-scrollbar er-bg-[#386FAF] er-bg-opacity-10 !er-w-full !er-left-0"></div>
            <div class="swiper-button-prev er-bottom-12 er-right-[60px] er-left-auto er-top-auto er-bg-dark er-rounded-full er-p-8 after:er-text-3xl mb:er-hidden er-z-2"></div>
            <div class="swiper-button-next er-bottom-12 er-right-0 er-left-auto er-top-auto er-bg-dark er-rounded-full er-p-8 after:er-text-3xl mb:er-hidden er-z-2"></div>
        </div>
    </div>
    <div class="background-image er-aspect-[1920/750] mb:er-aspect-auto">
    <video class="lozad mb:!er-static" playsinline loop autoplay muted>
        <source data-src="https://cdn.shopify.com/videos/c/o/v/8e67d805b7344ba390c2d190d39f8744.mp4" type="video/mp4" media="(min-width: 768px)">
        <source data-src="https://cdn.shopify.com/videos/c/o/v/0d5c3350c7f64274891910b7192438ee.mp4" type="video/mp4" media="(max-width: 767px)">
      </video>
        <div
            class="er-max-w-screen-xl er-mx-auto er-px-12 er-grid er-grid-cols-2 er-items-center er-h-full mb:er-grid-cols-1 mb:er-h-auto er-gap-x-40">
            <div class="er-flex er-flex-col er-items-start mb:er-pt-12 mb:er-pb-20">
                <h2 class="text-size48 mb:er-text-4xl er-m-0">Superbike, <br class="mb:er-hidden">Superpower</h2>
                <p class="text-size18 er-max-w-3xl er-mt-8 er-opacity-80 mb:er-mt-10 mb:er-text-[16px]">
                    <span>
                        The Urtopia Smartbar combines 4G connectivity, GPS tracking, anti-theft alerts, and on-board
                        navigation in one sleek package. Stay connected with real-time updates, follow turn-by-turn
                        directions without your phone, and enjoy peace of mind with anti-theft security. Ride with a
                        third eye!
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="background-image er-aspect-[1920/750] mb:er-aspect-auto mb:er-pt-[80vw]">
    {% render 'image', class: "mb:!er-object-contain mb:!er-object-top", src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25033_2x_8f1d0ecb-fbf9-4354-8401-7c6b2a3ed1c2.jpg?v=1737344807", mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25313_2x_631f8215-0b59-48ec-89b9-27c1e01d7519.jpg?v=1737354902" %}
        <div
            class="er-max-w-screen-xl er-mx-auto er-px-12 er-grid er-grid-cols-2 er-items-center er-h-full mb:er-grid-cols-1 mb:er-h-auto er-gap-x-40">
            <span></span>
            <div class="er-flex er-flex-col er-items-start mb:er-pt-12 mb:er-pb-20">
                <h2 class="text-size48 mb:er-text-4xl er-m-0">All-Terrain, All Fun</h2>
                <p class="text-size18 er-max-w-3xl er-mt-8 er-opacity-80 mb:er-mt-10 mb:er-text-[16px]">
                    <span>
                        Engineered for diverse riding conditions, the Carbon 1 ST offers a smooth ride with its
                        shock-absorbing full carbon fiber frame. Kenda 700 x 40C (max. 45C) gravel tires allow for
                        reliable traction on city streets, gravel paths, and light trails. For the urban explorer and
                        trail adventurer, ready to tackle it all!
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="background-image er-aspect-[1920/750] mb:er-aspect-auto">
        <video class="lozad mb:!er-static" playsinline loop autoplay muted>
        <source data-src="https://cdn.shopify.com/videos/c/o/v/094f0d92cee44a19900f09740b0ae88a.mp4" type="video/mp4" media="(min-width: 768px)">
        <source data-src="https://cdn.shopify.com/videos/c/o/v/e00d5f7e3bf84a4e8563520e2d2a08be.mp4" type="video/mp4" media="(max-width: 767px)">
      </video>
        <div
            class="er-max-w-screen-xl er-mx-auto er-px-12 er-grid er-grid-cols-2 er-items-center er-h-full mb:er-grid-cols-1 mb:er-h-auto er-gap-x-40">
            <div class="er-flex er-flex-col er-items-start mb:er-pt-12 mb:er-pb-20">
                <h2 class="text-size48 mb:er-text-4xl er-m-0">Gear Up, Go Far</h2>
                <p class="text-size18 er-max-w-3xl er-mt-8 er-opacity-80 mb:er-mt-10 mb:er-text-[16px]">
                    <span>
                        Equipped with a 15kg rear rack and a travel-specific front fork with luggage mounts, the Carbon
                        1 ST electric bike is ready for extended trips. Four additional mounting points on the frame
                        offer versatile storage options, making it the ideal choice for long-haul cycling. Pack up and
                        hit the road!
                    </span>
                </p>
            </div>
        </div>
    </div>
    {% render 'size-guide-and-specs-template', config: 'carbonst_order_page_config' %}
    <script type="module">
        $(function() {
          new Swiper('.professional .centeral-content', {
              slidesPerView: global_config.is_mobile ? 1.25 : 3.5,
              preloadImages: false,
              spaceBetween: 20,
              navigation: {
              nextEl: '.professional .centeral-content .swiper-button-next',
              prevEl: '.professional .centeral-content .swiper-button-prev',
            },
              scrollbar: {
                el: '.professional .centeral-content .swiper-scrollbar',
                draggable: true,
              },
          });
          
            task(() => {
              new Swiper('.quality_in_details', {
                  slidesPerView: global_config.is_mobile ? 1.25 : 3,
                  spaceBetween: global_config.is_mobile ? 16 : 32,
                  preloadImages: false,
                  navigation: {
                      nextEl: '.quality_in_details .swiper-button-next',
                      prevEl: '.quality_in_details .swiper-button-prev',
                  },
                  scrollbar: {
                      el: '.quality_in_details .swiper-scrollbar',
                      draggable: true
                  },
              });
            })
        })

        window.addEventListener('load', function () {
            const img = $(`<img class="er-absolute er-top-0 er-z-[2] er-transition er-opacity-100 mb:er-max-w-20 md:er-right-0 mb:er-left-0" width="70" height="104" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250211-151856.png?v=1739258383&width=100" alt="{{ product.title }}"/>`)
            $(".product-panel-swiper .swiper-wrapper").before(img)

            window.product_panel_swiper.on('slideChange', function () {
                img.css('opacity', this.realIndex > 0 ? 0 : 1)
            })
        })
    </script>
  <div class="centeral-content er-px-6 judgemeeeeee"></div>
