{{ 'carbon-fold-product.scss.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'outlet_v4.scss.css' | asset_url | stylesheet_tag: preload: true }}
<style>
  fieldset[option=Color] label[data-style="Glacier Blue"] {
    --product-option-color: #9ec0d1;
  }

   h1, h2, h3, h4 {
    color: inherit;
    margin: 0;
    display: block;
  }

  .TakeItEasywithFold1 .centeral-content .items>div{
    aspect-ratio:unset;
  }
</style>

{% render 'product-panel', swiper_insert_index: 1, product_send_accessories_price: 29600 %}
<section
    class="er-bg-black er-text-white er-aspect-[1920/750] mb:er-aspect-auto background-image mb:er-bg-background mb:er-text-black" style="transform: translateY(1px);">
    {% comment %} <video playsinline loop autoplay muted class="mb:!er-object-contain mb:!er-object-top lozad">
        <source data-src="https://cdn.shopify.com/videos/c/o/v/2192d207d530441083a769948acab14e.mp4" type="video/mp4"
            media="(min-width: 768px)">
        <source data-src="https://cdn.shopify.com/videos/c/o/v/ccdfb0748622447aa60449096665fb67.mp4" type="video/mp4"
            media="(max-width: 767px)">
      </video> {% endcomment %}
      <picture>
            <source media="(min-width: 768px)"
                srcset="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26555_2x_4ae2c73a-ce6a-4589-b158-215174f36dce.jpg?v=1762913945">
            <source media="(max-width: 768px)"
                srcset="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSC06723_copy_2x_0f96bdb1-b301-4df0-b920-71fda9e6a115.jpg?v=1762913939">
            <img src="" alt="" class="mb:!er-object-contain mb:!er-object-top" loading="lazy">
      </picture>
    <div
        class="centeral-content er-h-full er-flex er-flex-col er-justify-center er-items-start er-text-left mb:er-pb-16 mb:er-px-6">
        <div class="md:er-hidden er-aspect-[16/15] er-w-full"></div>
        <h2 class="text-size36 mb:er-text-4xl">The Carbon Lightest<br>Foldable Electric Bike</h2>
        <p class="text-size18 er-max-w-3xl er-mt-10 er-mb-28 mb:er-text-2xl mb:er-mb-4 mb:er-mt-8">
            <span>Lightweight, easy to ride, and sleek, Carbon Fold ST Electric Mini Bike embodies these qualities. With premium Carbon Fiber and Urtopia's design, it continues the legacy chosen by hundreds of thousands of Urtopians.</span>
        </p>
        <a
            href="https://www.youtube.com/watch?v=LGb0W-i5Dqo" target="_blank"
            class="er-button er-button-white er-mt-12 mb:er-m-0 mb:[--er-btn-bg-color:theme(colors.dark)] mb:[--er-btn-text-color:theme(colors.white)] mb:er-text-white" style="display: none;">Watch
            video
            <svg class="er-scale-150 er-translate-x-1/3 er-fill-dark mb:er-fill-white"
                xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20">
                <path
                    d="m380-300 280-180-280-180v360ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z" />
            </svg></a>
    </div>
</section>
 <section
        class="er-aspect-[1920/750] mb:er-aspect-auto background-image er-text-white mb:er-text-black mb:er-bg-background">
        {% render 'image', class: "mb:!er-object-contain mb:!er-object-top", mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSC06349_copy_2x_fe3839b8-9d21-4c24-af99-29a92ebd8701.jpg?v=1762914171", src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26554_2x_66593df9-aa31-4f7f-9bd4-e9cda33457bd.jpg?v=1762914167" %}
        <div class="centeral-content er-h-full mb:er-px-6 er-flex er-gap-x-28 mb:er-flex-col">
            <div class="er-aspect-square er-w-1/2 mb:er-w-full mb:er-aspect-[16/15]"></div>
            <div class="er-flex er-flex-col er-justify-center er-items-start er-text-left">
                <h2 class="text-size48 mb:er-text-4xl mb:er-leading-snug">Step In, Lower Than Ever</h2>
                <p class="text-size18 er-max-w-3xl er-mt-10 mb:er-text-2xl mb:er-mt-8">
                    <span>
                        With the industry’s lowest step-through, the Fold ST makes getting on and off effortless for riders of almost all heights — combining easy access with sleek carbon style.
                    </span>
                </p>
            </div>
        </div>
    </section>
<section class="er-bg-background er-py-56 mb:er-pt-20 mb:er-pb-20">
  <div class="centeral-content er-flex er-flex-col er-items-center er-text-center er-justify-center mb:er-px-6">
    {% render 'image', mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26561_2x_63bf4f97-cfb5-40a0-97b2-53b86c7e9778.png?v=1763101948", src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26558_2x_cffa2e02-7a84-4f8c-8ba6-70c0839e9db0.png?v=1763101953", width: 1100 %}
    <h2 class="text-size36 er-mb-16 er-mt-52 mb:er-mt-20 mb:er-mb-12 mb:er-text-4xl">Why Carbon Fiber Is Worth It?</h2>
    {% render 'image', mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20251112-112717.png?v=1762918049", src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26502_2x_8f389c93-3b3e-4d74-9e82-b000a1d09833.png?v=1762914670", width: 750 %}
  </div>
</section>
<section class="er-pb-56 mb:er-py-20">
        <div class="quality TakeItEasywithFold1">
        <div class="centeral-content mb:er-px-6">
            <h2 class="text-size36 mb:er-text-4xl mb:er-leading-snug er-mb-3 mb:er-mb-0">Fold it. Stow it. Ride anywhere.</h2>
            <div class="items swiper-wrapper er-mt-16 mb:er-mt-8">
            <div class="swiper-slide er-rounded-2xl er-overflow-hidden">
                <img
                loading="lazy" width="551" height="400" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSC06817_copy_2x_664dcf85-b490-488b-9b26-974872376069.jpg?v=1762917988&width=700"
                alt="{{ page_description }}"
                >
            </div>
            <div class="swiper-slide er-rounded-2xl er-overflow-hidden">
                <img
                loading="lazy" width="551" height="400" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSC06588_copy_2x_27c0896d-36eb-47b0-9b70-d0983d9aff07.jpg?v=1762917994&width=700"
                alt="{{ page_description }}"
                >
            </div>
             <div class="swiper-slide er-rounded-2xl er-overflow-hidden">
                <img
                loading="lazy" width="551" height="400" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSC06614_copy_2x_f5ad056e-abe6-4d61-b664-0f18473ba52d.jpg?v=1762917999&width=700"
                alt="{{ page_description }}"
                >
            </div>
            <div class="swiper-slide er-rounded-2xl er-overflow-hidden">
                <img loading="lazy" width="551" height="400" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSC06983_horizontal_2x_ea4f951b-ffba-4a4e-8459-03e293b4bd4a.jpg?v=1762918026&width=700" alt="{{ page_description }}">
            </div>
            <div class="swiper-slide er-rounded-2xl er-overflow-hidden">
                <img
                loading="lazy" width="551" height="400" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSC07025_copy_2x_0f470a23-bd5b-44e7-bef8-276100c54a05.jpg?v=1762918016&width=700"
                alt="{{ page_description }}"
                >
            </div>
            <div class="swiper-slide er-rounded-2xl er-overflow-hidden">
                <img
                loading="lazy" width="551" height="400" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSC06828_2x_da44aa95-1a99-42f8-a70a-6b51155eb9be.jpg?v=1762918010&width=700"
                alt="{{ page_description }}"
                >
            </div>
            <div class="swiper-slide er-rounded-2xl er-overflow-hidden">
                <img
                loading="lazy" width="551" height="400" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSC06803_copy_2x_a4576edc-d6b2-48b2-9c98-928e557a399e.jpg?v=1762918004&width=700"
                alt="{{ page_description }}"
                >
            </div> 
            </div>
            <div class="swiper-scrollbar"></div>
            <div class="buttons mobileHide">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            </div>
        </div>
        </div>
    </section>
  <section class="er-bg-background er-py-48 mb:er-py-20">
  <div class="centeral-content mb:er-px-6">
        <h2 class="text-size36 mb:er-text-4xl er-m-0">Quality in details</h2>
        <div class="er-mt-10 quality_in_details er-relative er-overflow-x-hidden er-pb-40 mb:er-pb-16" style="--swiper-navigation-size: 27px; --swiper-navigation-color:#fff;">
            <div class="swiper-wrapper">
                {% for item in product.metafields.custom.quality_in_details.value %}
                    {% assign text = item.text | split: "---" %}
                    <div class="swiper-slide er-flex er-flex-col">
                        {{ item.image | image_url: width: 500 |  image_tag: loading: 'lazy', class: "er-rounded-3xl" }}
                        <h3 class="text-size20 er-my-6 er-font-bold er-text-3xl">{{ text.first }}</h3>
                        <p class="text-size18 er-opacity-80 mb:er-text-[16px] er-max-w-2xl">
                            <span>{{ text.last }}</span>
                        </p>
                    </div>
                    
                {% endfor %}  
            </div>
            <div class="swiper-scrollbar er-bg-[#386FAF] er-bg-opacity-10 !er-w-full !er-left-0"></div>
            <div class="swiper-button-prev er-bottom-12 er-right-[60px] er-left-auto er-top-auto er-bg-dark er-rounded-full er-p-8 after:er-text-3xl mb:er-hidden er-z-2 er-box-border"></div>
            <div class="swiper-button-next er-bottom-12 er-right-0 er-left-auto er-top-auto er-bg-dark er-rounded-full er-p-8 after:er-text-3xl mb:er-hidden er-z-2 er-box-border"></div>
        </div>
    </div>
</section>
<section class="er-aspect-[1920/750] mb:er-aspect-auto background-image er-bg-background">
        <video playsinline loop autoplay muted class="mb:!er-object-contain mb:!er-object-top lozad">
            <source data-src="https://cdn.shopify.com/videos/c/o/v/84996fbe3700470f9fdb43c3c8fde809.mp4" type="video/mp4"
                media="(min-width: 768px)">
            <source data-src="https://cdn.shopify.com/videos/c/o/v/19c1757bcc854f21b9f13295b07a2be8.mp4" type="video/mp4"
                media="(max-width: 767px)">
        </video>
        <div
            class="centeral-content er-h-full er-flex er-flex-col er-justify-center er-items-start er-text-left mb:er-pb-20 mb:er-px-6">
            <div class="md:er-hidden er-aspect-[16/15] er-w-full"></div>
            <h2 class="text-size36 mb:er-text-4xl mb:er-leading-snug">A bike, cargo, and more!</h2>
            <p class="text-size18 er-max-w-3xl er-mt-10 mb:er-text-2xl">
                <span>This versatile lightest foldable electric bike meets all your needs, with accessories for kids, cargo, pets, and leisure. Whether commuting, running errands, or exploring, it effortlessly adapts to your lifestyle, offering convenience and endless possibilities.</span>
            </p>
        </div>
    </section>
        <section class="er-bg-background md:er-pt-56">
      <div class="centeral-content mb:er-px-6">
        <div class="er-grid er-grid-cols-2 mb:er-grid-cols-1">
          <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2025-10-18_16.38.01_2x_effe36e7-762b-4328-bf21-56a95bd3a73a.jpg?v=1761553347" loading="lazy" alt="">
          <div class="er-bg-white er-flex er-flex-col er-justify-center er-px-28 mb:er-px-6 mb:er-py-12">
            <h3 class="text-size36 mb:er-text-4xl">It’s Time to Give It a Spin!</h3>
            <p class="text-size18 er-mt-12 er-mb-20 mb:er-text-2xl mb:er-my-8">
              <span>
                Experience the ride in person — with over {{ settings.shop_count }} service partners across the U.S., you can enjoy a professional test ride and discover the Urtopia difference for yourself.
              </span>
            </p>
            <a class="er-button er-button-dark" href="https://newurtopia.com/pages/find-a-dealer">Test ride</a>
          </div>
          <div class="er-bg-white er-flex er-flex-col er-justify-center er-px-28 mb:er-px-6 mb:er-py-12 mb:er-order-1">
            <h3 class="text-size36 mb:er-text-4xl">Local Care, Anytime</h3>
            <div class="text-size18 er-my-12 mb:er-text-2xl mb:er-my-8">
              <div>Enjoy complete peace of mind with Urtopia’s trusted service network:</div>
              <ul class="er-p-0 er-list-none er-space-y-10 mb:er-space-y-8">
                <li class="marker:er-hidden er-flex er-items-center">
                  <img class="er-block er-mr-6" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26153.svg?v=1761559856" loading="lazy" alt="">
                  <span>2-year warranty on all e-bikes</span>
                </li>
               <li class="marker:er-hidden er-flex er-items-center">
                  <img class="er-block er-mr-6" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26152.svg?v=1761559856" loading="lazy" alt="">
                  <span>24-hour service response via our in-app support portal</span>
                </li>
                <li class="marker:er-hidden er-flex er-items-center">
                  <img class="er-block er-mr-6" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26154.svg?v=1761559856" loading="lazy" alt="">
                  <span>Spare parts available locally, shipping within 3 days</span>
                </li>
                <li class="marker:er-hidden er-flex er-items-center">
                  <img class="er-block er-mr-6" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/76863.svg?v=1761559856" loading="lazy" alt="">
                  <span>10+ technical experts with a 99% satisfaction rate</span>
                </li>
              </ul>
            </div>
            <a class="er-button er-button-dark" href="https://newurtopia.com/pages/care">Learn more</a>
          </div>
          <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSC00386_1_2x_a0c03d87-7030-4065-aa68-9be927e0d927.jpg?v=1761553352" loading="lazy" alt="">
        </div>
      </div>
    </section>
    <div class="faq er-bg-background er-py-48 mb:er-py-20">
        <div class="centeral-content">
          <h2 class="u36Medium_v2">FAQs</h2>
          <div class="items">
            <div class="item">
              <h3 class="u24Medium_v2 text-size24">
                <img loading="lazy" width="25" height="16" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Untitled-1.svg?v=1738911832" alt="{{ page_title }}">
                1. Can the Carbon Fold ST Electric Mini Bike be ridden in the rain?
              </h3>
              <p class="u17Light_v2 text-size18">
                <span>Yes. The Carbon Fold ST features an IP65 water-resistance rating, meaning it can handle light rain and splashes. However, it’s not completely waterproof. Avoid riding in heavy rain or through deep puddles to prevent water damage. After riding in wet conditions, wipe the bike dry—especially around the battery, display, and charging port—and let it fully air-dry before charging.</span>
            </p>
            </div>
            <div class="item">
              <h3 class="u24Medium_v2 text-size24">
                <img loading="lazy" width="25" height="16" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Untitled-1.svg?v=1738911832" alt="{{ page_title }}">
                2. Is it easy to carry a Carbon Fold ST light foldable electric bike upstairs or on public transport?
              </h3>
              <p class="u17Light_v2 text-size18">
                <span>Yes. The Carbon Fold ST is designed as the lightest foldable electric bike, making it easy to fold and carry. Its lightweight frame and compact design allow you to bring it upstairs, store it in small spaces, or take it on public transport without hassle.</span>
              </p>
            </div>
            <div class="item">
              <h3 class="u24Medium_v2 text-size24">
                <img loading="lazy" width="25" height="16" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Untitled-1.svg?v=1738911832" alt="{{ page_title }}">
                3. Are Carbon Fold ST Electric Mini Bikes for sale suitable for long-distance commuting?
              </h3>
              <p class="u17Light_v2 text-size18">
                <span>
                    Absolutely. With a powerful motor and efficient battery, Carbon Fold ST models are suitable for extended rides. They provide comfort and reliability for <a class="my-link" target="_blank" href="/blogs/blog/best-electric-bikes-for-commuting">daily commuting</a> or city trips, making these electric mini bikes a practical option for longer distances.
                </span>
              </p>
            </div>
            <div class="item">
              <h3 class="u24Medium_v2 text-size24">
                <img loading="lazy" width="25" height="16" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Untitled-1.svg?v=1738911832" alt="{{ page_title }}">
               4. What type of motor power is a fast foldable electric bike?
              </h3>
              <p class="u17Light_v2 text-size18">
                <span>Fast foldable electric bikes are equipped with high-performance motors, typically ranging from 250W to 500W, providing smooth acceleration and higher speeds for urban or light off-road rides. For example, the Carbon Fold ST E-Bike features a 500W motor, combining portability and high performance, making it ideal for daily use.</span>
              </p>
            </div>
          </div>
        </div>
      </div>
{% render 'size-guide-and-specs-template' %}
<div class="centeral-content er-px-6 judgemeeeeee">{% include "judgeme_widgets", widget_type: "judgeme_review_widget", concierge_install: false %}</div>
<script type="module">
  task(() => {
        new Swiper('.TakeItEasywithFold1 .centeral-content', {
            slidesPerView: global_config.is_mobile ? 1.25 : 3,
            spaceBetween: global_config.is_mobile ? 16 : 32,
            preloadImages: false,
            navigation: {
              nextEl: '.TakeItEasywithFold1 .centeral-content .swiper-button-next',
              prevEl: '.TakeItEasywithFold1 .centeral-content .swiper-button-prev',
            },
            scrollbar: {
              el: '.TakeItEasywithFold1 .centeral-content .swiper-scrollbar',
              draggable: true
            },
          });
      })

      task(() => {
              new Swiper('.quality_in_details', {
                  slidesPerView: global_config.is_mobile ? 1.25 : 3,
                  spaceBetween: global_config.is_mobile ? 16 : 32,
                  preloadImages: false,
                  navigation: {
                      nextEl: '.quality_in_details .swiper-button-next',
                      prevEl: '.quality_in_details .swiper-button-prev',
                  },
                  scrollbar: {
                      el: '.quality_in_details .swiper-scrollbar',
                      draggable: true
                  },
              });
    })

    task(() => {
            $('.faq .items .item .u24Medium_v2').click(function () {
            $(this).siblings('.u17Light_v2').slideToggle().parent().siblings().find('.u17Light_v2').slideUp();

            if ($(this).parent().hasClass('active')) {
              $(this).parent().removeClass('active');
            } else {
              $(this).parent().addClass('active');
            }

            $(this).parent().siblings().removeClass('active');
          });
          })

          window.addEventListener('load', function () {
            const img = $(`<img class="er-absolute er-top-0 er-z-[2] er-transition er-opacity-100 mb:er-max-w-20 md:er-right-0 mb:er-left-0" width="70" height="104" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250211-151856.png?v=1739258383&width=100" alt="{{ product.title }}"/>`);
            $(".product-panel-swiper .swiper-wrapper").before(img);

            window.product_panel_swiper.on('slideChange', function () {
                img.css('opacity', this.realIndex > 0 ? 0 : 1);
            })
        })
</script>